Repository iree-org/iree, pull requests merged in 2020-12, with the labels that each got.

#4008 Enable fusion of operations like Matmul with its consumer elemetwise-operations
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.cpp
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/LaunchConfig.cpp
  iree/compiler/Conversion/Common/LaunchConfig.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.h
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/IdentifyDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/test/identify_dispatch_regions2_enable_matmul_fusion.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/regression/matmul_add.mlir
Labels: cla: yes

#4038 Allow fusing batch_matmul and fill
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
Labels: cla: yes

#3959 Remove input shape hack from kws tests
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
  integrations/tensorflow/e2e/keras/layers/layers_test.py
Labels: cla: yes, integrations, integrations/tensorflow

#3990 [spirv] Add a better tiled and vectorized convolution path
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.cpp
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToVector/BUILD
  iree/compiler/Conversion/LinalgToVector/CMakeLists.txt
  iree/compiler/Conversion/LinalgToVector/Passes.h
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/vectorized_conv.mlir
Labels: cla: yes

#3958 Add new tf.keras.applications models
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/applications_test.py
  integrations/tensorflow/e2e/keras/applications/train_vision_models_on_cifar.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  scripts/get_e2e_artifacts.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integrations, integrations/tensorflow

#3852 Add scripts to compile and benchmark modules.
  build_tools/mako/benchmark_modules_on_android.sh
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes

#4050 Fix compile and benchmark scripts for benchmarking automation.
  build_tools/mako/benchmark_modules_on_android.sh
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes

#4034 Auto discover unix linker path and setup Android NDK linker
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/UnixLinkerTool.cpp
Labels: cla: yes

#3969 Adds -iree-tf-strip-*-metadata passes that remove tf attributes.
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/register_tensorflow.cc
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/test/saved_model_adopt_exports.py
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/ConvertToMHLO.cpp
  integrations/tensorflow/compiler/LowerExportedFunctions.cpp
  integrations/tensorflow/compiler/LowerGlobalTensors.cpp
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/Passes.h
  integrations/tensorflow/compiler/PropagateResourceCasts.cpp
  integrations/tensorflow/compiler/StripMetadata.cpp
  integrations/tensorflow/compiler/VerifyFullyConverted.cpp
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/BUILD
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_flow_to_hal.h
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.cc
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.h
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/test/tf_to_tf_strings.mlir
  integrations/tensorflow/compiler/dialect/tf_strings/ir/BUILD
  integrations/tensorflow/compiler/dialect/tf_strings/ir/dialect.cpp
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_flow_to_hal.h
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.cc
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.h
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.td
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/test/convert_tf_to_tf_tensorlist.mlir
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_base.td
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_dialect.cc
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_dialect.h
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_ops.td
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_types.h
  integrations/tensorflow/compiler/iree-tf-opt-main.cc
  integrations/tensorflow/compiler/test/convert_to_mhlo.mlir
  integrations/tensorflow/compiler/test/lower_global_tensors.mlir
  integrations/tensorflow/compiler/test/lower_global_tensors_complex.mlir
  integrations/tensorflow/compiler/test/lower_global_tensors_invalid.mlir
  integrations/tensorflow/compiler/test/propagate_resource_casts.mlir
  integrations/tensorflow/compiler/test/strip_metadata.mlir
  integrations/tensorflow/compiler/test/verify_fully_converted.mlir
  iree/samples/models/mnist.mlir
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/resnet_fake_weights.mlir
Labels: cla: yes, integrations/tensorflow, quality of life 😊

#3851 Add Mako related files to build_tools/mako/config/
  build_tools/mako/config/README.md
  build_tools/mako/config/mobile-bert.config
  build_tools/mako/config/project.config
Labels: cla: yes

#4053 Set repetitions of benchmark to 10.
  build_tools/mako/benchmark_modules_on_android.sh
Labels: cla: yes

#4040 Modify Dispatch region creation to only fuse Matmuls with compatible ops.
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.h
  iree/compiler/Dialect/Flow/Transforms/test/identify_dispatch_regions2_enable_matmul_fusion.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/regression/matmul_add.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/matmul_add.mlir
Labels: cla: yes

#4055 Fix printf format for uint64_t from PRIXPTR to PRIu64.
  iree/hal/dylib/registration/driver_module.cc
  iree/hal/llvmjit/registration/driver_module.cc
  iree/hal/metal/registration/driver_module.cc
  iree/hal/vmla/registration/driver_module.cc
  iree/hal/vulkan/registration/driver_module.cc
Labels: cla: yes, runtime

#4028 Introduce hal.interface.tensor.load/store.tile
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.h
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
Labels: cla: yes

#4047 Pin all docker images to digests
  WORKSPACE
  build_tools/docker/README.md
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/manage_prod.py
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/docker/util/Dockerfile
  build_tools/docker/vulkan/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4059 Update swiftshader to 84f5eeb6dd9b
  WORKSPACE
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
Labels: cla: yes

#4070 add ccache doc
  docs/developing_iree/ccache.md
Labels: cla: yes

#4068 Extract standalone "iree-tf-import" tool.
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/test/saved_model_adopt_exports.py
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/ConvertToMHLO.cpp
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/Passes.h
  integrations/tensorflow/compiler/README.md
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/BUILD
  integrations/tensorflow/compiler/dialect/tf_strings/ir/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/BUILD
  integrations/tensorflow/compiler/iree-tf-import-main.cc
Labels: cla: yes

#4066 Enable newly-passing integrations/tensorflow tests
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/reduce_test.py
Labels: cla: yes, integrations/tensorflow

#4081 Add a pass to rewrite destructive update patterns involving Linalg on…
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_rewrite_destructive_updates.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#4080 Sketch an experimental Linalg on tensors LLVM compiler
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Utils/BUILD
  iree/compiler/Dialect/Flow/Utils/CMakeLists.txt
  iree/compiler/Dialect/Flow/Utils/DispatchUtils.cpp
Labels: cla: yes

#4087 Increase fidelity in ccache stat-monitoring example
  docs/developing_iree/ccache.md
Labels: cla: yes, documentation ✏️

#4086 Add workflow_dispatch trigger to update submodules action.
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes, infrastructure 🛠️

#4067 Add a doc page on using Address/Memory/Thread sanitizers
  docs/developing_iree/ccache.md
  docs/developing_iree/sanitizers.md
  scripts/android_symbolize.sh
Labels: cla: yes, documentation ✏️

#4060 start an overhaul of profiling docs
  docs/developing_iree/profiling.md
  docs/developing_iree/profiling_cpu_events.md
  docs/developing_iree/profiling_vulkan_gpu.md
  docs/developing_iree/profiling_with_tracy.md
  scripts/android_tracy_tutorial.sh
  scripts/prepare_doc_publication.py
Labels: cla: yes, documentation ✏️

#4099 Step 2/n: Implementing new compiler python API.
  bindings/python/pyiree/compiler2/README.md
  bindings/python/pyiree/compiler2/__init__.py
  bindings/python/pyiree/compiler2/core.py
  bindings/python/pyiree/compiler2/tf.py
  bindings/python/pyiree/compiler2/tools.py
  bindings/python/tests/README.md
  bindings/python/tests/compiler_core_test.py
  bindings/python/tests/compiler_tf_test.py
Labels: cla: yes

#4101 Fix ModelBuilder CMake build
  experimental/ModelBuilder/test/CMakeLists.txt
Labels: cla: yes

#4037 Add f16 support in VM constant encoder
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
Labels: cla: yes

#4093 Enable vectorization and unrolling of elementwise ops and remove dead alloc
  iree/compiler/Conversion/Common/VectorTransferOptimization.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/dead_alloc.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
Labels: cla: yes

#4110 Remove explicitly setting IREE_LLVMAOT_LINKER_PATH in build scripts
  build_tools/docker/base/Dockerfile
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes, codegen/llvm, infrastructure 🛠️

#4118 Revert "Remove explicitly setting IREE_LLVMAOT_LINKER_PATH in build scripts"
  build_tools/docker/base/Dockerfile
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes

#4074 Step 0 for using Linalg on tensors for dispatch region creation.
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensorPasses.h
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Conversion/HLOToLinalg/Passes.h
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/IdentifyDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/RematerializeDispatchConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/test/identify_dispatch_regions2_linalg.mlir
  iree/compiler/Dialect/Flow/Transforms/test/rematerialize_dispatch_constants.mlir
  iree/compiler/Dialect/Flow/Utils/DispatchUtils.cpp
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
Labels: cla: yes

#4114 Fix type check on ShapeToShapex Broadcast Conversion
  iree/compiler/Dialect/Shape/Conversion/ConvertShapeToShapex.cpp
Labels: cla: yes

#4116 Update cmake-android docker image
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4105 Add a primitive Linalg TileAndDistributeOnTensors pass.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributeOnTensorsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute_on_tensors.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#4129 Enable tf.is_nan test with static shapes
  integrations/tensorflow/e2e/math/BUILD
Labels: cla: yes, integrations/tensorflow

#4092 Check in generated VM opcode table
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch_util.h
  iree/vm/generated/.clang-format
  iree/vm/generated/bytecode_op_table.h
Labels: cla: yes

#4125 Merge main -> google
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/third_party/pffft/BUILD.overlay
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/fft_test.py
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributeOnTensorsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute_on_tensors.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Shape/Conversion/ConvertShapeToShapex.cpp
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_fft.h
  iree/hal/vmla/op_kernels_generic.h
Labels: cla: yes

#4134 Use recommended python3.6 APIs and document 3.7 upgrades
  bindings/python/build_tools/python/generate_build.py
  bindings/python/pyiree/compiler2/core.py
  bindings/python/pyiree/compiler2/tf.py
  bindings/python/pyiree/compiler2/tools.py
  bindings/python/pyiree/rt/system_api.py
  bindings/python/setup.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/docker/utils.py
  build_tools/manylinux_py_setup.py
  colab/start_colab_kernel.py
  configure_bazel.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/trace_utils.py
  scripts/get_e2e_artifacts.py
  scripts/git/submodule_versions.py
  scripts/git/update_to_llvm_syncpoint.py
  scripts/git/utils.py
  scripts/update_e2e_coverage.py
  scripts/update_op_coverage.py
  scripts/utils.py
Labels: bindings/python, cla: yes, infrastructure 🛠️, integrations/tensorflow

#4135 Freeze TF Coverage Tables
  build_tools/cmake/build_docs.sh
  docs/tensorflow_coverage/language_and_speech_coverage.md
  docs/tensorflow_coverage/tf_base_coverage.md
  docs/tensorflow_coverage/tf_keras_coverage.md
  docs/tensorflow_coverage/vision_coverage.md
  scripts/update_e2e_coverage.py
Labels: cla: yes, documentation ✏️, integrations/tensorflow

#4107 Let Linalg on tensor ops pass LegalizeInputTypes
  iree/compiler/Dialect/Flow/Transforms/LegalizeInputTypes.cpp
  iree/compiler/Dialect/Flow/Transforms/test/legalize_input_types.mlir
Labels: cla: yes

#4147 Fix ImGui function in iree-run-module-vulkan-gui-main.
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
Labels: cla: yes

#4148 Fix types for std::min on MSVC.
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributeOnTensorsPass.cpp
Labels: cla: yes

#4137 Check in BuildKite pipeline for android tests
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#4150 Fix missing f-string
  bindings/python/pyiree/rt/system_api.py
Labels: bindings/python, cla: yes

#4113 Refactor and normalization of mhlo convolutions
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes, compiler

#3928 Enable dylib-llvm-aot tests and switch from testing JIT to AOT.
  CMakeLists.txt
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_core.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/build_docs.sh
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/test.sh
  colab/edge_detection.ipynb
  colab/mnist_tensorflow.ipynb
  colab/resnet.ipynb
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/hal/dylib/dylib_executable.cc
  iree/test/e2e/hackability/flow_partitioned.mlir
  iree/test/e2e/llvm_specific/BUILD
  iree/test/e2e/llvm_specific/CMakeLists.txt
  iree/test/e2e/llvm_specific/conv.mlir
  iree/test/e2e/llvm_specific/exponential.mlir
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/resnet_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/regression/scalar.mlir
  iree/test/e2e/regression/unused_args.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/CMakeLists.txt
  iree/tools/test/simple.mlir
  scripts/update_op_coverage.py
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake, integrations

#4153 Add build instructions to python getting started
  docs/get_started/getting_started_python.md
Labels: bindings/python, cla: yes, documentation ✏️, integrations/tensorflow

#4126 Write the doc page on profiling cpu events
  docs/developing_iree/profiling_cpu_events.md
Labels: cla: yes, documentation ✏️

#4117 improve tracy docs
  docs/developing_iree/profiling_with_tracy.md
Labels: cla: yes, documentation ✏️

#4157 Remove all !r from python f-strings
  bindings/python/pyiree/rt/system_api.py
Labels: bindings/python, cla: yes

#4149 Adding hal.interface.workgroup.* ops.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributeOnTensorsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_rewrite_destructive_updates.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute_on_tensors.mlir
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Dialect/HAL/Conversion/IREEToHAL/ConvertIREEToHAL.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/PropagateConstantWorkgroupInfo.cpp
  iree/compiler/Dialect/HAL/Transforms/test/propagate_constant_workgroup_info.mlir
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/hal/dylib/dylib_executable.cc
  iree/hal/host/host_executable.h
  iree/hal/llvmjit/llvmjit_executable.cc
Labels: cla: yes, compiler, enhancement ➕

#4161 Pass pointer of iree_vm_func_t to IREE_DISPATCH_LOG_CALL.
  iree/vm/bytecode_dispatch.c
Labels: cla: yes

#4171 Update TF docs to reflect bazel deprecation
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/e2e/README.md
  scripts/get_e2e_artifacts.py
Labels: cla: yes, documentation ✏️, integrations/tensorflow

#4170 Make TorchIndexSelectOp being able to fuse with consumers.
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/gather_add.mlir
Labels: cla: yes

#4172 Correct root op to be leaf op.
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.h
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
Labels: cla: yes

#4183 Add Kokoro config for integrations tests
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/simulate_kokoro.sh
Labels: cla: yes, infrastructure 🛠️, integrations/tensorflow

#4191 DRAFT: Working on CI
  .github/workflows/build_package.yml
Labels: cla: yes

#4193 Configure the build_package workflow to use clang.
  .github/workflows/build_package.yml
  build_tools/cmake/configure_bazel.cmake
Labels: cla: yes

#4156 Add a primitive Linalg bufferization pass
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_bufferize.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#4187 Fix mis-copied path in kokoro config
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
Labels: cla: yes, infrastructure 🛠️, integrations/tensorflow

#4180 [NFC] Eliminate use of SymbolTable::getSymbolVisibility()
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/VM/Transforms/MarkPublicSymbolsExported.cpp
  iree/compiler/Dialect/VMLA/Transforms/Conversion.cpp
Labels: cla: yes

#4103 Init IREE on RISC-V
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/riscv/riscv_bootstrap.sh
  docs/get_started/getting_started_riscv_cmake.md
  iree/base/target_platform.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
Labels: cla: yes

#4154 Add note on parallel ctesting in testing guide
  docs/developing_iree/testing_guide.md
Labels: cla: yes, documentation ✏️, infrastructure/cmake

#4209 Merge main -> google
  .github/workflows/build_package.yml
  build_tools/cmake/configure_bazel.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/riscv/riscv_bootstrap.sh
  docs/developing_iree/testing_guide.md
  docs/get_started/getting_started_riscv_cmake.md
  iree/base/target_platform.h
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/VM/Transforms/MarkPublicSymbolsExported.cpp
  iree/compiler/Dialect/VMLA/Transforms/Conversion.cpp
Labels: cla: yes

#4197 Implementation of recursive vmla transpose kernel with test.
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/op_kernels_test.cc
Labels: cla: yes, performance ⚡

#4210 Remove all of the multipy stuff.
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/pyiree/common/.skip_bazel_to_cmake
  bindings/python/pyiree/common/CMakeLists.txt
  bindings/python/pyiree/compiler/.skip_bazel_to_cmake
  bindings/python/pyiree/rt/CMakeLists.txt
  bindings/python/pyiree/rt/binding.h
  bindings/python/pyiree/rt/function_abi.cc
  bindings/python/pyiree/rt/function_abi.h
  bindings/python/pyiree/rt/hal.cc
  bindings/python/pyiree/rt/hal.h
  bindings/python/pyiree/rt/host_types.cc
  bindings/python/pyiree/rt/host_types.h
  bindings/python/pyiree/rt/initialize_module.cc
  bindings/python/pyiree/rt/status_utils.cc
  bindings/python/pyiree/rt/status_utils.h
  bindings/python/pyiree/rt/vm.cc
  bindings/python/pyiree/rt/vm.h
  build_tools/cmake/iree_multipy.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/third_party/ruy/CMakeLists.txt
Labels: cla: yes

#4226 Google to main
  bindings/python/BUILD
  bindings/python/build_defs.oss.bzl
  build_tools/bazel/iree_py_test_suite.bzl
  integrations/tensorflow/bindings/python/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.cc
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
  iree/hal/drivers/init.h
Labels: cla: yes

#4229 fix a trivial typo in metal driver
  iree/hal/metal/registration/driver_module.cc
Labels: cla: yes

#4240 Rename MobileNetV3 to MobileNetV3Small in docs
  docs/developing_iree/e2e_benchmarking.md
Labels: cla: yes

#4234 [NFC] Remove unused functions and unneeded dump.
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
Labels: cla: yes

#4152 Delete llvmjit compiler target and HAL backend.
  CMakeLists.txt
  docs/get_started/getting_started_linux_cmake.md
  docs/tensorflow_coverage/language_and_speech_coverage.md
  docs/tensorflow_coverage/tf_base_coverage.md
  docs/tensorflow_coverage/tf_keras_coverage.md
  docs/tensorflow_coverage/vision_coverage.md
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/hal/cts/semaphore_test.cc
  iree/hal/drivers/BUILD
  iree/hal/drivers/CMakeLists.txt
  iree/hal/drivers/init.c
  iree/hal/executable_format.h
  iree/hal/llvmjit/BUILD
  iree/hal/llvmjit/CMakeLists.txt
  iree/hal/llvmjit/llvmjit_device.cc
  iree/hal/llvmjit/llvmjit_device.h
  iree/hal/llvmjit/llvmjit_driver.cc
  iree/hal/llvmjit/llvmjit_driver.h
  iree/hal/llvmjit/llvmjit_executable.cc
  iree/hal/llvmjit/llvmjit_executable.h
  iree/hal/llvmjit/llvmjit_executable_cache.cc
  iree/hal/llvmjit/llvmjit_executable_cache.h
  iree/hal/llvmjit/registration/BUILD
  iree/hal/llvmjit/registration/CMakeLists.txt
  iree/hal/llvmjit/registration/driver_module.cc
  iree/hal/llvmjit/registration/driver_module.h
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/llvmir_executable_def.fbs
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_targets.cc
Labels: cla: yes, codegen/llvm, infrastructure 🛠️, yolo

#4225 Adding flow.dispatch.workgroups op family. Progress on #4140.
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowBase.td
  iree/compiler/Dialect/Flow/IR/FlowDialect.cpp
  iree/compiler/Dialect/Flow/IR/FlowDialect.h
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  iree/compiler/Dialect/Flow/IR/FlowTypes.h
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/types.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CreateBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/FlattenTuplesInCFG.cpp
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/FormStreams.cpp
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/HoistUnstreamableOps.cpp
  iree/compiler/Dialect/Flow/Transforms/IdentifyDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  iree/compiler/Dialect/Flow/Transforms/LegalizeInputTypes.cpp
  iree/compiler/Dialect/Flow/Transforms/MaterializeExportedReflection.cpp
  iree/compiler/Dialect/Flow/Transforms/MergeExportedReflection.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/RematerializeDispatchConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/test/inject_dispatch_tracing.mlir
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions2.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
Labels: cla: yes, compiler

#4249 Some tweaks to Python and e2e benchmarking docs
  docs/developing_iree/e2e_benchmarking.md
  docs/get_started/getting_started_python.md
Labels: cla: yes

#4220 Make cmake-bazel output color for the CI
  build_tools/cmake/bazel.bat.in
  build_tools/cmake/bazel.sh.in
  build_tools/cmake/configure_bazel.cmake
Labels: cla: yes, infrastructure/bazel, infrastructure/cmake

#4269 Strip quotes from target and driver string
  CMakeLists.txt
Labels: cla: yes

#4268 Fix emitc tests
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/add.mlir
  iree/samples/emitc_modules/add.mlir
Labels: cla: yes

#4261 Build iree-tf-opt as part of the cmake build when tests are enabled.
  build_tools/cmake/configure_bazel.cmake
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/iree-tf-opt-main.cpp
  integrations/tensorflow/compiler/test/CMakeLists.txt
  iree/tools/run_lit.sh
Labels: cla: yes

#4277 Merge main -> google
  CMakeLists.txt
  build_tools/cmake/configure_bazel.cmake
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/iree-tf-opt-main.cpp
  integrations/tensorflow/compiler/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/FlattenTuplesInCFG.cpp
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/LegalizeInputTypes.cpp
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/RematerializeDispatchConstants.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/add.mlir
  iree/samples/emitc_modules/add.mlir
  iree/tools/run_lit.sh
Labels: cla: yes

#4242 Upgrade Bazel to 3.7.1
  .bazelversion
  .github/workflows/publish_docs.yml
  WORKSPACE
  build_tools/bazel/bazel_toolchains.patch
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4218 Fix un-SHA'd docker images
  build_tools/docker/bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/bazel-tensorflow/Dockerfile
Labels: cla: yes, infrastructure 🛠️

#4280 Delete obsolete bazel bindings artifacts
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/bazel-tensorflow/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/presubmit.cfg
Labels: cla: yes, infrastructure 🛠️, infrastructure/bazel

#4289 Merge main -> google
  .bazelversion
  .github/workflows/publish_docs.yml
  WORKSPACE
  build_tools/bazel/bazel_toolchains.patch
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/docker/bazel-python/Dockerfile
  build_tools/docker/bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/bazel-tensorflow/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-tensorflow/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4293 Fix link to "Using IREE" page.
  docs/get_started/index.md
Labels: cla: yes, documentation ✏️

#4274 Add missing emitc conversions for vm/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/compare.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.h
  iree/vm/c_funcs.h
Labels: cla: yes

#4295 Make gtest_main include gtest shim
  iree/testing/gtest_main.cc
Labels: cla: yes

#4296 Replace style file with directives to not sort vulkan_headers.h
  .clang-format
  iree/hal/vulkan/api.h
  iree/hal/vulkan/debug_reporter.h
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/direct_command_queue.h
  iree/hal/vulkan/dynamic_symbols.h
  iree/hal/vulkan/emulated_timeline_semaphore.h
  iree/hal/vulkan/extensibility_util.h
  iree/hal/vulkan/handle_util.h
  iree/hal/vulkan/internal_vk_mem_alloc.h
  iree/hal/vulkan/native_descriptor_set.h
  iree/hal/vulkan/native_event.h
  iree/hal/vulkan/native_timeline_semaphore.h
  iree/hal/vulkan/pipeline_cache.h
  iree/hal/vulkan/pipeline_executable.h
  iree/hal/vulkan/pipeline_executable_layout.h
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/status_util.h
  iree/hal/vulkan/timepoint_util.h
  iree/hal/vulkan/vma_allocator.h
  iree/hal/vulkan/vma_buffer.h
  iree/hal/vulkan/vulkan_device.h
  iree/hal/vulkan/vulkan_driver.h
Labels: cla: yes

#4297 Merge main -> google
  .clang-format
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/compare.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.h
  iree/hal/vulkan/api.h
  iree/hal/vulkan/debug_reporter.h
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/direct_command_queue.h
  iree/hal/vulkan/dynamic_symbols.h
  iree/hal/vulkan/emulated_timeline_semaphore.h
  iree/hal/vulkan/extensibility_util.h
  iree/hal/vulkan/handle_util.h
  iree/hal/vulkan/internal_vk_mem_alloc.h
  iree/hal/vulkan/native_descriptor_set.h
  iree/hal/vulkan/native_event.h
  iree/hal/vulkan/native_timeline_semaphore.h
  iree/hal/vulkan/pipeline_cache.h
  iree/hal/vulkan/pipeline_executable.h
  iree/hal/vulkan/pipeline_executable_layout.h
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/status_util.h
  iree/hal/vulkan/timepoint_util.h
  iree/hal/vulkan/vma_allocator.h
  iree/hal/vulkan/vma_buffer.h
  iree/hal/vulkan/vulkan_device.h
  iree/hal/vulkan/vulkan_driver.h
  iree/testing/gtest_main.cc
  iree/vm/c_funcs.h
Labels: cla: yes

#4301 Update integrations build badges
  README.md
Labels: cla: yes

#4302 Remove apt repository for wrong Ubuntu version
  .github/workflows/lint.yml
Labels: cla: yes

#4292 Support for TF.Gather including intermediate dialect work
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_strings_to_strings.cc
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.cc
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.td
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/test/tf_strings_to_strings.mlir
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/test/tf_to_tf_strings.mlir
  integrations/tensorflow/compiler/dialect/tf_strings/ir/ops.td
  integrations/tensorflow/e2e/strings_test.py
  iree/compiler/Dialect/Modules/Strings/Conversion/ConversionPatterns.cc
  iree/compiler/Dialect/Modules/Strings/IR/Ops.td
Labels: cla: yes, integrations/tensorflow

#4000 Reworking the DeduplicateExecutables to properly check the IR.
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
Labels: bug 🐞, cla: yes, compiler

#4306 Merge main -> google
  .github/workflows/lint.yml
  README.md
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_strings_to_strings.cc
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.cc
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/convert_tf_to_tf_strings.td
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/test/tf_strings_to_strings.mlir
  integrations/tensorflow/compiler/dialect/tf_strings/conversion/test/tf_to_tf_strings.mlir
  integrations/tensorflow/compiler/dialect/tf_strings/ir/ops.td
  integrations/tensorflow/e2e/strings_test.py
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
  iree/compiler/Dialect/Modules/Strings/Conversion/ConversionPatterns.cc
  iree/compiler/Dialect/Modules/Strings/IR/Ops.td
Labels: cla: yes

#4279 Add CMake guards to allow building just IREE's runtime
  CMakeLists.txt
  bindings/javatests/CMakeLists.txt
  bindings/javatests/com/google/iree/CMakeLists.txt
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
Labels: cla: yes

#4309 Splitting link options from link libraries in cmake.
  build_tools/cmake/external_cc_library.cmake
  build_tools/cmake/iree_cc_library.cmake
Labels: cla: yes, infrastructure/cmake

#4041 Avoid `-Wreturn-type` in wait_handle_poll
  iree/base/wait_handle_poll.c
Labels: cla: yes

#4320 Relax and document IREE_BUILD_COMPILER checks in cmake functions.
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_lit_test.cmake
Labels: cla: yes, infrastructure/cmake, platform/android

#4336 Merge main -> google
  BUILD.bazel
  WORKSPACE.bazel
  build_tools/bazel/build_core.sh
  build_tools/bazel/iree.bazelrc
  build_tools/third_party/spirv_cross/BUILD.overlay
  configure_bazel.py
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/BUILD
  iree/hal/metal/BUILD.bazel
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/registration/BUILD.bazel
  iree/hal/metal/registration/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/BUILD
Labels: cla: yes

#4342 NFC: Add _path to args in update_to_llvm_syncpoint.py
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes, infrastructure 🛠️

#4341 Adding a default conversion for flow.dispatch.workgroup.* -> HAL.
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
Labels: cla: yes, compiler

#4227 Adding the IREE CPU task scheduler (iree/task/).
  CMakeLists.txt
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/atomics.h
  iree/base/debugging.h
  iree/base/math.h
  iree/base/math_test.cc
  iree/base/synchronization.c
  iree/base/synchronization.h
  iree/base/threading.h
  iree/base/threading_darwin.c
  iree/base/threading_pthreads.c
  iree/base/threading_win32.c
  iree/base/tracing.cc
  iree/base/tracing.h
  iree/base/wait_handle.h
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/affinity_set.h
  iree/task/executor.c
  iree/task/executor.h
  iree/task/executor_impl.h
  iree/task/executor_test.cc
  iree/task/list.c
  iree/task/list.h
  iree/task/list_test.cc
  iree/task/pool.c
  iree/task/pool.h
  iree/task/pool_test.cc
  iree/task/post_batch.c
  iree/task/post_batch.h
  iree/task/queue.c
  iree/task/queue.h
  iree/task/queue_test.cc
  iree/task/scope.c
  iree/task/scope.h
  iree/task/scope_test.cc
  iree/task/submission.c
  iree/task/submission.h
  iree/task/task.c
  iree/task/task.h
  iree/task/task_impl.h
  iree/task/testing/BUILD
  iree/task/testing/CMakeLists.txt
  iree/task/testing/test_util.h
  iree/task/topology.c
  iree/task/topology.h
  iree/task/topology_test.cc
  iree/task/tuning.h
  iree/task/worker.c
  iree/task/worker.h
Labels: cla: yes, hal/cpu, runtime

#4346 Clean up naming in LLVM sync script
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#4348 Add scripting to update mlir-hlo to match LLVM commit
  .github/workflows/update_llvm_dependent_submodules.yml
  scripts/git/update_llvm_dependent_submodules.sh
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#4356 Fix mlir-hlo path in Submodule update scripting
  .github/workflows/update_llvm_dependent_submodules.yml
  scripts/git/update_llvm_dependent_submodules.sh
Labels: cla: yes

#4337 Update bazel_to_cmake to support testonly for iree_bytecode_module
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/tools/compilation.bzl
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: cla: yes
