Repository iree-org/iree, pull requests merged in 2020-09, with the labels that each got.

#3034 Improve cooperative matrix analyis to support cases with scf:ForOp
  iree/compiler/Conversion/LinalgToSPIRV/CooperativeMatrixAnalysis.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#3037 [ModelBuilder] Fix wrong dimension mapping for second level of tiling.
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
Labels: cla: yes

#3048 Merge main -> google
  colab/edge_detection.ipynb
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CooperativeMatrixAnalysis.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#3010 Adding missing distribution options for BatchMatmul in tile+distribute
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/test/e2e/xla_ops/dot_general.mlir
Labels: cla: yes

#3052 Add finite op to VMLA
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/finite_test.py
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/math_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
  iree/test/e2e/xla_ops/finite.mlir
Labels: cla: yes

#3028 Add pass to convert memref to memref of vector.
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#3054 Rename bundled LLVM FileCheck target
  iree/tools/CMakeLists.txt
Labels: cla: yes

#3064 Log function metadata from bytecode module in vk sample.
  iree/samples/vulkan/vulkan_inference_gui.cc
Labels: cla: yes, runtime

#3049 Add an option to only apply L1 level tiling for matmulOp
  iree/compiler/Conversion/LinalgToLLVM/MatMulVectorization.cpp
Labels: cla: yes

#3070 Register dialects for dylib-llvm-aot target backend
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
Labels: cla: yes

#3071 Filter out deleted files in tabs check
  scripts/check_tabs.sh
Labels: cla: yes

#3072 Merge main -> google
  iree/compiler/Conversion/LinalgToLLVM/MatMulVectorization.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/samples/vulkan/vulkan_inference_gui.cc
Labels: cla: yes

#3059 Reorder BroadcastInDimOp and ElementwiseOp
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
Labels: cla: yes, compiler, enhancement

#3085 Merge main -> google
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
  scripts/check_tabs.sh
Labels: cla: yes

#3084 [vulkan] Avoid querying instanceless symbols with non-null instance
  iree/hal/vulkan/dynamic_symbol_tables.h
  iree/hal/vulkan/dynamic_symbols.cc
Labels: cla: yes, runtime, vulkan

#3045 [metal] Initial bring up of Metal HAL driver (1/n)
  CMakeLists.txt
  docs/design_docs/metal_hal_driver.md
  docs/get_started/getting_started_linux_vulkan.md
  docs/get_started/getting_started_macos_bazel.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_vulkan.md
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/driver_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/README.md
  iree/hal/metal/dispatch_time_util.h
  iree/hal/metal/metal_command_buffer.h
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_command_queue.h
  iree/hal/metal/metal_command_queue.mm
  iree/hal/metal/metal_device.h
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_driver.h
  iree/hal/metal/metal_driver.mm
  iree/hal/metal/metal_driver_module.cc
  iree/hal/metal/metal_shared_event.h
  iree/hal/metal/metal_shared_event.mm
Labels: cla: yes, runtime

#2832 [cmake] Add options for enabling Clang sanitizers
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes

#3088 Mark mhlo.broadcast op as indexable to clone into its consumers.
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/test/identify_dispatch_regions2_hlo.mlir
Labels: cla: yes

#3092 Cleanup: remove obsolete usage of global dialect registry (NFC)
  build_tools/bazel/third_party_import/llvm-project/overlay/mlir/BUILD.bazel
  experimental/ModelBuilder/test/BenchMatMulVectorColumnMajorLLVMIntrinsicsJIT.cpp
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  experimental/ModelBuilder/test/BenchMatMulVectorJIT.cpp
  experimental/ModelBuilder/test/BenchMatVecVectorJIT.cpp
  experimental/ModelBuilder/test/TestDotProdJIT.cpp
  experimental/ModelBuilder/test/TestMNISTJIT.cpp
  experimental/ModelBuilder/test/TestMatMulVulkan.cpp
  experimental/ModelBuilder/test/TestSimpleJIT.cpp
  experimental/ModelBuilder/test/TestSimpleJITVulkan.cpp
  experimental/ModelBuilder/test/TestSimpleMLIR.cpp
  experimental/ModelBuilder/test/TestVectorToGPU.cpp
  experimental/ModelBuilder/test/TestVectorTransfersJIT.cpp
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/dialect/tf_strings/ir/dialect.cpp
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_dialect.cc
  iree/compiler/Dialect/Flow/IR/FlowDialect.cpp
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/IREE/IR/IREEDialect.cpp
  iree/compiler/Dialect/Modules/Check/IR/CheckDialect.cpp
  iree/compiler/Dialect/Modules/Strings/IR/Dialect.cc
  iree/compiler/Dialect/Modules/TensorList/IR/TensorListDialect.cpp
  iree/compiler/Dialect/Sequence/IR/SequenceDialect.cpp
  iree/compiler/Dialect/Shape/IR/ShapeDialect.cpp
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VMLA/IR/VMLADialect.cpp
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  iree/samples/custom_modules/dialect/custom_dialect.cc
  iree/samples/custom_modules/dialect/custom_translate.cc
  iree/samples/custom_modules/dialect/init_dialect.h
  iree/tools/init_compiler_modules.h
  iree/tools/init_iree_dialects.h
  iree/tools/init_mlir_dialects.h
  iree/tools/init_xla_dialects.h
  iree/tools/run_mlir_main.cc
  iree/tools/translate_main.cc
Labels: cla: yes

#3079 Fix set dynamic dim from MakeRankedShapeOp.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
Labels: cla: yes

#3096 Add a test for set dynamic shape from MakeRankedShapeOp.
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
Labels: cla: yes

#3062 Adds the TensorFlow E2E documentation to our website
  build_tools/cmake/build_docs.sh
  scripts/prepare_doc_publication.py
Labels: cla: yes, documentation, integration, tensorflow

#3100 Merge main -> google
  build_tools/cmake/build_docs.sh
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  scripts/prepare_doc_publication.py
Labels: cla: yes

#3087 [cmake] Extract whole archive link as a separate function
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_whole_archive_link.cmake
Labels: android, cla: yes, cmake

#3110 Merge main -> google
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_whole_archive_link.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes

#3109 [cmake] Add options for enabling Clang sanitizers
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_macros.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes, cmake

#3113 Add compatibility macros for `restrict` keyword.
  iree/base/api.h
  iree/vm/bytecode_dispatch.c
Labels: cla: yes, windows

#3089 Export async (timeline semaphore) ABI, call from Vulkan sample.
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/samples/vulkan/vulkan_inference_gui.cc
Labels: cla: yes, vulkan

#3116 Use increasing semaphore signal values in Vulkan sample.
  iree/samples/vulkan/vulkan_inference_gui.cc
Labels: cla: yes, vulkan

#3115 Forward error messages from JITing LLVM
  iree/hal/llvmjit/llvmjit_executable.cc
Labels: cla: yes

#3118 Refactor semaphore use in async and sync public ABI functions.
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
Labels: cla: yes, compiler

#3121 Clean up HAL dispatch ops to not track redundant state.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/command_buffer_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/ResolveEntryPointOrdinals.cpp
  iree/compiler/Dialect/HAL/Transforms/test/resolve_entry_point_ordinals.mlir
Labels: cla: yes, compiler

#3124 Split TargetBackend filter/name into two fields.
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: cla: yes, compiler

#3066 Boolean constant support
  integrations/tensorflow/e2e/bool_test.py
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertTensorOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/tensor_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/ConvertStandardToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/constant_ops.mlir
Labels: cla: yes

#3130 Fixing leak in #3122 (test-only issue).
  iree/vm/native_module_test.h
Labels: bug, cla: yes, runtime

#3093 [metal] Initial bring up of Metal HAL driver (2/n)
  docs/design_docs/metal_hal_driver.md
  iree/hal/buffer_test.cc
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/allocator_test.cc
  iree/hal/cts/buffer_test.cc
  iree/hal/cts/command_buffer_test.cc
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_buffer.h
  iree/hal/metal/metal_buffer.mm
  iree/hal/metal/metal_command_buffer.h
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_device.h
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_direct_allocator.h
  iree/hal/metal/metal_direct_allocator.mm
Labels: cla: yes, metal, runtime

#3134 Enable floor test on vulkan-spirv and llvm-ir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#3135 [vulkan] Fix VmaBuffer fill and copy
  iree/hal/cts/buffer_test.cc
  iree/hal/vulkan/vma_buffer.cc
Labels: cla: yes

#3128 Add directions for re-cloning IREE to work on gh-pages
  README.md
Labels: cla: yes, documentation

#3119 Switch to using digests for Kokoro builds
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/manage_images.py
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86/build_kokoro.sh
Labels: cla: yes

#3095 Use generated function to compute number of workgroups to be launched.
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/fusion.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pipeline_test.mlir
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/Attributes.h
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/DeclareNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LegalizeNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: cla: yes

#3155 Script to update to llvm syncpoint
  .github/workflows/update_tf.yml
  scripts/git/update_tf_llvm_submodules.py
  scripts/git/update_tf_submodule.sh
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#2986 Enable use of vector.contract within IREE codegen.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_subgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#3168 [NFC] Use helpers instead of hardcoded string
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
Labels: cla: yes

#3163 Remove trailing whitespace
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
Labels: cla: yes

#3162 Use local instead of parameter comment
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
Labels: cla: yes

#3173 Fix breaking builds in ModelBuilder.
  experimental/ModelBuilder/test/TestMatMulVulkan.cpp
Labels: cla: yes

#3126 Explicitly marshals i1 tensors into executables over the HAL ABI.
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/HAL/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.h
  iree/compiler/Dialect/HAL/Target/VMLA/test/i1_types.mlir
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/HAL/Utils/BUILD
  iree/compiler/Dialect/HAL/Utils/CMakeLists.txt
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/TypeConverter.h
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLABase.td
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
Labels: cla: yes, compiler, enhancement

#3150 Adding dot_general test to verify operation.
  iree/test/e2e/vulkan_specific/dot_general.mlir
  iree/test/e2e/xla_ops/dot_general.mlir
Labels: cla: yes

#3178 [NFC] Delete unused static methods.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
Labels: cla: yes

#3182 VMLA support for mhlo.round_nearest_nfz
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
  iree/test/e2e/xla_ops/round.mlir
Labels: cla: yes

#3185 Merge main -> google
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/HAL/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.h
  iree/compiler/Dialect/HAL/Target/VMLA/test/i1_types.mlir
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/HAL/Utils/BUILD
  iree/compiler/Dialect/HAL/Utils/CMakeLists.txt
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/TypeConverter.h
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLABase.td
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
  iree/test/e2e/vulkan_specific/dot_general.mlir
  iree/test/e2e/xla_ops/dot_general.mlir
  iree/test/e2e/xla_ops/round.mlir
Labels: cla: yes

#3156 Enable dynamic shape case when using number of workgroups function
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Dialect/Shape/IR/Builders.cpp
  iree/compiler/Dialect/Shape/IR/Builders.h
Labels: cla: yes

#3157 Update README build status to point at new swiftshader builds
  README.md
Labels: cla: yes

#3190 Add vectorization pattern on zexti.
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_ops.mlir
Labels: cla: yes

#3179 Enable ASAN test on iree/vm:vm:native_module_test
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: cla: yes

#3195 Merge main -> google
  README.md
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Dialect/Shape/IR/Builders.cpp
  iree/compiler/Dialect/Shape/IR/Builders.h
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: cla: yes

#3201 Set USE_MATH_DEFINES for Windows CMake builds.
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes, cmake, windows

#3202 Delete x86 only build configs now that swiftshader is supported everywhere
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/DELETE_THIS_DIRECTORY
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/presubmit.cfg
Labels: cla: yes

#3205 Replace `create_reinitialized` with `reinitialize` in tf_utils
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
Labels: cla: yes, integration, tensorflow

#3214 Enable `fill_test.py` on `iree_vmla`
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, integration, tensorflow

#3213 Add missing override in VMToEmitC conversion
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: cla: yes

#3218 Merge main -> google
  build_tools/cmake/iree_copts.cmake
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/DELETE_THIS_DIRECTORY
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/presubmit.cfg
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/e2e/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: cla: yes

#3219 Fix `TfCompiledModule` reinitialization and test random initialization
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
Labels: cla: yes, integration, tensorflow

#3217 Adds `TfLiteCompiledModule` and tests it in our integrations
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/keras/BUILD
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, performance, tensorflow

#3227 Split `matrix_ops_test` into static and dynamic tests
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3208 Lower a mhlo.concatenate op to subview + linalg.fill/copy
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/concatenate.mlir
  iree/test/e2e/xla_ops/concatenate.mlir
Labels: cla: yes

#3236 Remove special handling for vector.broadcast on constants.
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
Labels: cla: yes

#3237 Small improvements to E2E README
  integrations/tensorflow/e2e/README.md
Labels: cla: yes, documentation, integration, tensorflow

#3249 Rename main source files used directly in cc binaries
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/embed_data/BUILD
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/generate_cc_embed_data_main.cc
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/iree-tf-opt-main.cc
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/iree-check-module-main.cc
  iree/samples/custom_modules/dialect/BUILD
  iree/samples/custom_modules/dialect/CMakeLists.txt
  iree/samples/custom_modules/dialect/custom-opt-main.cc
  iree/samples/custom_modules/dialect/custom-translate-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-dump-module-main.cc
  iree/tools/iree-opt-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#3224 Switch flow.dispatch ops to use nested references to entry points.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
Labels: cla: yes, compiler

#3250 Move references to HAL executables inside hal.device.switch ops.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
Labels: cla: yes, compiler

#3211 [vulkan] Improve target environment support
  docs/design_docs/hal_driver_features.md
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.h
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  iree/compiler/Dialect/Vulkan/IR/VulkanTypes.cpp
  iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.cpp
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.h
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: cla: yes, codegen, spirv, vulkan

#3252 Merge main -> google
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/embed_data/BUILD
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/generate_cc_embed_data_main.cc
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/iree-tf-opt-main.cc
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/iree-check-module-main.cc
  iree/samples/custom_modules/dialect/BUILD
  iree/samples/custom_modules/dialect/CMakeLists.txt
  iree/samples/custom_modules/dialect/custom-opt-main.cc
  iree/samples/custom_modules/dialect/custom-translate-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-dump-module-main.cc
  iree/tools/iree-opt-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#3257 Tag OSS-failing 'nokokoro' targets as 'manual'
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
  integrations/tensorflow/e2e/BUILD
Labels: bazel, cla: yes, integration

#3260 Add support for mhlo.exponential_minus_one
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/exponential_minus_one.mlir
Labels: cla: yes

#3216 Implement linalg.conv -> img2col packing + matmul rewrite
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvImg2ColMatmulConversion.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
  iree/test/e2e/llvmir_specific/BUILD
  iree/test/e2e/llvmir_specific/CMakeLists.txt
  iree/test/e2e/llvmir_specific/conv.mlir
Labels: cla: yes

#3262 Fix linalg::GenericOp constructor in img2col converter pattern
  iree/compiler/Conversion/LinalgToLLVM/ConvImg2ColMatmulConversion.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
Labels: cla: yes

#3266 Remove `tf.keras.set_learning_phase` before it's deprecated
  colab/resnet.ipynb
  integrations/tensorflow/e2e/keras/vision_model_test.py
Labels: cla: yes, colab, integration, tensorflow

#3267 Update contributor_tips.md
  docs/developing_iree/contributor_tips.md
Labels: cla: yes

#3268 [metal] Use IREE_CHECK_EQ following API changes
  iree/hal/metal/metal_buffer.mm
Labels: cla: yes

#3245 [vulkan] Extract GUI utility functions out in samples (NFC)
  iree/samples/vulkan/BUILD
  iree/samples/vulkan/CMakeLists.txt
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/BUILD
  iree/testing/vulkan/CMakeLists.txt
  iree/testing/vulkan/vulkan_gui_util.cc
  iree/testing/vulkan/vulkan_gui_util.h
Labels: cla: yes, vulkan

#3246 [metal] Initial bring up of Metal HAL driver (4/n)
  docs/design_docs/metal_hal_driver.md
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/metal_kernel_library.mm
  iree/hal/metal/metal_pipeline_cache.h
  iree/hal/metal/metal_pipeline_cache.mm
Labels: cla: yes, metal, runtime

#3253 Add file pointing to correct tflite-graph for benchmarking
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3271 Merge main -> google
  colab/resnet.ipynb
  docs/design_docs/hal_driver_features.md
  docs/design_docs/metal_hal_driver.md
  docs/developing_iree/contributor_tips.md
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/vision_model_test.py
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvImg2ColMatmulConversion.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.h
  iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  iree/compiler/Dialect/Vulkan/IR/VulkanTypes.cpp
  iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.cpp
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.h
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_buffer.mm
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/metal_kernel_library.mm
  iree/hal/metal/metal_pipeline_cache.h
  iree/hal/metal/metal_pipeline_cache.mm
  iree/samples/vulkan/BUILD
  iree/samples/vulkan/CMakeLists.txt
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/test/e2e/llvmir_specific/BUILD
  iree/test/e2e/llvmir_specific/CMakeLists.txt
  iree/test/e2e/llvmir_specific/conv.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/exponential_minus_one.mlir
  iree/testing/vulkan/BUILD
  iree/testing/vulkan/CMakeLists.txt
  iree/testing/vulkan/vulkan_gui_util.cc
  iree/testing/vulkan/vulkan_gui_util.h
Labels: cla: yes

#3261 Fix help output for iree-benchmark-module
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/test/BUILD
  iree/tools/test/CMakeLists.txt
  iree/tools/test/benchmark_flags.txt
Labels: cla: yes, infrastructure

#3278 Merge main -> google
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/test/BUILD
  iree/tools/test/CMakeLists.txt
  iree/tools/test/benchmark_flags.txt
Labels: cla: yes

#3277 Update Android doc to fail on undefined bash variable
  docs/get_started/getting_started_android_cmake.md
Labels: android, cla: yes, documentation

#3286 Merge main -> google
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes

#3275 Open source documentation for e2e benchmarking
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  scripts/prepare_doc_publication.py
Labels: benchmarking, cla: yes, documentation, integration, tensorflow

#3281 Open source `mobile_bert_squad_test` with TFLite support
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3299 Merge main -> google
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  scripts/prepare_doc_publication.py
Labels: cla: yes

#3296 Fix vmla::kernels::Gather::Execute handling of batching dims
  integrations/tensorflow/e2e/gather_test.py
  iree/hal/vmla/op_kernels_generic.h
Labels: cla: yes

#3272 Add more information for each dump.
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertTensorOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/hal_module.cc
  iree/test/e2e/regression/trace_dispatch_tensors.mlir
Labels: cla: yes

#3293 Add logical not op to hlo->vmla conversion + some E2E tests for logic…
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/logical_ops_test.py
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/math_ops.mlir
Labels: cla: yes

#3305 Enable newly passing tests
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, integration, tensorflow
