Repository iree-org/iree, pull requests merged in 2020-06, with the labels that each got.

#2282 Update documentation for `google` default branch
  CONTRIBUTING.md
  README.md
  docs/repository_management.md
Labels: cla: yes

#2310 Merge main -> google
  iree/hal/vulkan/vulkan_device.cc
Labels: cla: yes, ready to pull

#2314 Merge lint checks into single workflow
  .github/workflows/bazel_to_cmake.yml
  .github/workflows/check_submodules.yml
  .github/workflows/lint.yml
Labels: cla: yes

#2318 Run bazel_to_cmake.py.
  iree/vm/test/CMakeLists.txt
Labels: bazel->cmake, cla: yes, ready to pull

#2281 Update docs on iree-opt to use a file and options that still exist.
  docs/developer_overview.md
  iree/compiler/Dialect/IREE/Transforms/test/drop_compiler_hints.mlir
Labels: cla: yes, documentation, ready to pull

#2316 Add yaml lint check
  .github/workflows/lint.yml
  .github/workflows/synchronize_submodules.yml
  .yamllint.yml
Labels: cla: yes

#2321 Wording edits to TF e2e test README
  integrations/tensorflow/e2e/README.md
Labels: cla: yes

#2258 Adds doc generation for a TensorFlow E2E coverage table.
  build_tools/cmake/build_docs.sh
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/BUILD
  scripts/prepare_doc_publication.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, documentation, integration, ready to pull, tensorflow

#2313 [doc] Add doc for cross-compiling towards Android using CMake
  build_tools/cmake/build_docs.sh
  docs/GetStarted/cmake_options_and_variables.md
  docs/GetStarted/getting_started_android_cmake.md
  scripts/prepare_doc_publication.py
Labels: cla: yes, cmake, documentation, ready to pull

#2323 Update publish_docs GitHub Action to track google branch
  .github/workflows/publish_docs.yml
Labels: cla: yes, ready to pull

#2326 Merge main -> google
  .github/workflows/check_submodules.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/synchronize_submodules.yml
  .yamllint.yml
  integrations/tensorflow/e2e/README.md
Labels: cla: yes

#2328 Fix Windows path used for test_env in docs.
  docs/GetStarted/getting_started_windows_vulkan.md
Labels: cla: yes, documentation, ready to pull

#2329 Fix publish_docs GitHub Action
  .github/workflows/publish_docs.yml
  build_tools/cmake/build_docs.sh
  scripts/update_e2e_coverage.py
Labels: cla: yes, documentation, ready to pull

#2330 Run bazel_to_cmake
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
Labels: cla: yes, ready to pull

#2332 Replace uses of TensorFlow DistributionStrategy experimental_run_v2 with run.
  colab/mnist_tensorflow.ipynb
Labels: cla: yes

#2337 Change submodule update action to use google branch
  .github/workflows/update_tf.yml
Labels: cla: yes

#2339 Update contributing and repo management docs for github first
  CONTRIBUTING.md
  docs/repository_management.md
Labels: cla: yes

#2340 Enables `resource_ops_test` and `sliding_window_test` on the CI.
  integrations/tensorflow/e2e/BUILD
Labels: bazel, cla: yes, integration, tensorflow

#2347 Run bazel_to_cmake on Conversion/CodegenUtils dir
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
Labels: cla: yes, cmake

#2338 Point build badges at `main` branch
  README.md
Labels: cla: yes

#2336 Update GitHub Actions workflows to reference new branch names.
  .github/workflows/publish_docs.yml
  .github/workflows/synchronize_submodules.yml
Labels: cla: yes

#2335 Update URLs from `master` to `main` branch.
  CMakeLists.txt
  CONTRIBUTING.md
  bindings/java/com/google/iree/Module.java
  build_tools/cmake/iree_cross_compile.cmake
  colab/README.md
  colab/mnist_tensorflow.ipynb
  docs/GetStarted/getting_started_linux_bazel.md
  docs/GetStarted/getting_started_linux_cmake.md
  docs/GetStarted/getting_started_linux_vulkan.md
  docs/GetStarted/getting_started_macos_bazel.md
  docs/GetStarted/getting_started_macos_cmake.md
  docs/GetStarted/getting_started_python.md
  docs/GetStarted/getting_started_windows_bazel.md
  docs/GetStarted/getting_started_windows_cmake.md
  docs/GetStarted/getting_started_windows_vulkan.md
  docs/developer_overview.md
  docs/repository_management.md
  docs/testing_guide.md
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/BUILD
  iree/base/shaped_buffer_string_util.h
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/hal/api.h
  iree/hal/executable_format.h
  iree/samples/models/mnist.mlir
  iree/test/e2e/regression/BUILD
  iree/tools/vm_util.h
  scripts/update_op_coverage.py
Labels: cla: yes

#2334 Fix memory leak in timeline semaphore emulation.
  iree/hal/vulkan/timepoint_util.cc
  iree/hal/vulkan/timepoint_util.h
Labels: cla: yes, runtime

#2350 Fix make_unique casing.
  iree/hal/vulkan/timepoint_util.cc
Labels: cla: yes

#2349 Add `"no-remote"` tags to "external" targets.
  integrations/tensorflow/e2e/keras/BUILD
Labels: bazel, cla: yes, integration, tensorflow

#2351 Merge main -> google
  .github/workflows/publish_docs.yml
  .github/workflows/synchronize_submodules.yml
  .github/workflows/update_tf.yml
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  bindings/java/com/google/iree/Module.java
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_cross_compile.cmake
  colab/README.md
  colab/mnist_tensorflow.ipynb
  docs/GetStarted/getting_started_linux_bazel.md
  docs/GetStarted/getting_started_linux_cmake.md
  docs/GetStarted/getting_started_linux_vulkan.md
  docs/GetStarted/getting_started_macos_bazel.md
  docs/GetStarted/getting_started_macos_cmake.md
  docs/GetStarted/getting_started_python.md
  docs/GetStarted/getting_started_windows_bazel.md
  docs/GetStarted/getting_started_windows_cmake.md
  docs/GetStarted/getting_started_windows_vulkan.md
  docs/developer_overview.md
  docs/repository_management.md
  docs/testing_guide.md
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/BUILD
  iree/base/shaped_buffer_string_util.h
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/hal/api.h
  iree/hal/executable_format.h
  iree/hal/vulkan/timepoint_util.cc
  iree/hal/vulkan/timepoint_util.h
  iree/samples/models/mnist.mlir
  iree/test/e2e/regression/BUILD
  iree/tools/vm_util.h
  scripts/update_op_coverage.py
Labels: cla: yes

#2344 [cmake] Support cross compilation towards Android with Windows host
  CMakeLists.txt
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/cmake/iree_macros.cmake
  docs/GetStarted/getting_started_android_cmake.md
Labels: cla: yes

#2355 Adds the `IREE_LLVMAOT_LINKER_PATH` environment variable to IREE's Docker images.
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/bazel_bindings/Dockerfile
  build_tools/docker/bazel_tensorflow/Dockerfile
  build_tools/docker/cmake/Dockerfile
Labels: cla: yes, infrastructure

#2354 [cmake] Enable building tests when cross compiling
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
  docs/GetStarted/cmake_options_and_variables.md
  docs/GetStarted/getting_started_android_cmake.md
Labels: cla: yes

#2360 Rename master to main in a script that was missed
  docs/GetStarted/getting_started_windows_vulkan.md
Labels: cla: yes

#2359 Simplifies backend specification for `tf_test_utils.py`.
  build_tools/bazel/build_tensorflow.sh
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/iree_vision_test_suite.bzl
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/iree_train_test_suite.bzl
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: bazel, cla: yes, integration, tensorflow

#2358 [cmake] Handle CROSS_TOOLCHAIN_FLAGS_NATIVE internally
  CMakeLists.txt
  docs/GetStarted/getting_started_android_cmake.md
Labels: cla: yes, cmake, windows
