Repository iree-org/iree, pull requests merged in 2020-04, with the labels that each got.

#1350 Add GitHub Action to automatically publish docs
  .github/workflows/publish_docs.yml
Labels: cla: yes

#1390 Add GitHub Action to automatically publish docs
  .github/workflows/publish_docs.yml
Labels: cla: yes

#1429 Set IREE_AVAILABLE_BACKENDS in Bazel CI
  .github/workflows/bazel_build.yml
Labels: cla: yes

#1457 Fix landing page location in GitHub Pages Action
  .github/workflows/publish_docs.yml
Labels: cla: yes

#1522 Set IREE_AVAILABLE_BACKENDS in Bazel CI
  .github/workflows/bazel_build.yml
Labels: cla: yes

#1532 Add README to gh-pages branch with website dev instructions.
  README.md
  _config.yml
Labels: cla: yes, documentation

#1551 Remove --strict from bazel_to_cmake workflow.
  .github/workflows/bazel_to_cmake.yml
Labels: bazel->cmake, cla: yes

#1567 Make automatic submodule updates more frequent
  .github/workflows/update_submodules.yml
Labels: cla: yes

#1589 Add separate IREE core bazel build
  .github/workflows/bazel_build_bindings.yml
  .github/workflows/bazel_build_core.yml
  .github/workflows/bazel_build_fallthrough.yml
  .github/workflows/bazel_build_integrations.yml
Labels: cla: yes

#1702 Add note that publishing can lag 20 minutes
  README.md
Labels: cla: yes
