Repository iree-org/iree, pull requests merged in 2020-10, with the labels that each got.

#3314 Add documentation to run TFLite on GPU and get Op profiling
  docs/developing_iree/e2e_benchmarking.md
Labels: cla: yes

#3108 [android] Wrap iree-run-module as an app using Native Activity
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/iree-check-module-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/android/CMakeLists.txt
  iree/tools/android/run_module_app/AndroidManifest.xml.template
  iree/tools/android/run_module_app/CMakeLists.txt
  iree/tools/android/run_module_app/README.md
  iree/tools/android/run_module_app/build_apk.sh
  iree/tools/android/run_module_app/res/values/strings.xml
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/BUILD
  iree/tools/utils/CMakeLists.txt
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util.h
  iree/tools/utils/vm_util_test.cc
Labels: android, cla: yes, cmake

#3322 Update android benchmarking titles to match.
  docs/developing_iree/e2e_benchmarking.md
Labels: benchmarking, cla: yes, documentation

#3225 Canonicalizes mhlo.dot_general to a rank-3 mhlo.dot_general or mhlo.dot
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing_canoncalize_dot_general.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#3304 Remove e2e test case decorator
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/broadcast_to_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/complex_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/finite_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  integrations/tensorflow/e2e/range_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#3274 [vulkan] Create a GUI application to run an IREE module
  iree/testing/vulkan/BUILD
  iree/testing/vulkan/CMakeLists.txt
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
Labels: cla: yes, vulkan

#3326 Refactor tf bindings compilation API
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/saved_model_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/signature_def_saved_model_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
Labels: cla: yes, integration, tensorflow

#3329 Refactor 'CompiledModule' to use cls constructors
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/xla/compiler/__init__.py
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, integration, tensorflow

#3295 VMLA sort implementation with pseudo lowering
  integrations/tensorflow/e2e/BUILD
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/sort.mlir
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/Transforms/PreConversionLowering.cpp
  iree/compiler/Dialect/VMLA/Transforms/test/pre_conversion_lowering.mlir
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
  iree/test/e2e/xla_ops/sort.mlir
Labels: cla: yes

#3327 [spirv] Enable SPIRVCommon for Metal-SPIRV too
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/BUILD
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/CMakeLists.txt
Labels: cla: yes

#3338 Workaround bug in gh cli
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_tf_submodule.sh
Labels: cla: yes

#3336 Open source slim vision model tests
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  integrations/tensorflow/e2e/slim_vision_models/README.md
  integrations/tensorflow/e2e/slim_vision_models/iree_slim_vision_test_suite.bzl
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3340 Expand page width and padding for E2E coverage
  _sass/custom/custom.scss
Labels: cla: yes, documentation, integration, tensorflow

#3330 [NFC] Make flags more descriptive
  build_tools/bazel/run_binary_test.bzl
  docs/developing_iree/benchmarking.md
  docs/developing_iree/developer_overview.md
  docs/developing_iree/e2e_benchmarking.md
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_linux_vulkan.md
  docs/get_started/getting_started_windows_vulkan.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  iree/modules/check/iree-check-module-main.cc
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/android/run_module_app/build_apk.sh
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/test/benchmark_flags.txt
  iree/tools/test/multiple_args.mlir
  iree/tools/test/repeated_return.mlir
  iree/tools/test/scalars.mlir
  iree/tools/test/simple.mlir
Labels: cla: yes

#3346 Replace `-input-value` with `-function-input` for iree-run-mlir.
  docs/developing_iree/developer_overview.md
  docs/get_started/getting_started_linux_bazel.md
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_macos_bazel.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_bazel.md
  docs/get_started/getting_started_windows_cmake.md
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_compare_and_select.mlir
  iree/test/e2e/regression/dynamic_dot_general.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/regression/unused_args.mlir
  iree/tools/iree-run-mlir-main.cc
  iree/tools/test/multiple_args.mlir
  iree/tools/test/scalars.mlir
  iree/tools/test/simple.mlir
Labels: cla: yes

#3349 Disable LLVM warnings when building with CMake.
  CMakeLists.txt
Labels: cla: yes, cmake, windows

#3343 Expand keras vision model test coverage
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/iree_vision_test_suite.bzl
  integrations/tensorflow/e2e/keras/vision_model_test.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3342 Fix ill-configured slim vision model tests
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
  scripts/update_e2e_coverage.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3307 Enable MobileBert on VMLA via SignatureDef SavedModels
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  scripts/update_e2e_coverage.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3345 Add bert encoder test with fake weights.
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/bert_encoder_unrolled_fake_weights.mlir
Labels: cla: yes

#3318 [metal] Initial bring up of Metal HAL driver (5/n)
  docs/design_docs/metal_hal_driver.md
  iree/hal/descriptor_set_layout.h
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_command_buffer.h
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/metal_kernel_library.mm
  iree/hal/metal/metal_pipeline_argument_buffer.cc
  iree/hal/metal/metal_pipeline_argument_buffer.h
Labels: cla: yes, metal, runtime

#3359 Replace 'methodName' with *args **kwargs
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/broadcast_to_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/complex_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/finite_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  integrations/tensorflow/e2e/range_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#3364 Change medium cifar10 to large cifar10
  integrations/tensorflow/e2e/keras/BUILD
Labels: cla: yes, integration, tensorflow

#3366 Merge main -> google
  docs/design_docs/metal_hal_driver.md
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/broadcast_to_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/complex_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/finite_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  integrations/tensorflow/e2e/range_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
  iree/hal/descriptor_set_layout.h
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_command_buffer.h
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/metal_kernel_library.mm
  iree/hal/metal/metal_pipeline_argument_buffer.cc
  iree/hal/metal/metal_pipeline_argument_buffer.h
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/bert_encoder_unrolled_fake_weights.mlir
Labels: cla: yes

#3324 Benchmarking only iree_vm_invoke moving everything else outside registred function
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#3288 Add a script to generate benchmarking artifacts.
  build_tools/docker/manage_images.py
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/bool_test.py
  scripts/__init__.py
  scripts/get_e2e_artifacts.py
  scripts/update_e2e_coverage.py
  scripts/update_op_coverage.py
  scripts/utils.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3377 Fix resource preparation issue in iree-benchmark-module.
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#3370 Forcing LLVM's rude forcing of /W4 and !NDEBUG off.
  CMakeLists.txt
  build_tools/cmake/external_cc_library.cmake
  build_tools/cmake/flatbuffer_c_library.cmake
  build_tools/cmake/flatbuffer_cc_library.cmake
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/rebuild.sh
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes, infrastructure, yolo

#3382 Add import utils to update_op_coverage.py
  scripts/update_op_coverage.py
Labels: cla: yes, documentation

#3383 Add manual trigger for doc publication
  .github/workflows/publish_docs.yml
Labels: cla: yes, documentation

#3386 Fix a bug in pad op lowering.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/pad.mlir
Labels: bug, cla: yes, codegen

#3395 Update link to benchmarking doc in e2e readme.
  integrations/tensorflow/e2e/README.md
Labels: benchmarking, cla: yes, documentation

#3393 Add new Windows Bazel flags compatible with TensorFlow.
  build_tools/bazel/iree.bazelrc
Labels: bazel, cla: yes, tensorflow, windows

#3397 Minor fixes while getting tracy working at head.
  CMakeLists.txt
  iree/base/tracing.h
Labels: cla: yes, infrastructure

#3389 Use IREE_CHECK instead of assert.
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#3399 Use existing ConversionPattern TypeConverter in some subclasses
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Dialect/VM/Conversion/ImportUtils.h
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.h
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertConvOps.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/BUILD
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/CMakeLists.txt
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/ConvertStandardToVMLA.cpp
Labels: cla: yes

#3396 Allow mhlo.reshape ops to exist within unfused ops region
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/test/identify_dispatch_regions2_hlo.mlir
Labels: cla: yes

#3339 Publish 2020 Q4 OKRs
  README.md
  docs/milestones.md
  docs/objectives.md
Labels: cla: yes

#3368 Add dependency to :tensorflow_opensource in pyiree tf compiler
  build_tools/docker/bazel-tensorflow/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
Labels: bazel, cla: yes, integration, tensorflow

#3347 [doc] Add documentation for Vulkan GPU profiling
  docs/developing_iree/benchmarking.md
  docs/developing_iree/profiling.md
Labels: cla: yes

#3404 Fix short-term planning link in documentation ToC
  scripts/prepare_doc_publication.py
Labels: cla: yes, documentation

#3367 Add e2e tests for einsum
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/einsum_dynamic_test.py
  integrations/tensorflow/e2e/einsum_static_test.py
  integrations/tensorflow/e2e/einsum_vector_test.py
Labels: cla: yes, integration, tensorflow

#3411 Revert "Add dependency to :tensorflow_opensource in pyiree tf compiler"
  build_tools/docker/bazel-tensorflow/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/BUILD
Labels: cla: yes

#3416 Create an FFT pseudo-op in VMLA and lower HLO FFT to it.
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/Transforms/PreConversionLowering.cpp
  iree/compiler/Dialect/VMLA/Transforms/test/pre_conversion_lowering.mlir
Labels: cla: yes

#3361 [metal] Initial bring up of Metal HAL driver (6/n)
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_capture_manager.h
  iree/hal/metal/metal_capture_manager.mm
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_command_queue.mm
  iree/hal/metal/metal_device.h
  iree/hal/metal/metal_device.mm
  iree/hal/metal/metal_driver.h
  iree/hal/metal/metal_driver.mm
  iree/hal/metal/metal_driver_module.cc
Labels: cla: yes, metal, runtime

#3418 [metal] Enable the initial batch of HLO op tests (7/n)
  iree/hal/metal/metal_direct_allocator.mm
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes, metal

#3403 Add support for benchmarking all exported functions.
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/test/BUILD
  iree/tools/test/CMakeLists.txt
  iree/tools/test/benchmark_flags.txt
  iree/tools/test/multiple_exported_functions.mlir
Labels: cla: yes

#3294 Adding synchronization and threading primitives
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.h
  iree/base/atomics.h
  iree/base/ref_ptr.h
  iree/base/synchronization.c
  iree/base/synchronization.h
  iree/base/synchronization_benchmark.cc
  iree/base/synchronization_test.cc
  iree/base/target_platform.h
  iree/base/threading.c
  iree/base/threading.h
  iree/base/threading_benchmark.cc
  iree/base/threading_darwin.c
  iree/base/threading_impl.h
  iree/base/threading_pthreads.c
  iree/base/threading_test.cc
  iree/base/threading_win32.c
  iree/base/tracing.cc
  iree/base/tracing.h
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/vm/bytecode_dispatch_util.h
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/instance.c
  iree/vm/list.c
  iree/vm/module.c
  iree/vm/module.h
  iree/vm/ref.c
  iree/vm/ref.h
  iree/vm/ref_test.cc
Labels: cla: yes, performance, runtime

#3419 Reduce control flow overhead when tiling conv/pool ops.
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
Labels: cla: yes

#3434 Removing unneeded header.
  iree/base/threading_pthreads.c
Labels: android, bug, cla: yes

#3433 Merge main -> google
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/test/BUILD
  iree/tools/test/CMakeLists.txt
  iree/tools/test/benchmark_flags.txt
  iree/tools/test/multiple_exported_functions.mlir
Labels: cla: yes

#3426 Several optimizations to the compiler/tools for time and output file size
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Dialect/Modules/Check/IR/CheckDialect.cpp
  iree/compiler/Dialect/Modules/Strings/IR/Dialect.cc
  iree/compiler/Dialect/Modules/TensorList/IR/TensorListDialect.cpp
  iree/compiler/Dialect/VM/Conversion/ConversionDialectInterface.h
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  iree/compiler/Dialect/VMLA/IR/VMLADialect.cpp
  iree/samples/custom_modules/dialect/custom_dialect.cc
  iree/test/e2e/models/collatz.mlir
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot_general.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/regression/globals.mlir
  iree/test/e2e/regression/scalar.mlir
  iree/test/e2e/regression/trace_dispatch_tensors.mlir
  iree/test/e2e/regression/unused_args.mlir
  iree/tools/iree-run-mlir-main.cc
  iree/tools/test/repeated_return.mlir
Labels: cla: yes, compiler, enhancement, performance

#3436 Mutex tracing namespace/typo fixes for the latest tracy version.
  iree/base/tracing.cc
Labels: cla: yes, runtime

#3417 Update get_e2e_artifacts to use new IREE flags
  scripts/get_e2e_artifacts.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3360 Add 'yapf: disable' to difficult-to-read tests
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#3439 Regenerate mnist.mlir and mnist_fake_weights.mlir from Colab.
  colab/mnist_tensorflow.ipynb
  iree/samples/models/mnist.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
Labels: cla: yes, colab, tensorflow

#3442 Moving hal.ex.dispatch to the runtime.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertTensorOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExperimentalOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/hal_module.cc
Labels: cla: yes, compiler, runtime

#3445 Use fmtstr instead of string::c_str().
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
Labels: cla: yes

#3440 Omit -lpthread on Android to fix building for ARM.
  iree/base/CMakeLists.txt
Labels: android, cla: yes, cmake

#3441 Remove args now auto injected
  integrations/tensorflow/compiler/dialect/tf_strings/ir/ops.td
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
Labels: cla: yes

#3444 Shuffling iree/vm/vm_c_funcs.h around and fixing a typo
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/empty_module.mlir
  iree/samples/emitc_modules/CMakeLists.txt
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/c_funcs.h
Labels: cla: yes, runtime

#3443 Adding -verify-each flag to iree-run-mlir.
  iree/tools/iree-run-mlir-main.cc
Labels: cla: yes, compiler

#3283 Implement executable linking in VMLA.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.h
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/test/i1_types.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Transforms/LinkExecutables.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
Labels: cla: yes, compiler

#3291 Add fusion on buffers to LinalgTileAndFuse Pass.
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
Labels: cla: yes

#3463 Fix threading_test: no-op iree_thread_set_priority_class on Android.
  iree/base/threading_pthreads.c
Labels: android, cla: yes, yolo

#3462 Merge main -> google
  integrations/tensorflow/compiler/dialect/tf_strings/ir/ops.td
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/vision_model_test.py
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.h
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/test/i1_types.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Transforms/LinkExecutables.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/empty_module.mlir
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/samples/emitc_modules/CMakeLists.txt
  iree/tools/iree-run-mlir-main.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/c_funcs.h
Labels: cla: yes

#3456 Propagate comparison errors into e2e test failures
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
Labels: cla: yes, integration, tensorflow

#3465 Update slim vision coverage
  integrations/tensorflow/e2e/slim_vision_models/BUILD
Labels: cla: yes, integration, tensorflow

#3473 Merge main -> google
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  iree/base/threading_pthreads.c
Labels: cla: yes

#3467 Improving VM arithmetic folding for add+sub and mul+mul.
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
Labels: cla: yes, compiler, performance

#3454 Add `iree_e2e_product_test_suite` to enable new test suites
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/iree_vision_test_suite.bzl
  integrations/tensorflow/e2e/keras/train/BUILD
  integrations/tensorflow/e2e/keras/train/README.md
  integrations/tensorflow/e2e/keras/train/iree_train_test_suite.bzl
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  integrations/tensorflow/e2e/slim_vision_models/README.md
  integrations/tensorflow/e2e/slim_vision_models/iree_slim_vision_test_suite.bzl
  scripts/update_e2e_coverage.py
Labels: bazel, cla: yes, integration, tensorflow

#3459 Fix CMake Android cross-compilation on Windows.
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/embed_data/CMakeLists.txt
Labels: android, cla: yes, cmake, windows

#3480 Create VMLA_FftOp and generate the lowering from VMLA_FftPseudoOp to it.
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/fft.mlir
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
Labels: cla: yes

#3486 Merge main -> google
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/embed_data/CMakeLists.txt
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/iree_vision_test_suite.bzl
  integrations/tensorflow/e2e/keras/train/BUILD
  integrations/tensorflow/e2e/keras/train/README.md
  integrations/tensorflow/e2e/keras/train/iree_train_test_suite.bzl
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  integrations/tensorflow/e2e/slim_vision_models/README.md
  integrations/tensorflow/e2e/slim_vision_models/iree_slim_vision_test_suite.bzl
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/fft.mlir
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  scripts/update_e2e_coverage.py
Labels: cla: yes

#3470 Reworks VMLA executable linking to optimize symbol walks.
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
Labels: cla: yes, compiler, performance

#3493 Remove old TODO for HAL_DRIVERS_TO_BUILD/TARGET_BACKENDS_TO_BUILD.
  CMakeLists.txt
Labels: cla: yes

#3494 Use IREE_RESTRICT macro instead of regular `restrict` keyword.
  iree/base/threading.c
Labels: cla: yes, windows

#3492 Fix keras BUILD file and add error checking.
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
Labels: bazel, cla: yes, integration, tensorflow

#3500 Avoid deadlock in get_e2e_artifacts
  scripts/utils.py
Labels: cla: yes

#3501 Use builtin dict.get instead of custom function
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
Labels: cla: yes

#3491 Make IREE thread/synchronization compile on macOS
  iree/base/synchronization.c
  iree/base/threading_darwin.c
Labels: cla: yes

#3446 [NFC] Fix error message in convertToHALModule
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes

#3508 Make BufferViewTrace dump as many values as possible.
  iree/modules/hal/hal_module.cc
Labels: cla: yes

#3474 Enable MobileBert test on llvmjit.
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, codegen

#3509 Add missing condition for aborting from Tile only pattern.
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
Labels: cla: yes

#3503 Examples of fusions added to close some issues.
  iree/compiler/Conversion/HLOToLinalg/test/fusion.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pipeline_test.mlir
Labels: cla: yes

#3496 Handle convolution with swapped input/output in kernel
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#3498 Working around lack of mlir symbol side effects for variable loads.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
Labels: cla: yes, compiler, performance

#3482 Add third_party/format_diff/ and github actions yapf linting
  .github/workflows/lint.yml
  bindings/python/build_tools/python/generate_build.py
  bindings/python/pyiree/rt/function_abi_test.py
  bindings/python/pyiree/rt/hal_test.py
  bindings/python/pyiree/rt/system_api.py
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  build_tools/docker/manage_images.py
  configure_bazel.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/signature_def_saved_model_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_driver.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/xla/compiler/__init__.py
  integrations/tensorflow/compiler/test/saved_model_adopt_exports.py
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/train_vision_models_on_cifar.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  packaging/python/common_setup.py
  packaging/python/setup_compiler.py
  packaging/python/setup_rt.py
  packaging/python/setup_tf.py
  scripts/add_license_header.py
  scripts/git/submodule_versions.py
  scripts/git/update_to_llvm_syncpoint.py
  scripts/prepare_doc_publication.py
  third_party/format_diff/README.md
  third_party/format_diff/format_diff.py
Labels: cla: yes, infrastructure

#3517 Fixing bug in Vulkan HAL that was not handling binding offsets.
  integrations/tensorflow/e2e/keras/BUILD
  iree/hal/vulkan/api.cc
  iree/hal/vulkan/api.h
  iree/hal/vulkan/descriptor_set_arena.cc
  iree/hal/vulkan/vulkan_driver_module.cc
Labels: bug, cla: yes, runtime, vulkan

#3422 [metal] Initial bring up: properly set workgroup size (8/n)
  docs/design_docs/metal_hal_driver.md
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.h
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_kernel_library.h
  iree/hal/metal/metal_kernel_library.mm
  iree/schemas/metal_executable_def.fbs
Labels: cla: yes, metal, runtime

#3519 Use python3's simplified super()
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/broadcast_to_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/complex_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/einsum_dynamic_test.py
  integrations/tensorflow/e2e/einsum_static_test.py
  integrations/tensorflow/e2e/einsum_vector_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/finite_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_dynamic_test.py
  integrations/tensorflow/e2e/matrix_ops_static_test.py
  integrations/tensorflow/e2e/mobile_bert_squad_test.py
  integrations/tensorflow/e2e/range_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#3520 Add more detail to Android benchmarking docs
  docs/developing_iree/benchmarking.md
  docs/developing_iree/e2e_benchmarking.md
Labels: cla: yes

#3513 Tweaks to e2e_benchmarking.md
  docs/developing_iree/e2e_benchmarking.md
Labels: cla: yes

#3528 Print command for fixing yapf linting errors on failure
  .github/workflows/lint.yml
Labels: cla: yes, infrastructure

#3531 Fix link flags with tracing.
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes

#3532 [SPIRV] Fix lowering of transfer_read for memref of vector
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#3534 better fix for tracing linkopts: local not global.
  build_tools/cmake/iree_copts.cmake
  iree/base/CMakeLists.txt
Labels: cla: yes

#3537 Clean up and fix some Bazel flags on Windows.
  build_tools/bazel/iree.bazelrc
  iree/base/BUILD
  iree/build_defs.oss.bzl
Labels: bazel, cla: yes, tensorflow, windows

#3471 Update AOT doc and CMakeLists.txt on Android
  CMakeLists.txt
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes

#3543 [doc] Replace deleted milestones.md with objectives.md
  scripts/prepare_doc_publication.py
Labels: cla: yes, documentation

#3530 [metal] Properly set resource index when cross compiling (9/9)
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#3541 Use a symlink instead of a copy for run_binary_test
  build_tools/bazel/run_binary_test.bzl
Labels: cla: yes

#3545 [vulkan] Bump target Vulkan API version
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/vulkan_driver.cc
Labels: cla: yes, runtime, vulkan

#3546 [vulkan] register more NVIDIA extensions
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.cpp
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: cla: yes

#3547 Adds CMake support for java bindings native code
  CMakeLists.txt
  bindings/java/CMakeLists.txt
  bindings/java/com/google/iree/native/CMakeLists.txt
  bindings/java/com/google/iree/native/instance_wrapper.cc
  bindings/javatests/CMakeLists.txt
  bindings/javatests/com/google/iree/CMakeLists.txt
  build_tools/cmake/iree_cross_compile.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: android, cla: yes, cmake

#3553 Merge main -> google
  .github/workflows/lint.yml
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/run_binary_test.bzl
  build_tools/cmake/iree_copts.cmake
  docs/developing_iree/e2e_benchmarking.md
  docs/get_started/getting_started_android_cmake.md
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/build_defs.oss.bzl
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.cpp
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/vulkan_driver.cc
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  scripts/prepare_doc_publication.py
Labels: cla: yes

#3558 E2E infrastructure/testing for fft. The kernel is currently empty, wi…
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/fft_test.py
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
Labels: cla: yes

#3560 Tracing improvements for the VM, executables, and iree-benchmark-module.
  iree/base/api.h
  iree/base/flatbuffer_util.cc
  iree/base/tracing.h
  iree/hal/device_manager.cc
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/dylib_executable.h
  iree/hal/host/BUILD
  iree/hal/host/CMakeLists.txt
  iree/hal/host/host_buffer.cc
  iree/hal/vmla/vmla_executable.cc
  iree/modules/hal/hal_module.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/instance.c
  iree/vm/module.c
  iree/vm/stack.c
  iree/vm/stack.h
Labels: cla: yes, performance, runtime

#3564 Merge main -> google
  CMakeLists.txt
  bindings/java/CMakeLists.txt
  bindings/java/com/google/iree/native/CMakeLists.txt
  bindings/java/com/google/iree/native/instance_wrapper.cc
  bindings/javatests/CMakeLists.txt
  bindings/javatests/com/google/iree/CMakeLists.txt
  build_tools/cmake/iree_cross_compile.cmake
  docs/get_started/cmake_options_and_variables.md
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/fft_test.py
  iree/base/api.h
  iree/base/flatbuffer_util.cc
  iree/base/tracing.h
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/device_manager.cc
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/dylib_executable.h
  iree/hal/host/BUILD
  iree/hal/host/CMakeLists.txt
  iree/hal/host/host_buffer.cc
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_executable.cc
  iree/hal/vmla/vmla_module.cc
  iree/modules/hal/hal_module.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/instance.c
  iree/vm/module.c
  iree/vm/stack.c
  iree/vm/stack.h
Labels: cla: yes

#3567 Adding noinline (and sym_visibility=private) to bert w/ fake weights.
  iree/test/e2e/models/bert_encoder_unrolled_fake_weights.mlir
Labels: cla: yes

#3527 Move Vulkan HAL flags into vulkan_driver_module.cc.
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/api.cc
  iree/hal/vulkan/vma_allocator.cc
  iree/hal/vulkan/vma_allocator.h
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_device.h
  iree/hal/vulkan/vulkan_driver.cc
  iree/hal/vulkan/vulkan_driver.h
  iree/hal/vulkan/vulkan_driver_module.cc
Labels: cla: yes, runtime, vulkan

#3569 Added a TF2XLA Lowering that includes XLA folders
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/LegalizeTF.cpp
  integrations/tensorflow/compiler/test/legalize-tf.mlir
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes

#3551 Implement executable linking in LLVM (IR and AOT).
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/binaryop_test.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
Labels: cla: yes, compiler, llvm

#3574 [NFC] Make header defines match file path.
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
Labels: cla: yes

#3194 Add LoadStoreVectorizationPass to GPU pipeline as default
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/compare.mlir
  iree/test/e2e/vulkan_specific/log_plus_one.mlir
Labels: cla: yes

#3581 Merge main -> google
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/__init__.py
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/LegalizeTF.cpp
  integrations/tensorflow/compiler/test/legalize-tf.mlir
  integrations/tensorflow/e2e/BUILD
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/binaryop_test.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/api.cc
  iree/hal/vulkan/vma_allocator.cc
  iree/hal/vulkan/vma_allocator.h
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_device.h
  iree/hal/vulkan/vulkan_driver.cc
  iree/hal/vulkan/vulkan_driver.h
  iree/hal/vulkan/vulkan_driver_module.cc
  iree/test/e2e/models/bert_encoder_unrolled_fake_weights.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/compare.mlir
  iree/test/e2e/vulkan_specific/log_plus_one.mlir
Labels: cla: yes

#3571 Check changed files with pytype on github actions
  .github/workflows/lint.yml
  .gitignore
  build_tools/pytype/check_diff.sh
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
Labels: cla: yes, infrastructure, integration

#3586 Revert "Add LoadStoreVectorizationPass to GPU pipeline as default (#3194)"
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/compare.mlir
  iree/test/e2e/vulkan_specific/log_plus_one.mlir
Labels: cla: yes

#3572 Added a pass to validate TF has been lowered away
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/CheckNoTF.cpp
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/Passes.h
  integrations/tensorflow/compiler/test/check-no-tf.mlir
  integrations/tensorflow/compiler/test/saved_model_adopt_exports.py
Labels: cla: yes

#3542 Enable MobilerBert test on vulkan.
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, integration, tensorflow

#3583 Update test suites in get_e2e_artifacts.py
  scripts/get_e2e_artifacts.py
Labels: benchmarking, cla: yes, integration, tensorflow

#3587 Add patterns to vectorToGPU pass
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/vector_to_gpu.mlir
Labels: cla: yes

#3592 Forward logging.cc log messages to Tracy.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/logging.cc
  iree/base/tracing.h
Labels: cla: yes, performance

#3593 Add VectorToSPIRV patterns to ConvertToSPIRVPass
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
Labels: cla: yes

#3591 Refactor Model builder MatMul GPU benchmark to support multiple strategy
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
Labels: cla: yes

#3594 Merge main -> google
  .github/workflows/lint.yml
  .gitignore
  build_tools/pytype/check_diff.sh
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/CheckNoTF.cpp
  integrations/tensorflow/compiler/Passes.cpp
  integrations/tensorflow/compiler/Passes.h
  integrations/tensorflow/compiler/test/check-no-tf.mlir
  integrations/tensorflow/compiler/test/saved_model_adopt_exports.py
  integrations/tensorflow/e2e/BUILD
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/logging.cc
  iree/base/tracing.h
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vector_to_gpu.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/compare.mlir
  iree/test/e2e/vulkan_specific/log_plus_one.mlir
  scripts/get_e2e_artifacts.py
Labels: cla: yes

#3595 Revise profiling.md, tweaking language and adding more Tracy details.
  docs/developing_iree/profiling.md
Labels: cla: yes, documentation, performance

#3597 Standardization pass through docs/ folder.
  docs/developing_iree/contributor_tips.md
  docs/developing_iree/developer_overview.md
  docs/developing_iree/e2e_benchmarking.md
  docs/developing_iree/profiling.md
  docs/developing_iree/repository_management.md
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_linux_bazel.md
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_linux_vulkan.md
  docs/get_started/getting_started_macos_bazel.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_cmake.md
  docs/get_started/getting_started_windows_vulkan.md
  docs/using_iree/using_colab.md
Labels: cla: yes, documentation

#3523 Sinks single uses of ops in the entry block to their use.
  iree/compiler/Dialect/HAL/Target/VMLA/test/smoketest.mlir
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/Passes.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.h
  iree/compiler/Dialect/VM/Transforms/SinkDefiningOps.cpp
  iree/compiler/Dialect/VM/Transforms/test/sink_defining_ops.mlir
Labels: cla: yes, compiler

#3578 Move torch_index_select op lowering to Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/torch_index_select.mlir
Labels: cla: yes

#3431 Add a translation to export all dispatch functions.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CreateFuncsToInvokeExecOps.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstantsPass.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/create_funcs_to_invoke_exec_ops.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
Labels: cla: yes

#3602 Enable log messages in tracing with IREE_TRACING_MODE = 1.
  iree/base/tracing.h
Labels: cla: yes, performance

#3598 Rework windows Bazel config
  bindings/python/build_defs.oss.bzl
  build_tools/bazel/iree.bazelrc
  iree/base/BUILD
Labels: bazel, cla: yes, windows

#3603 Merge main -> google
  bindings/python/build_defs.oss.bzl
  build_tools/bazel/iree.bazelrc
  docs/developing_iree/contributor_tips.md
  docs/developing_iree/developer_overview.md
  docs/developing_iree/e2e_benchmarking.md
  docs/developing_iree/profiling.md
  docs/developing_iree/repository_management.md
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_linux_bazel.md
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_linux_vulkan.md
  docs/get_started/getting_started_macos_bazel.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_cmake.md
  docs/get_started/getting_started_windows_vulkan.md
  docs/using_iree/using_colab.md
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/base/BUILD
  iree/base/tracing.h
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/torch_index_select.mlir
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CreateFuncsToInvokeExecOps.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstantsPass.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/create_funcs_to_invoke_exec_ops.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/test/smoketest.mlir
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/Passes.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.h
  iree/compiler/Dialect/VM/Transforms/SinkDefiningOps.cpp
  iree/compiler/Dialect/VM/Transforms/test/sink_defining_ops.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
Labels: cla: yes

#3610 Remove sklearn dependency and run training tests on CI
  build_tools/pytype/check_diff.sh
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/keras/train/BUILD
  integrations/tensorflow/e2e/keras/train/README.md
  integrations/tensorflow/e2e/keras/train/classification_training_test.py
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/keras/train/regression_training_test.py
Labels: cla: yes, infrastructure, integration, tensorflow

#3540 Adjust configuration used for matmul vectorization.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_subgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization_licm.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/Vulkan/Utils/TargetEnvUtils.cpp
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
Labels: cla: yes

#3616 Add a pass to canonicalize ops used as loop carried values by scf.for
  iree/compiler/Conversion/CodegenUtils/BUILD
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
  iree/compiler/Conversion/CodegenUtils/ForOpCanonicalization.cpp
  iree/compiler/Conversion/CodegenUtils/ForOpCanonicalization.h
  iree/compiler/Conversion/LinalgToSPIRV/test/forop_canonicalization.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#3626 Add missing change from PR 3540
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
Labels: cla: yes

#3627 Address review comment from PR3616
  iree/compiler/Conversion/CodegenUtils/ForOpCanonicalization.cpp
Labels: cla: yes

#3632 Revert #3585
  iree/compiler/Conversion/CodegenUtils/BUILD
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.cpp
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/DeclareNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/Common/LegalizeNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/Attributes.h
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/IR/LLVMIRTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.h
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/hal/dylib/dylib_executable.cc
  iree/hal/llvmjit/llvmjit_executable.cc
  iree/test/e2e/llvmir_specific/BUILD
  iree/test/e2e/llvmir_specific/CMakeLists.txt
  iree/test/e2e/llvmir_specific/dot.mlir
Labels: cla: yes

#3637 Remove undeleted print statement
  integrations/tensorflow/e2e/keras/train/classification_training_test.py
Labels: cla: yes, integration, tensorflow

#3628 Fix tf_utils usage in resnet.ipynb.
  colab/resnet.ipynb
Labels: cla: yes, colab

#3630 Add resnet_fake_weights.mlir test file.
  iree/test/e2e/models/resnet_fake_weights.mlir
Labels: cla: yes, infrastructure

#3636 Added tests for missing TF op lowerings, currently disabled
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/batch_to_space_nd_test.py
  integrations/tensorflow/e2e/conv_transpose_test.py
  integrations/tensorflow/e2e/space_to_batch_nd_test.py
Labels: cla: yes, tensorflow

#3629 Add a development pass for replacing flow.variables with splats.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/StripAndSplatConstantVariables.cpp
  iree/compiler/Dialect/Flow/Transforms/test/strip_and_splat_constant_variables.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
Labels: cla: yes, infrastructure

#3478 Open Source KWS Streaming Tests
  WORKSPACE
  build_tools/third_party/kws_streaming/BUILD.overlay
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3642 Rename 'external' to 'non_hermetic' in Keras BUILD files
  docs/developing_iree/e2e_benchmarking.md
  integrations/tensorflow/e2e/keras/BUILD
  scripts/get_e2e_artifacts.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3644 Fixup for #3634
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
Labels: cla: yes, infrastructure

#3646 Fix CMake sample commands in documentation.
  docs/developing_iree/developer_overview.md
  docs/developing_iree/testing_guide.md
Labels: cla: yes, cmake, documentation
