Repository iree-org/iree, pull requests merged in 2020-11, with the labels that each got.

#3673 Add script to symbolize android stacks, particularly for use with Asan.
  scripts/android_symbolize.sh
Labels: android, cla: yes

#3664 Add an "executable tutorial" going from zero to tracy on android
  scripts/android_tracy_tutorial.sh
Labels: android, cla: yes

#3690 Forward some more CMake variables to host builds.
  build_tools/cmake/iree_cross_compile.cmake
Labels: cla: yes

#3688 Build simplification making sanitizer builds work on android
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes, cmake

#3694 Resize that vector before writing to it.
  iree/hal/dylib/dylib_executable.cc
Labels: cla: yes

#3693 Put sanitizer flags in global CMake variables, affecting all code
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/sanitizers.cmake
Labels: cla: yes

#3697 Add support for creating benchmark functions that have multiple blocks.
  iree/compiler/Dialect/Flow/Transforms/CreateBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/test/create_benchmark_funcs.mlir
Labels: cla: yes

#3689 Add a IREE_ENABLE_CCACHE build option. OFF by default.
  CMakeLists.txt
Labels: cla: yes, cmake

#3695 Silence remaining host-only warnings in Bazel build
  build_tools/bazel/iree.bazelrc
Labels: bazel, cla: yes, infrastructure

#3700 Merge main -> google
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/cmake/sanitizers.cmake
  iree/compiler/Dialect/Flow/Transforms/CreateBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/test/create_benchmark_funcs.mlir
  iree/hal/dylib/dylib_executable.cc
  scripts/android_symbolize.sh
  scripts/android_tracy_tutorial.sh
Labels: cla: yes

#3704 Fix function declaration to match definition for link error.
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
Labels: cla: yes

#3711 Use simpler MlirOptMain in iree-opt
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Dialect/Flow/Analysis/test/dispatchability.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_regions.mlir
  iree/compiler/Dialect/Flow/IR/test/variable_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions_ranked_dynamic.mlir
  iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/attributes.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/experimental_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/test/inline_device_switches.mlir
  iree/compiler/Dialect/HAL/Transforms/test/resolve_entry_point_ordinals.mlir
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_dynamic_dims.mlir
  iree/compiler/Dialect/Shape/Transforms/test/hoist_shape_calculations.mlir
  iree/compiler/Dialect/Shape/Transforms/test/materialize_shape_calculations.mlir
  iree/compiler/Dialect/VM/IR/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Transforms/test/sink_defining_ops.mlir
  iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  iree/tools/iree-opt-main.cc
Labels: cla: yes

#3713 fix a trivial problem in macos guide
  docs/get_started/getting_started_macos_cmake.md
Labels: cla: yes

#3708 Add support for stdin to iree-benchmark-module
  iree/test/e2e/regression/executable_benchmark.mlir
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/test/benchmark_flags.txt
  iree/tools/test/multiple_args.mlir
  iree/tools/test/multiple_exported_functions.mlir
  iree/tools/test/repeated_return.mlir
  iree/tools/test/scalars.mlir
  iree/tools/test/simple.mlir
Labels: cla: yes

#3706 Simplify model initialization for kws streaming tests
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
Labels: cla: yes, integration, tensorflow

#3720 Force fetch tags from llvm-bazel
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#3724 Add missing dependency on tensorflow_hub to slim_vision_tests
  integrations/tensorflow/e2e/slim_vision_models/BUILD
Labels: cla: yes, integration, tensorflow

#3721 Enable newly passing 'svdf_resnet' and 'xception' kws tests on IREE
  integrations/tensorflow/e2e/keras/BUILD
Labels: cla: yes, integration, tensorflow

#3723 Add (disabled) tests of KWS external streaming.
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
Labels: cla: yes, integration, tensorflow

#3722 Run CSE after FusionOnTensor
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
Labels: cla: yes

#3727 Refactor shared functionality out of IREE tools
  bindings/python/pyiree/compiler/BUILD
  bindings/python/pyiree/compiler/CMakeLists.txt
  bindings/python/pyiree/compiler/compiler.cc
  integrations/tensorflow/compiler/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/test/convert_tf_to_tf_tensorlist.mlir
  integrations/tensorflow/compiler/iree-tf-opt-main.cc
  iree/samples/custom_modules/dialect/BUILD
  iree/samples/custom_modules/dialect/CMakeLists.txt
  iree/samples/custom_modules/dialect/custom-opt-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_dialects.h
  iree/tools/init_iree_passes.h
  iree/tools/init_passes.h
  iree/tools/iree-opt-main.cc
  iree/tools/iree-run-mlir-main.cc
Labels: cla: yes

#3682 Relax TorchIndexSelectOp to fuse with other ops.
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
Labels: cla: yes

#3681 Miscellaneous fixes to address issues seen with vectorization.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
Labels: cla: yes

#3726 Add directory structure for kws streaming artifacts.
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
  scripts/get_e2e_artifacts.py
Labels: cla: yes, integration, tensorflow

#3731 Revert "Relax TorchIndexSelectOp to fuse with other ops."
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
Labels: cla: yes

#3732 Add LinalgOp vectorization in TileAndFuse pass for SPIR-V
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
Labels: cla: yes

#3710 Add a pass to tile and vectorize workgroup tiles.
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.cpp
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.h
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/MatMulVectorization.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/test/e2e/llvmir_specific/BUILD
  iree/test/e2e/llvmir_specific/CMakeLists.txt
  iree/test/e2e/llvmir_specific/dot.mlir
Labels: cla: yes

#3674 [spirv] Consolidate command-line option usage
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
Labels: cla: yes

#3738 Clarify behavior of iree-translate
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#3739 Fix command-line option in test
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
Labels: cla: yes

#3734 Ignore to vectorize constants only generic op in LoadStoreVectorization
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_ops.mlir
Labels: cla: yes

#3740 Avoid reading command-line flags in various VM related passes
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.cpp
  iree/compiler/Dialect/HAL/Transforms/IdentifyConstantPools.cpp
  iree/compiler/Dialect/HAL/Transforms/LinkExecutables.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/SerializeExecutables.cpp
  iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/TypeConverter.h
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
Labels: cla: yes

#3750 Add 'deep_copy' to bazel to allow variable reuse
  build_tools/bazel/deep_copy.bzl
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
Labels: bazel->cmake, cla: yes, integration

#3751 Remove unused deps from kws test
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
Labels: cla: yes, integration, tensorflow

#3755 Create template for Bug Reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla: yes

#3741 Adopt pipeline-in-a-pass infra
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.h
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.h
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
Labels: cla: yes

#3753 Add static, dynamic and training tests for all tf.keras.layers
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/layers_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  scripts/get_e2e_artifacts.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3745 [spirv] Use addNestedPass<FuncOp>() for passes working on functions
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
Labels: cla: yes

#3759 Add "TensorFlow Coverage" Subpage and adjust style
  _sass/custom/custom.scss
  docs/tensorflow_coverage/index.md
  docs/tf_e2e_coverage.md
Labels: cla: yes, documentation, integration, tensorflow

#3758 Separate tensorflow coverage into multiple pages
  scripts/prepare_doc_publication.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, documentation, integration, tensorflow

#3702 Deduplicate flow.executable ops during Flow dialect transformation.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
Labels: cla: yes, compiler, performance

#3716 Refactor to use upstream MHLO targets
  CMakeLists.txt
  build_tools/cmake/external_tablegen_library.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/third_party/tensorflow/tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: cla: yes

#3779 Merge main -> google
  CMakeLists.txt
  build_tools/cmake/external_tablegen_library.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/third_party/tensorflow/tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: cla: yes

#3692 [spirv] Handle resource variable aliases
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#3782 Add decorator for generating unittests from tf.functions
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/bool_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/layers_test.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3790 Remove dead Alloca from function to compute number of workgroups.
  iree/compiler/Conversion/Common/LegalizeNumWorkgroupsFnPass.cpp
Labels: cla: yes

#3791 Merge main -> google
  iree/compiler/Conversion/Common/LegalizeNumWorkgroupsFnPass.cpp
Labels: cla: yes

#3799 Fix vm-ir-to-c-module pass
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#3796 Remove comma in string concatenation
  scripts/update_e2e_coverage.py
Labels: cla: yes, documentation

#3776 Silence some CMake/Linux warnings in VMA.
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/internal_vk_mem_alloc.cc
Labels: cla: yes, cmake

#3767 Ensure TF to TF Lowering executes greedily to guarantee execution
  integrations/tensorflow/compiler/LegalizeTF.cpp
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/batch_to_space_nd_test.py
Labels: cla: yes

#3807 Revert "Update Vulkan SDK within CI docker images"
  WORKSPACE
  build_tools/docker/bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/bazel-tensorflow-vulkan/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/vulkan/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#3793 Test negative numbers in our e2e tests
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/slim_vision_models/BUILD
Labels: cla: yes, infrastructure, integration, tensorflow

#3806 Update tests to eliminate public function declarations.
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/Flow/IR/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/variable_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Transforms/test/mark_public_symbols_exported.mlir
Labels: cla: yes

#3787 Add colors to our kokoro bazel logs
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_core.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/kokoro/gcp_ubuntu/simulate_kokoro.sh
Labels: bazel, cla: yes, infrastructure

#3809 [spirv] Pass spirv::TargetEnv to OpLaunchConfig functions
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#3765 Fix return during loop in executable deduping.
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
Labels: cla: yes

#3815 Add shape lowerings for a few missing operations.
  iree/compiler/Dialect/Shape/Conversion/ConvertShapeToShapex.cpp
  iree/compiler/Dialect/Shape/Conversion/test/shape_to_shapex.mlir
Labels: cla: yes

#3801 Add an IREE test for image resize (nearest neighbor)
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/image_resize_test.py
Labels: cla: yes

#3816 Update ModelBuilder to mark function declarations private.
  experimental/ModelBuilder/ModelBuilder.cpp
  experimental/ModelBuilder/VulkanWrapperPass.cpp
Labels: cla: yes

#3838 [NFC] Adopt SymbolOpInterface set[Public/Private/Nested] methods
  integrations/tensorflow/compiler/TFSavedModelLowerGlobalTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/CreateBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstantsPass.cpp
  iree/compiler/Dialect/Flow/Transforms/StripAndSplatConstantVariables.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertVariableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertConstantOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Transforms/IdentifyConstantPools.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeConstantPoolBuffers.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  iree/compiler/Dialect/HAL/Transforms/PackConstantPoolStorage.cpp
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
Labels: cla: yes

#3855 Fix submodule action by changing how environment variables are set
  .github/workflows/synchronize_submodules.yml
Labels: cla: yes

#3857 Fix remaining github action environment failure issue
  .github/workflows/publish_docs.yml
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#3860 Merge main -> google
  .github/workflows/publish_docs.yml
  .github/workflows/synchronize_submodules.yml
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#3869 Fixed yaml for synchronize submodules.
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#3861 Fix a check bug in doesValueDependOnOperation.
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
Labels: cla: yes

#3769 Roll up of improvements made during threading work
  iree/base/api.c
  iree/base/api.h
  iree/base/atomics.h
  iree/base/internal/status_builder.cc
  iree/base/synchronization.h
  iree/base/target_platform.h
  iree/base/threading.c
  iree/base/threading.h
  iree/base/threading_darwin.c
  iree/base/threading_pthreads.c
  iree/base/threading_win32.c
  iree/base/tracing.h
  iree/hal/api.cc
  iree/hal/api.h
  iree/hal/command_buffer.h
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/dylib_executable.h
  iree/vm/stack.h
Labels: cla: yes, runtime

#3841 Porting iree::WaitHandle to C and adding Windows support.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.c
  iree/base/api.h
  iree/base/wait_handle.c
  iree/base/wait_handle.cc
  iree/base/wait_handle.h
  iree/base/wait_handle_epoll.c
  iree/base/wait_handle_kqueue.c
  iree/base/wait_handle_poll.c
  iree/base/wait_handle_posix.c
  iree/base/wait_handle_posix.h
  iree/base/wait_handle_test.cc
  iree/base/wait_handle_win32.c
Labels: cla: yes, performance, runtime, windows

#3884 Disable WAIT_TYPE_SYNC_FILE until include issues on CI are resolved.
  iree/base/wait_handle.h
Labels: android, cla: yes

#3885 Fix-forward sync.h include on Android.
  iree/base/wait_handle.h
  iree/base/wait_handle_posix.c
Labels: android, cla: yes

#3891 Fix missing semicolon with tracing enabled.
  iree/vm/stack.h
Labels: cla: yes

#3757 Landing support for the LLVM AOT backend on Windows
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_windows_cmake.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/LLVMAOTTargetLinker.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/LinkerTools.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/WindowsLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/hal/dylib/dylib_executable.cc
  iree/vm/stack.h
  scripts/update_e2e_coverage.py
Labels: cla: yes, codegen, compiler, enhancement, windows

#3876 Relax SliceOp to being able to be a root op.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.h
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
  iree/test/e2e/regression/slice_add.mlir
Labels: cla: yes

#3897 Add Half library to third_party
  third_party/half/LICENSE
  third_party/half/README.txt
  third_party/half/UPDATING.md
  third_party/half/half.hpp
Labels: cla: yes

#3900 Set target triple so MSVC "CodeView" flag is set.
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
Labels: cla: yes, compiler

#3901 Merge main -> google
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_windows_cmake.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  iree/base/wait_handle.h
  iree/base/wait_handle_posix.c
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Utils.h
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.h
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/LLVMAOTTargetLinker.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/LinkerTools.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/WindowsLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMBaseTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/hal/dylib/dylib_executable.cc
  iree/test/e2e/regression/slice_add.mlir
  iree/vm/stack.h
  scripts/update_e2e_coverage.py
Labels: cla: yes

#3905 Don't return early when iree-llvm-keep-linker-artifacts
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/LLVMAOTTarget.cpp
Labels: cla: yes

#3882 Add new tile size for fp16 and fallback if vectorization is not possible
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
Labels: cla: yes

#3826 Centralize tf.math coverage and expand to all functions
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/complex_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/layers_test.py
  integrations/tensorflow/e2e/logical_ops_test.py
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/math_test.py
  integrations/tensorflow/e2e/math_dyn_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/quantization_dyn_test.py
  integrations/tensorflow/e2e/quantization_test.py
  scripts/update_e2e_coverage.py
Labels: cla: yes, integration, tensorflow

#3906 Add bazel and cmake files for Half lib
  CMakeLists.txt
  WORKSPACE
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/half/BUILD.overlay
  build_tools/third_party/half/CMakeLists.txt
Labels: cla: yes

#3913 Disable added llvmjit tests with github issue
  integrations/tensorflow/e2e/math/BUILD
Labels: cla: yes, integration, tensorflow

#3902 Restructure e2e/tests and add tests.
  iree/test/e2e/regression/slice_add.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/gather_concat.mlir
  iree/test/e2e/structural/slice_add.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/gather_concat.mlir
Labels: cla: yes

#3896 Add and/or reduce support to VMLA
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/reduce_test.py
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertReductionOps.cpp
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
Labels: cla: yes

#3926 Mark mod as failing on Vulkan
  integrations/tensorflow/e2e/math/BUILD
Labels: cla: yes

#3927 Explicitly set python_version in new Python tests
  integrations/tensorflow/e2e/math/BUILD
Labels: cla: yes

#3915 Improve memref vectorization to not use larger type if not needed
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
Labels: cla: yes

#3930 Shard TF math tests
  integrations/tensorflow/e2e/math/BUILD
Labels: cla: yes

#3916 Refactor trace_utils and module_utils out of tf_test_utils/tf_utils
  colab/edge_detection.ipynb
  colab/mnist_tensorflow.ipynb
  colab/resnet.ipynb
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/trace_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/trace_utils_test.py
  integrations/tensorflow/e2e/README.md
Labels: cla: yes, integration, tensorflow

#3938 [doc] Use v3 Ninja setup to unbreak doc publication
  .github/workflows/publish_docs.yml
Labels: cla: yes

#3877 [spirv] Add patterns for folding processor ID uses
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/fold-gpu-procid-uses.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#3944 Merge main -> google
  .github/workflows/publish_docs.yml
  colab/edge_detection.ipynb
  colab/mnist_tensorflow.ipynb
  colab/resnet.ipynb
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/trace_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/trace_utils_test.py
  integrations/tensorflow/e2e/README.md
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/fold-gpu-procid-uses.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#3935 Use UnitTestSpec in tf.keras.layers tests
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/layers_test.py
Labels: cla: yes, integration, tensorflow

#3917 Adding iree_atomic_slist_t type.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/alignment.h
  iree/base/atomic_slist.c
  iree/base/atomic_slist.h
  iree/base/atomic_slist_test.cc
Labels: cla: yes, runtime

#3956 Update links to coverage tables
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/slim_vision_models/BUILD
Labels: cla: yes, documentation, integration, tensorflow

#3962 Fix MacOS builds after hack-and-slash PR
  iree/base/wait_handle_impl.h
  iree/hal/metal/CMakeLists.txt
  iree/hal/metal/metal_command_buffer.mm
  iree/hal/metal/metal_kernel_library.mm
Labels: cla: yes, hal/metal, platform/macos

#3961 Remove no-longer-functional flag
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  scripts/get_e2e_artifacts.py
Labels: cla: yes, integrations, integrations/tensorflow

#3701 Adding a demonstration of using the flow dialect post-partitioning.
  iree/test/e2e/hackability/BUILD
  iree/test/e2e/hackability/CMakeLists.txt
  iree/test/e2e/hackability/flow_partitioned.mlir
Labels: cla: yes, compiler

#3943 Disable MLIR crash reproducer on CI in python tests.
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
Labels: cla: yes

#3987 Always emitting framepointers in generated ELFs
  iree/compiler/Dialect/HAL/Target/LLVM/AOT/internal/UnixLinkerTool.cpp
Labels: cla: yes, compiler, performance

#3983 Fixup EmitC include directories
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes

#4005 Changing iree/base/math.h to C and adding some PRNG routines.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/math.h
  iree/base/math_test.cc
  iree/hal/vulkan/descriptor_set_arena.cc
  iree/hal/vulkan/vulkan_device.cc
  iree/vm/bytecode_dispatch.c
Labels: cla: yes, runtime

#3997 Add vectorization support for batch_matmul op
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
Labels: cla: yes

#4013 support running as root on android.
  iree/base/internal/file_io_posix.cc
Labels: cla: yes

#4014 Update docs to recommend enabling/disabling assertions globally.
  docs/get_started/getting_started_linux_bazel.md
  docs/get_started/getting_started_macos_bazel.md
Labels: cla: yes, documentation ✏️, infrastructure/bazel

#3165 Update Linux docs to include an LLVM AOT example
  docs/get_started/getting_started_linux_cmake.md
Labels: cla: yes, documentation ✏️

#4031 Fix VectorizeMemref out-of-bound access
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
Labels: cla: yes

#4030 Add missing mkdir to fix building and publishing documentation
  build_tools/cmake/build_docs.sh
Labels: cla: yes

#4029 Sort add_subdirectory and remove todo given it's fixed now
  iree/tools/CMakeLists.txt
Labels: cla: yes

#3920 [llvm] Add a PlanConvLoopOrder pass
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/PlanConvLoopOrder.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/plan-conv-loop-order.mlir
Labels: cla: yes

#3946 Upgrade PR action to v3
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#3947 Use subprocess.run and types in manage_images.py
  build_tools/docker/manage_images.py
Labels: cla: yes, infrastructure 🛠️

#3960 Remove hacky overriding of module names
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/e2e/keras/keyword_spotting_streaming_test.py
  integrations/tensorflow/e2e/keras/layers/layers_test.py
  integrations/tensorflow/e2e/keras/train/classification_training_test.py
  integrations/tensorflow/e2e/keras/train/regression_training_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/math/math_test.py
  integrations/tensorflow/e2e/slim_vision_models/slim_vision_model_test.py
Labels: cla: yes, integrations, integrations/tensorflow

#3941 Tensorlist refactor to remove shape input and support empty reserve behavior
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/BUILD
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_flow_to_hal.cc
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.cc
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.td
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/test/convert_flow_to_hal.mlir
  integrations/tensorflow/compiler/dialect/tf_tensorlist/conversion/test/convert_tf_to_tf_tensorlist.mlir
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/test/ops.mlir
  integrations/tensorflow/compiler/dialect/tf_tensorlist/ir/tf_tensorlist_ops.td
  integrations/tensorflow/e2e/tensorlist_test.py
  iree/compiler/Dialect/Modules/TensorList/Conversion/test/convert_hal_to_vm.mlir
  iree/compiler/Dialect/Modules/TensorList/IR/TensorListOps.cpp
  iree/compiler/Dialect/Modules/TensorList/IR/TensorListOps.td
  iree/compiler/Dialect/Modules/TensorList/IR/test/ops.mlir
  iree/compiler/Dialect/Modules/TensorList/tensorlist.imports.mlir
  iree/modules/tensorlist/native_module.cc
  iree/modules/tensorlist/tensorlist_test.cc
  iree/modules/tensorlist/tensorlist_test.mlir
Labels: cla: yes, integrations/tensorflow

#3955 Add file to track docker :prod digests
  build_tools/docker/README.md
  build_tools/docker/__init__.py
  build_tools/docker/manage_images.py
  build_tools/docker/manage_prod.py
  build_tools/docker/prod_digests.txt
  build_tools/docker/utils.py
Labels: cla: yes, infrastructure 🛠️
