Repository iree-org/iree, pull requests merged in 2020-07, with the labels that each got.

#2363 [cmake] Support running tests on Android device with ctest
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/run_android_test.bat
  build_tools/cmake/run_android_test.ps1
  build_tools/cmake/run_android_test.sh
Labels: cla: yes

#2368 Merge main -> google
  CMakeLists.txt
  build_tools/bazel/build_tensorflow.sh
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/bazel_bindings/Dockerfile
  build_tools/docker/bazel_tensorflow/Dockerfile
  build_tools/docker/cmake/Dockerfile
  docs/GetStarted/cmake_options_and_variables.md
  docs/GetStarted/getting_started_android_cmake.md
  docs/GetStarted/getting_started_windows_vulkan.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/iree_e2e_test_suite.bzl
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/iree_vision_test_suite.bzl
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/iree_train_test_suite.bzl
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes

#2376 Fix syntax in TF submodule update action
  .github/workflows/update_tf.yml
Labels: cla: yes

#2373 [cmake] Enable iree-check-module tests for Android
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/run_android_test.ps1
  build_tools/cmake/run_android_test.sh
Labels: cla: yes, cmake, infrastructure

#2386 Add a documentation for android llvm aot
  docs/GetStarted/getting_started_android_cmake.md
Labels: cla: yes, documentation

#2380 [doc] Update doc regarding testing on Android
  docs/GetStarted/getting_started_android_cmake.md
Labels: cla: yes, cmake, documentation

#2379 [vulkan] Use LD_LIBRARY_PATH to redirect libvulkan.so for tests
  build_tools/cmake/run_android_test.ps1
  build_tools/cmake/run_android_test.sh
Labels: cla: yes

#2357 [ci] Add Kokoro configuration for Android CMake cross-compilation
  build_tools/cmake/build_android.sh
  build_tools/docker/cmake_android/Dockerfile
  build_tools/docker/cmake_android/gcr_update.sh
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/common.cfg
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/continuous.cfg
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/google.cfg
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/main.cfg
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/presubmit.cfg
  kokoro/gcp_ubuntu/cmake/android/build.sh
Labels: cla: yes, cmake, infrastructure

#2342 Add CMake build for ModelBuilder project
  CMakeLists.txt
  experimental/CMakeLists.txt
  experimental/ModelBuilder/BUILD
  experimental/ModelBuilder/CMakeLists.txt
  experimental/ModelBuilder/ModelBuilder.cpp
  experimental/ModelBuilder/ModelBuilder.h
  experimental/ModelBuilder/test/BUILD
  experimental/ModelBuilder/test/BenchMatMulVectorColumnMajorLLVMIntrinsicsJIT.cpp
  experimental/ModelBuilder/test/BenchMatMulVectorJIT.cpp
  experimental/ModelBuilder/test/BenchMatVecVectorJIT.cpp
  experimental/ModelBuilder/test/CMakeLists.txt
  experimental/ModelBuilder/test/TestDotProdJIT.cpp
  experimental/ModelBuilder/test/TestMNISTJIT.cpp
  experimental/ModelBuilder/test/TestMatMulVulkan.cpp
  experimental/ModelBuilder/test/TestSimpleJIT.cpp
  experimental/ModelBuilder/test/TestSimpleJITVulkan.cpp
  experimental/ModelBuilder/test/TestSimpleMLIR.cpp
  experimental/ModelBuilder/test/TestVectorToGPU.cpp
  experimental/ModelBuilder/test/TestVectorTransfersJIT.cpp
Labels: cla: yes

#2388 Update IREE-Architecture
  docs/IREE-Architecture.svg
Labels: cla: yes, documentation

#2390 Update documentations for dylib-llvm-aot android
  docs/GetStarted/getting_started_android_cmake.md
Labels: documentation

#2406 Use new iree_py_binary macro so that legacy_create_init gets set prop…
  .bazelrc
  bindings/python/build_defs.oss.bzl
  integrations/tensorflow/e2e/BUILD
Labels: bazel, cla: yes, tensorflow

#2409 Fix typo in submodule bump action
  .github/workflows/update_tf.yml
Labels: cla: yes

#2400 Refactor TensorFlow CMakeLists
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/third_party/tensorflow/tensorflow/compiler/mlir/hlo/CMakeLists.txt
  build_tools/third_party/tensorflow/tensorflow/compiler/mlir/xla/CMakeLists.txt
Labels: cla: yes, cmake, tensorflow

#2407 Reorganizing HAL host code to better support pluggable scheduling models
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/hal/api.cc
  iree/hal/dawn/dawn_device.h
  iree/hal/dylib/BUILD
  iree/hal/dylib/CMakeLists.txt
  iree/hal/dylib/dylib_device.cc
  iree/hal/dylib/dylib_device.h
  iree/hal/dylib/dylib_driver.cc
  iree/hal/host/BUILD
  iree/hal/host/CMakeLists.txt
  iree/hal/host/condvar_semaphore.cc
  iree/hal/host/condvar_semaphore.h
  iree/hal/host/condvar_semaphore_test.cc
  iree/hal/host/host_local_allocator.cc
  iree/hal/host/host_local_allocator.h
  iree/hal/host/host_local_device.cc
  iree/hal/host/host_local_device.h
  iree/hal/host/inproc_command_buffer.cc
  iree/hal/host/inproc_command_buffer.h
  iree/hal/host/nop_event.cc
  iree/hal/host/nop_event.h
  iree/hal/host/scheduling_model.h
  iree/hal/host/serial/BUILD
  iree/hal/host/serial/CMakeLists.txt
  iree/hal/host/serial/async_command_queue.cc
  iree/hal/host/serial/async_command_queue.h
  iree/hal/host/serial/async_command_queue_test.cc
  iree/hal/host/serial/serial_command_processor.cc
  iree/hal/host/serial/serial_command_processor.h
  iree/hal/host/serial/serial_scheduling_model.cc
  iree/hal/host/serial/serial_scheduling_model.h
  iree/hal/host/serial/serial_submission_queue.cc
  iree/hal/host/serial/serial_submission_queue.h
  iree/hal/llvmjit/BUILD
  iree/hal/llvmjit/CMakeLists.txt
  iree/hal/llvmjit/llvmjit_device.cc
  iree/hal/llvmjit/llvmjit_device.h
  iree/hal/llvmjit/llvmjit_driver.cc
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/vmla_device.cc
  iree/hal/vmla/vmla_device.h
  iree/hal/vmla/vmla_driver.cc
Labels: cla: yes, runtime

#2396 Add fused_dispatch_region test.
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/fused_dispatch_region.mlir
Labels: cla: yes

#2362 Replace cooperative matrix marker by an analysis class
  experimental/ModelBuilder/test/TestVectorToGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CooperativeMatrixAnalysis.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CooperativeMatrixAnalysis.h
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#2427 Add flag to force timeline semaphore emulation enabled.
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/vulkan_device.cc
Labels: cla: yes, runtime

#2414 Add scatter to VMLA
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/scatter_update_test.py
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/scatter.mlir
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_generic.h
  iree/hal/vmla/vmla_module.cc
Labels: cla: yes

#2378 [vulkan] Avoid dropping work in serializing command queue
  iree/hal/vulkan/serializing_command_queue.cc
Labels: cla: yes

#2428 [vulkan] Use per-test-suite SetUp/TearDown for sharing driver
  iree/hal/cts/cts_test_base.h
Labels: cla: yes

#2433 test for concat op on matrix with zero dim
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/concat_test.py
Labels: tensorflow

#2438 Enable unroll pattern in MatMulCodegenStrategy
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
Labels: cla: yes

#2444 Allow user-provided memory alignment inside `makeInitializedStridedMemrefDescriptor`.
  experimental/ModelBuilder/MemRefUtils.h
Labels: cla: yes

#2446 Fix typo
  CONTRIBUTING.md
Labels: cla: yes

#2445 Merge main -> google
  experimental/ModelBuilder/MemRefUtils.h
  iree/compiler/Conversion/CodegenUtils/MatmulCodegenStrategy.h
Labels: cla: yes

#2431 Use persistent storage for SubmissionBatch in SerializingCommandQueue.
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
Labels: cla: yes, runtime

#2417 Add a unified script for building and pushing IREE's Docker images.
  build_tools/docker/bazel/gcr_update.sh
  build_tools/docker/bazel_bindings/gcr_update.sh
  build_tools/docker/bazel_tensorflow/gcr_update.sh
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/cmake/gcr_update.sh
  build_tools/docker/cmake_android/gcr_update.sh
  build_tools/docker/rbe_toolchain/gcr_update.sh
Labels: cla: yes, infrastructure

#2196 Add hal/cts:command_queue_test.
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/command_queue_test.cc
Labels: cla: yes, runtime

#2434 Fixes a bug where Kokoro's artifacts directory wasn't being deleted.
  kokoro/gcp_ubuntu/bazel/bindings/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/core/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/integrations/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/build_kokoro.sh
Labels: cla: yes, cmake, infrastructure

#2369 Adding initial vm.list implementation
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/vmla_executable.cc
  iree/hal/vmla/vmla_module.h
  iree/modules/check/check_test.cc
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/strings/api.cc
  iree/modules/strings/strings_module.cc
  iree/modules/strings/strings_module_test.cc
  iree/samples/custom_modules/custom_modules_test.cc
  iree/tools/vm_util.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/api.h
  iree/vm/builtin_types.c
  iree/vm/builtin_types.h
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/bytecode_module.cc
  iree/vm/bytecode_module_impl.h
  iree/vm/instance.c
  iree/vm/list.c
  iree/vm/list.h
  iree/vm/list_test.cc
  iree/vm/module_abi_packing.h
  iree/vm/ref.h
  iree/vm/ref_cc.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/list_ops.mlir
  iree/vm/type_def.h
  iree/vm/types.h
  iree/vm/value.h
Labels: cla: yes, enhancement, runtime

#2459 Fixing leak on particular VM ABI patterns + unused registers
  iree/test/e2e/regression/unused_args.mlir
  iree/vm/module_abi_packing.h
Labels: bug, cla: yes, runtime

#2464 Registering the vm.list type for testing.
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/list_test.cc
Labels: bug, cla: yes, runtime

#2460 Add hint for some vm context function resolution errors.
  iree/vm/context.c
Labels: cla: yes

#2465 Revert "Use persistent storage for SubmissionBatch in SerializingCommandQueue."
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
Labels: cla: yes

#2462 Merge main -> google
  CONTRIBUTING.md
  build_tools/docker/bazel/gcr_update.sh
  build_tools/docker/bazel_bindings/gcr_update.sh
  build_tools/docker/bazel_tensorflow/gcr_update.sh
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/cmake/gcr_update.sh
  build_tools/docker/cmake_android/gcr_update.sh
  build_tools/docker/rbe_toolchain/gcr_update.sh
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/command_queue_test.cc
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/vmla_executable.cc
  iree/hal/vmla/vmla_module.h
  iree/modules/check/check_test.cc
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/strings/api.cc
  iree/modules/strings/strings_module.cc
  iree/modules/strings/strings_module_test.cc
  iree/samples/custom_modules/custom_modules_test.cc
  iree/test/e2e/regression/unused_args.mlir
  iree/tools/vm_util.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/api.h
  iree/vm/builtin_types.c
  iree/vm/builtin_types.h
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/bytecode_module.cc
  iree/vm/bytecode_module_impl.h
  iree/vm/context.c
  iree/vm/instance.c
  iree/vm/list.c
  iree/vm/list.h
  iree/vm/list_test.cc
  iree/vm/module_abi_packing.h
  iree/vm/ref.h
  iree/vm/ref_cc.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/list_ops.mlir
  iree/vm/type_def.h
  iree/vm/types.h
  iree/vm/value.h
  kokoro/gcp_ubuntu/bazel/bindings/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/core/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/integrations/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/build_kokoro.sh
Labels: cla: yes

#2452 Refactors tf_test_utils, creating tf_utils and simplifying module specification.
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/e2e/README.md
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/explicit_backend_test.py
  integrations/tensorflow/e2e/exported_names_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#2471 Improve TF submodule bump action descriptions
  .github/workflows/update_tf.yml
Labels: cla: yes

#2467 [vulkan] Guard against 0-byte buffer allocation
  integrations/tensorflow/e2e/BUILD
  iree/hal/vulkan/vma_allocator.cc
Labels: cla: yes

#2443 Create cooperative matrix performance test
  experimental/ModelBuilder/VulkanWrapperPass.cpp
  experimental/ModelBuilder/test/BUILD
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  experimental/ModelBuilder/test/CMakeLists.txt
  experimental/ModelBuilder/test/TestMatMulVulkan.cpp
  experimental/ModelBuilder/test/TestVectorToGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
Labels: cla: yes

#2486 Fix some minor typos
  docs/GetStarted/cmake_options_and_variables.md
Labels: cla: yes

#2469 Avoid unused result warning
  iree/compiler/Dialect/HAL/Target/LLVM/internal/LLVMAOTTargetLinker.cpp
Labels: cla: yes

#2489 Treat warnings as errors and silence them in third party code
  .bazelrc
Labels: cla: yes

#2488 Use iree_py_binary in keras test binaries
  integrations/tensorflow/e2e/keras/BUILD
Labels: cla: yes

#2352 Support iree-run-mlir to read input values from a file.
  iree/tools/run_mlir_main.cc
Labels: cla: yes

#2243 Add buildifier lint action
  .github/workflows/lint.yml
  WORKSPACE
  build_tools/embed_data/BUILD
Labels: bazel, cla: yes

#2482 Add GitHub action to create PRs merging google -> main
  .github/workflows/google_to_main.yml
Labels: cla: yes, infrastructure

#2503 Removed gather lowering test
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/gather.mlir
Labels: cla: yes

#2411 Start creating $async functions as part of public ABI generation.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD
  iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertControlFlowOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
Labels: cla: yes, compiler

#2501 [ci] Run cmake --build twice to temporary fix the flaky build
  build_tools/cmake/build_android.sh
Labels: android, cla: yes, cmake

#2497 Add Bazel 3.3.1 to docker images
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/build_and_update_gcr.py
Labels: cla: yes

#2507 [ci] Enable build tests for Android cross compilation
  build_tools/cmake/build_android.sh
Labels: cla: yes

#2499 [ModelBuilder] Fix leak when using llvm::createLowerMatrixIntrinsicsPass
  experimental/ModelBuilder/ModelRunner.cpp
Labels: cla: yes

#2496 Update Bazel to 3.3.1
  .bazelversion
  WORKSPACE
  build_tools/bazel/bazel_toolchains.patch
  build_tools/docker/rbe_toolchain/Dockerfile
Labels: cla: yes

#2509 Moved CompiledModule and BackendInfo to `tf_utils.py`
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/e2e/README.md
Labels: cla: yes, integration, tensorflow

#2481 Add lint action for PR title length
  .github/workflows/lint.yml
Labels: cla: yes

#2511 Update Bazel version in docs workflow
  .github/workflows/publish_docs.yml
Labels: cla: yes

#2513 Enable -Wunused-variable warning.
  .bazelrc
  build_tools/cmake/iree_copts.cmake
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
Labels: cla: yes

#2490 Add config to build with asan
  .bazelrc
Labels: bazel, cla: yes

#2491 Cleanup bazelrc
  .bazelrc
Labels: bazel, cla: yes

#2520 Enables `tensorlist_test` on `vulkan`.
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, integration, tensorflow

#2522 Disable Vulkan tests which are now failing.
  integrations/tensorflow/e2e/BUILD
Labels: cla: yes, infrastructure, tensorflow

#2512 Merge main -> google
  .bazelrc
  .bazelversion
  .github/workflows/lint.yml
  .github/workflows/publish_docs.yml
  WORKSPACE
  build_tools/bazel/bazel_toolchains.patch
  build_tools/cmake/build_android.sh
  build_tools/cmake/iree_copts.cmake
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/rbe_toolchain/Dockerfile
  experimental/ModelBuilder/ModelRunner.cpp
  integrations/tensorflow/bindings/python/pyiree/tf/support/BUILD
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/README.md
  iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD
  iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertControlFlowOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/gather.mlir
Labels: cla: yes

#2525 Populate dlopen error message
  iree/base/dynamic_library_posix.cc
Labels: cla: yes, runtime

#2519 Remove ModelBuilder dep from ModelRunner
  experimental/ModelBuilder/BUILD
  experimental/ModelBuilder/ModelRunner.cpp
Labels: cla: yes

#2535 Fixing data deps on test targets in cmake
  build_tools/cmake/iree_macros.cmake
Labels: bug, cla: yes, cmake

#2542 [NFC] Let Git ignore .cache/clangd directory
  .gitignore
Labels: cla: yes

#2476 Add scripts for interacting with GitHub
  scripts/git/bazel_to_cmake.sh
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_tf_submodule.sh
Labels: cla: yes

#2541 Turn on -Wall and copy diagnostic set from Google toolchain
  .bazelrc
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes

#2538 Cleaning up unused dawn HAL backend and legacy shape/shaped buffer print/parsing
  .bazelignore
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/buffer_string_util.cc
  iree/base/buffer_string_util.h
  iree/base/buffer_string_util_test.cc
  iree/base/shape.cc
  iree/base/shape.h
  iree/base/shape_test.cc
  iree/base/shaped_buffer.h
  iree/base/shaped_buffer_string_util.cc
  iree/base/shaped_buffer_string_util.h
  iree/base/shaped_buffer_string_util_test.cc
  iree/build_defs.oss.bzl
  iree/hal/api.cc
  iree/hal/api_string_util_test.cc
  iree/hal/cts/BUILD
  iree/hal/dawn/BUILD
  iree/hal/dawn/dawn_device.cc
  iree/hal/dawn/dawn_device.h
  iree/hal/dawn/dawn_driver.cc
  iree/hal/dawn/dawn_driver.h
  iree/hal/dawn/dawn_driver_module.cc
  iree/hal/dawn/dawn_driver_test.cc
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/native_module.cc
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/native_module.cc
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/buffer_data_def.fbs
  iree/schemas/interpreter_module_def.fbs
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/vm_util.cc
  iree/tools/vm_util.h
Labels: cla: yes, runtime

#2539 Pass push_constants to function argument
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/memref_runtime.h
Labels: cla: yes

#2480 Add a doc for contributor tips
  docs/contributor_tips.md
  scripts/git/bazel_to_cmake.sh
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_tf_submodule.sh
Labels: cla: yes

#2552 Update link style for ifchange blocks.
  .bazelrc
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes

#2548 Update TF submodule bump action to match script
  .github/workflows/update_tf.yml
Labels: cla: yes

#2550 Clean up maintenance scripts
  docs/contributor_tips.md
  scripts/git/bazel_to_cmake.sh
  scripts/git/git_update.sh
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_tf_submodule.sh
Labels: cla: yes

#2551 Fix Werror specification and fix unused variable.
  .bazelrc
  build_tools/cmake/iree_copts.cmake
  iree/tools/vm_util.cc
Labels: cla: yes

#2549 Merge main -> google
  .bazelignore
  .bazelrc
  .github/workflows/update_tf.yml
  .gitignore
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_copts.cmake
  docs/contributor_tips.md
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/buffer_string_util.cc
  iree/base/buffer_string_util.h
  iree/base/buffer_string_util_test.cc
  iree/base/shape.cc
  iree/base/shape.h
  iree/base/shape_test.cc
  iree/base/shaped_buffer.h
  iree/base/shaped_buffer_string_util.cc
  iree/base/shaped_buffer_string_util.h
  iree/base/shaped_buffer_string_util_test.cc
  iree/build_defs.oss.bzl
  iree/hal/api.cc
  iree/hal/api_string_util_test.cc
  iree/hal/cts/BUILD
  iree/hal/dawn/BUILD
  iree/hal/dawn/dawn_device.cc
  iree/hal/dawn/dawn_device.h
  iree/hal/dawn/dawn_driver.cc
  iree/hal/dawn/dawn_driver.h
  iree/hal/dawn/dawn_driver_module.cc
  iree/hal/dawn/dawn_driver_test.cc
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/memref_runtime.h
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/native_module.cc
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/native_module.cc
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/buffer_data_def.fbs
  iree/schemas/interpreter_module_def.fbs
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/vm_util.cc
  iree/tools/vm_util.h
  scripts/git/bazel_to_cmake.sh
  scripts/git/git_update.sh
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_tf_submodule.sh
Labels: cla: yes

#2492 Restructure bazelrc for reproducible builds
  .bazelrc
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_core.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/bazel/iree.bazelrc
Labels: cla: yes

#2484 [ci] Configure docker for Vulkan on NVIDIA and use it in Kokoro
  build_tools/cmake/test.sh
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/cmake_nvidia/Dockerfile
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/common.cfg
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/continuous.cfg
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/google.cfg
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/main.cfg
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/presubmit.cfg
Labels: cla: yes

#2562 Simplify module compilation and rename `SavedModelTestCase`
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/batch_norm_test.py
  integrations/tensorflow/e2e/broadcasting_test.py
  integrations/tensorflow/e2e/concat_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/conv_test.py
  integrations/tensorflow/e2e/depth_conv_test.py
  integrations/tensorflow/e2e/dynamic_mlp_relu_test.py
  integrations/tensorflow/e2e/dynamic_mlp_test.py
  integrations/tensorflow/e2e/explicit_backend_test.py
  integrations/tensorflow/e2e/fill_test.py
  integrations/tensorflow/e2e/gather_test.py
  integrations/tensorflow/e2e/keras/lstm_static_test.py
  integrations/tensorflow/e2e/keras/lstm_test.py
  integrations/tensorflow/e2e/keras/train/model_train_test.py
  integrations/tensorflow/e2e/keras/vision_model_test.py
  integrations/tensorflow/e2e/linspace_test.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/math_test.py
  integrations/tensorflow/e2e/matrix_ops_test.py
  integrations/tensorflow/e2e/resource_ops_test.py
  integrations/tensorflow/e2e/ring_buffer_test.py
  integrations/tensorflow/e2e/scatter_update_test.py
  integrations/tensorflow/e2e/simple_arithmetic_test.py
  integrations/tensorflow/e2e/simple_stateful_test.py
  integrations/tensorflow/e2e/sliding_window_test.py
  integrations/tensorflow/e2e/strings_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration, tensorflow

#2569 Fix compile issues for gcc 9.1.1.
  iree/base/atomics.h
  iree/modules/tensorlist/native_module.cc
Labels: cla: yes

#2571 Fix bad stack access to ArrayRef.
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
Labels: cla: yes

#2561 Adding a size benchmark exe for measuring the total size of iree/vm.
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_module_size_benchmark.cc
  iree/vm/bytecode_module_size_benchmark.mlir
Labels: cla: yes, runtime

#2558 Replacing iree_vm_variant_list_t with iree_vm_list_t and improving the C++ ref<T> wrapper
  bindings/python/pyiree/rt/BUILD
  bindings/python/pyiree/rt/CMakeLists.txt
  bindings/python/pyiree/rt/function_abi.cc
  bindings/python/pyiree/rt/vm.cc
  bindings/python/pyiree/rt/vm.h
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/vmla_executable.cc
  iree/hal/vmla/vmla_executable.h
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/check_test.cc
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/strings/strings_module.cc
  iree/modules/strings/strings_module_test.cc
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/modules/tensorlist/tensorlist_test.cc
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/simple_embedding_test.cc
  iree/samples/vulkan/BUILD
  iree/samples/vulkan/CMakeLists.txt
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/benchmark_module_main.cc
  iree/tools/run_mlir_main.cc
  iree/tools/run_module_main.cc
  iree/tools/vm_util.cc
  iree/tools/vm_util.h
  iree/tools/vm_util_test.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/api.h
  iree/vm/invocation.c
  iree/vm/invocation.h
  iree/vm/list.c
  iree/vm/list.h
  iree/vm/ref_cc.h
  iree/vm/stack.c
  iree/vm/stack.h
  iree/vm/type_def.h
  iree/vm/value.h
  iree/vm/variant_list.c
  iree/vm/variant_list.h
Labels: cla: yes, runtime

#2564 Remove python2 compatibility code.
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/saved_model_test.py
  integrations/tensorflow/bindings/python/pyiree/tf/compiler/signature_def_saved_model_test.py
  integrations/tensorflow/bindings/python/pyiree/xla/compiler/xla_module_proto_test.py
  integrations/tensorflow/e2e/control_flow_test.py
  integrations/tensorflow/e2e/keras/train_vision_models_on_cifar.py
  integrations/tensorflow/e2e/mandelbrot_test.py
  integrations/tensorflow/e2e/tensorlist_test.py
Labels: cla: yes, integration

#2572 Replacing most of absl/time with iree/base:time.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.cc
  iree/base/api.h
  iree/base/api_util.h
  iree/base/time.h
  iree/base/wait_handle.cc
  iree/base/wait_handle.h
  iree/base/wait_handle_test.cc
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
  iree/hal/api.cc
  iree/hal/command_queue.h
  iree/hal/cts/command_queue_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/device.h
  iree/hal/device_manager.cc
  iree/hal/device_manager.h
  iree/hal/host/BUILD
  iree/hal/host/CMakeLists.txt
  iree/hal/host/condvar_semaphore.cc
  iree/hal/host/condvar_semaphore.h
  iree/hal/host/condvar_semaphore_test.cc
  iree/hal/host/host_local_device.cc
  iree/hal/host/host_local_device.h
  iree/hal/host/scheduling_model.h
  iree/hal/host/serial/BUILD
  iree/hal/host/serial/CMakeLists.txt
  iree/hal/host/serial/async_command_queue.cc
  iree/hal/host/serial/async_command_queue.h
  iree/hal/host/serial/async_command_queue_test.cc
  iree/hal/host/serial/serial_scheduling_model.cc
  iree/hal/host/serial/serial_scheduling_model.h
  iree/hal/semaphore.h
  iree/hal/testing/mock_command_queue.h
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/direct_command_queue.cc
  iree/hal/vulkan/direct_command_queue.h
  iree/hal/vulkan/emulated_timeline_semaphore.cc
  iree/hal/vulkan/emulated_timeline_semaphore.h
  iree/hal/vulkan/native_timeline_semaphore.cc
  iree/hal/vulkan/native_timeline_semaphore.h
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/timepoint_util.cc
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_device.h
Labels: cla: yes, performance, runtime

#2575 Preparing VM op defs and dispatch for supporting extension op sets.
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/VMTraits.h
  iree/compiler/Dialect/VM/IR/test/conversion_folding.mlir
  iree/compiler/Dialect/VM/IR/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  iree/vm/bytecode_dispatch.c
Labels: cla: yes, enhancement, runtime

#2585 Fixed vulkan errors with not destroyed lists and incorrect error check on pybindings
  bindings/python/pyiree/rt/vm.cc
  iree/samples/simple_embedding/simple_embedding_test.cc
  iree/tools/run_module_main.cc
Labels: cla: yes

#2576 Step 1 of creating multi-python bindings.
  CMakeLists.txt
  bindings/python/build_tools/cmake/iree_py_extension.cmake
  bindings/python/build_tools/cmake/iree_py_library.cmake
  bindings/python/build_tools/cmake/iree_pybind_cc_library.cmake
  bindings/python/pyiree/common/.skip_bazel_to_cmake
  bindings/python/pyiree/common/CMakeLists.txt
  bindings/python/pyiree/compiler/.skip_bazel_to_cmake
  bindings/python/pyiree/compiler/CMakeLists.txt
  bindings/python/pyiree/rt/.skip_bazel_to_cmake
  bindings/python/pyiree/rt/CMakeLists.txt
  bindings/python/pyiree/rt/function_abi_test.py
  bindings/python/pyiree/rt/system_api.py
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  build_tools/cmake/iree_multipy.cmake
Labels: cla: yes

#2594 Use the actual versioned extension suffix when building wheels.
  packaging/python/common_setup.py
  packaging/python/setup_compiler.py
  packaging/python/setup_rt.py
  packaging/python/setup_tf.py
Labels: cla: yes

#2591 Adding support for multiple VM opcode tables.
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/Tools/VMOpTableGen.cpp
  iree/vm/bytecode_dispatch.c
Labels: cla: yes, runtime

#2599 Fix flatcc target name and binary path
  CMakeLists.txt
  build_tools/cmake/flatbuffer_c_library.cmake
Labels: cla: yes

#2603 Disabled Semaphore test
  iree/hal/cts/semaphore_test.cc
Labels: cla: yes

#2589 Fixing incorrect use of iree_vm_list_deinitialize.
  iree/samples/simple_embedding/simple_embedding_test.cc
  iree/tools/run_module_main.cc
Labels: bug, cla: yes

#2588 Add script for simulating Kokoro locally
  kokoro/gcp_ubuntu/simulate_kokoro.sh
Labels: cla: yes

#2590 Step 2 of enabling multipy support.
  CMakeLists.txt
  bindings/python/build_tools/cmake/iree_py_test.cmake
  build_tools/cmake/iree_multipy.cmake
  build_tools/manylinux_py_setup.py
Labels: cla: yes

#2609 Use ${IREE_HOST_SCRIPT_EXT} in CMake iree_py_test.
  build_tools/cmake/iree_multipy.cmake
Labels: cla: yes, cmake, windows

#2583 Clean up dockerfiles to enable non-root usage
  WORKSPACE
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/bazel_bindings/Dockerfile
  build_tools/docker/bazel_tensorflow/Dockerfile
  build_tools/docker/build_and_update_gcr.py
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/cmake_nvidia/Dockerfile
  build_tools/docker/rbe_toolchain/Dockerfile
Labels: cla: yes

#2611 Fix Docker update dependency logic
  build_tools/docker/build_and_update_gcr.py
Labels: cla: yes

#2566 Avoid docker running as root
  kokoro/gcp_ubuntu/bazel/bindings/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/core/build_kokoro.sh
  kokoro/gcp_ubuntu/bazel/integrations/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/build_kokoro.sh
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  kokoro/gcp_ubuntu/docker_common.sh
Labels: cla: yes

#2613 A couple of python build tweaks.
  build_tools/cmake/iree_multipy.cmake
  build_tools/manylinux_py_setup.py
Labels: cla: yes

#2605 Print input/output values for each dispatch function in DEBUG mode
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertTensorOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferViewOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/hal_module.cc
Labels: cla: yes

#2616 Add debugging tips to developer_overview.md
  docs/developer_overview.md
Labels: cla: yes, documentation

#2615 Fix out-of-bound accessing in pad op lowering.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/pad.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/convolution1.mlir
  iree/test/e2e/vulkan_specific/convolution2.mlir
  iree/test/e2e/xla_ops/convolution.mlir
  iree/test/e2e/xla_ops/pad.mlir
Labels: cla: yes, codegen

#2612 Fix time bug with new tests, re-enable SemaphoreTest cases.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.h
  iree/base/time.h
  iree/base/time_test.cc
  iree/hal/cts/semaphore_test.cc
Labels: cla: yes

#2627 [android] Ignore adb push status for the executable
  build_tools/cmake/run_android_test.sh
Labels: cla: yes

#2597 Cleaning up vm.cmp and vm.ext/vm.trunc ops in prep for i64.
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/conversion_folding.mlir
  iree/compiler/Dialect/VM/IR/test/conversion_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/comparison_ops.mlir
Labels: cla: yes, enhancement, runtime

#2598 Support dynamic mhlo.torch_index_select and add test.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Dialect/Shape/Plugins/XLA/XlaHloShapeBuilder.cpp
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
Labels: cla: yes, ready to pull

#2625 Add missing executable bit to build scripts
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
Labels: cla: yes

#2586 Removes non-standard constructors from `CompiledModule`
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_test_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  integrations/tensorflow/e2e/README.md
Labels: cla: yes, integration, tensorflow

#2629 Add debugging tips to developer_overview.md
  docs/developing_iree/developer_overview.md
Labels: cla: yes

#2631 [ci] Fix missing executable permission for x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#2630 Add iota.mlir test to e2e/xla_ops/
  iree/test/e2e/xla_ops/iota.mlir
Labels: cla: yes

#2634 Stop always sending TF update PRs to gcmn
  .github/workflows/update_tf.yml
Labels: cla: yes

#2617 Adding description of IREE Codegen pass pipeline
  docs/design_docs/codegen_passes.md
  docs/design_docs/hlo_to_linalg.png
  docs/design_docs/linalg_to_spirv.png
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu_option.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/cyclic_to_workgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
Labels: cla: yes

#2636 [doc] Fix broken picture links
  docs/design_docs/codegen_passes.md
Labels: cla: yes

#2632 [android] Disable LLVM JIT HAL driver related tests
  CMakeLists.txt
  build_tools/cmake/iree_check_test.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes

#2637 Give better errors in GCR update script when gcloud isn't found
  build_tools/docker/build_and_update_gcr.py
Labels: cla: yes

#2521 Removed duplicate per-backend tf and iree input mlir files.
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
Labels: cla: yes, integration, tensorflow

#2635 Remove memref runtime dependency and generate descriptors at compile time
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/HALInterfaceToMemrefArguments.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRTarget.cpp
  iree/hal/dylib/BUILD
  iree/hal/dylib/CMakeLists.txt
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/memref_runtime.h
  iree/hal/llvmjit/BUILD
  iree/hal/llvmjit/CMakeLists.txt
  iree/hal/llvmjit/llvmjit_executable.cc
  iree/hal/llvmjit/memref_runtime.h
Labels: cla: yes

#2640 Fix fake group and passwd files for Docker
  build_tools/kokoro/gcp_ubuntu/docker_common.sh
Labels: cla: yes

#2647 Enable while.test mlir on vulkan-spirv backend.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#2650 Merge main -> google
  .github/workflows/update_tf.yml
  CMakeLists.txt
  build_tools/cmake/iree_check_test.cmake
  build_tools/docker/build_and_update_gcr.py
  build_tools/kokoro/gcp_ubuntu/docker_common.sh
  docs/design_docs/codegen_passes.md
  docs/design_docs/hlo_to_linalg.png
  docs/design_docs/linalg_to_spirv.png
  docs/get_started/cmake_options_and_variables.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/HALInterfaceToMemrefArguments.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MarkerUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu_option.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/cyclic_to_workgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRTarget.cpp
  iree/hal/dylib/BUILD
  iree/hal/dylib/CMakeLists.txt
  iree/hal/dylib/dylib_executable.cc
  iree/hal/dylib/memref_runtime.h
  iree/hal/llvmjit/BUILD
  iree/hal/llvmjit/CMakeLists.txt
  iree/hal/llvmjit/llvmjit_executable.cc
  iree/hal/llvmjit/memref_runtime.h
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#2652 Fixes dead getting started link.
  README.md
Labels: cla: yes, documentation

#2649 Delete unnecessary 'continuous' Kokoro configs
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/bindings/continuous.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/core/continuous.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/integrations/continuous.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/continuous.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/continuous.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86/continuous.cfg
  kokoro/gcp_ubuntu/bazel/bindings/continuous.cfg
  kokoro/gcp_ubuntu/bazel/core/continuous.cfg
  kokoro/gcp_ubuntu/bazel/integrations/continuous.cfg
  kokoro/gcp_ubuntu/cmake/android/arm64-v8a/continuous.cfg
  kokoro/gcp_ubuntu/cmake/continuous.cfg
  kokoro/gcp_ubuntu/cmake/linux/x86-turing/continuous.cfg
Labels: cla: yes, infrastructure

#2654 Run integrations build as root
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/integrations/build_kokoro.sh
Labels: bazel, cla: yes, infrastructure

#2655 Disable SDL sensor support on Windows.
  build_tools/third_party/sdl2/SDL_config_windows.h
Labels: bazel, cla: yes, vulkan, windows

#2641 Test entry function conversion to LLVMIR
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
Labels: cla: yes

#2646 [ci] Add Dockerfile and Kokoro configuration for Bazel and SwiftShader
  build_tools/bazel/build_tensorflow.sh
  build_tools/docker/bazel_swiftshader/Dockerfile
  build_tools/docker/build_and_update_gcr.py
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/presubmit.cfg
Labels: bazel, cla: yes, infrastructure, vulkan

#2608 Add matmul tile and vectorize lowering stratgy to LinalgToLLVM passes
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/MatMulVectorization.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
Labels: cla: yes

#2669 Include python headers even if nested.
  bindings/python/build_tools/python/generate_build.py
Labels: cla: yes

#2670 Enable iota.test on vulkan-spirv and llvm-ir backends.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#2546 [ci] Add Dockerfile for bazel-nvidia and use it in Kokoro
  build_tools/docker/bazel_nvidia/Dockerfile
  build_tools/docker/build_and_update_gcr.py
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/presubmit.cfg
  integrations/tensorflow/e2e/BUILD
Labels: bazel, cla: yes, infrastructure, vulkan

#2663 Avoid running docker builds as root
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/docker_common.sh
Labels: bazel, cla: yes, infrastructure

#2676 Revert "Add GitHub action to create PRs merging google -> main"
  .github/workflows/google_to_main.yml
Labels: cla: yes

#2658 Upload integrations bazel invocation to result store
  build_tools/bazel/build_tensorflow.sh
Labels: bazel, cla: yes, infrastructure

#2666 Report error message for type mismatch
  iree/compiler/Dialect/Shape/IR/ShapeOps.cpp
Labels: cla: yes

#2577 [ModelBuilder] Add MemRefUtil helpers for padding.
  experimental/ModelBuilder/MemRefUtils.h
Labels: cla: yes

#2568 Refactoring bytecode_module to use flatcc instead of flatbuffers C++.
  CMakeLists.txt
  build_tools/cmake/flatbuffer_c_library.cmake
  build_tools/embed_data/generate_cc_embed_data.cc
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/bytecode_module_def.fbs
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.cc
  iree/vm/bytecode_module_impl.h
Labels: cla: yes, performance, runtime

#2684 [ModelBuilder] Revert spurious path change
  experimental/ModelBuilder/MemRefUtils.h
Labels: cla: yes

#2686 [NFC] Remove empty ArrayRef<NamedAttribute> arg in op creation
  experimental/ModelBuilder/ModelBuilder.cpp
  experimental/ModelBuilder/VulkanWrapperPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertVariableOps.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
Labels: cla: yes

#2685 Working around duplicate func->llvm.func rewrites.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRTarget.cpp
Labels: bug, cla: yes, compiler

#2639 Enable dylib-llvm-aot backend e2e/xla_op tests
  CMakeLists.txt
  build_tools/bazel/build_bindings.sh
  build_tools/bazel/build_core.sh
  build_tools/bazel/build_tensorflow.sh
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_check_test.cmake
  iree/modules/check/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#2688 Fix stdalign include in Android
  build_tools/embed_data/generate_cc_embed_data.cc
  iree/vm/bytecode_module_impl.h
Labels: cla: yes

#2694 Remove dylib-llvm-aot tests
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#2696 Add a config for gcc.
  build_tools/bazel/iree.bazelrc
Labels: cla: yes

#2692 Disable dylib driver for android build
  CMakeLists.txt
Labels: cla: yes

#2687 Add dep "//iree/base:localfile" to iree-run-mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
Labels: cla: yes

#2699 Mark shell scripts as executable
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-turing/integrations/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
Labels: cla: yes

#2683 Dump input values to a file.
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/pyiree/tf/support/tf_utils_test.py
Labels: cla: yes
