Repository iree-org/iree, pull requests merged in 2021-03, with the labels that each got.

#4965 No deprecation warnings and no release asserts
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes

#4964 Add `--keep_going` to distribution build
  build_tools/github_actions/build_dist.py
Labels: cla: yes

#4966 CMake cross compilation cleanup and error handling.
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
Labels: cla: yes, infrastructure/cmake

#4971 Added tosa.reshape execution test
  iree/test/e2e/tosa_ops/reshape.mlir
Labels: cla: yes

#4972 Migrate linalg.conv to linalg.conv_nd ops in GPU pipeline
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
Labels: cla: yes

#4970 Added TOSA const, if, and while passes to pipeline
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/tosa_ops/const.mlir
  iree/test/e2e/tosa_ops/if.mlir
  iree/test/e2e/tosa_ops/while.mlir
Labels: cla: yes

#4925 HAL CUDA backend step 2
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/descriptor_set_layout_test.cc
  iree/hal/cts/event_test.cc
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_event.c
  iree/hal/cuda/cuda_event.h
  iree/hal/cuda/descriptor_set_layout.c
  iree/hal/cuda/descriptor_set_layout.h
  iree/hal/cuda/event_semaphore.c
  iree/hal/cuda/event_semaphore.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
Labels: cla: yes

#4977 Move TF documentation out of Python documentation
  docs/get_started/getting_started_python.md
  docs/get_started/getting_started_tensorflow.md
Labels: cla: yes

#4975 Merge main -> google
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/descriptor_set_layout_test.cc
  iree/hal/cts/event_test.cc
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_event.c
  iree/hal/cuda/cuda_event.h
  iree/hal/cuda/descriptor_set_layout.c
  iree/hal/cuda/descriptor_set_layout.h
  iree/hal/cuda/event_semaphore.c
  iree/hal/cuda/event_semaphore.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/test/e2e/tosa_ops/const.mlir
  iree/test/e2e/tosa_ops/if.mlir
  iree/test/e2e/tosa_ops/reshape.mlir
  iree/test/e2e/tosa_ops/while.mlir
Labels: cla: yes

#4981 Fixing bazel-to-cmake regression that broke it on Windows.
  build_tools/bazel_to_cmake/bazel_to_cmake.py
Labels: cla: yes

#4982 HAL CUDA step 3, enable executable.
  iree/hal/cts/executable_layout_test.cc
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/native_executable.c
  iree/hal/cuda/native_executable.h
  iree/hal/cuda/nop_executable_cache.c
  iree/hal/cuda/nop_executable_cache.h
Labels: cla: yes

#4954 Adapt mhlo.concatenate lowering to Linalg on tensors
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/concatenate.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor_insert.mlir
Labels: cla: yes

#4986 Fix concatenate test due to upstream change.
  iree/compiler/Conversion/HLOToLinalg/test/concatenate.mlir
Labels: cla: yes

#4988 Fix CUDA C struct initialization for MSVC.
  iree/hal/cuda/graph_command_buffer.c
Labels: cla: yes, hal/cuda

#4984 Support HLO Text format for the XLA importer.
  bindings/python/pyiree/compiler2/xla.py
  bindings/python/tests/compiler_xla_test.py
  bindings/python/tests/testdata/generate_xla.py
  bindings/python/tests/testdata/xla_sample.hlo
  integrations/tensorflow/build_tools/bazel/iree-tf.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes

#4989 Update vulkan profiling doc.
  docs/developing_iree/profiling_vulkan_gpu.md
Labels: cla: yes

#4973 Migrate linalg.conv to linalg.conv_2d_input_nhwc_filter_hwcf in Img2Col.
  iree/compiler/Conversion/LinalgToLLVM/ConvImg2ColMatmulConversion.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
Labels: cla: yes

#4890 Create a sandbox for end-to-end linalg on tensors
  experimental/runners/LinalgComprehensiveBufferizePass.cpp
  experimental/runners/LinalgTensorCodegenStrategy.cpp
  experimental/runners/LinalgTileToGeneric.cpp
  experimental/runners/README.md
  experimental/runners/Transforms.h
  experimental/runners/mlir-opt.cpp
  experimental/runners/test/matmul_f32_base.mlir
  experimental/runners/test/matmul_i8_i8_i32_base.mlir
  experimental/runners/test/test_matmul_f32_000.mlir
  experimental/runners/test/test_matmul_f32_000_exec.mlir
  experimental/runners/test/test_matmul_f32_001.mlir
  experimental/runners/test/test_matmul_f32_001_exec.mlir
  experimental/runners/test/test_matmul_f32_002.mlir
  experimental/runners/test/test_matmul_f32_002_exec.mlir
  experimental/runners/test/test_matmul_f32_003.mlir
  experimental/runners/test/test_matmul_f32_003_exec.mlir
Labels: cla: yes

#4998 Enable some E2E tests for CUDA
  build_tools/bazel/build_core.sh
  build_tools/cmake/test.sh
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes, hal/cuda, infrastructure 🛠️

#4996 Note supported CMake version in various places
  CMakeLists.txt
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_cmake.md
  experimental/bindings/java/build.gradle
Labels: cla: yes, infrastructure/cmake

#4883 [buildkite] Change correctness tests to use same phones as benchmark
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#5002 Add LLVM flags for controlling various llvm-opt options
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
Labels: cla: yes, codegen/llvm

#5004 [buildkite] Use S20 with Android 11
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#5003 Added tests for tosa.transpose
  iree/test/e2e/tosa_ops/transpose.mlir
Labels: cla: yes

#5014 Add CMakeLists.txt to build linalg-opt
  experimental/runners/CMakeLists.txt
  experimental/runners/LinalgComprehensiveBufferizePass.cpp
  experimental/runners/LinalgTensorCodegenStrategy.cpp
  experimental/runners/LinalgTileToGeneric.cpp
  experimental/runners/mlir-opt.cpp
Labels: cla: yes

#5007 Start doc for CUDA backend
  docs/design_docs/cuda_backend.md
Labels: cla: yes

#4991 Extend 2D depthwise conv op lowering to Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
Labels: cla: yes

#5000 Migrate pooling ops to TC ops.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/reduce_window.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/test/e2e/xla_ops/reduce_window.mlir
Labels: cla: yes

#5025 Fix CModuleTarget canonicalizer module
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#5032 Fix build errors in Vulkan samples.
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/vm/ref_cc.h
Labels: cla: yes, runtime

#4744 Action to fixup Copybara failed merges
  .github/workflows/copybara_fixup.yml
  scripts/git/fix_copybara_export.sh
Labels: cla: yes

#4983 Support PadOp on Linalg on tensors.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensorPasses.h
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Conversion/HLOToLinalg/test/pad_tensor_to_tensor.mlir
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5037 Check for merge commit after checking Copybara tag
  scripts/git/fix_copybara_export.sh
Labels: cla: yes

#5039 Move integer dot tests into main test file
  iree/test/e2e/xla_ops/dot.mlir
  iree/test/e2e/xla_ops/dot_general.mlir
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
  iree/test/e2e/xla_ops/partial/dot_int.mlir
Labels: cla: yes

#5027 Implement vm to emitc.const conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/vm/ops.h
Labels: cla: yes

#5024 Adapt pooling ops lowering to Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/HLOToLinalg/test/reduce_window.mlir
Labels: cla: yes

#5012 Add support to benchmark in batch mode.
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/BenchmarkBatchDispatches.cpp
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/benchmark_batch_dispatches.mlir
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#5029 Add support for benchmarking on targets with different setup.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.sh
  build_tools/mako/compile_android_modules.py
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes

#5054 Enable mhlo.while e2e/xla_ops test for linalg-on-tensors path
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5066 Add vm.const.i{32,64}.zero to emitc conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
Labels: cla: yes

#4999 [CodeGen] Plumb conv vectorization through flow.dispatch.workgroups
  iree/compiler/Conversion/Common/LaunchConfig.cpp
  iree/compiler/Conversion/Common/LaunchConfig.h
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/fold-gpu-procid-uses.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
Labels: cla: yes

#5067 Fix file lists in enforce_glob
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Shape/IR/BUILD
Labels: cla: yes

#5069 Fix enforce_glob midair collision
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
Labels: cla: yes

#5055 Add CUDA lib to dockers and enable CUDA testing
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#5071 Make error message in enforce_glob more copy-pasteable
  build_tools/bazel/enforce_glob.bzl
Labels: cla: yes

#5068 Use upstream math dialect polynomial approximation pass
  iree/compiler/Conversion/LLVMToLLVM/BUILD
  iree/compiler/Conversion/LLVMToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LLVMToLLVM/FastExpConversion.cpp
  iree/compiler/Conversion/LLVMToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/test/e2e/llvm_specific/BUILD
  iree/test/e2e/llvm_specific/CMakeLists.txt
  iree/test/e2e/llvm_specific/exponential.mlir
Labels: cla: yes

#5080 Fix use after free detected by asan
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
Labels: cla: yes

#5064 Add MobileNetV2 to benchmarking targets.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.sh
  build_tools/mako/compile_android_modules.py
  build_tools/mako/config/mobilenet-v2-pixel4.config
  build_tools/mako/config/mobilenet-v2-s20.config
Labels: cla: yes

#5075 [CodeGen] NFC: Rename LinalgTileAndFusePass
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5081 Add missing CMake dep
  iree/tools/CMakeLists.txt
Labels: cla: yes

#5070 Create InitTensorOp based on input operand shapes.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/torch_index_select.mlir
Labels: cla: yes

#5079 Configure compiler to generate 'wasm' executables using wasm-llvm-aot.
  CMakeLists.txt
  build_tools/cmake/iree_macros.cmake
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/tools/CMakeLists.txt
Labels: cla: yes, codegen/llvm, infrastructure/cmake

#5065 Allow all matmul&batch_matmul variants to be a root op
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#5090 Use correct tied operand index when creating DispatchWorkgroupsOp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions2.cpp
  iree/compiler/Dialect/IREE/IR/IREEInterfaces.td
Labels: cla: yes

#5073 [CodeGen] Avoid eliminating output store unconditionally
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5091 Enable CUDA tests on Turing platforms
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5089 Delete patterns and tests that were upstreamed to MHLO repo.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/dot.mlir
  iree/compiler/Conversion/HLOToLinalg/test/reduce.mlir
  iree/compiler/Conversion/HLOToLinalg/test/reduce_window.mlir
Labels: cla: yes, quality of life 😊

#5100 Skip results with tied operands when creating push descriptor updates
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes

#5102 Tie operands and results when creating DispatchWorkgroupsOp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5087 Removing the SIP requirement on dispatch benchmark functions.
  bindings/python/pyiree/compiler2/core.py
  docs/developing_iree/benchmarking.md
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CreateBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
  iree/compiler/Translation/IREEVM.cpp
  iree/test/e2e/regression/executable_benchmark.mlir
  iree/tools/utils/vm_util.cc
Labels: cla: yes, compiler, quality of life 😊

#5098 Support lowering of small non-splat on Linalg on tensors path.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/FoldTensorExtractOp.td
  iree/compiler/Conversion/LinalgToLLVM/FoldTensorExtractOpPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/fold_tensor_extract_op.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/test/e2e/linalg_tensor_ops/add.mlir
  iree/test/e2e/xla_ops/constant.mlir
Labels: cla: yes

#5108 Fixing flow.dispatch.workgroups tied operands when removing args.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
Labels: bug 🐞, cla: yes, compiler

#5112 Fix missing <cstddef> header file.
  iree/compiler/Bindings/SIP/Utils/Signature.h
Labels: cla: yes

#5053 Enable concat, gather and torch_index_select on Linalg on tensors path.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5082 Rewrite benchmarking scripts with Python.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.py
  build_tools/mako/benchmark_modules_on_android.sh
  build_tools/mako/compile_android_modules.py
  build_tools/mako/configuration.py
Labels: cla: yes

#5103 [CodeGen] Add a pattern to canonicalize HAL interface load/store
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/BufferAllocViewCleanUpPass.cpp
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/Passes.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/RemoveDeadMemAllocsPass.cpp
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Conversion/Common/test/remove_dead_allocs.mlir
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/test/e2e/vulkan_specific/vectorized_conv.mlir
Labels: cla: yes

#5113 Rename compiler2 to compiler
  bindings/python/CMakeLists.txt
  bindings/python/README.md
  bindings/python/pyiree/compiler/CMakeLists.txt
  bindings/python/pyiree/compiler/README.md
  bindings/python/pyiree/compiler/__init__.py
  bindings/python/pyiree/compiler/core.py
  bindings/python/pyiree/compiler/setup.py.in
  bindings/python/pyiree/compiler/tf.py
  bindings/python/pyiree/compiler/tflite.py
  bindings/python/pyiree/compiler/tools.py
  bindings/python/pyiree/compiler/version.py.in
  bindings/python/pyiree/compiler/xla.py
  bindings/python/pyiree/jax/frontend.py
  bindings/python/pyiree/rt/system_api_test.py
  bindings/python/pyiree/rt/vm_test.py
  bindings/python/tests/compiler_core_test.py
  bindings/python/tests/compiler_tf_test.py
  bindings/python/tests/compiler_tflite_test.py
  bindings/python/tests/compiler_xla_test.py
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/mnist_training.ipynb
  docs/get_started/getting_started_python.md
  integrations/tensorflow/bindings/python/pyiree/tf/support/module_utils.py
Labels: bindings/python, cla: yes

#5120 Fix some issues in installed_test
  build_tools/cmake/iree_installed_test.cmake
Labels: cla: yes, infrastructure/cmake

#5127 Enable convolution MHLO e2e tests on the tensors path
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#5129 Add build rules to build and run Bert on LLVM and SPIR-V backends.
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5106 Enable batch mode benchmarking on iree-android-benchmark
  build_tools/mako/configuration.py
Labels: cla: yes

#5101 CTest support for integration tests
  .github/workflows/lint.yml
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_python.cmake
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.cmake
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  integrations/tensorflow/e2e/slim_vision_models/CMakeLists.txt
Labels: cla: yes

#5135 Add support for bufferization of ConstantOp.
  experimental/runners/LinalgComprehensiveBufferizePass.cpp
  experimental/runners/LinalgTensorCodegenStrategy.cpp
  experimental/runners/test/test_constant.mlir
  experimental/runners/test/test_dot.mlir
  experimental/runners/test/test_matmul_f32_000.mlir
  experimental/runners/test/test_matmul_f32_001.mlir
  experimental/runners/test/test_matmul_f32_002.mlir
  experimental/runners/test/test_matmul_f32_003.mlir
  experimental/runners/test/test_matmul_f32_004.mlir
Labels: cla: yes

#5130 Lower subtensor operations to flow.tensor.slice operation and enable MobileBert on Linalg on tensors path
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5133 Make it easier for external folks to file issues
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla: yes

#5139 Tie Linalg ops result storage to operand storage when possible
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5144 Fix missing LLVM AOT coverage in check tests.
  CMakeLists.txt
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_macros.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#5138 Merge main -> google
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lint.yml
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_installed_test.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/mako/configuration.py
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.bzl
  integrations/tensorflow/e2e/iree_e2e_cartesian_product_test_suite.cmake
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  integrations/tensorflow/e2e/slim_vision_models/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#5148 Rename 'iree.rt' to 'iree.runtime'
  .github/workflows/build_package.yml
  .github/workflows/macos_oneshot_build.yml
  bindings/python/CMakeLists.txt
  bindings/python/README.md
  bindings/python/iree/compiler/setup.py.in
  bindings/python/iree/jax/frontend.py
  bindings/python/iree/jax/frontend_test.py
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/binding.h
  bindings/python/iree/runtime/export.def
  bindings/python/iree/runtime/function_abi.cc
  bindings/python/iree/runtime/function_abi.h
  bindings/python/iree/runtime/function_abi_test.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/hal_test.py
  bindings/python/iree/runtime/host_types.cc
  bindings/python/iree/runtime/host_types.h
  bindings/python/iree/runtime/initialize_module.cc
  bindings/python/iree/runtime/setup.py.in
  bindings/python/iree/runtime/status_utils.cc
  bindings/python/iree/runtime/status_utils.h
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/system_api_test.py
  bindings/python/iree/runtime/unix_version.lds
  bindings/python/iree/runtime/version.py.in
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  bindings/python/iree/runtime/vm_test.py
  build_tools/cmake/test.sh
  build_tools/github_actions/build_dist.py
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/mnist_training.ipynb
  colab/resnet.ipynb
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  integrations/tensorflow/bindings/python/iree/tf/support/tf_utils.py
  integrations/tensorflow/bindings/python/iree/tools/tf/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/tflite/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/xla/setup.py.in
Labels: bindings/python, cla: yes

#5156 Delete upstreamd torch_index_select lowering and tests.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/test/arithmetic_ops.mlir
  iree/compiler/Conversion/HLOToLinalg/test/exp.mlir
  iree/compiler/Conversion/HLOToLinalg/test/torch_index_select.mlir
Labels: cla: yes

#5142 LLVMCodegenOptions with target specific overrides
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.h
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/UnfuseFMAOps.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/unfused_fma.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
Labels: cla: yes

#5163 Limit CTEST_PARALLEL_LEVEL to 8 for GPU tests
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#5134 Add conversion for const.ref.zero to EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
Labels: cla: yes

#5166 Limit tests and disable parallelism in integrations GPU build
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
Labels: cla: yes

#5167 Remove lingering rt package reference
  build_tools/github_actions/build_dist.py
Labels: bindings/python, cla: yes

#5159 Tile and distribute linalg.generic in DispatchLinalgOnTensor
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/test/e2e/xla_ops/add.mlir
Labels: cla: yes

#5165 build_tools:cmake:riscv: make toolchain path user-settable
  build_tools/cmake/riscv.toolchain.cmake
Labels: cla: yes

#5170 Revert "Tile and distribute linalg.generic in DispatchLinalgOnTensors…
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/test/e2e/xla_ops/add.mlir
Labels: cla: yes

#5171 Add a fake weight MobileNet v2 model for tests and development
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/mobilenetv2_fake_weights.mlir
Labels: cla: yes

#5157 Enable MobileBert on GPU for the linalg on tensors path.
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5174 Revert "Enable MobileBert on GPU for the linalg on tensors path."
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5172 Re-commit Tile and distribute linalg.generic in DispatchLinalgOnTensors
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/elementwise_vectorization.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/test/e2e/xla_ops/add.mlir
Labels: cla: yes

#5104 Moving HLO tuple/control flow handling up to the TF importer.
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/FlattenTuplesInCFG.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  iree/compiler/Bindings/SIP/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Conversion/StandardToFlow/ConvertStandardToFlow.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/xla_ops/while.mlir
Labels: cla: yes, compiler, integrations/tensorflow

#5173 Add compiler_flags to check_linalg_on_tensors_vulkan-spirv_vulkan
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5110 Moving non-HLO linalg-on-tensors passes out of the HLO helpers.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensorPasses.h
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes, compiler, integrations/tensorflow

#5111 Removing the post-partitioning conversion pass as it is unused.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
Labels: cla: yes, compiler, integrations/tensorflow

#5179 Resolve name conflicts while linking executables in LLVM.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/test/e2e/linalg_tensor_ops/add.mlir
Labels: cla: yes

#5180 Enable MobileBert on GPU for the linalg on tensors path.
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5176 Merge main -> google
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/github_actions/build_dist.py
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/FlattenTuplesInCFG.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  iree/compiler/Bindings/SIP/Transforms/Passes.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensorPasses.h
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/elementwise_vectorization.mlir
  iree/compiler/Dialect/Flow/Conversion/StandardToFlow/ConvertStandardToFlow.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mobilenetv2_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/xla_ops/add.mlir
  iree/test/e2e/xla_ops/while.mlir
Labels: cla: yes

#5118 Shuffling around/removing some HLO deps.
  iree/compiler/Dialect/Flow/Utils/WorkloadUtils.cpp
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Utils/BUILD
  iree/compiler/Dialect/HAL/Utils/CMakeLists.txt
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Utils/BUILD
  iree/compiler/Utils/CMakeLists.txt
Labels: cla: yes, compiler, integrations/tensorflow

#5183 Fix and re-enable jax testing
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes

#5119 Switching from mhlo::ConvertOp to ZeroExtendI for i1->i8 conversion.
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Dialect/Flow/Conversion/StandardToFlow/ConvertStandardToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/ConvertStandardToVMLA.cpp
Labels: cla: yes, compiler, integrations/tensorflow

#5175 build_tools:cmake:riscv: Fix the system library path
  build_tools/cmake/riscv.toolchain.cmake
Labels: cla: yes

#5187 Make sure convolution vectorization is off when the option flag is off
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5188 Add restrictions for enabling generic op vectorization.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/elementwise_vectorization.mlir
Labels: cla: yes

#5189 Plumb depthwise convolution in Linalg on tensors.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#5136 Plumb pooling ops through Linalg on tensors path.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5164 Adjust UnixLinkerTool flags used for Apple targets.
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
Labels: cla: yes, codegen/llvm, platform/macos

#5160 Add runtime tracing support to passes under IREE's PassManager usage.
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Utils/BUILD
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/TracingUtils.h
Labels: cla: yes, compiler, performance ⚡

#5201 Move prepration of benchmark files to python script.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.py
  build_tools/mako/configuration.py
  build_tools/mako/prepare_benchmark_files.py
Labels: cla: yes

#5203 Make CPU/GPU xla_ops testing in Linalg on tensors/buffers align.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5197 Clean up several CMake options configured for our CI builds.
  CMakeLists.txt
  build_tools/cmake/build_docs.sh
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/rebuild.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#5209 Remove special casing for IreeFileCheck in iree_lit_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#5211 Fix problem bug in MobileBert with vectorization enable.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndDistributePass.cpp
Labels: cla: yes

#5213 Increase K tile size for small matrices.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5195 Generate and use the iree_hal_executable_library_t metadata.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_constants.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_workgroup_info.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  iree/hal/local/executable_library.h
  iree/hal/local/loaders/legacy_library_loader.cc
  iree/schemas/dylib_executable_def.fbs
Labels: cla: yes, compiler, runtime

#5217 Set author to match committer for llvm submodule update action.
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes, infrastructure 🛠️, yolo

#5218 Revise compiler tracing to enable statistics aggregation.
  iree/compiler/Utils/TracingUtils.h
Labels: cla: yes, compiler, performance ⚡, quality of life 😊

#5207 Sort descriptors as expected by the native module
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/vm/test/arithmetic_ops.mlir
  iree/vm/test/arithmetic_ops_i64.mlir
  iree/vm/test/assignment_ops.mlir
  iree/vm/test/assignment_ops_i64.mlir
  iree/vm/test/conversion_ops.mlir
  iree/vm/test/conversion_ops_i64.mlir
  iree/vm/test/shift_ops.mlir
  iree/vm/test/shift_ops_i64.mlir
Labels: cla: yes, compiler

#5225 Tidying up a few pages of documentation.
  docs/developing_iree/benchmarking.md
  docs/developing_iree/developer_overview.md
  docs/get_started/getting_started_android_cmake.md
  docs/get_started/getting_started_linux_bazel.md
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_linux_vulkan.md
  docs/get_started/getting_started_macos_bazel.md
  docs/get_started/getting_started_macos_cmake.md
  docs/get_started/getting_started_windows_bazel.md
  docs/get_started/getting_started_windows_cmake.md
  docs/get_started/getting_started_windows_vulkan.md
Labels: cla: yes, documentation ✏️

#5210 Avoid allocating temporary buffer for tensors derived from read-only tensors
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5199 Introduce RVV VLS code-gen
  build_tools/riscv/riscv_bootstrap.sh
  docs/get_started/getting_started_riscv_cmake.md
Labels: cla: yes, codegen/llvm

#5227 Fix doc publication by escaping our IR snippets in markdown.
  build_tools/cmake/build_docs.sh
  scripts/prepare_doc_publication.py
Labels: cla: yes, documentation ✏️

#5169 Fixed some testcases with static verification prototype for linalg operations
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/test/e2e/llvm_specific/conv.mlir
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#5221 Rewriting/simplifying DynamicLibrary in C.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/dynamic_library.h
  iree/base/dynamic_library_posix.cc
  iree/base/dynamic_library_win32.cc
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/dynamic_library.h
  iree/base/internal/dynamic_library_posix.c
  iree/base/internal/dynamic_library_win32.c
  iree/base/internal/file_handle_win32.cc
  iree/base/internal/file_handle_win32.h
  iree/base/internal/file_io.cc
  iree/base/internal/file_io.h
  iree/base/internal/file_io_posix.cc
  iree/base/internal/file_io_test.cc
  iree/base/internal/file_io_win32.cc
  iree/base/testing/BUILD
  iree/base/testing/CMakeLists.txt
  iree/base/testing/dynamic_library_test.cc
  iree/base/testing/dynamic_library_test_library.cc
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/dynamic_symbols.c
  iree/hal/cuda/dynamic_symbols.cc
  iree/hal/cuda/dynamic_symbols.h
  iree/hal/cuda/dynamic_symbols_test.cc
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/legacy_library_loader.c
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/dynamic_symbols.cc
  iree/hal/vulkan/dynamic_symbols.h
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-dump-module-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/vm_util.cc
Labels: cla: yes, runtime

#5235 Dropping the unused sequence dialect.
  iree/compiler/Dialect/Sequence/CMakeLists.txt
  iree/compiler/Dialect/Sequence/IR/BUILD
  iree/compiler/Dialect/Sequence/IR/CMakeLists.txt
  iree/compiler/Dialect/Sequence/IR/SequenceBase.td
  iree/compiler/Dialect/Sequence/IR/SequenceDialect.cpp
  iree/compiler/Dialect/Sequence/IR/SequenceDialect.h
  iree/compiler/Dialect/Sequence/IR/SequenceOps.cpp
  iree/compiler/Dialect/Sequence/IR/SequenceOps.h
  iree/compiler/Dialect/Sequence/IR/SequenceOps.td
  iree/compiler/Dialect/Sequence/IR/SequenceTypes.cpp
  iree/compiler/Dialect/Sequence/IR/SequenceTypes.h
  iree/compiler/Dialect/Sequence/IR/test/BUILD
  iree/compiler/Dialect/Sequence/IR/test/CMakeLists.txt
  iree/compiler/Dialect/Sequence/IR/test/sequence_map.mlir
  iree/compiler/Dialect/Sequence/IR/test/sequence_of.mlir
  iree/compiler/Dialect/Sequence/README.md
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_dialects.h
Labels: cla: yes, obsolete 🦴

#5237 make bazel build on macOS work again
  build_tools/bazel/iree.bazelrc
  configure_bazel.py
Labels: cla: yes

#5241 Properly consider offset in operand tying when excluding operands
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
Labels: cla: yes

#5234 [CUDA codegen] Add pass to tile and distribute linalg ops to threads
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.h
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.h
  iree/compiler/Conversion/LinalgToNVVM/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/BUILD
  iree/compiler/Conversion/LinalgToNVVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/test/distribute_to_thread.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: cla: yes

#5242 [CodeGen] Fuse linalg.fill and reduction linalg.generic
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#5252 Fixing tracing on Windows and improving the dylib tracing statistics.
  iree/base/internal/dynamic_library_win32.c
  iree/base/internal/file_io.cc
  iree/hal/local/loaders/legacy_library_loader.c
  iree/tools/utils/vm_util.cc
Labels: cla: yes, hal/cpu, platform/windows

#5253 Fixing status allocation to use the system allocator.
  iree/base/api.c
Labels: bug 🐞, cla: yes, runtime

#5254 Replace remaining uses of absl::make_unique with std::make_unique.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/function_abi.cc
  bindings/python/iree/runtime/host_types.cc
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/util/BUILD
  iree/hal/vulkan/util/CMakeLists.txt
  iree/hal/vulkan/util/intrusive_list.h
  iree/hal/vulkan/util/intrusive_list_unique_ptr_test.cc
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/vmla/BUILD
  iree/modules/vmla/CMakeLists.txt
  iree/modules/vmla/op_kernels_ruy.h
Labels: cla: yes, runtime

#5251 Add pattern to do affine.min canonicalization after tile and distribute
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/affinemin_canonicalization.mlir
Labels: cla: yes

#5236 Fix operation ordering issue during inlining of operations into dispatch region
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#5258 Removing a sketchy check that was preventing releases of ref ptrs.
  iree/vm/ref.c
Labels: bug 🐞, cla: yes, runtime/vm

#5264 Actually make MobileBERT run in the test.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/bert_encoder_unrolled_fake_weights.mlir
Labels: cla: yes

#5257 Add f16 e2e tests for vulkan
  build_tools/bazel/build_core.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
  iree/test/e2e/xla_ops/partial/add_f16.mlir
  iree/test/e2e/xla_ops/partial/dot_f16.mlir
Labels: cla: yes, hal/vulkan, infrastructure 🛠️

#5266 Make status matcher print the message when it fails.
  iree/testing/status_matchers.h
Labels: cla: yes

#5265 Adding command buffer queue affinity.
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/event_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/device.c
  iree/hal/device.h
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_command_buffer.h
  iree/hal/local/task_device.c
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/hal_module.c
Labels: cla: yes, hal/api

#5270 Changing iree_vm_list_resize to grow by 2x.
  iree/vm/list.c
Labels: cla: yes, runtime/vm

#5271 Add tracing to allocations made from VMA.
  iree/base/tracing.h
  iree/hal/vulkan/vma_buffer.cc
Labels: cla: yes, hal/vulkan

#5269 Disable running BERT on Vulkan (see Issue #5268)
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5273 Disable Vulkan float16 tests on Pixel4
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#5274 Fix yml syntax
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes
