Repository iree-org/iree, pull requests merged in 2021-08, with the labels that each got.

#6616 Merge main -> google
  iree/hal/cuda/stream_command_buffer.c
  scripts/git/check_submodule_init.py
Labels: cla: yes

#6600 Implement generateScalarImplementation for linalg_ext.fft op.
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Labels: cla: yes

#6623 Run canonicalization after tiling during flow dispatch creation
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#6607 Rewrite EmitC target and move logic from the custom printer into the conversion pass
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/ops.h
  iree/vm/ops_emitc.h
  iree/vm/test/call_ops.mlir
  iree/vm/test/emitc/CMakeLists.txt
Labels: cla: yes

#6625 Rename resnet_fake_weights to resnet50_fake_weights.
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/resnet50_fake_weights.mlir
Labels: cla: yes, cleanup 🧹

#6602 Add support for lowering mhlo.fft to linalg_ext.fft
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/fft.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6626 Add linalg detensorizing behind a flag.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes, compiler

#6627 [CUDA] Mark argument pointers as align16
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
Labels: cla: yes

#6632 Updated commented out bytecode_op_table.h generation rule.
  iree/vm/BUILD
Labels: cla: yes, ew 🤮, infrastructure 🛠️

#6630 Use tensor of i32 type instead of tensor index type for constant value in fft lowering.
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6634 Fix error in trace replay for vm.list (should be mapping not sequence).
  iree/tools/utils/trace_replay.c
Labels: cla: yes

#6633 Enable fft e2e tests on CUDA backend.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6615 Make the CUDA codegen pipeline consistent with the CPU codegen pipeline.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ShapeToLLVMConversion.cpp
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUPadWorkgroupTiles.cpp
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPURemoveTrivialLoops.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/remove_loops.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/Transforms/Transforms.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/scatter.mlir
  iree/test/e2e/xla_ops/scatter_dynamic.mlir
Labels: cla: yes

#6628 [CUDA] Re-organize vector transformations to improve codegen
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/vectorization.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Labels: cla: yes

#6644 Considering duplicate operands in Linalg fusion.
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: cla: yes

#6635 Precompute coefficients for FFT kernels at compile time.
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6647 Add `builtin.` to `func` and `module` ops in tests.
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/remove_loops.mlir
Labels: cla: yes

#6557 [spirv] Add support for linking SPIR-V modules
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/linking.mlir
Labels: cla: yes, codegen/spirv, hal/vulkan

#6631 Change tied operand formatting to allow type changes.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_ops.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  iree/compiler/Dialect/Flow/IR/test/stream_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/stream_ops.mlir
Labels: cla: yes, compiler

#6648 Revert "Move tensor->flow passes to Dialect/Flow/Conversion/TensorToFlow."
  iree/compiler/Dialect/Flow/Conversion/BUILD
  iree/compiler/Dialect/Flow/Conversion/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.h
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/cast.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract_slice.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/from_elements.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops_before.mlir
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/Common/ConvertUpstreamToIREE.cpp
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/test/BUILD
  iree/compiler/InputConversion/Common/test/CMakeLists.txt
  iree/compiler/InputConversion/Common/test/convert_upstream_to_iree.mlir
Labels: cla: yes

#6640 Fixing gcc/clang builds when i64/f32 VM extensions are disabled.
  build_tools/cmake/iree_copts.cmake
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_util.h
Labels: cla: yes, infrastructure 🛠️, runtime

#6649 Setting up the flow dialect for AttrDef/TypeDef support.
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowBase.td
  iree/compiler/Dialect/Flow/IR/FlowDialect.cpp
  iree/compiler/Dialect/Flow/IR/FlowDialect.h
  iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  iree/compiler/Dialect/Flow/IR/FlowTypes.h
  iree/compiler/Dialect/HAL/IR/HALDialect.h
Labels: cla: yes, compiler

#6611 Upgrade to Python 3.7
  WORKSPACE
  bindings/python/iree/compiler/setup.py.in
  bindings/python/iree/jax/setup.py.in
  bindings/python/iree/runtime/setup.py.in
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  docs/developers/get_started/getting_started_python.md
  docs/website/docs/building-from-source/optional-features.md
  integrations/tensorflow/bindings/python/iree/tools/tf/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/tflite/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/xla/setup.py.in
Labels: cla: yes

#6617 Add 15 minute test timeout to all ctest invocations
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
Labels: cla: yes

#6654 Include recursive packages for tools.
  integrations/tensorflow/bindings/python/iree/tools/tf/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/tflite/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/xla/setup.py.in
Labels: cla: yes

#6636 Flatten first structure level of tensorflow args and results.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
  docs/developers/design_docs/function_abi.md
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/saved_model_to_iree_abi.mlir
Labels: cla: yes

#6652 Add a tf-to-tosa option for the tensorflow importer
  bindings/python/iree/compiler/tf.py
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
Labels: cla: yes

#6655 Error out on unsupported benchmark function input types.
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
Labels: cla: yes, compiler, quality of life 😊

#6657 [CUDA] Improve shared memory copy lowering
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUDistributeSharedMemoryCopy.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPURemoveTrivialLoops.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.h
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/distribute_wg_copy.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
Labels: cla: yes, codegen/nvvm

#6659 Disable old MobileBERT f16 GPU benchmarks
  build_tools/mako/configuration.py
Labels: cla: yes

#6658 [spirv] Disentangle patterns in SPIRV*ToGPUPass
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVConvertToGPU.cpp
  iree/compiler/Codegen/SPIRV/SPIRVCopyToWorkgroupMemory.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorToGPU.cpp
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/vectorize_copy_to_workgroup_memory.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹

#6609 Tile and distribute linalg.mmt4d op
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#6660 Disabling stream ties (again).
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
Labels: bug 🐞, cla: yes, compiler

#6653 Convert Einsum to use Matmul/BMM
  integrations/tensorflow/build_tools/overlay/mlir-hlo/BUILD.bazel
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
Labels: cla: yes

#6665 Add new iree-dialects LLVM project.
  build_tools/pytype/check_diff.sh
  llvm-projects/README.md
  llvm-projects/iree-dialects/.gitignore
  llvm-projects/iree-dialects/CMakeLists.txt
  llvm-projects/iree-dialects/README.md
  llvm-projects/iree-dialects/build_tools/build_standalone.sh
  llvm-projects/iree-dialects/include/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-projects/iree-dialects/include/iree-dialects/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/IREEPublicDialect.h
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/IREEPublicDialect.td
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/IREEPublicOps.h
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/IREEPublicOps.td
  llvm-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-projects/iree-dialects/lib/CMakeLists.txt
  llvm-projects/iree-dialects/lib/Dialects/CMakeLists.txt
  llvm-projects/iree-dialects/lib/Dialects/iree_public/CMakeLists.txt
  llvm-projects/iree-dialects/lib/Dialects/iree_public/IREEPublicDialect.cpp
  llvm-projects/iree-dialects/lib/Dialects/iree_public/IREEPublicOps.cpp
  llvm-projects/iree-dialects/python/CMakeLists.txt
  llvm-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-projects/iree-dialects/python/mlir/dialects/IreePublicBinding.td
  llvm-projects/iree-dialects/python/mlir/dialects/iree_public.py
  llvm-projects/iree-dialects/test/CMakeLists.txt
  llvm-projects/iree-dialects/test/dummy.py
  llvm-projects/iree-dialects/test/lit.cfg.py
  llvm-projects/iree-dialects/test/lit.site.cfg.py.in
  llvm-projects/iree-dialects/test/python/lit.local.cfg
  llvm-projects/iree-dialects/test/python/smoketest.py
Labels: cla: yes

#6663 [CUDA] Optimize barier insertion
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
Labels: cla: yes

#6668 Initial commit of iree-compiler-backend.
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_third_party_cmake_options.cmake
  iree/tools/CMakeLists.txt
  llvm-projects/iree-compiler-api/.gitignore
  llvm-projects/iree-compiler-api/CMakeLists.txt
  llvm-projects/iree-compiler-api/README.md
  llvm-projects/iree-compiler-api/build_tools/build_intree.sh
  llvm-projects/iree-compiler-api/build_tools/build_python_wheels.sh
  llvm-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-projects/iree-compiler-api/pyproject.toml
  llvm-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-projects/iree-compiler-api/python/iree/compiler/version.py
  llvm-projects/iree-compiler-api/setup.py
  llvm-projects/iree-dialects/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/IREEPublicDialect.h
  llvm-projects/iree-dialects/python/CMakeLists.txt
Labels: cla: yes

#6670 [CUDA] Re-enable vectorization for generic op
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#6679 Update TensorFlow mid-level input models used for benchmarking
  benchmarks/TensorFlow/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#6680 [CUDA] Enable vectorization for reduction ops
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#6683 Create a first-class IREE compiler C and Python API.
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
  llvm-projects/iree-compiler-api/CMakeLists.txt
  llvm-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-projects/iree-compiler-api/include/iree-compiler-c/Compiler.h
  llvm-projects/iree-compiler-api/lib/CAPI/CMakeLists.txt
  llvm-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
  llvm-projects/iree-compiler-api/lib/CMakeLists.txt
  llvm-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-projects/iree-compiler-api/python/CompilerModule.cpp
  llvm-projects/iree-compiler-api/python/iree/compiler/api/driver.py
  llvm-projects/iree-compiler-api/setup.py
Labels: cla: yes

#6686 Rename "iree_public" dialect to "iree".
  llvm-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree/CMakeLists.txt
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree/IREEDialect.h
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree/IREEDialect.td
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree/IREEOps.h
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree/IREEOps.td
  llvm-projects/iree-dialects/include/iree-dialects/Dialects/iree_public/CMakeLists.txt
  llvm-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-projects/iree-dialects/lib/Dialects/CMakeLists.txt
  llvm-projects/iree-dialects/lib/Dialects/iree/CMakeLists.txt
  llvm-projects/iree-dialects/lib/Dialects/iree/IREEDialect.cpp
  llvm-projects/iree-dialects/lib/Dialects/iree/IREEOps.cpp
  llvm-projects/iree-dialects/lib/Dialects/iree_public/IREEPublicDialect.cpp
  llvm-projects/iree-dialects/python/CMakeLists.txt
  llvm-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-projects/iree-dialects/python/mlir/dialects/IreeBinding.td
  llvm-projects/iree-dialects/python/mlir/dialects/iree.py
  llvm-projects/iree-dialects/test/python/smoketest.py
Labels: cla: yes

#6689 Improving trace yaml ergonomics by matching the command line parsers.
  iree/tools/utils/trace_replay.c
Labels: cla: yes, runtime/tools, quality of life 😊

#6695 Reverts the "installed tests" feature.
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_installed_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_python.cmake
Labels: cla: yes

#6674 Fixing VM symbol visibility.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertVariableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/byte_buffer_ops.mlir
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/hint_ops.mlir
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_attrs.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/structural_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/test/global_folding.mlir
  iree/compiler/Dialect/VM/IR/test/structural_ops.mlir
  iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  iree/compiler/Dialect/VM/Transforms/test/deduplicate_rodata.mlir
  iree/compiler/Dialect/VM/Transforms/test/global_initialization.mlir
  iree/compiler/Dialect/VM/Transforms/test/ordinal_allocation.mlir
  iree/samples/custom_modules/dialect/test/conversion.mlir
Labels: cla: yes, compiler, cleanup 🧹

#6700 Fix accessing `CompilerHints` pass and patterns
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#6697 Adding some tests for iree_string_view_t.
  iree/base/string_view.c
  iree/base/string_view.h
  iree/base/string_view_test.cc
  iree/vm/module.c
  iree/vm/ref.c
Labels: cla: yes, runtime

#6698 Adding iree_string_builder_t.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/allocator.h
  iree/base/api.h
  iree/base/string_builder.c
  iree/base/string_builder.h
  iree/base/string_builder_test.cc
  iree/hal/string_util.c
Labels: cla: yes, runtime

#6618 Upgrade TF pip to 2.7.0
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  integrations/tensorflow/bindings/python/build_requirements.txt
Labels: cla: yes

#6677 Install libxml2-dev on RBE executors
  WORKSPACE
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
Labels: cla: yes, infrastructure 🛠️, infrastructure/bazel

#6702 Drop FLAGS default
  build_tools/cmake/iree_bytecode_module.cmake
Labels: cla: yes, infrastructure/cmake

#6678 Adding -iree-vm-bytecode-source-listing= flag.
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.h
  iree/compiler/Dialect/VM/Target/Bytecode/TranslationFlags.cpp
Labels: cla: yes, compiler, quality of life 😊

#6703 Fixing incorrect struct initialization.
  iree/samples/static_library/static_library_demo.c
Labels: cla: yes

#6699 Get the new iree-compiler-api package building under manylinux2014.
  build_tools/manylinux_py_setup.py
  build_tools/python_deploy/.gitignore
  build_tools/python_deploy/audit_wheels.sh
  build_tools/python_deploy/manylinux_foreach_py.sh
  build_tools/python_deploy/setup_dockcross.sh
  llvm-projects/iree-compiler-api/.gitignore
  llvm-projects/iree-compiler-api/build_tools/build_python_wheels.sh
  llvm-projects/iree-compiler-api/setup.py
Labels: cla: yes

#6682 Adding bytecode debug databases.
  iree/compiler/Dialect/VM/Target/Bytecode/BUILD
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.h
  iree/schemas/bytecode_module_def.fbs
Labels: cla: yes, compiler, runtime/vm

#6706 Install python3.7-venv in samples Docker image.
  build_tools/buildkite/samples.yml
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
Labels: cla: yes, infrastructure 🛠️

#6685 Adding runtime VM backtraces.
  iree/base/config.h
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/invocation.c
  iree/vm/module.c
  iree/vm/module.h
  iree/vm/stack.c
  iree/vm/stack.h
Labels: cla: yes, runtime/vm, quality of life 😊

#6709 Disabling the full compiler tracing CI build.
  bindings/tflite/java/build.gradle
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_tracing.sh
  docs/developers/get_started/cmake_options_and_variables.md
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_emscripten.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/deployment-configurations/bare-metal.md
Labels: cla: yes, infrastructure 🛠️

#6707 Mark MHLO and TOSA dialect ops illegal at input to IREE core compiler.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/VerifyInputLegality.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/verify_input_ir.mlir
Labels: cla: yes

#6701 Fix TFLite sample by setting input_type="tosa".
  colab/test_notebooks.py
  colab/tflite_text_classification.ipynb
  docs/website/docs/ml-frameworks/tensorflow-lite.md
Labels: documentation ✏️, cla: yes, integrations/tosa

#6710 Harmonize `iree_c_module`: Drop default flag
  build_tools/cmake/iree_c_module.cmake
  iree/samples/emitc_modules/CMakeLists.txt
  iree/vm/test/emitc/CMakeLists.txt
Labels: cla: yes

#6714 Making the ValueLiveness analysis annotation use cached AsmState.
  iree/compiler/Dialect/VM/Analysis/ValueLiveness.cpp
Labels: cla: yes, compiler

#6666 Bitcast floating point values to ints in splatFillPattern.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes, compiler

#6687 Includes the iree-dialects project in the main IREE build.
  CMakeLists.txt
  build_tools/cmake/iree_third_party_cmake_options.cmake
  iree/tools/CMakeLists.txt
  llvm-projects/iree-compiler-api/CMakeLists.txt
  llvm-projects/iree-dialects/CMakeLists.txt
Labels: cla: yes

#6671 [CUDA] Fix unrolling so that it unrolls along the inner dimension
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/test/vectorization.mlir
Labels: cla: yes

#6719 Fixes max register calculation when spilling on branch feedback edges.
  iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
Labels: bug 🐞, cla: yes, compiler

#6664 Add vm.bitcast ops for i32<->f32 and i64<->f64.
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/vm/bytecode_dispatch.c
  iree/vm/generated/bytecode_op_table.h
  iree/vm/ops.h
  iree/vm/test/conversion_ops.mlir
Labels: cla: yes, compiler, runtime/vm

#6661 [CUDA] Add pass to software pipeline shared memory copy
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/LLVMGPUPipelining.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/test/e2e/cuda_specific/dot.mlir
Labels: cla: yes

#6724 Fix bug in lowering of ops through DistributeToGlobalID pipeline.
  iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: cla: yes

#6717 Build EmitC by default
  CMakeLists.txt
Labels: cla: yes

#6713 Tiled linalg.mmt4d -> vector.contract conversion
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/test/microbenchmarks/linalg_mmt4d.mlir
Labels: cla: yes

#6729 Start to populate the IREE dialect.
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEBase.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEDialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEDialect.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEOps.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/IREE/IREEDialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREE/IREEOps.cpp
Labels: cla: yes

#6728 Bitcast int->float out of buffer load ops as needed.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
Labels: cla: yes, compiler

#6731 Fully-qualifying mlir::FuncOp & co.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2D1x1ToMatmulPass.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2ColPass.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/ExpandVariableDynamicDims.cpp
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/FormStreams.cpp
  iree/compiler/Dialect/Flow/Transforms/HoistUnstreamableOps.cpp
  iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  iree/compiler/Dialect/Flow/Transforms/InsertConstantClones.cpp
  iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOps.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/PadLinalgOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/PromoteI1ToI8Pass.cpp
  iree/compiler/Dialect/Flow/Transforms/PromoteTensorLoads.cpp
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/StripAndSplatConstantVariables.cpp
  iree/compiler/Dialect/Flow/Transforms/VerifyInputLegality.cpp
Labels: cla: yes, compiler

#6725 [CUDA] Extend promotion to batch matmul and add extra configuration
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
Labels: cla: yes

#6667 linalg.matmul -> linalg.mmt4d conversion
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/MatmulToMMT4dConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/matmul_to_mmt4d.mlir
Labels: cla: yes

#6736 Ensuring all struct fields have sizeof > 0.
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/DropExcludedExports.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
Labels: cla: yes, compiler, platform/windows 🚪

#6738 Add layering_check to bazel file for iree-external-projects
  llvm-external-projects/iree-dialects/BUILD
Labels: cla: yes

#6743 Remove duplicate mnist.mlir file.
  iree/samples/vision/CMakeLists.txt
  iree/samples/vision/mnist.mlir
Labels: cla: yes, cleanup 🧹

#6739 [spirv] Fix convolution tiling and vectorization
  iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVFoldGPUProcessorIDUses.cpp
  iree/compiler/Codegen/SPIRV/test/fold_gpu_procid_uses.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/Transforms/Transforms.cpp
  iree/compiler/Codegen/Transforms/Transforms.h
Labels: cla: yes

#6747 Fixing loading embedded ELFs with unaligned segments on linux/mac.
  iree/hal/local/elf/platform.h
  iree/hal/local/elf/platform/apple.c
  iree/hal/local/elf/platform/linux.c
Labels: bug 🐞, cla: yes, hal/cpu

#6749 [spirv] Port more tests over to dynamic pipelines
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
Labels: cla: yes

#6694 Adds support for sourcing referenced trace modules from stdin.
  .github/workflows/lint.yml
  iree/base/internal/file_io.c
  iree/base/internal/file_io.h
  iree/tools/test/iree-benchmark-module.mlir
  iree/tools/test/iree-run-module.mlir
  iree/tools/test/multiple_args.mlir
  iree/tools/test/multiple_exported_functions.mlir
  iree/tools/test/repeated_return.mlir
  iree/tools/test/scalars.mlir
  iree/tools/utils/trace_replay.c
Labels: cla: yes, runtime/tools, quality of life 😊

#6733 Adds a new workflow to automatically publish releases
  .github/workflows/build_package.yml
  .github/workflows/validate_and_publish_release.yml
Labels: cla: yes, infrastructure 🛠️

#6752 Reduce default tile size used by default to 64 from 128 to expose more parallelism
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: cla: yes, buildkite:benchmark

#6758 Moving hal.check_success -> util.status.check_ok.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD
  iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertControlFlowOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/BUILD
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/VM/Conversion/UtilToVM/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertStatusOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/status_ops.mlir
Labels: cla: yes, compiler, cleanup 🧹

#6764 Regenerate benchmark models after breaking change
  benchmarks/TensorFlow/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#6763 Removing HAL ops that are unused and difficult to support long-term.
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
Labels: cla: yes, compiler, cleanup 🧹

#6759 Enable model test for CUDA now that they run fast
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#6766 Query more base commits to show performance difference
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: cla: yes, infrastructure/benchmarking, buildkite:benchmark

#6767 Explicitly say where we stop querying previous benchmarks on comments
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: cla: yes

#6769 Revert "Enable model test for CUDA now that they run fast (#6759)"
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#6765 Adding encoding to HAL buffer views.
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  bindings/tflite/tensor.c
  iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/global_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferViewOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/IREEToHAL/ConvertIREEToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/IREEToHAL/test/shape_constants.mlir
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStandardToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/IR/test/allocator_op_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/string_util_test.cc
  iree/modules/check/check_test.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/module.c
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/custom_modules/dialect/test/conversion.mlir
  iree/samples/dynamic_shapes/main.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/variables_and_state/main.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
  iree/vm/shims.c
  iree/vm/shims.h
Labels: cla: yes, compiler, hal/api

#6761 Fix typo in IREEDialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREE/IREEDialect.cpp
Labels: cla: yes, compiler

#6753 Fix bufferization failure.
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
Labels: cla: yes

#6778 Renaming legacy_library_loader -> system_library_loader.
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/dylib/registration/driver_module.c
  iree/hal/dylib/registration/driver_module_sync.c
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/system_library_loader.h
Labels: cla: yes, hal/cpu, cleanup 🧹

#6771 Renaming HAL/Conversion/IREEToHAL -> UtilToHAL.
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/BUILD
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/ConvertUtilToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/ConvertUtilToHAL.h
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/BUILD
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/shape_constants.mlir
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  iree/compiler/Dialect/Util/Conversion/ConversionPatterns.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
Labels: cla: yes, compiler, cleanup 🧹

#6780 [CUDA] Add workaround for cuda driver bug
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/CUDA/LLVMPasses.h
  iree/compiler/Dialect/HAL/Target/CUDA/NoLoopUnrollPass.cpp
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#6786 Merge main -> google
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/BUILD
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/ConvertUtilToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/ConvertUtilToHAL.h
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/BUILD
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/shape_constants.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/CUDA/LLVMPasses.h
  iree/compiler/Dialect/HAL/Target/CUDA/NoLoopUnrollPass.cpp
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  iree/compiler/Dialect/Util/Conversion/ConversionPatterns.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/dylib/registration/driver_module.c
  iree/hal/dylib/registration/driver_module_sync.c
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/system_library_loader.h
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#6782 Update how we get the fork remote name in build cop scripts
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_llvm_dependent_submodules.sh
Labels: cla: yes

#6754 [CUDA] Add some basic logic to pick better configuration
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#6789 Move bufferization before configuration selection.
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/test/e2e/regression/linalg_ops.mlir
Labels: cla: yes

#6785 Cleaning up parsers/printers and generalizing tied operand/result handling.
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors_complex.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/stream_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/test/convert_linalg_tensor_ops_after.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALInterfaces.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/Util/IR/BUILD
  iree/compiler/Dialect/Util/IR/CMakeLists.txt
  iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  iree/compiler/Dialect/Util/IR/ClosureOpUtils.h
  iree/compiler/Dialect/Util/IR/UtilDialect.h
  iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/Dialect/Util/IR/UtilTraits.h
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/Util/IR/test/global_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
Labels: cla: yes, compiler, cleanup 🧹

#6794 Merge main -> google
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors_complex.mlir
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/stream_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/test/convert_linalg_tensor_ops_after.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALInterfaces.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/Util/IR/BUILD
  iree/compiler/Dialect/Util/IR/CMakeLists.txt
  iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  iree/compiler/Dialect/Util/IR/ClosureOpUtils.h
  iree/compiler/Dialect/Util/IR/UtilDialect.h
  iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/Dialect/Util/IR/UtilTraits.h
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/Util/IR/test/global_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  scripts/git/google_to_main.sh
  scripts/git/main_to_google.sh
  scripts/git/update_llvm_dependent_submodules.sh
Labels: cla: yes

#6795 Print the address of `main` in iree-translate (optionally)
  bindings/python/iree/compiler/core.py
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#6798 Revert "Reverts the "installed tests" feature."
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_installed_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_python.cmake
  llvm-external-projects/iree-compiler-api/build_tools/build_intree.sh
  llvm-external-projects/iree-dialects/build_tools/build_standalone.sh
Labels: cla: yes

#6624 Generate API functions in VMToEmitC conversion pass
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  iree/vm/ops_emitc.h
  iree/vm/test/call_ops.mlir
Labels: cla: yes

#6804 Merge main -> google
  bindings/python/iree/compiler/core.py
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_installed_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_python.cmake
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  iree/tools/iree-translate-main.cc
  iree/vm/ops_emitc.h
  iree/vm/test/call_ops.mlir
  llvm-external-projects/iree-compiler-api/build_tools/build_intree.sh
  llvm-external-projects/iree-dialects/build_tools/build_standalone.sh
Labels: cla: yes

#6806 [spirv] Tile along the last three partitioned (parallel) dimensions
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#6803 Generalizing MHLO type legalization to support util.global (and others).
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/test/legalize_input_types.mlir
Labels: cla: yes, compiler

#6809 Removing uses of non-iree_allocator_t allocation in the runtime.
  bindings/python/iree/runtime/status_utils.cc
  iree/base/allocator.c
  iree/base/internal/flags.c
  iree/base/status.c
  iree/base/status.h
  iree/hal/buffer_heap.c
  iree/hal/local/elf/elf_module.c
  iree/hal/local/elf/elf_module.h
  iree/hal/local/elf/platform.h
  iree/hal/local/elf/platform/apple.c
  iree/hal/local/elf/platform/generic.c
  iree/hal/local/elf/platform/linux.c
  iree/hal/local/elf/platform/windows.c
Labels: cla: yes, runtime

#6808 Explicitly create parent directory before creating symlink
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_python.cmake
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#6810 [spirv] Move Linalg to Loop conversion out of TileAndVectorizePass
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹

#6818 Fixing undefined behavior in value liveness test printing.
  iree/compiler/Dialect/VM/Analysis/ValueLiveness.cpp
Labels: bug 🐞, cla: yes, compiler, platform/windows 🚪

#6819 Don't re-wrap wrapped entry point functions.
  iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
Labels: cla: yes, compiler

#6746 Add pass for importing IREE public dialect to internal dialects.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/test/BUILD
  iree/compiler/InputConversion/Common/test/CMakeLists.txt
  iree/compiler/InputConversion/Common/test/iree_import_public.mlir
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/IREEVM.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEDialect.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREE/IREEOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/IREE/IREEOps.cpp
Labels: cla: yes

#6817 Use IREE submodule dependencies in TF integrations build
  integrations/tensorflow/WORKSPACE
Labels: cla: yes

#6821 [spirv] TileAndVectorizePass -> TileAndDistributePass + VectorizePass
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorize.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹

#6822 [spirv] NFC: ConvertToGPUPass -> DistributeToGlobalIDPass
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVDistributeToGlobalID.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/distribute_to_global_id.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹

#6813 Minor clangtidy fixes.
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/test/e2e/regression/linalg_ops.mlir
Labels: cla: yes

#6825 [spirv] Move native vector size configuration to its pass
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/KernelDispatchUtils.h
  iree/compiler/Codegen/SPIRV/SPIRVDistributeToGlobalID.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
Labels: cla: yes, codegen/spirv, cleanup 🧹

#6823 Adding vm.initializer and making global initialization nicer.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertGlobalOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/global_ops.mlir
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/BUILD
  iree/compiler/Dialect/VM/IR/test/CMakeLists.txt
  iree/compiler/Dialect/VM/IR/test/global_folding.mlir
  iree/compiler/Dialect/VM/IR/test/structural_folding.mlir
  iree/compiler/Dialect/VM/IR/test/structural_ops.mlir
  iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  iree/compiler/Dialect/VM/Transforms/test/global_initialization.mlir
Labels: cla: yes, compiler

#6788 Remove runfiles nonsense and add llvm-symbolizer to lit tests
  iree/lit_test.bzl
  iree/tools/run_lit.sh
Labels: cla: yes, infrastructure 🛠️, infrastructure/bazel

#6828 Disabling promote_workgroup_memory.mlir run line.
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
Labels: cla: yes, compiler, platform/windows 🚪

#6836 Integrate upstream cpp emitter changes
  third_party/mlir-emitc/include/emitc/Target/Cpp/CppEmitter.h
  third_party/mlir-emitc/lib/Target/Cpp/TranslateToCpp.cpp
Labels: cla: yes

#6841 Ignore all linalg ops during MHLO input legalization.
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
Labels: bug 🐞, cla: yes, compiler, ew 🤮

#6843 Add LinalgExtToLoops to SPIR-V pipeline.
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6834 Retire Mako benchmarking infra.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.py
  build_tools/mako/compile_android_modules.py
  build_tools/mako/config/README.md
  build_tools/mako/config/benchmark_template.config
  build_tools/mako/config/mobile-bert-f16-s20.config
  build_tools/mako/config/mobile-bert-pixel4.config
  build_tools/mako/config/mobile-bert-s20.config
  build_tools/mako/config/mobilenet-v2-pixel4.config
  build_tools/mako/config/mobilenet-v2-s20.config
  build_tools/mako/config/project.config
  build_tools/mako/configuration.py
  build_tools/mako/prepare_benchmark_files.py
Labels: cla: yes

#6844 Extract scalars when using outside tensors within LinalgExt body.
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6846 Add e2e tests for mhlo.bitcast_convert
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/bitcast_convert.mlir
Labels: cla: yes

#6848 Merge main -> google
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/mako/benchmark_modules_on_android.py
  build_tools/mako/compile_android_modules.py
  build_tools/mako/config/README.md
  build_tools/mako/config/benchmark_template.config
  build_tools/mako/config/mobile-bert-f16-s20.config
  build_tools/mako/config/mobile-bert-pixel4.config
  build_tools/mako/config/mobile-bert-s20.config
  build_tools/mako/config/mobilenet-v2-pixel4.config
  build_tools/mako/config/mobilenet-v2-s20.config
  build_tools/mako/config/project.config
  build_tools/mako/configuration.py
  build_tools/mako/prepare_benchmark_files.py
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
  iree/lit_test.bzl
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/run_lit.sh
  third_party/mlir-emitc/include/emitc/Target/Cpp/CppEmitter.h
  third_party/mlir-emitc/lib/Target/Cpp/TranslateToCpp.cpp
Labels: cla: yes

#6835 Support global ref ops and fix passing of refs on function boundaries in the C target
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops_i64.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/vm/ops_emitc.h
  iree/vm/test/call_ops.mlir
  iree/vm/test/global_ops.mlir
Labels: cla: yes

#6744 Support f32 in the VM by default in the compiler.
  iree/base/config.h
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
  iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/TargetOptions.cpp
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes, compiler

#6800 Reapply "Update TFLite concrete function conversion codes"
  bindings/python/tests/testdata/generate_tflite.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
Labels: cla: yes

#6855 Removing the pipeline caching during executable translation.
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/TranslateExecutableVariants.cpp
  iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
Labels: cla: yes, compiler, performance ⚡

#6779 End-to-end example for lowering config driver lowering.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/lowering_config.mlir
Labels: cla: yes, buildkite:benchmark

#6902 Allow printing of IR after pass in `iree-translate`
  iree/tools/BUILD
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#6896 [snapshot release]: Push the snapshot to a snapshot branch
  .github/workflows/validate_and_publish_release.yml
Labels: cla: yes

#6910 build_tools:cmake:iree_bytecode_module: Use get_filename_component to get path
  build_tools/cmake/iree_bytecode_module.cmake
Labels: cla: yes

#6911 Merge main -> google
  .github/workflows/validate_and_publish_release.yml
  .gitmodules
  build_tools/cmake/iree_bytecode_module.cmake
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/lowering_config.mlir
  iree/tools/BUILD
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#6915 [iree-import-public] Copy attrs in generic pattern.
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/compiler/InputConversion/Common/test/iree_import_public.mlir
Labels: cla: yes

#6914 Changing std.assert lowering to go to vm.cond_fail.
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
Labels: cla: yes, compiler, cleanup 🧹

#6880 Use llvm::TargetTransformInfo for native vector size.
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorToCooperativeMatrix.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_matrix.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/set_lowering_config.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vector_to_cooperative_matrix.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
Labels: cla: yes, buildkite:benchmark

#6912 Add several vision models for Tosa Benchmarking
  benchmarks/TFLite/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#6918 Remove deprecated Mako build status from README.md
  README.md
Labels: cla: yes

#6921 Explain x/y axis in perf dashboard graphs
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes

#6916 Convert std::string to mlir::StringAttr to fix build breakage
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: cla: yes

#6925 Increase benchmarking timeout to 40mins as we have more benchmarks
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes

#6923 Explain the sources for benchmarked TFLite models
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes

#6927 Make macos builds experimental for nightly releases
  .github/workflows/build_package.yml
Labels: cla: yes, platform/macos 🍎
