Repository iree-org/iree, pull requests merged in 2021-06, with the labels that each got.

#6039 [docker] Update tf-nightly package to 2.6.0.dev20210527
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#6042 Add support for lowering select op to HAL.
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
Labels: cla: yes, compiler

#5910 Add a script to upload benchmark data to dashboard
  build_tools/android/common/benchmark_description.py
  build_tools/android/post_benchmarks_as_pr_comment.py
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes, infrastructure 🛠️, infrastructure/benchmarking

#6024 [cmake] Support defining benchmark suites from MLIR input modules
  CMakeLists.txt
  build_tools/android/common/benchmark_description.py
  build_tools/android/run_benchmarks.py
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
  iree/test/model_benchmarks/CMakeLists.txt
  scripts/download_file.py
  scripts/generate_flagfile.py
Labels: cla: yes, infrastructure 🛠️, infrastructure/benchmarking

#5978 Handle symbol name conflicts during executable linking.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/test/const_folding.mlir
  iree/compiler/Dialect/VM/IR/test/const_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
  iree/compiler/Dialect/VM/Transforms/test/hoist_inlined_rodata.mlir
  iree/compiler/Translation/test/do_not_optimize.mlir
  iree/vm/test/buffer_ops.mlir
  iree/vm/test/list_variant_ops.mlir
Labels: cla: yes, compiler

#6051 Merge main -> google
  build_tools/android/common/__init__.py
  build_tools/android/common/benchmark_description.py
  build_tools/android/post_benchmarks_as_pr_comment.py
  build_tools/android/run_benchmarks.py
  build_tools/android/upload_benchmarks_to_dashboard.py
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/ConvertComplexToReal.cpp
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/test/convert_complex_to_real.mlir
  iree/compiler/Conversion/Passes.h
  iree/compiler/Conversion/Passes.td
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
Labels: cla: yes

#6052 Update license headers for recently landed scripts
  build_tools/android/common/__init__.py
  build_tools/android/common/benchmark_description.py
  build_tools/android/post_benchmarks_as_pr_comment.py
  build_tools/android/run_benchmarks.py
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes

#6045 [CUDA] Enable xla e2e remainder test now that NVPTX is fixed
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6058 Fix SSA use-def violation created by canonicalization of `flow.ex.stream.fragment` op.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
Labels: cla: yes

#6055 [docker] Install Python requests package
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#6056 Adding initial `iree.natvis` for runtime types.
  build_tools/cmake/iree_copts.cmake
  iree/base/status.c
  iree/iree.natvis
Labels: cla: yes, quality of life 😊, runtime

#6041 Relax DispatchLinalgOnTensors pass to clone ops in differnt blocks.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#6059 Fix two indexing issues regarding TiedOpInterface
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
Labels: cla: yes

#6062 Revert "Handle symbol name conflicts during executable linking."
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/test/const_folding.mlir
  iree/compiler/Dialect/VM/IR/test/const_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
  iree/compiler/Dialect/VM/Transforms/test/hoist_inlined_rodata.mlir
  iree/compiler/Translation/test/do_not_optimize.mlir
  iree/vm/test/buffer_ops.mlir
  iree/vm/test/list_variant_ops.mlir
Labels: cla: yes, compiler

#6063 Revert "Relax DispatchLinalgOnTensors pass to clone ops in differnt blocks."
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#5948 Added a pass that legalizes i1 constants to i8s with a cast
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/PromoteI1ToI8Pass.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/promote_i1_to_i8.mlir
Labels: cla: yes

#6067 Disable tests related to LinkExecutables pass
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes

#6068 Fix handling of rank-reduced version of subtensor and subtensor_insert
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops.mlir
Labels: cla: yes

#5990 Add a colab notebook demonstrating TFLite import process
  colab/README.md
  colab/tflite_text_classification.ipynb
Labels: cla: yes, integrations/colab, integrations/tensorflow

#6060 [ci] Test benchmark artifact generation during cross-compilation
  build_tools/cmake/build_android.sh
Labels: cla: yes, infrastructure/benchmarking, platform/android 🤖

#6064 Switch to lower mhlo.dynamic-update-slice to Linalg/Standard ops.
  iree/compiler/Dialect/Flow/Conversion/HLOToFlow/ConvertHLOToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/test/transformation.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/dynamic_update_slice.mlir
Labels: cla: yes

#6053 Support querying base benchmark results when commenting pull requests
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: cla: yes, infrastructure/benchmarking, platform/android 🤖

#6069 [ci] Use queue=build to specify Buildkite agents for building
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#6066 Relax DispatchLinalgOnTensors pass to clone ops in differnt blocks.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#6072 Disable i1 to i8 passes causing failures on pixel.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes

#6079 Allow multiple benchmark modes and enable more dylib(-sync) cases
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
  iree/test/model_benchmarks/CMakeLists.txt
Labels: cla: yes

#6081 Typing iree_vm_function_t::linkage to 16-bits to ensure proper packing.
  iree/vm/module.h
Labels: cla: yes, runtime

#6065 Roll-forward "Handle symbol name conflicts during executable linking".
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/test/const_folding.mlir
  iree/compiler/Dialect/VM/IR/test/const_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
  iree/compiler/Dialect/VM/Transforms/test/hoist_inlined_rodata.mlir
  iree/compiler/Translation/test/do_not_optimize.mlir
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/vm/test/buffer_ops.mlir
  iree/vm/test/list_variant_ops.mlir
Labels: cla: yes, compiler

#6083 Teach FlattenMemRef pass to handle vector operations.
  iree/compiler/Conversion/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Conversion/Common/test/flatten_memref_subspan.mlir
Labels: cla: yes

#6085 Add iree-input-type to model benchmark targets.
  build_tools/mako/configuration.py
  iree/test/model_benchmarks/CMakeLists.txt
Labels: cla: yes

#6089 Disable operand fusion for CPU benchmarks
  build_tools/mako/configuration.py
  iree/test/model_benchmarks/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6091 [cmake] Fix uninitialized variable
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
Labels: cla: yes

#6088 Move linalg.pad_tensor conversion to subtensor_insert into a separate pass
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLinalg/BUILD
  iree/compiler/Conversion/LinalgToLinalg/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLinalg/PadTensorToSubTensorInsert.cpp
  iree/compiler/Conversion/LinalgToLinalg/Passes.h
  iree/compiler/Conversion/LinalgToLinalg/test/BUILD
  iree/compiler/Conversion/LinalgToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLinalg/test/pad_tensor_to_tensor.mlir
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes

#6073 Rebase and work PR #6005:
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
Labels: cla: yes

#6087 Cleanup libiree_hal_local_sync_driver dependency
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
Labels: cla: yes, cleanup 🧹, runtime

#6082 Add benchmark cases for VMVX and Adreno kernel execution
  iree/test/model_benchmarks/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6096 Remove extra unnecessary allocations
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#6097 Reduce benchmarking iterations for Adreno GPU kernel execution
  iree/test/model_benchmarks/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6108 Deduplicate artifacts in generated benchmark suites
  build_tools/android/run_benchmarks.py
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
  iree/test/model_benchmarks/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6110 Moving back the iree-input-type flag to TRANSLATION_FLAGS.
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
  iree/test/model_benchmarks/CMakeLists.txt
Labels: cla: yes

#6084 Drop usage of LLVMCodegenOptions.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/test/e2e/llvm_specific/BUILD
  iree/test/e2e/llvm_specific/CMakeLists.txt
  iree/test/e2e/llvm_specific/conv.mlir
Labels: cla: yes

#6103 Extend the XLA importer to also allow MHLO MLIR Text.
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
  iree/tools/init_mlir_passes.h
Labels: cla: yes

#6094 Enable atanh test.
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
Labels: cla: yes

#6044 [CUDA] Remove assumptions that bindings are a dense set
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/convert_to_nvvm.mlir
  iree/hal/cuda/graph_command_buffer.c
Labels: cla: yes, hal/cuda

#6127 Pre-clear benchmark directory before running benchmarks
  build_tools/android/run_benchmarks.py
Labels: cla: yes, infrastructure/benchmarking

#6129 Disable large_dot_general2 test case until it gets fixed
  iree/test/e2e/vulkan_specific/dot_general.mlir
Labels: cla: yes

#6130 Avoid variable size C array in CUDA hal
  iree/hal/cuda/graph_command_buffer.c
Labels: cla: yes, hal/cuda

#6104 Add a minimal sample using variables from TF -> C API.
  colab/edge_detection.ipynb
  colab/tensorflow_hub_import.ipynb
  iree/samples/variables_and_state/CMakeLists.txt
  iree/samples/variables_and_state/README.md
  iree/samples/variables_and_state/main.c
  iree/samples/variables_and_state/variables_and_state.ipynb
Labels: cla: yes, documentation ✏️, integrations/colab, runtime, runtime/api

#6134 Fix Binding in ROCM Backend to match CUDA HAL
  experimental/rocm/direct_command_buffer.c
Labels: cla: yes

#6135 Adds PyYAML to docker python images.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#6136 Add ComplexDialect to DialectRegistry where it was missing.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
Labels: cla: yes, codegen

#6137 Fixing vm.select.ref for moves into the same register.
  iree/vm/bytecode_dispatch.c
  iree/vm/ref.h
  iree/vm/test/assignment_ops.mlir
Labels: bug 🐞, cla: yes, runtime/vm

#6138 Extend timeout for vulkan model tests
  build_tools/bazel/iree_check_test.bzl
  iree/test/e2e/models/BUILD
Labels: cla: yes

#6125 Revisit scf.for bufferization.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#6120 Extend TransposeGenericDotGeneral to handle ranks that more than three
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing_canoncalize_dot_general.mlir
Labels: cla: yes

#6143 Re-enable operand fusion for Vulkan GPU benchmarks
  build_tools/mako/configuration.py
  iree/test/model_benchmarks/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6142 Fix memory leaks under `vm/test`
  iree/vm/ref_test.cc
  iree/vm/stack_test.cc
Labels: cla: yes

#6146 Removing legacy stream binding recording.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes, cleanup 🧹, compiler

#6061 [NFC] Updated for StructuredOpInterface refactor
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLinalg/Conv2D1x1ToMatmul.cpp
  iree/compiler/Conversion/LinalgToLinalg/Conv2DToImg2Col.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#6116 Allow CPU translation to be specified using command line options.
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
Labels: buildkite:benchmark, cla: yes

#6119 Fix promote i1 to i8 order to avoid invalid IR
  iree/compiler/Dialect/Flow/Transforms/PromoteI1ToI8Pass.cpp
Labels: cla: yes

#6124 Abbreviate benchmark results posted to pull requests
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: buildkite:benchmark, cla: yes, infrastructure 🛠️, infrastructure/benchmarking

#6122 Update docs to add `input_type` flag
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  docs/developers/design_docs/cuda_backend.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_linux_bazel.md
  docs/developers/get_started/getting_started_linux_cmake.md
  docs/developers/get_started/getting_started_linux_vulkan.md
  docs/developers/get_started/getting_started_macos_bazel.md
  docs/developers/get_started/getting_started_macos_cmake.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/developers/get_started/getting_started_windows_bazel.md
  docs/developers/get_started/getting_started_windows_cmake.md
  docs/developers/get_started/getting_started_windows_vulkan.md
  docs/website/docs/building-from-source/android.md
  iree/samples/models/simple_abs.mlir
  iree/tools/test/iree-benchmark-module.mlir
  iree/tools/test/iree-run-mlir.mlir
  iree/tools/test/iree-run-module.mlir
Labels: cla: yes, documentation ✏️

#6145 Create or update comments for benchmark results
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: buildkite:benchmark, cla: yes

#6128 Adjust module specification in `iree_mlir_benchmark_suite`
  CMakeLists.txt
  build_tools/cmake/iree_mlir_benchmark_suite.cmake
  iree/benchmark/CMakeLists.txt
  iree/benchmark/TensorFlow/CMakeLists.txt
Labels: cla: yes, infrastructure/benchmarking

#6156 Disable tosa matmul test
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes

#6095 Add benchmark cases for MobileBERT
  iree/benchmark/TensorFlow/CMakeLists.txt
Labels: cla: yes

#6158 Fix copy-pasted title for a benchmark result table
  build_tools/android/post_benchmarks_as_pr_comment.py
Labels: cla: yes

#6159 [ci] Commit pipeline steps for iree-benchmark
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes

#6144 Fixing top-level vm.return of multiple of the same ref type.
  iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  iree/vm/bytecode_dispatch.c
Labels: bug 🐞, cla: yes, runtime/vm

#5953 Add support for the rodata op in the VM to EmitC conversion
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/Target/BUILD
  iree/compiler/Dialect/VM/Target/Bytecode/BUILD
  iree/compiler/Dialect/VM/Target/Bytecode/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/compiler/Dialect/VM/Target/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/ConstantEncodingUtils.cpp
  iree/compiler/Dialect/VM/Target/ConstantEncodingUtils.h
  iree/compiler/Translation/IREEVM.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/list_variant_ops.mlir
  iree/vm/test/ref_ops.mlir
Labels: cla: yes, compiler

#6170 Add VM->Python mapping for i1 buffer views.
  bindings/python/iree/runtime/vm.cc
Labels: cla: yes

#6171 Add back passes for legalizing shape->standard.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/VerifyCompilerInputLegality.cpp
Labels: cla: yes

#6113 Fix missing no-ops under IREE_SYNCHRONIZATION_DISABLE_UNSAFE
  iree/base/internal/call_once.h
  iree/base/internal/synchronization.c
Labels: cla: yes, runtime, runtime/api

#6175 Add TranslationInfo Attribute.
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
Labels: buildkite:benchmark, cla: yes

#6151 Add a pass to tile, pad and vectorize linalg ops on tensors
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/TilePadAndVectorizeWorkgroups.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/tile_pad_and_vectorize_workgroups.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#6177 Fix the initial value in `iree/samples/variables_and_state`
  iree/samples/variables_and_state/main.c
Labels: cla: yes

#6168 [CUDA] Enable dynamic pipeline
  iree/compiler/Conversion/LinalgToLLVM/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/BUILD
  iree/compiler/Conversion/LinalgToLLVMGPU/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVMGPU/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/KernelConfig.h
  iree/compiler/Conversion/LinalgToLLVMGPU/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/Passes.h
  iree/compiler/Conversion/LinalgToLLVMGPU/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
Labels: cla: yes

#6169 Adding iree_hal_deferred_command_buffer_t utility.
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/arena.c
  iree/base/internal/arena.h
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_command_buffer.h
  iree/hal/local/task_device.c
  iree/hal/local/task_queue.h
  iree/hal/local/task_semaphore.h
  iree/hal/utils/BUILD
  iree/hal/utils/CMakeLists.txt
  iree/hal/utils/deferred_command_buffer.c
  iree/hal/utils/deferred_command_buffer.h
Labels: cla: yes, hal/api

#6153 Hoist static allocation at the funcOp top
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#6147 Check fread error in tflite bindings.
  bindings/tflite/model.c
Labels: bindings/tflite, cla: yes, infrastructure 🛠️

#6184 Fix rocm_device_pointer and adding bitcode
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_buffer.h
  experimental/rocm/rocm_headers.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTargetUtils.cpp
Labels: cla: yes, hal/rocm

#6172 Fix some small typos in docs.
  docs/website/docs/building-from-source/android.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: cla: yes, documentation ✏️

#6174 Clone loaded constants if they are used for inplace update
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/stream_folding.mlir
  iree/test/e2e/xla_ops/pad.mlir
Labels: buildkite:benchmark, cla: yes

#6189 Add test case for dynamic-update-slice into constant
  iree/test/e2e/xla_ops/dynamic_update_slice.mlir
Labels: cla: yes

#6176 Convert `elf_module_test` to an executable with C API
  iree/hal/local/elf/BUILD
  iree/hal/local/elf/CMakeLists.txt
  iree/hal/local/elf/elf_module_test.cc
  iree/hal/local/elf/elf_module_test_main.c
  iree/hal/local/elf/testdata/BUILD
  iree/hal/local/elf/testdata/CMakeLists.txt
Labels: cla: yes

#6188 Disabling tying of stream operands until #6185 can be fixed.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
Labels: bug 🐞, cla: yes, compiler

#6192 Clear the whole temporary directory before/after benchmarking
  build_tools/android/run_benchmarks.py
Labels: cla: yes

#6193 [CUDA/ROCM] Add byte offset to the base when lowering binding
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/convert_to_nvvm.mlir
Labels: cla: yes

#6187 Properly support categories when benchmarking on Android
  build_tools/android/run_benchmarks.py
Labels: cla: yes

#6162 Refresh some of our Colab notebooks.
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/resnet.ipynb
  colab/tensorflow_hub_import.ipynb
  iree/samples/variables_and_state/variables_and_state.ipynb
Labels: cla: yes, cleanup 🧹, integrations/colab

#6155 Flip flags to enable IREE native ABI.
  bindings/python/iree/runtime/system_api_test.py
  bindings/python/tests/compiler_core_test.py
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/IREEToHAL/ConvertIREEToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/IREEToHAL/ConvertIREEToHAL.h
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStandardToHAL.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  iree/compiler/Dialect/Modules/Strings/IR/Dialect.cc
  iree/compiler/Dialect/Modules/TensorList/IR/TensorListDialect.cpp
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Translation/IREEVM.cpp
  iree/samples/custom_modules/custom_modules_test.cc
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/xla_ops/convert.mlir
  iree/vm/ops.h
Labels: cla: yes, cleanup 🧹, integrations/tensorflow

#6200 Delete old SIP ABI.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/function_abi.cc
  bindings/python/iree/runtime/function_abi.h
  bindings/python/iree/runtime/function_abi_test.py
  bindings/python/iree/runtime/host_types.cc
  bindings/python/iree/runtime/host_types.h
  bindings/python/iree/runtime/initialize_module.cc
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  bindings/python/iree/runtime/vm_test.py
  docs/developers/design_docs/function_abi.md
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/LowerExportedFunctions.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  iree/compiler/Bindings/SIP/BUILD
  iree/compiler/Bindings/SIP/CMakeLists.txt
  iree/compiler/Bindings/SIP/Transforms/BUILD
  iree/compiler/Bindings/SIP/Transforms/CMakeLists.txt
  iree/compiler/Bindings/SIP/Transforms/MaterializeReflectionAttrs.cpp
  iree/compiler/Bindings/SIP/Transforms/Passes.cpp
  iree/compiler/Bindings/SIP/Transforms/Passes.h
  iree/compiler/Bindings/SIP/Transforms/test/BUILD
  iree/compiler/Bindings/SIP/Transforms/test/CMakeLists.txt
  iree/compiler/Bindings/SIP/Transforms/test/materialize_reflection_attrs.mlir
  iree/compiler/Bindings/SIP/Utils/BUILD
  iree/compiler/Bindings/SIP/Utils/CMakeLists.txt
  iree/compiler/Bindings/SIP/Utils/Signature.cpp
  iree/compiler/Bindings/SIP/Utils/Signature.h
  iree/compiler/Bindings/SIP/Utils/SignatureBuilder.cpp
  iree/compiler/Bindings/SIP/Utils/SignatureBuilder.h
  iree/compiler/Bindings/SIP/Utils/SignatureParser.cpp
  iree/compiler/Bindings/SIP/Utils/SignatureParser.h
  iree/compiler/Bindings/SIP/Utils/SignatureTest.cpp
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes

#6201 Use the result buffer's length when converting flow.tensor.clone
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes

#6203 Removing the SIP signature parser from the runtime.
  bindings/python/iree/runtime/CMakeLists.txt
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/signature_parser.cc
  iree/base/signature_parser.h
  iree/base/signature_parser_test.cc
Labels: cla: yes, cleanup 🧹, runtime

#6199 Add tosa's MakeBroadcastPass to the tosa compilation
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes, integrations/tosa

#6207 Remove third_party/renderdoc_api.
  BUILD.bazel
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/renderdoc_api/BUILD.overlay
  build_tools/third_party/renderdoc_api/CMakeLists.txt
  third_party/renderdoc_api/README.md
  third_party/renderdoc_api/app/renderdoc_app.h
Labels: cla: yes, cleanup 🧹, hal/vulkan

#6197 Update gradle to build TFLilte Java bindings AAR library
  bindings/tflite/java/README.md
  bindings/tflite/java/build.gradle
  bindings/tflite/java/org/tensorflow/lite/AndroidManifest.xml
  bindings/tflite/java/org/tensorflow/lite/Interpreter.java
  bindings/tflite/java/org/tensorflow/lite/native/CMakeLists.txt
  bindings/tflite/java/settings.gradle
Labels: bindings/java, bindings/tflite, cla: yes

#6214 Add proper package configuration for iree.jax Python package.
  bindings/python/CMakeLists.txt
  bindings/python/iree/jax/CMakeLists.txt
  bindings/python/iree/jax/setup.py.in
  bindings/python/iree/jax/version.py.in
  build_tools/cmake/iree_python.cmake
Labels: bindings/python, cla: yes

#6217 Add release step to build iree_jax package.
  .github/workflows/build_package.yml
  build_tools/github_actions/build_dist.py
Labels: cla: yes

#6126 Re-implement tf test facilities to be generator based.
  CMakeLists.txt
  build_tools/cmake/iree_python.cmake
  build_tools/cmake/iree_test_matrix.cmake
  build_tools/cmake/run_test.sh
  build_tools/testing/gen_test_matrix.py
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/bindings/python/build_requirements.txt
  integrations/tensorflow/test/CMakeLists.txt
  integrations/tensorflow/test/tf_integration/CMakeLists.txt
  integrations/tensorflow/test/tf_integration/math/CMakeLists.txt
  integrations/tensorflow/test/tf_integration/math/math_test.py
  integrations/tensorflow/test/tf_integration/math/test_matrix.yaml
Labels: cla: yes, cleanup 🧹, infrastructure 🛠️, integrations/tensorflow

#6219 Update iree_jax packaging step.
  .github/workflows/build_package.yml
Labels: cla: yes

#5950 IREE Static Library Loader Compiler Integration
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/StaticLibraryGenerator.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/StaticLibraryGenerator.h
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/static_library_loader.h
Labels: cla: yes, codegen/llvm, hal/cpu

#6213 Fix incorrect license headers
  integrations/tensorflow/build_tools/testdata/generate_dynamic_samples.py
  integrations/tensorflow/iree_tf_compiler/MHLO/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.h
  integrations/tensorflow/iree_tf_compiler/MHLO/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/PromoteI1ToI8Pass.cpp
Labels: cla: yes

#6224 Adding notes for how to use executable_library_benchmark.
  iree/hal/local/executable_library_benchmark.md
Labels: cla: yes, documentation ✏️, hal/cpu

#6229 Add a facility so that the Python API will save off all temporaries.
  bindings/python/iree/compiler/CMakeLists.txt
  bindings/python/iree/compiler/README.md
  bindings/python/iree/compiler/__init__.py
  bindings/python/iree/compiler/core.py
  bindings/python/iree/compiler/debugging.py
  bindings/python/iree/compiler/setup.py.in
  bindings/python/iree/compiler/tf.py
  bindings/python/iree/compiler/tflite.py
  bindings/python/iree/compiler/xla.py
  bindings/python/tests/compiler_core_test.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  integrations/tensorflow/bindings/python/iree/tf/support/tf_test_utils.py
Labels: cla: yes

#6231 Removing stray -print-ir-after-all.
  iree/test/e2e/regression/dynamic_add.mlir
Labels: cla: yes, ew 🤮

#6232 Adding linker override flags and enabling LLD in our LLVM configuration.
  build_tools/cmake/iree_copts.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
Labels: cla: yes, codegen/llvm

#6235 Add some iree-tf-opt pass registrations.
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
Labels: cla: yes

#6237 Add python console_scripts for iree-translate, iree-import-tf, iree-import-tflite, iree-import-xla.
  bindings/python/iree/compiler/setup.py.in
  bindings/python/iree/tools/core/CMakeLists.txt
  bindings/python/iree/tools/core/scripts/iree_translate/__main__.py
  build_tools/cmake/iree_python.cmake
  integrations/tensorflow/bindings/python/iree/tools/tf/CMakeLists.txt
  integrations/tensorflow/bindings/python/iree/tools/tf/scripts/iree_import_tf/__main__.py
  integrations/tensorflow/bindings/python/iree/tools/tf/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/tflite/CMakeLists.txt
  integrations/tensorflow/bindings/python/iree/tools/tflite/scripts/iree_import_tflite/__main__.py
  integrations/tensorflow/bindings/python/iree/tools/tflite/setup.py.in
  integrations/tensorflow/bindings/python/iree/tools/xla/CMakeLists.txt
  integrations/tensorflow/bindings/python/iree/tools/xla/scripts/iree_import_xla/__main__.py
  integrations/tensorflow/bindings/python/iree/tools/xla/setup.py.in
Labels: bindings/python, cla: yes

#6226 Pad linalg ops to the next integer multiple of user specified value
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/PadLinalgOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/pad_linalg_ops.mlir
Labels: cla: yes

#6238 Fix VM constants to EmitC conversion tests
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
Labels: cla: yes

#6236 Step 2/n of refactoring `iree/compiler/Conversion/*`.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgToLLVMWorkgroupsVectorizationPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/TilePadAndVectorizeWorkgroups.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/Transforms/AffineMinCanonicalization.cpp
  iree/compiler/Conversion/Transforms/AffineMinDistributedSCFCanonicalization.cpp
  iree/compiler/Conversion/Transforms/BUILD
  iree/compiler/Conversion/Transforms/CMakeLists.txt
  iree/compiler/Conversion/Transforms/RemoveSingleIterationLoop.cpp
  iree/compiler/Conversion/Transforms/Transforms.cpp
  iree/compiler/Conversion/Transforms/Transforms.h
  iree/compiler/Conversion/Utils/BUILD
  iree/compiler/Conversion/Utils/CMakeLists.txt
  iree/compiler/Conversion/Utils/TransformUtils.h
  iree/compiler/Conversion/Utils/Utils.cpp
  iree/compiler/Conversion/Utils/Utils.h
Labels: buildkite:benchmark, cla: yes

#6239 Support calls to internal function in EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/samples/emitc_modules/CMakeLists.txt
  iree/samples/emitc_modules/add.mlir
  iree/samples/emitc_modules/add_module_test.cc
  iree/vm/shims_emitc.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/call_ops.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes, runtime/vm

#6243 Wiring up lld to be used in cmake builds.
  build_tools/cmake/iree_bytecode_module.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/RiscvLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/tools/CMakeLists.txt
Labels: cla: yes, codegen/llvm, compiler

#6222 Add CMake option to support thread-less configuration
  CMakeLists.txt
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/riscv.toolchain.cmake
  iree/base/CMakeLists.txt
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/time.c
  iree/hal/drivers/CMakeLists.txt
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/runtime/BUILD
  iree/runtime/CMakeLists.txt
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/test/BUILD
  iree/test/CMakeLists.txt
  iree/testing/BUILD
  iree/testing/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes, hal/cpu, runtime

#6242 Refactor simple_embedding sample
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/data/simple_embedding_test-llvm-aot_rv64.vmfb
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_local_sync.c
  iree/samples/simple_embedding/device_vulkan.c
  iree/samples/simple_embedding/simple_embedding.c
Labels: cla: yes, cleanup 🧹, runtime

#6241 Removing the use of hal.ex.shared_device from HAL tensor utils.
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
Labels: cla: yes, compiler

#6244 Allow an implicit cast from buffer_view to buffer on variable store.
  integrations/tensorflow/e2e/resource_ops_test.py
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertVariableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/BUILD
  iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/test/invalid.mlir
Labels: cla: yes

#6251 Properly using DATA to depend on lld.
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#6252 Add an IREE_ENABLE_ASSERTIONS option and make it interop with LLVM.
  CMakeLists.txt
Labels: cla: yes

#6250 -iree-llvm-keep-linker-artifacts now emits bitcode and preserves .o files.
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
Labels: cla: yes, codegen/llvm

#6256 Removing use of absl from iree/.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/status_utils.cc
  bindings/python/iree/runtime/vm.cc
  iree/base/CMakeLists.txt
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/span.h
  iree/base/internal/statusor.h
  iree/base/string_view.c
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
  iree/hal/buffer.h
  iree/hal/string_util_test.cc
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/check_test.cc
  iree/modules/check/native_module.cc
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/native_module.cc
  iree/samples/vulkan/CMakeLists.txt
  iree/test/BUILD
  iree/test/CMakeLists.txt
  iree/testing/BUILD
  iree/testing/CMakeLists.txt
  iree/testing/status_matchers.h
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/android/run_module_app/CMakeLists.txt
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/BUILD
  iree/tools/utils/CMakeLists.txt
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util.h
  iree/tools/utils/vm_util_test.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/native_module_cc.h
  iree/vm/native_module_packing.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes, cleanup 🧹, runtime

#6259 Removing usage of the abseil c++ library from IREE.
  BUILD.bazel
  CMakeLists.txt
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/binding.h
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  build_tools/bazel/iree.bazelrc
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/embed_data/BUILD
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/generate_embed_data_main.cc
Labels: cla: yes, cleanup 🧹

#6262 Splitting task/topology.h + task/topology_cpuinfo.h.
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/api.c
  iree/task/api.h
  iree/task/executor_test.cc
  iree/task/topology.c
  iree/task/topology.h
  iree/task/topology_cpuinfo.c
  iree/task/topology_cpuinfo.h
  iree/task/topology_cpuinfo_test.cc
  iree/task/topology_test.cc
Labels: cla: yes, cleanup 🧹, runtime

#6263 Improving the consistency of iree/modules.
  bindings/python/iree/runtime/vm.cc
  bindings/tflite/interpreter.c
  bindings/tflite/model.c
  docs/website/docs/bindings/c-api.md
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/check_test.cc
  iree/modules/check/module.cc
  iree/modules/check/module.h
  iree/modules/hal/BUILD
  iree/modules/hal/CMakeLists.txt
  iree/modules/hal/module.c
  iree/modules/hal/module.h
  iree/runtime/call.c
  iree/runtime/instance.c
  iree/runtime/session.c
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/custom_modules/module.cc
  iree/samples/custom_modules/module.h
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util_test.cc
Labels: cla: yes, cleanup 🧹, runtime

#6265 Adding a disabled atomics path for IREE_SYNCHRONIZATION_DISABLE_UNSAFE.
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/atomics.h
  iree/base/internal/atomics_disabled.h
Labels: cla: yes, platform/generic 🔩, runtime

#6270 Fix license headers with the old license
  integrations/tensorflow/iree_tf_compiler/MHLO/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/StaticLibraryGenerator.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/StaticLibraryGenerator.h
Labels: cla: yes

#6271 LLVM's tblgen causes hundreds of cmake warnings. This quiets them.
  CMakeLists.txt
Labels: cla: yes, ew 🤮, infrastructure/cmake

#6246 Add a pass that drops export ops marked as excluded during the VMToEmitC conversion
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/DropExcludedExports.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/DropExcludedExports.h
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  iree/vm/test/assignment_ops.mlir
  iree/vm/test/assignment_ops_f32.mlir
  iree/vm/test/buffer_ops.mlir
  iree/vm/test/call_ops.mlir
  iree/vm/test/control_flow_ops.mlir
  iree/vm/test/conversion_ops_f32.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/global_ops_f32.mlir
  iree/vm/test/global_ops_i64.mlir
  iree/vm/test/ref_ops.mlir
Labels: cla: yes, compiler

#6279 Fix broken links in TensorFlow framework doc.
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: cla: yes, documentation ✏️

#6253 Link CMAKE_DL_LIBS where needed instead of adding -ldl to linker flags (#5702)
  build_tools/BUILD
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_copts.cmake
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#6280 Packing all structures in the executable library.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_64.so
  iree/hal/local/executable_library.h
Labels: bug 🐞, cla: yes, platform/generic 🔩, runtime

#6269 Enable bare-metal mode in simple_embedding_local_sync
  build_tools/cmake/riscv.toolchain.cmake
  iree/hal/drivers/CMakeLists.txt
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/vmvx/registration/BUILD
  iree/hal/vmvx/registration/CMakeLists.txt
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_local_sync.c
Labels: cla: yes, hal/cpu, runtime

#6286 Adding -iree-llvm-list-targets to list registered targets.
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
Labels: cla: yes, compiler/tools, quality of life 😊

#6212 Handle read-only tensors as `initArgs` of `scf.for`.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#6288 Reverting packing added in #6280.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_64.so
  iree/hal/local/executable_library.h
Labels: bug 🐞, cla: yes, runtime

#6287 [SPIR-V codegen] Fix vectorization condition for generic op
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#6293 Restructure ops and bytecode dispatcher
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes

#6291 Add further VM f32 ops to EmitC conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
  iree/vm/test/assignment_ops_f32.mlir
  iree/vm/test/conversion_ops_f32.mlir
Labels: cla: yes

#6285 Add vmvx_sync HAL device in `iree/samples/simple_embedding`
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_embedded_sync.c
  iree/samples/simple_embedding/device_vmvx_sync.c
  iree/samples/simple_embedding/simple_embedding.c
Labels: cla: yes, hal/cpu, platform/generic 🔩, runtime

#6278 Add initial documentation for TFLite frontend
  docs/website/docs/ml-frameworks/tensorflow-lite.md
Labels: bindings/python, cla: yes, documentation ✏️, integrations/tosa

#6300 Merge main -> google
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
  iree/hal/drivers/CMakeLists.txt
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_64.so
  iree/hal/vmvx/registration/BUILD
  iree/hal/vmvx/registration/CMakeLists.txt
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_embedded_sync.c
  iree/samples/simple_embedding/device_vmvx_sync.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/assignment_ops_f32.mlir
  iree/vm/test/conversion_ops_f32.mlir
Labels: cla: yes

#6290 Add a default lowering for mhlo.dynamic_reshape.
  iree/compiler/InputConversion/MHLO/BroadcastingToLinalgPatterns.cpp
  iree/compiler/InputConversion/MHLO/test/broadcasting.mlir
Labels: cla: yes

#6304 Fix cuda_backend.md
  docs/developers/design_docs/cuda_backend.md
Labels: cla: yes, documentation ✏️, hal/cuda

#6295 Add VM to EmitC support for f32/i64 global ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/global_ops_f32.mlir
  iree/vm/test/global_ops_i64.mlir
Labels: cla: yes

#6308 Drop `translateFromMLIRToVMCModule()`
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes

#6311 Expand test coverage for dynamic shaped math functions.
  build_tools/testing/gen_test_matrix.py
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  integrations/tensorflow/test/tf_integration/math/test_matrix.yaml
Labels: cla: yes, infrastructure 🛠️, integrations/tensorflow

#6313 Enable dynamic shaped MLP tests on LLVM AOT.
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
Labels: cla: yes

#6312 Plumbing through target triples and data layouts for LLVM lowering.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/Passes.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_32.so
Labels: cla: yes, codegen/llvm, platform/generic 🔩
