Repository iree-org/iree, pull requests merged in 2021-07, with the labels that each got.

#6374 Update build badges in README
  README.md
Labels: cla: yes

#6360 Add support for lowering mhlo.sort to linalg_ext ops and distrubute them
  integrations/tensorflow/build_tools/overlay/mlir-hlo/BUILD.bazel
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/ConvertAndDistributeMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/Passes.h
  iree/compiler/InputConversion/MHLO/Passes.td
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/convert_and_distribute_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6364 Add support for lowering linalg_ext.sort to loops on memrefs.
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/PassDetail.h
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.h
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
Labels: cla: yes

#6379 Fixing build break in MSVC from wrong type used.
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
Labels: cla: yes

#6377 Add support for bufferizing LinalgExt ops.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.h
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.td
Labels: cla: yes

#6378 Plumb sort op support through LLVM CPU pipeline.
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6370 Don't exclude gen targets in bazel->cmake
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  iree/compiler/Dialect/IREE/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Modules/Check/IR/CMakeLists.txt
  iree/compiler/Dialect/Modules/VMVX/IR/CMakeLists.txt
  iree/compiler/Dialect/Shape/IR/CMakeLists.txt
  iree/compiler/Dialect/VM/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/TOSA/CMakeLists.txt
  iree/samples/custom_modules/dialect/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#6384 Fix SSA use-def violation created by inserting flow.clone ops.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/test/stream_folding.mlir
Labels: cla: yes

#6389 Add LinalgExt -> loops transform to cuda backend.
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6391 Hoist constants early during stream lowering.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes

#6392 Refactor building and registering EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  iree/tools/CMakeLists.txt
  iree/tools/init_dialects.h
  iree/tools/init_mlir_dialects.h
  iree/tools/iree-translate-main.cc
Labels: cla: yes

#6397 Add linalg_ext.scatter operation.
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/compiler/InputConversion/MHLO/test/convert_and_distribute_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6400 Fix bugs in sort op lowering.
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/test/e2e/xla_ops/sort.mlir
Labels: cla: yes

#6385 Add 'IREE Bare-Metal Arm Sample' to the docs
  docs/website/docs/community/projects.md
Labels: cla: yes, documentation ✏️

#6406 Merge main -> google
  docs/website/docs/community/projects.md
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/compiler/InputConversion/MHLO/test/convert_and_distribute_mhlo_to_linalg_ext.mlir
  iree/test/e2e/xla_ops/sort.mlir
Labels: cla: yes

#6410 Relax LegalizeInputTypesPass to work on non-structured Linalg ops.
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/test/legalize_input_types.mlir
Labels: cla: yes

#6411 Redefine iree_ext.scatter for having index depth information.
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Labels: cla: yes

#6413 Add support for lowering linalg_ext.scatter to loops + Linalg ops.
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Labels: cla: yes

#6407 Add a pattern to convert tensor<->tensor static information casts to …
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/Common/ConvertUpstreamToIREE.cpp
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/test/BUILD
  iree/compiler/InputConversion/Common/test/CMakeLists.txt
  iree/compiler/InputConversion/Common/test/convert_upstream_to_iree.mlir
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes

#6419 Add support for lowering mhlo.scatter to LinalgExt ops.
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/ConvertAndDistributeMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_and_distribute_mhlo_to_linalg_ext.mlir
  iree/test/e2e/xla_ops/scatter.mlir
Labels: cla: yes

#6421 Switching iree_allocator_t to a single control function ptr.
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/vm.cc
  iree/base/allocator.c
  iree/base/allocator.h
  iree/base/internal/arena.c
  iree/base/internal/file_path_test.cc
  iree/base/internal/flags.c
  iree/base/time.h
  iree/hal/testing/driver_registry.h
  iree/tools/iree-run-mlir-main.cc
  iree/vm/buffer.c
  iree/vm/buffer_test.cc
  iree/vm/stack.c
Labels: cla: yes, cleanup 🧹, runtime/api

#6394 Update simple_mul_dispatch_riscv_32 prebuilt
  iree/hal/local/elf/testdata/generate.sh
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
Labels: cla: yes, hal/cpu, infrastructure 🛠️

#6424 Refactor to use TypeSwitch
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#6426 Split out GPU Ops library from Transforms in bazel_to_cmake.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#6376 Update RISC-V docs
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/mkdocs.yml
Labels: cla: yes, documentation ✏️

#6431 Fix broken links
  docs/website/docs/index.md
Labels: cla: yes

#6430 [CUDA] Fix copy distribution for sizes not aligned on 4
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
Labels: cla: yes

#6393 linalg.depthwise_conv2d -> img2col with batch_matvec
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2ColPass.cpp
  iree/compiler/Dialect/Flow/Transforms/test/conv2d_to_img2col.mlir
Labels: cla: yes

#6435 Revert "linalg.depthwise_conv2d -> img2col with batch_matvec"
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2ColPass.cpp
  iree/compiler/Dialect/Flow/Transforms/test/conv2d_to_img2col.mlir
Labels: cla: yes

#6436 Rollforward "linalg.depthwise_conv2d -> img2col with batch_matvec".
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2ColPass.cpp
  iree/compiler/Dialect/Flow/Transforms/test/conv2d_to_img2col.mlir
Labels: cla: yes

#6401 Add web doc for bare-metal codegen/run
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/mkdocs.yml
Labels: cla: yes, documentation ✏️

#6437 Update IREE website top-level doc
  docs/website/docs/index.md
Labels: cla: yes

#6423 Initial Implementation of tile (+distribute) of LinalgExt ops using `TiledOpInterface`
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.h
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.h
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.h
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  iree/compiler/Dialect/LinalgExt/Transforms/test/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#6440 Fix build status path for cmake/linux/riscv64
  README.md
Labels: cla: yes

#6445 Fix compiler tracing instrumentation when using multithreading.
  iree/compiler/Utils/BUILD
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/TracingUtils.cpp
  iree/compiler/Utils/TracingUtils.h
Labels: cla: yes, compiler/tools, performance ⚡

#6447 Make runtime file I/O utilities optional.
  build_tools/cmake/riscv.toolchain.cmake
  docs/website/docs/deployment-configurations/bare-metal.md
  iree/base/config.h
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/file_io.c
  iree/base/internal/file_io_test.cc
  iree/runtime/BUILD
  iree/runtime/CMakeLists.txt
  iree/samples/dynamic_shapes/CMakeLists.txt
  iree/samples/variables_and_state/CMakeLists.txt
Labels: cla: yes, runtime, runtime/api

#6449 Migrate to td_library
  build_tools/bazel/iree_tablegen_doc.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  iree/compiler/Codegen/BUILD
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/HAL/IR/BUILD
  iree/compiler/Dialect/IREE/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/Modules/Check/IR/BUILD
  iree/compiler/Dialect/Modules/VMVX/IR/BUILD
  iree/compiler/Dialect/Shape/IR/BUILD
  iree/compiler/Dialect/VM/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/TOSA/BUILD
  iree/samples/custom_modules/dialect/BUILD
Labels: cla: yes, infrastructure 🛠️, infrastructure/bazel

#6454 Simplifying the hal.device.switch and match attribute infra.
  iree/compiler/Dialect/HAL/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALInterfaces.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/HAL/Transforms/InlineDeviceSwitches.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  iree/compiler/Dialect/HAL/Transforms/test/inline_device_switches.mlir
  iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  iree/compiler/Dialect/HAL/Transforms/test/memoize_device_queries.mlir
  iree/compiler/Dialect/HAL/Utils/DeviceSwitchBuilder.h
Labels: cla: yes, compiler

#6453 Adding vm.rodata deduplication.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/DeduplicateRodata.cpp
  iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.h
  iree/compiler/Dialect/VM/Transforms/test/BUILD
  iree/compiler/Dialect/VM/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/test/deduplicate_rodata.mlir
Labels: cla: yes, compiler, performance ⚡

#6457 Removing unused shapex dialect code.
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Dialect/Shape/IR/BUILD
  iree/compiler/Dialect/Shape/IR/CMakeLists.txt
  iree/compiler/Dialect/Shape/IR/Folders.cpp
  iree/compiler/Dialect/Shape/IR/ShapeBase.td
  iree/compiler/Dialect/Shape/IR/ShapeInterface.cpp
  iree/compiler/Dialect/Shape/IR/ShapeInterface.h
  iree/compiler/Dialect/Shape/IR/ShapeOps.cpp
  iree/compiler/Dialect/Shape/IR/ShapeOps.td
  iree/compiler/Dialect/Shape/IR/test/canonicalize.mlir
  iree/compiler/Dialect/Shape/IR/test/op_verification.mlir
  iree/compiler/Dialect/Shape/Transforms/Passes.h
Labels: cla: yes, cleanup 🧹, compiler

#6451 Fix a couple of bugs in PadLinalgOps
  iree/compiler/Dialect/Flow/Transforms/PadLinalgOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/pad_linalg_ops.mlir
Labels: cla: yes

#6458 Trimming unused shapex helpers.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/Shape/IR/Builders.cpp
  iree/compiler/Dialect/Shape/IR/Builders.h
  iree/compiler/Dialect/Shape/IR/Folders.cpp
  iree/compiler/Dialect/Shape/IR/ShapeOps.cpp
  iree/compiler/Dialect/Shape/IR/ShapeOps.td
  iree/compiler/Dialect/Shape/IR/test/canonicalize.mlir
  iree/compiler/Dialect/Shape/IR/test/parse_print.mlir
Labels: cla: yes, cleanup 🧹, compiler

#6450 Use tblgen.bzl from upstream
  build_tools/bazel/iree_tablegen_doc.bzl
  build_tools/bazel/tblgen.bzl
  iree/compiler/Codegen/BUILD
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/HAL/IR/BUILD
  iree/compiler/Dialect/IREE/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/Modules/Check/IR/BUILD
  iree/compiler/Dialect/Modules/VMVX/IR/BUILD
  iree/compiler/Dialect/Shape/IR/BUILD
  iree/compiler/Dialect/VM/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/TOSA/BUILD
  iree/samples/custom_modules/dialect/BUILD
Labels: cla: yes

#6467 Add ir_to_markdown.py utility script.
  scripts/ir_to_markdown.py
Labels: cla: yes, documentation ✏️

#6225 IREE Static Library Loader Runtime Demo (dylib-llvm-aot backend)
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/README.md
  iree/samples/static_library/simple_mul.mlir
  iree/samples/static_library/static_library_demo.c
Labels: cla: yes, codegen/llvm, hal/cpu, platform/linux 🐧

#6472 ROCM HAL Maintenance
  experimental/rocm/CMakeLists.txt
  experimental/rocm/api.h
  experimental/rocm/context_wrapper.h
  experimental/rocm/descriptor_set_layout.c
  experimental/rocm/descriptor_set_layout.h
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/dynamic_symbols.c
  experimental/rocm/dynamic_symbols.h
  experimental/rocm/dynamic_symbols_test.cc
  experimental/rocm/event_semaphore.c
  experimental/rocm/event_semaphore.h
  experimental/rocm/executable_layout.c
  experimental/rocm/executable_layout.h
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
  experimental/rocm/nop_executable_cache.c
  experimental/rocm/nop_executable_cache.h
  experimental/rocm/registration/CMakeLists.txt
  experimental/rocm/registration/driver_module.c
  experimental/rocm/registration/driver_module.h
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_allocator.h
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_buffer.h
  experimental/rocm/rocm_device.c
  experimental/rocm/rocm_device.h
  experimental/rocm/rocm_driver.c
  experimental/rocm/rocm_event.c
  experimental/rocm/rocm_event.h
  experimental/rocm/rocm_headers.h
  experimental/rocm/status_util.c
  experimental/rocm/status_util.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTargetUtils.cpp
Labels: cla: yes

#6473 Improving tracing of vulkan command buffers/dispatches.
  iree/hal/vulkan/direct_command_buffer.cc
Labels: cla: yes, hal/vulkan

#6474 Adding iree_hal_command_buffer_push/pop_debug_group.
  experimental/rocm/direct_command_buffer.c
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/task_command_buffer.c
  iree/hal/vulkan/direct_command_buffer.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/module.c
Labels: cla: yes, hal/api

#6460 Add an interface to `tensor::InsertSliceOp` to implement the `TiledOpInterface`
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.h
  iree/compiler/Dialect/LinalgExt/Transforms/Passes.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#6470 Interchange linalg generic op to move reduction loops to inner loops
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOp.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/interchange.mlir
Labels: cla: yes

#6480 Disable VMA logging by default as it is slow and not generally useful.
  iree/hal/vulkan/internal_vk_mem_alloc.cc
Labels: cla: yes, hal/vulkan

#6479 Make tracing compatible with sanitizers.
  iree/base/tracing.cc
Labels: cla: yes, kokoro:rebuild

#6481 Hiding tracing zones for imported VM functions.
  iree/vm/stack.c
Labels: cla: yes, performance ⚡, runtime/vm

#6482 Fixing task system off-by-one that was preventing proper distribution.
  iree/task/task.c
Labels: bug 🐞, buildkite:benchmark, cla: yes, hal/cpu

#6485 Drop TESTONLY from sample target.
  iree/samples/static_library/CMakeLists.txt
Labels: cla: yes

#6478 Limit the number of operands for FusionOfTensorOps to 32.
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: cla: yes

#6487 Use clock_gettime on emscripten.
  iree/base/time.c
Labels: cla: yes, hal/webgpu

#6490 Documentation Reference for Bare-Metal Static Library
  docs/website/docs/deployment-configurations/bare-metal.md
Labels: cla: yes

#6495 Add optional for exceptions to satisfy pytype
  bindings/python/iree/runtime/function.py
Labels: cla: yes

#6464 Add a loop body implementation method to TiedOpInterface.
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Labels: cla: yes

#6497 [CUDA] Fix mapping of binding to kernel argument with multiple sets.
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/hal/cuda/descriptor_set_layout.c
  iree/hal/cuda/descriptor_set_layout.h
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
Labels: cla: yes, hal/cuda

#6489 Fixing naming inconsistencies in the interchange generic ops pass.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/interchange_generic_ops.mlir
Labels: cla: yes, cleanup 🧹

#6498 Move benchmark/ out of iree/ for better codebase structure
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
Labels: buildkite:benchmark, cla: yes

#6496 Inserting a workaround for constant tensors escaping blocks.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/InsertConstantClones.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/insert_constant_clones.mlir
Labels: bug 🐞, cla: yes, compiler

#6439 Add support for saving mid level IR to a file.
  bindings/python/iree/compiler/tf.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
Labels: cla: yes

#6500 Merge main -> google
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  bindings/python/iree/compiler/tf.py
  bindings/python/iree/runtime/function.py
  docs/website/docs/deployment-configurations/bare-metal.md
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
  iree/base/time.c
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/InsertConstantClones.cpp
  iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/insert_constant_clones.mlir
  iree/compiler/Dialect/Flow/Transforms/test/interchange_generic_ops.mlir
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/hal/cuda/descriptor_set_layout.c
  iree/hal/cuda/descriptor_set_layout.h
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
Labels: cla: yes

#6502 Fix Pytype in module_utils.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
Labels: cla: yes

#6510 Implement flow->hal lowering of flow.tensor.splat.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
Labels: cla: yes, compiler

#6513 Don't fold flow.tensor.splat with dynamic shape
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: cla: yes

#6506 Fix typo of risc-v readme
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/website/docs/building-from-source/riscv.md
Labels: cla: yes

#5614 Fold standalone linalg.fill ops into flow.tensor.splat ops
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops_after.mlir
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops_before.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: buildkite:benchmark, cla: yes

#6511 Cloning the status message generated in vm.fail.
  iree/vm/bytecode_dispatch.c
Labels: bug 🐞, cla: yes, runtime/vm

#6509 [spirv] Use deterministic symbol names when creating variables
  iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
Labels: cla: yes, cleanup 🧹, codegen/spirv

#6516 [spirv] NFC: Update comments in SPIR-V pipeline
  iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: cla: yes, cleanup 🧹, codegen/spirv

#6514 Switching VM symbol ops to use assemblyFormat.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/variable_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/variable_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/const_ops.mlir
  iree/compiler/Dialect/VM/IR/test/global_folding.mlir
  iree/compiler/Dialect/VM/IR/test/global_ops.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/compiler/Dialect/VM/Transforms/test/global_initialization.mlir
  iree/compiler/Dialect/VM/Transforms/test/ordinal_allocation.mlir
  iree/vm/test/global_ops.mlir
  iree/vm/test/global_ops_f32.mlir
  iree/vm/test/global_ops_i64.mlir
Labels: cla: yes, cleanup 🧹, compiler

#6507 [CUDA] Unify contraction op config and enable vectorization
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#6524 Fix NVVM pipeline test after adding outdates test
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#6517 Add a pattern to convert tensor.from_elements to flow.tensor.splat.
  iree/compiler/InputConversion/Common/ConvertUpstreamToIREE.cpp
  iree/compiler/InputConversion/Common/test/convert_upstream_to_iree.mlir
Labels: cla: yes, compiler

#6523 [CUDA] Add basic logic to pick the tile size based on contraction shape
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Labels: cla: yes

#6529 [CUDA HAL] Fix allocation for device local hoist visible case
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/dynamic_symbols.c
Labels: cla: yes

#6538 Merge main -> google
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/dynamic_symbols.c
Labels: cla: yes

#6540 Make Dispatch region formation handle `LinalgExtOp`s that implement `TiledOpInterface`.
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
Labels: buildkite:benchmark, cla: yes

#6543 Fail ELF loading when imports are found with a better error message.
  iree/hal/local/elf/elf_module.c
Labels: cla: yes, hal/cpu, quality of life 😊

#6544 C flags were being passed to assembler (masm)
  iree/hal/local/elf/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake, platform/windows 🚪

#6542 NFC: Cleanups to TiledOpInterface and LinalgExtOps.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.h
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
Labels: cla: yes

#6551 Merge main -> google
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.h
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  iree/hal/local/elf/CMakeLists.txt
  iree/hal/local/elf/elf_module.c
Labels: cla: yes

#6552 Correct double-quote escaping from PS->bash
  iree/tools/run_lit.ps1
Labels: cla: yes, platform/windows 🚪

#6553 Fixing Win32 dangling thread deadlock.
  iree/base/internal/threading_win32.c
Labels: bug 🐞, cla: yes, platform/windows 🚪

#6534 Add a pattern to fold flow.tensor.splat-.load pairs into primitives.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: cla: yes

#6550 Save MHLO input in iree-import-xla
  bindings/python/iree/compiler/xla.py
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes

#6558 [ROCM] bindings with kernels and device local host
  experimental/rocm/descriptor_set_layout.c
  experimental/rocm/descriptor_set_layout.h
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/executable_layout.c
  experimental/rocm/executable_layout.h
  experimental/rocm/rocm_allocator.c
Labels: cla: yes

#6560 Adding a skeleton librt to provide libc/libm/etc during embedded linking.
  .gitignore
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/librt/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/librt/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/build.sh
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/libm.c
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/libm.h
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/librt.h
Labels: cla: yes, codegen/llvm

#6561 Add canonicalizer for flow.tensor.splat+reshape -> splat.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: cla: yes, compiler

#6465 Integrate deferred command buffer into CUDA backend.
  build_tools/bazel/build_core.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/api.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_device.h
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/registration/driver_module.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_cuda.c
Labels: cla: yes, hal/cuda

#6569 Various fixes/tweaks to cuda/rocm backends.
  experimental/rocm/descriptor_set_layout.c
  experimental/rocm/descriptor_set_layout.h
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/dynamic_symbols.c
  experimental/rocm/dynamic_symbols.h
  experimental/rocm/event_semaphore.c
  experimental/rocm/event_semaphore.h
  experimental/rocm/executable_layout.c
  experimental/rocm/executable_layout.h
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
  experimental/rocm/nop_executable_cache.c
  experimental/rocm/nop_executable_cache.h
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_allocator.h
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_buffer.h
  experimental/rocm/rocm_device.c
  experimental/rocm/rocm_device.h
  experimental/rocm/rocm_driver.c
  experimental/rocm/rocm_event.c
  experimental/rocm/rocm_event.h
  experimental/rocm/status_util.h
  iree/hal/cuda/cuda_buffer.c
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/vulkan/vma_buffer.cc
Labels: bug 🐞, cla: yes, cleanup 🧹, hal/cuda, hal/rocm

#6570 Remove redundant variable to enable CUDA test
  build_tools/bazel/build_core.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
Labels: cla: yes

#6567 Fixing/eliminating/clarifying some runtime struct alignment issues.
  iree/base/alignment.h
  iree/base/internal/threading_darwin.c
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_win32.c
  iree/base/internal/wait_handle_poll.c
  iree/base/internal/wait_handle_win32.c
  iree/hal/allocator_heap.c
  iree/hal/buffer_heap.c
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_driver.c
  iree/hal/driver_registry.c
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/legacy_library_loader.c
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/sync_device.c
  iree/hal/local/task_device.c
  iree/hal/local/task_driver.c
  iree/hal/vulkan/native_descriptor_set_layout.cc
  iree/samples/custom_modules/module.cc
  iree/vm/buffer.c
  iree/vm/bytecode_module.c
  iree/vm/bytecode_module_impl.h
  iree/vm/context.c
  iree/vm/instance.c
  iree/vm/list.c
  iree/vm/native_module.c
Labels: bug 🐞, cla: yes, runtime

#6565 Adding -iree-flow-simplify-variable-accesses pass.
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/simplify_variable_accesses.mlir
Labels: cla: yes, compiler, performance ⚡

#6532 Adds the TFLite/TOSA blog post to the website
  docs/website/docs/blog/2021-07-19-tflite-tosa-compilation-diagram.png
  docs/website/docs/blog/2021-07-19-tflite-tosa.md
  docs/website/mkdocs.yml
Labels: bindings/tflite, cla: yes, documentation ✏️, integrations/tosa

#6568 Run a check_submodule_init script during CMake configure
  CMakeLists.txt
  scripts/git/check_submodule_init.py
Labels: cla: yes, infrastructure/cmake, quality of life 😊

#6574 [spirv] Create variables early for conversion and deduplication
  iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
Labels: cla: yes, cleanup 🧹, codegen/spirv

#6562 Enable e2e tests using TiledOpInterface for Dispatch region creation.
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/compiler/InputConversion/MHLO/Passes.h
  iree/compiler/InputConversion/MHLO/Passes.td
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/convert_and_distribute_mhlo_to_linalg_ext.mlir
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#6527 Add CI and docs for building the runtime through Emscripten.
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/cmake/build_host_install.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/docker/cmake-emscripten/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  docs/developers/get_started/getting_started_emscripten.md
Labels: cla: yes, documentation ✏️, hal/webgpu, infrastructure 🛠️, infrastructure/cmake

#6576 Fix typo in blog post nav.
  docs/website/mkdocs.yml
Labels: cla: yes, documentation ✏️

#6541 Start "IREE Best Practices" document.
  docs/developers/best_practices.md
Labels: cla: yes, documentation ✏️, performance ⚡

#6573 Adds iree_unaligned_load+store to emulate unaligned access.
  iree/base/alignment.h
  iree/base/target_platform.h
  iree/vm/bytecode_dispatch_util.h
Labels: cla: yes, runtime

#6564 Fix broken doc links and warn about python packages on Windows.
  docs/website/docs/bindings/python.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: bindings/python, cla: yes, documentation ✏️

#6579 Forcing 2-byte alignment on VM register lists.
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/test/module_encoding_smoke.mlir
  iree/compiler/Translation/test/smoketest.mlir
  iree/vm/bytecode_dispatch_util.h
Labels: cla: yes, runtime/vm

#6581 Revert "Adding -iree-flow-simplify-variable-accesses pass."
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/simplify_variable_accesses.mlir
Labels: cla: yes

#6583 Merge main -> google
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/simplify_variable_accesses.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/test/module_encoding_smoke.mlir
  iree/compiler/Translation/test/smoketest.mlir
  iree/vm/bytecode_dispatch_util.h
Labels: cla: yes

#6559 Updated docker to tf-night 2.7.0
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  integrations/tensorflow/bindings/python/build_requirements.txt
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
Labels: cla: yes

#6585 Add a separate option for enabling compiler tracing.
  CMakeLists.txt
  build_tools/cmake/build_tracing.sh
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/get_started/cmake_options_and_variables.md
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/TracingUtils.cpp
  iree/compiler/Utils/TracingUtils.h
Labels: cla: yes, infrastructure/cmake

#6588 End-to-end CPUexecution of ops implementing `TiledOpInterface`.
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  iree/test/e2e/xla_ops/scatter.mlir
Labels: cla: yes

#6584 Adding -iree-flow-simplify-variable-accesses pass.
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/simplify_variable_accesses.mlir
Labels: cla: yes, compiler, performance ⚡

#6582 Introduce linalg_ext.fft to LinalgExt dialect.
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
Labels: cla: yes, codegen

#6606 Fix benchmark model source information
  build_tools/android/run_benchmarks.py
Labels: cla: yes

#6605 Broken links
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: cla: yes, documentation ✏️

#6603 Remove zero-tile sizes from number of workgroups computations.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/linalg_ext_ops.mlir
Labels: cla: yes

#6608 Merge main -> google
  CMakeLists.txt
  build_tools/android/run_benchmarks.py
  build_tools/cmake/build_tracing.sh
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/get_started/cmake_options_and_variables.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/ml-frameworks/tensorflow.md
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/SimplifyVariableAccesses.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/simplify_variable_accesses.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/ConvertToLoops.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/TracingUtils.cpp
  iree/compiler/Utils/TracingUtils.h
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/linalg_ext_ops.mlir
  iree/test/e2e/xla_ops/scatter.mlir
Labels: cla: yes

#6590 Drop windows carriage returns
  scripts/git/check_submodule_init.py
Labels: cla: yes

#6610 Fix cuda hal for `-Wunused-but-set-parameter`
  iree/hal/cuda/stream_command_buffer.c
Labels: cla: yes
