Repository iree-org/iree, pull requests merged in 2021-11, with the labels that each got.

#7470 Enable command buffer validation and provide a way to disable it.
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/allocator.h
  iree/base/api.h
  iree/base/bitfield.c
  iree/base/bitfield.h
  iree/base/bitfield_test.cc
  iree/base/config.h
  iree/base/string_builder.c
  iree/base/string_builder.h
  iree/base/string_view.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/command_buffer_validation.c
  iree/hal/cuda/api.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/cuda/registration/driver_module.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/inline_command_buffer.h
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_command_buffer.h
  iree/hal/local/task_queue.c
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/task/worker.c
Labels: cla: yes, hal/api, quality of life 😊

#7506 Fixing command buffer validation leak.
  iree/hal/command_buffer.c
Labels: bug 🐞, cla: yes, runtime

#7507 Upgrade rbe-toolchain to Python3.7
  WORKSPACE
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
Labels: cla: yes

#7508 Add links to Python API references.
  bindings/python/README.md
  docs/website/docs/bindings/python.md
Labels: documentation ✏️, cla: yes, bindings/python

#7510 Merge main -> google
  CMakeLists.txt
  WORKSPACE
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  bindings/python/README.md
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  docs/website/docs/bindings/python.md
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/allocator.h
  iree/base/api.h
  iree/base/bitfield.c
  iree/base/bitfield.h
  iree/base/bitfield_test.cc
  iree/base/config.h
  iree/base/string_builder.c
  iree/base/string_builder.h
  iree/base/string_view.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/command_buffer_validation.c
  iree/hal/cuda/api.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/cuda/registration/driver_module.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/inline_command_buffer.h
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_command_buffer.h
  iree/hal/local/task_queue.c
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/task/worker.c
  iree/tools/iree-e2e-matmul-test.c
  scripts/download_file.py
Labels: cla: yes

#7464 [spirv] Make default configuration consider all partitioned loops
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/config_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  iree/test/e2e/tosa_ops/mul.mlir
Labels: cla: yes, performance ⚡, codegen/spirv, buildkite:benchmark

#7513 Used LLVM IR for `powf` generated from MUSL for only 64-bit archs.
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/librt/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/librt/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl_64.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt64.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/build.sh
Labels: cla: yes

#7503 Completing the wiring up of CPU imports.
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  iree/hal/local/elf/arch.h
  iree/hal/local/elf/arch/arm_32.c
  iree/hal/local/elf/arch/arm_64.c
  iree/hal/local/elf/arch/riscv.c
  iree/hal/local/elf/arch/x86_32.c
  iree/hal/local/elf/arch/x86_64.c
  iree/hal/local/elf/arch/x86_64_msvc.asm
  iree/hal/local/executable_loader.c
  iree/hal/local/loaders/embedded_library_loader.c
Labels: cla: yes, codegen/llvm, hal/cpu

#7499 Build trace-runner tests in Bazel.
  build_tools/bazel/iree_trace_runner_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  iree/test/e2e/regression/BUILD
  iree/tools/BUILD
  iree/tools/compilation.bzl
  iree/tools/iree-e2e-matmul-test.c
Labels: cla: yes

#7517 Enable pow test on embedded linking path.
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl_64.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt64.bc
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#7439 Adding the head of the stream dialect conversion pipeline.
  iree/compiler/Dialect/Stream/Conversion/BUILD
  iree/compiler/Dialect/Stream/Conversion/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.h
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/cast_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/dispatch_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertConstantOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.h
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStructuralOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/constant_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/structural_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.h
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/global_ops.mlir
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/compiler/Dialect/Stream/Transforms/test/outline_constants.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/IREEVM.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
Labels: cla: yes, compiler

#7520 Revert "Adding the head of the stream dialect conversion pipeline."
  iree/compiler/Dialect/Stream/Conversion/BUILD
  iree/compiler/Dialect/Stream/Conversion/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.h
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/cast_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/dispatch_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertConstantOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.h
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStructuralOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/constant_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/structural_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.h
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/global_ops.mlir
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/compiler/Dialect/Stream/Transforms/test/outline_constants.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/IREEVM.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
Labels: cla: yes

#7509 Initial commit of bridge to use Linalg Comprehensive Bufferize Pass.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Labels: cla: yes

#7474 On OSX dont enable LLD and warn
  build_tools/cmake/iree_setup_toolchain.cmake
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake, platform/macos 🍎

#7501 Squash docker images
  .github/workflows/android_tflite_oneshot_build.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-gcc/Dockerfile
  build_tools/docker/cmake-vulkan/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/docker/util/Dockerfile
  build_tools/docker/vulkan/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes, infrastructure 🛠️, cleanup 🧹, buildkite:benchmark

#7519 Add env var to control cleanup of temp dylib files.
  docs/developers/developing_iree/profiling_cpu_events.md
  iree/base/internal/dynamic_library_posix.c
Labels: cla: yes, hal/cpu

#7413 [Fix]: RankReducedDotGeneral creates reshapes to 0-size dimension (#7…
  iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
  iree/compiler/InputConversion/MHLO/test/mhlo_to_mhlo_preprocessing_canoncalize_dot_general.mlir
  iree/test/e2e/xla_ops/dot_general.mlir
Labels: cla: yes

#7372 Flip -iree-llvm-link-embedded to true by default.
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  build_tools/bazel/build_core.sh
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_linux_cmake.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/developers/get_started/getting_started_windows_cmake.md
  docs/website/docs/deployment-configurations/bare-metal.md
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/RiscvLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/test/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest.mlir
  iree/hal/local/elf/testdata/generate.sh
  iree/hal/local/executable_library_benchmark.md
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/static_library/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/tensor_ops/BUILD
  iree/test/e2e/tensor_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/test/BUILD
  iree/tools/test/CMakeLists.txt
Labels: cla: yes, compiler, codegen/llvm, cleanup 🧹

#7526 Adding the head of the stream dialect conversion pipeline.
  iree/compiler/Dialect/Stream/Conversion/BUILD
  iree/compiler/Dialect/Stream/Conversion/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.h
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/cast_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/dispatch_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/PatternUtils.cpp
  iree/compiler/Dialect/Stream/Conversion/PatternUtils.h
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertConstantOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStandardToStream.h
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertStructuralOps.cpp
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/constant_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/structural_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.h
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/UtilToStream/test/global_ops.mlir
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/compiler/Dialect/Stream/Transforms/test/outline_constants.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/IREEVM.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
Labels: cla: yes, compiler

#7515 Adding docs on the various extension mechanisms available in IREE.
  docs/website/docs/extensions/index.md
  docs/website/mkdocs.yml
Labels: documentation ✏️, cla: yes

#7442 Adding -iree-stream-encode-tensors pass.
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/encode_tensors.mlir
Labels: cla: yes, compiler

#7529 Align Vulkan allocs to 4 bytes, fixing unaligned fill edge cases.
  iree/hal/cts/command_buffer_test.cc
  iree/hal/vulkan/vma_allocator.cc
Labels: cla: yes, hal/vulkan

#7370 Allow non-4-byte-aligned fills in the compiler.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/exports.inl
  iree/modules/hal/module.c
  iree/test/e2e/models/collatz.mlir
  iree/vm/shims.c
  iree/vm/shims.h
Labels: cla: yes, compiler

#7531 Roll forward "Don't outline splat constants."
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/outline_large_constants.mlir
Labels: cla: yes, compiler, performance ⚡

#7532 Doc polish: fix indentation and collapse single item category.
  docs/developers/iree_community.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/community/index.md
  docs/website/mkdocs.yml
Labels: documentation ✏️, cla: yes

#7534 Remove expected failure for tflite notebook test.
  colab/test_notebooks.py
Labels: cla: yes, infrastructure 🛠️, integrations/colab

#7538 Fix conversion adaptor usage after llvm integrate.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
Labels: cla: yes

#7522 Drop "workgroup" marker.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMCPU/test/matmul_vectorization.mlir
  iree/compiler/Codegen/LLVMCPU/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/Utils/MarkerUtils.cpp
  iree/compiler/Codegen/Utils/MarkerUtils.h
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#7494 Enable benchmarks from TFLite flatbuffers on benchmark pipeline
  benchmarks/TFLite/CMakeLists.txt
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
Labels: cla: yes, buildkite:benchmark

#7535 Add statistics to Util/Transforms/FoldGlobals.cpp.
  iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
Labels: cla: yes, compiler

#7527 Adding -iree-stream-materialize-copy-on-write pass.
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  iree/compiler/Dialect/Stream/Transforms/MaterializeCopyOnWrite.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
  iree/compiler/Dialect/Stream/Transforms/test/materialize_copy_on_write.mlir
  iree/compiler/Dialect/Util/Analysis/DFX/Solver.cpp
  iree/compiler/Dialect/Util/Analysis/DFX/Solver.h
  iree/compiler/Dialect/Util/Analysis/DFX/State.h
  iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  iree/compiler/Dialect/Util/Analysis/Explorer.h
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
Labels: cla: yes, compiler

#7541 Avoid using Bazel in the Buildkite Android pipeline
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/cmake/build_android.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
Labels: cla: yes, infrastructure 🛠️, platform/android 🤖, infrastructure/benchmark, buildkite:benchmark

#7543 Fix or suppress tablegen unused template warnings
  iree/compiler/Dialect/Util/IR/UtilBase.td
  iree/compiler/Dialect/VM/IR/VMOps.td
Labels: cla: yes

#7307 - Move linalg.mmt4d to the tensor -> vector pipeline
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
Labels: cla: yes

#7546 Rename "Optional features" page to "Python bindings and importers".
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/index.md
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
  docs/website/mkdocs.yml
  integrations/tensorflow/e2e/README.md
  scripts/get_e2e_artifacts.py
Labels: documentation ✏️, cla: yes, integrations/tensorflow, bindings/python

#7545 Add multi-threaded benchmarking of TFLite models
  benchmarks/TFLite/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#7118 Make mismatched arity error easier to parse
  bindings/python/iree/runtime/function.py
Labels: cla: yes, bindings/python

#7558 NFC: improve naming and doc for tiled and distributed loop info
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPURemoveTrivialLoops.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: cla: yes

#7301 [pydm] Implement sufficient support to run a couple of types of fibonacci
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/tools/init_iree_dialects.h
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Base.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Constants.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Interfaces.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Interfaces.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/Patterns.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Utils/TypeInference.h
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/Dialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/Ops.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Optimize/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Optimize/FixateWeakNumeric.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Optimize/LocalPropagateTypes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Optimize/VariablesToSSA.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/PassDetail.h
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LowerToRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/ConversionPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/LoweringPatterns.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Utils/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Utils/TypeInference.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/importer.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/macros.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/numerics.py
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/boxing.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/numerics.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/ops_types_parse.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/optimize/local_propagate_types.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/optimize/variables_to_ssa.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/numeric.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/structural.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/flow_control.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/structural.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: cla: yes

#7565 Fix vm to emitc conversion for ref types
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/VMAnalysis.h
  iree/vm/test/call_ops.mlir
  iree/vm/test/control_flow_ops.mlir
Labels: cla: yes, compiler/emitc

#7562 Refactor to only include used headers
  iree/samples/simple_embedding/device_embedded_sync.c
Labels: cla: yes

#7566 Minor commenting in generate_e2e_matmul_tests.py
  iree/test/e2e/regression/generate_e2e_matmul_tests.py
Labels: cla: yes

#7567 Fixing warning on MSVC.
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/Dialect.cpp
Labels: cla: yes, platform/windows 🚪

#7571 Use `sync_driver` instead of `task_driver`
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/README.md
  iree/samples/static_library/static_library_demo.c
Labels: cla: yes

#7552 Adding -iree-stream-propagate-timepoints pass.
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints.mlir
Labels: cla: yes, compiler

#7437 Implementation of Util::AlignOp with tests and integration into compiler passes
  iree/compiler/Dialect/HAL/Transforms/PackAllocations.cpp
  iree/compiler/Dialect/HAL/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/Util/IR/test/BUILD
  iree/compiler/Dialect/Util/IR/test/CMakeLists.txt
  iree/compiler/Dialect/Util/IR/test/alignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/UtilToVM/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertAlignmentOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/alignment_ops.mlir
Labels: cla: yes, compiler

#7574 Enable scatter op and sort op tests for VMVX backend.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#7568 [LLVMGPU][NFC] Unify hal.interface conversion for ROCM and CUDA
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Labels: cla: yes

#7553 Add benchmarks with default flag configurations
  benchmarks/TFLite/CMakeLists.txt
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: cla: yes, infrastructure/benchmark, buildkite:benchmark

#7579 Merge main -> google
  benchmarks/TFLite/CMakeLists.txt
  build_tools/cmake/iree_benchmark_suite.cmake
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.h
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  iree/compiler/Dialect/HAL/Transforms/PackAllocations.cpp
  iree/compiler/Dialect/HAL/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/Util/IR/test/BUILD
  iree/compiler/Dialect/Util/IR/test/CMakeLists.txt
  iree/compiler/Dialect/Util/IR/test/alignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/UtilToVM/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertAlignmentOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/alignment_ops.mlir
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/README.md
  iree/samples/static_library/static_library_demo.c
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#7548 Added lowering for TFLite state to IREE::Utils operations
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/ConvertMetadata.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/PassDetail.h
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.h
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.td
  integrations/tensorflow/iree_tf_compiler/TFL/RetainCallOnceFuncs.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/StripMetadata.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/retain_call_once_funcs.mlir
Labels: cla: yes, integrations/tosa

#7575 Expand embedded linker discovery and improve error messages.
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
Labels: documentation ✏️, cla: yes, codegen/llvm, compiler/tools

#7573 Support i1 in hal.command_buffer.fill_buffer.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
Labels: cla: yes, compiler

#7550 Integrate Flex op lowering into TFLite lowering
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/flex_ops.mlir
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-opt-tflite-main.cpp
Labels: cla: yes

#7456 Pull in BlockAndValueMapping definition.
  iree/compiler/Dialect/Util/Transforms/CombineInitializers.cpp
Labels: cla: yes

#7587 Fix memory leak in static library demo
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  iree/samples/static_library/static_library_demo.c
Labels: cla: yes

#7588 Comment typo reported by @jackmsye (Fixes #7576)
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
Labels: cla: yes

#7554 Adding -iree-stream-schedule-allocation pass.
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: cla: yes, compiler

#7590 Remove code copied over from patch D11594.
  iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  iree/compiler/Codegen/Dialect/LoweringConfig.td
Labels: cla: yes

#7583 Adding -iree-stream-pack-constants/allocations passes.
  iree/compiler/Dialect/HAL/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/LayoutSlices.cpp
  iree/compiler/Dialect/Stream/Transforms/PackAllocations.cpp
  iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/layout_slices.mlir
  iree/compiler/Dialect/Stream/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
  iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.td
  iree/compiler/Dialect/Util/IR/test/BUILD
  iree/compiler/Dialect/Util/IR/test/CMakeLists.txt
  iree/compiler/Dialect/Util/IR/test/alignment_folding.mlir
  iree/compiler/Utils/BUILD
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/IndexSet.h
Labels: cla: yes, compiler

#7591 Enable tiling of linalg.pad_tensor operations.
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#7584 Adding -iree-stream-propagate-subviews pass.
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/PropagateSubviews.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/propagate_subviews.mlir
  iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints.mlir
Labels: cla: yes, compiler

#7585 Adding -iree-stream-optimization-pipeline passes.
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/FoldUniformOperands.cpp
  iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/fold_uniform_operands.mlir
  iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings.mlir
  iree/compiler/Dialect/Stream/Transforms/test/specialize_dispatches.mlir
Labels: cla: yes, compiler

#7595 Fixes stream type refinement across ties that change types.
  iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Labels: cla: yes, compiler

#7598 Fixing unneeded command buffer validation on barriers.
  iree/hal/command_buffer_validation.c
Labels: cla: yes, hal/api

#7599 Fixing `-iree-util-combine-initializers` for initializers with a CFG.
  iree/compiler/Dialect/Util/IR/UtilDialect.cpp
  iree/compiler/Dialect/Util/Transforms/CombineInitializers.cpp
  iree/compiler/Dialect/Util/Transforms/SimplifyGlobalAccesses.cpp
  iree/compiler/Dialect/Util/Transforms/test/combine_initializers.mlir
Labels: cla: yes, compiler

#7600 Adding redundant command buffer barrier elision.
  iree/compiler/Dialect/HAL/Transforms/ElideRedundantCommands.cpp
  iree/compiler/Dialect/HAL/Transforms/test/elide_redundant_commands.mlir
Labels: cla: yes, compiler

#7602 Update "Microbenchmarks" link to "Executable Benchmarks" in benchmarking.md
  docs/developers/developing_iree/benchmarking.md
Labels: documentation ✏️, cla: yes

#7564 Use upstream patterns to fold `affine.min` ops in loops
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/FoldAffineMinInDistributedLoops.cpp
  iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/fold_affine_min_in_distributed_loops.mlir
  iree/compiler/Codegen/Dialect/BUILD
  iree/compiler/Codegen/Dialect/CMakeLists.txt
  iree/compiler/Codegen/Dialect/ProcessorOpInterfaces.cpp
  iree/compiler/Codegen/Dialect/ProcessorOpInterfaces.h
  iree/compiler/Codegen/Dialect/ProcessorOpInterfaces.td
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/SPIRVFoldGPUProcessorIDUses.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/fold_gpu_procid_uses.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_dialects.h
Labels: cla: yes, codegen, codegen/spirv, cleanup 🧹, buildkite:benchmark

#7607 Fixing a case of stream/tensor interop.
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/test/e2e/tosa_ops/while.mlir
Labels: cla: yes, compiler

#7609 [CUDA] Enable tiling for pooling and re-enable execution test
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#7610 Add stream dialect ConvertSplatConstantsIntoSplats folder.
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
Labels: cla: yes, compiler

#7632 Fixing the custom_modules sample to use the proper HAL allocator.
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/custom_modules/module.cc
  iree/samples/custom_modules/module.h
Labels: cla: yes, runtime

#7589 Support arbitrary shapes with mmt4d, by padding
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgMatmulToMmt4D.cpp
  iree/compiler/Dialect/Flow/Transforms/test/matmul_to_mmt4d.mlir
Labels: cla: yes

#7592 e2e matmul tests: generate more "tame" mixed shapes
  iree/test/e2e/regression/generate_e2e_matmul_tests.py
Labels: cla: yes

#7608 Move LLVMGPURemoveTrivialLoops to Common/ and use it for SPIR-V
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/RemoveTrivialLoops.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/remove_one_trip_tiled_loop.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
Labels: cla: yes, codegen, codegen/spirv, cleanup 🧹, buildkite:benchmark

#7634 Fixing dispatch region outlining with tied operands with dynamic shapes.
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
Labels: bug 🐞, cla: yes, compiler

#7636 Fixing stream conversion with custom ops taking tensors.
  iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
Labels: cla: yes, compiler

#7641 Make bufferization get result buffer from tensor.insert_slice.
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#7639 Prevent partitioning from moving ops across side-effecting ops.
  iree/compiler/Dialect/Stream/Analysis/Partitioning.cpp
  iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: cla: yes, compiler

#7643 Fixing tied op indexing in the copy-on-write pass.
  iree/compiler/Dialect/Stream/Transforms/MaterializeCopyOnWrite.cpp
  iree/compiler/Dialect/Stream/Transforms/test/materialize_copy_on_write.mlir
Labels: cla: yes, compiler

#7604 Rework the way std math ops are used from C and C++.
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#7635 [spirv] Remove the workgroup count specialization for convolutions
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  iree/compiler/Codegen/SPIRV/test/config_mali_conv.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹, buildkite:benchmark

#7582 Pretransformations to use destination passing style, before upstream bufferization.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/BufferizationAnalysis.h
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/Flow/IR/FlowOps.td
Labels: cla: yes

#7648 Figure out untiled shapes from tiled and distributed loop nest
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_default_conv.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: cla: yes, codegen, codegen/spirv, cleanup 🧹, buildkite:benchmark

#7649 Handle reshape ops in FlattenMemRefSubspanPass
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Labels: cla: yes, codegen

#7580 Add default-flags configurations for all TFLite benchmarks
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, buildkite:benchmark

#7652 Enable more vectorizations in LLVMCPUTileFuseAndVectorizePass
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/test/tile_fuse_and_vectorize.mlir
Labels: cla: yes

#7656 Drop benchmark upload blocker after series renaming
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes

#7661 Changing tflite binding generation to use hal.tensor.cast.
  bindings/tflite/testdata/BUILD
  bindings/tflite/testdata/CMakeLists.txt
  iree/compiler/Bindings/TFLite/Transforms/BUILD
  iree/compiler/Bindings/TFLite/Transforms/CMakeLists.txt
  iree/compiler/Bindings/TFLite/Transforms/MaterializeShapeSupport.cpp
  iree/compiler/Bindings/TFLite/Transforms/Passes.cpp
  iree/compiler/Bindings/TFLite/Transforms/Passes.h
  iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/TFLite/Transforms/test/BUILD
  iree/compiler/Bindings/TFLite/Transforms/test/CMakeLists.txt
  iree/compiler/Bindings/TFLite/Transforms/test/materialize_shape_support.mlir
  iree/compiler/Bindings/TFLite/Transforms/test/wrap_entry_points.mlir
  iree/compiler/Dialect/HAL/Conversion2/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
Labels: cla: yes, bindings/tflite, cleanup 🧹

#7653 Support global variables with quantized types
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/lower_global_tensors.mlir
Labels: cla: yes

#7658 Add verification hooks for lowering configuration.
  iree/compiler/Codegen/BUILD
  iree/compiler/Codegen/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.cpp
  iree/compiler/Codegen/Passes.h
Labels: cla: yes

#7665 Remove buffer based pipeline on CPU.
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/matmul_vectorization.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/test/e2e/regression/lowering_config.mlir
Labels: cla: yes

#7671 Only check submodule status once per git commit.
  CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#7655 [CUDA] Add pipeline to target tensorcore ops
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.h
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/tensorcore_vectorization.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: cla: yes

#7650 Avoid out-of-bound access when setting shape dimension size
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
Labels: bug 🐞, cla: yes, codegen

#7676 Small streams ergonomics improvements found during debugging.
  iree/compiler/Dialect/HAL/Conversion2/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/test/timepoint_folding.mlir
  iree/compiler/Dialect/Util/Analysis/Explorer.cpp
Labels: cla: yes, compiler, quality of life 😊

#7678 Fixing lifetime transitions.
  iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Labels: cla: yes, compiler

#7675 Merge main -> google
  CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/lower_global_tensors.mlir
  iree/compiler/Codegen/BUILD
  iree/compiler/Codegen/CMakeLists.txt
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/matmul_vectorization.mlir
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.h
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/tensorcore_vectorization.mlir
  iree/compiler/Codegen/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/test/e2e/regression/lowering_config.mlir
Labels: cla: yes

#7666 Use TileFuseAndVectorize pipeline for x86 by default.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
Labels: cla: yes

#7659 Flipping `-iree-experimental-streams` flag to default true.
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes, compiler, buildkite:benchmark

#7365 [Cleanup] Delete unused flags.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: cla: yes, buildkite:benchmark

#7683 Merge main -> google
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/HAL/Conversion2/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/test/timepoint_folding.mlir
  iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
  iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  iree/compiler/Translation/IREEVM.cpp
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
Labels: cla: yes

#7684 Disabling streams dispatch region specialization.
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Labels: buildkite:benchmark

#7687 Revert "Flipping `-iree-experimental-streams` flag to default true."
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes, ew 🤮

#7692 Add the fp16 <-> fp32 conversion methods to librt (along with expf for 64 bit)
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl_64.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt64.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/libm.c
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/exponential_fp16.mlir
Labels: cla: yes

#7674 Make benchmarking script more fault-tolerant
  .pylintrc
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: cla: yes, buildkite:benchmark

#7694 Fix benchmark result upload to the dashboard
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: cla: yes

#7693 Address spurious error when verifying configuration outside of compilation
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
Labels: cla: yes

#7698 Merge main -> google
  .pylintrc
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/Makefile_musl_64.iree
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt64.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/libm.c
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Translation/IREEVM.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/exponential_fp16.mlir
Labels: cla: yes

#7688 Adds a new pad-contraction-to-block-size pass.
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Passes.td
  llvm-external-projects/iree-dialects/lib/Dialect/Input/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/Input/InputOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/PadContractionToBlockSize.cpp
  llvm-external-projects/iree-dialects/test/iree_linalgext/pad_contraction_to_block_size.mlir
Labels: cla: yes

#7646 IREEComprehensiveBufferize: Use new op interface
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Labels: cla: yes

#7645 Add TFLite benchmarks for formerly TF models
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, infrastructure 🛠️, infrastructure/benchmark, buildkite:benchmark

#7702 Don't upload tflite files as part of benchmark artifacts
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, buildkite:benchmark

#7703 Fix workgroup count deduction in RemoveTrivialLoops
  iree/compiler/Codegen/Common/RemoveTrivialLoops.cpp
  iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
Labels: bug 🐞, cla: yes, codegen

#7704 Fixes for CModuleTarget after LLVM update.
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#7705 Clean up lit test for vector.contract -> aarch64 asm
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_to_aarch64_asm.mlir
Labels: cla: yes

#7706 [LLVMGPU][NFC] Minor refactor to helpers and kernel config
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.h
Labels: cla: yes

#7709 Add missing 'mlir_text' xla format.
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/xla.py
Labels: cla: yes

#7714 Adding alignment analysis and propagation into codegen.
  iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.h
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces2.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/annotate_dispatch_arguments.mlir
  iree/compiler/Dialect/Util/IR/UtilTypes.h
Labels: cla: yes, compiler

#7716 Disabling fusion of mutable resource bindings.
  iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings.mlir
  iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings_noalias.mlir
Labels: cla: yes, compiler

#7680 Adding bf16 and i4 support plumbing in a few places.
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/tensor_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/test/allocator_op_folding.mlir
  iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal2.mlir
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/string_util.c
  iree/hal/string_util_test.cc
  iree/iree.natvis
  iree/modules/check/check_test.cc
  iree/modules/check/module.cc
  iree/samples/custom_modules/dialect/test/conversion.mlir
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: cla: yes, compiler, runtime

#7721 Splitting librt into two builtins and changing linking style.
  .gitignore
  CMakeLists.txt
  iree/builtins/BUILD
  iree/builtins/CMakeLists.txt
  iree/builtins/device/BUILD
  iree/builtins/device/CMakeLists.txt
  iree/builtins/device/README.md
  iree/builtins/device/bin/BUILD
  iree/builtins/device/bin/CMakeLists.txt
  iree/builtins/device/bin/build.sh
  iree/builtins/device/bin/libdevice_wasm32_generic.bc
  iree/builtins/device/bin/libdevice_wasm64_generic.bc
  iree/builtins/device/device.h
  iree/builtins/device/device_generic.c
  iree/builtins/device/tools/BUILD
  iree/builtins/device/tools/CMakeLists.txt
  iree/builtins/device/tools/libdevice_benchmark.c
  iree/builtins/device/tools/libdevice_test.cc
  iree/builtins/musl/BUILD
  iree/builtins/musl/CMakeLists.txt
  iree/builtins/musl/Makefile_wasm32.iree
  iree/builtins/musl/Makefile_wasm64.iree
  iree/builtins/musl/bin/BUILD
  iree/builtins/musl/bin/CMakeLists.txt
  iree/builtins/musl/bin/build.sh
  iree/builtins/musl/bin/libmusl_wasm32_generic.bc
  iree/builtins/musl/bin/libmusl_wasm64_generic.bc
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.h
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Musl.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Musl.h
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.h
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/librt/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/bin/librt64.bc
  iree/compiler/Dialect/HAL/Target/LLVM/librt/build.sh
  iree/compiler/Dialect/HAL/Target/LLVM/librt/src/libm.h
  iree/testing/benchmark.h
Labels: cla: yes, compiler, codegen/llvm

#7718 Turning on streams by default.
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes, compiler, buildkite:benchmark

#7722 Perform deep clean for benchmark steps
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, infrastructure/benchmark

#7682 Hook vector unrolling in LLVMTileFuseAndVectorizePass.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/test/tile_fuse_and_vectorize.mlir
Labels: cla: yes

#7724 Revert "Adding bf16 and i4 support plumbing in a few places."
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/tensor_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/test/allocator_op_folding.mlir
  iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal2.mlir
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/string_util.c
  iree/hal/string_util_test.cc
  iree/iree.natvis
  iree/modules/check/check_test.cc
  iree/modules/check/module.cc
  iree/samples/custom_modules/dialect/test/conversion.mlir
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: cla: yes

#7720 Fixing VK descriptor pool initialization for push descriptor fallback.
  iree/hal/vulkan/descriptor_pool_cache.cc
  iree/hal/vulkan/descriptor_pool_cache.h
Labels: cla: yes, performance ⚡, hal/vulkan

#7647 IREEComprehensiveBufferize: InitTensorOp Elimination
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
Labels: cla: yes

#7726 Clean up branching in LLVM serializeExecutable function.
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
Labels: cla: yes, codegen/llvm, cleanup 🧹, platform/generic 🔩

#7728 Set CPUs to max frequency before running benchmarks
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_android_scaling_governor.sh
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, infrastructure 🛠️, infrastructure/benchmark, buildkite:benchmark

#7733 Create script for checking lint locally
  .github/workflows/lint.yml
  scripts/lint.sh
  third_party/format_diff/format_diff.py
Labels: cla: yes, infrastructure 🛠️, quality of life 😊

#7606 Add EmitC version of static library sample
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/VMAnalysis.h
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/create_bytecode_module.c
  iree/samples/static_library/create_c_module.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/static_library/static_library_demo_c_test.txt
  iree/samples/static_library/static_library_demo_test.txt
  iree/vm/shims_emitc.h
Labels: cla: yes, compiler/emitc

#7738 Fixes for static library EmitC sample.
  build_tools/cmake/iree_copts.cmake
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/vm/shims_emitc.h
Labels: cla: yes, platform/windows 🚪, compiler/emitc

#7743 Merge main -> google
  .github/workflows/lint.yml
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_android_scaling_governor.sh
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/iree_copts.cmake
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/VMAnalysis.h
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/create_bytecode_module.c
  iree/samples/static_library/create_c_module.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/static_library/static_library_demo_c_test.txt
  iree/samples/static_library/static_library_demo_test.txt
  iree/vm/shims_emitc.h
  scripts/lint.sh
  third_party/format_diff/format_diff.py
Labels: cla: yes

#7717 Make VectorizeMMT4D generate "better" IR not involving 4D->2D vector.shape_cast
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
Labels: cla: yes

#7753 Fix use-after-free of ostream in the passManager dtor
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
Labels: cla: yes

#7745 Removing `shapex.tie_shape` and its use in `flow.dispatch.workgroups`.
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_elementwise.mlir
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/IR/Folders.cpp
  iree/compiler/Dialect/Shape/IR/ShapeOps.cpp
  iree/compiler/Dialect/Shape/IR/ShapeOps.td
  iree/compiler/Dialect/Shape/IR/test/canonicalize.mlir
  iree/compiler/Dialect/Shape/IR/test/op_verification.mlir
  iree/compiler/Dialect/Shape/IR/test/parse_print.mlir
  iree/compiler/Dialect/Shape/Transforms/BUILD
  iree/compiler/Dialect/Shape/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Shape/Transforms/CleanupPlaceholdersPass.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/VM/Transforms/Conversion.cpp
Labels: cla: yes, compiler, cleanup 🧹

#7663 Add folders for some import/export/cast ops.
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/test/BUILD
  iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/test/tensor_op_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/test/tensor_folding.mlir
Labels: cla: yes, compiler

#7760 Manually invoking MASM to hide almost all of its output spew.
  iree/hal/local/elf/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake, platform/windows 🚪

#7763 Fix CMakeList files caused by the most recent integrate
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Shape/IR/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/CMakeLists.txt
Labels: cla: yes

#7762 Fix rank 0 buffer view usage in variables and state sample.
  iree/hal/buffer_view.c
  iree/samples/variables_and_state/main.c
Labels: cla: yes, runtime

#7755 Exposes control over the partitioning favor mode on the command line.
  docs/website/docs/deployment-configurations/bare-metal.md
  iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  iree/compiler/Dialect/Stream/IR/StreamBase.td
  iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  iree/compiler/Dialect/Stream/Transforms/test/schedule_concurrency.mlir
Labels: cla: yes, compiler, platform/generic 🔩

#7765 [spirv] Allow vectorization with native size 2 and 1
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: cla: yes, codegen/spirv

#7771 Fix bazel_to_cmake for bufferization changes.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/CMakeLists.txt
Labels: cla: yes

#7767 Making local HAL devices to take a device allocator as an argument.
  iree/hal/dylib/registration/driver_module.c
  iree/hal/dylib/registration/driver_module_sync.c
  iree/hal/local/sync_device.c
  iree/hal/local/sync_device.h
  iree/hal/local/sync_driver.c
  iree/hal/local/sync_driver.h
  iree/hal/local/task_device.c
  iree/hal/local/task_device.h
  iree/hal/local/task_driver.c
  iree/hal/local/task_driver.h
  iree/hal/vmvx/registration/driver_module.c
  iree/hal/vmvx/registration/driver_module_sync.c
  iree/samples/simple_embedding/device_cuda.c
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_embedded_sync.c
  iree/samples/simple_embedding/device_vmvx_sync.c
  iree/samples/simple_embedding/device_vulkan.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/static_library/static_library_demo.c
Labels: cla: yes, hal/api

#7776 [CUDA] Fill out push constant kernel arguments at dispatch time
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/native_executable.c
  iree/hal/cuda/native_executable.h
Labels: cla: yes, hal/cuda

#7779 Enabling CUDA on devices without CONCURRENT_MANAGED_ACCESS.
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_driver.c
Labels: cla: yes, hal/cuda

#7766 [spirv] NFC: tidy up SPIRVVectorizeLoadStore for consistency
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: cla: yes, codegen/spirv, cleanup 🧹

#7780 `LinkOnlyNeeded` if linking static libraries
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
Labels: cla: yes
