Repository iree-org/iree, pull requests merged in 2021-04, with the labels that each got.

#5280 Turn vectorization on by default for DispatchWorkgroupsOp path
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
Labels: cla: yes

#5279 [NFC] Fix typos in variable names.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#5281 Remove dead code in LinalgToSPIRV
  experimental/ModelBuilder/test/BUILD
  experimental/ModelBuilder/test/CMakeLists.txt
  experimental/ModelBuilder/test/TestVectorToGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/vector_to_gpu.mlir
Labels: cla: yes, cleanup 🧹

#5284 Actually run MobileNet with fake weights to check correctness
  iree/test/e2e/models/mobilenetv2_fake_weights.mlir
Labels: cla: yes

#5275 Drop deps on Abseil's core_headers, synchronization, macros.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/emulated_semaphore.cc
  iree/hal/vulkan/internal_vk_mem_alloc.cc
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/timepoint_util.cc
  iree/hal/vulkan/timepoint_util.h
  iree/hal/vulkan/util/BUILD
  iree/hal/vulkan/util/CMakeLists.txt
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/check_test.cc
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/modules/tensorlist/tensorlist_test.cc
  iree/modules/vmla/BUILD
  iree/modules/vmla/CMakeLists.txt
  iree/modules/vmla/op_kernels_ruy.h
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/simple_embedding_test.cc
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: cla: yes, cleanup 🧹, runtime

#5278 [CUDA codegen] add vectorization infrastructure
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.h
  iree/compiler/Conversion/LinalgToNVVM/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToNVVM/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/BUILD
  iree/compiler/Conversion/LinalgToNVVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/test/vectorization.mlir
Labels: cla: yes

#5285 Canonicalize affine min before applying tile-and-vecotrize passes
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes, performance ⚡

#5286 Set wasm-export-name attributes on exported functions again.
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Labels: cla: yes, codegen/llvm

#5260 Add directory for microbenchmarking
  iree/test/microbenchmarks/mhlo_conv.mlir
  iree/test/microbenchmarks/mhlo_dot.mlir
  iree/test/microbenchmarks/mhlo_dot_general.mlir
Labels: cla: yes

#5289 Extend AffineMin canonicalization to support scf.parallel
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/test/affinemin_canonicalization.mlir
Labels: cla: yes

#5293 [CUDA Codegen] Enable tiling and vectorization for MatMulOp
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToNVVM/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToNVVM/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
Labels: cla: yes

#5296 Fix CUDA HAL bug and enable more execution tests
  iree/hal/cuda/graph_command_buffer.c
  iree/test/e2e/cuda_specific/BUILD
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/cuda_specific/dot.mlir
Labels: cla: yes, hal/cuda

#5292 Insert clones prior to mutation and not where it originates.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
Labels: cla: yes, compiler, performance ⚡

#5287 Implementing Vulkan dispatch tracing.
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/api.h
  iree/hal/vulkan/command_queue.h
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/direct_command_queue.cc
  iree/hal/vulkan/direct_command_queue.h
  iree/hal/vulkan/dynamic_symbol_tables.h
  iree/hal/vulkan/extensibility_util.cc
  iree/hal/vulkan/extensibility_util.h
  iree/hal/vulkan/native_executable.cc
  iree/hal/vulkan/native_executable.h
  iree/hal/vulkan/registration/driver_module.cc
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/tracing.cc
  iree/hal/vulkan/tracing.h
  iree/hal/vulkan/vulkan_device.cc
Labels: cla: yes, hal/vulkan, performance ⚡

#5301 Add new metrics to MobileNetV2 benchmarks.
  build_tools/mako/config/mobilenet-v2-pixel4.config
  build_tools/mako/config/mobilenet-v2-s20.config
  build_tools/mako/configuration.py
Labels: cla: yes

#5294 Add StripAsserts pass and handle tf.Identity ops on tensor lists.
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/TF/StripAsserts.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/test/strip_asserts.mlir
  integrations/tensorflow/iree_tf_compiler/dialect/tf_tensorlist/conversion/convert_tf_to_tf_tensorlist.cc
  integrations/tensorflow/iree_tf_compiler/dialect/tf_tensorlist/conversion/test/convert_tf_to_tf_tensorlist.mlir
Labels: cla: yes

#5304 Switch simple_embedding_test to include drivers explicitly.
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/simple_embedding_test.cc
Labels: cla: yes, cleanup 🧹

#5308 Fix RFFT bugs in VMLA.
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  iree/modules/vmla/op_kernels_fft.h
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/fft.mlir
Labels: cla: yes

#5200 Add Mako benchmark config template file.
  build_tools/mako/config/benchmark_template.config
Labels: cla: yes

#5307 Removing hal.buffer.fill and hal.buffer.copy.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/buffer_ops.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/exports.inl
  iree/modules/hal/hal_module.c
Labels: cla: yes, cleanup 🧹, compiler

#5302 Continue pruning abseil usage: switch from absl::InlinedVector to std::vector.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/signature_parser.h
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
  iree/hal/buffer_view.cc
  iree/hal/string_util.cc
  iree/hal/string_util_test.cc
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/descriptor_pool_cache.h
  iree/hal/vulkan/descriptor_set_arena.h
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/emulated_semaphore.cc
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/native_module.cc
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/strings/api.cc
  iree/modules/strings/strings_module.cc
  iree/modules/strings/strings_module_test.cc
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/modules/tensorlist/native_module.cc
  iree/modules/tensorlist/tensorlist_test.cc
  iree/modules/vmla/BUILD
  iree/modules/vmla/CMakeLists.txt
  iree/modules/vmla/op_kernels_generic.h
  iree/modules/vmla/op_kernels_test.cc
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/utils/vm_util.cc
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/module_abi_packing.h
Labels: cla: yes, cleanup 🧹, runtime

#5306 Add tests to run few other (smaller) models with Linalg on tensors path.
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
Labels: cla: yes

#5297 NFC: Cleanup ConcretizeTileAmongstWorkgroupsPass.
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/LinalgToLLVM/MaterializeCPULaunchConfigurationPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups_dynamic.mlir
Labels: cla: yes

#5316 Patch VMLA performance by reserving vector size before pushing to it.
  iree/modules/vmla/op_kernels_generic.h
Labels: cla: yes, performance ⚡

#5318 Check for VMLA and Vulkan components for simple_embedding_test.
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#5323 Print out the status when iree-check-module fails
  iree/tools/iree-check-module-main.cc
Labels: cla: yes

#5309 Add a target_env_conversion test for Linalg on tensors.
  iree/compiler/Dialect/Vulkan/Utils/test/BUILD
  iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion_linalg_on_tensors.mlir
Labels: cla: yes

#5204 Add mobile-bert f16 version to Mako benchmark.
  build_tools/mako/config/mobile-bert-f16-s20.config
  build_tools/mako/configuration.py
Labels: cla: yes

#5305 Added pad test, update LegalizeInputTypes to allow linalg.yield
  iree/compiler/Dialect/Flow/Transforms/LegalizeInputTypes.cpp
  iree/compiler/Dialect/Flow/Transforms/test/legalize_input_types.mlir
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/pad.mlir
Labels: cla: yes, compiler, integrations/tosa

#5282 [CodeGen] Enable fusion with consumer elementwise ops
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes, performance ⚡

#5247 Don't inline block arguments that can be written
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: cla: yes

#5329 Fix bugs in ExtractReduceWindowOpPaddingAttributes.
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
Labels: cla: yes

#5331 Fix benchmarking MobileNetV2 on S20 GPU in Linalg on tensor path.
  build_tools/mako/configuration.py
Labels: cla: yes

#5333 Fix vulkan_device struct manipulation issue with std::vector.
  iree/hal/vulkan/vulkan_device.cc
Labels: bug 🐞, cla: yes, hal/vulkan

#5332 [vulkan] Disable ResNet50 test failing on NVIDIA GPUs
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
Labels: cla: yes

#5334 Drop absl logging and flat_hash_map.
  iree/base/logging.h
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/internal_vk_mem_alloc.cc
Labels: cla: yes, cleanup 🧹, hal/vulkan, runtime

#5324 Add smoketest_linalg_on_tensors to LLVM and Vulkan-SPIRV targets.
  iree/compiler/Dialect/HAL/Target/LLVM/test/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest_linalg_on_tensors.mlir
Labels: cla: yes

#5226 Update Java Bindings To Build In Experimental
  experimental/bindings/java/com/google/iree/native/CMakeLists.txt
  experimental/bindings/java/com/google/iree/native/context_wrapper.cc
  experimental/bindings/java/com/google/iree/native/instance_wrapper.cc
  experimental/bindings/java/com/google/iree/tests/integration_test.cc
Labels: bindings/java, cla: yes

#5335 Add mixed static-dynamic arguments interface
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions2.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
Labels: cla: yes

#5288 Add TosaToStandard to cpu/gpu target pipeline from ApplyScale lowering
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/mul.mlir
Labels: cla: yes, integrations/tosa

#5341 Fix linalg-on-tensors smoketests
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest_linalg_on_tensors.mlir
Labels: cla: yes

#5344 Remove extra comma from context_wrapper.cc
  experimental/bindings/java/com/google/iree/native/context_wrapper.cc
Labels: bindings/java, cla: yes

#5336 Control TF MLIR print options via flags
  bindings/python/iree/compiler/core.py
  bindings/python/iree/compiler/tf.py
  bindings/python/iree/compiler/tflite.py
  bindings/python/iree/compiler/xla.py
  bindings/python/tests/compiler_tf_test.py
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-import-main.cpp
Labels: bindings/python, cla: yes, integrations/tensorflow

#5346 Drop absl flat_hash_set and some unused includes.
  build_tools/embed_data/BUILD
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/generate_cc_embed_data_main.cc
  iree/hal/buffer_view.cc
  iree/modules/vmla/BUILD
  iree/modules/vmla/CMakeLists.txt
  iree/modules/vmla/op_kernels_generic.h
Labels: cla: yes, cleanup 🧹, runtime

#5343 [CodeGen] Copy constant at the proper place during bufferization
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5355 Fix submodule check failure
  SUBMODULE_VERSIONS.txt
Labels: bug 🐞, cla: yes, infrastructure 🛠️

#5356 Tracy fixes for GPU name allocation and allocation callstack mode.
  iree/base/tracing.h
  iree/hal/vulkan/internal_vk_mem_alloc.cc
  iree/hal/vulkan/tracing.cc
  iree/hal/vulkan/vma_buffer.cc
Labels: bug 🐞, cla: yes, hal/vulkan

#5352 [spirv] NFC: use upstream push constant utility functions
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
Labels: cla: yes

#5357 Removing hack that forced all Vulkan buffers to be host-visible.
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  iree/hal/vulkan/vma_allocator.cc
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes, hal/vulkan, performance ⚡

#5328 Adding `-iree-hal-materialize-interfaces2` to finally use `hal.interface` (mostly) as it was intended
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces2.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces2.mlir
Labels: cla: yes, compiler

#5232 Add logging for Android
  build_tools/cmake/iree_copts.cmake
  iree/base/logging.cc
Labels: cla: yes

#5360 Remove handling of shape dialect in flow->hal stream conversion.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
Labels: cla: yes, cleanup 🧹, compiler

#5347 Add support for returning Python tuples
  .github/workflows/lint.yml
  bindings/python/iree/runtime/function_abi.cc
  bindings/python/iree/runtime/system_api.py
  integrations/tensorflow/bindings/python/iree/tf/support/tf_utils.py
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/fft_test.py
  integrations/tensorflow/e2e/pytree_test.py
Labels: bindings/python, cla: yes, integrations/tensorflow

#5363 Disable fusion of named ops with elementwise operations by default.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
Labels: cla: yes

#5380 Turn on operand fusion flag for benchmarks of Linalg on tensors
  build_tools/mako/configuration.py
Labels: cla: yes

#5374 Switch simple_embeddding to test on DyLib + Vulkan
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/simple_embedding_test.cc
Labels: cla: yes

#5366 Adding some basic flow.tensor.reshape folders.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: cla: yes, compiler

#5382 Fixing ASAN-instrumented dylib library loading.
  iree/hal/local/loaders/legacy_library_loader.c
Labels: bug 🐞, cla: yes, hal/cpu

#5368 Making flow.tensor.reshape a tied-op.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/IREE/IR/IREEInterfaces.td
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
Labels: cla: yes, compiler

#5365 Removes tied transient buffer assignment propagation.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
Labels: cla: yes, cleanup 🧹, compiler

#5369 Handle tensor.cast bufferization in LinalgBufferizePass
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5384 Legalize ui64 to i32 in Flow type converter
  iree/compiler/Dialect/Flow/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/Flow/Transforms/test/legalize_input_types.mlir
Labels: cla: yes

#5362 MaterializeCPULaunch configurations before bufferization
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/MaterializeCPULaunchConfigurationPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#5386 [CUDA Codegen] Add support for promotion to workgroup memory.
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.cpp
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.h
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToNVVM/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToNVVM/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
Labels: cla: yes

#5358 Make PrePartitioningConversionPass not recurse into Linalg
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/pre_partitioning_conversion.mlir
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/table.mlir
Labels: cla: yes

#5402 Limit fusion of linalg.generic/indexed_generic ops to avoid redundant computation
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#5408 Fix git-clang-format error.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#5389 Canonicalizations for dispatch.tensor.load
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.h
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/BUILD
  iree/compiler/Dialect/Flow/IR/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/test/dispatch_tensor_folding.mlir
Labels: cla: yes, codegen, compiler

#5399 [NFC] Make HLOToHLOPreprocessing pass follow naming convention.
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
Labels: cla: yes

#5397 Preparing for transient buffer allocation.
  iree/compiler/Conversion/Common/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/Common/test/linalg_rewrite_destructive_updates.mlir
  iree/compiler/Conversion/HLOToLinalg/test/concatenate.mlir
  iree/compiler/Conversion/HLOToLinalg/test/dot.mlir
  iree/compiler/Conversion/HLOToLinalg/test/fusion.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pad_tensor.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pipeline_test.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor_insert.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_vectorize.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/convert_to_nvvm.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups_dynamic.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/elementwise_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/fold-gpu-procid-uses.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/materialize_launch_configuration2.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/command_buffer_folding.mlir
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/test/linking.mlir
  iree/compiler/Dialect/VMLA/Conversion/HALToVMLA/test/interface_ops.mlir
  iree/compiler/Dialect/VMLA/Transforms/test/transformation.mlir
  iree/hal/local/arena.c
  iree/hal/local/arena.h
  iree/modules/hal/hal_module.c
Labels: cla: yes, compiler, performance ⚡, runtime

#5393 Update the TensorFlow Integrations Test Coverage
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/BUILD
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  integrations/tensorflow/e2e/math/math_test.py
Labels: cla: yes, infrastructure 🛠️, integrations/tensorflow

#5416 Adding an error message to iree.unreachable.
  iree/compiler/Dialect/HAL/Transforms/InlineDeviceSwitches.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/VM/Conversion/IREEToVM/ConvertIREEToVM.cpp
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/hint_ops.mlir
Labels: cla: yes, compiler, quality of life 😊

#5421 Adding hal.device.query/iree_hal_device_query_*.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertDeviceOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/device_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/hal/cuda/cuda_device.c
  iree/hal/device.c
  iree/hal/device.h
  iree/hal/local/task_device.c
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/hal_module.c
  iree/modules/hal/shims.c
  iree/modules/hal/shims.h
Labels: cla: yes, compiler, hal/api

#5396 Adding simple transient buffer packing.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/BUILD
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/CMakeLists.txt
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/allocator_op_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/PackAllocations.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/Utils/TypeUtils.h
Labels: cla: yes, compiler, performance ⚡

#5427 Remove unnecessary NOLINT
  iree/compiler/Dialect/Flow/Transforms/HoistUnstreamableOps.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/Shape/Transforms/HoistShapeCalculationsPass.cpp
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/ConvertStandardToVMLA.h
Labels: cla: yes

#5422 Changing HAL executable formats from fourccs to strings.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/device_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  iree/hal/cuda/nop_executable_cache.c
  iree/hal/executable_cache.c
  iree/hal/executable_cache.h
  iree/hal/local/executable_loader.c
  iree/hal/local/executable_loader.h
  iree/hal/local/loaders/legacy_library_loader.c
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmla_module_loader.cc
  iree/hal/local/local_executable_cache.c
  iree/hal/vulkan/nop_executable_cache.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/hal_module.c
  iree/modules/hal/shims.c
  iree/modules/hal/shims.h
Labels: cla: yes, hal/api

#5415 Tune matmul/Batchmatmul tile sizes for SPIRV f32 case
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/concretize_tile_among_workgroups_dynamic.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes

#5403 [spirv] Properly handle subspan offset
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/FlattenMemRefSubspanPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/flatten_memref_subspan.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5430 [spirv] Move vector.transfer_read scalarization earlier
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
Labels: cla: yes

#5375 Set IREE codegen to Linalg on tensors by default.
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Target/LLVM/test/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest_linalg_on_tensors.mlir
  iree/compiler/Dialect/Vulkan/Utils/test/BUILD
  iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion_linalg_on_tensors.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/test/e2e/hackability/BUILD
  iree/test/e2e/hackability/CMakeLists.txt
  iree/test/e2e/hackability/flow_partitioned.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/fused_dispatch_region.mlir
  iree/test/e2e/structural/gather_add.mlir
  iree/test/e2e/structural/gather_concat.mlir
  iree/test/e2e/structural/matmul_add.mlir
  iree/test/e2e/vulkan_specific/conv.mlir
Labels: cla: yes

#5435 [NFC] Removed redundant return statement.
  iree/compiler/Conversion/VectorToLLVM/VectorContractToAArch64InlineAsmOp.cpp
Labels: cla: yes

#5445 Fix benchmark configuration to Linalg on tensors setting.
  build_tools/mako/configuration.py
Labels: cla: yes

#5452 Speicify -iree-hal-target-backends in some iree_bytecode_module targets
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️

#5466 Merge main -> google
  build_tools/mako/configuration.py
  iree/base/internal/dynamic_library_win32.c
  iree/compiler/Conversion/VectorToLLVM/Passes.h
  iree/compiler/Conversion/VectorToLLVM/VectorContractToAArch64InlineAsmOp.cpp
  iree/modules/strings/BUILD
  iree/modules/strings/CMakeLists.txt
  iree/modules/tensorlist/BUILD
  iree/modules/tensorlist/CMakeLists.txt
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
Labels: cla: yes

#5468 Adding a color to dispatch slice/shard trace zones.
  iree/task/task.c
Labels: cla: yes, hal/cpu

#5473 Ensure new files are checked by bazel_to_cmake
  .github/workflows/lint.yml
  iree/compiler/Conversion/LinalgToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/VectorToLLVM/test/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#5474 Fix the last charactor drop in iree_status_to_string
  iree/base/api.c
Labels: bug 🐞, cla: yes, runtime/api

#5469 Add new max pool operations to IREE dispatch pipeline
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/max_pool.mlir
Labels: cla: yes, codegen, integrations/tosa

#5428 Remove loop with single iteration based on thread id range
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.h
  iree/compiler/Conversion/LinalgToNVVM/RemoveTrivialLoops.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/BUILD
  iree/compiler/Conversion/LinalgToNVVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToNVVM/test/remove_loops.mlir
Labels: cla: yes

#5440 Disable tile+distribute for elementwise operations due to regressions on CPU
  build_tools/mako/configuration.py
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_elementwise.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
Labels: cla: yes

#5479 [spirv] NFC: replace PlaceholderOp with InterfaceSubspanOp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
Labels: cla: yes

#5467 [ci] Allow parallel testing on NVIDIA GPUs
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
Labels: cla: yes

#5482 Remove attribute that is pass internal.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
Labels: cla: yes

#5436 Conv2D img2col implementation for linalg on tensors
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvImg2ColMatmulConversion.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
  iree/compiler/Conversion/LinalgToLinalg/BUILD
  iree/compiler/Conversion/LinalgToLinalg/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLinalg/Conv2DToImg2Col.cpp
  iree/compiler/Conversion/LinalgToLinalg/Passes.h
  iree/compiler/Conversion/LinalgToLinalg/test/BUILD
  iree/compiler/Conversion/LinalgToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLinalg/test/conv2d_to_img2col.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5478 Disable fusing linalg generic ops with reduction iterators
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
Labels: cla: yes

#5486 Fixed missing dispatch for ReduceMaxI* operations.
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5490 Fix task.c failure on 32-bit systems.
  iree/task/task.c
Labels: cla: yes

#5480 Adding a static library loader.
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/static_library_loader.h
Labels: cla: yes, hal/cpu

#5432 Adding support for !vm.list<?> variant types.
  iree/compiler/Bindings/TFLite/Transforms/test/materialize_shape_support.mlir
  iree/compiler/Dialect/IREE/IR/IREEDialect.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
  iree/compiler/Dialect/IREE/IR/IREETypes.h
  iree/compiler/Dialect/IREE/IR/test/BUILD
  iree/compiler/Dialect/IREE/IR/test/CMakeLists.txt
  iree/compiler/Dialect/IREE/IR/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/IREEToVM/ConvertIREEToVM.cpp
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMTypes.cpp
  iree/compiler/Dialect/VM/IR/test/list_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.c
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/list_ops.mlir
  iree/vm/test/list_variant_ops.mlir
Labels: cla: yes, runtime/vm

#5496 Revert "[ci] Allow parallel testing on NVIDIA GPUs"
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
Labels: cla: yes

#5494 Specify an alignment on `vm.rodata` and use it in flatbuffers.
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.h
  iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  iree/compiler/Utils/FlatbufferUtils.cpp
  iree/compiler/Utils/FlatbufferUtils.h
Labels: cla: yes, compiler, performance ⚡

#5495 Force all constants to be outlined and stored in the constant pool.
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/hal/buffer_view.h
  iree/modules/check/native_module.cc
Labels: cla: yes, compiler

#5498 Adding a note about where executable imports would be specified.
  iree/hal/local/task_command_buffer.c
Labels: cla: yes, cleanup 🧹

#5489 Remove inliner from linalg on tensors pass form LLVM backend
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#5500 Merge main -> google
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  iree/compiler/Bindings/TFLite/Transforms/test/materialize_shape_support.mlir
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/IREE/IR/IREEDialect.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/IREE/IR/IREETypes.cpp
  iree/compiler/Dialect/IREE/IR/IREETypes.h
  iree/compiler/Dialect/IREE/IR/test/BUILD
  iree/compiler/Dialect/IREE/IR/test/CMakeLists.txt
  iree/compiler/Dialect/IREE/IR/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/IREEToVM/ConvertIREEToVM.cpp
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/BUILD
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/IREEToVM/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/VMTypes.cpp
  iree/compiler/Dialect/VM/IR/test/list_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.h
  iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  iree/compiler/Utils/FlatbufferUtils.cpp
  iree/compiler/Utils/FlatbufferUtils.h
  iree/hal/buffer_view.h
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/static_library_loader.h
  iree/hal/local/task_command_buffer.c
  iree/modules/check/native_module.cc
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.c
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/list_ops.mlir
  iree/vm/test/list_variant_ops.mlir
Labels: cla: yes

#5230 Mention supported pip versions in getting_started_python.
  docs/get_started/getting_started_python.md
Labels: bindings/python, cla: yes, documentation ✏️

#5514 Delete LoadStoreVectorizationPass which is unused in IREE
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToVector/BUILD
  iree/compiler/Conversion/LinalgToVector/CMakeLists.txt
  iree/compiler/Conversion/LinalgToVector/LoadStoreVectorization.cpp
  iree/compiler/Conversion/LinalgToVector/Passes.h
  iree/compiler/Conversion/LinalgToVector/test/BUILD
  iree/compiler/Conversion/LinalgToVector/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_ops.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
Labels: cla: yes

#5511 Small improvements to enable buffer aliasing/importing.
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/modules/hal/hal_module.c
  iree/vm/builtin_types.h
  iree/vm/bytecode_module.c
Labels: cla: yes, hal/api, runtime/vm

#5512 Combining allocations of HAL heap buffer's handle and storage.
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
  iree/hal/allocator_heap.c
  iree/hal/buffer_heap.c
  iree/hal/buffer_heap_impl.h
Labels: cla: yes, hal/cpu, performance ⚡

#5446 Delete duplicated tests in iree/test/e2e/
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest.mlir
  iree/test/e2e/cuda_specific/BUILD
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/linalg_tensor_ops/BUILD
  iree/test/e2e/linalg_tensor_ops/CMakeLists.txt
  iree/test/e2e/linalg_tensor_ops/add.mlir
  iree/test/e2e/linalg_tensor_ops/matmul.mlir
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/models/edge_detection.mlir
  iree/test/e2e/models/fragment_000.mlir
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/models/mnist_fake_weights.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
Labels: cla: yes

#5475 Fix rank-mismatch issue in flow.tensor.reshape folders.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: cla: yes

#5515 Add support for converting rank-reducing subtensor ops to Flow dialect
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops.mlir
Labels: cla: yes

#5516 Create ops with static shapes in PadTensorOpConversion if they're static
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
Labels: cla: yes

#5501 Cleaning up HAL timeouts and tunneling iree_hal_device_submit_and_wait through the stack.
  iree/base/api.h
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/event_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/event_semaphore.c
  iree/hal/device.c
  iree/hal/device.h
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/task_device.c
  iree/hal/local/task_queue.c
  iree/hal/local/task_queue.h
  iree/hal/local/task_semaphore.c
  iree/hal/local/task_semaphore.h
  iree/hal/semaphore.c
  iree/hal/semaphore.h
  iree/hal/vulkan/command_queue.h
  iree/hal/vulkan/direct_command_queue.cc
  iree/hal/vulkan/direct_command_queue.h
  iree/hal/vulkan/emulated_semaphore.cc
  iree/hal/vulkan/emulated_semaphore.h
  iree/hal/vulkan/native_semaphore.cc
  iree/hal/vulkan/native_semaphore.h
  iree/hal/vulkan/serializing_command_queue.cc
  iree/hal/vulkan/serializing_command_queue.h
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/hal_module.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/task/executor.c
  iree/task/executor.h
  iree/vm/ref.c
Labels: cla: yes, hal/api, performance ⚡, runtime/api

#5471 Added tests for tosa.reduce_*
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/reduce.mlir
Labels: cla: yes

#5527 Use --first-parent when summarizing branch merge changes
  scripts/git/summarize_changes.sh
Labels: cla: yes, infrastructure 🛠️

#5525 Updating documentation to include 2021 Q2 objectives
  docs/objectives.md
Labels: cla: yes, documentation ✏️

#5508 Adding inline command buffers to the HAL API and a basic implementation.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/Transforms/MaterializeConstantPoolBuffers.cpp
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/device.c
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/inline_command_buffer.h
  iree/hal/local/local_executable.c
  iree/hal/local/local_executable.h
  iree/hal/local/task_command_buffer.c
  iree/hal/vulkan/direct_command_buffer.cc
Labels: cla: yes, hal/cpu, performance ⚡

#5509 Adding experimental synchronous executor using inline command buffers.
  iree/base/api.h
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/event_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/device.h
  iree/hal/drivers/BUILD
  iree/hal/drivers/CMakeLists.txt
  iree/hal/drivers/init.c
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/dylib/registration/driver_module_sync.c
  iree/hal/dylib/registration/driver_module_sync.h
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/executable_library.h
  iree/hal/local/sync_device.c
  iree/hal/local/sync_device.h
  iree/hal/local/sync_driver.c
  iree/hal/local/sync_driver.h
  iree/hal/local/sync_event.c
  iree/hal/local/sync_event.h
  iree/hal/local/sync_semaphore.c
  iree/hal/local/sync_semaphore.h
  iree/hal/local/task_semaphore.c
  iree/hal/semaphore.h
Labels: cla: yes, hal/cpu, performance ⚡, platform/generic 🔩

#5450 Add support for lowering mhlo.fft to Linalg.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/test/fft.mlir
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/fft.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/fft.mlir
Labels: cla: yes

#5532 Moving the HAL module shims into `iree/vm/`.
  iree/base/api.h
  iree/base/attributes.h
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/hal/local/executable_library.h
  iree/modules/hal/BUILD
  iree/modules/hal/CMakeLists.txt
  iree/modules/hal/hal_module.c
  iree/modules/hal/shims.h
  iree/samples/emitc_modules/CMakeLists.txt
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/api.h
  iree/vm/shims.c
  iree/vm/shims.h
  iree/vm/shims_emitc.h
  iree/vm/test/emitc/CMakeLists.txt
Labels: cla: yes, runtime/vm

#5350 Add conversions from vm list operations to emitc
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/vm/ops.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/list_ops.mlir
  iree/vm/value.h
Labels: cla: yes

#5519 [doc] Initial rewrite of Vulkan HAL driver doc
  mkdocs/README.md
  mkdocs/docs/backends/gpu-vulkan.md
Labels: cla: yes, codegen/spirv, documentation ✏️, hal/vulkan

#5523 [doc] Add doc for importing SavedModel from TF Hub
  mkdocs/docs/frontends/tensorflow.md
Labels: cla: yes, documentation ✏️, integrations/tensorflow

#5552 Moving FlattenMemRefSubspanPass to Common/.
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes, codegen/vmvx

#5557 Fix format specifiers for 32-bit architectures
  iree/hal/local/elf/elf_module.c
Labels: cla: yes

#5558 Fixing binding lengths size mismatch.
  iree/hal/local/elf/elf_module_test.cc
  iree/hal/local/inline_command_buffer.c
Labels: bug 🐞, cla: yes

#5559 Adding ARM-32 and x86-32 arch to elf loader.
  iree/hal/local/elf/BUILD
  iree/hal/local/elf/CMakeLists.txt
  iree/hal/local/elf/arch/arm_32.c
  iree/hal/local/elf/arch/arm_64.c
  iree/hal/local/elf/arch/x86_32.c
  iree/hal/local/elf/elf_module_test.cc
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_32.so
Labels: cla: yes, platform/android 🤖

#5541 Allow mako upload failure not to fail the Github commit.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#5565 Fixed one testcase file
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
Labels: cla: yes

#5562 Fix pointer size detection
  iree/base/target_platform.h
Labels: cla: yes

#5563 Adding a little demo library to show both sides of the ABI.
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/elf/arch.h
  iree/hal/local/elf/arch/arm_32.c
  iree/hal/local/elf/arch/arm_64.c
  iree/hal/local/elf/arch/riscv.c
  iree/hal/local/elf/arch/x86_32.c
  iree/hal/local/elf/arch/x86_64.c
  iree/hal/local/elf/arch/x86_64_msvc.asm
  iree/hal/local/elf/elf_module_test.cc
  iree/hal/local/executable_library.h
  iree/hal/local/executable_library_demo.c
  iree/hal/local/executable_library_demo.h
  iree/hal/local/executable_library_test.c
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/legacy_library_loader.c
Labels: cla: yes, hal/cpu

#5554 Defining a C-compatible benchmark header.
  iree/base/internal/flags.h
  iree/testing/BUILD
  iree/testing/CMakeLists.txt
  iree/testing/benchmark.h
  iree/testing/benchmark_full.cc
  iree/testing/benchmark_main.c
Labels: cla: yes, performance ⚡, platform/generic 🔩, runtime/tools

#5539 Rework LinalgBufferize pass.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5566 [cmake] Add missing quote to ${CMAKE_CXX_FLAGS}
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes, infrastructure/cmake

#5361 IREE Java TFLite Bindings
  CMakeLists.txt
  bindings/tflite/CMakeLists.txt
  bindings/tflite/java/build.gradle
  bindings/tflite/java/org/tensorflow/lite/CMakeLists.txt
  bindings/tflite/java/org/tensorflow/lite/Interpreter.java
  bindings/tflite/java/org/tensorflow/lite/Tensor.java
  bindings/tflite/java/org/tensorflow/lite/TensorFlowLite.java
  bindings/tflite/java/org/tensorflow/lite/native/CMakeLists.txt
  bindings/tflite/java/org/tensorflow/lite/native/interpreter_jni.cc
  bindings/tflite/java/org/tensorflow/lite/native/tensor_jni.cc
  bindings/tflite/java/org/tensorflow/lite/native/tensorflow_lite_jni.cc
  bindings/tflite/java/org/tensorflow/lite/tests/InterpreterTest.java
  bindings/tflite/java/org/tensorflow/lite/tests/TestManifest.xml
  bindings/tflite/java/org/tensorflow/lite/tests/simple_add.mlir
  docs/get_started/cmake_options_and_variables.md
Labels: bindings/java, cla: yes

#5578 Rename FileToc struct to iree_file_toc_t
  build_tools/embed_data/build_defs.bzl
  build_tools/embed_data/generate_embed_data_main.cc
  iree/vm/bytecode_dispatch_test.cc
Labels: cla: yes

#5577 Exposing IREE_ASSERT as part of the public API.
  iree/base/api.h
  iree/base/internal/debugging.h
  iree/hal/local/event_pool.c
  iree/hal/local/executable_library_test.c
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/task_command_buffer.c
  iree/hal/resource.h
  iree/task/executor.c
  iree/task/pool.c
  iree/task/scope.c
  iree/task/submission.c
  iree/task/task.c
  iree/task/topology.c
  iree/task/worker.c
Labels: cla: yes, cleanup 🧹

#5580 [Docs] Correct few commands in developer_overview.md
  docs/developing_iree/developer_overview.md
Labels: cla: yes

#5581 Correct Mako soft_fail exit code to 123
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#5586 NFC: move ForOpCanonicalizationPass from CodegenUtils/ to Common/
  experimental/ModelBuilder/test/BUILD
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/compiler/Conversion/CodegenUtils/BUILD
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
  iree/compiler/Conversion/CodegenUtils/ForOpCanonicalization.h
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/ForOpCanonicalizationPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5531 Add missing launch config for MobileNet
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5587 [spirv] Clean up VectorizeMemref pass a bit
  experimental/ModelBuilder/test/BenchMatMulVectorGPU.cpp
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemrefLoadStorePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_memref_load_store.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5588 [spirv] Migrate workgroup memory related tests
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
Labels: cla: yes

#5590 [spirv] Delete linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
Labels: cla: yes

#5367 Add new SavedModelToIreeABIPass.
  docs/design_docs/function_abi.md
  integrations/tensorflow/build_tools/testdata/generate_signature_samples.py
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/test/saved_model_to_iree_abi.mlir
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
Labels: cla: yes

#5584 [Cleanup] Delete Linalg on buffers pipeline
  iree/compiler/Conversion/BUILD
  iree/compiler/Conversion/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/BUILD
  iree/compiler/Conversion/HLOToLinalg/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/Passes.h
  iree/compiler/Conversion/HLOToLinalg/test/BUILD
  iree/compiler/Conversion/HLOToLinalg/test/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/test/dot.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pad_tensor.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pipeline_test.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor_insert.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.cpp
  iree/compiler/Conversion/LinalgToLLVM/LLVMCodeGenOptions.h
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
Labels: cla: yes

#5573 Enable dispatching linalg.generic ops into workgroups and set tiling paramters for LLVM backend
  build_tools/mako/configuration.py
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_elementwise.mlir
Labels: cla: yes

#5524 Build simple_embedding_run in c API.
  CMakeLists.txt
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/data/simple_embedding_test-llvm-aot_rv64.vmfb
  iree/samples/simple_embedding/simple_embedding_run.c
  scripts/check_tabs.sh
Labels: cla: yes, runtime/api

#5600 Enable SourceMgrDiagnosticHandler in importers.
  integrations/tensorflow/build_tools/testdata/generate_errors_module.py
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/TF/PrettifyDebugInfo.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-import-main.cpp
Labels: cla: yes
