Repository iree-org/iree, pull requests merged in 2021-12, with the labels that each got.

#7295 Improve function.py argument missmach error handling
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
Labels: cla: yes

#7715 Rollup of changes to enable JAX to directly target IREE.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/mlir-hlo/CMakeLists.txt
  integrations/tensorflow/build_tools/overlay/mlir-hlo/BUILD.bazel
  integrations/tensorflow/iree_tf_compiler/MHLO/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.h
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/BroadcastingToLinalgPatterns.cpp
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/ConvertComplexToReal.cpp
  iree/compiler/InputConversion/MHLO/ConvertMHLOToFlow.cpp
  iree/compiler/InputConversion/MHLO/ConvertMHLOToFlow.h
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/FlattenTuplesInCFG.cpp
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/MHLOToLinalgOnTensors.cpp
  iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
  iree/compiler/InputConversion/MHLO/PassDetail.h
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/compiler/InputConversion/MHLO/Passes.h
  iree/compiler/InputConversion/MHLO/Passes.td
  iree/compiler/InputConversion/MHLO/Rewriters.h
  iree/compiler/InputConversion/MHLO/VerifyCompilerMHLOInputLegality.cpp
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/flatten_tuples_in_cfg.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_passes.h
  llvm-external-projects/iree-compiler-api/BUILD.bazel
  llvm-external-projects/iree-compiler-api/include/iree-compiler-c/Compiler.h
  llvm-external-projects/iree-compiler-api/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
  llvm-external-projects/iree-compiler-api/python/CompilerModule.cpp
Labels: cla: yes

#7789 Remove mhlo control flow to SCF.
  iree/compiler/InputConversion/MHLO/Passes.cpp
Labels: cla: yes

#7788 Propagate failures from greedy pattern application
  iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/FoldAffineMinInDistributedLoops.cpp
  iree/compiler/Codegen/Common/ForOpCanonicalizationPass.cpp
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/Common/RemoveTrivialLoops.cpp
  iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/VectorizeConv.cpp
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUUnfuseFMAOps.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUDistributeSharedMemoryCopy.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUPipelining.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorLowering.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/SPIRV/SPIRVCopyToWorkgroupMemory.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2D1x1ToMatmulPass.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2ColPass.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgMatmulToMmt4D.cpp
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOps.cpp
  iree/compiler/Dialect/Flow/Transforms/PadLinalgOps.cpp
  iree/compiler/Dialect/Flow/Transforms/PromoteI1ToI8Pass.cpp
  iree/compiler/Dialect/HAL/Transforms/ResolveEntryPointOrdinals.cpp
  iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
Labels: cla: yes

#7786 NFC Refactoring to prepare for using Comprehensive bufferization.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Dialect/BUILD
  iree/compiler/Codegen/Dialect/CMakeLists.txt
  iree/compiler/Codegen/Interfaces/BUILD
  iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  iree/compiler/Codegen/Interfaces/BufferizationInterfaces.h
  iree/compiler/Codegen/Interfaces/CMakeLists.txt
  iree/compiler/Codegen/Interfaces/Interfaces.cpp
  iree/compiler/Codegen/Interfaces/Interfaces.h
  iree/compiler/Codegen/Interfaces/ProcessorOpInterfaces.cpp
  iree/compiler/Codegen/Interfaces/ProcessorOpInterfaces.h
  iree/compiler/Codegen/Interfaces/ProcessorOpInterfaces.td
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_iree_dialects.h
Labels: cla: yes

#7796 add map_mhlo_to_scalar_op to BUILD file manually
  integrations/tensorflow/build_tools/overlay/mlir-hlo/BUILD.bazel
Labels: cla: yes

#7662 [spirv] Migrate to perform vectorization on tensor ops
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVDistribute.cpp
  iree/compiler/Codegen/SPIRV/SPIRVInitConfigPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/distribute_to_invocations.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: cla: yes, codegen/spirv, buildkite:benchmark

#7802 Disambiguate call to LinalgTransformationFilter constructor.
  iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
Labels: cla: yes

#7805 Fix content tabs on website.
  docs/website/mkdocs.yml
Labels: documentation ✏️, cla: yes

#7801 Support pinning down Pixel 6 Mali GPU frequency
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_android_scaling_governor.sh
  build_tools/benchmarks/set_pixel6_gpu_scaling_policy.sh
Labels: cla: yes, infrastructure/benchmark

#7798 Makes hal.tensor.import/export carry tensor encodings and assert better.
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  iree/compiler/Bindings/Native/Transforms/BUILD
  iree/compiler/Bindings/Native/Transforms/CMakeLists.txt
  iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  iree/compiler/Dialect/Stream/Conversion/HALToStream/ConvertHALToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  iree/compiler/Dialect/Util/IR/UtilOps.cpp
  iree/compiler/Dialect/Util/IR/UtilOps.h
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/string_util.c
  iree/hal/string_util_test.cc
  iree/iree.natvis
  iree/modules/check/check_test.cc
  iree/modules/check/module.cc
  iree/modules/hal/module.c
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: cla: yes, compiler

#7809 Fixing iree-util-fold-globals to materialize custom constants.
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/fold_globals.mlir
  iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
Labels: cla: yes, compiler

#7807 Add big-core multi-threaded benchmarks
  benchmarks/TFLite/CMakeLists.txt
Labels: cla: yes, infrastructure/benchmark, buildkite:benchmark

#7811 Enable passing TOSA op tests
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/matmul.mlir
Labels: cla: yes

#7814 Cleanup unrealized_conversion_casts that survive stream conversion.
  iree/compiler/Dialect/Stream/IR/StreamDialect.cpp
  iree/compiler/Dialect/Stream/IR/StreamDialect.h
  iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
Labels: cla: yes, compiler

#7810 Remove linker hacks and add test coverage for musl linking.
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/internal/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/internal/LinkerTools.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/RiscvLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/libm_linking.mlir
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes

#7825 Add -iree-vulkan-keep-shader-modules flag.
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.h
Labels: codegen/spirv, quality of life 😊

#7828 Sink subviews across select ops.
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
Labels: compiler

#7785 Switch matmul default CPU codegen to use TileFuseAndVectorize pipeline.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/tile_fuse_and_vectorize.mlir
  iree/compiler/Codegen/Passes.h
Labels: cla: yes, buildkite:benchmark

#7820 Fixing partitioning when ops are cloned across partitions in various orders.
  iree/compiler/Dialect/Stream/Analysis/Partitioning.cpp
  iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  iree/compiler/Dialect/Stream/IR/StreamDialect.cpp
  iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: compiler

#7849 Adding WGSLExecutableDef.
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/wgsl_executable_def.fbs
Labels: hal/webgpu

#7852 Raise xargs limits
  build_tools/bazel/build_core.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/pytype/check_diff.sh
Labels: infrastructure 🛠️, infrastructure/bazel

#7735 [NFC] EmitC analysis cleanup
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/VMAnalysis.h
Labels: cla: yes

#7862 Fix compile GCC error
  iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.cpp
Labels: infrastructure 🛠️

#7864 Removing double tracing from command buffers with validation enabled.
  iree/hal/command_buffer_validation.c
Labels: runtime

#7878 Set tile sizes based on vector size.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: buildkite:benchmark

#7899 Verifying that index types do not cross dispatch boundaries.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
Labels: compiler

#7913 Hiding vtables to enable more compiler optimizations.
  experimental/rocm/descriptor_set_layout.c
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/event_semaphore.c
  experimental/rocm/executable_layout.c
  experimental/rocm/native_executable.c
  experimental/rocm/nop_executable_cache.c
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_device.c
  experimental/rocm/rocm_driver.c
  experimental/rocm/rocm_event.c
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_buffer.c
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/cuda_event.c
  iree/hal/cuda/descriptor_set_layout.c
  iree/hal/cuda/event_semaphore.c
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/native_executable.c
  iree/hal/cuda/nop_executable_cache.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmvx_module_loader.c
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/emulated_semaphore.cc
  iree/hal/vulkan/native_descriptor_set.cc
  iree/hal/vulkan/native_descriptor_set_layout.cc
  iree/hal/vulkan/native_event.cc
  iree/hal/vulkan/native_executable.cc
  iree/hal/vulkan/native_executable_layout.cc
  iree/hal/vulkan/native_semaphore.cc
  iree/hal/vulkan/nop_executable_cache.cc
  iree/hal/vulkan/vma_allocator.cc
  iree/hal/vulkan/vma_buffer.cc
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_driver.cc
Labels: runtime

#7920 Plumbing device handles deeper into command buffer validation.
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/rocm_device.c
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/command_buffer_validation.c
  iree/hal/command_buffer_validation.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/inline_command_buffer.h
  iree/hal/local/sync_device.c
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_command_buffer.h
  iree/hal/local/task_device.c
  iree/hal/utils/deferred_command_buffer.c
  iree/hal/utils/deferred_command_buffer.h
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/vulkan_device.cc
Labels: runtime

#7905 Add WebGPU dependencies and refactor *_TO_BUILD CMake options.
  CMakeLists.txt
  build_tools/cmake/iree_third_party_cmake_options.cmake
  build_tools/third_party/spirv-tools/CMakeLists.txt
  build_tools/third_party/tint/CMakeLists.txt
  iree/tools/utils/BUILD
  iree/tools/utils/CMakeLists.txt
Labels: infrastructure/cmake, hal/webgpu

#7906 Add compiler target for WebGPU, using Tint for SPIR-V -> WGSL.
  iree/compiler/Dialect/HAL/Target/WebGPU/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/WebGPU/SPIRVToWGSL.cpp
  iree/compiler/Dialect/HAL/Target/WebGPU/SPIRVToWGSL.h
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.h
  iree/tools/CMakeLists.txt
  iree/tools/init_targets.cc
Labels: compiler, hal/webgpu

#7887 Refactor the HAL CTS for out of tree / individual drivers.
  CMakeLists.txt
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  docs/developers/get_started/getting_started_linux_vulkan.md
  docs/developers/get_started/getting_started_windows_vulkan.md
  experimental/rocm/cts/CMakeLists.txt
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/README.md
  iree/hal/cts/allocator_test.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/cts_test_template.cc.in
  iree/hal/cts/descriptor_set_layout_test.h
  iree/hal/cts/descriptor_set_test.h
  iree/hal/cts/driver_test.h
  iree/hal/cts/event_test.h
  iree/hal/cts/executable_layout_test.h
  iree/hal/cts/semaphore_submission_test.h
  iree/hal/cts/semaphore_test.h
  iree/hal/cuda/cts/CMakeLists.txt
  iree/hal/dylib/cts/CMakeLists.txt
  iree/hal/testing/BUILD
  iree/hal/testing/CMakeLists.txt
  iree/hal/testing/driver_registry.h
  iree/hal/vmvx/cts/CMakeLists.txt
  iree/hal/vulkan/cts/CMakeLists.txt
Labels: infrastructure 🛠️, infrastructure/cmake, hal/api

#7922 Use the entire TosaToLinalg pass chain
  iree/compiler/InputConversion/TOSA/Passes.cpp
Labels: integrations/tosa

#7930 Plumb through spirv serialization options in WebGPUTarget.
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
Labels: codegen/spirv

#7911 Allow to turn of error on uninitialized submodules
  CMakeLists.txt
Labels: infrastructure/cmake

#7927 Disable less-used benchmarks
  benchmarks/TFLite/CMakeLists.txt
Labels: buildkite:benchmark

#7933 Add some repro notes for benchmark failures.
  benchmarks/README.md
Labels: documentation ✏️, infrastructure/benchmark

#7934 Adding iree_hal_allocator_t::deallocate_buffer.
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_allocator.h
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_buffer.h
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/BUILD
  iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/test/buffer_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_ops.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/hal/allocator.c
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/buffer_heap.c
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/cts/allocator_test.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_allocator.h
  iree/hal/cuda/cuda_buffer.c
  iree/hal/cuda/cuda_buffer.h
  iree/hal/string_util_test.cc
  iree/hal/vulkan/vma_allocator.cc
  iree/hal/vulkan/vma_buffer.cc
  iree/modules/check/check_test.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/module.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: hal/api

#7914 Add Pixel 6 for Mali GPU benchmarking
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cleanup 🧹, infrastructure/benchmark, buildkite:benchmark

#7943 Enable /std:c11 for MSVC builds.
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure/cmake, platform/windows 🚪

#7936 Promote HAL driver and target backend CMake variables to options.
  CMakeLists.txt
  bindings/tflite/java/build.gradle
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
  build_tools/cmake/riscv.toolchain.cmake
  docs/developers/get_started/cmake_options_and_variables.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/Utils/test/BUILD
  iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  iree/runtime/instance.h
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/README.md
  iree/samples/vision/CMakeLists.txt
  iree/samples/vulkan/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: infrastructure/cmake, cleanup 🧹

#7945 Drop -iree-flow-inline-constants-max-byte-length flag usage from benchmarks.
  benchmarks/TFLite/CMakeLists.txt
Labels: buildkite:benchmark

#7918 Move inlining constants into dispatch regions out of canonicalization.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/xla_ops/fft.mlir
Labels: buildkite:benchmark

#7955 Reworking pthreads affinity setting to use the proper thread id.
  iree/base/internal/threading_pthreads.c
Labels: hal/cpu, platform/linux 🐧, buildkite:benchmark

#7968 Remove "Tests printing and parsing of" comments.
  docs/developers/developing_iree/testing_guide.md
  iree/compiler/Dialect/Flow/IR/test/executable_ops.mlir
  iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/experimental_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/semaphore_ops.mlir
  iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/IR/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/IR/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/IR/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/IR/test/debug_ops.mlir
  iree/compiler/Dialect/VM/IR/test/global_ops.mlir
  iree/compiler/Dialect/VM/IR/test/shift_ops.mlir
  iree/compiler/Dialect/VM/IR/test/structural_ops.mlir
Labels: compiler, cleanup 🧹

#7959 Cleaning up/renaming the `hal.interface.constant.load` op.
  iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_constants.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/Modules/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
Labels: compiler, cleanup 🧹

#7973 Add READMEs to some top level directories.
  iree/compiler/README.md
  iree/hal/README.md
  iree/hal/cts/README.md
  iree/runtime/README.md
  iree/samples/README.md
Labels: documentation ✏️, quality of life 😊

#7974 Adding explicit alloc/free of the HAL driver registry.
  iree/hal/driver_registry.c
  iree/hal/driver_registry.h
Labels: runtime/api

#7970 Adding -iree-mlir-to-hal-executable translation.
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Translation/BUILD
  iree/compiler/Translation/CMakeLists.txt
  iree/compiler/Translation/HALExecutable.cpp
  iree/compiler/Translation/HALExecutable.h
  iree/compiler/Translation/test/BUILD
  iree/compiler/Translation/test/CMakeLists.txt
  iree/compiler/Translation/test/do_not_optimize.mlir
  iree/compiler/Translation/test/hal_executable.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_translations.h
Labels: compiler

#7978 Swapping the local HAL executable tests to use hal.executable.source.
  iree/hal/local/elf/BUILD
  iree/hal/local/elf/CMakeLists.txt
  iree/hal/local/elf/elf_module_test_main.c
  iree/hal/local/elf/testdata/BUILD
  iree/hal/local/elf/testdata/CMakeLists.txt
  iree/hal/local/elf/testdata/elementwise_mul.mlir
  iree/hal/local/elf/testdata/elementwise_mul_arm_32.so
  iree/hal/local/elf/testdata/elementwise_mul_arm_64.so
  iree/hal/local/elf/testdata/elementwise_mul_benchmark.txt
  iree/hal/local/elf/testdata/elementwise_mul_riscv_32.so
  iree/hal/local/elf/testdata/elementwise_mul_riscv_64.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_32.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_64.so
  iree/hal/local/elf/testdata/generate.sh
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_arm_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_riscv_64.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_32.so
  iree/hal/local/elf/testdata/simple_mul_dispatch_x86_64.so
  iree/hal/local/executable_library_benchmark.c
  iree/hal/local/executable_library_benchmark.md
Labels: runtime, cleanup 🧹

#7983 Fixing breakage in WebGPUTarget.
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
Labels: compiler

#7985 Use cmake_dependent_option for options that require IREE_BUILD_COMPILER.
  CMakeLists.txt
Labels: infrastructure/cmake
