Repository iree-org/iree, pull requests merged in 2021-10, with the labels that each got.

#7232 [CUDA] Check that we use a device with the required extensions
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/dynamic_symbol_tables.h
Labels: cla: yes

#7239 [spirv] NFC: Tidy up SPIRVVectorizePass debug print logic
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
Labels: cla: yes, codegen/spirv, cleanup 🧹

#7241 Use explicit buffer length in CopySubBuffer test
  iree/hal/cts/command_buffer_test.cc
Labels: cla: yes

#7236 Support memref allocation ops in FlattenMemRefSubspanPass
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Labels: cla: yes

#7247 Fixing VM release-before-retain when the source and target alias.
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/list.c
  iree/vm/ref.c
Labels: bug 🐞, cla: yes, runtime/vm

#7245 Address bufferizations issues with operand fusion.
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
Labels: cla: yes, buildkite:benchmark

#7250 Revert "Fixing VM release-before-retain when the source and target alias."
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/list.c
  iree/vm/ref.c
Labels: cla: yes, buildkite:benchmark

#7243 Enable tile + distribute of tensor.insert_slice.
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#7251 Merge main -> google
  .github/workflows/schedule_snapshot_release.yml
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/scripts/iree_benchmark_trace/__main__.py
  bindings/python/iree/runtime/scripts/iree_run_trace/__main__.py
  bindings/python/iree/runtime/setup.py.in
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/LLVMCPUPlanConvLoopOrder.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/plan_conv_loop_order.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/utils/trace_replay.c
Labels: cla: yes

#7246 Add option to filter drivers when benchmarking Android
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: cla: yes, infrastructure 🛠️, platform/android 🤖, infrastructure/benchmark, buildkite:benchmark

#7253 Avoid crash when InterfaceBindingSubspanOp doesn't return Memref
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
Labels: cla: yes

#7255 Replace canonicalizeContractionAdd with upstream patterns
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/Transforms/Transforms.cpp
  iree/compiler/Codegen/Transforms/Transforms.h
Labels: cla: yes, codegen, cleanup 🧹

#7248 allow unspecified encoding_type as default dense row major (instead of null deref)
  iree/tools/utils/trace_replay.c
Labels: cla: yes

#7258 Execution tests for mhlo.gather
  iree/test/e2e/xla_ops/gather.mlir
Labels: cla: yes

#7244 [pydm] Plumb through RTL and finish conversions for basic program.
  bindings/python/iree/runtime/vm.cc
  llvm-external-projects/iree-compiler-api/include/iree-compiler-c/Compiler.h
  llvm-external-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.h
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/ConversionPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/LoweringPatterns.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/constants.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/integer_compare.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/real_compare.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/structural.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/rtl.py
Labels: cla: yes

#7263 Handle tiling of rank-reduced insert slice with inner ranks elided.
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#7267 Fix riscv doc flagfile usage
  docs/developers/get_started/getting_started_riscv_cmake.md
Labels: cla: yes

#7260 Address regressions with default heuristics on CPU.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: cla: yes, performance ⚡, codegen/llvm, buildkite:benchmark

#7265 Merge main -> google
  bindings/python/iree/runtime/vm.cc
  build_tools/benchmarks/run_benchmarks_on_android.py
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorization.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/Transforms/Transforms.cpp
  iree/compiler/Codegen/Transforms/Transforms.h
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
  iree/samples/static_library/static_library_demo.c
  iree/test/e2e/xla_ops/gather.mlir
  iree/tools/utils/trace_replay.c
  llvm-external-projects/iree-compiler-api/include/iree-compiler-c/Compiler.h
  llvm-external-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.h
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/ConversionPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/LoweringPatterns.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/constants.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/integer_compare.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/real_compare.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/structural.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/rtl.py
Labels: cla: yes

#7261 Adding a VM bytecode disassembler and flags for tracing to stderr.
  bindings/python/iree/runtime/vm.cc
  bindings/tflite/interpreter.c
  docs/website/docs/bindings/c-api.md
  iree/base/config.h
  iree/hal/local/loaders/vmvx_module_loader.c
  iree/modules/check/check_test.cc
  iree/runtime/session.c
  iree/runtime/session.h
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/emitc_modules/add_module_test.cc
  iree/samples/emitc_modules/import_module_test.cc
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-benchmark-trace-main.c
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-run-mlir-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/iree-run-trace-main.c
  iree/tools/utils/trace_replay.c
  iree/tools/utils/trace_replay.h
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_disasm.c
  iree/vm/bytecode_disasm.h
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/bytecode_dispatch_util.h
  iree/vm/bytecode_module.c
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/bytecode_module_size_benchmark.cc
  iree/vm/context.c
  iree/vm/context.h
  iree/vm/invocation.c
  iree/vm/invocation.h
  iree/vm/module.c
  iree/vm/module.h
  iree/vm/native_module_test.cc
  iree/vm/stack.c
  iree/vm/stack.h
  iree/vm/stack_test.cc
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/conversion_ops.mlir
  iree/vm/test/conversion_ops_f32.mlir
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/list_ops.mlir
  iree/vm/test/list_ops_i64.mlir
Labels: cla: yes, runtime/vm, quality of life 😊

#7269 Fixing binding subspan insertion to point at the entry block.
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Labels: cla: yes, codegen

#7143 Implementation of remote Android TFLite Bindings build via Github Actions with Docker
  .github/workflows/android_tflite_oneshot_build.yml
  bindings/tflite/java/build.gradle
  bindings/tflite/java/org/tensorflow/lite/Interpreter.java
  build_tools/cmake/iree_copts.cmake
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/gradle/build_tflite_android_library.sh
Labels: cla: yes

#7270 Update RISC-V crosscompile instructions
  build_tools/cmake/build_riscv.sh
  docs/website/docs/building-from-source/riscv.md
Labels: documentation ✏️, cla: yes

#7268 Fixing VM release-before-retain when the source and target alias.
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/list.c
  iree/vm/ref.c
  iree/vm/ref_test.cc
Labels: bug 🐞, cla: yes, runtime/vm, buildkite:benchmark

#7262 Remove option to print address of main from iree-translate
  iree/tools/iree_translate_lib.cc
Labels: cla: yes, cleanup 🧹

#7276 [spirv] Remove createStdExpandOpsPass in pass pipelines
  iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: cla: yes, codegen/spirv

#7493 Implement benchmarks from TFLite flatbuffers
  CMakeLists.txt
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_macros.cmake
  scripts/download_file.py
Labels: cla: yes, buildkite:benchmark

#7500 Add PyYAML to rbe-toolchain
  WORKSPACE
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
Labels: cla: yes
