Repository iree-org/iree, pull requests merged in 2021-01, with the labels that each got.

#4367 Update getting_started_linux_cmake.md
  docs/get_started/getting_started_linux_cmake.md
Labels: cla: yes

#4373 Make the main python packages cmake installable.
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/README.md
  bindings/python/pyiree/compiler2/CMakeLists.txt
  bindings/python/pyiree/compiler2/setup.py
  bindings/python/pyiree/compiler2/setup.py.in
  bindings/python/pyiree/rt/CMakeLists.txt
  bindings/python/pyiree/rt/README.md
  bindings/python/pyiree/rt/setup.py.in
  bindings/python/pyiree/tools/core/CMakeLists.txt
  bindings/python/setup.py
  bindings/python/setup_compiler.py.in
  bindings/python/setup_tools_core.py.in
Labels: cla: yes

#4312 Moved iree/modules/check/iree-check-module-main.cc to iree/tools/iree-check-module-main.cc: Issue 1986
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/iree_check_test.cmake
  iree/modules/check/BUILD
  iree/modules/check/CMakeLists.txt
  iree/modules/check/test/BUILD
  iree/modules/check/test/CMakeLists.txt
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-check-module-main.cc
Labels: cla: yes

#4377 Add missing dep on HLOToLinalg
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#4383 [spirv] Replace SPIRVOpLowering with a local class
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
Labels: cla: yes

#4357 Get remote name in a more portable way in gh scripting
  scripts/git/update_llvm_dependent_submodules.sh
Labels: cla: yes

#4360 Turn -Wunused-variable back on
  build_tools/bazel/iree.bazelrc
  iree/task/executor.c
  iree/task/list_test.cc
Labels: cla: yes

#4362 Bazel -> CMake cleanup
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
Labels: cla: yes

#4388 Move macos out of experimental now that it builds.
  .github/workflows/build_package.yml
Labels: cla: yes

#4386 Rollup of required core changes for the HAL C rewrite
  iree/base/api.c
  iree/base/api.h
  iree/base/atomics.h
  iree/base/intrusive_list_ref_ptr.inc
  iree/base/intrusive_list_unique_ptr.inc
  iree/hal/api.c
  iree/task/list.h
Labels: cla: yes, runtime

#4365 Update cross-compilation for changed experimental flag names
  build_tools/cmake/iree_cross_compile.cmake
  docs/get_started/cmake_options_and_variables.md
Labels: cla: yes

#4394 Default to quoting strings in Bazel -> CMake
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_binary.cmake
  iree/samples/custom_modules/dialect/CMakeLists.txt
  iree/test/e2e/llvm_specific/CMakeLists.txt
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#4364 Avoid running slow benchmarks as part of testing
  CMakeLists.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_run_binary_test.cmake
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: cla: yes

#4318 Use backward buffer allocation in HLOToLinalgOnBuffers
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pipeline_test.mlir
Labels: cla: yes

#4402 Disable run_binary_test on Android
  build_tools/cmake/iree_run_binary_test.cmake
Labels: cla: yes

#4396 Remove special handling for runtime -> compiler dep
  CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes

#4403 Correctly get binary name in android run_binary_test
  build_tools/cmake/iree_run_binary_test.cmake
Labels: cla: yes

#4404 Fixing quoting on cmake variables that *must* be quoted.
  build_tools/cmake/iree_macros.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/BUILD
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VMLA/BUILD
  iree/compiler/Dialect/HAL/Target/VMLA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/BUILD
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/Utils/test/BUILD
  iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
  iree/samples/vulkan/CMakeLists.txt
  iree/testing/vulkan/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#4405 Removing unused iree/hal/testing/ mock types.
  iree/hal/testing/BUILD
  iree/hal/testing/CMakeLists.txt
  iree/hal/testing/mock_allocator.h
  iree/hal/testing/mock_command_buffer.h
  iree/hal/testing/mock_command_queue.h
Labels: cla: yes, runtime

#4406 Adding a new arena type with a shared thread-safe block pool.
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/arena.c
  iree/hal/local/arena.h
Labels: cla: yes, hal/cpu, runtime

#4415 Include pffft.h without directory prefix
  build_tools/third_party/pffft/BUILD.overlay
  build_tools/third_party/pffft/CMakeLists.txt
  iree/hal/vmla/op_kernels_fft.h
Labels: cla: yes

#4418 Work around numerous bazel and tensorflow design flaws to get windows…
  build_tools/cmake/bazel.bat.in
  build_tools/cmake/bazel.sh.in
  build_tools/cmake/cmake_ci.py
  build_tools/cmake/configure_bazel.cmake
Labels: cla: yes

#4407 Rebase Colab examples on released Python packages.
  README.md
  colab/README.md
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/mnist_tensorflow.ipynb
  colab/resnet.ipynb
  colab/simple_tensorflow_module_import.ipynb
  colab/start_colab_kernel.py
  docs/using_iree/using_colab.md
  scripts/prepare_doc_publication.py
Labels: bindings/python, cla: yes, documentation ✏️, integrations/colab

#4410 Delete using_iree/ docs folder.
  docs/get_started/index.md
  docs/using_iree/index.md
  docs/using_iree/using_colab.md
Labels: cla: yes, documentation ✏️

#4435 Globally disable RTTI and exceptions in IREE.
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_python.cmake
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  iree/vm/list_test.cc
  iree/vm/module_abi_packing.h
  iree/vm/ref_test.cc
Labels: cla: yes

#4443 Importers should print the generic op form.
  bindings/python/tests/compiler_tf_test.py
  integrations/tensorflow/compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/compiler/iree-import-xla-main.cpp
  integrations/tensorflow/compiler/iree-tf-import-main.cpp
Labels: cla: yes, integrations/tensorflow

#4449 Annotate XLA imported module @main functions with iree.module.export.
  bindings/python/tests/compiler_xla_test.py
  integrations/tensorflow/compiler/iree-import-xla-main.cpp
Labels: cla: yes

#4433 Fix #4409
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#4453 Let iree_cc_library mirror Bazel cc_library more faithfully.
  build_tools/cmake/iree_cc_library.cmake
Labels: cla: yes

#4445 Add support for transfer ops bufferization
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_bufferize.mlir
Labels: cla: yes

#4457 Revert "Use existing script in submodule action (#4358)"
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#4431 Delete obsolete Bazel Python configuration
  WORKSPACE
  bindings/python/build_tools/python/BUILD.bazel
  bindings/python/build_tools/python/build_defs.bzl
  bindings/python/build_tools/python/configure.bzl
  bindings/python/build_tools/python/generate_build.py
  configure_bazel.py
Labels: cla: yes

#4466 Merge main -> google
  .github/workflows/build_package.yml
  .github/workflows/update_llvm_dependent_submodules.yml
  README.md
  bindings/python/tests/compiler_tf_test.py
  bindings/python/tests/compiler_xla_test.py
  build_tools/cmake/bazel.bat.in
  build_tools/cmake/bazel.sh.in
  build_tools/cmake/cmake_ci.py
  build_tools/cmake/configure_bazel.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/third_party/pffft/BUILD.overlay
  build_tools/third_party/pffft/CMakeLists.txt
  colab/README.md
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/mnist_tensorflow.ipynb
  colab/resnet.ipynb
  colab/simple_tensorflow_module_import.ipynb
  colab/start_colab_kernel.py
  docs/using_iree/using_colab.md
  integrations/tensorflow/compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/compiler/iree-import-xla-main.cpp
  integrations/tensorflow/compiler/iree-tf-import-main.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_bufferize.mlir
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  iree/hal/vmla/op_kernels_fft.h
  iree/vm/list_test.cc
  iree/vm/module_abi_packing.h
  iree/vm/ref_test.cc
  scripts/prepare_doc_publication.py
Labels: cla: yes

#4473 Pass iree-hal-target-backends argument properly.
  bindings/python/pyiree/compiler2/core.py
  bindings/python/tests/compiler_core_test.py
Labels: bindings/python, cla: yes

#4446 Add vectorization pass in linalg on tensor path
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_vectorize.mlir
Labels: cla: yes

#4426 Force push when synchronizing submodules
  .github/workflows/synchronize_submodules.yml
Labels: cla: yes

#4427 Add .txt file extension to SUBMODULE_VERSIONS
  .github/workflows/synchronize_submodules.yml
  SUBMODULE_VERSIONS.txt
  docs/developing_iree/repository_management.md
  scripts/git/submodule_versions.py
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#4476 revert the part of PR #4453 about linkopts
  build_tools/cmake/iree_cc_library.cmake
Labels: cla: yes

#4477 Merge main -> google
  .github/workflows/synchronize_submodules.yml
  SUBMODULE_VERSIONS.txt
  WORKSPACE
  bindings/python/build_tools/python/BUILD.bazel
  bindings/python/build_tools/python/build_defs.bzl
  bindings/python/build_tools/python/configure.bzl
  bindings/python/build_tools/python/generate_build.py
  bindings/python/pyiree/compiler2/core.py
  bindings/python/tests/compiler_core_test.py
  build_tools/cmake/configure_bazel.cmake
  configure_bazel.py
  docs/developing_iree/repository_management.md
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_vectorize.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  scripts/git/submodule_versions.py
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#4434 Add support for dynamic shapes in IREE on Linalg on tensors.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
Labels: cla: yes

#4483 Fix typo
  docs/get_started/generic_vulkan_env_setup.md
Labels: cla: yes

#4488 Fix type mismatch between definition and declaration.
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
Labels: cla: yes

#4425 [NFC] Update IREE tests to use visibility keyword for functions
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HALToVMLA/test/interface_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/broadcast_in_dim.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/concatenate.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/conv.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/dynamic_slice.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/fft.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/math_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reduce.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reduce_window.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reshape.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/scatter.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/slice.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/transpose.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/comparison_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/constant_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/math_ops.mlir
  iree/compiler/Dialect/VMLA/Transforms/test/transformation.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
Labels: cla: yes

#4486 Drop WHOLEARCHIVE leftovers
  build_tools/cmake/iree_cc_library.cmake
  iree/tools/android/run_module_app/CMakeLists.txt
Labels: cla: yes

#4474 Enable SGD training tests
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/classification_training_test.py
  integrations/tensorflow/e2e/keras/train/regression_training_test.py
Labels: cla: yes, integrations/tensorflow

#4491 [ci] Let CI print more info regarding NVIDIA GPU
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4496 Merge main -> google
  .github/workflows/build_package.yml
  build_tools/cmake/iree_cc_library.cmake
  build_tools/github_actions/configure_dev_environment.ps1
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  docs/get_started/generic_vulkan_env_setup.md
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/classification_training_test.py
  integrations/tensorflow/e2e/keras/train/regression_training_test.py
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/constant_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HALToVMLA/test/interface_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/broadcast_in_dim.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/concatenate.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/conv.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/dynamic_slice.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/fft.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/math_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reduce.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reduce_window.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/reshape.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/scatter.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/slice.mlir
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/transpose.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/comparison_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/constant_ops.mlir
  iree/compiler/Dialect/VMLA/Conversion/StandardToVMLA/test/math_ops.mlir
  iree/compiler/Dialect/VMLA/Transforms/test/transformation.mlir
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  iree/tools/android/run_module_app/CMakeLists.txt
Labels: cla: yes

#4501 Switch CMake build to mlir-hlo submodule
  CMakeLists.txt
  build_tools/third_party/mlir-hlo/CMakeLists.txt
Labels: cla: yes

#4495 [ci] More in NVIDIA driver info dump
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4508 Merge main -> google
  CMakeLists.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/third_party/mlir-hlo/CMakeLists.txt
Labels: cla: yes

#4510 Merge main -> google
  CMakeLists.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/third_party/mlir-hlo/CMakeLists.txt
Labels: cla: yes

#4504 [ci] Update NVIDIA drivers to 460.32.03
  build_tools/docker/cmake-bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4519 Merge main -> google
  README.md
  build_tools/docker/cmake-bazel-tensorflow-nvidia/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#4522 Add a benchmark for MobileBert on S20 to Mako.
  build_tools/mako/config/mobile-bert-pixel4.config
  build_tools/mako/config/mobile-bert-s20.config
Labels: cla: yes

#4516 Add basic support for fusion in dispatch region formation.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#4521 Fix kokoro build script redirection
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/common.cfg
Labels: cla: yes

#4526 Update the mnist_tensorflow colab to train with IREE
  colab/README.md
  colab/mnist_tensorflow.ipynb
  colab/mnist_training.ipynb
Labels: cla: yes, integrations/colab, integrations/tensorflow

#4537 Fix colab-specific notebook name
  colab/mnist_training.ipynb
Labels: cla: yes, integrations/colab

#4540 Temporarily disable debug info printing in XLA importer.
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes

#4532 Check in BuildKite pipeline for android benchmark.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#4535 Rollup of improvements to the task system required for the new CPU backend
  iree/base/atomics.h
  iree/base/wait_handle_posix.c
  iree/base/wait_handle_win32.c
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/hal/vulkan/native_executable.cc
  iree/task/executor.c
  iree/task/executor.h
  iree/task/executor_test.cc
  iree/task/submission.c
  iree/task/submission.h
  iree/task/task.c
  iree/task/task.h
Labels: cla: yes, hal/cpu

#4524 Add e2e tests that also exercise fusion.
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions2.cpp
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
Labels: cla: yes

#4551 Fix a pytype error because of calling an undefined method.
  build_tools/cmake/cmake_ci.py
Labels: cla: yes

#4553 Merge main -> google
  README.md
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/cmake/configure_bazel.cmake
  build_tools/github_actions/README.md
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/common.cfg
  build_tools/mako/config/mobile-bert-pixel4.config
  build_tools/mako/config/mobile-bert-s20.config
  colab/README.md
  colab/mnist_tensorflow.ipynb
  colab/mnist_training.ipynb
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#4559 Disable folding slice op with it's consumers.
  iree/compiler/Dialect/Flow/Transforms/DispatchConfig.cpp
  iree/compiler/Dialect/Flow/Transforms/test/fold_compatible_dispatch_regions.mlir
  iree/test/e2e/structural/BUILD
  iree/test/e2e/structural/CMakeLists.txt
  iree/test/e2e/structural/slice_add.mlir
Labels: cla: yes

#4512 Add gradle support for java bindings
  bindings/java/README.md
  bindings/java/build.gradle
  bindings/java/gradle/wrapper/gradle-wrapper.jar
  bindings/java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/gradlew
  bindings/java/gradlew.bat
  scripts/check_tabs.sh
Labels: cla: yes

#4560 Merge main -> google
  .github/workflows/build_package.yml
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/cmake_ci.py
  build_tools/github_actions/configure_dev_environment.ps1
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions2.cpp
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
Labels: cla: yes

#4565 Add VMLA support for integer matmul
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels.h
  iree/hal/vmla/op_kernels_ruy.h
  iree/hal/vmla/op_module.cc
  iree/test/e2e/xla_ops/dot.mlir
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
  iree/test/e2e/xla_ops/partial/dot_int.mlir
Labels: cla: yes

#4572 Bump benefit of pattern to convert from func -> llvm.func in ConvertToLLVM2
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
Labels: cla: yes

#4580 Delete generated gradle files from java bindings directory
  bindings/java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/gradlew
  bindings/java/gradlew.bat
Labels: bindings/java, cla: yes, platform/android

#4569 Add VMLA support for mixed-type integer matmuls
  iree/compiler/Dialect/VMLA/Transforms/PreConversionLowering.cpp
  iree/compiler/Dialect/VMLA/Transforms/test/pre_conversion_lowering.mlir
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_module.cc
  iree/test/e2e/xla_ops/partial/dot_int.mlir
Labels: cla: yes

#4586 Merge main -> google
  bindings/java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/gradlew
  bindings/java/gradlew.bat
  iree/compiler/Dialect/VMLA/Transforms/PreConversionLowering.cpp
  iree/compiler/Dialect/VMLA/Transforms/test/pre_conversion_lowering.mlir
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_module.cc
  iree/test/e2e/xla_ops/partial/dot_int.mlir
Labels: cla: yes

#4585 E2E implementation of all remaining fft types
  integrations/tensorflow/e2e/fft_test.py
  iree/compiler/Dialect/VMLA/Conversion/ConversionTarget.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/ConvertHLOToVMLA.cpp
  iree/compiler/Dialect/VMLA/Conversion/HLOToVMLA/test/fft.mlir
  iree/compiler/Dialect/VMLA/Conversion/VMLAToVM/ConvertVMLAToVM.cpp
  iree/compiler/Dialect/VMLA/IR/VMLAOps.td
  iree/compiler/Dialect/VMLA/Transforms/PreConversionLowering.cpp
  iree/compiler/Dialect/VMLA/Transforms/test/pre_conversion_lowering.mlir
  iree/compiler/Dialect/VMLA/vmla.imports.mlir
  iree/hal/vmla/op_kernels_fft.h
  iree/hal/vmla/op_module.cc
Labels: cla: yes

#4584 Remove custom CMake cross compilation for Android.
  CMakeLists.txt
  bindings/java/build.gradle
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/cmake/build_android.sh
  build_tools/cmake/flatbuffer_c_library.cmake
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_cross_compile.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/embed_data/CMakeLists.txt
  build_tools/mako/compile_android_modules.sh
  build_tools/third_party/flatcc/CMakeLists.txt
  docs/get_started/cmake_options_and_variables.md
  docs/get_started/getting_started_android_cmake.md
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake, platform/android

#4603 Fix Vulkan GUI sample after HAL C changes.
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/CMakeLists.txt
  iree/testing/vulkan/vulkan_gui_util.cc
Labels: cla: yes, hal/vulkan

#4605 Revert removing explicit linker path in compile_android_modules.sh.
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes, ew 🤮, infrastructure 🛠️, platform/android

#4607 Allow benchmark pipeline to be run on presubmit
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#4611 Move mhlo.slice op lowering to tensors world.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor.mlir
Labels: cla: yes

#4616 Add gitignore entries for Android Studio and Gradle files.
  .gitignore
Labels: bindings/java, cla: yes, infrastructure 🛠️, platform/android

#4618 Move release build steps to python (from yaml).
  .github/workflows/build_package.yml
  CMakeLists.txt
  build_tools/github_actions/build_dist.py
  build_tools/github_actions/cmake_ci.py
Labels: cla: yes

#4608 Moves the java bindings to the experimental directory
  .bazelignore
  CMakeLists.txt
  bindings/javatests/CMakeLists.txt
  docs/get_started/cmake_options_and_variables.md
  experimental/bindings/java/.clang-format
  experimental/bindings/java/CMakeLists.txt
  experimental/bindings/java/README.md
  experimental/bindings/java/build.gradle
  experimental/bindings/java/com/google/iree/Context.java
  experimental/bindings/java/com/google/iree/Function.java
  experimental/bindings/java/com/google/iree/Instance.java
  experimental/bindings/java/com/google/iree/Module.java
  experimental/bindings/java/com/google/iree/Status.java
  experimental/bindings/java/com/google/iree/native/CMakeLists.txt
  experimental/bindings/java/com/google/iree/native/context_jni.cc
  experimental/bindings/java/com/google/iree/native/context_wrapper.cc
  experimental/bindings/java/com/google/iree/native/context_wrapper.h
  experimental/bindings/java/com/google/iree/native/function_jni.cc
  experimental/bindings/java/com/google/iree/native/function_wrapper.cc
  experimental/bindings/java/com/google/iree/native/function_wrapper.h
  experimental/bindings/java/com/google/iree/native/instance_jni.cc
  experimental/bindings/java/com/google/iree/native/instance_wrapper.cc
  experimental/bindings/java/com/google/iree/native/instance_wrapper.h
  experimental/bindings/java/com/google/iree/native/module_jni.cc
  experimental/bindings/java/com/google/iree/native/module_wrapper.cc
  experimental/bindings/java/com/google/iree/native/module_wrapper.h
  experimental/bindings/java/com/google/iree/tests/CMakeLists.txt
  experimental/bindings/java/com/google/iree/tests/IntegrationTest.java
  experimental/bindings/java/com/google/iree/tests/TestManifest.xml
  experimental/bindings/java/com/google/iree/tests/integration_test.cc
  experimental/bindings/java/com/google/iree/tests/simple_mul.mlir
Labels: bindings/java, cla: yes, platform/android

#4620 Merge main -> google
  .bazelignore
  .github/workflows/build_package.yml
  .gitignore
  CMakeLists.txt
  bindings/javatests/CMakeLists.txt
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_installed_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/github_actions/build_dist.py
  build_tools/github_actions/cmake_ci.py
  docs/get_started/cmake_options_and_variables.md
  experimental/bindings/java/.clang-format
  experimental/bindings/java/CMakeLists.txt
  experimental/bindings/java/README.md
  experimental/bindings/java/build.gradle
  experimental/bindings/java/com/google/iree/Context.java
  experimental/bindings/java/com/google/iree/Function.java
  experimental/bindings/java/com/google/iree/Instance.java
  experimental/bindings/java/com/google/iree/Module.java
  experimental/bindings/java/com/google/iree/Status.java
  experimental/bindings/java/com/google/iree/native/CMakeLists.txt
  experimental/bindings/java/com/google/iree/native/context_jni.cc
  experimental/bindings/java/com/google/iree/native/context_wrapper.cc
  experimental/bindings/java/com/google/iree/native/context_wrapper.h
  experimental/bindings/java/com/google/iree/native/function_jni.cc
  experimental/bindings/java/com/google/iree/native/function_wrapper.cc
  experimental/bindings/java/com/google/iree/native/function_wrapper.h
  experimental/bindings/java/com/google/iree/native/instance_jni.cc
  experimental/bindings/java/com/google/iree/native/instance_wrapper.cc
  experimental/bindings/java/com/google/iree/native/instance_wrapper.h
  experimental/bindings/java/com/google/iree/native/module_jni.cc
  experimental/bindings/java/com/google/iree/native/module_wrapper.cc
  experimental/bindings/java/com/google/iree/native/module_wrapper.h
  experimental/bindings/java/com/google/iree/tests/CMakeLists.txt
  experimental/bindings/java/com/google/iree/tests/IntegrationTest.java
  experimental/bindings/java/com/google/iree/tests/TestManifest.xml
  experimental/bindings/java/com/google/iree/tests/integration_test.cc
  experimental/bindings/java/com/google/iree/tests/simple_mul.mlir
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Conversion/HLOToLinalg/test/subtensor.mlir
  iree/tools/CMakeLists.txt
Labels: cla: yes

#4548 [codegen] Fix incorrect divisor for memref vectorization
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
Labels: cla: yes

#4631 Fix missing \ and add debugging note
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes, documentation ✏️

#4640 Fix vm.list.get.i64 in the interpreter
  iree/vm/bytecode_dispatch.c
  iree/vm/test/list_ops.mlir
Labels: cla: yes

#4630 Handle compiling pytrees with methods in jax frontend
  bindings/python/pyiree/jax/frontend.py
  bindings/python/pyiree/jax/frontend_test.py
Labels: bindings/python, cla: yes

#4647 Fix relative path error in Android getting started
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes, documentation ✏️

#4651 Add necessary linker flag to jax-android example
  bindings/python/pyiree/jax/README.md
Labels: bindings/python, cla: yes, documentation ✏️

#4655 Merge main -> google
  bindings/python/pyiree/jax/README.md
  bindings/python/pyiree/jax/frontend.py
  bindings/python/pyiree/jax/frontend_test.py
  docs/get_started/getting_started_android_cmake.md
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/test/list_ops.mlir
Labels: cla: yes

#4627 Skip check tests on host builds when IREE_BUILD_COMPILER is OFF.
  build_tools/cmake/iree_check_test.cmake
Labels: cla: yes, infrastructure/cmake

#4244 Add CSEVariableLoadsPass to eliminate redundant `hal.variable.load`s.
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/CSEVariableLoads.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/cse_variable_loads.mlir
Labels: cla: yes, compiler, quality of life 😊

#4666 Incremental improvements to the HAL CTS.
  iree/hal/cts/BUILD
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/README.md
  iree/hal/cts/allocator_test.cc
  iree/hal/cts/buffer_mapping_test.cc
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/device.c
Labels: cla: yes, hal/api, infrastructure 🛠️

#4664 Remove shapex.tie_shape from the inside of flow.dispatch.workgroups.
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Shape/Transforms/TieDynamicShapesPass.cpp
  iree/compiler/Dialect/Shape/Transforms/test/tie_dynamic_shapes_no_recurse.mlir
Labels: cla: yes

#3982 Adding bindings/tflite/ to expose IREE through the tflite C API
  CMakeLists.txt
  bindings/tflite/BUILD
  bindings/tflite/CMakeLists.txt
  bindings/tflite/README.md
  bindings/tflite/include/README.md
  bindings/tflite/include/tensorflow/lite/c/c_api.h
  bindings/tflite/include/tensorflow/lite/c/c_api_experimental.h
  bindings/tflite/include/tensorflow/lite/c/common.h
  bindings/tflite/interpreter.c
  bindings/tflite/interpreter.h
  bindings/tflite/model.c
  bindings/tflite/model.h
  bindings/tflite/options.c
  bindings/tflite/options.h
  bindings/tflite/shim.c
  bindings/tflite/shim.h
  bindings/tflite/smoke_test.cc
  bindings/tflite/tensor.c
  bindings/tflite/tensor.h
  bindings/tflite/testdata/BUILD
  bindings/tflite/testdata/CMakeLists.txt
  bindings/tflite/testdata/add.mlir
  iree/base/api.c
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/vm/bytecode_module.c
  iree/vm/module.h
Labels: bindings/tflite, cla: yes

#4669 Add JAX to iree-frontends CI
  bindings/python/pyiree/jax/CMakeLists.txt
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
Labels: cla: yes, infrastructure 🛠️

#4621 Adding multiple layouts to HAL executable creation.
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/MaterializeEntryPointsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/test/binary_op.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/matmul_op.mlir
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/compiler/Dialect/IREE/IR/IREEOps.td
  iree/compiler/Dialect/VM/Conversion/IREEToVM/ConvertIREEToVM.cpp
  iree/hal/executable_cache.c
  iree/hal/executable_cache.h
  iree/hal/local/executable_loader.c
  iree/hal/local/executable_loader.h
  iree/hal/local/loaders/legacy_library_loader.cc
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmla_module_loader.cc
  iree/hal/local/local_executable.c
  iree/hal/local/local_executable.h
  iree/hal/local/local_executable_cache.c
  iree/hal/local/task_command_buffer.c
  iree/hal/vulkan/native_executable.cc
  iree/hal/vulkan/native_executable.h
  iree/hal/vulkan/nop_executable_cache.cc
  iree/modules/hal/hal_module.cc
Labels: cla: yes, compiler, hal/api, runtime

#4671 Canonicalize `std.dim` into `flow.dispatch.shape` when relevant.
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowDialect.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: cla: yes

#4674 Condition use of __builtin_debugtrap on feature detection.
  iree/base/debugging.h
  iree/base/target_platform.h
Labels: cla: yes

#4597 Connect linalg on tensors to rest of the CPU side.
  iree/compiler/Conversion/Common/LaunchConfig.cpp
  iree/compiler/Conversion/Common/LaunchConfig.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/test/e2e/linalg_tensor_ops/add.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
Labels: cla: yes
