Repository iree-org/iree, pull requests merged in 2021-05, with the labels that each got.

#5705 Minor change in build instructions of getting_started_python.md
  docs/get_started/getting_started_python.md
Labels: cla: yes, documentation ✏️

#5704 Temporary disable S10 on CI
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#5693 Tile matmul with at least matmulVectorSize
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
Labels: cla: yes

#5708 Shuffling iree/base/internal/ to better support disabled synchronization.
  bindings/tflite/BUILD
  bindings/tflite/CMakeLists.txt
  bindings/tflite/interpreter.c
  iree/base/config.h
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/call_once.h
  iree/base/internal/dynamic_library_win32.c
  iree/base/internal/fpu_state.c
  iree/base/internal/fpu_state.h
  iree/base/internal/fpu_state_benchmark.cc
  iree/base/internal/fpu_state_test.cc
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/threading.c
  iree/base/internal/threading.h
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
  iree/hal/driver_registry.c
Labels: cla: yes, platform/generic 🔩, runtime

#5699 Porting iree/base/internal/file_io.h to C.
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/file_io.c
  iree/base/internal/file_io.cc
  iree/base/internal/file_io.h
  iree/base/internal/file_io_test.cc
  iree/base/internal/flags.c
  iree/base/testing/dynamic_library_test.cc
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-dump-module-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util.h
Labels: cla: yes, cleanup 🧹, runtime/tools

#5710 Add an asan build
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/presubmit.cfg
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#5717 Fixing c embed data for MSVC and converting the test files to binary.
  build_tools/embed_data/BUILD
  build_tools/embed_data/c_embed_data_test.cc
  build_tools/embed_data/cc_embed_data_test.cc
  build_tools/embed_data/data/file2.bin
  build_tools/embed_data/data/file3.bin
  build_tools/embed_data/file1.bin
  build_tools/embed_data/generate_embed_data_main.cc
Labels: cla: yes, infrastructure 🛠️, platform/windows 🚪

#5698 Re-implements IREE function dispatch in python on top of the native ABI.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
Labels: cla: yes

#5572 [doc] Initial rewrite of dylib CPU HAL driver
  mkdocs/docs/backends/cpu-dylib.md
  mkdocs/docs/backends/cpu-llvm.md
  mkdocs/docs/backends/gpu-vulkan.md
  mkdocs/docs/frontends/tensorflow.md
  mkdocs/mkdocs.yml
Labels: cla: yes, codegen/llvm, documentation ✏️, hal/cpu

#5719 Add asan bot build badge to readme
  README.md
Labels: cla: yes

#5718 Refactor simple_embedding_run with separate create_sample_device()
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_local_sync.c
  iree/samples/simple_embedding/device_vulkan.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/simple_embedding/simple_embedding_run_local_sync.c
Labels: cla: yes, cleanup 🧹

#5722 Update simple_embedding_test risv64 prebuilt
  iree/samples/simple_embedding/data/simple_embedding_test-llvm-aot_rv64.vmfb
Labels: cla: yes

#5721 Disable mobilenet-v2 benchmark while it fails to compile.
  build_tools/mako/configuration.py
Labels: cla: yes, infrastructure 🛠️

#5697 Add convenience functions to runtime bindings and disambiguate names
  bindings/python/iree/jax/frontend.py
  bindings/python/iree/jax/frontend_test.py
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/system_api_test.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
Labels: bindings/python, cla: yes

#5725 [MLIR][IREE] Add `shape.from_extent_tensor` to `shapex.*` conversion
  iree/compiler/Dialect/Shape/Conversion/ConvertShapeToShapex.cpp
  iree/compiler/Dialect/Shape/Conversion/test/shape_to_shapex.mlir
Labels: cla: yes, compiler

#5709 Adding `-iree-vm-emit-polyglot-zip` flag.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.h
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.h
  iree/compiler/Dialect/VM/Target/Bytecode/TranslationFlags.cpp
  iree/compiler/Utils/FlatbufferUtils.h
Labels: cla: yes, quality of life 😊, runtime/tools

#5485 Start filling in bindings/c-api doc.
  mkdocs/docs/bindings/c-api.md
  mkdocs/mkdocs.yml
Labels: cla: yes, documentation ✏️, hal/api, runtime/api

#5726 Directly create a dylib device in the simple_embedding test
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/device_dylib.c
Labels: cla: yes

#5727 Improvements/fixes for size-optimized runtime builds.
  build_tools/cmake/iree_copts.cmake
  iree/base/api.h
  iree/base/config.h
  iree/base/internal/flags.h
  iree/base/status.c
  iree/modules/hal/hal_module.c
Labels: cla: yes, performance ⚡

#5728 Include sync_device instead of sync_driver header
  iree/samples/simple_embedding/device_local_sync.c
Labels: cla: yes, cleanup 🧹

#5739 Exclude binary files from tab checks rather than listing extensions
  scripts/check_tabs.sh
Labels: cla: yes

#5741 Merge main -> google
  README.md
  bindings/python/iree/jax/frontend.py
  bindings/python/iree/jax/frontend_test.py
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/system_api_test.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  build_tools/cmake/iree_copts.cmake
  build_tools/embed_data/BUILD
  build_tools/embed_data/c_embed_data_test.cc
  build_tools/embed_data/cc_embed_data_test.cc
  build_tools/embed_data/data/file2.bin
  build_tools/embed_data/data/file3.bin
  build_tools/embed_data/file1.bin
  build_tools/embed_data/generate_embed_data_main.cc
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/presubmit.cfg
  build_tools/mako/configuration.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  iree/base/api.h
  iree/base/config.h
  iree/base/internal/flags.h
  iree/base/status.c
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/Shape/Conversion/ConvertShapeToShapex.cpp
  iree/compiler/Dialect/Shape/Conversion/test/shape_to_shapex.mlir
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.h
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.h
  iree/compiler/Dialect/VM/Target/Bytecode/TranslationFlags.cpp
  iree/compiler/Utils/FlatbufferUtils.h
  iree/modules/hal/hal_module.c
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/simple_embedding/data/simple_embedding_test-llvm-aot_rv64.vmfb
  iree/samples/simple_embedding/device_dylib.c
  iree/samples/simple_embedding/device_local_sync.c
  iree/samples/simple_embedding/device_vulkan.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/simple_embedding/simple_embedding_run_local_sync.c
  scripts/check_tabs.sh
Labels: cla: yes

#5736 Add unsigned support for lowering mhlo concatenate and constant
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/concatenate.mlir
Labels: cla: yes

#5743 Re-enable mobilenet-V2 benchmark
  build_tools/mako/configuration.py
Labels: cla: yes

#5742 Add back MobileBert and MobileNet tests accidentally deleted.
  iree/test/e2e/models/BUILD
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#5745 Use our own script for buildifier checks
  .github/workflows/lint.yml
  build_tools/bazel/iree_flatcc.bzl
  scripts/run_buildifier.sh
Labels: cla: yes, infrastructure 🛠️, quality of life 😊

#5733 Prep for new website: move existing docs and disable current publication.
  .github/workflows/publish_docs.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  build_tools/cmake/build_docs.sh
  docs/developers/README.md
  docs/developers/debugging/releases.md
  docs/developers/design_docs/codegen_passes.md
  docs/developers/design_docs/cuda_backend.md
  docs/developers/design_docs/dynamic_shapes.md
  docs/developers/design_docs/function_abi.md
  docs/developers/design_docs/hal_driver_features.md
  docs/developers/design_docs/hlo_to_linalg.png
  docs/developers/design_docs/linalg_to_spirv.png
  docs/developers/design_docs/simple_ir_walkthrough.md
  docs/developers/design_roadmap.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/ccache.md
  docs/developers/developing_iree/contributor_tips.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/developing_iree/profiling.md
  docs/developers/developing_iree/profiling_cpu_events.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/developing_iree/repository_management.md
  docs/developers/developing_iree/sanitizers.md
  docs/developers/developing_iree/testing_guide.md
  docs/developers/get_started/cmake_options_and_variables.md
  docs/developers/get_started/generic_vulkan_env_setup.md
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_linux_bazel.md
  docs/developers/get_started/getting_started_linux_cmake.md
  docs/developers/get_started/getting_started_linux_vulkan.md
  docs/developers/get_started/getting_started_macos_bazel.md
  docs/developers/get_started/getting_started_macos_cmake.md
  docs/developers/get_started/getting_started_python.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/developers/get_started/getting_started_tensorflow.md
  docs/developers/get_started/getting_started_windows_bazel.md
  docs/developers/get_started/getting_started_windows_cmake.md
  docs/developers/get_started/getting_started_windows_vulkan.md
  docs/developers/iree_architecture.svg
  docs/developers/iree_community.md
  docs/developers/objectives.md
  docs/developers/tensorflow_coverage/language_and_speech_coverage.md
  docs/developers/tensorflow_coverage/tf_base_coverage.md
  docs/developers/tensorflow_coverage/tf_keras_coverage.md
  docs/developers/tensorflow_coverage/vision_coverage.md
  iree/base/signature_parser.h
  iree/compiler/Bindings/SIP/Utils/SignatureBuilder.h
  iree/compiler/Bindings/SIP/Utils/SignatureParser.h
  iree/schemas/bytecode_module_def.fbs
  iree/vm/module.h
  scripts/prepare_doc_publication.py
  scripts/update_op_coverage.py
Labels: cla: yes, cleanup 🧹, documentation ✏️, infrastructure 🛠️

#5734 Rename website categories and add TODOs to unfinished pages.
  mkdocs/docs/bindings/tensorflow-lite.md
  mkdocs/docs/deployment-configurations/cpu-dylib.md
  mkdocs/docs/deployment-configurations/gpu-vulkan.md
  mkdocs/docs/ml-frameworks/jax.md
  mkdocs/docs/ml-frameworks/tensorflow-lite.md
  mkdocs/docs/ml-frameworks/tensorflow.md
  mkdocs/mkdocs.yml
Labels: cla: yes, documentation ✏️

#5746 NFC: Upgrade the Flow dialect to use tablegen-based pass declarations.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchabilityAnalysis.cpp
  iree/compiler/Dialect/Flow/Transforms/ExpandVariableDynamicDims.cpp
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/FoldCompatibleDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/FormStreams.cpp
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/HoistUnstreamableOps.cpp
  iree/compiler/Dialect/Flow/Transforms/IdentifyDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  iree/compiler/Dialect/Flow/Transforms/LegalizeInputTypes.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions2.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineLargeConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/PassDetail.h
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/PrePostPartitioningConversion.cpp
  iree/compiler/Dialect/Flow/Transforms/StripAndSplatConstantVariables.cpp
Labels: cla: yes, cleanup 🧹, compiler

#5738 Don't drop signedness semantics when narrowing 64-bit ints
  iree/compiler/Dialect/Flow/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/Flow/Transforms/test/legalize_input_types.mlir
Labels: cla: yes

#5752 Add cmake-riscv docker image
  build_tools/docker/cmake-riscv/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: cla: yes

#5749 Move new documentation from mkdocs/ to docs/website/.
  docs/README.md
  docs/website/README.md
  docs/website/docs/assets/images/favicon.png
  docs/website/docs/assets/stylesheets/extra.css
  docs/website/docs/bindings/c-api.md
  docs/website/docs/bindings/python.md
  docs/website/docs/bindings/tensorflow-lite.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/index.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/community/projects.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/index.md
  docs/website/docs/ml-frameworks/jax.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
  docs/website/mkdocs.yml
  docs/website/overrides/partials/footer.html
  mkdocs/README.md
Labels: cla: yes, documentation ✏️

#5707 Adding iree/runtime/ as a higher-level C API.
  CMakeLists.txt
  bindings/python/iree/runtime/function_abi.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/vm.cc
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/embed_data/generate_embed_data_main.cc
  iree/base/api.h
  iree/base/status.c
  iree/hal/buffer_view.c
  iree/hal/buffer_view.h
  iree/hal/string_util_test.cc
  iree/modules/check/check_test.cc
  iree/modules/hal/hal_module.c
  iree/modules/hal/hal_module.h
  iree/modules/strings/strings_module_test.cc
  iree/modules/tensorlist/native_module.cc
  iree/modules/tensorlist/tensorlist_test.cc
  iree/runtime/BUILD
  iree/runtime/CMakeLists.txt
  iree/runtime/api.h
  iree/runtime/call.c
  iree/runtime/call.h
  iree/runtime/demo/BUILD
  iree/runtime/demo/CMakeLists.txt
  iree/runtime/demo/README.md
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/runtime/instance.c
  iree/runtime/instance.h
  iree/runtime/session.c
  iree/runtime/session.h
  iree/runtime/testdata/BUILD
  iree/runtime/testdata/CMakeLists.txt
  iree/runtime/testdata/simple_mul.mlir
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/context.c
  iree/vm/context.h
  iree/vm/list.c
  iree/vm/list.h
  iree/vm/type_def.h
Labels: cla: yes, cleanup 🧹, runtime/api

#5730 Add support for compilation of Linalg ops with multiple results
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Dialect/Flow/Transforms/DestructiveUpdateUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/linalg_ops.mlir
Labels: cla: yes

#5760 Convert buffer_view -> buffer in HAL type converter.
  iree/compiler/Dialect/HAL/Conversion/TypeConverter.cpp
Labels: cla: yes

#5753 Applies ForOpCanonicalizationPass after LinalgTileAndVectorizeWorkgroupsPass
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#5755 Update MobileNetV2 mako compilation flags for cpu
  build_tools/mako/configuration.py
Labels: cla: yes

#5763 Revert workaround in LinalgVectorizePass now that vector unroll is fixed
  iree/compiler/Conversion/LinalgToLLVM/LinalgVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_vectorize.mlir
Labels: cla: yes

#5765 Remove more unused code paths after moving to linalg on tensors.
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/linalg_rewrite_destructive_updates.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/init_conversions.h
Labels: cla: yes

#5772 Fix buildifier action when base branch is not `main`
  .github/workflows/lint.yml
Labels: cla: yes, infrastructure 🛠️

#5773 Clean up tflite docs table formatting a bit
  bindings/tflite/README.md
Labels: cla: yes

#5774 Add -iree-llvm-debug-symbols=false to simple_embedding sample.
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
Labels: cla: yes

#5775 Save IREE input for XLA import after running passes
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes, integrations/tensorflow

#5689 Revert "Enabling `-Wincompatible-pointer-types` warning."
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/iree_copts.cmake
Labels: cla: yes

#5748 Generalizing the VM buffer type and adding VM buffer ops.
  bindings/tflite/interpreter.c
  iree/base/internal/atomics.h
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  iree/compiler/Dialect/VM/IR/VMOpcodesI64.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/schemas/bytecode_module_def.fbs
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/api.h
  iree/vm/buffer.c
  iree/vm/buffer.h
  iree/vm/buffer_test.cc
  iree/vm/builtin_types.c
  iree/vm/builtin_types.h
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module.c
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/bytecode_module_benchmark.mlir
  iree/vm/generated/bytecode_op_table.h
  iree/vm/list.c
  iree/vm/list.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/buffer_ops.mlir
Labels: cla: yes, codegen/vmvx, runtime/vm

#5776 Disable native bindings when targeting the tflite bindings.
  bindings/tflite/testdata/BUILD
  bindings/tflite/testdata/CMakeLists.txt
Labels: cla: yes, compiler

#5781 Set up new documentation website.
  docs/README.md
  docs/website/README.md
  docs/website/docs/assets/images/favicon.png
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/assets/stylesheets/extra.css
  docs/website/docs/bindings/c-api.md
  docs/website/docs/bindings/python.md
  docs/website/docs/bindings/tensorflow-lite.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/index.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/community/projects.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/index.md
  docs/website/docs/ml-frameworks/jax.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
  docs/website/mkdocs.yml
  docs/website/overrides/partials/footer.html
Labels: cla: yes, documentation ✏️

#5762 Set up RISCV Kokoro for CI tests
  build_tools/cmake/build_riscv.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  build_tools/kokoro/gcp_ubuntu/simulate_kokoro.sh
Labels: cla: yes, infrastructure 🛠️

#5778 Improve the vector flow for SPIR-V codegen
  iree/compiler/Conversion/Common/VectorTransferOptimization.cpp
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/transpose_canonicalization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vector_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_matmul.mlir
Labels: cla: yes

#5789 Add missing config file for riscv64 build on main branch
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/main.cfg
Labels: cla: yes, infrastructure 🛠️

#5785 Misc Python API cleanups to support native ABI uses encountered.
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/vm.cc
  docs/developers/design_docs/function_abi.md
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/saved_model_to_iree_abi.mlir
Labels: cla: yes

#5788 [NFC] Move forop_canonicalization test to common
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/forop_canonicalization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
Labels: cla: yes

#5795 Pass write access token to publish_website workflow.
  .github/workflows/publish_website.yml
Labels: cla: yes, documentation ✏️, infrastructure 🛠️, yolo

#5787 Adding integer/float conversion to the VM.
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/vm/bytecode_dispatch.c
  iree/vm/generated/bytecode_op_table.h
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/conversion_ops.mlir
  iree/vm/test/conversion_ops_f32.mlir
  iree/vm/test/conversion_ops_i64.mlir
Labels: cla: yes, codegen/vmvx, runtime/vm

#5768 Support linalg.pad_tensor bufferization
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5793 Specifying (void) for argument-less C functions.
  iree/base/allocator.h
  iree/base/internal/debugging.h
  iree/base/internal/dynamic_library_win32.c
  iree/base/internal/flags.c
  iree/base/internal/fpu_state.c
  iree/base/string_view.h
  iree/base/time.c
  iree/base/time.h
  iree/base/tracing.cc
  iree/hal/driver_registry.c
  iree/hal/driver_registry.h
  iree/hal/local/elf/platform.h
  iree/hal/local/elf/platform/apple.c
  iree/hal/local/elf/platform/generic.c
  iree/hal/local/elf/platform/linux.c
  iree/hal/local/elf/platform/windows.c
  iree/modules/hal/hal_module.c
  iree/modules/hal/hal_module.h
  iree/modules/strings/strings_module.cc
  iree/modules/strings/strings_module.h
  iree/modules/tensorlist/native_module.cc
  iree/modules/tensorlist/native_module.h
  iree/runtime/demo/hello_world_explained.c
  iree/samples/custom_modules/native_module.h
  iree/task/affinity_set.h
  iree/testing/benchmark.h
  iree/testing/benchmark_full.cc
  iree/vm/buffer.c
  iree/vm/builtin_types.c
  iree/vm/builtin_types.h
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/list.c
  iree/vm/native_module.c
  iree/vm/native_module.h
  iree/vm/type_def.h
Labels: cla: yes, cleanup 🧹, runtime

#5801 A few CMake config fixes.
  CMakeLists.txt
  bindings/tflite/CMakeLists.txt
  bindings/tflite/testdata/CMakeLists.txt
  docs/developers/get_started/cmake_options_and_variables.md
  iree/runtime/demo/BUILD
  iree/runtime/demo/CMakeLists.txt
  iree/runtime/testdata/BUILD
  iree/runtime/testdata/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake

#5797 Add simple heuristic to decide if TensorReshape should be folded during fusion
  iree/compiler/Conversion/HLOToLinalg/FusionOfTensorOps.cpp
Labels: cla: yes

#5805 Remap hyperlinks following website migration.
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/developers/design_docs/hal_driver_features.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/developing_iree/testing_guide.md
  integrations/tensorflow/e2e/README.md
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/partial/BUILD
  scripts/get_e2e_artifacts.py
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes, cleanup 🧹, documentation ✏️

#5803 Trim README.md and link to our website more prominently.
  README.md
  docs/developers/iree_architecture.svg
Labels: cla: yes, cleanup 🧹, documentation ✏️

#5696 Remove OUT option from iree_cc_[binary/test]
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_test.cmake
  iree/base/testing/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes

#5806 Disable printing op on diagnostics in user tools by default.
  bindings/python/iree/compiler/core.py
Labels: cla: yes

#5813 Fix website 404 relative paths and customize the 404.html page.
  docs/website/mkdocs.yml
  docs/website/overrides/404.html
Labels: cla: yes, documentation ✏️

#5811 Implement python argument decoding for list/tuple/dict nests.
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
Labels: cla: yes

#5810 Workaround conflicting concatenate lowerings with a PatternBenefit.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
Labels: cla: yes, codegen

#5816 Replacing std::vector use with a simple stack/heap allocated array.
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/inline_array.h
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/native_executable.cc
  iree/modules/hal/hal_module.c
Labels: cla: yes, hal/vulkan, performance ⚡

#5818 Move check for backends used in simple_embedding
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
Labels: cla: yes

#5820 Disable printing op on diagnostics in iree_check_test targets.
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/iree_check_test.cmake
Labels: cla: yes, infrastructure 🛠️, quality of life 😊

#5824 Fix the ghost emojis on the website
  docs/website/docs/assets/images/favicon.png
  docs/website/docs/assets/stylesheets/extra.css
  docs/website/docs/index.md
  docs/website/mkdocs.yml
  docs/website/overrides/.icons/iree/ghost.svg
  docs/website/overrides/404.html
  docs/website/overrides/ghost.svg
Labels: cla: yes, quality of life 😊

#5825 Miscellaneous fixes to Bufferization pass.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#5834 Use full path to ghost in 404 page
  docs/website/overrides/404.html
Labels: cla: yes

#5839 Add MemoryEffects to IREE list ops and emit resize in ABI generation.
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  iree/compiler/Dialect/IREE/IR/IREEOps.td
Labels: cla: yes

#5846 Revert "Fix how to get the orignal shape in generic op launch config" (#5603)
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5844 Finish implementing native ABI support.
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  bindings/python/iree/runtime/vm_test.py
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/EmitDefaultIREEABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/test/emit_default_iree_abi.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/saved_model_to_iree_abi.mlir
  integrations/tensorflow/iree_tf_compiler/iree-import-xla-main.cpp
Labels: cla: yes

#5845 [CUDA codegen] Add basic support for convolution
  iree/compiler/Conversion/LinalgToNVVM/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToNVVM/Passes.cpp
  iree/compiler/Conversion/LinalgToNVVM/TileAndDistribute.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/pipeline_test.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5706 Rename iree-tf-import -> iree-import-tf for consistency
  bindings/python/iree/compiler/tf.py
  bindings/python/iree/compiler/tflite.py
  bindings/python/iree/compiler/tools.py
  build_tools/github_actions/build_dist.py
  docs/developers/get_started/cmake_options_and_variables.md
  docs/developers/get_started/getting_started_tensorflow.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/ml-frameworks/tensorflow.md
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/bindings/python/iree/tools/tf/CMakeLists.txt
  integrations/tensorflow/bindings/python/iree/tools/tf/setup.py.in
  integrations/tensorflow/build_tools/testdata/generate_errors_module.py
  integrations/tensorflow/build_tools/testdata/generate_signature_samples.py
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/README.md
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
Labels: cla: yes

#5847 Extend vector transfer scalarization fallback
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemrefLoadStorePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_memref_load_store.mlir
Labels: cla: yes

#5853 Re-commit "Fix how to get the original shape in generic op launch config. #5603"
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5851 Extend tests for VM floating-point arithmetic ops
  iree/vm/test/arithmetic_ops_f32.mlir
Labels: cla: yes, runtime/vm

#5850 [NFC] Remove renaming TODO in getting_started_tensorflow.md
  docs/developers/get_started/getting_started_tensorflow.md
Labels: cla: yes

#5849 Add conversions for f32 vm.const ops to EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_f32.mlir
Labels: cla: yes, runtime/vm

#5832 Harmonize integer types of in- and outputs
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes, runtime/vm

#5831 Fix dependency paths in cc_embed_data
  build_tools/embed_data/build_defs.bzl
Labels: cla: yes

#5858 Add EmitC support for f32 conversion ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_f32.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes, runtime/vm

#5860 Revert " Update MobileNetV2 mako compilation flags for cpu (#5755)"
  build_tools/mako/configuration.py
Labels: cla: yes

#5807 [cmake] Give targets consitent qualified aliases
  build_tools/cmake/external_cc_library.cmake
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_run_binary_test.cmake
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#5655 Add image_util library for image --> buffer_view
  CMakeLists.txt
  build_tools/third_party/stblib/CMakeLists.txt
  build_tools/third_party/stblib/stb_image.c
  iree/samples/vision/CMakeLists.txt
  iree/samples/vision/iree-run-mnist-module.c
  iree/samples/vision/mnist.mlir
  iree/samples/vision/mnist_test.png
  iree/tools/utils/CMakeLists.txt
  iree/tools/utils/image_util.c
  iree/tools/utils/image_util.h
Labels: cla: yes, runtime

#5865 Inline IndexCastOp and int/float ops into the dispatch region.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/dynamic_slice.mlir
Labels: cla: yes

#5868 Re-Revert #5603 "Fix getting original shape in launch config" (#5868)
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
Labels: cla: yes

#5869 Add C_IDENTIFIER to fix breakage from midair collision
  iree/samples/vision/CMakeLists.txt
Labels: cla: yes

#5867 Add CUDA libdevice module to third_party
  BUILD.bazel
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/cuda/BUILD.overlay
  build_tools/third_party/cuda/CMakeLists.txt
  iree/hal/cuda/BUILD
  third_party/cuda/LICENSE
  third_party/cuda/README.txt
  third_party/cuda/UPDATING.md
  third_party/cuda/include/cuda.h
  third_party/cuda/nvvm/libdevice/libdevice.10.bc
  third_party/cuda/version.txt
  third_party/cuda_headers/README.txt
  third_party/cuda_headers/UPDATING.md
Labels: cla: yes, hal/cuda

#5840 Add a pass to pad linalg workgroup ops
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/PadLinalgWorkgroupTiles.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/pad_linalg_workgroup_tiles.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
Labels: cla: yes

#5875 Use adaptor when converting cond_br (latent bug).
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
Labels: cla: yes

#5864 Generalizing some aspects of the VM to better support arbitrary code.
  build_tools/bazel/iree_check_test.bzl
  iree/base/config.h
  iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/TargetOptions.cpp
  iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  iree/compiler/Dialect/VM/IR/VMOpcodesI64.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  iree/compiler/Dialect/VM/IR/test/shift_ops.mlir
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/Passes.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_util.h
  iree/vm/generated/bytecode_op_table.h
  iree/vm/ops.h
  iree/vm/test/arithmetic_ops.mlir
  iree/vm/test/arithmetic_ops_f32.mlir
  iree/vm/test/arithmetic_ops_i64.mlir
  iree/vm/test/shift_ops.mlir
  iree/vm/test/shift_ops_i64.mlir
Labels: cla: yes, compiler, runtime/vm

#5883 Rework the lowering of subtensor/subtensor_insert to flow.dispatch.slice/update
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlowTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/test/convert_to_flow_tensor_ops.mlir
  iree/test/e2e/xla_ops/dynamic_slice.mlir
Labels: cla: yes

#5884 Disable CPU workgroup padding
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#5887 Delete tensorflow vmla tests.
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/keras/BUILD
  integrations/tensorflow/e2e/keras/CMakeLists.txt
  integrations/tensorflow/e2e/keras/applications/BUILD
  integrations/tensorflow/e2e/keras/applications/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/BUILD
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
  integrations/tensorflow/e2e/keras/train/BUILD
  integrations/tensorflow/e2e/keras/train/CMakeLists.txt
  integrations/tensorflow/e2e/math/BUILD
  integrations/tensorflow/e2e/math/CMakeLists.txt
  integrations/tensorflow/e2e/slim_vision_models/BUILD
  integrations/tensorflow/e2e/slim_vision_models/CMakeLists.txt
Labels: cla: yes

#5891 Re-apply changes to replace cuda_headers by cuda directory
  third_party/cuda/LICENSE
  third_party/cuda/README.txt
  third_party/cuda/UPDATING.md
  third_party/cuda/include/cuda.h
  third_party/cuda/nvvm/libdevice/libdevice.10.bc
  third_party/cuda/version.txt
  third_party/cuda_headers/README.txt
  third_party/cuda_headers/UPDATING.md
Labels: cla: yes

#5888 Exclude flakey TOSA reduce test on VMVX
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
Labels: cla: yes

#5894 Embed CUDA libdevice when CUDA target is present
  build_tools/third_party/cuda/BUILD.overlay
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
Labels: cla: yes

#5889 [Cleanup] Delete dead files.
  iree/compiler/Conversion/HLOToLinalg/Passes.cpp
Labels: cla: yes

#5814 [spirv] Migrate ConvertToGPUPass' invocation tiling logic
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_in_one_workgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_elementwise_ops.mlir
Labels: cla: yes, cleanup 🧹, codegen/spirv

#5886 More pre-factoring for native ABI swap.
  bindings/python/iree/compiler/core.py
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/system_api.py
  bindings/python/iree/runtime/system_api_test.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  bindings/python/iree/runtime/vm_test.py
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
Labels: cla: yes

#5896 Fixing c embed data's --flatten argument, removing C++, and fixing msvc.
  build_tools/cmake/iree_c_embed_data.cmake
  build_tools/embed_data/build_defs.bzl
  build_tools/embed_data/generate_embed_data_main.cc
Labels: bug 🐞, cla: yes, infrastructure 🛠️

#5905 Revert "[spirv] Migrate ConvertToGPUPass' invocation tiling logic"
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_in_one_workgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_elementwise_ops.mlir
Labels: cla: yes

#5899 Swapping benchmarks to use VMVX instead of VMLA.
  build_tools/mako/config/benchmark_template.config
  build_tools/mako/config/mobile-bert-pixel4.config
  build_tools/mako/config/mobile-bert-s20.config
  build_tools/mako/config/mobilenet-v2-pixel4.config
  build_tools/mako/config/mobilenet-v2-s20.config
  build_tools/mako/configuration.py
Labels: cla: yes, cleanup 🧹, codegen/vmvx

#5900 Dropping the VMLA runtime.
  CMakeLists.txt
  bindings/python/iree/runtime/system_api.py
  bindings/tflite/java/build.gradle
  iree/hal/drivers/BUILD
  iree/hal/drivers/CMakeLists.txt
  iree/hal/drivers/init.c
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/vmla_module_loader.cc
  iree/hal/local/loaders/vmla_module_loader.h
  iree/hal/vmla/BUILD
  iree/hal/vmla/CMakeLists.txt
  iree/hal/vmla/registration/BUILD
  iree/hal/vmla/registration/CMakeLists.txt
  iree/hal/vmla/registration/driver_module.c
  iree/hal/vmla/registration/driver_module.h
  iree/modules/check/CMakeLists.txt
  iree/modules/vmla/BUILD
  iree/modules/vmla/CMakeLists.txt
  iree/modules/vmla/op_kernels.h
  iree/modules/vmla/op_kernels_fft.h
  iree/modules/vmla/op_kernels_generic.h
  iree/modules/vmla/op_kernels_ruy.h
  iree/modules/vmla/op_kernels_test.cc
  iree/modules/vmla/op_module.cc
  iree/modules/vmla/op_module.h
  iree/samples/custom_modules/BUILD
  iree/samples/custom_modules/CMakeLists.txt
Labels: cla: yes, cleanup 🧹

#5909 Delete Bazel BUILD overlay for kws streaming
  build_tools/third_party/kws_streaming/BUILD.overlay
Labels: cla: yes

#5918 Add vm.fma to emitc conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
Labels: cla: yes

#5895 [CUDA] Add linking with libdevice and llvm optimizations
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
Labels: cla: yes, codegen/nvvm

#5904 [CUDA Codgen] Add pattern to scalarize math op with no vector implementation
  iree/compiler/Conversion/LinalgToNVVM/BUILD
  iree/compiler/Conversion/LinalgToNVVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToNVVM/test/BUILD
  iree/compiler/Conversion/LinalgToNVVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToNVVM/test/scalarize.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5882 Add test for iree-run-mnist-module with the default image
  iree/samples/vision/CMakeLists.txt
  iree/samples/vision/mnist_test.txt
Labels: cla: yes, infrastructure 🛠️

#5907 Fix iree_py_library and iree_pyext_module dependency issue
  build_tools/cmake/iree_python.cmake
Labels: bindings/python, cla: yes, infrastructure/cmake

#5920 Add a docker image bundling ML frameworks and Android NDK
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: cla: yes

#5928 Select copts for stblib based on compiler to fix build on MSVC.
  build_tools/third_party/stblib/CMakeLists.txt
Labels: cla: yes

#5926 Add std.assert -> vm.fail lowering.
  iree/compiler/Dialect/VM/Conversion/StandardToVM/BUILD
  iree/compiler/Dialect/VM/Conversion/StandardToVM/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
Labels: cla: yes

#5929 Clarify documentation and suggest using RelWithDebInfo.
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/index.md
Labels: cla: yes, documentation ✏️

#5938 Add an announcement to the 404 page about the website redesign.
  docs/website/overrides/404.html
Labels: cla: yes, documentation ✏️

#5919 Add barrier after duplicated dispatches for benchmarking
  iree/compiler/Dialect/HAL/Transforms/BenchmarkBatchDispatches.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/benchmark_batch_dispatches.mlir
Labels: cla: yes

#5872 Add EmitC support for f32 arithmetic ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#5939 Explicitly disable include sort for third_party
  third_party/.clang-format
Labels: cla: yes

#5941 Reland "[spirv] Migrate ConvertToGPUPass' invocation tiling logic"
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/TileAndVectorizeInOneWorkgroupPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Utils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/tile_and_vectorize_in_one_workgroup.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/vectorize_elementwise_ops.mlir
Labels: cla: yes

#5940 Remove file left during renaming from LinagToNVVM to LinalgToLLVMGPU
  iree/compiler/Conversion/LinalgToNVVM/test/scalarize.mlir
Labels: cla: yes

#5842 Add attribute to capture lowering configuration.
  iree/compiler/Conversion/CodegenUtils/BUILD
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/MaterializeCPULaunchConfigurationPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/PadLinalgWorkgroupTiles.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/pad_linalg_workgroup_tiles.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConcretizeTileAmongWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Dialect/HAL/IR/BUILD
  iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
Labels: cla: yes

#5945 Add a Colab notebook demonstrating TensorFlow Hub import.
  colab/README.md
  colab/tensorflow_hub_import.ipynb
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: cla: yes, documentation ✏️, integrations/colab, integrations/tensorflow

#5955 Update colabs to use renamed python function
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
Labels: cla: yes, integrations/colab

#5956 Enable testing on S10
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#5934 Use dynamic pass pipelines while lowering on CPU backends.
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/SetNumWorkgroupsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LowerExecutableTargetPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/materialize_launch_configuration.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/IR/BUILD
  iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALDialect.td
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
Labels: cla: yes

#5964 Fix tracking of result buffer to use if the buffer eventually maps to low dispatch output.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/test/e2e/xla_ops/reduce.mlir
Labels: cla: yes

#5968 Update workflows to use new token
  .github/workflows/build_package.yml
  .github/workflows/copybara_fixup.yml
  .github/workflows/publish_website.yml
  .github/workflows/schedule_snapshot_release.yml
  .github/workflows/update_llvm_dependent_submodules.yml
Labels: cla: yes

#5966 [CUDA-Codegen] Add support for constant tensor
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/FoldTensorExtractOp.td
  iree/compiler/Conversion/Common/FoldTensorExtractOpPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/test/BUILD
  iree/compiler/Conversion/Common/test/CMakeLists.txt
  iree/compiler/Conversion/Common/test/fold_tensor_extract_op.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/BUILD
  iree/compiler/Conversion/LinalgToLLVM/test/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVMGPU/BUILD
  iree/compiler/Conversion/LinalgToLLVMGPU/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVMGPU/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#5972 [Cleanup] Refactor BUILD file.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#5974 Fix vulkan dynamic library name for MacOS
  iree/hal/vulkan/dynamic_symbols.cc
Labels: cla: yes

#5973 Fix leaks from not freeing status in tests
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  iree/base/internal/wait_handle_test.cc
  iree/base/testing/dynamic_library_test.cc
Labels: cla: yes

#5967 Use nvidia deb files that we control
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/manage_prod.py
  build_tools/docker/prod_digests.txt
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: cla: yes

#5979 Fix ordering of inlined operations to ignore ops that are not inlined.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#5969 Handle removing unused results of a CloseureInterfaceOp
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: cla: yes

#5983 Revert "Handle removing unused results of a CloseureInterfaceOp"
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: cla: yes

#5994 use proper indefinite article in Readme.md
  README.md
  docs/website/docs/index.md
Labels: cla: yes

#5995 Clarify project description.
  README.md
  docs/website/docs/index.md
Labels: cla: yes

#5993 [CUDA] Fix bugs in kernel config
  iree/compiler/Conversion/LinalgToLLVMGPU/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/test/nvvm_pipeline_test.mlir
Labels: cla: yes

#5962 Assemble, Linking BC, LLD Link in ROCm
  CMakeLists.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Dialect/HAL/Target/ROCM/BUILD
  iree/compiler/Dialect/HAL/Target/ROCM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTargetUtils.cpp
Labels: cla: yes

#5996 Handle removing unused results of a CloseureInterfaceOp
  iree/compiler/Dialect/Flow/IR/FlowDialect.h
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.h
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: cla: yes

#5981 Bufferization support for scf.for
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
Labels: cla: yes

#6003 [CUDA] Sanitize kernel function name to avoid unsupported characters
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6004 Add IREE-side tests for tosa-to-linalg lowerings.
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/arithmetic_right_shift.mlir
  iree/test/e2e/tosa_ops/equal.mlir
  iree/test/e2e/tosa_ops/fully_connected.mlir
  iree/test/e2e/tosa_ops/gather.mlir
  iree/test/e2e/tosa_ops/matmul.mlir
  iree/test/e2e/tosa_ops/reciprocal.mlir
  iree/test/e2e/tosa_ops/sigmoid.mlir
Labels: cla: yes

#6006 [CUDA] Add more config to enable dot_general and pool ops
  iree/compiler/Conversion/LinalgToLLVMGPU/KernelConfig.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6007 Share scalarization pass between CUDA and ROCM
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.h
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToROCDL.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/scalarize.mlir
Labels: cla: yes

#5998 Use 'vulkan-spirv' as the compiler target for consistency
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
Labels: cla: yes

#6008 Merge main -> google
  CMakeLists.txt
  README.md
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  docs/website/docs/index.md
  integrations/tensorflow/bindings/python/iree/tf/support/module_utils.py
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToLLVM.h
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/ConvertToROCDL.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/KernelConfig.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/VectorizationPass.cpp
  iree/compiler/Conversion/LinalgToLLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Conversion/LinalgToLLVMGPU/test/scalarize.mlir
  iree/compiler/Dialect/Flow/IR/FlowDialect.h
  iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpUtils.h
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/BUILD
  iree/compiler/Dialect/HAL/Target/ROCM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.h
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTargetUtils.cpp
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/tosa_ops/arithmetic_right_shift.mlir
  iree/test/e2e/tosa_ops/equal.mlir
  iree/test/e2e/tosa_ops/fully_connected.mlir
  iree/test/e2e/tosa_ops/gather.mlir
  iree/test/e2e/tosa_ops/matmul.mlir
  iree/test/e2e/tosa_ops/reciprocal.mlir
  iree/test/e2e/tosa_ops/sigmoid.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes
