Repository iree-org/iree, pull requests merged in 2021-02, with the labels that each got.

#4677 Mark tflite testdata target as testonly.
  bindings/tflite/testdata/BUILD
  bindings/tflite/testdata/CMakeLists.txt
Labels: bindings/tflite, cla: yes, infrastructure/cmake

#4634 Add region to `hal.executable.entry_point` that computes number of workgroups.
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/VMLATarget.cpp
  iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
Labels: cla: yes

#4681 Use ConvertToLLVM2 for both linalg tensor and buffer passes
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
Labels: cla: yes

#4685 Add conversion of Fill op on tensors to Fill op on buffers.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
Labels: cla: yes

#4639 Expand C Module Target
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/samples/emitc_modules/CMakeLists.txt
  iree/samples/emitc_modules/add_module_test.cc
  iree/samples/emitc_modules/add_module_test.h
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/shims.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/arithmetic_ops.h
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/emitc/shims.h
Labels: cla: yes

#4687 Tell CTest to not swallow error messages
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#4658 Relocate integer arithmetic ops from dispatcher
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/empty_module.mlir
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes

#4689 Fix deps on renamed target iree::vm::ops
  iree/samples/emitc_modules/CMakeLists.txt
  iree/vm/test/emitc/CMakeLists.txt
Labels: cla: yes

#4691 Add VM to EmitC conversions for integer ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic.mlir
Labels: cla: yes

#4663 Configure TF workspace via recursive workspace files
  integrations/tensorflow/WORKSPACE
Labels: cla: yes

#4695 Merge main -> google
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM2.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/conv_img2col.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic.mlir
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/empty_module.mlir
  iree/samples/emitc_modules/CMakeLists.txt
  iree/samples/emitc_modules/add_module_test.cc
  iree/samples/emitc_modules/add_module_test.h
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/shims.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/arithmetic_ops.h
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/emitc/shims.h
Labels: cla: yes

#4700 Fixing the MSVC build (it's more sensitive than clang to this error).
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
Labels: cla: yes

#4703 Add EmitC support for bitwise shift and rotate ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/IR/test/shift_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes

#4693 Add LinalgOnTensors xla_ops tests
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4696 Some cleanup on the integrations/tensorflow/ dir to enable TF/TFLite separation.
  bindings/python/pyiree/compiler2/tflite.py
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/README.md
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/ConvertToMHLO.cpp
  integrations/tensorflow/iree_tf_compiler/TF/LowerExportedFunctions.cpp
  integrations/tensorflow/iree_tf_compiler/TF/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.h
  integrations/tensorflow/iree_tf_compiler/TF/PropagateResourceCasts.cpp
  integrations/tensorflow/iree_tf_compiler/TF/StripMetadata.cpp
  integrations/tensorflow/iree_tf_compiler/TF/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/test/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/TF/test/convert_to_mhlo.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors_complex.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors_invalid.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/propagate_resource_casts.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/strip_metadata.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/verify_fully_converted.mlir
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-import-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
  integrations/tensorflow/iree_tf_compiler/test/README.md
Labels: cla: yes, integrations/tensorflow

#4705 Add Gradle tasks to configure and make host tools with CMake before compiling the Android Java bindings.
  experimental/bindings/java/build.gradle
Labels: bindings/java, cla: yes, infrastructure 🛠️, platform/android

#4709 Check push bindings when comparing HAL interface ops.
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/Target/VMLA/test/linking.mlir
Labels: cla: yes, compiler

#4707 Merge main -> google
  integrations/tensorflow/WORKSPACE
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/IR/test/shift_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes

#4713 Fixing warnings on clang.
  bindings/tflite/tensor.c
Labels: cla: yes

#4698 Adding tflite import passes and metadata conversion.
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/ConvertMetadata.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.h
  integrations/tensorflow/iree_tf_compiler/TFL/StripMetadata.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/TFL/test/convert_metadata.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/strip_metadata.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/verify_fully_converted.mlir
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-opt-tflite-main.cpp
Labels: bindings/tflite, cla: yes, integrations/tensorflow

#4699 Adding simple tflite flatbuffer->mlir tests of iree-import-tflite.
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/add.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/add.tflite
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/multi_add.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/multi_add.tflite
Labels: cla: yes, integrations/tensorflow

#4715 Fix issues with linking Vulkan GUI applications.
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/testing/vulkan/vulkan_gui_util.h
Labels: cla: yes, hal/vulkan

#4714 Run createDecomposeHLOClampPass prior to createDispatchLinalgOnTensor
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4726 Refactor vm/ops.h's functions to consume int32_t
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes

#4728 Add VM tests for native bitwise shifts and rotates
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/shift_ops.mlir
Labels: cla: yes

#4723 Fix passing binding options
  iree/compiler/Translation/IREEVM.cpp
Labels: cla: yes

#4718 Add a script to fix Copybara failed merges
  scripts/git/fix_copybara_merge.sh
Labels: cla: yes

#4731 Add tests for lowerings from tosa to linalg
  iree/test/e2e/tosa_ops/ceil.mlir
  iree/test/e2e/tosa_ops/exp.mlir
  iree/test/e2e/tosa_ops/floor.mlir
  iree/test/e2e/tosa_ops/greater.mlir
  iree/test/e2e/tosa_ops/greater_equal.mlir
  iree/test/e2e/tosa_ops/log.mlir
  iree/test/e2e/tosa_ops/maximum.mlir
  iree/test/e2e/tosa_ops/minimum.mlir
Labels: cla: yes

#4725 Add VM tests for native integer arithmetics
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/vm/test/arithmetic_ops.mlir
Labels: cla: yes

#4721 Removing abseil dep in tracing.h to make it ok for API exposure.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.h
  iree/base/attributes.h
  iree/base/internal/status.h
  iree/base/internal/statusor.h
  iree/base/logging.cc
  iree/base/logging.h
  iree/base/tracing.h
  iree/hal/vulkan/dynamic_symbols.cc
  iree/hal/vulkan/util/BUILD
  iree/hal/vulkan/util/CMakeLists.txt
  iree/hal/vulkan/util/arena.cc
  iree/hal/vulkan/util/ref_ptr.h
  iree/vm/ref_cc.h
Labels: cla: yes, runtime

#4729 Rename ".module" to ".vmfb" in generated IREE bytecode modules.
  bindings/tflite/BUILD
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  iree/samples/emitc_modules/CMakeLists.txt
  iree/tools/compilation.bzl
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️, quality of life 😊

#4688 Enable lowering of Linalg on tensors on GPU.
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/LinalgRewriteDestructiveUpdatesPass.cpp
  iree/compiler/Conversion/Common/Passes.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Conversion/Common/test/linalg_rewrite_destructive_updates.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/linalg_bufferize.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MaterializeEntryPointsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/test/batch_matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_fused_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/pipeline_test_cooperative_mat.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/IR/BUILD
  iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/test/e2e/linalg_tensor_ops/BUILD
  iree/test/e2e/linalg_tensor_ops/CMakeLists.txt
  iree/test/e2e/linalg_tensor_ops/add.mlir
  iree/test/e2e/linalg_tensor_ops/matmul.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/tools/init_passes.h
Labels: cla: yes

#4738 Retain the backing device with python mapped array memory.
  bindings/python/pyiree/rt/function_abi.cc
  bindings/python/pyiree/rt/host_types.cc
  bindings/python/pyiree/rt/host_types.h
Labels: cla: yes

#4742 Remove unneeded ref_ptr dep.
  iree/hal/BUILD
  iree/hal/CMakeLists.txt
Labels: cla: yes

#4724 Unify patterns in the vm to emitc conversion
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/compare.mlir
Labels: cla: yes

#4746 Fix include of EmitC generated headers
  iree/samples/emitc_modules/add_module_test.cc
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#4747 Add missing dependency for emitc shift test
  iree/vm/test/emitc/CMakeLists.txt
Labels: cla: yes

#4743 Reordering/simplifying some HAL APIs.
  bindings/python/pyiree/rt/function_abi.cc
  bindings/python/pyiree/rt/hal.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/InjectDispatchTracing.cpp
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/inject_dispatch_tracing.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertTensorOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/Transforms/PublicAbiGeneration.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Dialect/HAL/Utils/TypeUtils.cpp
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/compiler/Dialect/Modules/TensorList/Conversion/test/convert_to_hal.mlir
  iree/hal/buffer_view.c
  iree/hal/buffer_view.cc
  iree/hal/buffer_view.h
  iree/hal/command_buffer.c
  iree/hal/command_buffer.h
  iree/hal/command_buffer_validation.c
  iree/hal/cts/executable_layout_test.cc
  iree/hal/device.h
  iree/hal/executable_layout.c
  iree/hal/executable_layout.h
  iree/hal/local/local_executable_layout.c
  iree/hal/local/local_executable_layout.h
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_device.c
  iree/hal/string_util_test.cc
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/native_executable_layout.cc
  iree/hal/vulkan/native_executable_layout.h
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/check/check_test.cc
  iree/modules/hal/hal_module.cc
  iree/modules/strings/strings_module_test.cc
  iree/modules/tensorlist/native_module.cc
  iree/modules/tensorlist/tensorlist_test.cc
  iree/samples/custom_modules/dialect/test/conversion.mlir
  iree/samples/vulkan/vulkan_inference_gui.cc
Labels: cla: yes, hal/api, performance ⚡, runtime/vm

#4745 Fixes to enable executing matmul on GPU.
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.cpp
  iree/compiler/Conversion/CodegenUtils/MarkerUtils.h
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/CodeGenOptionUtils.h
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/init_conversions.h
  iree/test/e2e/linalg_tensor_ops/BUILD
  iree/test/e2e/linalg_tensor_ops/CMakeLists.txt
Labels: cla: yes

#4751 Force CPU benchmark to run on single thread.
  build_tools/mako/benchmark_modules_on_android.sh
Labels: cla: yes

#4754 Fixed iree tflite import to include required dialects.
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
Labels: cla: yes, integrations/tensorflow

#4756 Rematerialize DispatchWorkgroupsOp constant arguments
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/RematerializeDispatchConstants.cpp
  iree/compiler/Dialect/Flow/Transforms/test/rematerialize_dispatch_constants.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4760 Removing deprecated runtime HAL exports and canonicalizing away others.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/tensor_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferViewOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/test/public_abi_generation.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/compiler/Dialect/Modules/TensorList/Conversion/test/convert_to_hal.mlir
  iree/modules/hal/hal_module.cc
Labels: cla: yes, compiler, hal/api

#4763 Convert mhlo.const -> const when running ConvertHLOToLinalgOnTensorsPass
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4769 Drop lowering for tensor::GenerateOp.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
Labels: cla: yes

#4770 Use stack allocation on CPU side for Linalg on tensors path.
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
Labels: cla: yes

#4776 Add CUDA SDK headers to third_party
  third_party/cuda_headers/LICENSE
  third_party/cuda_headers/README.txt
  third_party/cuda_headers/UPDATING.md
  third_party/cuda_headers/cuda.h
  third_party/cuda_headers/version.txt
Labels: cla: yes

#4772 Add logic for better ordering of fusion.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/dot.mlir
Labels: cla: yes

#4758 [codegen] Enable vectorizing convolution with output height != 1
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
Labels: cla: yes

#4775 [CodeGen] Pack scf.for vector<8xf16> loop-carried values
  iree/compiler/Conversion/CodegenUtils/ForOpCanonicalization.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/forop_canonicalization.mlir
Labels: cla: yes

#4779 Enable passing e2e/xla_ops linalg-on-tensors tests
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4788 Disabling failing reverse linalg-on-tensors test.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4784 Adapt dispatch region creation to always clone metadata-like/simple operations
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
Labels: cla: yes

#4792 Bump CMake minimum to 3.13.4 and remove dead code
  CMakeLists.txt
Labels: cla: yes

#4797 Move dispatch region creation for Linalg on tensors after all HLO passes.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes

#4711 Make IREE TF integrations use TF toolchains
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
Labels: cla: yes

#4804 Python error messages print the full IREE status if available.
  bindings/python/pyiree/rt/status_utils.cc
Labels: cla: yes

#4805 Propagate vm.module counts through an attribute
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
Labels: cla: yes

#4793 Add EmitC support for comparison ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/compare.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
Labels: cla: yes, compiler, runtime/vm

#4774 Add EmitC support for conversion ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/conversion_ops.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes, runtime/vm

#4762 Grab Android platform level from toolchain vars. Document Mako level.
  build_tools/cmake/iree_check_test.cmake
  build_tools/mako/compile_android_modules.sh
Labels: cla: yes

#4753 Check cwd for Unix linker tools before path.
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
Labels: cla: yes, codegen/llvm

#4811 Merge main -> google
  bindings/python/pyiree/rt/status_utils.cc
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/compare.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/conversion_ops.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#4780 [CodeGen] Allow vectorizing conv with input channel < 4
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToSPIRVPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_spirv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/memref_vecrotization.mlir
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
Labels: cla: yes

#4813 Add EmitC support for VM SelectI32Op
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/assignment_ops.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes, compiler, runtime/vm

#4816 Unify and move common dispatch op macros
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_util.h
Labels: cla: yes

#4814 Extend i64 integer arithmetic vm tests
  iree/vm/test/arithmetic_ops_i64.mlir
Labels: cla: yes

#4790 Abstracting out LLVM HAL ABI use to HALDispatchABI utility.
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_constants.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_workgroup_info.mlir
Labels: cla: yes, codegen/llvm, compiler

#4791 Wiring up new executable library ABI to LLVM codegen.
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/convert_to_llvm.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_constants.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_workgroup_info.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/plan_conv_loop_order.mlir
  iree/hal/local/executable_library.h
  iree/hal/local/loaders/legacy_library_loader.cc
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmla_module_loader.cc
  iree/hal/local/local_executable.c
  iree/hal/local/local_executable.h
  iree/hal/local/task_command_buffer.c
Labels: cla: yes, codegen/llvm, compiler, hal/cpu

#4801 Porting iree/base/internal/file_path.h to C.
  iree/base/api.c
  iree/base/api.h
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/file_io_posix.cc
  iree/base/internal/file_io_test.cc
  iree/base/internal/file_io_win32.cc
  iree/base/internal/file_path.c
  iree/base/internal/file_path.cc
  iree/base/internal/file_path.h
  iree/base/internal/file_path_test.cc
  iree/hal/local/loaders/legacy_library_loader.cc
Labels: cla: yes, runtime

#4765 Changing descriptor ops to use index instead of int32 and SSA values.
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/ConvertStreamOps.cpp
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/HALTypes.h
  iree/compiler/Dialect/HAL/IR/test/command_buffer_folding.mlir
  iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/modules/hal/hal_module.cc
Labels: cla: yes, compiler

#4771 Swapping `[]` -> `CD` and `.` -> `_` in the VM calling convention.
  bindings/python/pyiree/rt/function_abi.cc
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/CallingConventionUtils.cpp
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_module_benchmark.cc
  iree/vm/invocation.c
  iree/vm/module.c
  iree/vm/module.h
  iree/vm/module_abi_packing.h
  iree/vm/native_module_test.h
  iree/vm/shims.h
Labels: cla: yes, compiler, runtime, runtime/vm

#4767 Replacing the HAL module with a C implementation.
  bindings/python/pyiree/rt/function_abi.cc
  bindings/python/pyiree/rt/vm.cc
  build_tools/cmake/iree_copts.cmake
  iree/base/api.c
  iree/base/api.h
  iree/base/attributes.h
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/modules/hal/BUILD
  iree/modules/hal/CMakeLists.txt
  iree/modules/hal/exports.inl
  iree/modules/hal/hal_module.c
  iree/modules/hal/hal_module.cc
  iree/modules/hal/shims.c
  iree/modules/hal/shims.h
  iree/tools/utils/vm_util.cc
  iree/vm/builtin_types.h
  iree/vm/bytecode_dispatch.c
  iree/vm/list.c
  iree/vm/list_test.cc
  iree/vm/native_module.c
  iree/vm/native_module.h
  iree/vm/ref.c
  iree/vm/ref.h
  iree/vm/ref_test.cc
  iree/vm/value.h
Labels: cla: yes, performance ⚡, runtime

#4676 Added address sanitization feature for translating ML models to LLVM modules
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/hal/local/loaders/legacy_library_loader.cc
  iree/schemas/dylib_executable_def.fbs
Labels: cla: yes

#4822 Fixing build breakage from #4676.
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/legacy_library_loader.cc
Labels: bug 🐞, cla: yes

#4820 Re-add dropped printIncludes
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#4828 Populate dynamic shaped memref descriptor offset value
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
Labels: cla: yes

#4829 Fix typo in benchmarking doc
  docs/developing_iree/benchmarking.md
Labels: cla: yes, documentation ✏️

#4842 Revert "Make IREE TF integrations use TF toolchains"
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
Labels: cla: yes

#4844 Fixed tflite import tools dialect registration
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
Labels: cla: yes

#4845 Merge main -> google
  docs/developing_iree/benchmarking.md
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  iree/compiler/Conversion/LinalgToLLVM/ConvertToLLVM.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/hal_interface_bindings.mlir
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
Labels: cla: yes

#4849 Add pass manager CL options to iree-import-tflite.
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
Labels: cla: yes

#4806 Adapt mhlo.pad lowering to Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/pad.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pad_tensor.mlir
  iree/test/e2e/xla_ops/pad.mlir
Labels: cla: yes

#4855 Refactor EmitC shared ops and conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/vm/ops.h
Labels: cla: yes

#4856 Add further i64 VM tests
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/assignment_ops_i64.mlir
  iree/vm/test/conversion_ops_i64.mlir
  iree/vm/test/shift_ops_i64.mlir
Labels: cla: yes

#4823 Add helper to allow dynamic loading of CUDA driver library.
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/cuda_headers/BUILD.overlay
  build_tools/third_party/cuda_headers/CMakeLists.txt
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_headers.h
  iree/hal/cuda/dynamic_symbols.cc
  iree/hal/cuda/dynamic_symbols.h
  iree/hal/cuda/dynamic_symbols_tables.h
  iree/hal/cuda/dynamic_symbols_test.cc
Labels: cla: yes

#4858 Making iree_vm_list_resize work and switching ref cconv behavior
  iree/base/CMakeLists.txt
  iree/hal/local/arena.c
  iree/modules/hal/hal_module.c
  iree/tools/iree-benchmark-module-main.cc
  iree/vm/bytecode_dispatch.c
  iree/vm/list.c
  iree/vm/list_test.cc
  iree/vm/module.h
  iree/vm/module_abi_packing.h
  iree/vm/type_def.h
Labels: bug 🐞, cla: yes, runtime/vm

#4862 Disable benchmark on phone with ADB auth issues
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#4864 Fix ExtI64 casting and conversions ops
  iree/vm/bytecode_dispatch.c
Labels: cla: yes

#4866 Add test for EmitC calling convention.
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
Labels: cla: yes

#4863 Extend i64 VM/EmitC support
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops_i64.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_util.h
  iree/vm/ops.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#4794 [CodeGen] Add logic to tile and vectorize depthwise convolution
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
Labels: cla: yes

#4859 [doc] Fix unrecognized tests in HLO op coverage generation
  scripts/update_op_coverage.py
Labels: cla: yes

#4868 [buildkite] Disable lost Pixel 4
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: cla: yes

#4799 [CodeGen] Convert depthwise mhlo.convolution to Linalg counterpart
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
Labels: cla: yes

#4870 Merge main -> google
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/third_party/cuda_headers/BUILD.overlay
  build_tools/third_party/cuda_headers/CMakeLists.txt
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  iree/base/CMakeLists.txt
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/pad.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pad_tensor.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops_i64.mlir
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/hal/cuda/BUILD.bazel
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_headers.h
  iree/hal/cuda/dynamic_symbols.cc
  iree/hal/cuda/dynamic_symbols.h
  iree/hal/cuda/dynamic_symbols_tables.h
  iree/hal/cuda/dynamic_symbols_test.cc
  iree/hal/local/arena.c
  iree/modules/hal/hal_module.c
  iree/test/e2e/xla_ops/pad.mlir
  iree/tools/iree-benchmark-module-main.cc
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_util.h
  iree/vm/list.c
  iree/vm/list_test.cc
  iree/vm/module.h
  iree/vm/module_abi_packing.h
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/assignment_ops_i64.mlir
  iree/vm/test/conversion_ops_i64.mlir
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/shift_ops_i64.mlir
  iree/vm/type_def.h
Labels: cla: yes

#4796 [CodeGen] Create a dedicated pass for 1x1 mhlo.conv to mhlo.dot
  iree/compiler/Conversion/HLOToHLO/BUILD
  iree/compiler/Conversion/HLOToHLO/CMakeLists.txt
  iree/compiler/Conversion/HLOToHLO/Convert1x1ConvToDot.cpp
  iree/compiler/Conversion/HLOToHLO/Passes.h
  iree/compiler/Conversion/HLOToHLO/test/conv1x12dot.mlir
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
  iree/compiler/Dialect/VMLA/Transforms/BUILD
  iree/compiler/Dialect/VMLA/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VMLA/Transforms/Passes.cpp
Labels: cla: yes

#4875 Remove unused pattern that lowers dot_general to Linalg on buffers.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/dot_general.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
Labels: cla: yes

#4851 Implement custom attribute type for vm ordinal counts
  iree/compiler/Dialect/VM/IR/BUILD
  iree/compiler/Dialect/VM/IR/CMakeLists.txt
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/IR/VMDialect.h
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/VMTypes.cpp
  iree/compiler/Dialect/VM/IR/VMTypes.h
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  iree/compiler/Dialect/VM/Transforms/test/ordinal_allocation.mlir
Labels: cla: yes

#4748 Adapt mhlo.conv to Linalg on buffers patterns to be on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/test/e2e/llvm_specific/conv.mlir
  iree/test/e2e/vulkan_specific/conv.mlir
  iree/test/e2e/xla_ops/convolution.mlir
Labels: cla: yes

#4880 Revert "Disable benchmark on phone with ADB auth issues"
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
Labels: cla: yes

#4886 Further extend i64 VM/EmitC support
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_i64.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
Labels: cla: yes

#4885 Merge main -> google
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  iree/compiler/Conversion/HLOToHLO/BUILD
  iree/compiler/Conversion/HLOToHLO/CMakeLists.txt
  iree/compiler/Conversion/HLOToHLO/Convert1x1ConvToDot.cpp
  iree/compiler/Conversion/HLOToHLO/Passes.h
  iree/compiler/Conversion/HLOToHLO/test/conv1x12dot.mlir
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/dot_general.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Dialect/Flow/Transforms/HLOToHLOPreprocessing.cpp
  iree/compiler/Dialect/Flow/Transforms/test/hlo_to_hlo_preprocessing.mlir
  iree/compiler/Dialect/VM/IR/BUILD
  iree/compiler/Dialect/VM/IR/CMakeLists.txt
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMDialect.cpp
  iree/compiler/Dialect/VM/IR/VMDialect.h
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/VMTypes.cpp
  iree/compiler/Dialect/VM/IR/VMTypes.h
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  iree/compiler/Dialect/VM/Transforms/test/ordinal_allocation.mlir
  iree/compiler/Dialect/VMLA/Transforms/BUILD
  iree/compiler/Dialect/VMLA/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VMLA/Transforms/Passes.cpp
  iree/test/e2e/llvm_specific/conv.mlir
  iree/test/e2e/vulkan_specific/conv.mlir
  iree/test/e2e/xla_ops/convolution.mlir
  scripts/update_op_coverage.py
Labels: cla: yes

#4889 Avoid unnecessary intermediate memory allocation by preprocessing linalg operations.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/Transforms.h
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4891 Make operations like linalg.tensor_reshape and linalg.fill always fuse with its consumers.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_dynamic.mlir
  iree/test/e2e/models/fullyconnected.mlir
Labels: cla: yes

#4877 [GPU] Improve MobileNet v2 performance on Mali G77
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/Common/VectorTransferOptimization.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/linalg_tensor_to_buffer.mlir
  iree/compiler/Conversion/LinalgToSPIRV/KernelDispatchUtils.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/VectorizeMemref.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToVector/VectorizeConv.cpp
  iree/compiler/Conversion/LinalgToVector/test/vectorize_linalg_conv.mlir
Labels: cla: yes

#4893 Enable all tests that run on CPU with Linalg on tensors path with GPU as well.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/test/e2e/models/fullyconnected.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4764 Make Bazel to CMake a bit quieter and safer
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/CMakeLists.txt
  iree/compiler/Dialect/IREE/Tools/CMakeLists.txt
  iree/compiler/Dialect/VM/Tools/CMakeLists.txt
Labels: cla: yes, infrastructure/cmake, quality of life 😊

#4850 Allow '-' in OutputFormat enum parsing
  bindings/python/pyiree/compiler2/core.py
Labels: bindings/python, cla: yes

#4900 Remove usage of functions that compute number of workgroups.
  iree/compiler/Conversion/CodegenUtils/BUILD
  iree/compiler/Conversion/CodegenUtils/CMakeLists.txt
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.cpp
  iree/compiler/Conversion/CodegenUtils/FunctionUtils.h
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.cpp
  iree/compiler/Conversion/CodegenUtils/GetNumWorkgroups.h
  iree/compiler/Conversion/Common/Attributes.h
  iree/compiler/Conversion/Common/BUILD
  iree/compiler/Conversion/Common/CMakeLists.txt
  iree/compiler/Conversion/Common/DeclareNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/Common/LegalizeNumWorkgroupsFnPass.cpp
  iree/compiler/Conversion/Common/Passes.h
  iree/compiler/Conversion/Common/Transforms.cpp
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributeOnTensorsPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndDistributePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/MaterializeCPULaunchConfigurationPass.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.cpp
  iree/compiler/Conversion/LinalgToLLVM/Passes.h
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute.mlir
  iree/compiler/Conversion/LinalgToLLVM/test/tile_and_distribute_on_tensors.mlir
  iree/compiler/Conversion/LinalgToSPIRV/BUILD
  iree/compiler/Conversion/LinalgToSPIRV/CMakeLists.txt
  iree/compiler/Conversion/LinalgToSPIRV/ConvertToGPUPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/FoldGPUProcessorIDUses.cpp
  iree/compiler/Conversion/LinalgToSPIRV/LinalgTileAndFusePass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/MaterializeEntryPointsPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.cpp
  iree/compiler/Conversion/LinalgToSPIRV/Passes.h
  iree/compiler/Conversion/LinalgToSPIRV/SplitDispatchFunctionPass.cpp
  iree/compiler/Conversion/LinalgToSPIRV/test/convert_to_gpu.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/fold-gpu-procid-uses.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/linalg_tile_and_fuse.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/split_dispatch_function.mlir
  iree/compiler/Conversion/LinalgToSPIRV/test/workgroup_memory_promotion.mlir
  iree/compiler/Conversion/init_conversions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/SPIRVCommon/SPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/test/e2e/regression/dynamic_add.mlir
Labels: cla: yes

#4904 Omit creation of args attribute when not necessary in emitc conversion
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_i64.mlir
Labels: cla: yes

#4907 Explicitly mark VM dialect illegal
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: cla: yes

#4894 Add an optional promot workgroup memory to stack memory step.
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
Labels: cla: yes

#4911 Fix the initialization issue in pooling ops.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/test/reduce_window.mlir
  iree/test/e2e/xla_ops/reduce_window.mlir
Labels: cla: yes

#4871 Add CUDA flat buffer definition.
  iree/schemas/BUILD
  iree/schemas/CMakeLists.txt
  iree/schemas/cuda_executable_def.fbs
Labels: cla: yes

#4917 Make bazel_to_cmake quieter by default
  .github/workflows/lint.yml
  build_tools/bazel_to_cmake/bazel_to_cmake.py
Labels: cla: yes

#4916 Disable clang-format in template type list
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
Labels: cla: yes

#4795 Add support for global.i32 ops in the c module target
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/test/add.mlir
  iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
  iree/vm/bytecode_dispatch.c
  iree/vm/ops.h
  iree/vm/test/BUILD
  iree/vm/test/CMakeLists.txt
  iree/vm/test/emitc/CMakeLists.txt
  iree/vm/test/emitc/module_test.cc
  iree/vm/test/global_ops.mlir
Labels: cla: yes, runtime/vm

#4914 Add tosa testing for Mul, Negate, Rsqrt, Select, Clamp and ReluN
  iree/test/e2e/tosa_ops/clamp.mlir
  iree/test/e2e/tosa_ops/mul.mlir
  iree/test/e2e/tosa_ops/negate.mlir
  iree/test/e2e/tosa_ops/reluN.mlir
  iree/test/e2e/tosa_ops/rsqrt.mlir
  iree/test/e2e/tosa_ops/select.mlir
Labels: cla: yes

#4874 CUDA HAL backend step 1
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/descriptor_set_layout_test.cc
  iree/hal/cts/event_test.cc
  iree/hal/cts/executable_layout_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/cts/semaphore_test.cc
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/api.h
  iree/hal/cuda/context_wrapper.h
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_allocator.h
  iree/hal/cuda/cuda_buffer.c
  iree/hal/cuda/cuda_buffer.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/cuda_device.h
  iree/hal/cuda/cuda_driver.c
  iree/hal/cuda/dynamic_symbols.cc
  iree/hal/cuda/dynamic_symbols.h
  iree/hal/cuda/dynamic_symbols_tables.h
  iree/hal/cuda/dynamic_symbols_test.cc
  iree/hal/cuda/registration/BUILD
  iree/hal/cuda/registration/CMakeLists.txt
  iree/hal/cuda/registration/driver_module.c
  iree/hal/cuda/registration/driver_module.h
  iree/hal/cuda/status_util.c
  iree/hal/cuda/status_util.h
  iree/hal/drivers/CMakeLists.txt
  iree/hal/drivers/init.c
Labels: cla: yes

#4921 Fix TF llvm commit path in update_to_llvm_syncpoint.py
  scripts/git/update_to_llvm_syncpoint.py
Labels: cla: yes

#4926 Make Cuda status comment correct
  iree/hal/cuda/status_util.h
Labels: cla: yes

#4928 Extend bazel_to_cmake to preserve specially marked CMakeLists.txt sec…
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
Labels: cla: yes

#4929 Tighten up the GCC fix to just disable devirtualization.
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
Labels: cla: yes

#4930 Use iree_cmake_extra_content to set compiler flags
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
Labels: cla: yes

#4931 Remove skip_bazel_to_cmake marker file support.
  bindings/python/pyiree/compiler2/.skip_bazel_to_cmake
  bindings/python/pyiree/jax/.skip_bazel_to_cmake
  bindings/python/pyiree/rt/.skip_bazel_to_cmake
  bindings/python/pyiree/tools/core/.skip_bazel_to_cmake
  bindings/python/tests/.skip_bazel_to_cmake
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  integrations/tensorflow/bindings/python/pyiree/tools/tf/.skip_bazel_to_cmake
Labels: cla: yes

#4935 Add LLVM codegen support for integer matmuls
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
Labels: cla: yes

#4938 Delete the pattern that lowers mhlo.slice to Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
Labels: cla: yes

#4941 Adapt linalg.depthwise_conv lowering to Linalg on tensors
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
Labels: cla: yes

#4942 Merge main -> google
  bindings/python/pyiree/compiler2/.skip_bazel_to_cmake
  bindings/python/pyiree/jax/.skip_bazel_to_cmake
  bindings/python/pyiree/rt/.skip_bazel_to_cmake
  bindings/python/pyiree/tools/core/.skip_bazel_to_cmake
  bindings/python/tests/.skip_bazel_to_cmake
  build_tools/bazel_to_cmake/bazel_to_cmake.py
  integrations/tensorflow/bindings/python/pyiree/tools/tf/.skip_bazel_to_cmake
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnBuffers.cpp
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/depthwise_conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/slice.mlir
  iree/compiler/Conversion/LinalgToLLVM/BUILD
  iree/compiler/Conversion/LinalgToLLVM/CMakeLists.txt
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.cpp
  iree/compiler/Conversion/LinalgToLLVM/KernelDispatch.h
  iree/compiler/Conversion/LinalgToLLVM/LinalgTileAndVectorizePass.cpp
  iree/compiler/Conversion/LinalgToLLVM/test/matmul_vectorization.mlir
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
Labels: cla: yes

#4946 Fix multi-threading issue when registering LLVMDialect translation
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: cla: yes

#4947 Delete upstreamed patterns in Linalg on tensors.
  iree/compiler/Conversion/HLOToLinalg/HLOToLinalgOnTensors.cpp
  iree/compiler/Conversion/HLOToLinalg/test/conv.mlir
  iree/compiler/Conversion/HLOToLinalg/test/pad.mlir
Labels: cla: yes

#4948 Update Android cmake doc for host config options.
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes

#4719 Forking UnixLinkerTool into AndroidLinkerTool.
  build_tools/cmake/iree_check_test.cmake
  build_tools/mako/compile_android_modules.sh
  iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/internal/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/internal/LinkerTools.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  iree/tools/iree-check-module-main.cc
Labels: cla: yes, codegen/llvm, platform/android

#4950 Update docs following LLVM AOT linker cleanup.
  bindings/python/pyiree/jax/README.md
  docs/get_started/getting_started_linux_cmake.md
  docs/get_started/getting_started_riscv_cmake.md
Labels: cla: yes, documentation ✏️

#4951 [bazel_to_cmake] Distinguish noop from success
  build_tools/bazel_to_cmake/bazel_to_cmake.py
Labels: cla: yes

#4940 Update RISC-V readme.
  docs/get_started/getting_started_riscv_cmake.md
Labels: cla: yes

#4957 Fix typo in android doc
  docs/get_started/getting_started_android_cmake.md
Labels: cla: yes

#4836 Use separate Bazel invocation for TF integration binaries
  .bazelrc
  .github/workflows/build_package.yml
  CMakeLists.txt
  bindings/python/README.md
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/configure_bazel.cmake
  build_tools/github_actions/build_dist.py
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  configure_bazel.py
  docs/get_started/cmake_options_and_variables.md
  docs/get_started/getting_started_python.md
  docs/get_started/getting_started_tensorflow.md
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/CMakeLists.txt
  integrations/tensorflow/bindings/python/pyiree/tools/tf/CMakeLists.txt
  integrations/tensorflow/bindings/python/pyiree/tools/tflite/CMakeLists.txt
  integrations/tensorflow/bindings/python/pyiree/tools/xla/CMakeLists.txt
  integrations/tensorflow/build_tools/bazel/iree-tf.bazelrc
  integrations/tensorflow/iree_tf_compiler/BUILD
  scripts/prepare_doc_publication.py
Labels: cla: yes

#4952 Add missing deps
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: cla: yes

#4927 Support mhlo.slice operation on Linalg on tensors path.
  iree/compiler/Conversion/Common/LinalgBufferizePass.cpp
  iree/compiler/Conversion/Common/test/linalg_bufferize.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#4962 Do more exotic compiler selection and pinning in configure_bazel.py.
  .github/workflows/build_package.yml
  build_tools/github_actions/build_dist.py
  configure_bazel.py
Labels: cla: yes
