Repository iree-org/iree, pull requests merged in 2021-09, with the labels that each got.

#6932 [snapshot release] Fix push command for the latest-snapshot branch
  .github/workflows/validate_and_publish_release.yml
Labels: cla: yes

#6935 Update mnist_training with new APIs and current performance
  colab/mnist_training.ipynb
Labels: cla: yes, integrations/tensorflow, integrations/colab

#6937 NFC: Remove crufty insertion point search.
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
Labels: cla: yes, buildkite:benchmark

#6939 Merge main -> google
  .github/workflows/validate_and_publish_release.yml
  colab/mnist_training.ipynb
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/hal/buffer.c
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/static_library_demo_test.txt
Labels: cla: yes

#6696 Update canonical build from source docs to reflect actual usage.
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/building-from-source/riscv.md
Labels: documentation ✏️, cla: yes

#6938 Add README to benchmarks/.
  benchmarks/README.md
Labels: documentation ✏️, cla: yes, infrastructure/benchmarking

#6917 Plumb dynamic shape support through for Vulkan and VMVX
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/ShapeToLLVMConversion.cpp
  iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/SPIRV/test/distribute_to_global_id.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/Transforms/BUILD
  iree/compiler/Dialect/Shape/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Shape/Transforms/FoldDimOverShapeCarryingOpPass.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Shape/Transforms/test/BUILD
  iree/compiler/Dialect/Shape/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Shape/Transforms/test/fold_dim_over_shape_carrying_op.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_compare_and_select.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
  iree/test/e2e/regression/dynamic_dot_general.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
  iree/test/e2e/regression/dynamic_reduce_min.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/regression/tensor_cast.mlir
Labels: cla: yes, codegen/spirv, codegen/vmvx

#6949 Merge main -> google
  benchmarks/README.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/optional-features.md
  docs/website/docs/building-from-source/riscv.md
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/ShapeToLLVMConversion.cpp
  iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/ConvertToNVVM.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/SPIRV/test/distribute_to_global_id.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
  iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/Transforms/BUILD
  iree/compiler/Dialect/Shape/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Shape/Transforms/FoldDimOverShapeCarryingOpPass.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Shape/Transforms/test/BUILD
  iree/compiler/Dialect/Shape/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Shape/Transforms/test/fold_dim_over_shape_carrying_op.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_compare_and_select.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
  iree/test/e2e/regression/dynamic_dot_general.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  iree/test/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
  iree/test/e2e/regression/dynamic_reduce_min.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/regression/tensor_cast.mlir
Labels: cla: yes

#6945 [snapshot] Fix checkout fetch depth to update the latest-snapshot branch
  .github/workflows/validate_and_publish_release.yml
Labels: cla: yes, infrastructure 🛠️

#6953 Cleanup string print format for `iree_device_size_t`
  build_tools/cmake/riscv.toolchain.cmake
  iree/hal/buffer.c
  iree/hal/buffer_view.c
  iree/hal/command_buffer_validation.c
  iree/modules/hal/module.c
Labels: cla: yes, cleanup 🧹

#6954 Fix iree_hal_allocator memory statistics format
  iree/hal/allocator.c
Labels: cla: yes

#6952 Track Adreno GPU performance for TFLite/TOSA models
  benchmarks/TFLite/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#6946 Fix typos in docs
  bindings/python/iree/compiler/README.md
  bindings/python/tests/README.md
  colab/README.md
  docs/developers/design_docs/hal_driver_features.md
  docs/developers/get_started/generic_vulkan_env_setup.md
  iree/samples/simple_embedding/README.md
  iree/tools/android/run_module_app/README.md
Labels: documentation ✏️, cla: yes

#6943 Don't run unnecessary workflows in people's forks
  .github/workflows/copybara_fixup.yml
  .github/workflows/publish_website.yml
  .github/workflows/schedule_snapshot_release.yml
Labels: cla: yes, infrastructure 🛠️

#6961 Add missing includes triggering substitution failure on gcc.
  iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
Labels: cla: yes

#6515 Correct typos in LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
Labels: cla: yes

#6962 Fix check tests being disabled when cross compiling.
  build_tools/cmake/iree_check_test.cmake
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#6966 Enable tests that are passing on Vulkan right now
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6978 Health and welfare on the iree_pydm dialect.
  iree/tools/init_iree_dialects.h
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Base.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Interfaces.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Interfaces.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/Dialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/IREEPyDMDialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/IREEPyDMOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/IR/Ops.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-external-projects/iree-dialects/python/mlir/dialects/IreePyDmBinding.td
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/importer.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/booleans.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/boxing.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/exceptions.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/canonicalize/numerics.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/ops_types_parse.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/assignment.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/binary.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/booleans.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/comparison.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/constants.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/flow_control.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/function_def.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/intrinsics.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/structural.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: cla: yes

#6980 Fix wrong `MOBILENETSSD_FP32_MODULE` and sort TFLite benchmarks
  benchmarks/TFLite/CMakeLists.txt
Labels: cla: yes, buildkite:benchmark

#6977 Integrate upstream cpp emitter changes
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  third_party/mlir-emitc/include/emitc/Target/Cpp/CppEmitter.h
  third_party/mlir-emitc/lib/Target/Cpp/TranslateToCpp.cpp
Labels: cla: yes

#6964 Use cleaner symbol visibility syntax for flow types.
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/executable_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
  iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
  iree/compiler/Dialect/Flow/Transforms/test/transformation.mlir
Labels: cla: yes, compiler, cleanup 🧹

#6971 Add support to capture Tracy traces when benchmarking
  build_tools/android/run_benchmarks.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/build_android_benchmark.sh
Labels: cla: yes, infrastructure/benchmark, buildkite:benchmark

#6968 Use cleaner symbol visibility syntax for hal types.
  docs/developers/design_docs/codegen_passes.md
  iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/matmul_vectorization.mlir
  iree/compiler/Codegen/LLVMCPU/test/pad_workgroup_tiles.mlir
  iree/compiler/Codegen/LLVMCPU/test/tile_pad_and_vectorize.mlir
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/distribute_wg_copy.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/remove_loops.mlir
  iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  iree/compiler/Codegen/SPIRV/test/distribute_to_global_id.mlir
  iree/compiler/Codegen/SPIRV/test/fold_gpu_procid_uses.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_matrix.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Codegen/SPIRV/test/remove_one_trip_tiled_loop.mlir
  iree/compiler/Codegen/SPIRV/test/set_lowering_config.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vector_to_cooperative_matrix.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  iree/compiler/Dialect/HAL/Conversion/FlowToHAL/test/stream_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/constant_ops.mlir
  iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/ROCM/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/linking.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Transforms/PackConstantPoolStorage.cpp
  iree/compiler/Dialect/HAL/Transforms/test/identify_constant_pools.mlir
  iree/compiler/Dialect/HAL/Transforms/test/materialize_constant_pool_buffers.mlir
  iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  iree/compiler/Dialect/HAL/Transforms/test/pack_constant_pool_storage.mlir
  iree/compiler/Dialect/Modules/VMVX/Conversion/HALToVMVX/test/interface_ops.mlir
Labels: cla: yes, compiler, cleanup 🧹

#6957 [CUDA] Add support for dynamic shapes
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
  iree/test/e2e/cuda_specific/BUILD
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/cuda_specific/dynamic_add.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: cla: yes

#6981 [spirv] Add matmul CodeGen configuration for Adreno GPUs
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_adreno_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/config_linalg_ext_ops.mlir
Labels: cla: yes, buildkite:benchmark

#6989 Convert Dynamic shape tests to check_test
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
  iree/test/e2e/regression/dynamic_reduce_min.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
Labels: cla: yes

#6990 Enable regression test for cuda backend
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/test/e2e/cuda_specific/BUILD
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/cuda_specific/dynamic_add.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
Labels: cla: yes

#6967 Don't print main address
  bindings/python/iree/compiler/core.py
Labels: cla: yes

#6986 Adds basic validation to make sure linux releases are stable
  .github/workflows/build_package.yml
  .github/workflows/validate_and_publish_release.yml
Labels: cla: yes, infrastructure 🛠️, bindings/python

#6982 Extend function expansion passes to support calls
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/Transforms/FunctionSignatureExpansionPass.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_dynamic_dims.mlir
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_ranked_shape_dims.mlir
Labels: cla: yes

#6993 Add documentation for testing releases on your own fork
  docs/developers/debugging/releases.md
Labels: cla: yes

#6996 Adding mhlo.rng_uniform e2e tests.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/rng_uniform.mlir
Labels: cla: yes

#6998 Merge main -> google
  .github/workflows/build_package.yml
  .github/workflows/validate_and_publish_release.yml
  bindings/python/iree/compiler/core.py
  docs/developers/debugging/releases.md
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_adreno_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/config_linalg_ext_ops.mlir
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/Shape/Transforms/FunctionSignatureExpansionPass.cpp
  iree/compiler/Dialect/Shape/Transforms/Passes.h
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_dynamic_dims.mlir
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_ranked_shape_dims.mlir
  iree/hal/cuda/executable_layout.c
  iree/hal/cuda/executable_layout.h
  iree/hal/cuda/graph_command_buffer.c
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/dynamic_abs.mlir
  iree/test/e2e/regression/dynamic_add.mlir
  iree/test/e2e/regression/dynamic_dot.mlir
  iree/test/e2e/regression/dynamic_reduce_min.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_negative.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_scalar.mlir
  iree/test/e2e/regression/dynamic_torch_index_select_vector.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/rng_uniform.mlir
Labels: cla: yes

#6988 Add gpu dialect to the dependency of CUDA target
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
Labels: cla: yes

#7003 Delete unused variables in EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: cla: yes

#7005 [spirv] Add batch matmul CodeGen configuration for Adreno GPUs
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_adreno_matmul.mlir
Labels: cla: yes, codegen/spirv, buildkite:benchmark

#7001 [spirv] Add conv CodeGen configuration for Adreno GPUs
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
Labels: cla: yes, codegen/spirv, buildkite:benchmark

#6987 Extend linalg_ext lowering to handle signedness and more ops
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
Labels: cla: yes

#7008 Merge main -> google
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  iree/compiler/Codegen/SPIRV/test/config_adreno_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/BUILD
  iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/Vulkan/IR/BUILD
  iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
  llvm-external-projects/iree-compiler-api/.gitignore
Labels: cla: yes

#7012 Update riscv.md to add +d and vec length 256
  docs/website/docs/building-from-source/riscv.md
Labels: cla: yes

#6997 Correctly handle 1:1 conversions for calls in FunctionSignatureExpansionPass
  iree/compiler/Dialect/Shape/Transforms/FunctionSignatureExpansionPass.cpp
  iree/compiler/Dialect/Shape/Transforms/test/expand_function_ranked_shape_dims.mlir
Labels: cla: yes

#6999 function.py: Add support for mashaling list types on returns.
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
  docs/developers/design_docs/function_abi.md
Labels: cla: yes

#6994 [bindings/python] Correctly stringify iree_vm_variant_t
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm_test.py
Labels: cla: yes

#7004 Restore -Wunused to CMake build and add dev mode to disable
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_macros.cmake
  docs/developers/get_started/cmake_options_and_variables.md
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake, quality of life 😊

#7018 Explicitly note supported build configurations
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/optional-features.md
Labels: documentation ✏️, cla: yes, infrastructure 🛠️

#6947 Explain various fields in the benchmark identifier
  benchmarks/dashboard.md
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes

#7016 Introduce a noisy benchmark list to control threshold and comment
  build_tools/android/common/noisy_benchmarks.py
  build_tools/android/post_benchmarks_as_pr_comment.py
  build_tools/android/upload_benchmarks_to_dashboard.py
Labels: cla: yes, buildkite:benchmark

#7021 [spirv] Remove unnecessary `spv.target_env` attributes in tests
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  iree/compiler/Codegen/SPIRV/test/distribute_to_global_id.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vector_to_cooperative_matrix.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_copy_to_workgroup_memory.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: cla: yes

#7022 NFC: rename benchmark related directories/files/functions
  build_tools/benchmarks/common/__init__.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/noisy_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cla: yes, cleanup 🧹, infrastructure/benchmark, buildkite:benchmark

#7019 [docs] Use sections instead of admonitions
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/optional-features.md
Labels: documentation ✏️, cla: yes

#7006 Plumb through all `TiledOpInterface` ops.
  iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/LinalgExt/IR/BUILD
  iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  iree/compiler/Dialect/LinalgExt/IR/TiledOpInterface.h
  iree/compiler/Dialect/LinalgExt/Transforms/BUILD
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/Transforms.h
  iree/compiler/Dialect/Modules/VMVX/Transforms/BUILD
  iree/compiler/Dialect/Modules/VMVX/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/tensor_insert_slice.mlir
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_dialects.h
  iree/tools/init_iree_dialects.h
Labels: cla: yes, buildkite:benchmark

#7027 Fix initialization of string views
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
Labels: cla: yes

#7025 Fix conversion of vm.list.alloc to not crash on missing capacity.
  iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  iree/compiler/Dialect/VM/Conversion/UtilToVM/test/list_ops.mlir
Labels: cla: yes

#7013 Initial commit of PyDM to IREE lowering pipeline.
  llvm-external-projects/iree-dialects/docs/Dialect/IREEPyDM/LowerToIREE.md
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/Patterns.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.h
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/PassDetail.h
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/ConversionPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/LoweringPatterns.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/ToIREE/TypeConverter.cpp
  llvm-external-projects/iree-dialects/test/iree_pydm/to_iree/structural.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/to_iree/basic_structure.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: cla: yes

#7032 Integrate upstream cpp emitter change
  third_party/mlir-emitc/lib/Target/Cpp/TranslateToCpp.cpp
Labels: cla: yes

#7023 Change pass pipeline enum to use a StrEnumAttr.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  iree/compiler/Codegen/SPIRV/test/config_adreno_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/config_linalg_ext_ops.mlir
  iree/compiler/Codegen/SPIRV/test/config_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  iree/compiler/Codegen/SPIRV/test/remove_one_trip_tiled_loop.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  iree/compiler/Dialect/HAL/IR/LoweringConfig.cpp
  iree/compiler/Dialect/HAL/IR/LoweringConfig.h
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
Labels: cla: yes, buildkite:benchmark

#7031 Adjust PR comment benchmark similar threshold for noisy benchmarks
  build_tools/benchmarks/common/noisy_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: cla: yes, infrastructure/benchmark, buildkite:benchmark

#7035 Fix tensor.dim + flow.dispatch.tensor.load canonicalization
  iree/compiler/Codegen/LLVMCPU/test/tile_pad_and_vectorize.mlir
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_tensor_folding.mlir
Labels: cla: yes

#7043 base:status: Fix vsnprintf return data type
  iree/base/status.c
Labels: cla: yes

#7028 Check that negative constants are printed properly
  iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
Labels: cla: yes

#7054 Updating architecture diagram.
  README.md
  docs/website/docs/assets/images/iree_architecture.excalidraw.gz
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/index.md
Labels: documentation ✏️, cla: yes

#7055 Adding recording link to runtime talk.
  README.md
Labels: cla: yes

#7056 Fixing shading in architecture diagram.
  docs/website/docs/assets/images/iree_architecture.svg
Labels: cla: yes

#7053 Mmt4d: support arbitrary (M0,K0,N0) triplets and various cleanups.
  iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertLinalgMatmulToMmt4D.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/matmul_to_mmt4d.mlir
Labels: cla: yes

#7059 Fix README Bazel CI status link
  README.md
Labels: cla: yes

#7038 A pipeline for multi level tiling and vectorization of linalg ops on tensors
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/tile_and_vectorize.mlir
  iree/compiler/Codegen/LLVMCPU/test/tile_pad_and_vectorize.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/Flow/IR/test/dispatch_tensor_folding.mlir
  iree/compiler/Dialect/HAL/IR/LoweringConfig.td
Labels: cla: yes, buildkite:benchmark

#7060 hal:vulkan: Fix flatbuffers length check
  iree/hal/vulkan/native_executable.cc
Labels: cla: yes

#7065 Fix tile and vectorize lit test
  iree/compiler/Codegen/LLVMCPU/test/tile_and_vectorize.mlir
Labels: cla: yes

#7068 Enable embedded dylib test in Bazel
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/tools/compilation.bzl
Labels: cla: yes, infrastructure 🛠️, infrastructure/bazel

#7066 Removing the internal_functions table from the VM flatbuffer.
  bindings/python/iree/compiler/core.py
  bindings/python/tests/compiler_core_test.py
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.h
  iree/compiler/Dialect/VM/Target/Bytecode/TranslationFlags.cpp
  iree/compiler/Dialect/VM/Target/Bytecode/test/module_encoding_smoke.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/test/reflection_attrs.mlir
  iree/compiler/Translation/test/smoketest.mlir
  iree/schemas/bytecode_module_def.fbs
  iree/vm/bytecode_module.c
  iree/vm/stack.c
Labels: cla: yes, performance ⚡, runtime/vm

#7069 Change loop partition logic to consider all parallel dimensions
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes, buildkite:benchmark

#7044 samples:simple_embedding: Enable bazel dylib samples
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
Labels: cla: yes

#7067 Add tile and distribut support for linalg_ext.fft ops
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_linalg_ext_ops.mlir
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/Transforms/Tiling.cpp
  iree/compiler/Dialect/LinalgExt/Transforms/test/tiling.mlir
Labels: cla: yes

#7074 [doc] Remove references to flagfiles
  docs/developers/developing_iree/e2e_benchmarking.md
Labels: documentation ✏️, cla: yes, infrastructure/benchmark

#7061 base:internal:math: Fix f32 to f16 overflow/underflow
  iree/base/internal/math.h
  iree/base/internal/math_test.cc
Labels: cla: yes

#7058 Move peephole optimization at the top of the flow pipeline
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes, buildkite:benchmark

#7007 Add support for mhlo.rng_normal to IREE using Box–Muller transform.
  iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
  iree/compiler/InputConversion/MHLO/test/mhlo_to_mhlo_preprocessing.mlir
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
  iree/test/e2e/xla_ops/rng_normal.mlir
Labels: cla: yes

#7077 Support specifying absolute values as benchmark similarity threshold
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/common/noisy_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: cla: yes, infrastructure/benchmark, buildkite:benchmark

#7085 Fixing missing status tracking in static_library_demo.
  iree/samples/static_library/static_library_demo.c
Labels: bug 🐞, cla: yes

#7079 Remove hoisting on the tensor -> vectors pass.
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
Labels: cla: yes, buildkite:benchmark

#7071 Adjust default mmt4d tiling
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/test/microbenchmarks/linalg_mmt4d.mlir
Labels: cla: yes

#7087 [pydm] Add basics of runtime library integration.
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LowerToRTLPass.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/__init__.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/importer.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/intrinsic_def.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/test_util.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/__init__.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/modules/booleans.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/modules/constants.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/modules/macros.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/modules/numerics.py
  llvm-external-projects/iree-dialects/python/mlir/dialects/iree_pydm/rtl/rtl_builder.py
  llvm-external-projects/iree-dialects/test/iree_pydm/rtl/lower_to_rtl.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/intrinsics.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/structural.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/rtl_builder.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/to_iree/basic_structure.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
Labels: cla: yes

#7088 NFC: Align python namespaces of iree-dialects and iree-compiler-api.
  llvm-external-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/IreeBinding.td
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/IreePyDmBinding.td
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_pydm_ops_ext.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/builtins_intrinsics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/importer.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/intrinsic_def.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/private_intrinsics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/test_util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/booleans.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/constants.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/macros.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/numerics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/rtl_builder.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/assignment.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/binary.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/booleans.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/comparison.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/constants.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/flow_control.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/function_def.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/intrinsics.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/structural.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/rtl_builder.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/to_iree/basic_structure.py
  llvm-external-projects/iree-dialects/test/python/smoketest.py
Labels: cla: yes

#7102 Basic handling of multiple generic ops in dispatch regions on CPU path.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: cla: yes, buildkite:benchmark

#7101 Merge main -> google
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/common/noisy_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTilePadAndVectorize.cpp
  iree/compiler/Codegen/LLVMCPU/test/tile_pad_and_vectorize.mlir
  iree/samples/static_library/static_library_demo.c
  iree/test/microbenchmarks/linalg_mmt4d.mlir
  llvm-external-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Dialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LowerToRTLPass.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/IreeBinding.td
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/IreePyDmBinding.td
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/_iree_pydm_ops_ext.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/builtins_intrinsics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/importer.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/intrinsic_def.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/private_intrinsics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/test_util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/importer/util.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/__init__.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/booleans.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/constants.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/macros.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/modules/numerics.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/rtl_builder.py
  llvm-external-projects/iree-dialects/test/iree_pydm/rtl/lower_to_rtl.mlir
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/assignment.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/binary.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/booleans.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/comparison.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/constants.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/flow_control.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/function_def.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/intrinsics.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/importer/structural.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/rtl_builder.py
  llvm-external-projects/iree-dialects/test/python/iree_pydm/to_iree/basic_structure.py
  llvm-external-projects/iree-dialects/test/python/smoketest.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
Labels: cla: yes

#7089 [pydm] Add a basic RTL linker pass.
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.h
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/rtl_builder.py
  llvm-external-projects/iree-dialects/resources/CMakeLists.txt
  llvm-external-projects/iree-dialects/resources/PyDMRTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/test/CMakeLists.txt
  llvm-external-projects/iree-dialects/test/iree_pydm/rtl/link.mlir
  llvm-external-projects/iree-dialects/test/lit.cfg.py
Labels: cla: yes

#7114 Merge main -> google
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/IR/Ops.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.h
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkRTLPass.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/IREEPyDM/Transforms/RTL/LinkageAnalysis.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/base.py
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_pydm/rtl/rtl_builder.py
  llvm-external-projects/iree-dialects/resources/CMakeLists.txt
  llvm-external-projects/iree-dialects/resources/PyDMRTL/CMakeLists.txt
  llvm-external-projects/iree-dialects/test/CMakeLists.txt
  llvm-external-projects/iree-dialects/test/iree_pydm/rtl/link.mlir
  llvm-external-projects/iree-dialects/test/lit.cfg.py
Labels: cla: yes

#7082 [CUDA] Add support for config lowering coming from IR
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Labels: cla: yes

#7117 Update SwiftShader to 2021-09-21 @755b78dc
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/samples.yml
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
Labels: cla: yes, infrastructure 🛠️, codegen/spirv

#7120 Fix kwarg bug in iree.runtime.load_vm_flatbuffer
  bindings/python/iree/runtime/system_api.py
Labels: cla: yes, bindings/python

#7125 Only add bundled pybind11 if not already found.
  .gitignore
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  build_tools/cmake/iree_macros.cmake
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/build_tools/build_intree.sh
Labels: cla: yes

#7129 Disabling ref move in the VM.
  iree/vm/bytecode_dispatch_util.h
Labels: bug 🐞, cla: yes, runtime/vm

#7128 Plumb through an API to build PyDM->IREE pass pipelines.
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
Labels: cla: yes

#7119 [spirv] Re-enable module linking
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: cla: yes, codegen/spirv

#7130 [CUDA] Add cl option to disable nounroll workaround
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: cla: yes

#7121 Remove unused Pass to pad workgroup tiles.
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/LLVMCPUPadWorkgroupTiles.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/pad_workgroup_tiles.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Labels: cla: yes

#7124 Introduce reverse op to LinalgExt dialect.
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Labels: cla: yes

#7131 Merge main -> google
  .gitignore
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/iree/runtime/system_api.py
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/samples.yml
  build_tools/cmake/iree_macros.cmake
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/rbe-toolchain/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/vm/bytecode_dispatch_util.h
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/build_tools/build_intree.sh
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
Labels: cla: yes

#7137 [spirv] Fix matmul vectorization corner cases
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
Labels: codegen/spirv

#7103 Limit fusion to ops with single uses to avoid duplication
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: cla: yes

#7133 Handle fusion of any named ops with outs of root ops.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: cla: yes

#7147 Fixed Integrations CMake files to match bazel
  integrations/tensorflow/e2e/CMakeLists.txt
  integrations/tensorflow/e2e/keras/layers/CMakeLists.txt
Labels: cla: yes

#7146 Merge main -> google
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/LLVMCPUPadWorkgroupTiles.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/pad_workgroup_tiles.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
Labels: cla: yes

#7152 Use lld linker in CMake CI
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/iree_setup_toolchain.cmake
  build_tools/cmake/rebuild.sh
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-emscripten/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake-riscv/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: infrastructure 🛠️, infrastructure/cmake

#7126 Add gcc CI build
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/cmake/clean_build.sh
  build_tools/docker/cmake-gcc/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: cla: yes, infrastructure 🛠️, infrastructure/cmake

#7153 Include recursive package for core compiler tools.
  bindings/python/iree/compiler/setup.py.in
Labels: bindings/python

#7165 Refine fusion heuristic
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: buildkite:benchmark

#7168 Merge main -> google
  CMakeLists.txt
  bindings/python/iree/compiler/setup.py.in
  build_tools/bazel/iree.bazelrc
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/clean_build.sh
  build_tools/cmake/iree_setup_toolchain.cmake
  build_tools/cmake/rebuild.sh
  build_tools/docker/base/Dockerfile
  build_tools/docker/bazel/Dockerfile
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-emscripten/Dockerfile
  build_tools/docker/cmake-gcc/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake-riscv/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
  iree/compiler/Dialect/LinalgExt/IR/test/invalid.mlir
  iree/compiler/Dialect/LinalgExt/IR/test/roundtrip.mlir
  iree/compiler/Dialect/LinalgExt/Transforms/test/convert_to_loops.mlir
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/reverse.mlir
Labels: cla: yes

#7170 Fix CMakeLists to disable bert test
  iree/test/e2e/models/CMakeLists.txt
Labels: cla: yes

#7180 Bump cmake to 3.16.3.
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/cmake-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-android/Dockerfile
  build_tools/docker/cmake-bazel-frontends-nvidia/Dockerfile
  build_tools/docker/cmake-bazel-frontends-swiftshader/Dockerfile
  build_tools/docker/cmake-bazel-frontends-vulkan/Dockerfile
  build_tools/docker/cmake-bazel-frontends/Dockerfile
  build_tools/docker/cmake-emscripten/Dockerfile
  build_tools/docker/cmake-gcc/Dockerfile
  build_tools/docker/cmake-python-nvidia/Dockerfile
  build_tools/docker/cmake-python-swiftshader/Dockerfile
  build_tools/docker/cmake-python-vulkan/Dockerfile
  build_tools/docker/cmake-python/Dockerfile
  build_tools/docker/cmake-riscv/Dockerfile
  build_tools/docker/cmake/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
Labels: infrastructure/cmake

#7178 Adapt iree-compiler-api so it builds standalone and as part of iree.
  CMakeLists.txt
  build_tools/bazel/build_core.sh
  llvm-external-projects/iree-compiler-api/BUILD
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-dialects/BUILD
Labels: infrastructure/cmake, compiler/tools

#7182 Release the new iree-compiler-api vs the old.
  .github/workflows/build_package.yml
  build_tools/embed_data/generate_embed_data_main.cc
  build_tools/github_actions/build_dist.py
  build_tools/github_actions/cmake_ci.py
  llvm-external-projects/iree-compiler-api/BUILD.bazel
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/build_tools/build_python_wheels.sh
  llvm-external-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-external-projects/iree-compiler-api/pyproject.toml
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/binaries.py
  llvm-external-projects/iree-compiler-api/setup.py
Labels: infrastructure 🛠️, bindings/python, compiler/tools

#7157 Revisit CPU lowering configuration settings.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.h
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: buildkite:benchmark

#7196 Revert "[CUDA] Refactor op configuration (#7167)"
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Labels: cla: yes

#7198 Merge main -> google
  .github/workflows/build_package.yml
  build_tools/embed_data/generate_embed_data_main.cc
  build_tools/github_actions/build_dist.py
  build_tools/github_actions/cmake_ci.py
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.h
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/StripSignednessPass.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/strip_signedness.mlir
  iree/compiler/InputConversion/MHLO/ConvertMHLOToLinalgExt.cpp
  iree/compiler/InputConversion/MHLO/test/convert_mhlo_to_linalg_ext.mlir
  iree/compiler/InputConversion/TOSA/Passes.cpp
  llvm-external-projects/iree-compiler-api/BUILD.bazel
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/build_tools/build_python_wheels.sh
  llvm-external-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-external-projects/iree-compiler-api/pyproject.toml
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/binaries.py
  llvm-external-projects/iree-compiler-api/setup.py
Labels: cla: yes

#7199 [CUDA] Refactor op configuration
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Labels: cla: yes

#7201 Remove old bindings/python/iree/compiler API.
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/iree/compiler/CMakeLists.txt
  bindings/python/iree/compiler/README.md
  bindings/python/iree/compiler/__init__.py
  bindings/python/iree/compiler/core.py
  bindings/python/iree/compiler/debugging.py
  bindings/python/iree/compiler/setup.py.in
  bindings/python/iree/compiler/tf.py
  bindings/python/iree/compiler/tflite.py
  bindings/python/iree/compiler/tools.py
  bindings/python/iree/compiler/version.py.in
  bindings/python/iree/compiler/xla.py
  bindings/python/iree/tools/core/CMakeLists.txt
  bindings/python/iree/tools/core/__init__.py
  bindings/python/iree/tools/core/scripts/iree_translate/__main__.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/README.md
  bindings/python/tests/compiler_core_test.py
  bindings/python/tests/compiler_tf_test.py
  bindings/python/tests/compiler_tflite_test.py
  bindings/python/tests/compiler_xla_test.py
  bindings/python/tests/testdata/generate_tflite.py
  bindings/python/tests/testdata/generate_xla.py
  bindings/python/tests/testdata/tflite_sample.fb
  bindings/python/tests/testdata/xla_sample.hlo
  bindings/python/tests/testdata/xla_sample.pb
  build_tools/cmake/iree_python.cmake
  docs/website/docs/building-from-source/optional-features.md
Labels: cla: yes, infrastructure/cmake, bindings/python

#7184 Separate HAL driver registration with the threading
  CMakeLists.txt
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/riscv.toolchain.cmake
  docs/website/docs/deployment-configurations/bare-metal.md
  iree/hal/cts/command_buffer_test.cc
  iree/hal/cts/event_test.cc
  iree/hal/cts/semaphore_submission_test.cc
  iree/hal/drivers/BUILD
  iree/hal/drivers/CMakeLists.txt
  iree/hal/drivers/init.c
  iree/hal/dylib/registration/BUILD
  iree/hal/dylib/registration/CMakeLists.txt
  iree/hal/dylib/registration/driver_module_sync.c
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/vmvx/registration/BUILD
  iree/hal/vmvx/registration/CMakeLists.txt
  iree/hal/vmvx/registration/driver_module_sync.c
  iree/hal/vmvx/registration/driver_module_sync.h
  iree/runtime/BUILD
  iree/runtime/CMakeLists.txt
  iree/runtime/demo/BUILD
  iree/runtime/demo/CMakeLists.txt
  iree/runtime/testdata/BUILD
  iree/runtime/testdata/CMakeLists.txt
  iree/samples/dynamic_shapes/CMakeLists.txt
  iree/samples/simple_embedding/BUILD
  iree/samples/simple_embedding/CMakeLists.txt
  iree/samples/variables_and_state/CMakeLists.txt
  iree/tools/CMakeLists.txt
Labels: runtime, hal/cpu, cleanup 🧹

#7204 [NFC] Tidy elementwise op fusion control function a bit
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: cleanup 🧹

#7206 Fix asan failure in CUDA backend
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
Labels: cla: yes

#7207 benchmark: Update iree-translate flag for dylib-sync
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TensorFlow/CMakeLists.txt
Labels: cla: yes

#7210 tools:benchmark: Add runtime memory usage stat printout
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#7110 Discuss compilation and runtime settings in best practices doc.
  docs/developers/best_practices.md
Labels: documentation ✏️, cla: yes, runtime, codegen

#7215 [CUDA] Fix crash when a kernel has dead binding
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
Labels: cla: yes

#7220 Allow encoding_type to be optional in iree-run-trace.
  iree/tools/utils/trace_replay.c
Labels: cla: yes

#7222 Remove testonly label from iree-benchmark-[module,trace].
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
Labels: cla: yes, infrastructure 🛠️

#7221 Merge main -> google
  docs/developers/best_practices.md
  iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  iree/tools/iree-benchmark-module-main.cc
Labels: cla: yes

#7214 [spirv] Replace specific RemoveTripOneLoop with the common one
  iree/compiler/Codegen/SPIRV/SPIRVRemoveOneTripTiledLoops.cpp
Labels: cla: yes, codegen/spirv, cleanup 🧹, buildkite:benchmark

#7227 Add iree-(run|benchmark)-trace console scripts to iree-runtime package.
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/scripts/iree_benchmark_trace/__main__.py
  bindings/python/iree/runtime/scripts/iree_run_trace/__main__.py
  bindings/python/iree/runtime/setup.py.in
Labels: cla: yes, infrastructure 🛠️, bindings/python, runtime/tools

#7226 Remove PlanConvLoopOrder pass
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/LLVMCPUPlanConvLoopOrder.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/plan_conv_loop_order.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
Labels: cla: yes, buildkite:benchmark
