Repository iree-org/iree, pull requests merged in 2022-02, with the labels that each got.

#7751 Generate arm intrinsics for MMT4D
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_to_arm_asm.mlir
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_to_arm_intrinsics.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/regression/generate_e2e_matmul_tests.py
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_mlir_dialects.h
  iree/tools/init_mlir_passes.h
  iree/tools/iree_translate_lib.cc
Labels: cla: yes, codegen, codegen/llvm

#8219 Propagating errors through the task system.
  iree/base/alignment.h
  iree/base/allocator.h
  iree/base/assert.h
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/debugging.h
  iree/base/internal/event_pool.c
  iree/base/internal/event_pool.h
  iree/base/internal/synchronization.h
  iree/base/internal/threading.h
  iree/base/time.h
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/task_command_buffer.c
  iree/hal/local/task_device.c
  iree/hal/local/task_queue.c
  iree/hal/local/task_semaphore.c
  iree/hal/local/task_semaphore.h
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/executor.c
  iree/task/executor.h
  iree/task/executor_impl.h
  iree/task/executor_test.cc
  iree/task/list.c
  iree/task/list_test.cc
  iree/task/scope.c
  iree/task/scope.h
  iree/task/task.c
  iree/task/task.h
  iree/task/task_impl.h
  iree/task/task_test_barrier.cc
  iree/task/task_test_call.cc
  iree/task/task_test_dispatch.cc
  iree/task/task_test_fence.cc
  iree/task/tuning.h
  iree/task/worker.c
  iree/task/worker.h
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/stack.h
Labels: runtime, hal/cpu

#8224 Adding iree_wait_source_t and cleaning up iree_wait_handle_t.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.h
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/wait_handle.c
  iree/base/internal/wait_handle.h
  iree/base/internal/wait_handle_impl.h
  iree/base/internal/wait_handle_null.c
  iree/base/internal/wait_handle_posix.c
  iree/base/internal/wait_handle_posix.h
  iree/base/internal/wait_handle_test.cc
  iree/base/internal/wait_handle_win32.c
  iree/base/wait_source.c
  iree/base/wait_source.h
Labels: runtime/api

#8220 Move a string helper to iree/compiler/Utils
  iree/compiler/Dialect/Util/Tools/StructAttrGen.cpp
  iree/compiler/Utils/BUILD
  iree/compiler/Utils/CMakeLists.txt
  iree/compiler/Utils/StringUtils.cpp
  iree/compiler/Utils/StringUtils.h
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
Labels: compiler

#8181 Generate a file containing command-line options for translation
  build_tools/cmake/benchmark_compilation_flagfile.in
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: infrastructure/benchmark, buildkite:benchmark

#8197 Use `PartitionableLoopInterface` on the compilation stack.
  iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/IR/PartitionableLoopsInterface.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: buildkite:benchmark

#8227 Adding some sample flow/stream uses.
  iree/compiler/Translation/test/BUILD
  iree/compiler/Translation/test/CMakeLists.txt
  iree/compiler/Translation/test/streams.mlir
Labels: documentation ✏️, compiler

#8229 Error out in bufferization on unhandled tensor operation.
  iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
Labels: codegen

#8208 Add CODEOWNERS to IREE repository.
  .github/CODEOWNERS
Labels: infrastructure 🛠️

#8246 Refresh CUDA/ROCm docs with new option defaults.
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
Labels: documentation ✏️, hal/cuda, hal/rocm

#8247 Add Cuda SDK to Nvidia Docker image
  .github/workflows/android_tflite_oneshot_build.yml
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: infrastructure 🛠️, hal/cuda

#8259 Move x86 GEMM codegeneration pipeline to use upstream bufferization.
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark

#8248 Generalize the asm kernel pattern.
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Utils/CustomKernelsTargetInfo.h
Labels: performance ⚡, codegen/llvm

#8257 Refactor web sample into a Promise-based API using a Web Worker.
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/index.html
  experimental/sample_web_static/iree_api.js
  experimental/sample_web_static/iree_worker.js
Labels: runtime

#8268 Moving task system waits to a dedicated wait thread.
  docs/website/docs/deployment-configurations/bare-metal.md
  iree/base/internal/wait_handle.c
  iree/base/internal/wait_handle.h
  iree/base/internal/wait_handle_poll.c
  iree/base/internal/wait_handle_posix.c
  iree/base/internal/wait_handle_test.cc
  iree/base/internal/wait_handle_win32.c
  iree/base/time.c
  iree/base/time.h
  iree/base/wait_source.c
  iree/base/wait_source.h
  iree/hal/local/task_semaphore.c
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/api.c
  iree/task/executor.c
  iree/task/executor.h
  iree/task/executor_impl.h
  iree/task/poller.c
  iree/task/poller.h
  iree/task/queue.c
  iree/task/scope_test.cc
  iree/task/task.c
  iree/task/task.h
  iree/task/task_impl.h
  iree/task/task_test_fence.cc
  iree/task/task_test_wait.cc
  iree/task/topology.c
  iree/task/tuning.h
  iree/task/worker.c
Labels: runtime

#8277 [spirv] NFC: remove unused code in Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
Labels: codegen/spirv, cleanup 🧹

#8270 [EmitC] Save refs into temporaries before returning
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: compiler/emitc

#8278 Adding support for timeouts on iree_notification_t.
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/worker.c
Labels: runtime

#8280 Revert "Adding support for timeouts on iree_notification_t."
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/worker.c
Labels: runtime

#8285 Add note about how to use Wasm SIMD.
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Labels: codegen/llvm, platform/web 🌐

#8284 Adding support for timeouts on iree_notification_t + fixes.
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/threading_pthreads.c
  iree/base/internal/threading_test.cc
  iree/base/time.c
  iree/hal/local/sync_semaphore.c
  iree/task/list.c
  iree/task/poller.c
  iree/task/scope.c
  iree/task/scope.h
  iree/task/scope_test.cc
  iree/task/task.c
  iree/task/task_test_barrier.cc
  iree/task/task_test_call.cc
  iree/task/task_test_dispatch.cc
  iree/task/task_test_fence.cc
  iree/task/task_test_nop.cc
  iree/task/task_test_wait.cc
  iree/task/worker.c
Labels: runtime

#8286 Adding an in-process wait handle implementation.
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/synchronization.h
  iree/base/internal/wait_handle_impl.h
  iree/base/internal/wait_handle_inproc.c
  iree/base/internal/wait_handle_posix.c
  iree/base/internal/wait_handle_posix.h
  iree/base/internal/wait_handle_win32.c
  iree/base/wait_source.h
Labels: runtime, platform/web 🌐

#8288 Move dep to correct target
  iree/tools/CMakeLists.txt
Labels: infrastructure/cmake, compiler/tools

#8287 Add Bazel build configuration for EmitC
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  iree/compiler/Dialect/VM/Target/BUILD
  iree/compiler/Dialect/VM/Target/C/BUILD
  iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  iree/compiler/Translation/BUILD
  iree/tools/BUILD
Labels: infrastructure/bazel, compiler/emitc

#8291 Enable multithreading and SIMD in static web demo.
  build_tools/cmake/iree_copts.cmake
  experimental/sample_web_static/CMakeLists.txt
  experimental/sample_web_static/README.md
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/device_multithreaded.c
  experimental/sample_web_static/index.html
  experimental/sample_web_static/iree_api.js
  experimental/sample_web_static/iree_worker.js
Labels: performance ⚡, platform/web 🌐

#8302 Add 'keep going' option to CMake CI builds
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_host_install.sh
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_tracing.sh
  build_tools/cmake/rebuild.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
  experimental/sample_web_static/build_static_emscripten_demo.sh
  iree/samples/dynamic_shapes/test.sh
  iree/samples/variables_and_state/test.sh
Labels: infrastructure 🛠️, infrastructure/cmake

#8314 Allowing NULL ptrs in iree_wait_set_free for ergonomics.
  iree/base/internal/wait_handle_inproc.c
  iree/base/internal/wait_handle_poll.c
  iree/base/internal/wait_handle_win32.c
Labels: runtime

#8313 Only use iree_hal_device_transfer_mappable_range if host visible.
  iree/hal/utils/buffer_transfer.c
Labels: runtime

#8297 Update to hasVerifier form (NFC)
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
Labels: compiler

#8319 Add dynamic linking web sample using Emscripten.
  CMakeLists.txt
  experimental/web/CMakeLists.txt
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/README.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/device_sync.c
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_dynamic/iree_api.js
  experimental/web/sample_dynamic/iree_worker.js
  experimental/web/sample_dynamic/main.c
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_static/README.md
  experimental/web/sample_static/build_sample.sh
  experimental/web/sample_static/device_multithreaded.c
  experimental/web/sample_static/device_sync.c
  experimental/web/sample_static/index.html
  experimental/web/sample_static/iree_api.js
  experimental/web/sample_static/iree_worker.js
  experimental/web/sample_static/main.c
  iree/base/internal/dynamic_library_posix.c
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/loaders/system_library_loader.c
Labels: platform/web 🌐

#8222 Fixed python MapElementTypeToDType for boolean type.
  bindings/python/iree/runtime/hal.cc
Labels: bindings/python

#8304 Add RISCV lit tests in RISCV64 Linux CI
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/abs_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/lit.cfg.py
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/person_detect_rvv_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/person_detect_test.run
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/simple_embedded_tests.run
Labels: infrastructure 🛠️

#8295 Convert 1-D static subspan to 1-D dynamic sized subspan
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Labels: codegen, codegen/spirv

#8301 Move generic op codegen to use DoubleTilingExpert (Fuse + Tile).
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: buildkite:benchmark

#8323 [vulkan] Require VK_KHR_portability_subset for Apple platforms
  iree/hal/vulkan/vulkan_device.cc
  iree/hal/vulkan/vulkan_headers.h
Labels: hal/vulkan

#8334 Implements iree_hal_cuda_*_command_buffer_update_buffer.
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/stream_command_buffer.c
  iree/hal/cuda/stream_command_buffer.h
Labels: hal/cuda

#8335 Add Bazel build configuration for VMToEmitC tests
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
Labels: infrastructure/bazel, compiler/emitc

#8339 Fixing source_offset in Vulkan update_buffer.
  iree/hal/vulkan/direct_command_buffer.cc
Labels: bug 🐞, hal/vulkan

#8236 Add more docs for summarizing technologies.
  docs/website/docs/reference/glossary.md
  docs/website/mkdocs.yml
Labels: documentation ✏️

#8351 NFC: Remove unused pattern and clarify comments in affine.min pass
  iree/compiler/Codegen/Common/FoldAffineMinInDistributedLoops.cpp
Labels: codegen, buildkite:benchmark

#8366 Turn fusion of generic op with reduction producer on by default
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: buildkite:benchmark

#8362 Move tile and distribute out of Flow dialect
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.h
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CaptureDispatchDynamicDims.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/capture_dispatch_dynamic_dims.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_elementwise.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
  iree/compiler/Dialect/Flow/Transforms/test/transformation.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
Labels: buildkite:benchmark

#8359 Drop executable deps from CTS tests that don't use executables.
  build_tools/cmake/iree_hal_cts_test_suite.cmake
Labels: infrastructure/cmake, cleanup 🧹

#8357 Add HAL CTS 'variants' support and cuda_graph CTS test suite.
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  iree/hal/cuda/cts/CMakeLists.txt
Labels: infrastructure/cmake, hal/cuda

#8329 Adding iree_loop_t and the basic inline and synchronous implementations.
  iree/base/BUILD
  iree/base/CMakeLists.txt
  iree/base/api.h
  iree/base/internal/synchronization_test.cc
  iree/base/internal/wait_handle.c
  iree/base/internal/wait_handle.h
  iree/base/internal/wait_handle_inproc.c
  iree/base/internal/wait_handle_poll.c
  iree/base/internal/wait_handle_test.cc
  iree/base/internal/wait_handle_win32.c
  iree/base/loop.c
  iree/base/loop.h
  iree/base/loop_inline.c
  iree/base/loop_inline.h
  iree/base/loop_inline_test.cc
  iree/base/loop_sync.c
  iree/base/loop_sync.h
  iree/base/loop_sync_test.cc
  iree/base/loop_test.h
  iree/base/time.h
  iree/hal/cts/semaphore_test.h
  iree/task/poller.c
Labels: runtime, runtime/api

#8389 Starting rework of HAL allocator APIs.
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal_test.py
  bindings/tflite/tensor.c
  experimental/rocm/rocm_allocator.c
  iree/hal/allocator.c
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/hal/buffer.h
  iree/hal/buffer_view_util.c
  iree/hal/buffer_view_util.h
  iree/hal/command_buffer.h
  iree/hal/command_buffer_validation.c
  iree/hal/cts/allocator_test.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cuda/cuda_allocator.c
  iree/hal/device.c
  iree/hal/utils/buffer_transfer.c
  iree/hal/vulkan/vma_allocator.cc
  iree/modules/check/check_test.cc
  iree/modules/hal/module.c
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/dynamic_shapes/main.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/variables_and_state/main.c
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: hal/api

#8393 Fixup symbol names when wrapping exported functions.
  iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
Labels: compiler

#8397 Adding tensor shape expansion/cleanup passes.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CleanupTensorShapes.cpp
  iree/compiler/Dialect/Flow/Transforms/ConvertTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/ExpandTensorShapes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/cleanup_tensor_shapes.mlir
  iree/compiler/Dialect/Flow/Transforms/test/expand_tensor_shapes.mlir
  iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
  iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  iree/compiler/Dialect/Stream/IR/StreamBase.td
  iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  iree/compiler/Dialect/Stream/Transforms/PropagateSubviews.cpp
  iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  iree/compiler/Dialect/Stream/Transforms/test/propagate_subviews.mlir
Labels: compiler

#8408 Turn on LLVM loop unrolling by default
  benchmarks/TFLite/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
Labels: buildkite:benchmark

#8324 [spirv] Run pass to unify aliased resources
  iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#8407 Make experimental benchmarking configurations use MMT4D
  benchmarks/TFLite/CMakeLists.txt
Labels: buildkite:benchmark

#8413 Use `emitc.ptr` for `iree_vm_ref_t*` type
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
Labels: compiler/emitc

#8416 Fixing task tests to signal after setting the test flag.
  iree/task/task_test_wait.cc
Labels: bug 🐞, hal/cpu

#8415 [doc] Update docs for the benchmarking pipeline
  benchmarks/README.md
  benchmarks/dashboard.md
Labels: documentation ✏️, infrastructure/benchmark
