Repository iree-org/iree, pull requests merged in 2022-05, with the labels that each got.

#9023 Audit and fix inconsistencies in Kokoro build/test scripts.
  build_tools/cmake/rebuild.sh
  build_tools/cmake/test.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/fuse-operands.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile-and-peel.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/tile.mlir
  llvm-external-projects/iree-dialects/test/iree_pydm/rtl/lit.local.cfg
Labels: infrastructure 🛠️, cleanup 🧹

#9029 Set up llvm-symbolizer for some of our CI pipelines.
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/README.md
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/python_deploy/build_linux_packages.sh
Labels: infrastructure 🛠️

#8997 Pin GitHub Action versions to specific commits, not tags.
  .github/workflows/advance_upstream_forks.yml
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  .github/workflows/copybara_fixup.yml
  .github/workflows/lint.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/publish_website.yml
  .github/workflows/schedule_candidate_release.yml
  .github/workflows/validate_and_publish_release.yml
  docs/developers/debugging/releases.md
Labels: infrastructure 🛠️

#9042 Remove more unnecessary variable references from CMake files.
  bindings/tflite/CMakeLists.txt
  bindings/tflite/testdata/CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  experimental/rocm/CMakeLists.txt
  iree/tools/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/loaders/BUILD
  runtime/src/iree/hal/local/loaders/CMakeLists.txt
  runtime/src/iree/hal/vulkan/BUILD
  runtime/src/iree/hal/vulkan/CMakeLists.txt
  runtime/src/iree/runtime/demo/BUILD
  runtime/src/iree/runtime/demo/CMakeLists.txt
  runtime/src/iree/runtime/testdata/BUILD
  runtime/src/iree/runtime/testdata/CMakeLists.txt
  runtime/src/iree/task/BUILD
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/vm/test/BUILD
  runtime/src/iree/vm/test/CMakeLists.txt
  samples/iree_simple_embedding/BUILD
  samples/iree_simple_embedding/CMakeLists.txt
  samples/iree_static_library/CMakeLists.txt
  samples/iree_vision_inference/CMakeLists.txt
Labels: infrastructure/cmake, cleanup 🧹

#9043 Move bindings/tflite/ to runtime/bindings/tflite/.
  .github/CODEOWNERS
  .github/workflows/android_tflite_oneshot_build.yml
  CMakeLists.txt
  docs/website/docs/getting-started/tflite.md
  runtime/bindings/tflite/BUILD
  runtime/bindings/tflite/CMakeLists.txt
  runtime/bindings/tflite/README.md
  runtime/bindings/tflite/include/README.md
  runtime/bindings/tflite/include/tensorflow/lite/c/c_api.h
  runtime/bindings/tflite/include/tensorflow/lite/c/c_api_experimental.h
  runtime/bindings/tflite/include/tensorflow/lite/c/common.h
  runtime/bindings/tflite/interpreter.c
  runtime/bindings/tflite/interpreter.h
  runtime/bindings/tflite/java/README.md
  runtime/bindings/tflite/java/build.gradle
  runtime/bindings/tflite/java/org/tensorflow/lite/AndroidManifest.xml
  runtime/bindings/tflite/java/org/tensorflow/lite/CMakeLists.txt
  runtime/bindings/tflite/java/org/tensorflow/lite/DataType.java
  runtime/bindings/tflite/java/org/tensorflow/lite/Interpreter.java
  runtime/bindings/tflite/java/org/tensorflow/lite/Tensor.java
  runtime/bindings/tflite/java/org/tensorflow/lite/TensorFlowLite.java
  runtime/bindings/tflite/java/org/tensorflow/lite/native/CMakeLists.txt
  runtime/bindings/tflite/java/org/tensorflow/lite/native/interpreter_jni.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/native/tensor_jni.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/native/tensorflow_lite_jni.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/tests/InterpreterTest.java
  runtime/bindings/tflite/java/org/tensorflow/lite/tests/TestManifest.xml
  runtime/bindings/tflite/java/org/tensorflow/lite/tests/simple_add.mlir
  runtime/bindings/tflite/java/settings.gradle
  runtime/bindings/tflite/model.c
  runtime/bindings/tflite/model.h
  runtime/bindings/tflite/options.c
  runtime/bindings/tflite/options.h
  runtime/bindings/tflite/shim.c
  runtime/bindings/tflite/shim.h
  runtime/bindings/tflite/smoke_test.cc
  runtime/bindings/tflite/tensor.c
  runtime/bindings/tflite/tensor.h
  runtime/bindings/tflite/testdata/BUILD
  runtime/bindings/tflite/testdata/CMakeLists.txt
  runtime/bindings/tflite/testdata/add_dynamic.mlir
  runtime/bindings/tflite/testdata/add_multi.mlir
  runtime/bindings/tflite/testdata/add_static.mlir
Labels: bindings/tflite

#9039 Run clang-format on compiler/.
  .clang-format
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/Passes.h
  compiler/src/iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
Labels: cleanup 🧹

#9051 Delete unused iree_test_matrix.cmake file.
  build_tools/cmake/iree_test_matrix.cmake
Labels: infrastructure/cmake, cleanup 🧹

#9040 Remove obsolete Python 2 linter compatibility comments.
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/scripts/utils.py
  compiler/src/iree/compiler/API/python/test/tools/compiler_core_test.py
  compiler/src/iree/compiler/API/python/test/tools/compiler_tflite_test.py
  compiler/src/iree/compiler/API/python/test/tools/compiler_xla_test.py
  integrations/tensorflow/build_tools/testdata/generate_dynamic_samples.py
  integrations/tensorflow/build_tools/testdata/generate_errors_module.py
  integrations/tensorflow/build_tools/testdata/generate_signature_samples.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/module_utils.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/module_utils_test.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/tf_test_utils.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/tf_test_utils_test.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/tf_utils.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/tf_utils_test.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/trace_utils.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/trace_utils_test.py
  integrations/tensorflow/test/python/iree_tf_tests/layers/layers_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/batch_norm_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/batch_to_space_nd_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/broadcasting_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/concat_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/conv_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/conv_transpose_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/depth_conv_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/dynamic_mlp_relu_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/dynamic_mlp_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/einsum_dynamic_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/einsum_static_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/einsum_vector_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/matrix_ops_dynamic_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/matrix_ops_static_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/mobile_bert_squad_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/quantization_dyn_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/quantization_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/ring_buffer_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/simple_arithmetic_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/simple_stateful_test.py
  integrations/tensorflow/test/python/iree_tf_tests/uncategorized/space_to_batch_nd_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/test_util.py
  runtime/bindings/python/iree/runtime/function.py
  runtime/bindings/python/iree/runtime/function_test.py
  runtime/bindings/python/iree/runtime/system_api.py
  runtime/bindings/python/iree/runtime/system_api_test.py
  runtime/bindings/python/iree/runtime/vm_test.py
  samples/colab/test_notebooks.py
Labels: bindings/python, cleanup 🧹

#9052 Fix LLVMAOTTarget file extensions for debug artifacts.
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
Labels: compiler, quality of life 😊

#9010 Add x86 benchmark pipeline
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TFLite/linux-x86_64.cmake
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/common/linux_device_utils_test.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/cmake/build_linux_benchmark.sh
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9046 Delete obsolete copybara_fixup workflow and refresh docs.
  .github/workflows/copybara_fixup.yml
  docs/developers/developing_iree/repository_management.md
Labels: documentation ✏️, cleanup 🧹

#9060 Fix post conditions in x86 benchmark pipeline
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
Labels: buildkite:benchmark-x86_64

#9061 Fix dana uploading failure due to duplicated numbers
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: infrastructure/benchmark

#9066 Fix mnist_training Colab notebook.
  samples/colab/mnist_training.ipynb
  samples/colab/test_notebooks.py
Labels: integrations/colab

#9065 Use a consistent test name style for compile-mhlo-test.
  compiler/src/iree/compiler/API/test/CMakeLists.txt
Labels: infrastructure/cmake, cleanup 🧹

#9071 Re-organize the runtime python directory to be more extensible.
  runtime/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/binding.h
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/initialize_module.cc
  runtime/bindings/python/invoke.cc
  runtime/bindings/python/invoke.h
  runtime/bindings/python/iree/runtime/__init__.py
  runtime/bindings/python/iree/runtime/_binding.py
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/bindings/python/iree/runtime/flags.py
  runtime/bindings/python/iree/runtime/function.py
  runtime/bindings/python/iree/runtime/system_api.py
  runtime/bindings/python/iree/runtime/tracing.py
  runtime/bindings/python/status_utils.cc
  runtime/bindings/python/status_utils.h
  runtime/bindings/python/tests/array_interop_test.py
  runtime/bindings/python/tests/flags_test.py
  runtime/bindings/python/tests/function_test.py
  runtime/bindings/python/tests/hal_test.py
  runtime/bindings/python/tests/package_test.py
  runtime/bindings/python/tests/system_api_test.py
  runtime/bindings/python/tests/vm_test.py
  runtime/bindings/python/unix_version.lds
  runtime/bindings/python/vm.cc
  runtime/bindings/python/vm.h
  runtime/setup.py
Labels: runtime, bindings/python

#9063 Print whenever reading from stdin.
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/trace_replay.c
  runtime/src/iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
Labels: quality of life 😊

#9097 Escape benchmark comment title before matching
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
Labels: buildkite:benchmark-x86_64

#8977 Add padding support for CodegenDriver based matmul codegen.
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_riscv_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9096 Add vectorization to CPUBufferOpsTileAndVectorizePipeline
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9118 Fix release runtime package.
  build_tools/cmake/iree_python.cmake
  build_tools/python_deploy/build_linux_packages.sh
  runtime/bindings/python/CMakeLists.txt
Labels: infrastructure 🛠️, bindings/python

#9041 Fix pytype attribute-error in system_api.py.
  runtime/bindings/python/iree/runtime/system_api.py
Labels: bindings/python

#9127 Removing unused HAL buffer constraints attr.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: compiler, cleanup 🧹

#9128 Adding flags for controlling stream resource constraints.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
Labels: compiler

#9133 Adding simple bytecode versioning.
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  runtime/src/iree/schemas/bytecode_module_def.fbs
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module_impl.h
Labels: runtime/vm

#9138 Promoting the i64 VM extension to core.
  build_tools/cmake/iree_copts.cmake
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/TargetOptions.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/TargetOptions.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/alignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/BUILD
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesI64.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/module_encoding_smoke.mlir
  compiler/src/iree/compiler/Translation/test/smoketest.mlir
  iree/test/e2e/tosa_ops/BUILD
  iree/test/e2e/tosa_ops/CMakeLists.txt
  runtime/src/iree/base/config.h
  runtime/src/iree/vm/bytecode_disasm.c
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/bytecode_dispatch_util.h
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/generated/bytecode_op_table.h
Labels: compiler, runtime/vm

#9123 Only enable padding for linalg.matmul cases.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9119 Make `InsertDistributionInfo` operate on `IREE::HAL::ExecutableVariantOp`
  compiler/src/iree/compiler/Codegen/Common/InsertDistributionInfoPass.cpp
  compiler/src/iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/TransformDialectExtensions/TransformDialectExtensions.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9062 Include LinalgStructuredOps headers from LLVM
  CMakeLists.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/llvm-project/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/BUILD
  compiler/src/iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/PartitionableLoopsInterface.cpp
Labels: compiler, infrastructure/cmake, infrastructure/bazel

#9134 Bump min CMake version to 3.21 and install python3-venv.
  .github/workflows/android_tflite_oneshot_build.yml
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
Labels: infrastructure/cmake

#9150 Move iree/iree.natvis to runtime/.
  build_tools/cmake/iree_copts.cmake
  runtime/iree.natvis
Labels: cleanup 🧹

#9164 Add support for the EmitC cast op
  compiler/src/iree/compiler/Dialect/VM/Target/C/TranslateToCpp.cpp
Labels: compiler/emitc

#9151 Remove or refactor a few tests under iree/test/e2e/.
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
  iree/test/e2e/cpu_specific/dot_exp.mlir
  iree/test/e2e/cuda_specific/CMakeLists.txt
  iree/test/e2e/cuda_specific/dot.mlir
  iree/test/e2e/linalg_ext_ops/BUILD
  iree/test/e2e/linalg_ext_ops/CMakeLists.txt
  iree/test/e2e/linalg_ext_ops/sort.mlir
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
  iree/test/e2e/vulkan_specific/BUILD
  iree/test/e2e/vulkan_specific/CMakeLists.txt
  iree/test/e2e/vulkan_specific/add_f16.mlir
  iree/test/e2e/vulkan_specific/dot_f16.mlir
  iree/test/e2e/xla_ops/dot.mlir
  iree/test/e2e/xla_ops/partial/BUILD
  iree/test/e2e/xla_ops/partial/CMakeLists.txt
Labels: infrastructure 🛠️, cleanup 🧹

#9171 Fix data type in vulkan_inference_gui.
  samples/vulkan/vulkan_inference_gui.cc
Labels: runtime

#9129 Dump build JSON object after the pipeline finished
  build_tools/buildkite/scripts/common/__init__.py
  build_tools/buildkite/scripts/common/buildkite_pipeline_manager.py
  build_tools/buildkite/scripts/common/buildkite_utils.py
  build_tools/buildkite/scripts/wait_for_pipeline_success.py
Labels: infrastructure/benchmark, infrastructure/buildkite

#9110 Improve the detection of previous benchmark
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#8970 Allow dispatch region formation to fuse producer and consumer when producer has multiple uses.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9015 Add a flag to enable hoist padding for DoubleTilingPadExpert pipeline.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: buildkite:benchmark-x86_64

#9173 [spirv] Allocate Function memory after tiling to threads
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/MemorySpace.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#9166 Extending vm.buffer offsets to 64 bits.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/load_store_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  runtime/src/iree/vm/bytecode_disasm.c
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/bytecode_dispatch_util.h
  runtime/src/iree/vm/bytecode_module_benchmark.mlir
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/test/buffer_ops.mlir
Labels: compiler, runtime/vm

#9175 Replace calls to `EMITC_CAST` with the EmitC cast op
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/constant_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  runtime/src/iree/vm/ops_emitc.h
Labels: compiler/emitc

#9179 Check in configuration files for Buildkite agents
  build_tools/buildkite/agent/configs/orchestration.cfg
  build_tools/buildkite/agent/hooks/README.md
  build_tools/buildkite/agent/hooks/pre-bootstrap-trusted-agent.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9188 Prune unused code from bazel_to_cmake.
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
Labels: infrastructure 🛠️, infrastructure/cmake, infrastructure/bazel

#8836 [spirv] Vectorize Linalg ops with reduction dimensions
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
Labels: performance ⚡, codegen/spirv, buildkite:benchmark

#9192 Add dark mode architecture diagram to README and website.
  README.md
  docs/website/docs/assets/images/iree_architecture_dark.svg
  docs/website/docs/index.md
Labels: documentation ✏️, quality of life 😊

#9184 Convert all kernels to destination passing style by default.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark-x86_64

#9089 Fix vectorization for generic ops fused with conv2d
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9207 Fix Buildkite `update_pipeline` call
  build_tools/buildkite/scripts/update_pipeline_configurations.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9208 Remove literal interpolation in Buildkite bootstrap pipeline
  build_tools/buildkite/pipelines/fragment/bootstrap-trusted.yml
  build_tools/buildkite/pipelines/fragment/bootstrap-untrusted.yml
  build_tools/buildkite/scripts/update_pipeline_configurations.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9205 Support running unregistered pipelines on presubmit
  build_tools/buildkite/pipelines/untrusted/unregistered.yml
  build_tools/buildkite/scripts/common/buildkite_pipeline_manager.py
  build_tools/buildkite/scripts/common/buildkite_utils.py
  build_tools/buildkite/scripts/wait_for_pipeline_success.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9206 Enable compiler/... tests in core Bazel build again.
  build_tools/bazel/build_core.sh
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  compiler/src/iree/compiler/API/BUILD
  compiler/src/iree/compiler/API/test/BUILD
  compiler/src/iree/compiler/API/test/CMakeLists.txt
  compiler/src/iree/compiler/API/test/compile-mhlo-test-main.c
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Labels: infrastructure/bazel

#9210 Update pipelines correctly
  build_tools/buildkite/scripts/update_pipeline_configurations.py
Labels: infrastructure/buildkite

#9214 Set appropriate permissions when creating pipeline
  build_tools/buildkite/pipelines/fragment/bootstrap-trusted.yml
  build_tools/buildkite/pipelines/fragment/bootstrap-untrusted.yml
  build_tools/buildkite/scripts/common/buildkite_pipeline_manager.py
  build_tools/buildkite/scripts/common/buildkite_utils.py
  build_tools/buildkite/scripts/set_buildkite_env.sh
  build_tools/buildkite/scripts/simulate_buildkite.sh
  build_tools/buildkite/scripts/update_pipeline_configurations.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9225 Adapt for inability to set pipeline visibility
  build_tools/buildkite/README.md
  build_tools/buildkite/pipelines/untrusted/unregistered.yml
  build_tools/buildkite/scripts/update_pipeline_configurations.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9222 Improve error message in generate_embed_data_main.
  build_tools/embed_data/generate_embed_data_main.cc
Labels: infrastructure 🛠️, quality of life 😊

#9219 Adding support for splitting large rodata out of the module flatbuffer in vmfb files.
  benchmarks/README.md
  build_tools/bazel/iree_flatcc.bzl
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_linux_benchmark.sh
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
  compiler/src/iree/compiler/API/python/iree/compiler/tools/__init__.py
  compiler/src/iree/compiler/API/python/iree/compiler/tools/tflite.py
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/ArchiveWriter.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/ArchiveWriter.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BUILD
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/ConstantEncoder.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
  compiler/src/iree/compiler/Translation/HALExecutable.cpp
  compiler/src/iree/compiler/Translation/test/hal_executable.mlir
  compiler/src/iree/compiler/Utils/FlatbufferUtils.cpp
  compiler/src/iree/compiler/Utils/FlatbufferUtils.h
  docs/developers/design_roadmap.md
  docs/website/docs/blog/2021-07-19-tflite-tosa.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/getting-started/tflite.md
  docs/website/docs/reference/glossary.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/iree_worker.js
  experimental/web/sample_dynamic/main.c
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  runtime/bindings/python/vm.cc
  runtime/bindings/python/vm.h
  runtime/bindings/tflite/include/tensorflow/lite/c/c_api_experimental.h
  runtime/bindings/tflite/include/tensorflow/lite/c/common.h
  runtime/src/iree/hal/local/executable_library_benchmark.md
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/vulkan/native_executable.cc
  runtime/src/iree/schemas/bytecode_module_def.fbs
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module.h
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/bytecode_module_test.cc
  tools/BUILD
  tools/CMakeLists.txt
  tools/iree-dump-module-main.c
  tools/iree-run-mlir-main.cc
Labels: compiler, runtime/vm, buildkite:benchmark

#9103 Normalize input indexing map to identity to help fusion
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InterchangeTransposeGenericOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/interchange_transpose_generic_ops.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9238 Add test runner page and associated scripting for the web.
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/prod_digests.txt
  experimental/web/testing/build_tests.sh
  experimental/web/testing/index.html
  experimental/web/testing/serve_tests.sh
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/elf/BUILD
  runtime/src/iree/hal/local/elf/CMakeLists.txt
  runtime/src/iree/hal/local/loaders/BUILD
  runtime/src/iree/hal/local/loaders/CMakeLists.txt
Labels: infrastructure 🛠️, runtime, platform/web 🌐

#9241 Bump TF and fix protobuf dep in samples Docker image.
  build_tools/buildkite/samples.yml
  build_tools/docker/prod_digests.txt
  build_tools/docker/samples/Dockerfile
Labels: integrations/colab

#8018 Remove Vulkan timeline semaphore emulation code.
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/vulkan/BUILD
  runtime/src/iree/hal/vulkan/CMakeLists.txt
  runtime/src/iree/hal/vulkan/api.h
  runtime/src/iree/hal/vulkan/emulated_semaphore.cc
  runtime/src/iree/hal/vulkan/emulated_semaphore.h
  runtime/src/iree/hal/vulkan/native_semaphore.h
  runtime/src/iree/hal/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/vulkan/serializing_command_queue.cc
  runtime/src/iree/hal/vulkan/serializing_command_queue.h
  runtime/src/iree/hal/vulkan/timepoint_util.cc
  runtime/src/iree/hal/vulkan/timepoint_util.h
  runtime/src/iree/hal/vulkan/vulkan_device.cc
Labels: hal/vulkan, yolo, cleanup 🧹, buildkite:benchmark

#9253 Use `ctest --test-dir` instead of `cd` in a few places.
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
Labels: documentation ✏️, infrastructure/cmake
