Repository iree-org/iree, pull requests merged in 2022-04, with the labels that each got.

#8716 [spirv] Support scalarizing non-minor-identity transfer write
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv, buildkite:benchmark

#8732 Add MobileBERT int8 to the experimental benchmark configs
  benchmarks/TFLite/CMakeLists.txt
Labels: buildkite:benchmark

#8704 Enable AVX2 lowering for vector.transpose in double tile expert
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/transpose_avx2_lowering.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: buildkite:benchmark

#8743 Properly enable +dotprod in int8 benchmarks.
  benchmarks/TFLite/CMakeLists.txt
Labels: performance ⚡, buildkite:benchmark

#8754 Adding an error message when iree-util-apply-patterns fails.
  iree/compiler/Dialect/Util/Transforms/ApplyPatterns.cpp
Labels: compiler

#8707 Adds a script to update the readme on supported TFLite models
  integrations/tensorflow/test/iree_tfl_tests/README.md
  integrations/tensorflow/test/iree_tfl_tests/update_tflite_model_documentation.py
Labels: integrations

#8765 Upgrade Bazel version to 5.1.0.
  .bazelversion
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  integrations/tensorflow/.bazelversion
  integrations/tensorflow/build_tools/bazel/iree-tf.bazelrc
Labels: infrastructure/bazel

#8728 [vulkan] Enable passing MHLO round test
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: codegen/spirv

#8738 Unifying (and fixing) the MHLO and codegen i64/f64 type conversion passes.
  integrations/tensorflow/iree-dialects/lib/Dialect/PyDM/Transforms/RTL/LinkRTLPass.cpp
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/DemoteF32ToF16.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/f32Tof16.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/ConstEval/Runtime.cpp
  iree/compiler/ConstEval/test/jit_globals.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/TypeConverter.cpp
  iree/compiler/Dialect/Flow/Transforms/TypeConverter.h
  iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  iree/compiler/Dialect/Modules/Check/IR/CheckDialect.cpp
  iree/compiler/Dialect/Modules/VMVX/IR/VMVXDialect.cpp
  iree/compiler/Dialect/Util/Transforms/BUILD
  iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/ConvertPrimitiveType.cpp
  iree/compiler/Dialect/Util/Transforms/Passes.h
  iree/compiler/Dialect/Util/Transforms/test/BUILD
  iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/test/demote_f32_to_f16.mlir
  iree/compiler/Dialect/Util/Transforms/test/demote_f64_to_f32.mlir
  iree/compiler/Dialect/Util/Transforms/test/demote_i64_to_i32.mlir
  iree/compiler/Dialect/Util/Transforms/test/promote_f16_to_f32.mlir
  iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  iree/compiler/Dialect/VM/Target/C/TranslateToCpp.cpp
  iree/compiler/InputConversion/MHLO/BUILD
  iree/compiler/InputConversion/MHLO/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/LegalizeInputTypes.cpp
  iree/compiler/InputConversion/MHLO/Passes.cpp
  iree/compiler/InputConversion/MHLO/Passes.h
  iree/compiler/InputConversion/MHLO/Passes.td
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/legalize_input_types.mlir
  iree/compiler/Utils/ModuleUtils.cpp
  iree/test/e2e/models/unidirectional_lstm.mlir
  iree/tools/iree-run-mlir-main.cc
  llvm-external-projects/iree-compiler-api/pyproject.toml
  llvm-external-projects/iree-dialects/lib/Dialect/PyDM/Transforms/RTL/LinkRTLPass.cpp
Labels: compiler, integrations/tosa, buildkite:benchmark, integrations/mhlo

#8768 Limiting buffer host visibility where not required.
  bindings/python/iree/runtime/array_interop.py
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/invoke.cc
  bindings/python/iree/runtime/vm_test.py
  bindings/tflite/tensor.c
  experimental/web/sample_static/main.c
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALBase.td
  iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  iree/hal/allocator.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/buffer_view_util.c
  iree/hal/cts/allocator_test.h
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cuda/cuda_allocator.c
  iree/modules/check/check_test.cc
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/dynamic_shapes/main.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/variables_and_state/main.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/utils/image_util.c
  iree/tools/utils/trace_replay.c
Labels: hal/api, cleanup 🧹, buildkite:benchmark

#8781 [vulkan] Improve iree-run-module with GUI
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/testing/vulkan/vulkan_gui_util.cc
Labels: hal/vulkan

#8785 Disabling CUDA e2e matmul tests pending #8784.
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
Labels: infrastructure 🛠️

#8788 Adding a comment and print to iree-benchmark-module.
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/tools/iree-benchmark-module-main.cc
Labels: documentation ✏️, infrastructure 🛠️

#8801 Delete most get_started/ docs and clean up what's left.
  docs/developers/developing_iree/testing_guide.md
  docs/developers/get_started/README.md
  docs/developers/get_started/building_with_bazel_linux.md
  docs/developers/get_started/building_with_bazel_macos.md
  docs/developers/get_started/building_with_bazel_windows.md
  docs/developers/get_started/building_with_emscripten.md
  docs/developers/get_started/getting_started_android_cmake.md
  docs/developers/get_started/getting_started_linux_cmake.md
  docs/developers/get_started/getting_started_linux_vulkan.md
  docs/developers/get_started/getting_started_macos_cmake.md
  docs/developers/get_started/getting_started_python.md
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/developers/get_started/getting_started_tensorflow.md
  docs/developers/get_started/getting_started_windows_cmake.md
  docs/developers/get_started/getting_started_windows_vulkan.md
  docs/developers/get_started/vulkan_environment_setup.md
Labels: documentation ✏️, cleanup 🧹

#8795 Remove redundant linalg.fill op in mhlo.concatenate -> Linalg lowering.
  iree/compiler/InputConversion/MHLO/MHLOToLinalgOnTensors.cpp
  iree/compiler/InputConversion/MHLO/test/BUILD
  iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  iree/compiler/InputConversion/MHLO/test/mhlo_to_linalg.mlir
Labels: buildkite:benchmark

#8799 [spirv] Fix fp16 vectorization flow
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: performance ⚡, codegen/spirv, buildkite:benchmark

#8813 [spirv] NFC: remove obsolete pass for distributing copy
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVInitConfigPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
Labels: codegen/spirv, cleanup 🧹

#8808 [spirv] Fix SPIRVTileAndDistribute flow
  iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  iree/test/e2e/cpu_specific/BUILD
  iree/test/e2e/cpu_specific/CMakeLists.txt
  iree/test/e2e/cpu_specific/tests.mlir
  iree/test/e2e/xla_ops/dot.mlir
Labels: hal/vulkan, codegen/spirv

#8815 Improve compilation time and execution time for quantized matmul on ARM
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: buildkite:benchmark

#8828 redirect capture output
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: buildkite:benchmark

#8806 hide output of adb push when the output is not a TTY
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: buildkite:benchmark

#8800 Generalize bazel_to_cmake iree-dialects conversions.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
Labels: infrastructure 🛠️, cleanup 🧹

#8838 Rollup of HAL buffer API tweaks.
  iree/base/config.h
  iree/base/internal/atomics.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/cuda/cuda_allocator.c
  iree/iree.natvis
Labels: hal/api

#8845 Add tracing macro for IREE_HAL_CUDA_ALLOCATOR_ID
  iree/hal/cuda/cuda_allocator.c
Labels: hal/cuda

#8858 [ci] Publish source MLIR modules after benchmark compilation
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: infrastructure/benchmark, buildkite:benchmark

#8853 Adding -iree-hal-dump-executable-benchmarks-to= flag.
  iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  iree/compiler/Dialect/Stream/Conversion/HALToStream/ConvertHALToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  iree/tools/iree-benchmark-module-main.cc
Labels: performance ⚡, runtime/tools

#8846 Make benchmark artifact generation a bit more flexible.
  CMakeLists.txt
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: infrastructure/benchmark, buildkite:benchmark

#8873 Splitting worker shutdown into request+join+deinit.
  iree/task/executor.c
  iree/task/poller.c
  iree/task/poller.h
  iree/task/worker.c
  iree/task/worker.h
Labels: bug 🐞, hal/cpu

#8875 [vulkan] Append entry point name to executable creation Tracy zone
  iree/hal/vulkan/native_executable.cc
Labels: hal/vulkan

#8720 Documentation updates for testing and build scripts.
  docs/developers/developing_iree/testing_guide.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  iree/samples/dynamic_shapes/test.sh
  iree/samples/static_library/CMakeLists.txt
  iree/samples/static_library/README.md
  iree/samples/variables_and_state/test.sh
  iree/test/e2e/tensor_ops/BUILD
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/partial/BUILD
Labels: documentation ✏️, cleanup 🧹

#8877 Rearranging iree_notification_t code to make it easier to follow (and fixing a deadlock/hang when using pthreads).
  iree/base/internal/synchronization.c
  iree/base/internal/synchronization.h
Labels: bug 🐞, runtime

#8886 Fixup python package metadata for PyPI publishing.
  bindings/python/iree/runtime/setup.py.in
  integrations/tensorflow/python_projects/iree_tf/setup.py
  integrations/tensorflow/python_projects/iree_tflite/setup.py
  integrations/tensorflow/python_projects/iree_xla/setup.py
  llvm-external-projects/iree-compiler-api/setup.py
Labels: bindings/python

#8425 [spirv] Add a pipeline to use workgroup memory
  iree/compiler/Codegen/Common/BUILD
  iree/compiler/Codegen/Common/CMakeLists.txt
  iree/compiler/Codegen/Common/GPUDistributeSharedMemoryCopy.cpp
  iree/compiler/Codegen/Common/GPUPipelining.cpp
  iree/compiler/Codegen/Common/test/BUILD
  iree/compiler/Codegen/Common/test/CMakeLists.txt
  iree/compiler/Codegen/Common/test/distribute_gpu_shared_memory.mlir
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMGPU/BUILD
  iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  iree/compiler/Codegen/LLVMGPU/LLVMGPUUtils.h
  iree/compiler/Codegen/LLVMGPU/Passes.cpp
  iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  iree/compiler/Codegen/LLVMGPU/test/BUILD
  iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/KernelConfig.h
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/Utils.cpp
  iree/compiler/Codegen/SPIRV/Utils.h
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
  iree/compiler/Codegen/SPIRV/test/promote_workgroup_memory.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_promote_matmul.mlir
  iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  iree/compiler/Codegen/Utils/BUILD
  iree/compiler/Codegen/Utils/CMakeLists.txt
  iree/compiler/Codegen/Utils/GPUUtils.cpp
  iree/compiler/Codegen/Utils/GPUUtils.h
Labels: codegen/spirv

#8885 Undo use of upstream pass for first level tile + distribute.
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: buildkite:benchmark

#8888 Vectorize Linalg ops for dynamic cases.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark

#8909 Update iree-compile path in the website docs
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
Labels: documentation ✏️, cleanup 🧹

#8723 Change elementwise op fusion heuristics.
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionUtils.h
Labels: buildkite:benchmark

#8919 Simplify builtin fill/splat dispatches.
  iree/compiler/Dialect/Stream/Builtins/fill_i64.mlir
  iree/compiler/Dialect/Stream/Builtins/splat_i64.mlir
Labels: compiler

#8916 Adding optional import support to the VM.
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Dialect/Modules/Check/Conversion/ConversionPatterns.cpp
  iree/compiler/Dialect/Modules/Check/check.imports.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/control_flow_folding.mlir
  iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/modules/check/check_test.cc
  iree/modules/check/test/BUILD
  iree/modules/check/test/CMakeLists.txt
  iree/modules/check/test/unavailable.mlir
  iree/schemas/bytecode_module_def.fbs
  iree/tools/android/run_module_app/src/main.cc
  iree/tools/iree-run-module-main.cc
  iree/vm/bytecode_disasm.c
  iree/vm/bytecode_dispatch.c
  iree/vm/bytecode_dispatch_test.cc
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/generated/bytecode_op_table.h
  iree/vm/module.h
  iree/vm/native_module.c
  iree/vm/native_module.h
  iree/vm/native_module_test.h
  iree/vm/test/control_flow_ops.mlir
  runtime/bindings/python/iree/runtime/vm.cc
Labels: compiler, runtime/vm

#8930 Drop TiledOpInterface implementations for tensor.extract_slice/insert_slice
  iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/PartitionableLoopsInterface.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tiling.mlir
Labels: buildkite:benchmark

#8929 Exposing maximum concurrency to CPU dispatch code.
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_constants.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  iree/hal/local/elf/elf_module_test_main.c
  iree/hal/local/elf/testdata/elementwise_mul_arm_32.so
  iree/hal/local/elf/testdata/elementwise_mul_arm_64.so
  iree/hal/local/elf/testdata/elementwise_mul_benchmark.txt
  iree/hal/local/elf/testdata/elementwise_mul_riscv_32.so
  iree/hal/local/elf/testdata/elementwise_mul_riscv_64.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_32.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_64.so
  iree/hal/local/elf/testdata/generate.sh
  iree/hal/local/executable_library.h
  iree/hal/local/executable_library_benchmark.c
  iree/hal/local/executable_library_test.c
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/task_command_buffer.c
Labels: codegen/llvm, hal/cpu

#8931 Prunes our usage of cpuinfo to the minimum required today.
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/api.c
  iree/task/api.h
  iree/task/executor_demo.cc
  iree/task/topology.h
  iree/task/topology_cpuinfo.c
  iree/task/topology_cpuinfo.h
  iree/task/topology_cpuinfo_test.cc
  iree/task/topology_test.cc
Labels: hal/cpu, cleanup 🧹

#8933 Adding IREE_ENABLE_CPUINFO to allow disabling cpuinfo usage.
  CMakeLists.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/topology_cpuinfo.c
Labels: hal/cpu, cleanup 🧹

#8532 [spirv] Adjust default matmul config for small M
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
Labels: codegen/spirv, buildkite:benchmark

#8945 Adding iree_loop_t arg to executable cache creation.
  experimental/rocm/rocm_device.c
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/executable_cache_test.h
  iree/hal/cuda/cuda_device.c
  iree/hal/device.h
  iree/hal/executable_cache.c
  iree/hal/executable_cache.h
  iree/hal/local/sync_device.c
  iree/hal/local/task_device.c
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/module.c
Labels: hal/api

#8463 Fix TSan failures in iree/base tests.
  iree/base/internal/threading_test.cc
  iree/base/internal/wait_handle_test.cc
Labels: TSan

#8952 Printing the op when an allocation mapping fails.
  iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
Labels: compiler

#8937 NFC refactor dispatch region formation to allow multiple results.
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: buildkite:benchmark

#8960 Handle values dead outside dispatches in RewriteDestructiveUpdate.
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
Labels: buildkite:benchmark

#8975 Cleanup doc reference of iree/samples/ --> samples/
  docs/developers/best_practices.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/get_started/building_with_bazel_linux.md
  docs/developers/get_started/building_with_bazel_macos.md
  docs/developers/get_started/building_with_bazel_windows.md
  docs/website/docs/bindings/c-api.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/extensions/index.md
Labels: documentation ✏️, cleanup 🧹

#8798 Add tests for VM to EmitC conversions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/list_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/list_ops_i64.mlir
Labels: compiler/emitc

#8972 Adding -iree-hal-dump-executable-intermediates/binaries-to= flags.
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.h
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.h
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/SerializeExecutables.cpp
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
  iree/test/microbenchmarks/linalg_transpose.mlir
Labels: compiler, quality of life 😊

#8979 Add FoldAffineMinInDistributedLoopsPass to CPU pipeline.
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark

#8981 [spirv] NFC: clean up setDefaultOpConfig a bit
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ext_ops.mlir
Labels: codegen/spirv, cleanup 🧹, buildkite:benchmark

#8994 [spirv] Do not use vectorization pipeline for pooling ops
  integrations/tensorflow/test/iree_tfl_tests/vulkan_mobilenet_v1.run
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
Labels: codegen/spirv

#8976 Enable checking stack allocation before converting to LLVM dialect.
  iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion.mlir
Labels: buildkite:benchmark

#8998 Enable matmul e2e tests for Vulkan
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
  iree/test/e2e/matmul/generate_e2e_matmul_tests.py
Labels: hal/vulkan, codegen/spirv

#8993 Add docs for benchmark suites and tools.
  benchmarks/README.md
  build_tools/benchmarks/README.md
Labels: documentation ✏️, infrastructure/benchmark

#9007 Update information on IREE Bare-Metal Arm
  docs/website/docs/community/index.md
Labels: documentation ✏️

#9013 Clean up references to deleted CMake options.
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/get_started/cmake_options_and_variables.md
Labels: infrastructure/cmake, cleanup 🧹

#9014 Update doc with rv32 bare-metal example
  docs/website/docs/deployment-configurations/bare-metal.md
Labels: documentation ✏️

#9002 [NFC] Refactor distribution tiling sizes chosen logic.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: buildkite:benchmark

#9021 [NFC] Add CPU microarchitecture to DeviceInfo
  build_tools/benchmarks/common/android_device_utils.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/common/linux_device_utils_test.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark
