Repository iree-org/iree, pull requests merged in 2022-09, with the labels that each got.

#10245 Handle multi-result operations and dispatches.
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10215 Specialize tiling sizes for N=2 and M=2 cases in matmul_to_mmt4d transform.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertLinalgMatmulToMmt4D.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/matmul_to_mmt4d.mlir
Labels: buildkite:benchmark

#10260 Limit vector level tiling sizes aggressively for elementwise dispatches.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#10273 Refine web test runner style (text wrapping, console colors, etc.).
  experimental/web/testing/index_template.html
  experimental/web/testing/test-runner.html
Labels: platform/web 🌐

#10270 Reworking CPU data queries and access for vmvx/builtins/compiler-produced code.
  compiler/src/iree/compiler/Dialect/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
  compiler/src/iree/compiler/Dialect/Modules/HAL/Inline/Transforms/test/inline_executables.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Conversion/HALToVMVX/test/interface_ops.mlir
  runtime/src/iree/base/internal/BUILD
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/base/internal/cpu.h
  runtime/src/iree/builtins/ukernel/BUILD
  runtime/src/iree/builtins/ukernel/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/common.h
  runtime/src/iree/hal/drivers/local_sync/BUILD
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/BUILD
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/elf/BUILD
  runtime/src/iree/hal/local/elf/CMakeLists.txt
  runtime/src/iree/hal/local/elf/elf_module_test_main.c
  runtime/src/iree/hal/local/executable_environment.c
  runtime/src/iree/hal/local/executable_environment.h
  runtime/src/iree/hal/local/executable_library.h
  runtime/src/iree/hal/local/executable_library_benchmark.c
  runtime/src/iree/hal/local/executable_library_test.c
  runtime/src/iree/hal/local/executable_loader.c
  runtime/src/iree/hal/local/executable_loader.h
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/loaders/embedded_elf_loader.c
  runtime/src/iree/hal/local/loaders/static_library_loader.c
  runtime/src/iree/hal/local/loaders/system_library_loader.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/local/local_executable.c
  runtime/src/iree/hal/local/local_executable.h
  runtime/src/iree/hal/local/local_executable_cache.c
  runtime/src/iree/hal/local/local_executable_cache.h
  runtime/src/iree/modules/hal/inline/BUILD
  runtime/src/iree/modules/hal/inline/CMakeLists.txt
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/modules/hal/loader/module.c
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/modules/vmvx/module.h
  runtime/src/iree/schemas/BUILD
  runtime/src/iree/schemas/CMakeLists.txt
  runtime/src/iree/schemas/cpu_data.h
  runtime/src/iree/task/affinity_set.h
  runtime/src/iree/task/task.c
  runtime/src/iree/task/task.h
  runtime/src/iree/task/task_impl.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/vm/stack.c
  runtime/src/iree/vm/stack.h
Labels: hal/cpu

#10283 [vulkan] Update various targets to match current status
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-mali.cmake
  build_tools/benchmarks/comparisons/setup_mobile.sh
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  tests/e2e/matmul/BUILD
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/vulkan_specific/BUILD
  tests/e2e/vulkan_specific/CMakeLists.txt
Labels: hal/vulkan, codegen/spirv

#10295 Add `--iree-input-type=` flag to sample commands in docs.
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
Labels: documentation

#10301 Fix shell highlights for sample iree-compile commands.
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
Labels: documentation

#10303 Remove tooling/cpu_features, switch to base/internal/cpu.
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/cpu_features.c
  runtime/src/iree/tooling/cpu_features.h
  tests/e2e/matmul/generate_e2e_matmul_tests.py
  tools/BUILD
  tools/CMakeLists.txt
  tools/iree-e2e-matmul-test.c
Labels: runtime

#10302 Specify runner environment that jobs should target
  .github/workflows/ci.yml
Labels: infrastructure

#10264 Adapt distribution tiling params of mmt-4D to use default heuristics.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
Labels: buildkite:benchmark

#10281 Exclude more tests from ASan test configuration.
  build_tools/cmake/build_and_test_asan.sh
Labels: infrastructure

#10325 Delete Kokoro directory
  build_tools/github_actions/should_ci_run.py
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/common.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/google.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/main.cfg
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/check_vulkan.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/common.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/google.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/main.cfg
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/presubmit.cfg
  build_tools/kokoro/gcp_ubuntu/docker_run.sh
  build_tools/kokoro/gcp_ubuntu/simulate_kokoro.sh
Labels: infrastructure

#10286 [spirv] Add pipeline for performing subgroup reduction
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPUVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/gpu_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Common/test/warp_reduction.mlir
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_reduction_subgroup.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv, buildkite:benchmark

#10213 [spirv] Recognize (batch) matmul-like linalg.generic
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AppleConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
Labels: codegen/spirv

#10335 Replace MiniLM benchmark with seqlen=128 version.
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#10340 NFC: various clean ups to ConvertConv2DToImg2ColPass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2Col.cpp
Labels: codegen, cleanup 🧹

#10349 [spirv] Relax batch matmul recognization for more cases
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
Labels: performance ⚡, codegen/spirv

#10343 Add support for non-1 batch cases in img2col convolution pass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2Col.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/conv2d_to_img2col.mlir
Labels: codegen

#10373 Adding stream.async.load/store folders for bitcast ops.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
  runtime/src/iree/vm/bytecode_disasm.c
Labels: compiler/dialects

#10374 Hiding semaphores from the compiler.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertFenceOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertSemaphoreOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/fence_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/timepoint_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/BUILD
  compiler/src/iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/test/fence_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/fence_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/semaphore_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeTimelines.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_timelines.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/bytecode_module_impl.h
Labels: compiler/dialects, hal/api

#10377 Starting support for resource attribute serialization.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/ArchiveWriter.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
Labels: compiler/dialects, quality of life 😊

#10384 Update TF code from ValueOrDie() to value().
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
Labels: integrations/tensorflow

#10367 Add a script and lint check for maximum path lengths.
  .github/workflows/lint.yml
  build_tools/scripts/check_path_lengths.py
  build_tools/scripts/lint.sh
Labels: infrastructure, platform/windows 🚪

#10395 Add missing build_tf_integrations job to summary dependencies
  .github/workflows/ci.yml
Labels: infrastructure

#10409 Update Colab notebooks to use --output-format=mlir-ir.
  samples/colab/edge_detection.ipynb
  samples/colab/tflite_text_classification.ipynb
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: integrations

#9913 Limit unrolling for transpose operations on RISC-V
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/LinalgOpInfo.cpp
  compiler/src/iree/compiler/Codegen/Common/LinalgOpInfo.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.h
Labels: codegen/llvm, buildkite:benchmark, buildkite:benchmark-x86_64, codegen/riscv, buildkite:benchmark-riscv

#10411 Copy from upstream and drop reliance on upstream CodegenStrategy.
  compiler/src/iree/compiler/Codegen/Sandbox/BUILD
  compiler/src/iree/compiler/Codegen/Sandbox/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/PassDetail.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CodegenStrategy.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10441 Refactor shared memory distribution pass
  compiler/src/iree/compiler/Codegen/Common/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/test/distribute_gpu_shared_memory.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transpose_pipeline_test.mlir
Labels: buildkite:benchmark-cuda

#10436 [RISCV] Limit max unroll factor to 8 by default
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.h
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#10388 Support GEMM Pipelining *without* Epilogue Peeling
  compiler/src/iree/compiler/Codegen/Common/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/gpu_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
  tests/e2e/matmul/large_linalg_matmul.mlir
Labels: buildkite:benchmark-cuda

#10467 [spirv] Update default AMD convolution and matmul configuration
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
Labels: codegen/spirv

#10468 Fix GPU shared memory vector copy possibility analysis
  compiler/src/iree/compiler/Codegen/Common/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/test/distribute_gpu_shared_memory.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Labels: codegen/spirv

#10448 [vulkan] Create zero binding for dummy sets in BuiltinExecutables
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/native_pipeline_layout.cc
Labels: hal/vulkan

#10451 Unpeeled Epilogue for WMMA-based GEMMs
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: buildkite:benchmark-cuda

#10437 [LLVMCPU] Do not return the dim size if it is greater than maxSize.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#10464 Remove workload per workgroup
  compiler/src/iree/compiler/Codegen/Common/RemoveTrivialLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/Dialect/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10454 Update default vector level tiling sizes for ARM and RISC-V depthwise conv.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_riscv_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#10435 Add an option to control on applying tensor.pad -> insert_slice pattern.
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-mali.cmake
  build_tools/benchmarks/comparisons/setup_mobile.sh
  compiler/src/iree/compiler/Dialect/Flow/Transforms/PadTensorToTensorInsertSlice.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pad_tensor_to_tensor.mlir
Labels: buildkite:benchmark

#10470 Fix timeout property in iree_native_test
  build_tools/cmake/iree_native_test.cmake
Labels: infrastructure

#10471 Fix iree_bytecode_module RISCV crosscompile flags
  build_tools/cmake/iree_bytecode_module.cmake
Labels: infrastructure

#10486 [NFC] Replace legacy linalg.pad_tensor ops with tensor.pad ops
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_tensor_pad.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/TensorPadToTensorInsertSlice.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/tensor_pad_to_tensor_insert_slice.mlir
Labels: cleanup 🧹

#10487 Fixing stream resource usage refinement to properly reject invalid state.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackDispatchOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
Labels: bug 🐞, compiler/dialects

#10503 [spirv] Remove wrong/unused capabilities in tests
  compiler/src/iree/compiler/Codegen/SPIRV/test/vector_to_cooperative_matrix.mlir
Labels: codegen/spirv

#10516 Add cmake rule iree_fetch_artifact
  CMakeLists.txt
  benchmarks/generated_benchmark_suites.cmake
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_fetch_artifact.cmake
  build_tools/python/e2e_test_framework/iree_download_artifact_template.cmake
  build_tools/scripts/download_file.py
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10508 Make iree-benchmark-suites buildable with some backends disabled.
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: buildkite:benchmark-cuda

#10433 Adding `--expected_output=` flag to iree-run-module.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  runtime/src/iree/base/string_builder.c
  runtime/src/iree/base/string_builder.h
  runtime/src/iree/base/string_builder_test.cc
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/hal/string_util.h
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/buffer_view_matchers.h
  runtime/src/iree/tooling/buffer_view_matchers_test.cc
  runtime/src/iree/tooling/comparison.cc
  runtime/src/iree/tooling/comparison.h
  runtime/src/iree/tooling/comparison_test.cc
  runtime/src/iree/tooling/vm_util.cc
  tools/BUILD
  tools/CMakeLists.txt
  tools/iree-run-module-main.cc
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/iree-run-module-expected.mlir
Labels: runtime/tools

#10538 Centralizing file/symbol name sanitization.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/BUILD
  compiler/src/iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/BUILD
  compiler/src/iree/compiler/Dialect/VM/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/SanitizeModuleNames.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/sanitize_module_names.mlir
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.h
  compiler/src/iree/compiler/Utils/StringUtils.cpp
  compiler/src/iree/compiler/Utils/StringUtils.h
Labels: compiler/dialects, cleanup 🧹

#10460 [LLVMGPU] Turn on C promotion by default for tensorcore gemm
  compiler/src/iree/compiler/Codegen/Common/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUMultiBuffering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorToGPU.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_to_gpu.mlir
Labels: buildkite:benchmark-cuda

#10549 [spirv] Migrate to use upstream convolution CodeGen patterns
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: codegen/spirv, cleanup 🧹, buildkite:benchmark

#10544 Moving HAL executable linking to use dynamic pass pipelines.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_constants.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_workgroup_info.mlir
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Utils/BUILD
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/BUILD
  compiler/src/iree/compiler/Codegen/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/test/link_executables.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.h
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/LinkExecutables.cpp
Labels: codegen/llvm, cleanup 🧹, codegen/vmvx

#10554 [NFC] Remove IREE's convolution vectorization patterns
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/VectorizeConv.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_linalg_conv.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: cleanup 🧹

#10558 [LLVMGPU] Remove restriction on shared memory promotion
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorAlloc.cpp
Labels: buildkite:benchmark-cuda

#10224 Add ReplacePushConstants pass for WebGPU.
  compiler/src/iree/compiler/Codegen/BUILD
  compiler/src/iree/compiler/Codegen/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/WGSL/BUILD
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/WGSLReplacePushConstants.cpp
  compiler/src/iree/compiler/Codegen/WGSL/test/BUILD
  compiler/src/iree/compiler/Codegen/WGSL/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/test/replace_push_constants.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
Labels: codegen/spirv, hal/webgpu

#10523 Enable RISC-V 32-bit Linux tests
  .github/workflows/ci.yml
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/cmake/run_riscv64_test.sh
  build_tools/cmake/run_riscv_test.sh
  build_tools/cmake/test_riscv.sh
  build_tools/cmake/test_riscv64.sh
  build_tools/riscv/riscv_bootstrap.sh
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
  samples/simple_embedding/device_embedded.c
Labels: infrastructure, codegen/riscv

#10572 Refresh integrations/tensorflow/iree-dialects
  integrations/tensorflow/iree-dialects/BUILD
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/PassDetail.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/TransformOps/LinalgExtTransformOps.td
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/StructuredTransformOpsExt.td
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Passes/Tiling.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/TransformOps/LinalgExtTransformOps.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/CodegenStrategy.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/ForeachThreadToSequentialFor.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Fusion.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Tiling.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/TilingToForeachThreadOp.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/convert_to_loops.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/foreach-thread-to-async.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/foreach-thread-to-scf-for.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/fuse-in-containing-op.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/fuse-operands.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/invalid.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/roundtrip.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/tiling-to-foreach-thread-op.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/tiling.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/bufferize.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/drop-schedule.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/expert.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/failure.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/fuse-and-peel.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/fuse.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/generalize.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/interchange.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/invalid.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/pad.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/peel.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/print.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/roundtrip.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/scalarize.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/selective-targeting.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/single-tiling-full-script.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile-and-peel.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile-interchange.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/vectorize-transforms.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/vectorize.mlir
Labels: integrations

#10571 [spirv] NFC: Refactor convolution configuration deduction logic
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Labels: codegen/spirv

#10570 [spirv] Check memref innermost dim is a multiple of vector size
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv

#10573 [spirv] Plumb NCHW convolution support through
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AppleConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
Labels: codegen/spirv

#10576 Move test_shark_model_suite job to postsubmit only.
  .github/workflows/ci.yml
Labels: infrastructure

#10319 Test runtime Emscripten builds.
  .github/workflows/ci.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/prod_digests.txt
Labels: infrastructure, platform/web 🌐

#10580 Extending imports to have a context pointer.
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  runtime/src/iree/hal/local/executable_library.h
  runtime/src/iree/hal/local/executable_loader.c
  runtime/src/iree/hal/local/executable_loader.h
  runtime/src/iree/hal/local/loaders/embedded_elf_loader.c
  runtime/src/iree/hal/local/loaders/system_library_loader.c
Labels: codegen/llvm, hal/cpu

#10581 Generate a page for `pip --find-links` from the GitHub releases API
  .github/workflows/publish_website.yml
  build_tools/scripts/generate_release_index.py
Labels: infrastructure, bindings/python

#10597 Update references to using `--find-links` for new index
  benchmarks/README.md
  docs/api_docs/python/requirements.txt
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/website/docs/bindings/python.md
  experimental/web/generate_web_metrics.sh
Labels: bindings/python

#10603 Regenerate Colab notebooks using new nightly package index page.
  samples/colab/edge_detection.ipynb
  samples/colab/low_level_invoke_function.ipynb
  samples/colab/mnist_training.ipynb
  samples/colab/resnet.ipynb
  samples/colab/tensorflow_hub_import.ipynb
  samples/colab/tflite_text_classification.ipynb
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: bindings/python

#10588 Refresh testing guide
  docs/developers/developing_iree/testing_guide.md
Labels: documentation, infrastructure

#10579 Remove legacy fusion heuristics.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensorsViaRegionOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InterchangeTransposeGenericOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_reduction_broadcast_elementwise.mlir
  integrations/tensorflow/test/iree_tf_tests/layers/vulkan__dynamic_dims_Softmax.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_log_softmax.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_softmax.run
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10589 Enable iree_static_linker_test for cross compile
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_c_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_static_linker_test.cmake
  docs/developers/developing_iree/testing_guide.md
Labels: infrastructure, codegen/llvm
