Repository iree-org/iree, pull requests merged in 2022-07, with the labels that each got.

#9681 Add `flow.dispatch.default_workgroup_count` op.
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/distribute_gpu_shared_memory.mlir
  compiler/src/iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transpose_avx2_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/distribute_to_thread.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_vector_distribution.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_vectorization.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_scatter.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transformation_pipeline.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_embedded.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_system.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/ROCM/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/linking.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/resolve_export_ordinals.mlir
  compiler/src/iree/compiler/Dialect/Stream/Builtins/fill_i64.mlir
  compiler/src/iree/compiler/Dialect/Stream/Builtins/splat_i64.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_builtins.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  runtime/src/iree/hal/cts/testdata/executable_cache_test.mlir
  tests/compiler_driver/streams.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9558 Fix teardown race in threading_test
  runtime/src/iree/base/internal/threading_test.cc
Labels: runtime, TSan

#9694 Add support for lowering memref.alloca to VM dialect.
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/test/memref_ops.mlir
Labels: compiler/dialects

#9708 Add utility functions for VM to EmitC conversion
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.h
Labels: cleanup 🧹, compiler/emitc

#9715 Split the alignment flag for non 64-bit types
  runtime/src/iree/base/alignment.h
  runtime/src/iree/base/target_platform.h
Labels: runtime

#9697 Fix setting IREE_MEMORY_ACCESS_ALIGNMENT_REQUIRED
  runtime/src/iree/base/target_platform.h
Labels: runtime

#9698 Cleaning up some iree_hal_device_t methods.
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/buffer_transfer.c
  runtime/src/iree/modules/hal/module.c
Labels: hal/api, cleanup 🧹

#9692 Adding extern C around embedded data toc impl.
  build_tools/embed_data/generate_embed_data_main.cc
Labels: runtime/tools, cleanup 🧹

#9691 Removing todo for a flow.tensor.cast equivalent.
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/cast.mlir
Labels: compiler/dialects, cleanup 🧹

#9724 Fix shutdown deadlock
  runtime/src/iree/task/poller.c
Labels: bug 🐞, TSan

#9722 Consistently treat worker_*_masks as loose hints with relaxed accesses
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/post_batch.c
  runtime/src/iree/task/worker.c
Labels: hal/cpu

#7080 Add vm.abs.i32 and vm.abs.i64 ops.
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/generated/bytecode_op_table.h
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/arithmetic_ops.mlir
  runtime/src/iree/vm/test/arithmetic_ops_i64.mlir
Labels: compiler/dialects, runtime/vm

#9684 Include the baseline compilation metrics in the report
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/diff_local_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9753 Removing the need for the ririririri fields in vmvx arg structs.
  runtime/src/iree/modules/vmvx/exports.inl
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/vm/shims.h
Labels: hal/cpu, cleanup 🧹

#9757 Replace config string with DriverInfo
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9762 Fixing duplicate pattern from #9662 triggering asserts.
  compiler/src/iree/compiler/Dialect/VM/Conversion/MemRefToVM/ConvertMemRefToVM.cpp
Labels: bug 🐞, compiler/dialects

#9769 Add conversion tests for vm.abs ops
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
Labels: compiler/emitc

#9733 Add CUDA support to benchmark tools
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/common/linux_device_utils_test.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark-riscv

#9773 [spirv] Enable passing round.mlir test
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
Labels: codegen/spirv

#9774 Add a workflow for building and testing the runtime post-submit
  .github/workflows/build_runtime_cmake.yml
  .github/workflows/postsubmit.yml
  .github/workflows/test_runtime_cmake.yml
Labels: infrastructure

#9783 Web sample tweaks for showing demos.
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/benchmarks.html
  experimental/web/sample_dynamic/device_sync.c
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_dynamic/main.c
  experimental/web/sample_static/index.html
  experimental/web/testing/index_template.html
  experimental/web/testing/test-runner.html
Labels: platform/web 🌐

#9776 Handle the missing results when posting comments
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  build_tools/buildkite/cmake/linux/pipeline.yml
Labels: buildkite:benchmark-riscv

#9794 Misc cleanups to the HAL dialect.
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertHALToVM.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StandardToHAL/ConvertStructuralOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.h
Labels: compiler/dialects, cleanup 🧹

#9798 Enabling kEmitAccessorPrefix_Prefixed for the util dialect.
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExpandTensorShapes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OptimizeNumerics.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/StripAndSplatConstantVariables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/UtilToHAL/ConvertUtilToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  compiler/src/iree/compiler/Dialect/Modules/VMVX/IR/VMVXBase.td
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateSubviews.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/CombineInitializers.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/SimplifyGlobalAccesses.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertAlignmentOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertGlobalOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertStatusOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
Labels: compiler/dialects, cleanup 🧹

#9690 Remove explicit import pass pipelines from compiler API.
  compiler/src/iree/compiler/API/Compiler.cpp
  compiler/src/iree/compiler/API/Compiler.h
  compiler/src/iree/compiler/API/python/IREECTransforms.cpp
  compiler/src/iree/compiler/API/python/test/transforms/ireec/compile_sample_module.py
  compiler/src/iree/compiler/API/python/test/transforms/ireec/compiler_options_test.py
  compiler/src/iree/compiler/API/test/compile-mhlo-test-main.c
Labels: bindings/python, compiler/api, cleanup 🧹

#9801 Enabling kEmitAccessorPrefix_Prefixed for the stream dialect.
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BindingLayout.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/ConvertHALToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertConstantOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/UtilToStream/ConvertUtilToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FoldUniformOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/LayoutSlices.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeCopyOnWrite.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackDispatchOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateSubviews.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleConcurrency.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
Labels: compiler/dialects, cleanup 🧹

#9805 Copy iree-dialects/ to integrations/ to be consistent
  integrations/tensorflow/iree-dialects/BUILD
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Transforms.h
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/TransformOps/LinalgExtTransformOps.td
  integrations/tensorflow/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/TransformOps/LinalgExtTransformOps.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/ForeachThreadToSequentialFor.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Fusion.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/TilingExternalModels.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/TilingToForeachThreadOp.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Transforms/Utils.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/fuse-in-containing-op.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/fuse-operands.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/iree_linalg_ext/tiling-to-foreach-thread-op.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/double-tiling.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/drop-schedule.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/failure.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/scalarize.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/selective-targeting.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/single-tiling-full-script.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile-and-peel.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile-interchange.mlir
  integrations/tensorflow/iree-dialects/test/Dialect/linalg_transform/tile.mlir
  integrations/tensorflow/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: integrations/tensorflow

#9607 Enable peeling for fully dynamic GEMMs and element-wise ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  tests/microbenchmarks/CMakeLists.txt
  tests/microbenchmarks/dynamic_shape_vectorization.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9815 Update information on IREE C++ Template
  docs/website/docs/community/index.md
Labels: documentation

#9765 Check in scripts to deploy on GitHub runners
  build_tools/github_actions/runner/config/chown_workdir.sh
  build_tools/github_actions/runner/config/cleanup_workdir.sh
  build_tools/github_actions/runner/config/functions.sh
  build_tools/github_actions/runner/config/post_job.sh
  build_tools/github_actions/runner/config/pre_job.sh
  build_tools/github_actions/runner/config/runner.env
  build_tools/github_actions/runner/config/setup.sh
  build_tools/github_actions/runner/config/validate_trigger.postsubmit.sh
  build_tools/github_actions/runner/config/validate_trigger.presubmit.sh
  build_tools/github_actions/runner/config/validate_trigger.releaser.sh
  build_tools/github_actions/runner/fetch_and_setup.sh
Labels: infrastructure

#9799 Support different arg and return types in VM constFoldBinaryOp.
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/test/comparison_folding.mlir
Labels: compiler/dialects

#7081 Add vm.check.nearly_eq and vm.cmp.eq.f*.near pseudo ops.
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/comparison_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/comparison_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/control_flow_folding.mlir
  runtime/src/iree/vm/test/comparison_ops_f32.mlir
Labels: compiler/dialects, runtime/vm

#9825 Summarize presubmit in single PR check
  .github/workflows/presubmit.yml
Labels: infrastructure

#9838 Replace mhlo ops with core dialect ops in more tests.
  compiler/src/iree/compiler/API/python/test/tools/compiler_core_test.py
  compiler/src/iree/compiler/API/python/test/transforms/ireec/compile_sample_module.py
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  runtime/bindings/python/tests/system_api_test.py
  runtime/bindings/python/tests/vm_test.py
  runtime/src/iree/runtime/demo/README.md
  samples/static_library/README.md
  samples/static_library/simple_mul.mlir
Labels: compiler/dialects, cleanup 🧹

#9839 [docs] Mention test dependencies
  docs/website/docs/building-from-source/getting-started.md
Labels: documentation

#9844 Replace mhlo ops with core dialect ops in type conversion tests.
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/demote_f32_to_f16.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/demote_f64_to_f32.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/demote_i64_to_i32.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/promote_f16_to_f32.mlir
Labels: compiler/dialects, cleanup 🧹

#9846 Clean up compiler API test binary.
  compiler/src/iree/compiler/API/test/BUILD
  compiler/src/iree/compiler/API/test/CMakeLists.txt
  compiler/src/iree/compiler/API/test/api-test-main.c
Labels: compiler/api, cleanup 🧹

#9647 Drop VectorizeMMT4D!
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUAArch64VectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/aarch64_dotprod_vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark

#9848 Revert "Drop VectorizeMMT4D!"
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUAArch64VectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/aarch64_dotprod_vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark

#9852 Remove unnecessary `--iree-input-type=mhlo` flag uses.
  runtime/bindings/tflite/testdata/BUILD
  runtime/bindings/tflite/testdata/CMakeLists.txt
  runtime/src/iree/modules/check/test/BUILD
  runtime/src/iree/modules/check/test/CMakeLists.txt
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/modules/check/test/unavailable.mlir
  runtime/src/iree/runtime/testdata/BUILD
  runtime/src/iree/runtime/testdata/CMakeLists.txt
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
  tools/test/benchmark_flags.txt
  tools/test/multiple_exported_functions.mlir
Labels: compiler/tools, cleanup 🧹

#9854 Remove "AOT" from LLVM target names.
  CMakeLists.txt
  build_tools/bazel/build_core.sh
  build_tools/bazel/iree_check_test.bzl
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_external_cmake_options.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/AndroidLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/UnixLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  compiler/src/iree/compiler/Tools/BUILD
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_targets.cc
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/developing_iree/sanitizers.md
  docs/website/docs/deployment-configurations/cpu.md
  runtime/src/iree/hal/drivers/local_sync/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/cts/CMakeLists.txt
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
  samples/static_library/CMakeLists.txt
  samples/static_library/README.md
  tests/e2e/linalg_ext_ops/BUILD
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/matmul/BUILD
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/models/BUILD
  tests/e2e/models/CMakeLists.txt
  tests/e2e/regression/BUILD
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/tensor_ops/BUILD
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tosa_ops/BUILD
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
  tools/build_config_template.txt.in
Labels: codegen/llvm, compiler/tools, cleanup 🧹

#9845 Create multi-stage RISCV-32 build
  .github/workflows/host_tools.yml
  .github/workflows/presubmit.yml
  .github/workflows/riscv32.yml
  .github/workflows/test_runtime_cmake.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/build_host_and_riscv.sh
  build_tools/cmake/build_host_install.sh
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_riscv.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  experimental/web/testing/build_tests.sh
Labels: buildkite:benchmark-x86_64

#9810 [spirv] NFC: print messages to make errors obvious
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
Labels: codegen/spirv

#9663 Add a triple tiling expert for gemm for experiments.
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/triple_tiling_expert_pipeline.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
Labels: buildkite:benchmark-x86_64

#9870 Refactor matmul workgroup size computation and improve RISC-V default
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_riscv_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9875 Fix submodule checkout for buildkite pipeline
  build_tools/buildkite/cmake/linux/pipeline.yml
Labels: buildkite:benchmark-x86_64

#9884 Change default transpose lowering from eltwise to shuffle
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9885 Change default multi-reduction lowering from innerparallel to innerreduction
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9830 [EmitC] Add builders for `&` and `*` operators
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCTypeConverter.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/func_op.mlir
Labels: compiler/emitc

#9882 Drop VectorizeMMT4D! Take 2, attempt at relanding #9647.
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/VectorizeMMT4d.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_linalg_mmt4d.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUAArch64VectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/aarch64_dotprod_vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark

#9892 Limit unroll factor for reductions when computing min tile sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9891 Simplifying vm call interface.
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/runtime/session.c
  runtime/src/iree/runtime/session.h
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/bytecode_dispatch_async_test.cc
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module.h
  runtime/src/iree/vm/native_module_cc.h
  runtime/src/iree/vm/native_module_packing.h
  runtime/src/iree/vm/native_module_test.h
  runtime/src/iree/vm/shims.h
  runtime/src/iree/vm/shims_emitc.h
Labels: runtime/vm, cleanup 🧹

#9898 Add Android LLDB debugging instructions
  docs/developers/debugging/lldb_on_android.md
Labels: documentation, platform/android 🤖

#9901 Adding support for complex types in size calculations.
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.h
Labels: compiler/dialects

#9909 [hal][cuda] Use the primary context if available in hal
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
Labels: hal/cuda

#9910 Roll-up of improvements to the VM dialect.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Util/Conversion/ConversionPatterns.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/PropagateSubrange.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/propagate_subranges.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/TargetOptions.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/comparison_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
Labels: compiler/dialects, buildkite:benchmark

#9908 Change LLVM optimization level from O3 to O2
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMIRPasses.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
Labels: codegen/llvm, buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9906 Detach splat constants used as outs operands for `LinalgExt` ops.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DetachElementwiseFromNamedOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/detach_elementwise_from_named_ops.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#9917 Setting insertion point for memref subview expansion.
  compiler/src/iree/compiler/Codegen/VMVX/LowerLinalgMicrokernels.cpp
Labels: bug 🐞, codegen/vmvx

#9921 Bump C++ standard version to 17.
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
Labels: infrastructure

#9474 Begin to rework how input dialects / pipelines are configured.
  CMakeLists.txt
  compiler/src/iree/compiler/API/BUILD
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/API/Compiler.cpp
  compiler/src/iree/compiler/API/Compiler.h
  compiler/src/iree/compiler/API/Tools.h
  compiler/src/iree/compiler/InputConversion/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/MHLO/BUILD
  compiler/src/iree/compiler/InputConversion/MHLO/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/TMTensor/BUILD
  compiler/src/iree/compiler/InputConversion/TMTensor/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/TMTensor/test/BUILD
  compiler/src/iree/compiler/InputConversion/TMTensor/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/TOSA/BUILD
  compiler/src/iree/compiler/InputConversion/TOSA/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/BUILD
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Tools/BUILD
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_dialects.h
  compiler/src/iree/compiler/Tools/init_input_dialects.cc
  compiler/src/iree/compiler/Tools/init_input_dialects.h
  compiler/src/iree/compiler/Tools/init_input_passes.cc
  compiler/src/iree/compiler/Tools/init_input_passes.h
  compiler/src/iree/compiler/Tools/init_iree_passes.h
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
  compiler/src/iree/compiler/Tools/init_mlir_passes.h
  compiler/src/iree/compiler/Tools/init_passes.h
  compiler/src/iree/compiler/Tools/init_torch_mlir_dialects.h
  compiler/src/iree/compiler/Tools/init_xla_dialects.h
  docs/developers/get_started/cmake_options_and_variables.md
Labels: infrastructure, compiler/api, compiler/tools, cleanup 🧹

#9912 Add unit support in benchmark tools
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: buildkite:benchmark-x86_64

#9935 Update docs to use "llvm-cpu" and "local-task" names consistently.
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/getting-started/tflite.md
  runtime/src/iree/hal/local/executable_library_benchmark.md
Labels: documentation, cleanup 🧹

#9919 Adding support for external func.func -> vm.import conversion.
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVMTest.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_attrs.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/global_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
Labels: compiler/dialects

#9791 Add CUDA benchmark pipeline for MiniLM
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/buildkite/cmake/linux/cuda/benchmark.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark2.yml
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_linux_benchmark_modules.sh
  build_tools/cmake/build_linux_benchmark_tools.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/build.sh
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#9944 Fix capture artifact name for Moto Edge X30
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cleanup 🧹

#9927 Build and test TF integrations
  .github/workflows/ci.yml
  build_tools/cmake/build_tf_binaries.sh
  build_tools/cmake/run_tf_tests.sh
  integrations/tensorflow/symlink_binaries.sh
Labels: infrastructure

#9946 [spirv] Tile parallel dimensions after thread distribution
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
Labels: codegen/spirv, buildkite:benchmark

#9330 Rework Python driver/device creation.
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/iree/runtime/__init__.py
  runtime/bindings/python/iree/runtime/_binding.py
  runtime/bindings/python/iree/runtime/system_api.py
  runtime/bindings/python/iree/runtime/system_setup.py
  runtime/bindings/python/status_utils.cc
  runtime/bindings/python/tests/array_interop_test.py
  runtime/bindings/python/tests/devices_cli_test.py
  runtime/bindings/python/tests/hal_test.py
  runtime/bindings/python/tests/system_api_test.py
  runtime/bindings/python/tests/system_setup_test.py
  runtime/bindings/python/tests/vm_test.py
  runtime/src/iree/hal/drivers/local_sync/sync_driver.c
  runtime/src/iree/hal/drivers/local_task/task_driver.c
Labels: runtime, hal/vulkan, bindings/python

#9950 Switch to zstd for compression of artifacts passed between jobs
  .github/workflows/ci.yml
Labels: infrastructure

#9947 Adding custom_module sample.
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/propagate_subviews.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/propagate_timepoints.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/PropagateSubrange.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/propagate_subranges.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  samples/custom_module/CMakeLists.txt
  samples/custom_module/README.md
  samples/custom_module/main.c
  samples/custom_module/module.cc
  samples/custom_module/module.h
  samples/custom_module/test/CMakeLists.txt
  samples/custom_module/test/example.mlir
Labels: runtime/api
