Repository iree-org/iree, pull requests merged in 2022-11, with the labels that each got.

#10983 Adding flag for setting VMA preferredLargeHeapBlockSize.
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/drivers/vulkan/vma_allocator.cc
  runtime/src/iree/hal/drivers/vulkan/vma_allocator.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#10989 NFC: Move matmul C matrix promotion related code to Common/
  compiler/src/iree/compiler/Codegen/Common/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Labels: codegen/spirv, codegen/nvvm, cleanup 🧹

#10998 [spirv] Fix K tile size deduction for cooperative matrix
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul_cooperative_ops.mlir
Labels: codegen/spirv

#10979 [spirv] Support GPU subgroup MMA ops in SPIRVVectorizeLoadStore
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv

#10980 [spirv] Promote C matrix to support various fused elementwise ops
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
Labels: codegen/spirv

#11010 Bump actions/add-to-project version to use new API.
  .github/workflows/process_opened_issues.yml
Labels: infrastructure

#11020 [spirv] Allow multiple tiles on M/N dimension for cooperative matrix
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
Labels: codegen/spirv

#11012 Add build_runtime_windows CI job.
  .github/workflows/ci.yml
  build_tools/scripts/git/update_runtime_submodules.sh
Labels: infrastructure, platform/windows 🚪

#11017 Use an async invocation and async readback in WebGPU sample.
  experimental/web/sample_webgpu/CMakeLists.txt
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/index.html
  experimental/web/sample_webgpu/main.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_heap_impl.h
  runtime/src/iree/hal/drivers/webgpu/builtins.c
  runtime/src/iree/hal/drivers/webgpu/executable.c
  runtime/src/iree/hal/drivers/webgpu/platform/emscripten/emscripten_util.c
  runtime/src/iree/hal/drivers/webgpu/platform/webgpu.h
  runtime/src/iree/hal/drivers/webgpu/simple_allocator.c
Labels: runtime, platform/web 🌐

#11046 Supporting concurrent in-place copies during stream allocation.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: compiler/dialects

#11047 [spirv] Avoid promoting C matrix if no fused elementwise ops
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
Labels: codegen/spirv

#11052 Adding `--verify` and `--compile-to=` flags to iree-compile.
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.h
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
Labels: compiler/tools, quality of life 😊

#11051 [spirv] Avoid vectorizing non-minor-identity transfer ops
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv

#11048 Fix several tests on Windows.
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  runtime/src/iree/base/internal/wait_handle_win32.c
Labels: platform/windows 🚪

#11066 Fixing iree_hal_vulkan_driver_create_using_instance ownership.
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
Labels: bug 🐞, hal/vulkan

#11067 Improving stream partitioning debug output speed by like 10000x.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning.h
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
Labels: compiler/dialects

#11032 Test Windows runtime on presubmit, merge build/test runtime jobs.
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#10852 Enable quantized conv decomposition
  compiler/src/iree/compiler/InputConversion/TOSA/Passes.cpp
Labels: buildkite:benchmark-x86_64

#11079 Assorted fixes for tests on Windows.
  build_tools/cmake/iree_python.cmake
  runtime/src/iree/builtins/ukernel/tools/pack_test.cc
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
Labels: infrastructure, runtime, platform/windows 🚪, bindings/python

#11089 Forward vcvarsall env vars through lit.cfg.py.
  compiler/lit.cfg.py
  tests/lit.cfg.py
Labels: infrastructure, platform/windows 🚪

#11065 Adding vm::ref<T> support for non-iree_vm_ref_t ref types.
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/ConstEval/Runtime.h
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/vm/context.h
  runtime/src/iree/vm/instance.h
  runtime/src/iree/vm/invocation.h
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/ref.h
  runtime/src/iree/vm/ref_cc.h
  tools/iree-benchmark-module-main.cc
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
Labels: runtime/api, quality of life 😊

#11097 Condition cuda microbenchmarks on cuda backend.
  tests/microbenchmarks/CMakeLists.txt
Labels: buildkite:benchmark-android

#11100 [spirv] Disable subgroup reduction for SwiftShader
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/reduction_lowering.mlir
Labels: codegen/spirv

#11113 Add some line breaks in package index
  build_tools/scripts/generate_release_index.py
Labels: infrastructure, bindings/python

#11058 [spirv] Allow performing scalar load/store when promotion
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVBreakDownLargeVector.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/break_down_large_vector.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_matmul.mlir
Labels: codegen/spirv

#11117 [spirv] Fix shared memory calculation to include bank conflict reduction padding
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#10667 [spirv] Add verifier for lowering configurations
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Labels: codegen/spirv

#11086 [spirv] Enable multi-buffering for simt matmuls
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPUMultiBuffering.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
Labels: codegen/spirv

#11092 [spirv] Fix missing tiling for bufferization generated fill ops
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_user.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
Labels: codegen/spirv

#11130 Use wgpuCommandEncoderClearBuffer when possible.
  runtime/src/iree/hal/drivers/webgpu/command_buffer.c
Labels: platform/web 🌐

#11119 Exclude tests failing on Windows in ctest_all.sh.
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#10529 [vulkan] Use unknown triple as the default
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: hal/vulkan, codegen/spirv

#11138 Replacing our bad topological sort with the upstream one.
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleConcurrency.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Utils/BUILD
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/GraphUtils.cpp
  compiler/src/iree/compiler/Utils/GraphUtils.h
Labels: compiler/dialects, cleanup 🧹

#11142 [spirv] Drop workaround for reduction after changing default
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Labels: codegen/spirv

#11050 Add build_test_all_windows CI job.
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#11131 Translate flow.tensor.empty to stream.tensor.empty.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InitializeEmptyTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/initialize_empty_tensor.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/initialize_empty_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Labels: compiler/dialects, performance ⚡, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11153 [GPU] Refactor reduction tiling pass
  compiler/src/iree/compiler/Codegen/Common/GPUTileReduction.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_reduction.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/reduction_lowering.mlir
Labels: codegen/spirv, codegen/nvvm

#11135 [LLVMCPU] Add a flag to disable pad + consumer fusion passes by default
  benchmarks/TFLite/android-arm64-v8a.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  benchmarks/generated_benchmark_suites.cmake
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#11161 Excludes TF model directories from benchmark suite archive
  .github/workflows/benchmarks.yml
Labels: infrastructure, infrastructure/benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11156 Fixing current deprecation warnings and re-enabling them.
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/iree_copts.cmake
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  integrations/tensorflow/build_tools/bazel/iree-tf.bazelrc
  integrations/tensorflow/iree-dialects/lib/Dialect/Input/InputOps.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgExt/Passes/SplitReduction.cpp
  integrations/tensorflow/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/Input/InputOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/SplitReduction.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
Labels: cleanup 🧹

#11164 Add TF ResNet50 model to benchmarks
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#11124 Add TF BertForMaskedLM Model
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#10719 Generate Flow::WorkgroupsOps via RegionOps
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensorsViaRegionOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  tests/e2e/models/fullyconnected.mlir
  tests/transform_dialect/cpu/matmul.mlir
Labels: infrastructure/benchmark, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11176 Add the CMake test for generate_embed_data
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/c_embed_data_test.cc
Labels: infrastructure

#11175 Set python-version to 3.10 in Windows CI job.
  .github/workflows/ci.yml
  build_tools/cmake/build_all.sh
  build_tools/cmake/ctest_all.sh
Labels: platform/windows 🚪, bindings/python

#11141 Support loading run config to BenchmarkSuite
  build_tools/benchmarks/CMakeLists.txt
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/cmake/iree_python.cmake
  build_tools/python/e2e_test_artifacts/artifacts.py
  build_tools/python/e2e_test_artifacts/iree_artifacts.py
  build_tools/python/e2e_test_artifacts/iree_artifacts_test.py
Labels: buildkite:benchmark-x86_64

#11177 [Vulkan] Add target triple for RDNA3
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: hal/vulkan, codegen/spirv

#11008 [spirv] Lower `tosa.apply_scale` before i64 emulation
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#11108 [docker] More code sharing and use development clang for Bazel builds
  .dockerignore
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/run_shark_tank.yml
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_linux_benchmark.sh
  build_tools/cmake/build_linux_benchmark_modules.sh
  build_tools/cmake/build_tf_binaries.sh
  build_tools/docker/context/install_bazel.sh
  build_tools/docker/context/install_cmake.sh
  build_tools/docker/context/install_iree_deps.sh
  build_tools/docker/context/install_python_deps.sh
  build_tools/docker/context/install_swiftshader.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/manylinux2014_x86_64-release.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/shark.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/scripts/integrate/README.md
  build_tools/third_party/swiftshader/build_vk_swiftshader.sh
  integrations/tensorflow/test/requirements.txt
  runtime/bindings/python/iree/runtime/build_requirements.txt
Labels: infrastructure

#11202 Convert HAL::DescriptorTypeAttr to proper attributes
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/VM/Conversion/ConversionDialectInterface.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
Labels: compiler/dialects

#11218 [WebGPU] Use staging_buffer->bind_group_layout during pipeline creation.
  runtime/src/iree/hal/drivers/webgpu/pipeline_layout.c
  runtime/src/iree/hal/drivers/webgpu/pipeline_layout.h
  runtime/src/iree/hal/drivers/webgpu/staging_buffer.c
  runtime/src/iree/hal/drivers/webgpu/staging_buffer.h
  runtime/src/iree/hal/drivers/webgpu/webgpu_device.c
Labels: runtime, platform/web 🌐

#11204 Initial iree_loop_t implementation for web browsers.
  build_tools/cmake/iree_macros.cmake
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/loop_emscripten.c
  runtime/src/iree/base/loop_emscripten.h
  runtime/src/iree/base/loop_emscripten.js
  runtime/src/iree/base/loop_emscripten_test.cc
Labels: runtime, platform/web 🌐

#11248 Flatten uniform buffers to static 1-D MemRefs
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
Labels: codegen, codegen/spirv, platform/web 🌐

#11247 Replace string path with pathlib in benchmark tools
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/diff_local_benchmarks.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11167 Add TF EfficientNet V2 to benchmarks
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#11264 Enable TF32 for CUDA
  build_tools/benchmarks/shark/run_shark.sh
Labels: infrastructure, infrastructure/benchmark

#11268 Use upstream SCF tiling in CPU codegen
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11227 Pass #hal.descriptor_type via MemRef memory space to backends
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Common/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformDialectJitterPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/bufferize_copy_only_dispatches.mlir
  compiler/src/iree/compiler/Codegen/Common/test/erase_hal_descriptor_type.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transform_dialect_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_bufferize_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_foreach_to_gpu_spec.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMapMemRefStorageClass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/map_memref_storage_class.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  tests/e2e/linalg_transform/transform_dialect_codegen_spec.mlir
  tests/transform_dialect/cpu/matmul_codegen_custom_dispatch_formation_spec.mlir
  tests/transform_dialect/cpu/matmul_codegen_default_spec.mlir
  tests/transform_dialect/cuda/reduction_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_partial_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_v2_codegen_spec.mlir
  tests/transform_dialect/cuda/vecadd2d_codegen_spec.mlir
Labels: codegen, codegen/spirv, platform/web 🌐

#11283 Deprecate `IREE_ENABLE_CCACHE` option
  CMakeLists.txt
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  docs/developers/debugging/releases.md
  docs/developers/developing_iree/ccache.md
  docs/website/docs/building-from-source/getting-started.md
Labels: infrastructure

#11190 [vm] Do not define all arithmetic ops as `Pure`
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_speculation.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10648 Make elementwise parallel operations use in-place updates only for non-vectorizable ops
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11336 Letting FusionOfTensorOps apply patterns forever.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11115 Add PyTorch embedded example.
  samples/native_training/Makefile
  samples/native_training/README.md
  samples/native_training/main.c
  samples/native_training/native_training.py
Labels: runtime, integrations

#11351 Disable build_test_all_windows job while it is failing.
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#11327 [WebGPU] Add compilation tests for xla_ops/ and tosa_ops/ (again).
  build_tools/cmake/iree_check_test.cmake
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/e2e/xla_ops/CMakeLists.txt
Labels: infrastructure, platform/web 🌐

#11329 Cleanup build scripting
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_benchmarks.sh
  build_tools/cmake/build_e2e_test_artifacts.sh
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_tf_binaries.sh
  build_tools/cmake/build_tracing.sh
  build_tools/cmake/setup_build.sh
  build_tools/cmake/test_riscv.sh
  tests/riscv32/smoke.sh
Labels: infrastructure

#11358 Cleanup unused variables from a few build system files.
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/test/BUILD
  runtime/src/iree/vm/test/CMakeLists.txt
  tools/CMakeLists.txt
Labels: infrastructure, cleanup 🧹

#11311 Use ccache in CI
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  build_tools/bazel/build_core.sh
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/buildkite/samples.yml
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_tf_binaries.sh
  build_tools/cmake/build_tracing.sh
  build_tools/cmake/setup_ccache.sh
  build_tools/docker/context/install_ccache.sh
  build_tools/docker/docker_run.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/scripts/integrate/README.md
Labels: infrastructure

#11364 Update GitHub runner to 2.299.1
  build_tools/github_actions/runner/gcp/create_templates.sh
Labels: infrastructure

#11348 Move CUDA llvm optimization to the new pass manager
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: buildkite:benchmark-cuda

#11125 Enable GPU pipeline schedule with shared memory stores in stage 0
  compiler/src/iree/compiler/Codegen/Common/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
Labels: codegen/spirv, codegen/nvvm
