Repository iree-org/iree, pull requests merged in 2022-12, with the labels that each got.

#11382 [spirv] Use a placeholder pointer type when creating resources
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
Labels: codegen/spirv

#11391 Migrate the rest of the alternate configurations builds from Buildkite
  .github/workflows/ci.yml
  build_tools/cmake/build_all.sh
Labels: infrastructure

#11392 [WebGPU] Push constants Storage i32 -> Uniform vector<4xi32>.
  compiler/src/iree/compiler/Codegen/WGSL/BUILD
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/WGSLReplacePushConstants.cpp
  compiler/src/iree/compiler/Codegen/WGSL/test/replace_push_constants.mlir
Labels: codegen/spirv, platform/web 🌐

#11400 NFC: Separate setting translation info and dispatch configuration
  compiler/src/iree/compiler/Codegen/Common/UserConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Labels: codegen

#11398 [spirv] Change illegal configuration test to use user control
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Labels: codegen/spirv

#11387 Set maximum number of threads in the thread block for CUDA
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/test/smoketest.mlir
Labels: buildkite:benchmark-cuda

#11409 Add SPIRV backend support for Winograd output op
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  tests/e2e/linalg_ext_ops/BUILD
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Labels: codegen/spirv

#11388 Plumb through support for controlling subgroup size in CodeGen
  compiler/src/iree/compiler/Codegen/Common/UserConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/Dialect/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_user.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: codegen, codegen/spirv

#11414 NFC: remove the unnecessary extra setTranslationInfo helper
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: cleanup 🧹

#11406 [vulkan] Add support for VK_EXT_subgroup_size_control
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.cc
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/schemas/spirv_executable_def.fbs
Labels: hal/vulkan, codegen/spirv

#11425 [spirv] Enable use wave32 mode for AMD architectures
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Labels: performance ⚡, codegen/spirv

#11418 [spirv] Fix C matrix promotion with bufferization allocations
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
Labels: codegen/spirv

#11411 Switch e2e tests and benchmarks to `--iree-flow-enable-data-tiling` on `llvm-cpu`
  benchmarks/TFLite/android-arm64-v8a.cmake
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/matmul/BUILD
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#11435 Revert "Switch e2e tests and benchmarks to `--iree-flow-enable-data-tiling` on `llvm-cpu`"
  benchmarks/TFLite/android-arm64-v8a.cmake
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/matmul/BUILD
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#11436 Enable compilation statistics tracking for Android benchmarks
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/build_android_benchmark.sh
Labels: buildkite:benchmark-android

#11443 Relands "Switch e2e tests and benchmarks to `--iree-flow-enable-data-tiling` on `llvm-cpu`"
  benchmarks/TFLite/android-arm64-v8a.cmake
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/matmul/BUILD
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11464 [vulkan] Enable MobileBERT i8 benchmark on Mali
  benchmarks/TFLite/android-mali.cmake
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#11424 Touch up Python build instructions.
  .gitignore
  CMakeLists.txt
  compiler/setup.py
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  integrations/tensorflow/python_projects/iree_tf/setup.py
  integrations/tensorflow/python_projects/iree_tflite/setup.py
  integrations/tensorflow/python_projects/iree_xla/setup.py
  runtime/bindings/python/CMakeLists.txt
  runtime/setup.py
Labels: documentation, platform/windows 🚪, bindings/python

#11474 NFC: Move CombineTransferReadOpBroadcast to Common/GPUPatterns
  compiler/src/iree/compiler/Codegen/Common/GPUPatterns.cpp
  compiler/src/iree/compiler/Codegen/Common/GPUPatterns.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
Labels: codegen/spirv, codegen/nvvm

#11486 NFC: update convert_to_spirv.mlir tests to avoid dead code
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_to_spirv.mlir
Labels: cleanup 🧹

#11500 Link to PyTorch native training example.
  docs/website/docs/getting-started/pytorch.md
Labels: documentation, integrations

#11439 Flip checks from CMAKE_CROSSCOMPILING to IREE_HOST_BINARY_ROOT.
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_static_linker_test.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
Labels: infrastructure, cleanup 🧹

#11512 [spirv] Support fused elementwise ops in subgroup reduction
  compiler/src/iree/compiler/Codegen/Common/test/tile_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
Labels: codegen/spirv

#11525 Fix benchmark directory paths in buildkite pipeline
  build_tools/buildkite/cmake/linux/cuda/benchmark.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark2.yml
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11489 [vmvx] Fix sitofp lowering to consider correct type
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
Labels: codegen/vmvx

#11415 [spirv] Improve cooperative matrix elementwise op fusion
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorToGPUSubgroupMMAOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
Labels: codegen/spirv

#11535 Remove unused `--allow-unregistered-dialect` flags from tests.
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_executable_constants.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_constants.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_workgroup_info.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/vector_to_gpu.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/experimental_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals_linalg.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/test/buffer_folding.mlir
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/test/dispatch_folding.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/retain_call_once_funcs.mlir
Labels: cleanup 🧹

#11541 Enable a few tests that are passing now.
  tests/e2e/tosa_ops/BUILD
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
Labels: cleanup 🧹

#11540 Update some very old TODOs.
  compiler/src/iree/compiler/Dialect/VM/IR/VMDialect.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/Check/test/ops.mlir
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/modules/check/module.cc
  tests/e2e/xla_ops/batch_norm_inference.mlir
  tests/e2e/xla_ops/select.mlir
Labels: cleanup 🧹

#11553 [vmvx] Relax requirement on fptosi lowering
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/conversion_ops.mlir
Labels: codegen/vmvx

#11567 [vulkan] Fix target environment attribute parsing/printing
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
Labels: hal/vulkan, codegen/spirv

#11542 Support using e2e test artifacts directory path in benchmark tool
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64

#11503 Limit tiling sizes for unpack op kernels
  benchmarks/TFLite/android-arm64-v8a.cmake
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_vmvx_launch_configuration.mlir
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#11347 Add benchmark workflow
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/github_actions/configure_ci.py
Labels: infrastructure/benchmark

#11678 Remove old x86_64 buildkite pipeline
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda
