Repository iree-org/iree, pull requests merged in 2022-03, with the labels that each got.

#8418 Gardening binary size/memory consumption 🎍.
  iree/base/status.c
  iree/compiler/Codegen/Common/RemoveTrivialLoops.cpp
  iree/compiler/Codegen/Interfaces/ProcessorOpInterfaces.cpp
  iree/hal/buffer.c
  iree/hal/command_buffer_validation.c
  iree/runtime/demo/BUILD
  iree/runtime/demo/CMakeLists.txt
  iree/vm/list.c
  iree/vm/stack.c
  iree/vm/stack.h
Labels: runtime, cleanup 🧹

#8417 Build out dynamic web sample to behave like iree-run-module.
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/README.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_dynamic/iree_api.js
  experimental/web/sample_dynamic/iree_worker.js
  experimental/web/sample_dynamic/main.c
Labels: runtime/api, platform/web 🌐

#8430 Fixing flow.dispatch.workgroups w/ dropping dynamically shaped results.
  iree/compiler/Dialect/Flow/IR/BUILD
  iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
Labels: bug 🐞, compiler

#8433 Force embedded ELF linking off when targeting WebAssembly.
  experimental/web/sample_dynamic/README.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_dynamic/iree_api.js
  experimental/web/sample_static/build_sample.sh
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
Labels: codegen/llvm, quality of life 😊, platform/web 🌐

#8437 Target Pixel 4 with Android 12 for benchmarking
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: platform/android 🤖, infrastructure/benchmark, buildkite:benchmark

#8432 Add postsubmit failure alerts to a few buildkite pipelines.
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
Labels: infrastructure 🛠️

#8423 Rework cmake test deps, target selection and presets.
  .gitignore
  CMakeLists.txt
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_cmake_options.cmake
  build_tools/cmake/iree_external_cmake_options.cmake
  build_tools/cmake/iree_third_party_cmake_options.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
  build_tools/cmake/rebuild.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build.sh
  iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/test/CMakeLists.txt
  iree/test/e2e/models/CMakeLists.txt
  iree/test/e2e/regression/CMakeLists.txt
  iree/tools/CMakeLists.txt
  iree/tools/test/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/build_tools/build_intree.sh
  llvm-external-projects/iree-compiler-api/build_tools/build_python_wheels.sh
  llvm-external-projects/iree-compiler-api/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
Labels: infrastructure/cmake, codegen/llvm, cleanup 🧹

#8439 Fix default identifier handling in TFLite bindings WrapEntryPoints.
  iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/TFLite/Transforms/test/wrap_entry_points.mlir
Labels: bindings/tflite

#8443 Run TFLite ConvertFunctionMetadataPass on FuncOp.
  integrations/tensorflow/iree_tf_compiler/TFL/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/add.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/multi_add.mlir
Labels: bindings/tflite

#8395 Cleanup flow pipeline.
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: buildkite:benchmark

#8454 Save one canonicalization pass in TOSA input conversion
  iree/compiler/InputConversion/TOSA/Passes.cpp
Labels: buildkite:benchmark

#8462 Fixing check-test leaks (ASan)
  iree/modules/check/check_test.cc
Labels: bug 🐞, infrastructure 🛠️

#8352 Add a pattern to vectorize tensor.pad with conditional reads
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/SPIRVVectorizePad.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/vectorize_tensor_pad.mlir
Labels: codegen/spirv

#8459 Making it possible to pass vm dialect output through iree-translate.
  iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  iree/compiler/Dialect/VM/Analysis/test/register_allocation.mlir
  iree/compiler/Dialect/VM/Analysis/test/value_liveness.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_attrs.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/nesting.mlir
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/structural_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/assignment_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/comparison_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/const_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/shift_ops_i64.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/type_conversion.mlir
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  iree/compiler/Dialect/VM/IR/test/assignment_folding.mlir
  iree/compiler/Dialect/VM/IR/test/comparison_folding.mlir
  iree/compiler/Dialect/VM/IR/test/const_folding.mlir
  iree/compiler/Dialect/VM/IR/test/control_flow_folding.mlir
  iree/compiler/Dialect/VM/IR/test/conversion_folding.mlir
  iree/compiler/Dialect/VM/IR/test/debug_folding.mlir
  iree/compiler/Dialect/VM/IR/test/global_folding.mlir
  iree/compiler/Dialect/VM/IR/test/structural_folding.mlir
  iree/compiler/Dialect/VM/Transforms/BUILD
  iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/DropEmptyModuleInitializers.cpp
  iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.cpp
  iree/compiler/Dialect/VM/Transforms/Passes.h
  iree/compiler/Dialect/VM/Transforms/test/BUILD
  iree/compiler/Dialect/VM/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Transforms/test/drop_empty_module_initializers.mlir
  iree/compiler/Dialect/VM/Transforms/test/global_initialization.mlir
  iree/compiler/Dialect/VM/Transforms/test/ordinal_allocation.mlir
  iree/compiler/Translation/test/smoketest.mlir
Labels: compiler, quality of life 😊

#8465 Removing bad linefeed in pretty statistics dump.
  iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
Labels: compiler

#8466 Expand HAL CTS test coverage and initialize pointers.
  iree/hal/cts/allocator_test.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/descriptor_set_layout_test.h
  iree/hal/cts/descriptor_set_test.h
  iree/hal/cts/driver_test.h
  iree/hal/cts/event_test.h
  iree/hal/cts/executable_cache_test.h
  iree/hal/cts/executable_layout_test.h
  iree/hal/cts/semaphore_submission_test.h
  iree/hal/cts/semaphore_test.h
Labels: infrastructure 🛠️, hal/api

#8470 Renaming iree_hal_executable_spec_t -> .._params_t.
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
  experimental/rocm/nop_executable_cache.c
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/executable_cache_test.h
  iree/hal/cuda/native_executable.c
  iree/hal/cuda/native_executable.h
  iree/hal/cuda/nop_executable_cache.c
  iree/hal/executable_cache.c
  iree/hal/executable_cache.h
  iree/hal/local/executable_library_benchmark.c
  iree/hal/local/executable_loader.c
  iree/hal/local/executable_loader.h
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/static_library_loader.h
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmvx_module_loader.c
  iree/hal/local/local_executable_cache.c
  iree/hal/vulkan/native_executable.cc
  iree/hal/vulkan/native_executable.h
  iree/hal/vulkan/nop_executable_cache.cc
  iree/modules/hal/module.c
Labels: hal/api, cleanup 🧹

#8475 NFC: create a separate Python module to prepare future changes
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: platform/android 🤖, cleanup 🧹, infrastructure/benchmark, buildkite:benchmark

#8478 Improve and log error message for tflite bindings model init.
  bindings/tflite/model.c
Labels: bindings/tflite

#8481 Add instructions for debugging TF integration test failures.
  docs/developers/debugging/tf_integrations_test_repro.md
Labels: documentation ✏️, infrastructure 🛠️, integrations/tensorflow

#8479 Enable Vulkan benchmarking on Moto Edge X30
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: platform/android 🤖, hal/vulkan, infrastructure/benchmark, buildkite:benchmark

#8485 [spirv] Run canonicalization and CSE after lowering affine
  iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv, buildkite:benchmark

#8487 Forcing a wait-idle on the HAL device after each benchmark loop.
  iree/hal/vulkan/tracing.cc
  iree/tools/iree-benchmark-module-main.cc
Labels: hal/vulkan, infrastructure/benchmark

#8488 Fixing leak of Vulkan command buffer resource sets.
  iree/hal/vulkan/direct_command_buffer.cc
Labels: bug 🐞, hal/vulkan

#8436 Adding an executable environment and plumbing through processor information.
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
  experimental/rocm/nop_executable_cache.c
  experimental/web/sample_static/device_multithreaded.c
  experimental/web/sample_static/device_sync.c
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/base/internal/cpu.c
  iree/base/internal/cpu.h
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/StaticLibraryGenerator.cpp
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/executable_cache_test.h
  iree/hal/cuda/native_executable.c
  iree/hal/cuda/native_executable.h
  iree/hal/cuda/nop_executable_cache.c
  iree/hal/executable_cache.c
  iree/hal/executable_cache.h
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/elf/BUILD
  iree/hal/local/elf/CMakeLists.txt
  iree/hal/local/elf/elf_module_test_main.c
  iree/hal/local/executable_environment.c
  iree/hal/local/executable_environment.h
  iree/hal/local/executable_library.h
  iree/hal/local/executable_library_benchmark.c
  iree/hal/local/executable_library_demo.c
  iree/hal/local/executable_library_demo.h
  iree/hal/local/executable_library_test.c
  iree/hal/local/executable_loader.c
  iree/hal/local/executable_loader.h
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/loaders/BUILD
  iree/hal/local/loaders/CMakeLists.txt
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/static_library_loader.h
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmvx_module_loader.c
  iree/hal/local/local_executable.c
  iree/hal/local/local_executable.h
  iree/hal/local/local_executable_cache.c
  iree/hal/local/task_command_buffer.c
  iree/hal/vulkan/native_executable.cc
  iree/hal/vulkan/native_executable.h
  iree/hal/vulkan/nop_executable_cache.cc
  iree/modules/hal/module.c
  iree/samples/static_library/static_library_demo.c
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/task.c
  iree/task/task.h
  iree/task/task_impl.h
  iree/task/worker.c
  iree/task/worker.h
Labels: compiler, runtime, codegen/llvm, hal/cpu

#8486 Changing default stream alignment to 64B.
  iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
  iree/compiler/InputConversion/TOSA/Passes.cpp
Labels: compiler, performance ⚡, buildkite:benchmark

#8467 Avoid overflow from repeated exponentiation of large numbers
  integrations/tensorflow/test/python/iree_tf_tests/math/math_test.py
Labels: integrations/tensorflow, integrations

#8499 Do not adapt Linalg ops when the input is from ReadOnly tensors.
  iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
Labels: buildkite:benchmark

#8501 Make sure that the GIL is held when raising an exception.
  bindings/python/iree/runtime/vm.cc
Labels: bindings/python

#8460 Add support for vectorizing normal convolution ops.
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.h
Labels: buildkite:benchmark

#8505 Aligning read file contents in tools.
  iree/base/internal/file_io.c
  iree/base/internal/file_io.h
  iree/base/internal/file_io_test.cc
  iree/base/internal/flags.c
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/executable_library_benchmark.c
  iree/runtime/session.c
  iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/iree-benchmark-module-main.cc
  iree/tools/iree-check-module-main.cc
  iree/tools/iree-dump-module-main.c
  iree/tools/iree-run-module-main.cc
  iree/tools/utils/BUILD
  iree/tools/utils/CMakeLists.txt
  iree/tools/utils/trace_replay.c
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util.h
Labels: runtime, cleanup 🧹

#8508 Removing weak sched_getcpu.
  iree/base/internal/cpu.c
Labels: runtime, platform/linux 🐧

#8471 Plumbing for HAL executable constants.
  .github/workflows/lint.yml
  iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_constants.mlir
  iree/compiler/Codegen/LLVMCPU/test/hal_interface_workgroup_info.mlir
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  iree/compiler/Dialect/HAL/hal.imports.mlir
  iree/compiler/Dialect/Modules/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/executable_cache_test.h
  iree/hal/executable_cache.h
  iree/hal/local/elf/elf_module_test_main.c
  iree/hal/local/elf/testdata/elementwise_mul_arm_32.so
  iree/hal/local/elf/testdata/elementwise_mul_arm_64.so
  iree/hal/local/elf/testdata/elementwise_mul_riscv_32.so
  iree/hal/local/elf/testdata/elementwise_mul_riscv_64.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_32.so
  iree/hal/local/elf/testdata/elementwise_mul_x86_64.so
  iree/hal/local/elf/testdata/generate.sh
  iree/hal/local/executable_library.h
  iree/hal/local/executable_library_benchmark.c
  iree/hal/local/executable_library_demo.c
  iree/hal/local/executable_library_test.c
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/loaders/embedded_library_loader.c
  iree/hal/local/loaders/static_library_loader.c
  iree/hal/local/loaders/system_library_loader.c
  iree/hal/local/loaders/vmvx_module_loader.c
  iree/hal/local/local_executable.c
  iree/hal/local/local_executable.h
  iree/hal/local/task_command_buffer.c
  iree/hal/vulkan/native_executable.cc
  iree/modules/hal/exports.inl
  iree/modules/hal/module.c
  iree/schemas/spirv_executable_def.fbs
  iree/task/task.h
  iree/vm/shims.c
  iree/vm/shims.h
Labels: compiler, runtime, hal/cpu, hal/api

#8482 Fix web samples and test building them on CI.
  build_tools/buildkite/samples.yml
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/serve_sample.sh
  experimental/web/sample_static/build_sample.sh
  experimental/web/sample_static/main.c
  experimental/web/sample_static/serve_sample.sh
  experimental/web/test_samples.sh
  iree/base/internal/wait_handle_inproc.c
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Labels: infrastructure 🛠️, platform/web 🌐

#8049 [spirv] Fuse tensor.pad ops into their consumer ops
  benchmarks/TFLite/CMakeLists.txt
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Codegen/SPIRV/BUILD
  iree/compiler/Codegen/SPIRV/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  iree/compiler/Codegen/SPIRV/Passes.cpp
  iree/compiler/Codegen/SPIRV/SPIRVCreateFastSlowPath.cpp
  iree/compiler/Codegen/SPIRV/SPIRVFuseTensorPadWithConsumer.cpp
  iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  iree/compiler/Codegen/SPIRV/test/BUILD
  iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  iree/compiler/Codegen/SPIRV/test/create_fast_slow_path.mlir
  iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: buildkite:benchmark

#8515 Adding flow.tensor.empty and stream.tensor.empty ops.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/StandardToStream/test/constant_ops.mlir
  iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/IR/test/tensor_folding.mlir
  iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
  iree/compiler/Dialect/Stream/Transforms/test/pack_allocations.mlir
  iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
  iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: compiler

#8517 Heuristically pick up tiling sizes to vectorize Linalg operations.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: performance ⚡, codegen/llvm, buildkite:benchmark

#8520 Move e2e matmul tests to own directory
  iree/test/e2e/matmul/BUILD
  iree/test/e2e/matmul/CMakeLists.txt
  iree/test/e2e/matmul/generate_e2e_matmul_tests.py
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
Labels: infrastructure 🛠️, cleanup 🧹

#8516 Add a suite of tests for WebAssembly compilation.
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: infrastructure 🛠️, platform/web 🌐

#8534 Align HAL heap buffers to a configuration-defined minimum alignment.
  iree/base/alignment.h
  iree/base/allocator.c
  iree/base/allocator.h
  iree/base/config.h
  iree/base/status.c
  iree/hal/buffer.h
  iree/hal/buffer_heap.c
  iree/hal/buffer_heap_impl.h
  iree/hal/cts/buffer_mapping_test.h
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
Labels: performance ⚡, hal/api

#8524 Update test/e2e/xla_ops/round.mlir test status.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: infrastructure 🛠️, integrations/mhlo

#8539 Switch all x86 and RISC-V matmul codegen to use DoubleTilingExpert.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: buildkite:benchmark

#8527 Add support for vectorizing depthwise convolution ops.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: buildkite:benchmark

#8495 [spirv] Invoke GLSL canonicalization in the pipeline
  iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv, buildkite:benchmark

#8537 Replacing iree_hal_allocator_wrap_buffer with _import_buffer.
  bindings/python/iree/runtime/hal.cc
  experimental/rocm/rocm_allocator.c
  iree/hal/allocator.c
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/hal/buffer.h
  iree/hal/buffer_heap.c
  iree/hal/buffer_heap_impl.h
  iree/hal/buffer_view_util.c
  iree/hal/buffer_view_util.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cuda/cuda_allocator.c
  iree/hal/utils/buffer_transfer.c
  iree/hal/vulkan/vma_allocator.cc
  iree/modules/hal/module.c
  iree/runtime/demo/hello_world_explained.c
  iree/runtime/demo/hello_world_terse.c
  iree/samples/custom_modules/custom_modules_test.cc
  iree/samples/dynamic_shapes/main.c
  iree/samples/variables_and_state/main.c
  iree/tools/utils/image_util.c
Labels: hal/api, cleanup 🧹

#8552 Account all the element types to determine vector sizes.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
Labels: buildkite:benchmark

#8557 Use Moto Edge X30 instead of Pixel 4 for Adreno GPU testing
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: platform/android 🤖, hal/vulkan, codegen/spirv

#8549 Add a test suite to test host cpu features.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: infrastructure 🛠️

#8556 Cleaning up HAL buffer transfer usage.
  bindings/python/iree/runtime/hal.h
  bindings/tflite/tensor.c
  experimental/rocm/rocm_allocator.c
  experimental/web/sample_static/main.c
  iree/compiler/ConstEval/Runtime.cpp
  iree/hal/allocator.h
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/cts/buffer_mapping_test.h
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/dynamic_symbol_tables.h
  iree/hal/device.c
  iree/hal/device.h
  iree/hal/local/inline_command_buffer.c
  iree/hal/local/task_command_buffer.c
  iree/hal/string_util_test.cc
  iree/hal/utils/buffer_transfer.c
  iree/modules/hal/module.c
  iree/samples/dynamic_shapes/main.c
  iree/samples/simple_embedding/simple_embedding.c
  iree/samples/static_library/static_library_demo.c
  iree/samples/variables_and_state/main.c
  iree/samples/vision/iree-run-mnist-module.c
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/tools/iree-e2e-matmul-test.c
Labels: hal/api, cleanup 🧹

#8526 Do not fuse with elementwise operations that cant bufferize in-place.
  iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: buildkite:benchmark

#8566 Remove extra parameter to iree_hal_cuda_buffer_wrap.
  iree/hal/cuda/cuda_allocator.c
Labels: hal/cuda

#8573 Add Python 3.10 to release builds.
  .github/workflows/build_package.yml
Labels: bindings/python

#8558 run_benchmark_on_android improvements
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  iree/tools/CMakeLists.txt
  iree/tools/build_config_template.txt.in
Labels: infrastructure/benchmark, buildkite:benchmark

#8589 Update instructions for reproducing TF/TFLite integration tests
  docs/developers/debugging/tf_integrations_test_repro.md
Labels: documentation ✏️, integrations/tensorflow

#8562 Update quantized matmul tests to not generate stack allocation
  iree/test/e2e/regression/linalg_quantized_matmul_vs_linalg_matmul.mlir
Labels: buildkite:benchmark

#8588 Fix exit codes in web sample scripts and whitespace in input.
  build_tools/cmake/build_runtime_emscripten.sh
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_dynamic/index.html
  experimental/web/sample_static/build_sample.sh
Labels: platform/web 🌐

#8546 Combine tflite getting started guide into a single page
  docs/website/docs/getting-started/tflite-cmd.md
  docs/website/docs/getting-started/tflite-python.md
  docs/website/docs/getting-started/tflite.md
Labels: documentation ✏️, integrations

#8600 More benchmark android improvements
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: buildkite:benchmark

#8281 Add MobileBert Benchmarks
  benchmarks/TFLite/CMakeLists.txt
Labels: integrations, integrations/tosa, buildkite:benchmark

#8619 Bootstrap and automatically update Buildkite pipelines
  build_tools/buildkite/pipelines/include/README.md
  build_tools/buildkite/pipelines/include/cla-failure.yml
  build_tools/buildkite/pipelines/postsubmit.yml
  build_tools/buildkite/pipelines/presubmit.yml
  build_tools/buildkite/postsubmit.yml
  build_tools/buildkite/postsubmit_bootstrap.yml
  build_tools/buildkite/presubmit.yml
  build_tools/buildkite/presubmit_bootstrap.yml
  build_tools/buildkite/scripts/bootstrap_pipeline.sh
  build_tools/buildkite/scripts/check_cla.py
  build_tools/buildkite/scripts/simulate_buildkite.sh
  build_tools/buildkite/scripts/update_pipeline_configuration.py
  build_tools/buildkite/scripts/wait_for_pipeline_success.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#8640 Remove IREE artifacts after testing to reclaim phone storage
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: platform/android 🤖

#8643 Always remove temporary directory used for benchmarking on the host
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: infrastructure/benchmark, buildkite:benchmark

#8646 Enable selecting which drivers to build in Bazel
  build_tools/bazel/iree.bazelrc
  iree/build_defs.oss.bzl
  iree/hal/drivers/BUILD
Labels: infrastructure 🛠️, infrastructure/bazel

#8647 Update presubmit pipeline for fixes when fetching existing branch
  build_tools/buildkite/pipelines/presubmit.yml
Labels: infrastructure 🛠️, infrastructure/buildkite

#8615 Generalize AndroidDeviceInfo to DeviceInfo.
  build_tools/benchmarks/common/android_device_utils.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: buildkite:benchmark

#8650 Fix iree-dialects builds for MSVC.
  llvm-external-projects/iree-dialects/include/iree-dialects/Transforms/ListenerGreedyPatternRewriteDriver.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/LinalgTransformOps.cpp
Labels: platform/windows 🚪

#8565 Enable now passing Wasm compilation tests.
  iree/test/e2e/xla_ops/BUILD
  iree/test/e2e/xla_ops/CMakeLists.txt
Labels: platform/web 🌐

#8591 Add wasm-linker-path options and leave system linker path unset.
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/cmake/iree_bytecode_module.cmake
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
  iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/WasmLinkerTool.cpp
Labels: codegen/llvm, platform/web 🌐

#8669 Add tests for VMToEmitC bitcast ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/conversion_ops_f32.mlir
Labels: compiler/emitc

#8628 [vulkan] Add target triple for Apple M1 GPUs
  iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: hal/vulkan

#8575 Add TMTensorToLinalgExtPass
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/torch-mlir-dialects/BUILD.overlay
  iree/compiler/InputConversion/TMTensor/BUILD
  iree/compiler/InputConversion/TMTensor/CMakeLists.txt
  iree/compiler/InputConversion/TMTensor/ConvertTMTensorToLinalgExt.cpp
  iree/compiler/InputConversion/TMTensor/PassDetail.h
  iree/compiler/InputConversion/TMTensor/Passes.cpp
  iree/compiler/InputConversion/TMTensor/Passes.h
  iree/compiler/InputConversion/TMTensor/Passes.td
  iree/compiler/InputConversion/TMTensor/test/BUILD
  iree/compiler/InputConversion/TMTensor/test/CMakeLists.txt
  iree/compiler/InputConversion/TMTensor/test/convert_tmtensor_to_linalg_ext.mlir
  iree/compiler/Pipelines/BUILD
  iree/compiler/Pipelines/CMakeLists.txt
  iree/compiler/Pipelines/Options.cpp
  iree/compiler/Pipelines/Options.h
  iree/compiler/Pipelines/Pipelines.cpp
  iree/tools/BUILD
  iree/tools/CMakeLists.txt
  iree/tools/init_dialects.h
  iree/tools/init_iree_passes.h
  iree/tools/init_torch_mlir_dialects.h
  llvm-external-projects/iree-compiler-api/CMakeLists.txt
  third_party/torch-mlir-dialects/CMakeLists.txt
  third_party/torch-mlir-dialects/README.md
  third_party/torch-mlir-dialects/include/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/CMakeLists.txt
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/ScalarLoopOpInterface.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/ScalarLoopOpInterface.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorBase.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorDialect.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorInterfaces.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorInterfaces.td
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOpInterface.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOps.h
  third_party/torch-mlir-dialects/include/torch-mlir-dialects/Dialect/TMTensor/IR/TMTensorOps.td
  third_party/torch-mlir-dialects/lib/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/CMakeLists.txt
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/ScalarLoopOpInterface.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorDialect.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorInterfaces.cpp
  third_party/torch-mlir-dialects/lib/Dialect/TMTensor/IR/TMTensorOps.cpp
Labels: integrations

#8678 Sanitize module names during input conversion.
  iree/compiler/InputConversion/Common/BUILD
  iree/compiler/InputConversion/Common/CMakeLists.txt
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/compiler/InputConversion/Common/Passes.cpp
  iree/compiler/InputConversion/Common/Passes.h
  iree/compiler/InputConversion/Common/Passes.td
  iree/compiler/InputConversion/Common/SanitizeModuleNames.cpp
  iree/compiler/InputConversion/Common/test/BUILD
  iree/compiler/InputConversion/Common/test/CMakeLists.txt
  iree/compiler/InputConversion/Common/test/sanitize_module_names.mlir
Labels: compiler, integrations

#8662 Unify dispatch region formation + Conversion to Flow passes
  iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.cpp
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/ConvertTensorToFlow.h
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/BUILD
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/cast.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract_slice.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/fill.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/from_elements.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/reshape.mlir
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.h
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/ConvertToFlow.cpp
  iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion.mlir
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtInterfaces.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtInterfaces.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
Labels: buildkite:benchmark

#8695 Adding some stress tests for the task executor.
  iree/task/BUILD
  iree/task/CMakeLists.txt
  iree/task/executor_demo.cc
  iree/task/executor_test.cc
  iree/task/task.c
Labels: runtime

#8685 Add tests for VMToEmitC global ops
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops_f32.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/global_ops_i64.mlir
Labels: compiler/emitc

#8699 Adding -iree-hal-dump-executable-sources-to= flag.
  iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  iree/compiler/Dialect/HAL/Target/TargetBackend.h
  iree/compiler/Dialect/HAL/Transforms/BUILD
  iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/DumpExecutableSources.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/HAL/Transforms/Passes.h
  iree/compiler/Dialect/HAL/Transforms/VerifyTargetEnvironment.cpp
  iree/compiler/Dialect/HAL/Transforms/test/BUILD
  iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
  iree/compiler/Dialect/HAL/Transforms/test/verify_target_environment.mlir
Labels: compiler, quality of life 😊

#8649 Initiate the benchmark script for Linux
  CMakeLists.txt
  build_tools/benchmarks/CMakeLists.txt
  build_tools/benchmarks/common/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/common/linux_device_utils_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark
