Repository iree-org/iree, pull requests merged in 2022-06, with the labels that each got.

#9220 Update CMake packages to anchor on iree:: for top level dirs.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_c_module.cmake
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_macros.cmake
  compiler/src/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/tflite/CMakeLists.txt
  runtime/bindings/tflite/java/org/tensorflow/lite/native/CMakeLists.txt
  runtime/src/CMakeLists.txt
  tests/e2e/linalg_transform/CMakeLists.txt
  tools/BUILD
  tools/CMakeLists.txt
Labels: infrastructure/cmake, cleanup 🧹

#9255 Dump dispatch graph
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DumpDispatchGraph.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
Labels: compiler/tools

#9237 Create platform-specific targets in benchmark suites
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-arm64-v8a.cmake
  benchmarks/TFLite/android-mali.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  build_tools/cmake/benchmark_compilation_flagfile.in
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_linux_benchmark.sh
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/scripts/generate_compilation_flagfile.py
Labels: infrastructure/benchmark, buildkite:benchmark, buildkite:benchmark-x86_64

#9274 Add a pipeline to build the IREE runtime
  build_tools/buildkite/agent/configs/build.cfg
  build_tools/buildkite/pipelines/trusted/postsubmit.yml
  build_tools/buildkite/pipelines/trusted/presubmit.yml
  build_tools/buildkite/pipelines/untrusted/build-runtime-cmake.yml
  build_tools/buildkite/pipelines/untrusted/test-pipeline.yml
Labels: infrastructure 🛠️, infrastructure/buildkite

#9276 Add annotations to buildkite builds
  build_tools/buildkite/pipelines/trusted/postsubmit.yml
  build_tools/buildkite/pipelines/trusted/presubmit.yml
  build_tools/buildkite/scripts/common/buildkite_pipeline_manager.py
  build_tools/buildkite/scripts/common/buildkite_utils.py
  build_tools/buildkite/scripts/wait_for_pipeline_success.py
Labels: infrastructure 🛠️, infrastructure/buildkite

#9287 HAL semaphore improvements and timepoint tracking support.
  experimental/rocm/CMakeLists.txt
  experimental/rocm/event_semaphore.c
  runtime/src/iree/base/internal/wait_handle.c
  runtime/src/iree/base/internal/wait_handle.h
  runtime/src/iree/hal/cuda/CMakeLists.txt
  runtime/src/iree/hal/cuda/event_semaphore.c
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/sync_semaphore.c
  runtime/src/iree/hal/local/task_queue.c
  runtime/src/iree/hal/local/task_semaphore.c
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/hal/semaphore.h
  runtime/src/iree/hal/utils/BUILD
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/semaphore_base.c
  runtime/src/iree/hal/utils/semaphore_base.h
  runtime/src/iree/hal/utils/semaphore_base_test.cc
  runtime/src/iree/hal/vulkan/BUILD
  runtime/src/iree/hal/vulkan/CMakeLists.txt
  runtime/src/iree/hal/vulkan/native_semaphore.cc
Labels: hal/api

#9304 Adding iree_hal_device_query_semaphore_compatibility.
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/cuda/cuda_device.c
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/local/sync_device.c
  runtime/src/iree/hal/local/task_device.c
  runtime/src/iree/hal/local/task_semaphore.c
  runtime/src/iree/hal/local/task_semaphore.h
  runtime/src/iree/hal/vulkan/native_semaphore.cc
  runtime/src/iree/hal/vulkan/native_semaphore.h
  runtime/src/iree/hal/vulkan/vulkan_device.cc
Labels: hal/api

#9320 [LLVMGPU] Fix dynamic shape pooling op code generation
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: codegen/nvvm

#9323 Dropping "Pass" file suffix to be consistent with all the other files.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertConv2D1x1ToMatmul.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertConv2DToImg2Col.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/StripSignedness.cpp
Labels: compiler/dialects

#9327 Fixing merge conflict on hal.executable.export rename.
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
Labels: compiler/dialects

#9328 Adding support for reading binary files in tool --function_input=.
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/hal/string_util.h
  runtime/src/iree/hal/string_util_test.cc
  runtime/src/iree/tools/utils/vm_util.cc
  runtime/src/iree/tools/utils/vm_util.h
  tools/iree-benchmark-module-main.cc
  tools/iree-run-module-main.cc
Labels: runtime/tools

#9338 Merge iree_cmake_options.cmake back into root CMakeLists.txt.
  CMakeLists.txt
  build_tools/cmake/iree_cmake_options.cmake
Labels: infrastructure/cmake, cleanup 🧹

#9340 Delete samples/vulkan/ and iree-run-module-vulkan-gui.
  WORKSPACE
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/vulkan_sdk/BUILD.bazel
  build_tools/third_party/vulkan_sdk/repo.bzl
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  runtime/src/iree/testing/vulkan/CMakeLists.txt
  runtime/src/iree/testing/vulkan/iree-run-module-vulkan-gui-main.cc
  runtime/src/iree/testing/vulkan/vulkan_gui_util.cc
  runtime/src/iree/testing/vulkan/vulkan_gui_util.h
  samples/vulkan/CMakeLists.txt
  samples/vulkan/simple_mul.mlir
  samples/vulkan/vulkan_inference_gui.cc
Labels: runtime, hal/vulkan, cleanup 🧹

#9344 Anchor iree.natvis path on IREE_ROOT_DIR for downstream builds.
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure/cmake

#9347 [Buildkite] Pass through information about triggering build
  build_tools/buildkite/pipelines/untrusted/unregistered.yml
  build_tools/buildkite/scripts/common/buildkite_pipeline_manager.py
Labels: infrastructure/buildkite

#9354 [vulkan] Enable necessary portability features on Apple platforms
  runtime/src/iree/hal/vulkan/vulkan_device.cc
  runtime/src/iree/hal/vulkan/vulkan_driver.cc
Labels: hal/vulkan

#9314 Rework on the logic of first level tiling sizes.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9339 Add benchmark models for RISC-V targets
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TFLite/linux-riscv.cmake
Labels: infrastructure/benchmark, codegen/riscv

#8968 Update sanitizers docs.
  docs/developers/developing_iree/sanitizers.md
Labels: documentation

#9356 Added timeout to testing infrastructure
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/cmake/iree_python.cmake
  runtime/src/iree/hal/drivers/vulkan/util/BUILD
  runtime/src/iree/hal/drivers/vulkan/util/CMakeLists.txt
  tests/e2e/models/CMakeLists.txt
Labels: infrastructure/cmake, infrastructure/bazel

#9373 Revert ctest --test-dir change from Android pipeline.
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: infrastructure/cmake

#9211 Migrate to use upstream bufferization for all the backends.
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/LinalgBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9380 Adding IREE_EXTERNAL_HAL_DRIVERS cmake var.
  CMakeLists.txt
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/third_party/rocm/CMakeLists.txt
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  experimental/rocm/CMakeLists.txt
  experimental/rocm/cts/CMakeLists.txt
  experimental/rocm/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/init.c
  runtime/src/iree/hal/drivers/init_external.c.in
Labels: infrastructure, runtime

#9384 Renaming file_path to path and adding some basic URI utils.
  runtime/src/iree/base/internal/BUILD
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/dynamic_library_posix.c
  runtime/src/iree/base/internal/dynamic_library_win32.c
  runtime/src/iree/base/internal/path.c
  runtime/src/iree/base/internal/path.h
  runtime/src/iree/base/internal/path_test.cc
  runtime/src/iree/base/string_view.h
  runtime/src/iree/tools/utils/BUILD
  runtime/src/iree/tools/utils/CMakeLists.txt
  runtime/src/iree/tools/utils/trace_replay.c
  tools/BUILD
  tools/CMakeLists.txt
  tools/iree-benchmark-trace-main.c
  tools/iree-e2e-matmul-test.c
  tools/iree-run-trace-main.c
Labels: runtime

#9382 Adding vm.ctlz.i32/i64 ops.
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Transforms/Conversion.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/MathToVM/ConvertMathToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode_disasm.c
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/generated/bytecode_op_table.h
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/arithmetic_ops.mlir
  runtime/src/iree/vm/test/arithmetic_ops_i64.mlir
Labels: performance ⚡, runtime/vm

#9387 Define module target in iree_bytecode_module
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
Labels: infrastructure/cmake, buildkite:benchmark, buildkite:benchmark-x86_64

#9352 Replace "bug report" issue template with issue forms.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: infrastructure, quality of life 😊

#9391 Fix samples after driver refactoring.
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_static/build_sample.sh
  samples/colab/low_level_invoke_function.ipynb
  samples/dynamic_shapes/README.md
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/dynamic_shapes/test.sh
  samples/variables_and_state/README.md
  samples/variables_and_state/test.sh
  samples/variables_and_state/variables_and_state.ipynb
Labels: hal/api

#9400 Fixing race on semaphore timepoint cancellation.
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
Labels: hal/cpu

#9408 Use upstream decompose and generalize transform ops
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/StructuredTransformOpsExt.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/generalize.mlir
  llvm-external-projects/iree-dialects/test/Dialect/linalg_transform/roundtrip.mlir
Labels: codegen

#9404 [vulkan] Create command pools with CREATE_RESET_COMMAND_BUFFER_BIT
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan, buildkite:benchmark

#9413 Adding iree_hal_driver_create_device_by_path & co.
  experimental/rocm/rocm_driver.c
  runtime/src/iree/hal/BUILD
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/cts/driver_test.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/driver.c
  runtime/src/iree/hal/driver.h
  runtime/src/iree/hal/driver_registry.c
  runtime/src/iree/hal/driver_registry.h
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/local_sync/sync_driver.c
  runtime/src/iree/hal/drivers/local_task/task_driver.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
  runtime/src/iree/tools/utils/vm_util.cc
  runtime/src/iree/tools/utils/vm_util.h
  runtime/src/iree/tools/utils/vm_util_test.cc
  tools/android/run_module_app/src/main.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-check-module-main.cc
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
Labels: hal/api, runtime/tools

#9415 Adding a device_util helper for tooling.
  runtime/src/iree/tools/utils/BUILD
  runtime/src/iree/tools/utils/CMakeLists.txt
  runtime/src/iree/tools/utils/cpu_features.c
  runtime/src/iree/tools/utils/device_util.c
  runtime/src/iree/tools/utils/device_util.h
  runtime/src/iree/tools/utils/trace_replay.c
  runtime/src/iree/tools/utils/trace_replay.h
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-trace-main.c
  tools/iree-check-module-main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/iree-run-trace-main.c
Labels: runtime/tools

#9417 Renaming iree/tools/utils/ -> iree/tooling/.
  compiler/src/iree/compiler/ConstEval/BUILD
  compiler/src/iree/compiler/ConstEval/CMakeLists.txt
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/ConstEval/Runtime.h
  experimental/web/sample_dynamic/main.c
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/cpu_features.c
  runtime/src/iree/tooling/cpu_features.h
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/trace_replay.h
  runtime/src/iree/tooling/vm_util.cc
  runtime/src/iree/tooling/vm_util.h
  runtime/src/iree/tooling/vm_util_test.cc
  runtime/src/iree/tooling/yaml_util.c
  runtime/src/iree/tooling/yaml_util.h
  runtime/src/iree/tools/BUILD
  runtime/src/iree/tools/CMakeLists.txt
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-trace-main.c
  tools/iree-check-module-main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/iree-run-trace-main.c
Labels: runtime/tools, cleanup 🧹

#9419 Remove third_party/renderdoc_api (again).
  third_party/renderdoc_api/README.md
  third_party/renderdoc_api/app/renderdoc_app.h
Labels: cleanup 🧹

#9420 Update docs in samples/vision_inference.
  samples/vision_inference/README.md
  samples/vision_inference/convert_image.py
Labels: documentation, runtime/tools

#9405 Use CMake to create temporary test directories eliminating run_test.*
  CMakeLists.txt
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/cmake/CTestCustom.cmake.in
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_configure_testing.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/cmake/iree_python.cmake
  build_tools/cmake/run_test.bat
  build_tools/cmake/run_test.ps1
  build_tools/cmake/run_test.sh
  experimental/web/testing/parse_test_list.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/module_utils.py
  integrations/tensorflow/test/python/iree_tfl_tests/test_util.py
Labels: infrastructure/cmake

#9428 Adding an optional workgroup count region to flow.dispatch.workgroups.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
Labels: compiler/dialects

#9227 Add tool to collect compilation statistics
  build_tools/benchmarks/CMakeLists.txt
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
Labels: infrastructure/benchmark

#9429 Switch tests to runtime skipping if drivers are missing.
  runtime/src/iree/modules/check/BUILD
  runtime/src/iree/modules/check/CMakeLists.txt
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/vm_util_test.cc
Labels: infrastructure/cmake, cleanup 🧹

#9437 NFC: move Vulkan attribute code to VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
Labels: codegen/spirv

#9438 Fix case where there are no test temp directories to create
  build_tools/cmake/iree_configure_testing.cmake
Labels: infrastructure/cmake

#9439 NFC: Update Vulkan attributes to use AttrDef
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/BUILD
  compiler/src/iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
Labels: codegen/spirv

#9442 Rename "translate" to "compile" across build systems.
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-arm64-v8a.cmake
  benchmarks/TFLite/android-mali.cmake
  benchmarks/TFLite/linux-riscv.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_c_module.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  build_tools/cmake/iree_microbenchmark_suite.cmake
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/test/BUILD
  runtime/src/iree/vm/test/CMakeLists.txt
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
Labels: infrastructure, compiler/tools, cleanup 🧹

#9443 Replacing `--driver=` with `--device=` and adding list flags.
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_trace_runner_test.bzl
  build_tools/benchmarks/comparisons/common/benchmark_command.py
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/lit.cfg.py
  build_tools/scripts/generate_flagfile.py
  docs/developers/design_docs/cuda_backend.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/developing_iree/profiling_cpu_events.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  experimental/rocm/rocm_driver.c
  experimental/web/run_native_benchmarks.sh
  experimental/web/testing/parse_test_list.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/trace_utils.py
  runtime/src/iree/base/status.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/driver.c
  runtime/src/iree/hal/driver.h
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/local_sync/registration/driver_module.c
  runtime/src/iree/hal/drivers/local_sync/sync_driver.c
  runtime/src/iree/hal/drivers/local_task/registration/driver_module.c
  runtime/src/iree/hal/drivers/local_task/task_driver.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/trace_replay.h
  tools/android/run_module_app/README.md
  tools/android/run_module_app/build_apk.sh
  tools/android/run_module_app/src/main.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-trace-main.c
  tools/iree-check-module-main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/iree-run-trace-main.c
  tools/test/benchmark_flags.txt
  tools/test/iree-benchmark-module.mlir
  tools/test/iree-run-module.mlir
  tools/test/multiple_args.mlir
  tools/test/multiple_exported_functions.mlir
  tools/test/repeated_return.mlir
  tools/test/scalars.mlir
Labels: runtime/tools, quality of life 😊, cleanup 🧹, buildkite:benchmark, buildkite:benchmark-x86_64

#9445 Remove explicit `--iree-mlir-to-vm-bytecode-module` flag usage.
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_trace_runner_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  compiler/src/iree/compiler/API/python/iree/compiler/tools/core.py
  compiler/src/iree/compiler/Tools/init_llvmir_translations.h
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/developers/design_docs/cuda_backend.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/getting-started/tflite.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  runtime/bindings/tflite/testdata/BUILD
  runtime/bindings/tflite/testdata/CMakeLists.txt
  runtime/src/iree/hal/local/elf/testdata/generate.sh
  runtime/src/iree/hal/local/executable_library_benchmark.md
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/modules/check/test/unavailable.mlir
  runtime/src/iree/runtime/testdata/BUILD
  runtime/src/iree/runtime/testdata/CMakeLists.txt
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
  samples/static_library/CMakeLists.txt
  tests/compiler_driver/smoketest.mlir
  tools/iree-run-mlir-main.cc
  tools/test/benchmark_flags.txt
  tools/test/iree-benchmark-module.mlir
  tools/test/iree-run-module.mlir
  tools/test/multiple_args.mlir
  tools/test/multiple_exported_functions.mlir
  tools/test/repeated_return.mlir
  tools/test/scalars.mlir
Labels: infrastructure, compiler/tools, cleanup 🧹

#9431 Add BUILD file for vm/test/emitc and samples/emitc_modules
  build_tools/bazel/iree_c_module.bzl
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/test/emitc/BUILD
  samples/emitc_modules/BUILD
Labels: infrastructure/bazel, compiler/emitc

#9448 Switching from cuDeviceGetUuid_v2 to cuDeviceGetUuid for older CUDA.
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
Labels: hal/cuda

#9451 Always pass `--output-format=vm-c` in iree_c_module.
  build_tools/bazel/iree_c_module.bzl
  build_tools/cmake/iree_c_module.cmake
  runtime/src/iree/vm/test/emitc/BUILD
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
  samples/emitc_modules/BUILD
  samples/emitc_modules/CMakeLists.txt
Labels: infrastructure/cmake, infrastructure/bazel, compiler/emitc

#9450 Always add local_task and VMVX if building the compiler.
  CMakeLists.txt
Labels: infrastructure/cmake

#9454 Fixing default CUDA device selection.
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
Labels: bug 🐞, hal/cuda

#9457 Allowing deviceUUIDs to be used in Vulkan device paths.
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view.h
  runtime/src/iree/base/string_view_test.cc
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
Labels: hal/vulkan

#9455 Refactor `IREE_ENABLE_EMITC` -> `IREE_OUTPUT_FORMAT_C`.
  CMakeLists.txt
  compiler/src/iree/compiler/API/BUILD
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/BUILD
  compiler/src/iree/compiler/Dialect/VM/Target/C/BUILD
  compiler/src/iree/compiler/Dialect/VM/Target/C/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/init_targets.h
  compiler/src/iree/compiler/Tools/BUILD
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_passes.h
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  docs/developers/get_started/cmake_options_and_variables.md
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
  samples/emitc_modules/CMakeLists.txt
  samples/static_library/CMakeLists.txt
Labels: infrastructure/cmake, cleanup 🧹, compiler/emitc

#9461 Adding support for `--function_input=@file.npy` in command line tools.
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  runtime/bindings/python/hal.cc
  runtime/src/iree/base/internal/file_io.c
  runtime/src/iree/hal/buffer_view.h
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/hal/string_util_test.cc
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/numpy_io.c
  runtime/src/iree/tooling/numpy_io.h
  runtime/src/iree/tooling/numpy_io_test.cc
  runtime/src/iree/tooling/testdata/BUILD
  runtime/src/iree/tooling/testdata/CMakeLists.txt
  runtime/src/iree/tooling/testdata/npy/BUILD
  runtime/src/iree/tooling/testdata/npy/CMakeLists.txt
  runtime/src/iree/tooling/testdata/npy/array_shapes.npy
  runtime/src/iree/tooling/testdata/npy/array_types.npy
  runtime/src/iree/tooling/testdata/npy/empty.npy
  runtime/src/iree/tooling/testdata/npy/generate_npy_files.py
  runtime/src/iree/tooling/testdata/npy/multiple.npy
  runtime/src/iree/tooling/testdata/npy/single.npy
  runtime/src/iree/tooling/vm_util.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-run-module-main.cc
Labels: runtime/tools

#9464 Add Linux iree-dist artifact back to the release asset
  .github/workflows/build_package.yml
Labels: infrastructure

#9470 [spirv] Drop math.ctlz expansion given we have native conversion
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
Labels: codegen/spirv

#9466 Adding optimal HAL memory types and refining buffer usage bits.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  docs/developers/design_docs/simple_ir_walkthrough.md
  experimental/rocm/rocm_allocator.c
  experimental/web/sample_static/main.c
  runtime/bindings/python/hal.cc
  runtime/bindings/python/invoke.cc
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/bindings/python/iree/runtime/function.py
  runtime/bindings/python/tests/array_interop_test.py
  runtime/bindings/python/tests/hal_test.py
  runtime/bindings/python/tests/vm_test.py
  runtime/bindings/tflite/tensor.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_view_util.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/cts/allocator_test.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/vulkan/vma_allocator.cc
  runtime/src/iree/hal/utils/buffer_transfer.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/runtime/demo/hello_world_explained.c
  runtime/src/iree/runtime/demo/hello_world_terse.c
  runtime/src/iree/tooling/numpy_io_test.cc
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/vm_util.cc
  runtime/src/iree/vm/bytecode_module_impl.h
  samples/dynamic_shapes/main.c
  samples/simple_embedding/simple_embedding.c
  samples/static_library/static_library_demo.c
  samples/variables_and_state/main.c
  tools/iree-e2e-matmul-test.c
Labels: compiler/dialects, hal/api

#9458 [spirv] Improve CodeGen flow for NVIDIA architectures
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: codegen/spirv, buildkite:benchmark

#9476 Bump pybind requirement to 2.8.0
  compiler/pyproject.toml
  runtime/bindings/python/iree/runtime/build_requirements.txt
  runtime/pyproject.toml
Labels: infrastructure, bindings/python

#9371 TSan CI
  build_tools/buildkite/pipelines/trusted/postsubmit.yml
  build_tools/buildkite/pipelines/trusted/presubmit.yml
  build_tools/buildkite/pipelines/untrusted/build-and-test-tsan.yml
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/ctest_all.sh
Labels: infrastructure/buildkite, TSan

#9364 Topk Parallel Reduction Initial Implementation
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/SplitReduction.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/split-reduction.mlir
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: codegen

#9471 Adding support for TRACY_FIBERS.
  runtime/bindings/python/tests/vm_test.py
  runtime/src/iree/base/tracing.cc
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/context.h
  runtime/src/iree/vm/invocation.c
Labels: runtime/tools

#9501 Adding __NR_futex workaround for riscv32.
  runtime/src/iree/base/internal/synchronization.c
Labels: runtime

#9509 [vulkan] Disable clz.mlir tests due to Adreno GPU failure
  tests/e2e/tosa_ops/BUILD
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: codegen/spirv

#9478 Reduce default max tile size for workgroup distribution for Generic ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9535 [NFC] Merge `InsertDistributionInfo` and `TileAndDistributeToWorkgroups`
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/InsertDistributionInfoPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/insert_distribution_info.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9546 [vulkan] Re-enable tosa.clz tests
  tests/e2e/tosa_ops/BUILD
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: codegen/spirv

#9310 Add peeling to Single and DoubleTilingExpert
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9544 Remove FlowBufferizationState.
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.h
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9508 Integreate topk-split-reduction pass into flow with e2e test
  compiler/src/iree/compiler/Dialect/Flow/Transforms/SplitReduction.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/SplitReduction.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/split-reduction.mlir
  tests/e2e/linalg_ext_ops/BUILD
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Labels: codegen

#9433 [LLVMCPU] Move GEMM based dispatches to use padding approach.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9557 fix race and replace mutex by atomic iree_task_scope
  runtime/src/iree/base/internal/threading.h
  runtime/src/iree/base/internal/threading_darwin.c
  runtime/src/iree/base/internal/threading_pthreads.c
  runtime/src/iree/base/internal/threading_win32.c
  runtime/src/iree/task/scope.c
  runtime/src/iree/task/scope.h
Labels: runtime, TSan

#9552 Remove assumption of partitioned loops from Flow
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/DistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/SetNumWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TestPartitionableLoopsInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Common/test/test_partitionable_loops_interface.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.cpp
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.h
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.h
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/Transforms/BUILD
  compiler/src/iree/compiler/Codegen/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  compiler/src/iree/compiler/Codegen/Utils/BUILD
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/Flow/IR/BUILD
  compiler/src/iree/compiler/Dialect/Flow/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowDialect.h
  compiler/src/iree/compiler/Dialect/Flow/IR/PartitionableLoopsInterface.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transformation.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9578 Remove unnecessary compiler import from runtime benchmark
  runtime/bindings/python/iree/runtime/benchmark.py
Labels: bindings/python

#9587 Adding --iree-flow-export-benchmark-funcs support for buffer views.
  compiler/src/iree/compiler/API/python/test/tools/compiler_core_test.py
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.h
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/schemas/bytecode_module_def.fbs
  runtime/src/iree/vm/bytecode_module.c
Labels: runtime/tools, runtime/vm

#9595 Fix rocm fill buffer function
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/dynamic_symbol_tables.h
Labels: hal/rocm

#9600 Drop hc.bc from the list of device libs pulled in by ROCM backend
  compiler/src/iree/compiler/Dialect/HAL/Target/ROCM/ROCMTargetUtils.cpp
Labels: hal/rocm

#9590 Add utility function for VM to EmitC conversion
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.h
Labels: compiler/emitc

#9602 Fix float->[u]int conversion
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/conversion_ops_f32.mlir
Labels: runtime/vm

#9603 Enable Int64 Shader on Vulkan Device if available
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#9598 Taking care of tech debt from the stream dialect landing.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertAllocatorOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/shape_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StandardToHAL/test/structural_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/timepoint_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/transfer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/UtilToHAL/test/global_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_embedded.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_system.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/bytecode_module_impl.h
Labels: compiler/dialects, cleanup 🧹

#9605 Removing iree/base/logging.h.
  docs/developers/developing_iree/developer_overview.md
  runtime/bindings/python/initialize_module.cc
  runtime/bindings/python/tests/flags_test.py
  runtime/bindings/python/vm.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/native/CMakeLists.txt
  runtime/bindings/tflite/java/org/tensorflow/lite/native/interpreter_jni.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/native/tensor_jni.cc
  runtime/bindings/tflite/java/org/tensorflow/lite/native/tensorflow_lite_jni.cc
  runtime/src/iree/base/BUILD
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/file_io_test.cc
  runtime/src/iree/base/logging.cc
  runtime/src/iree/base/logging.h
  runtime/src/iree/base/status_cc.cc
  runtime/src/iree/base/status_cc.h
  runtime/src/iree/base/testing/BUILD
  runtime/src/iree/base/testing/CMakeLists.txt
  runtime/src/iree/base/testing/dynamic_library_test.cc
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/drivers/vulkan/BUILD
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/debug_reporter.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_pool_cache.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/internal_vk_mem_alloc.cc
  runtime/src/iree/hal/drivers/vulkan/util/BUILD
  runtime/src/iree/hal/drivers/vulkan/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/util/arena.cc
  runtime/src/iree/hal/drivers/vulkan/util/intrusive_list.h
  runtime/src/iree/hal/drivers/vulkan/util/intrusive_list_unique_ptr.inc
  runtime/src/iree/hal/drivers/vulkan/util/ref_ptr.h
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/numpy_io_test.cc
  runtime/src/iree/tooling/vm_util.cc
  runtime/src/iree/tooling/vm_util_test.cc
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode_dispatch_async_test.cc
  runtime/src/iree/vm/bytecode_dispatch_test.cc
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module_benchmark.cc
  runtime/src/iree/vm/test/emitc/BUILD
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
  runtime/src/iree/vm/test/emitc/module_test.cc
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-check-module-main.cc
  tools/iree-run-mlir-main.cc
Labels: runtime/tools, cleanup 🧹

#9606 Cleaning up function nests.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
Labels: compiler/dialects, cleanup 🧹

#9616 Rename PadTensorToSubTensorInsert to more representative PadTensorToInsertSlice
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/PadTensorToTensorInsertSlice.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pad_tensor_to_tensor.mlir
Labels: cleanup 🧹

#9626 Plumbing support for complex64/128 buffer views.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  runtime/bindings/python/hal.cc
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/iree.natvis
  runtime/src/iree/hal/buffer_view.h
  runtime/src/iree/hal/string_util.c
  runtime/src/iree/tooling/numpy_io.c
  runtime/src/iree/tooling/numpy_io_test.cc
  runtime/src/iree/tooling/testdata/npy/array_types.npy
  runtime/src/iree/tooling/testdata/npy/generate_npy_files.py
Labels: hal/api

#9611 Adding VM support for wait/resume and async invocations.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  runtime/src/iree/base/tracing.cc
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/runtime/session.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/queue.c
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/bytecode_dispatch_async_test.cc
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/context.h
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/invocation.h
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module.h
  runtime/src/iree/vm/native_module_test.h
  runtime/src/iree/vm/shims.h
  runtime/src/iree/vm/shims_emitc.h
  runtime/src/iree/vm/stack.c
  runtime/src/iree/vm/stack.h
  runtime/src/iree/vm/stack_test.cc
Labels: runtime/vm

#9629 Adding `--vulkan_debug_verbosity=` flag and disabling debug layers in release.
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/debug_reporter.cc
  runtime/src/iree/hal/drivers/vulkan/debug_reporter.h
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_driver.cc
Labels: hal/vulkan

#9608 Set CMake default build type at the beginning of the cmake config
  CMakeLists.txt
Labels: infrastructure/cmake

#9630 Adding design doc for the IREE invocation execution model.
  docs/developers/design_docs/execution_model.md
  docs/developers/design_docs/simple_ir_walkthrough.md
Labels: documentation

#9632 Removing unused VM bytecode function signature fields.
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  runtime/src/iree/schemas/bytecode_module_def.fbs
Labels: runtime/vm, cleanup 🧹

#9636 Hide latest release from website widget and update icons.
  docs/website/docs/assets/stylesheets/extra.css
  docs/website/mkdocs.yml
Labels: documentation

#9633 Cleaning up VMVX a bit to make it easier to extend.
  runtime/src/iree/hal/local/loaders/registration/init.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.h
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/modules/vmvx/module.h
  samples/simple_embedding/device_vmvx_sync.c
Labels: hal/cpu

#9648 Cleaning up function reflection attrs.
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/function_attrs.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  runtime/bindings/python/vm.cc
  runtime/bindings/tflite/interpreter.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/schemas/bytecode_module_def.fbs
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module.h
  runtime/src/iree/vm/native_module_test.h
  tools/iree-benchmark-module-main.cc
Labels: runtime/vm, cleanup 🧹

#9661 Fixing CUDA command buffer issue introduced in #9645.
  runtime/src/iree/hal/utils/deferred_command_buffer.c
Labels: hal/cuda

#9485 Show and upload compilation metrics in the report
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/cmake/build_linux_benchmark.sh
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9574 [LLVMCPU] Move ARM GEMMs codegen to use upstream tileFuseAndVectorize.
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_fuse_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark, buildkite:benchmark-x86_64

#9657 Re-enable some passing TF tests.
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__complex_dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__complex_dynamic_dim_l2_normalize.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_l2_normalize.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__digamma.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_accumulate_n.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_add_n.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_digamma.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_mod.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__mod.run
Labels: integrations/tensorflow

#9672 [vulkan] Clean up various Vulkan specific e2e tests
  tests/e2e/vulkan_specific/BUILD
  tests/e2e/vulkan_specific/CMakeLists.txt
  tests/e2e/vulkan_specific/compare.mlir
  tests/e2e/vulkan_specific/conv.mlir
  tests/e2e/vulkan_specific/dot_general.mlir
  tests/e2e/vulkan_specific/log_plus_one.mlir
  tests/e2e/vulkan_specific/pw_add_multiwg.mlir
  tests/e2e/vulkan_specific/reduce.mlir
  tests/e2e/vulkan_specific/vectorized_conv.mlir
  tests/e2e/xla_ops/reduce.mlir
Labels: codegen/spirv, cleanup 🧹

#9673 NFC cleanup to HAL dialects cherry picked from #5662 branch.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LibraryBuilder.h
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  compiler/src/iree/compiler/Dialect/Modules/Check/IR/CheckDialect.cpp
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Conversion/VMVXToVM/ConvertVMVXToVM.cpp
  compiler/src/iree/compiler/Dialect/Modules/VMVX/Conversion/VMVXToVM/ConvertVMVXToVM.h
  compiler/src/iree/compiler/Dialect/Modules/VMVX/IR/VMVXDialect.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ConversionDialectInterface.h
  compiler/src/iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
Labels: compiler/dialects, cleanup 🧹

#9665 Report an error when an export function does not map to a vm.func.
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/structural_ops.mlir
Labels: compiler/dialects

#9432 Make release run on self-hosted GitHub runners
  .github/workflows/build_package.yml
Labels: infrastructure

#9679 Create CNAME for github serving
  docs/website/docs/CNAME
Labels: documentation

#9688 Replace mhlo ops with core dialect ops in some tests.
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transformation.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transformation_pipeline.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/test/BUILD
  compiler/src/iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/MHLO/test/transformation_pipeline.mlir
  runtime/bindings/tflite/java/org/tensorflow/lite/tests/simple_add.mlir
  runtime/bindings/tflite/testdata/add_dynamic.mlir
  runtime/bindings/tflite/testdata/add_multi.mlir
  runtime/bindings/tflite/testdata/add_static.mlir
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/runtime/testdata/simple_mul.mlir
  samples/simple_embedding/simple_embedding_test.mlir
  tests/compiler_driver/smoketest.mlir
  tools/test/multiple_exported_functions.mlir
Labels: compiler/dialects, cleanup 🧹
