Repository iree-org/iree, pull requests merged in 2022-08, with the labels that each got.

#9934 Update tests to use "llvm-cpu" and "local-task" names consistently.
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/test.sh
  compiler/src/iree/compiler/API/python/iree/compiler/tools/core.py
  compiler/src/iree/compiler/API/python/test/transforms/ireec/compile_sample_module.py
  compiler/src/iree/compiler/API/python/test/transforms/ireec/compiler_options_test.py
  docs/developers/developing_iree/testing_guide.md
  runtime/bindings/python/iree/runtime/system_api.py
  runtime/src/iree/hal/local/elf/testdata/generate.sh
  tests/e2e/linalg_ext_ops/BUILD
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/linalg_transform/linalg_transform.mlir
  tests/e2e/models/BUILD
  tests/e2e/models/CMakeLists.txt
  tests/e2e/models/edge_detection.mlir
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/fullyconnected.mlir
  tests/e2e/models/mnist_fake_weights.mlir
  tests/e2e/models/resnet50_fake_weights.mlir
  tests/e2e/models/unidirectional_lstm.mlir
  tests/e2e/regression/BUILD
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/dynamic_compare_and_select.mlir
  tests/e2e/regression/dynamic_dot_general.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
  tests/e2e/regression/fill_i64.mlir
  tests/e2e/regression/libm_linking.mlir
  tests/e2e/regression/scalar.mlir
  tests/e2e/regression/unused_args.mlir
  tests/e2e/tensor_ops/BUILD
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tensor_ops/tensor_cast.mlir
  tests/e2e/tosa_ops/BUILD
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
  tests/microbenchmarks/CMakeLists.txt
  tests/microbenchmarks/dynamic_shape_vectorization.mlir
  tests/microbenchmarks/linalg_transpose.mlir
  tools/iree-run-mlir-main.cc
  tools/test/iree-benchmark-module.mlir
  tools/test/iree-run-mlir.mlir
  tools/test/iree-run-module.mlir
Labels: cleanup 🧹

#9969 Add a python custom module sample.
  runtime/bindings/python/py_module.cc
  samples/py_custom_module/CMakeLists.txt
  samples/py_custom_module/README.md
  samples/py_custom_module/decode_secret_message.py
  samples/py_custom_module/main.mlir
Labels: bindings/python

#9963 Add dispatch.region op to Flow dialect
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_ops.mlir
Labels: compiler/dialects

#9968 Remove TiledOpInterface and replace with TilingInterface.
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/PartitionableLoopsInterface.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DispatchLinalgOnTensors.cpp
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  llvm-external-projects/iree-dialects/BUILD
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/TiledOpInterface.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/TiledOpInterface.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/TiledOpInterface.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/ConvertToLoops.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/Tiling.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tiling.mlir
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#9928 Add rocm to the manylinux Dockerfile
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/host_tools.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark.yml
  build_tools/buildkite/pipelines/untrusted/build-and-test-tsan.yml
  build_tools/buildkite/pipelines/untrusted/build-runtime-cmake.yml
  build_tools/buildkite/pipelines/untrusted/test-runtime-cmake.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/manylinux2014_x86_64-release/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/scripts/integrate/README.md
Labels: hal/rocm

#9973 Using `llvm::Optional::value_or` instead of deprecated `getValueOr`.
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableSources.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/SerializeExecutables.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/DFX/Solver.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertStatusOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/DebugDatabaseBuilder.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/DeduplicateRodata.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
Labels: compiler/dialects, cleanup 🧹

#9951 Add job for for riscv64 smoke tests
  .github/workflows/ci.yml
  build_tools/cmake/build_riscv.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/tests/lit.cfg.py
  tests/riscv32/smoke.sh
  tests/riscv64/README.md
  tests/riscv64/abs_test.run
  tests/riscv64/lit.cfg.py
  tests/riscv64/person_detect_rvv_test.run
  tests/riscv64/person_detect_test.run
  tests/riscv64/simple_embedded_tests.run
  tests/riscv64/smoke.sh
Labels: infrastructure

#9979 Add job for testing TF integrations on GPU
  .github/workflows/ci.yml
  build_tools/cmake/run_tf_tests.sh
  build_tools/scripts/check_cuda.sh
  build_tools/scripts/check_vulkan.sh
Labels: infrastructure

#9980 Add job for building and testing with Bazel
  .github/workflows/ci.yml
  build_tools/bazel/build_core.sh
  build_tools/docker/docker_run.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build.sh
Labels: infrastructure

#9997 Fix runtime driver name in tflite_text_classification.ipynb.
  samples/colab/tflite_text_classification.ipynb
Labels: bindings/python

#9999 Fixing iree_cc_unified_library debug output file name aliasing.
  build_tools/cmake/iree_cc_library.cmake
Labels: infrastructure/cmake

#9975 Update Tensor Core To Support More Granular Sizes
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
Labels: codegen/nvvm

#10013 Ensuring rodata names and mime types can go from util->vm.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/ConvertMemRefToUtil.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/Transforms/HoistInlinedRodata.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/hoist_inlined_rodata.mlir
Labels: compiler/dialects

#10012 Fixing iree-run-mlir command line parsing on Windows.
  docs/developers/developing_iree/developer_overview.md
  docs/developers/get_started/building_with_bazel_linux.md
  docs/developers/get_started/building_with_bazel_macos.md
  docs/developers/get_started/building_with_bazel_windows.md
  tests/e2e/linalg_transform/linalg_transform.mlir
  tests/e2e/models/collatz.mlir
  tests/e2e/models/edge_detection.mlir
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/fullyconnected.mlir
  tests/e2e/models/mnist_fake_weights.mlir
  tests/e2e/models/resnet50_fake_weights.mlir
  tests/e2e/models/unidirectional_lstm.mlir
  tests/e2e/regression/dynamic_dot_general.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_0.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_1.mlir
  tests/e2e/regression/dynamic_linalg_matmul_on_tensors_fuse_2.mlir
  tests/e2e/regression/fill_i64.mlir
  tools/iree-run-mlir-main.cc
Labels: platform/windows 🚪, compiler/tools

#10025 [vulkan] Disable layernorm while fixing failures on Pixel 6
  tests/e2e/regression/BUILD
  tests/e2e/regression/CMakeLists.txt
Labels: platform/android 🤖, codegen/spirv

#10014 Adding VM module dependency versioning support.
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/structural_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/dependencies.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/dependencies.mlir
  runtime/bindings/python/py_module.cc
  runtime/bindings/python/vm.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/schemas/bytecode_module_def.fbs
  runtime/src/iree/vm/bytecode_dispatch_test.cc
  runtime/src/iree/vm/bytecode_module.c
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module.h
  runtime/src/iree/vm/native_module_cc.h
  runtime/src/iree/vm/native_module_test.h
  runtime/src/iree/vm/test/emitc/module_test.cc
  samples/custom_module/README.md
  samples/custom_module/module.cc
Labels: compiler/dialects, runtime/vm

#10034 Fixing flag argv truncation.
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/base/testing/BUILD
  runtime/src/iree/base/testing/dynamic_library_test.cc
Labels: bug 🐞, runtime

#10053 Turn on GPU tests on presubmit
  .github/workflows/ci.yml
Labels: infrastructure

#10072 Small tweaks found during stream->hal->vm lowering.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/buffer_view_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/buffer_view_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/linking.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_builtins.mlir
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
Labels: compiler/dialects

#10074 Making executable layouts optional for local executables.
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/loaders/embedded_elf_loader.c
  runtime/src/iree/hal/local/loaders/system_library_loader.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/local/local_executable.h
Labels: hal/cpu

#10076 Fixing util.buffer.size -> vm.buffer.size result type conversion.
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
Labels: compiler/dialects

#10054 Add quantized models x86_64 and riscv benchmark suites.
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TFLite/linux-riscv.cmake
  benchmarks/TFLite/linux-x86_64.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#9989 Add services for ephemeral VMs
  build_tools/github_actions/runner/config/deregister.sh
  build_tools/github_actions/runner/config/functions.sh
  build_tools/github_actions/runner/config/github-actions-runner-deregister.service
  build_tools/github_actions/runner/config/github-actions-runner-start.service
  build_tools/github_actions/runner/config/register.sh
  build_tools/github_actions/runner/config/setup.sh
  build_tools/github_actions/runner/config/start.sh
  build_tools/github_actions/runner/fetch_and_setup.sh
Labels: skip-ci

#10082 Disable GPU builds
  .github/workflows/ci.yml
Labels: infrastructure

#9942 Update benchmarks to use "llvm-cpu" and "local-task" names consistently.
  benchmarks/TF/linux-x86_64.cmake
  benchmarks/TFLite/android-arm64-v8a.cmake
  benchmarks/TFLite/linux-riscv.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  build_tools/benchmarks/README.md
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/common/benchmark_thresholds.py
  build_tools/benchmarks/comparisons/README.md
  build_tools/benchmarks/comparisons/run_benchmarks.py
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/benchmarks/comparisons/setup_mobile.sh
Labels: cleanup 🧹, infrastructure/benchmark

#10085 Remove legacy and abbreviated llvm-cpu target name registrations.
  compiler/src/iree/compiler/API/python/iree/compiler/tools/__init__.py
  compiler/src/iree/compiler/Codegen/Common/test/remove_trivial_loops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/aarch64_dotprod_vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_riscv_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transform_dialect_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transpose_avx2_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/triple_tiling_expert_pipeline.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_embedded.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/test/smoketest_system.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/verify_target_environment.mlir
Labels: cleanup 🧹

#10081 Use run ID to identify artifacts
  .github/workflows/ci.yml
Labels: infrastructure

#10094 Consider aliasing in branch op conversions
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  runtime/src/iree/vm/test/control_flow_ops.mlir
Labels: compiler/emitc

#10088 Fix relative path used to search for linker tools.
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LinkerTool.cpp
Labels: codegen/llvm

#10051 Summarize dispatch op names using linalg interfaces and heuristics.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transformation_pipeline.mlir
  tests/e2e/regression/trace_dispatch_tensors.mlir
Labels: compiler/dialects, codegen, performance ⚡, quality of life 😊

#10099 Used prefixed form for accessors in WebGPUTarget.
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
Labels: skip-ci

#10100 Gracefully ignore failed driver inits when listing all devices.
  runtime/src/iree/tooling/device_util.c
Labels: runtime/tools

#10101 Remove test public visibility and mark more targets testonly.
  build_tools/bazel/iree_trace_runner_test.bzl
  runtime/src/iree/base/BUILD
  runtime/src/iree/task/testing/BUILD
  runtime/src/iree/tooling/testdata/npy/BUILD
  runtime/src/iree/tooling/testdata/npy/CMakeLists.txt
  tests/BUILD
  tests/compiler_driver/BUILD
  tests/e2e/BUILD
  tests/e2e/linalg_ext_ops/BUILD
  tests/e2e/linalg_transform/BUILD
  tests/e2e/matmul/BUILD
  tests/e2e/models/BUILD
  tests/e2e/regression/BUILD
  tests/e2e/tensor_ops/BUILD
  tests/e2e/tosa_ops/BUILD
  tests/e2e/vulkan_specific/BUILD
  tests/e2e/xla_ops/BUILD
Labels: infrastructure/bazel, cleanup 🧹

#10089 Adding interfaces for global ops used by the util dialect and fixing SinkGlobalBufferLoads.
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DumpDispatchGraph.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/test/invalid.mlir
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.h
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/SimplifyGlobalAccesses.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertGlobalOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/global_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/OrdinalAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/VM/Transforms/ResolveRodataLoads.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/SinkGlobalBufferLoads.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/deduplicate_rodata.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/resolve_rodata_loads.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/sink_global_buffer_loads.mlir
  runtime/src/iree/vm/test/global_ops.mlir
  runtime/src/iree/vm/test/global_ops_f32.mlir
  runtime/src/iree/vm/test/global_ops_i64.mlir
Labels: compiler/dialects, cleanup 🧹

#10109 Adding test for the executable benchmark flow.
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/executable_benchmarks.mlir
Labels: runtime/tools

#10008 Drop use of destructive updates
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/DestructiveUpdateUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/DestructiveUpdateUtils.h
  compiler/src/iree/compiler/Codegen/Common/FoldAffineMinInDistributedLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/RewriteLinalgDestructiveUpdatesPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/rewrite_linalg_destructive_updates.mlir
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#10123 Limit git log depth to improve local GitHub action runs
  .github/workflows/ci.yml
Labels: infrastructure

#10127 Enable detensorize by default
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#10130 Plumbing and preparing HAL drivers for new queuing behavior.
  experimental/rocm/executable_layout.c
  experimental/rocm/executable_layout.h
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/executable_layout.c
  runtime/src/iree/hal/drivers/cuda/executable_layout.h
  runtime/src/iree/hal/drivers/local_sync/BUILD
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.h
  runtime/src/iree/hal/drivers/local_sync/sync_semaphore.c
  runtime/src/iree/hal/drivers/local_sync/sync_semaphore.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_semaphore.c
  runtime/src/iree/hal/drivers/local_task/task_semaphore.h
  runtime/src/iree/hal/drivers/vulkan/native_executable_layout.cc
  runtime/src/iree/hal/drivers/vulkan/native_executable_layout.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/executable_layout.c
  runtime/src/iree/hal/executable_layout.h
  runtime/src/iree/hal/fence.c
  runtime/src/iree/hal/fence.h
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer.h
  runtime/src/iree/hal/local/local_executable_layout.c
  runtime/src/iree/hal/local/local_executable_layout.h
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/hal/semaphore.h
  runtime/src/iree/hal/utils/buffer_transfer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.h
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/task/executor.c
Labels: hal/api

#10141 Adding iree_hal_device_queue_barrier helper and fixing pool enum.
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/modules/hal/module.c
Labels: hal/api

#10086 Update default tiling sizes for ARM convolution configurations.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
Labels: buildkite:benchmark

#10146 Removing !hal.descriptor_set/iree_hal_descriptor_set_t.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ElideRedundantCommands.cpp
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  experimental/rocm/cts/CMakeLists.txt
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/rocm_device.c
  runtime/iree.natvis
  runtime/src/iree/hal/BUILD
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/descriptor_set_test.h
  runtime/src/iree/hal/descriptor_set.c
  runtime/src/iree/hal/descriptor_set.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/BUILD
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/native_descriptor_set.cc
  runtime/src/iree/hal/drivers/vulkan/native_descriptor_set.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/local_descriptor_set.c
  runtime/src/iree/hal/local/local_descriptor_set.h
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/hal/types.c
  runtime/src/iree/modules/hal/types.h
Labels: hal/api, cleanup 🧹

#10154 [NFC] Merging descriptor_set_layout.h into executable_layout.h.
  experimental/rocm/CMakeLists.txt
  experimental/rocm/descriptor_set_layout.c
  experimental/rocm/descriptor_set_layout.h
  experimental/rocm/executable_layout.c
  experimental/rocm/executable_layout.h
  experimental/rocm/rocm_device.c
  runtime/iree.natvis
  runtime/src/iree/hal/BUILD
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/descriptor_set_layout.c
  runtime/src/iree/hal/descriptor_set_layout.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/descriptor_set_layout.c
  runtime/src/iree/hal/drivers/cuda/descriptor_set_layout.h
  runtime/src/iree/hal/drivers/cuda/executable_layout.c
  runtime/src/iree/hal/drivers/cuda/executable_layout.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/BUILD
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.cc
  runtime/src/iree/hal/drivers/vulkan/native_descriptor_set_layout.cc
  runtime/src/iree/hal/drivers/vulkan/native_descriptor_set_layout.h
  runtime/src/iree/hal/drivers/vulkan/native_executable_layout.cc
  runtime/src/iree/hal/drivers/vulkan/native_executable_layout.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/executable_layout.c
  runtime/src/iree/hal/executable_layout.h
  runtime/src/iree/hal/local/BUILD
  runtime/src/iree/hal/local/CMakeLists.txt
  runtime/src/iree/hal/local/executable_library_benchmark.c
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/local_descriptor_set_layout.c
  runtime/src/iree/hal/local/local_descriptor_set_layout.h
  runtime/src/iree/hal/local/local_executable_layout.c
  runtime/src/iree/hal/local/local_executable_layout.h
Labels: hal/api, cleanup 🧹

#10162 Remove ArithmeticExpandOpsPass from SPIRV and VMVX lowerings.
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Labels: codegen/spirv, cleanup 🧹, codegen/vmvx

#10170 Replacing descriptor set layout usage with a flag bitfield.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BindingLayout.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BindingLayout.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/descriptor_set_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMTypes.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  experimental/rocm/pipeline_layout.c
  experimental/rocm/pipeline_layout.h
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/descriptor_set_layout_test.h
  runtime/src/iree/hal/cts/executable_cache_test.h
  runtime/src/iree/hal/cts/pipeline_layout_test.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.c
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/native_pipeline_layout.cc
  runtime/src/iree/hal/drivers/vulkan/native_pipeline_layout.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/local_pipeline_layout.c
  runtime/src/iree/hal/local/local_pipeline_layout.h
  runtime/src/iree/hal/pipeline_layout.c
  runtime/src/iree/hal/pipeline_layout.h
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
Labels: compiler/dialects, hal/api

#10166 [LLVMGPU] Start transitioning to scf.foreach for second level tiling
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileTensor.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/distribute_foreach.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/tile_on_tensor.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark-cuda

#10190 Rework build_benchmarks to reuse already built host tools.
  .github/workflows/ci.yml
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_benchmarks.sh
Labels: infrastructure, cleanup 🧹

#10181 Plumbing support for nested command buffers and binding tables.
  build_tools/cmake/build_and_test_asan.sh
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/ConvertStreamToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer.h
  runtime/src/iree/hal/local/local_pipeline_layout.c
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.h
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/bytecode_module_impl.h
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
Labels: compiler/dialects, hal/api

#10195 Replace dedicated host_tools CI job with superset build_all.
  .github/workflows/ci.yml
  .github/workflows/host_tools.yml
  build_tools/cmake/build_all.sh
Labels: infrastructure, cleanup 🧹

#10214 Add debug option to dump LLVMCPU/GPU pass pipeline
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: codegen/llvm

#10210 Find root by traversing the compute ops in reverse.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#10223 [NFC] Slight cleanup in HAL compiler passes.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BenchmarkBatchDispatches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
Labels: compiler/dialects, cleanup 🧹

#10179 Optimize tiling sizes heuristics for elementwise dispatches.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#10234 Remove RV32 Mobile Bert Compilation Benchmark
  benchmarks/TFLite/linux-riscv.cmake
Labels: infrastructure, infrastructure/benchmark, codegen/riscv, buildkite:benchmark-riscv

#10251 Fix compilation errors for hal/drivers/webgpu under Emscripten.
  runtime/src/iree/hal/drivers/webgpu/bind_group_cache.c
  runtime/src/iree/hal/drivers/webgpu/staging_buffer.c
Labels: hal/webgpu

#10249 Finishing plumbing on VMVX processor information.
  compiler/src/iree/compiler/Dialect/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
  compiler/src/iree/compiler/Dialect/Modules/HAL/Inline/Transforms/test/inline_executables.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Conversion/HALToVMVX/test/interface_ops.mlir
  runtime/src/iree/hal/drivers/local_sync/BUILD
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/local/executable_environment.c
  runtime/src/iree/hal/local/executable_environment.h
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/modules/hal/inline/BUILD
  runtime/src/iree/modules/hal/inline/CMakeLists.txt
  runtime/src/iree/modules/hal/inline/module.c
Labels: hal/cpu, codegen/vmvx

#10248 Pass env variable instructing CI to write Bazel cache
  .github/workflows/ci.yml
Labels: infrastructure

#10254 Rollup of latency improvements to the task system.
  experimental/web/sample_static/device_multithreaded.c
  runtime/src/iree/base/internal/synchronization.c
  runtime/src/iree/base/internal/synchronization.h
  runtime/src/iree/task/api.c
  runtime/src/iree/task/api.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/executor_demo.cc
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/executor_test.cc
  runtime/src/iree/task/post_batch.c
  runtime/src/iree/task/testing/task_test.h
  runtime/src/iree/task/tuning.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/task/worker.h
  tools/iree-benchmark-module-main.cc
  tools/iree-run-module-main.cc
Labels: performance ⚡, hal/cpu, buildkite:benchmark, buildkite:benchmark-x86_64

#10263 Script the removal of idle runners
  build_tools/github_actions/runner/README.md
  build_tools/github_actions/runner/gcp/create_instance_group.sh
  build_tools/github_actions/runner/gcp/remove_idle_runners.sh
Labels: infrastructure
