Repository iree-org/iree, pull requests merged in 2022-01, with the labels that each got.

#7991 Fixing MSVC unhappiness with unneeded initializer wrapper.
  iree/compiler/Dialect/Flow/Transforms/InferNumericNarrowing.cpp
Labels: platform/windows 🚪

#7994 Adding iree_hal_resource_retain/release.
  iree/hal/allocator.h
  iree/hal/buffer.h
  iree/hal/command_buffer.h
  iree/hal/descriptor_set.h
  iree/hal/descriptor_set_layout.h
  iree/hal/device.h
  iree/hal/driver.h
  iree/hal/event.h
  iree/hal/executable.h
  iree/hal/executable_cache.h
  iree/hal/executable_layout.h
  iree/hal/resource.h
  iree/hal/semaphore.h
Labels: hal/api

#7961 Stop benchmarking on Galaxy S20
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: cleanup 🧹, buildkite:benchmark

#7990 Plumbing a user-level memory trimming and notification API.
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_device.c
  iree/hal/allocator.c
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_device.c
  iree/hal/device.c
  iree/hal/device.h
  iree/hal/local/sync_device.c
  iree/hal/local/task_device.c
  iree/hal/vulkan/vma_allocator.cc
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/module.c
  iree/runtime/session.c
  iree/runtime/session.h
  iree/task/executor.c
  iree/task/executor.h
  iree/vm/bytecode_module.c
  iree/vm/context.c
  iree/vm/context.h
  iree/vm/module.h
  iree/vm/native_module.c
  iree/vm/native_module_cc.h
Labels: hal/api, runtime/vm

#7997 Adding iree_hal_resource_set_t.
  iree/base/internal/arena.c
  iree/base/status.c
  iree/hal/utils/BUILD
  iree/hal/utils/CMakeLists.txt
  iree/hal/utils/resource_set.c
  iree/hal/utils/resource_set.h
  iree/hal/utils/resource_set_benchmark.c
  iree/hal/utils/resource_set_test.cc
  iree/testing/benchmark_full.cc
Labels: hal/api

#7992 Adding optional target_storage to hal.tensor.export.
  iree/base/internal/arena.c
  iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.td
  iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  iree/compiler/Dialect/Stream/Conversion/HALToStream/ConvertHALToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/hal/local/task_command_buffer.c
  iree/modules/hal/module.c
  iree/task/api.c
  iree/tools/utils/trace_replay.c
  iree/tools/utils/vm_util.cc
  iree/tools/utils/vm_util_test.cc
  iree/vm/list.c
Labels: compiler, performance ⚡

#7998 Moving resource lifetime tracking to command buffers.
  experimental/rocm/rocm_device.c
  iree/hal/command_buffer.h
  iree/hal/cuda/BUILD
  iree/hal/cuda/CMakeLists.txt
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/graph_command_buffer.c
  iree/hal/cuda/graph_command_buffer.h
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/local/task_command_buffer.c
  iree/hal/utils/BUILD
  iree/hal/utils/CMakeLists.txt
  iree/hal/utils/deferred_command_buffer.c
  iree/hal/utils/resource_set.c
  iree/hal/utils/resource_set.h
  iree/hal/vulkan/BUILD
  iree/hal/vulkan/CMakeLists.txt
  iree/hal/vulkan/direct_command_buffer.cc
  iree/hal/vulkan/direct_command_buffer.h
  iree/hal/vulkan/vulkan_device.cc
  iree/modules/hal/module.c
Labels: performance ⚡, hal/api

#8004 Delete iree/samples/ops/.
  iree/samples/ops/dynamic-mhlo-dot.mlir
  iree/samples/ops/mhlo-dot.mlir
Labels: cleanup 🧹

#8005 Fixing CUDA graph recording and allowing for re-recording.
  iree/hal/cuda/graph_command_buffer.c
Labels: bug 🐞, hal/cuda

#8008 Fix to prevent globals with divergent stores from fusing.
  iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  iree/compiler/Dialect/Util/Transforms/test/fuse_globals.mlir
Labels: bug 🐞, compiler

#8010 Add --iree-opt-numeric-precision-reduction option.
  docs/website/docs/reference/optimization-options.md
  docs/website/mkdocs.yml
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
Labels: documentation ✏️, performance ⚡, compiler/api

#8017 Fix vulkan_inference_gui sample after HAL and ABI changes.
  iree/samples/vulkan/vulkan_inference_gui.cc
  iree/testing/vulkan/vulkan_gui_util.cc
Labels: hal/vulkan

#8019 Adjust benchmark threshold for mobile GPUs
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: platform/android 🤖, buildkite:benchmark

#7982 Add HAL CTS tests using executables.
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_c_embed_data.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  experimental/rocm/cts/CMakeLists.txt
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/cts_test_base.h
  iree/hal/cts/cts_test_template.cc.in
  iree/hal/cts/executable_cache_test.h
  iree/hal/cts/testdata/executable_cache_test.mlir
  iree/hal/cuda/cts/CMakeLists.txt
  iree/hal/dylib/cts/CMakeLists.txt
  iree/hal/vmvx/cts/CMakeLists.txt
  iree/hal/vulkan/cts/CMakeLists.txt
Labels: infrastructure/cmake, hal/api

#7986 Add command_buffer_dispatch_test to the HAL CTS.
  experimental/rocm/cts/CMakeLists.txt
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cts/cts_test_template.cc.in
  iree/hal/cts/descriptor_set_test.h
  iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  iree/hal/cuda/cts/CMakeLists.txt
  iree/hal/vulkan/cts/CMakeLists.txt
Labels: infrastructure 🛠️, hal/api

#8028 Roll foward adding command_buffer_dispatch_test.
  experimental/rocm/cts/CMakeLists.txt
  iree/hal/cts/CMakeLists.txt
  iree/hal/cts/command_buffer_dispatch_test.h
  iree/hal/cts/command_buffer_test.h
  iree/hal/cts/cts_test_template.cc.in
  iree/hal/cts/descriptor_set_test.h
  iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  iree/hal/cuda/cts/CMakeLists.txt
  iree/hal/vulkan/cts/CMakeLists.txt
Labels: infrastructure 🛠️, hal/api, hal/cuda, hal/rocm

#8031 Remove the legacy Jax API from the iree repo.
  .github/workflows/build_package.yml
  .github/workflows/validate_and_publish_release.yml
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/iree/jax/CMakeLists.txt
  bindings/python/iree/jax/README.md
  bindings/python/iree/jax/__init__.py
  bindings/python/iree/jax/frontend.py
  bindings/python/iree/jax/frontend_test.py
  bindings/python/iree/jax/setup.py.in
  bindings/python/iree/jax/version.py.in
  build_tools/github_actions/build_dist.py
Labels: bindings/python

#8032 Remove the "-snapshot" release suffix.
  .github/workflows/schedule_candidate_release.yml
  .github/workflows/validate_and_publish_release.yml
  benchmarks/README.md
  colab/edge_detection.ipynb
  colab/low_level_invoke_function.ipynb
  colab/mnist_training.ipynb
  colab/resnet.ipynb
  colab/tensorflow_hub_import.ipynb
  colab/tflite_text_classification.ipynb
  docs/api_docs/python/requirements.txt
  docs/developers/get_started/getting_started_tensorflow.md
  docs/website/docs/bindings/python.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: infrastructure 🛠️, bindings/python

#8040 Generate a version.py for iree.compiler.
  llvm-external-projects/iree-compiler-api/build_tools/smoketest.py
  llvm-external-projects/iree-compiler-api/python/CMakeLists.txt
  llvm-external-projects/iree-compiler-api/python/iree/compiler/version.py
  llvm-external-projects/iree-compiler-api/setup.py
Labels: infrastructure 🛠️, bindings/python

#8054 Reordering global simplification to happen before folding.
  iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Labels: compiler

#7908 Create an e2e SingleTilingExpert pass pipeline for CPU backend.
  iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  iree/compiler/Codegen/Dialect/LoweringConfig.td
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  iree/compiler/Codegen/LLVMCPU/Passes.cpp
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  iree/compiler/Codegen/Utils/Utils.cpp
  iree/compiler/Codegen/Utils/Utils.h
Labels: buildkite:benchmark

#8058 Adding `--cuda_allow_inline_execution` flag.
  iree/hal/cuda/api.h
  iree/hal/cuda/cuda_device.c
  iree/hal/cuda/registration/driver_module.c
Labels: performance ⚡, hal/cuda

#8063 Fixing iree-benchmark-trace.
  iree/hal/cuda/native_executable.c
  iree/tools/iree-benchmark-trace-main.c
Labels: runtime/tools

#8062 Replace Galaxy S20 with Pixel 6 for Android testing
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: infrastructure 🛠️, platform/android 🤖

#8065 Fixes alignment propagation when dispatch operands are cast.
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
Labels: bug 🐞, compiler, performance ⚡

#8068 Drop old BUILD file for google_tracing_framework_cpp.
  BUILD.bazel
  build_tools/third_party/google_tracing_framework_cpp/BUILD.overlay
Labels: cleanup 🧹

#8069 Refresh 404 page on the website.
  docs/website/overrides/404.html
Labels: documentation ✏️

#8071 Cast from uint8_t* to char* in generate_embed_data, fixing warning.
  build_tools/embed_data/generate_embed_data_main.cc
Labels: cleanup 🧹

#8072 Adding `-iree-util-strip-debug-ops` pass.
  docs/website/docs/reference/optimization-options.md
  iree/compiler/Dialect/Util/IR/UtilBase.td
  iree/compiler/Dialect/Util/IR/UtilTraits.h
  iree/compiler/Dialect/Util/Transforms/BUILD
  iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/Passes.h
  iree/compiler/Dialect/Util/Transforms/StripDebugOps.cpp
  iree/compiler/Dialect/Util/Transforms/test/BUILD
  iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Util/Transforms/test/strip_debug_ops.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
Labels: compiler

#8059 Sever the dependency on IREE internal from integration/tensorflow.
  integrations/tensorflow/README.md
  integrations/tensorflow/WORKSPACE
  integrations/tensorflow/build_tools/bazel/BUILD
  integrations/tensorflow/build_tools/bazel/IreeFileCheck.sh
  integrations/tensorflow/build_tools/bazel/enforce_glob.bzl
  integrations/tensorflow/build_tools/bazel/lit_test.bzl
  integrations/tensorflow/build_tools/bazel/run_lit.sh
  integrations/tensorflow/build_tools/overlay/mlir-hlo/BUILD.bazel
  integrations/tensorflow/build_tools/overlay/mlir-hlo/WORKSPACE
  integrations/tensorflow/e2e/BUILD
  integrations/tensorflow/iree-dialects
  integrations/tensorflow/iree_tf_compiler/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/BUILD
  integrations/tensorflow/iree_tf_compiler/MHLO/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/MHLO/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TF/Passes.cpp
  integrations/tensorflow/iree_tf_compiler/TF/SavedModelToIreeABI.cpp
  integrations/tensorflow/iree_tf_compiler/TF/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TF/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/lower_global_tensors_complex.mlir
  integrations/tensorflow/iree_tf_compiler/TF/test/saved_model_to_iree_abi.mlir
  integrations/tensorflow/iree_tf_compiler/TFL/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/LowerGlobalTensors.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/RetainCallOnceFuncs.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/VerifyFullyConverted.cpp
  integrations/tensorflow/iree_tf_compiler/TFL/test/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/import/BUILD
  integrations/tensorflow/iree_tf_compiler/TFL/test/lower_global_tensors.mlir
  integrations/tensorflow/iree_tf_compiler/Utils/BUILD
  integrations/tensorflow/iree_tf_compiler/Utils/ConversionUtils.cpp
  integrations/tensorflow/iree_tf_compiler/Utils/ConversionUtils.h
  integrations/tensorflow/iree_tf_compiler/iree-import-tf-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-tf-opt-main.cpp
  iree/compiler/Dialect/HAL/IR/HALOps.cpp
  iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  iree/compiler/InputConversion/Common/test/iree_import_public.mlir
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/core.py
  llvm-external-projects/iree-compiler-api/python/iree/compiler/tools/tf.py
  scripts/check_tabs.sh
Labels: integrations/tensorflow, cleanup 🧹

#8064 Upgrade Bazel to 4.2.2
  .bazelversion
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_package.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/build_configurations.yml
  build_tools/buildkite/samples.yml
  build_tools/docker/android/Dockerfile
  build_tools/docker/base/Dockerfile
  build_tools/docker/emscripten/Dockerfile
  build_tools/docker/frontends-nvidia/Dockerfile
  build_tools/docker/frontends-swiftshader/Dockerfile
  build_tools/docker/frontends/Dockerfile
  build_tools/docker/gradle-android/Dockerfile
  build_tools/docker/nvidia/Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/docker/riscv/Dockerfile
  build_tools/docker/samples/Dockerfile
  build_tools/docker/swiftshader/Dockerfile
  build_tools/github_actions/README.md
  build_tools/github_actions/install_tbb_manylinux2014.sh
  build_tools/kokoro/gcp_ubuntu/bazel/linux/x86-swiftshader/core/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake-bazel/linux/x86-turing/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/android/arm64-v8a/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/baremetal/riscv32/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/riscv64/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader-asan/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-swiftshader/build_kokoro.sh
  build_tools/kokoro/gcp_ubuntu/cmake/linux/x86-turing/build_kokoro.sh
  docs/developers/debugging/releases.md
  integrations/tensorflow/.bazelversion
Labels: infrastructure 🛠️, infrastructure/bazel

#8077 Emscripten patches for threading_pthreads.c.
  iree/base/internal/threading_pthreads.c
Labels: runtime

#8070 Fixing dynamic dimension capturing in `flow.dispatch.workgroups`.
  iree/compiler/Codegen/Common/test/canonicalize_interface_load_store.mlir
  iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  iree/compiler/Codegen/Common/test/linalg_bufferize.mlir
  iree/compiler/Codegen/LLVMCPU/test/materialize_launch_configuration.mlir
  iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  iree/compiler/Dialect/Flow/IR/FlowOps.td
  iree/compiler/Dialect/Flow/IR/test/dispatch_tensor_folding.mlir
  iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  iree/compiler/Dialect/Flow/Transforms/BUILD
  iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/CaptureDispatchDynamicDims.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  iree/compiler/Dialect/Flow/Transforms/Passes.h
  iree/compiler/Dialect/Flow/Transforms/Passes.td
  iree/compiler/Dialect/Flow/Transforms/test/BUILD
  iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Flow/Transforms/test/capture_dispatch_dynamic_dims.mlir
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Transforms/OutlineConstants.cpp
  iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
Labels: compiler

#8082 Ensuring buffer deallocation always routes through allocators.
  experimental/rocm/rocm_buffer.c
  iree/hal/buffer.c
  iree/hal/buffer.h
  iree/hal/buffer_heap.c
  iree/hal/cuda/cuda_allocator.c
  iree/hal/cuda/cuda_buffer.c
  iree/hal/cuda/native_executable.c
  iree/hal/vulkan/vma_buffer.cc
  iree/modules/hal/module.c
  iree/tools/iree-benchmark-trace-main.c
  iree/tools/iree-e2e-matmul-test.c
  iree/tools/iree-run-trace-main.c
  iree/tools/utils/trace_replay.c
  iree/tools/utils/trace_replay.h
Labels: bug 🐞, runtime, hal/cuda

#8087 Fix benchmark compilation script after TensorFlow de-integration
  build_tools/cmake/build_android_benchmark.sh
Labels: buildkite:benchmark

#8091 Adding support for loading/storing i64 into staging buffers.
  iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertBufferOps.cpp
  iree/compiler/Dialect/HAL/Conversion/HALToVM/test/buffer_ops.mlir
Labels: compiler

#8092 Disable suspected flaky tests.
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__complex_dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__complex_dynamic_dim_l2_normalize.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmaot__dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__complex_dynamic_dim_l2_normalize.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__digamma.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_accumulate_n.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_add_n.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_count_nonzero.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_digamma.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_mod.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__mod.run
Labels: integrations/tensorflow

#8101 Stripping assert ops from within flow.executables.
  iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: compiler

#8080 Update with Command Line Tracy usage.
  docs/developers/developing_iree/profiling_with_tracy.md
Labels: documentation ✏️, performance ⚡

#8104 Supporting i64 comparison in VM conversion.
  iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  iree/compiler/Dialect/VM/Conversion/StandardToVM/test/comparison_ops.mlir
Labels: compiler

#8107 Move tools/compilation.bzl to build_tools/bazel/.
  bindings/tflite/testdata/BUILD
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_trace_runner_test.bzl
  iree/runtime/testdata/BUILD
  iree/samples/custom_modules/BUILD
  iree/samples/simple_embedding/BUILD
  iree/vm/BUILD
  iree/vm/test/BUILD
Labels: infrastructure/bazel, cleanup 🧹

#8108 Preparing for VM coroutine yields via `vm.yield`.
  iree/base/status.c
  iree/base/status.h
  iree/base/status_cc.h
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/VM/IR/VMOps.cpp
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  iree/vm/bytecode_disasm.c
  iree/vm/bytecode_dispatch.c
Labels: runtime/vm

#8109 Adding math.erf -> vm.erf.f32 support.
  iree/compiler/Dialect/VM/Conversion/MathToVM/ConvertMathToVM.cpp
  iree/compiler/Dialect/VM/Conversion/MathToVM/test/arithmetic_ops.mlir
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  iree/compiler/Dialect/VM/IR/VMOps.td
  iree/vm/bytecode_disasm.c
  iree/vm/bytecode_dispatch.c
  iree/vm/generated/bytecode_op_table.h
  iree/vm/ops.h
  iree/vm/test/arithmetic_ops_f32.mlir
Labels: runtime/vm

#8041 Adjust mobile CPU benchmark thresholds
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: platform/android 🤖, buildkite:benchmark

#7752 [spirv] Fix two issues in default op configuration
  iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
Labels: cla: yes, buildkite:benchmark

#8113 Move scheduled release forward to 2am PST.
  .github/workflows/schedule_candidate_release.yml
Labels: infrastructure 🛠️

#8110 Misc cleanup for CPU Kernel dispatch configuration.
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: buildkite:benchmark

#8121 Adjust noisy threshold to 2ms for MobileNetV3 on Mali GPUs
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: buildkite:benchmark

#8090 Quick refresh for TensorFlow importer and Python package documentation.
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  docs/website/docs/deployment-configurations/cpu-dylib.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/ml-frameworks/tensorflow-lite.md
  docs/website/docs/ml-frameworks/tensorflow.md
Labels: documentation ✏️, integrations/tensorflow, bindings/python

#8141 Fixing check of flow.dispatch.tensor.load constant canonicalization.
  iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
Labels: bug 🐞, compiler

#8142 Fix iree-samples buildkite pipeline.
  colab/edge_detection.ipynb
  colab/test_notebooks.py
  iree/samples/dynamic_shapes/README.md
  iree/samples/dynamic_shapes/dynamic_shapes.ipynb
  iree/samples/dynamic_shapes/test.sh
  iree/samples/variables_and_state/README.md
  iree/samples/variables_and_state/variables_and_state.ipynb
Labels: integrations/tensorflow, integrations/colab, bindings/python

#8120 Add support for pinning down Adreno GPU frequency for benchmarking
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_adreno_gpu_scaling_policy.sh
  build_tools/benchmarks/set_pixel6_gpu_scaling_policy.sh
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
Labels: platform/android 🤖, infrastructure/benchmark, buildkite:benchmark

#8144 Fixing insertion location of `stream.binding.subspan` ops.
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/ConvertFlowToStream.cpp
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/BUILD
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/executable_ops.mlir
  iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
Labels: compiler

#7929 Generate header-only style libraries with EmitC
  build_tools/cmake/iree_c_module.cmake
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/compiler/Dialect/VM/Target/C/CModuleTarget.cpp
  iree/samples/emitc_modules/CMakeLists.txt
  iree/samples/static_library/CMakeLists.txt
  iree/vm/module_impl_emitc.c
  iree/vm/test/emitc/module_test.cc
Labels: compiler/emitc

#8156 Running cleanup before -iree-stream-optimization-pipeline.
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
Labels: compiler, performance ⚡

#8161 Use default TosaToLinalg passes
  integrations/tensorflow/test/iree_tfl_tests/llvmaot_posenet_i8.run
  iree/compiler/InputConversion/TOSA/Passes.cpp
Labels: integrations/tosa

#8114 Enable vector transfer flattening.
  iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
Labels: buildkite:benchmark

#8164 Fix mhlo.dynamic_reshape lowering to Flow dialect
  iree/compiler/InputConversion/MHLO/BroadcastingToLinalgPatterns.cpp
  iree/compiler/InputConversion/MHLO/test/broadcasting.mlir
Labels: integrations/mhlo

#7778 Introduce a "vector.contract custom kernels" pass
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_trace_runner_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_trace_runner_test.cmake
  iree/compiler/Codegen/LLVMCPU/BUILD
  iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Codegen/LLVMCPU/LLVMCPUTileFuseAndVectorizeLinalgTensorOps.cpp
  iree/compiler/Codegen/LLVMCPU/VectorContractCustomKernels.cpp
  iree/compiler/Codegen/LLVMCPU/VectorContractToAArch64InlineAsmOp.cpp
  iree/compiler/Codegen/LLVMCPU/test/BUILD
  iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_custom_kernels.mlir
  iree/compiler/Codegen/LLVMCPU/test/vector_contract_to_aarch64_asm.mlir
  iree/compiler/Codegen/Passes.h
  iree/compiler/Codegen/Passes.td
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/test/e2e/regression/BUILD
  iree/test/e2e/regression/CMakeLists.txt
Labels: cla: yes, performance ⚡, codegen/llvm, buildkite:benchmark

#8163 Fixing iree_vm_list_pop_front to memset the end of the list.
  iree/vm/list.c
  iree/vm/list_test.cc
Labels: bug 🐞, runtime/vm

#8146 Don't emit const qualifier
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: compiler/emitc

#8155 Making iree-stream-encode-tensors work for both host and device.
  iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors.mlir
  iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
Labels: compiler, cleanup 🧹

#8169 Adding support for globals in AnnotateDispatchArguments.
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  iree/compiler/Dialect/Stream/Transforms/test/annotate_dispatch_arguments.mlir
  iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  iree/compiler/Dialect/Util/Analysis/Explorer.h
Labels: compiler

#8167 Adding `-iree-scheduling-dump-statistics-*` flag and pass.
  iree/compiler/Dialect/HAL/Analysis/BindingLayout.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  iree/compiler/Dialect/Stream/IR/StreamOps.td
  iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  iree/compiler/Dialect/Stream/Transforms/BUILD
  iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  iree/compiler/Dialect/Stream/Transforms/FoldUniformOperands.cpp
  iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  iree/compiler/Dialect/Stream/Transforms/Passes.h
  iree/compiler/Dialect/Stream/Transforms/Passes.td
  iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  iree/compiler/Dialect/Stream/Transforms/test/BUILD
  iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  iree/compiler/Dialect/Stream/Transforms/test/dump_statistics.mlir
  iree/compiler/Translation/IREEVM.cpp
  iree/compiler/Translation/IREEVM.h
  llvm-external-projects/iree-compiler-api/lib/CAPI/Compiler.cpp
Labels: compiler, quality of life 😊

#8172 Add CUDA and ROCM docs on website
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/index.md
  docs/website/mkdocs.yml
Labels: documentation ✏️, hal/cuda, hal/rocm

#8176 Avoid running long benchmarks as tests
  CMakeLists.txt
  build_tools/bazel/cc_binary_benchmark.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_binary_benchmark.cmake
  iree/base/internal/BUILD
  iree/base/internal/CMakeLists.txt
  iree/builtins/device/tools/BUILD
  iree/builtins/device/tools/CMakeLists.txt
  iree/hal/local/BUILD
  iree/hal/local/CMakeLists.txt
  iree/hal/utils/BUILD
  iree/hal/utils/CMakeLists.txt
  iree/vm/BUILD
  iree/vm/CMakeLists.txt
Labels: infrastructure 🛠️, infrastructure/cmake, infrastructure/bazel, infrastructure/benchmark

#8180 Fix indentation and line highlighting on new CUDA/ROCm page.
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
Labels: documentation ✏️, hal/cuda, hal/rocm

#8179 Explicitly list the tool used for running benchmarks
  benchmarks/TFLite/CMakeLists.txt
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: platform/android 🤖, infrastructure/benchmark, buildkite:benchmark

#8189 Update RISC-V doc
  docs/developers/get_started/getting_started_riscv_cmake.md
  docs/website/docs/building-from-source/riscv.md
Labels: documentation ✏️

#8183 Adding iree_hal_allocator_t APIs for buffer import/export.
  experimental/rocm/rocm_allocator.c
  iree/hal/allocator.c
  iree/hal/allocator.h
  iree/hal/allocator_heap.c
  iree/hal/cuda/cuda_allocator.c
  iree/hal/vulkan/vma_allocator.cc
Labels: enhancement ➕, hal/api

#8158 [EmitC] Avoid emitting unused variables and empty struct definitions
  iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  iree/vm/test/list_ops.mlir
Labels: compiler/emitc

#8191 Work around LLD breakage by allowing multiple symbol defs.
  iree/compiler/Dialect/HAL/Target/LLVM/LLVMAOTTarget.cpp
  iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
Labels: bug 🐞, codegen/llvm

#8195 cmake eats -v/--verbose on add_test rules for ... reasons.
  build_tools/cmake/iree_lit_test.cmake
Labels: infrastructure/cmake

#8194 Fixing various bit->byte rounding logic to reuse the one that works.
  iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  iree/compiler/Dialect/Util/IR/UtilTypes.h
  iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  iree/compiler/Dialect/VM/Analysis/RegisterAllocation.h
  iree/compiler/Dialect/VM/IR/VMBase.td
  iree/compiler/Dialect/VM/IR/VMDialect.h
  iree/hal/buffer_view.h
Labels: compiler

#8171 Add an experimental static library web demo using Emscripten.
  CMakeLists.txt
  experimental/sample_web_static/CMakeLists.txt
  experimental/sample_web_static/README.md
  experimental/sample_web_static/build_static_emscripten_demo.sh
  experimental/sample_web_static/device_multithreaded.c
  experimental/sample_web_static/device_sync.c
  experimental/sample_web_static/index.html
  experimental/sample_web_static/local_server.py
  experimental/sample_web_static/main.c
Labels: runtime, next-gen ✨

#8206 Expose HAL low levels to Python and factor out a DeviceArray.
  CMakeLists.txt
  bindings/python/iree/runtime/CMakeLists.txt
  bindings/python/iree/runtime/__init__.py
  bindings/python/iree/runtime/array_interop.py
  bindings/python/iree/runtime/array_interop_test.py
  bindings/python/iree/runtime/binding.h
  bindings/python/iree/runtime/function.py
  bindings/python/iree/runtime/function_test.py
  bindings/python/iree/runtime/hal.cc
  bindings/python/iree/runtime/hal.h
  bindings/python/iree/runtime/hal_test.py
  bindings/python/iree/runtime/system_api_test.py
  bindings/python/iree/runtime/vm.cc
  bindings/python/iree/runtime/vm.h
  bindings/python/iree/runtime/vm_test.py
Labels: bindings/python
