Repository iree-org/iree, pull requests merged in 2023-05, with the labels that each got.

#13317 Making iree_hal_channel_provider_t a ref object and exposing on devices.
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/channel.c
  runtime/src/iree/hal/channel.h
  runtime/src/iree/hal/channel_provider.c
  runtime/src/iree/hal/channel_provider.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/api.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.h
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.h
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_driver.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.h
  runtime/src/iree/hal/utils/libmpi.c
  runtime/src/iree/hal/utils/libmpi.h
  runtime/src/iree/hal/utils/libmpi_dynamic_symbols.h
  runtime/src/iree/hal/utils/libmpi_test.cc
  runtime/src/iree/hal/utils/mpi_channel_provider.c
  runtime/src/iree/hal/utils/mpi_channel_provider.h
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/device_util.c
Labels: hal/cuda, cleanup 🧹

#13345 Update python bindings for `iree-benchmark-module` to use `--module=-`
  runtime/bindings/python/iree/runtime/benchmark.py
Labels: bindings/python, infrastructure/benchmark

#13346 Use our private copy of Vulkan header files explicitly.
  build_tools/third_party/vulkan_headers/BUILD.overlay
  runtime/src/iree/hal/drivers/vulkan/api.cc
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_headers.h
Labels: hal/vulkan

#13333 Plumb source MLIR locs to SPIR-V and CUDA executables.
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.h
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/cuda/native_executable.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/schemas/cuda_executable_def.fbs
  runtime/src/iree/schemas/spirv_executable_def.fbs
Labels: performance ⚡, hal/vulkan, codegen/spirv, hal/cuda, codegen/nvvm

#13352 Move flatbuffer schemas into `iree.hal.*` namespaces.
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  experimental/rocm/native_executable.c
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/schemas/cuda_executable_def.fbs
  runtime/src/iree/schemas/metal_executable_def.fbs
  runtime/src/iree/schemas/rocm_executable_def.fbs
  runtime/src/iree/schemas/spirv_executable_def.fbs
  runtime/src/iree/schemas/wgsl_executable_def.fbs
Labels: hal/vulkan, hal/metal, hal/cuda, cleanup 🧹, hal/rocm, hal/webgpu

#13359 [LLVMCPU] Properly pass split-transfers option to LLVMCPUVectorLowering.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#13366 Add `SETUP_INSTALL_RPATH` to `iree-run-mlir`.
  tools/CMakeLists.txt
Labels: compiler/tools

#13238 Add doc for triaging compile time regressions.
  docs/developers/debugging/compile_time_regressions.md
Labels: documentation, performance ⚡, compiler/tools

#13325 Track memory statistics in OOBI
  build_tools/benchmarks/common/android_device_utils.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/linux_device_utils.py
  build_tools/benchmarks/generate_benchmark_comment.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: infrastructure/benchmark, buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13348 Fix android benchmark definitions in new benchmark suites
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/moto_edge_x30_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:comp-stats

#13367 Adding IREE_EXTERNAL_TOOLING_MODULES cmake flag.
  CMakeLists.txt
  runtime/src/iree/hal/local/executable_plugin_manager.c
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/modules/BUILD.bazel
  runtime/src/iree/tooling/modules/CMakeLists.txt
  runtime/src/iree/tooling/modules/resolve_external.c.in
  runtime/src/iree/tooling/modules/resolver.c
  runtime/src/iree/tooling/modules/resolver.h
  runtime/src/iree/tooling/trace_replay.c
  samples/custom_module/dynamic/README.md
  samples/custom_module/static/CMakeLists.txt
  samples/custom_module/static/README.md
  samples/custom_module/static/module.cc
  samples/custom_module/static/test/CMakeLists.txt
  samples/custom_module/static/test/example.mlir
Labels: runtime/tools

#13364 Adding vulkan api.h methods for buffer/semaphore types.
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/native_semaphore.cc
  runtime/src/iree/hal/drivers/vulkan/vma_buffer.cc
  runtime/src/iree/modules/hal/types.c
  runtime/src/iree/modules/hal/types.h
Labels: hal/vulkan

#13182 Support device detection with new benchmark suite
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/diff_local_benchmarks.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64

#13176 Support new benchmark suite in Android benchmark tool
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64

#13013 Fix heap buffer overflow with clang-14 on Arm Ubuntu 22.04
  runtime/src/iree/task/pool.c
Labels: runtime, hal/cpu

#13326 Support mhlo.all_to_all with NCCL
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/collective_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/InputConversion/MHLO/ConvertCollectiveOps.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/test/convert_collective_ops.mlir
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
Labels: collab/nvidia

#13373 Remove stack allocation check flags from experimental benchmarks.
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#13399 [CPU] Infer vector sizes for masking using ValueBounds
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#13378 Make handling subspan with offsets and memref return types for CUDA consistent with other backends.
  compiler/src/iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13401 [ci] Adjust mobile GPU benchmark flagging threshold
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: buildkite:benchmark-android

#13199 Run Pixel 4 benchmarks in postsubmit on Github CI
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
Labels: benchmarks:x86_64

#13107 [ci] Add Vulkan NVIDIA benchmarks for clip and unet models
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/vulkan_nvidia_benchmarks.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/device_specs/gcp_specs.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: codegen/spirv, benchmarks:cuda

#13407 [ci] Fix Android benchmark pipeline after removing tflite importer
  build_tools/cmake/build_android_benchmark.sh
Labels: infrastructure/benchmark, buildkite:benchmark-android

#13413 [StableHLO] Port IREE HLO preprocessing pass
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/Passes.td
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/StableHLOToStableHLO.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/test/stablehlo_to_stablehlo.mlir
Labels: integrations/mhlo

#13428 Fix command arguments for multiple inputs in benchmark tools
  build_tools/benchmarks/generate_benchmark_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13432 [NCCL] check version first before loading symbols
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.c
Labels: hal/cuda

#13436 Stop trying to build TF with Bazel for releases.
  build_tools/github_actions/build_dist.py
Labels: integrations/tensorflow

#13295 Update docs for building TF and reproducing test failures.
  docs/developers/debugging/tf_integrations_test_repro.md
  integrations/tensorflow/iree_tf_compiler/README.md
Labels: documentation, integrations/tensorflow

#13294 Update KernelConfig.cpp to properly tile batch dim for matmul. #13108
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
Labels: benchmarks:cuda

#13454 Rename mobile device names in benchmarks to more friendly ones
  .github/workflows/build_and_test_android.yml
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/python/e2e_test_framework/device_specs/moto_edge_x30_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_4_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_6_pro_specs.py
Labels: benchmarks:experimental-android-cpu

#13445 Use lowered mlir instead of SavedModel for TF benchmarks
  .github/workflows/build_e2e_test_artifacts.yml
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/model_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/iree_artifacts.py
  build_tools/python/e2e_test_artifacts/model_artifacts_test.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#13442 Enable all Android benchmarks in Github CI
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/github_actions/configure_ci.py
Labels: benchmarks:experimental-android-cpu, benchmarks:experimental-android-gpu

#13491 Update TFLite getting started webdoc
  docs/website/docs/getting-started/tflite.md
Labels: documentation

#13468 Revert "[mhlo] Remove redundant preprocessing pattern. (#13153)"
  build_tools/python/e2e_test_framework/models/model_groups.py
  compiler/src/iree/compiler/InputConversion/MHLO/MHLOToMHLOPreprocessing.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/MHLO/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/MHLO/test/mhlo_to_mhlo_preprocessing_canonicalize_dot_general.mlir
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#13490 Change compilation time benchmark threshold to 100%
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: benchmarks:comp-stats

#13510 Fix missing CUDA tag on CUDA benchmarks
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
Labels: benchmarks:cuda

#13308 Avoid fusing broadcast + compute.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13508 Adding `--iree-util-annotate-op-ordinals` pass.
  compiler/src/iree/compiler/Dialect/Util/Transforms/AnnotateOpOrdinals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/annotate_op_ordinals.mlir
Labels: compiler/dialects, quality of life 😊

#13511 Removing VM verifier checks on return registers.
  runtime/src/iree/vm/bytecode/verifier.c
Labels: runtime/vm

#13462 Merge "Python bindings and importers" page into "getting started".
  build_tools/scripts/get_e2e_artifacts.py
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/index.md
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  docs/website/docs/getting-started/pytorch.md
  docs/website/docs/getting-started/tensorflow.md
  docs/website/mkdocs.yml
  tests/e2e/models/mnist_train_test/README.md
Labels: documentation, integrations/tensorflow, bindings/python

#13526 Emitting a compilation error on large bytecode blocks.
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
Labels: compiler/dialects

#13437 Delete old TensorFlow Bazel code, docs, and flags.
  .bazelignore
  build_tools/bazel/iree.bazelrc
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/cmake/build_linux_benchmark.sh
  build_tools/cmake/build_linux_benchmark_modules.sh
  build_tools/scripts/integrate/README.md
  integrations/tensorflow/.bazelignore
  integrations/tensorflow/.bazelrc
  integrations/tensorflow/.bazelversion
  integrations/tensorflow/iree_tf_compiler/README.md
  integrations/tensorflow/iree_tf_compiler/iree-import-tflite-main.cpp
  integrations/tensorflow/iree_tf_compiler/iree-opt-tflite-main.cpp
Labels: infrastructure, integrations/tensorflow, cleanup 🧹

#13538 Adding tensor.bitcast -> flow.tensor.reshape lowering.
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/bitcast.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: compiler/dialects

#13540 Skip command buffer copy/fill/dispatch when they are known no-op.
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/modules/hal/module.c
Labels: hal/api

#13344 [stream] Switch to perform tight packing of sub-byte elements
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/TypePropagationPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/type_propagation_packing.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_device_tensors_packing.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_packing.mlir
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/ElementPackingUtils.cpp
  compiler/src/iree/compiler/Utils/ElementPackingUtils.h
Labels: compiler/dialects, codegen

#13500 Extend `findFirstFileLoc` to traverse other `Location` types.
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.h
Labels: performance ⚡

#13553 Move Android benchmarks out of experimental presets
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/github_actions/configure_ci.py
Labels: benchmarks:android-cpu, benchmarks:android-gpu

#13562 Adding a VM implementation detail around expected import signatures.
  runtime/bindings/python/py_module.cc
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/dynamic/module.c
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module_cc.h
Labels: runtime/vm

#13557 Upload Android benchmark results in Github CI
  .github/workflows/ci.yml
Labels: infrastructure/benchmark

#13569 Bumping NCCL to 2.18.1 in order to get ncclCommSplit.
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
  third_party/nccl/README.md
  third_party/nccl/nccl.h
Labels: hal/cuda

#13578 Adding collective channel splitting to flow/stream/hal.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertChannelOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/collective_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MemoizeChannels.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_copy_on_write.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/memoize_channels.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_concurrency.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/test/convert_collective_ops.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/test/convert_collectives.mlir
  runtime/src/iree/hal/channel.c
  runtime/src/iree/hal/channel.h
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
Labels: compiler/dialects, hal/api

#13592 Fix many broken links across code and docs.
  docs/developers/best_practices.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/developing_iree/testing_guide.md
  docs/website/docs/blog/2021-10-15-cuda-backend.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/extensions/index.md
  experimental/web/sample_dynamic/index.html
  runtime/bindings/tflite/README.md
  runtime/src/iree/tooling/vm_util.h
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: documentation, cleanup 🧹

#13564 Update pytype check_diff.sh script paths.
  build_tools/pytype/check_diff.sh
Labels: infrastructure, bindings/python

#13599 Adding util.switch that lowers to vm.switch.*.
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/IR/test/assignment_folding.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/test/assignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertAlignmentOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertAssignmentOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertUtilToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/assignment_ops.mlir
Labels: compiler/dialects

#13603 [spirv] Tile additional reduction dims for matmul-like generic
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul.mlir
Labels: codegen/spirv

#13600 Swapping context/params order on CPU import functions.
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  experimental/cpu_ukernel/plugin.c
  runtime/src/iree/hal/local/executable_library.h
  runtime/src/iree/hal/local/loaders/static_library_loader.c
  runtime/src/iree/hal/local/loaders/system_library_loader.c
  samples/custom_dispatch/cpu/plugin/standalone_plugin.c
  samples/custom_dispatch/cpu/plugin/system_plugin.c
Labels: codegen, hal/cpu

#13496 [LLVMCPU] Enable masking vectorization for tensor.pad ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTensorPad.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: benchmarks:x86_64

#13604 Implementing channel splitting in MHLO/StableHLO collective lowerings.
  compiler/src/iree/compiler/InputConversion/MHLO/ConvertCollectiveOps.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/test/convert_collective_ops.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/ConvertCollectives.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/test/convert_collectives.mlir
Labels: integrations/stablehlo

#13611 Fixing vm.switch.* op encoding.
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/test/assignment_ops.mlir
  runtime/src/iree/vm/test/assignment_ops_f32.mlir
  runtime/src/iree/vm/test/assignment_ops_i64.mlir
Labels: runtime/vm

#13618 Removing frame requirement from iree_vm_module_resolve_source_location.
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/dynamic/module.c
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/stack.c
Labels: runtime/vm

#13619 Removing outdated references to hal.ex.submit_and_wait.
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-mali.cmake
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
Labels: hal/api

#13572 Refresh website ML framework / Python overview pages.
  docs/website/docs/bindings/python.md
  docs/website/docs/getting-started/index.md
  docs/website/docs/index.md
Labels: documentation, integrations/tensorflow, integrations, bindings/python

#13616 Moving cached rodata buffers to bytecode modules.
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/bytecode/module_impl.h
Labels: performance ⚡, runtime/vm

#13617 Adding export attribute reflection in native VM modules.
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/native_module.c
Labels: runtime/vm

#13614 Improving iree-dump-module output.
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-dump-module-main.c
Labels: runtime/tools, quality of life 😊

#13584 Add vmvx integration tests to CI
  .github/workflows/ci.yml
  build_tools/cmake/run_tf_tests.sh
  integrations/tensorflow/test/iree_tfl_tests/vmvx_mobilebert_tf2_quant.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_mobilenet_v3-large_uint8.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_person_detect.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_resnet_50_int8.run
  integrations/tensorflow/test/python/iree_tfl_tests/test_util.py
Labels: infrastructure, codegen/vmvx

#13595 Fix tflite_text_classification.ipynb notebook.
  samples/colab/tflite_text_classification.ipynb
Labels: integrations/tensorflow

#13632 Avoid redundant transfers during usage refinement.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Labels: bug 🐞, compiler/dialects, benchmarks:cuda, benchmarks:x86_64

#13609 [spirv] Better calculate shared memory usage for cooperative matrix
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Labels: codegen/spirv

#13643 Fix website links to building from source page.
  docs/website/docs/bindings/python.md
  docs/website/docs/getting-started/pytorch.md
  docs/website/docs/getting-started/tensorflow.md
Labels: documentation

#13642 [spirv] Enable generating vector3 compute ops during vectorization
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
Labels: codegen/spirv

#13318 [LLVMCPU] Enable shuffle_16x16 for pack codegen.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/DecomposePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/decompose_pack_unpack_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/data_tiling_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#13644 Add script for bumping GitHub Actions Runner Version
  build_tools/github_actions/runner/README.md
  build_tools/github_actions/runner/gcp/create_templates.sh
  build_tools/github_actions/runner/gcp/update_runner_version.py
Labels: infrastructure

#13116 [spirv] Enable i8 dot product for 2-D normal convolution
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
Labels: codegen/spirv

#13198 Add --compatible-only option to benchmark tools
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/run_benchmarks.sh
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13649 Dump benchmark flags in CI run
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13663 NFC: Move LLVMGPUDistribute pass to Common/
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CommonPasses.h
  compiler/src/iree/compiler/Codegen/Common/GPUDistribute.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/gpu_distribute.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: codegen/llvm, codegen/spirv

#13658 Disabling detensoring by default until #6948 can be completed.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  tests/e2e/tosa_ops/CMakeLists.txt
  tests/e2e/xla_ops/CMakeLists.txt
Labels: performance ⚡, benchmarks:cuda, benchmarks:x86_64

#13654 Adding some basic channel op folding.
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPULayoutAnalysisAndDistribution.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamDialect.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/test/channel_folding.mlir
Labels: cleanup 🧹

#13671 Convert all website reference links to inline links.
  docs/.markdownlint.yml
  docs/website/README.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
Labels: documentation, cleanup 🧹

#13365 Re-enable vectorization of gathers
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: (deprecated) buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#13629 [CPU] Move 'vector.shape_cast' lowering to the end of LLVMCPUVectorLowering
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu

#13678 HLO input support for iree.abi.output and iree.abi.encoding attrs.
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/MHLOToLinalgOnTensors.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/test/broadcasting.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/test/convert_collective_ops.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/test/convert_structural_types.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/test/mhlo_to_linalg.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/StableHLOToIREEInputDialects.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_iree_input_dialects.mlir
Labels: integrations/stablehlo

#13662 Reland "Dump benchmark flags in CI run" with fix
  .github/workflows/ARTIFACT_SUMMARY_TEMPLATE.md
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
Labels: benchmarks:x86_64

#13679 NFC: Move LLVMGPU resource usage check pass to Common for reuse
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/CommonGPUPasses.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUCheckResourceUsage.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_check_resource_usage.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUPasses.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: codegen/llvm, codegen/spirv

#13684 [spirv] Use GPUCheckResourceUsage to check shared memory usage
  compiler/src/iree/compiler/Codegen/Common/GPU/CommonGPUPasses.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUCheckResourceUsage.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_check_resource_usage.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
Labels: codegen/spirv

#13627 Only apply WMMA unrolling to elementwise ops of sufficient rank
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_vector_to_mma.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Labels: codegen/nvvm, benchmarks:cuda

#13687 Adding util.cast/!util.object and lowering to vm.cast.* ops.
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/assignment_folding.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/test/assignment_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/TypeConverter.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertListOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMTraits.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMTypes.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/test/conversion_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/utils/generated/op_table.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/test/conversion_ops.mlir
Labels: compiler/dialects, runtime/vm

#13685 [CPU] Enable 'iree-llvmcpu-reassociate-fp-reductions' by default
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/split_reduction_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#13689 Add missing `inline` keywords to public header functions
  runtime/src/iree/base/loop_inline.h
  runtime/src/iree/hal/local/executable_loader.h
  runtime/src/iree/hal/local/executable_plugin.h
  runtime/src/iree/vm/shims_emitc.h
  runtime/src/iree/vm/type_def.h
Labels: runtime

#13471 Force bazel to generate PIC and disable dynamic mode heuristic.
  build_tools/bazel/iree.bazelrc
Labels: infrastructure

#13731 [LLVMCPU] Unify conv/pooling kernel configs for different layouts.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats

#13129 Split benchamrk suite build target into default and long-running
  CMakeLists.txt
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/benchmark_tags.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/vulkan_nvidia_benchmarks.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13732 Improving iree-stream-emplace-allocations pass.
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
Labels: compiler/dialects, performance ⚡

#13744 Support presets in compilation benchmarks
  build_tools/benchmarks/export_benchmark_config.py
Labels: benchmarks:comp-stats

#13748 Allocation workaround for unused write-only dispatch results.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: compiler/dialects

#13730 Move collapse of reduction dimension earlier in the Flow pipeline.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pipeline_tests.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13626 [spirv] Enable vectorizing tensor.extract into vector.gather
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_gather.mlir
Labels: codegen/spirv, benchmarks:android-gpu

#13765 Remove legacy benchmark suites
  .github/workflows/ci.yml
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/README.md
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
  benchmarks/TFLite/CMakeLists.txt
  benchmarks/TFLite/android-adreno.cmake
  benchmarks/TFLite/android-arm64-v8a.cmake
  benchmarks/TFLite/android-mali.cmake
  benchmarks/TFLite/linux-riscv.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  benchmarks/dashboard.md
  build_tools/benchmarks/README.md
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/linux/cuda/benchmark.yml
  build_tools/buildkite/cmake/linux/x86_64/benchmark2.yml
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_benchmarks.sh
  build_tools/cmake/build_e2e_test_artifacts.sh
  build_tools/cmake/build_host_and_android.sh
  docs/developers/developing_iree/benchmark_suites.md
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13581 Add CPU benchmarks to `benchmark-long` workflow
  .github/workflows/benchmark_long.yml
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/python/benchmark_suites/iree/benchmark_tags.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#13774 Update transform op definitions to use transform types
  compiler/src/iree/compiler/Codegen/Common/test/reductions_codegen_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/reductions_match_spec.mlir
  compiler/src/iree/compiler/Codegen/Common/test/repeated_matcher_use.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_buffer_opt.mlir
  compiler/src/iree/compiler/Codegen/Common/test/transform_dialect_apply_pattern_op.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transform_dialect_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/transform_dialect_iree_tile_to_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensionsOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/attention.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/create_async_groups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/layout_analysis_and_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_bufferize.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_bufferize_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_foreach_to_gpu_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_vector_distribution_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_codegen_vector_warp_execute_on_lane_0_spec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_hoist_allocs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_promote_operands.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_distribute_forall.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_gpu_pipelining.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_vector_to_mma.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/transform_dialect_dummy_spec.mlir
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/Common/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/Common.cpp
  compiler/src/iree/compiler/Dialect/Flow/TransformExtensions/FlowExtensionsOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transform_dialect_dispatch_spec.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transform_dispatch_region_formation.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/TransformOps/LinalgExtTransformOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/foreach-thread-to-async.mlir
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/foreach-thread-to-scf-for.mlir
  tests/e2e/linalg_transform/transform_dialect_dispatch_spec.mlir
  tests/transform_dialect/cuda/double_mma_layout_analysis_dispatch_spec.mlir
  tests/transform_dialect/cuda/eltwise_reduction_codegen_spec.mlir
  tests/transform_dialect/cuda/eltwise_reduction_eltwise_codegen_spec.mlir
  tests/transform_dialect/cuda/mma_elemwise_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/mma_reduction_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/mma_reduction_layout_analysis_dispatch_spec.mlir
  tests/transform_dialect/cuda/mma_using_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_eltwise_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_v2_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_v3_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_dispatch_spec.mlir
  tests/transform_dialect/cuda/softmax_partial_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_v2_codegen_spec.mlir
Labels: cleanup 🧹

#13780 [spirv] Vectorize before bufferization in SIMT pipeline
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUMultiBuffering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_promotion.mlir
Labels: codegen/spirv, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13669 Add Promise wait API and loop_emscripten wait_* cmds.
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/wait_handle_emscripten.c
  runtime/src/iree/base/internal/wait_handle_emscripten.js
  runtime/src/iree/base/internal/wait_handle_impl.h
  runtime/src/iree/base/internal/wait_handle_null.c
  runtime/src/iree/base/loop.h
  runtime/src/iree/base/loop_emscripten.c
  runtime/src/iree/base/loop_emscripten.js
  runtime/src/iree/base/wait_source.h
Labels: runtime, platform/web 🌐

#13791 Switching to --iree-stream-partitioning-favor=min-peak-memory.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
Labels: performance ⚡, benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13397 Report stream dispatch count in compilation benchmarks
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: benchmarks:comp-stats

#13754 [CPU] Enforce 512-bit vector registers if target supports AVX-512
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats

#13797 Add unaligned matmul benchmarks
  build_tools/python/e2e_test_framework/models/matmul.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#13492 [LLVMGPU] Turn on TD strategy for unaligned matmul
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/Common.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Labels: benchmarks:cuda, benchmarks:comp-stats

#13819 [StableHLO][CHLO] Port initial CHLO lowering patterns
  compiler/src/iree/compiler/InputConversion/StableHLO/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/LegalizeCHLO.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/Passes.td
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/Canonicalization.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/Preprocessing/test/canonicalization.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/Rewriters.h
  compiler/src/iree/compiler/InputConversion/StableHLO/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/test/legalize_chlo_no_broadcast.mlir
Labels: integrations/stablehlo

#13817 Use max-concurrency for Mali benchmarks with experimental flags
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: codegen/spirv, benchmarks:android-gpu

#13823 [spirv] Support transposed elementwise ops in SIMT pipeline
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
Labels: codegen/spirv

#13828 [spirv] Fix out-of-bounds issue in kernel configuration deduction
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
Labels: codegen/spirv

#13739 Add ResNet50 fp16 PyTorch benchmarks (CUDA)
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#13757 Add BertLarge to FP16 / Torch Benchmarks
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#13740 Remove platform specific logic from iree_tools_tf
  build_tools/python_deploy/pypi_deploy.sh
  build_tools/python_deploy/pypi_deploy_requirements.txt
  integrations/tensorflow/python_projects/iree_tf/setup.py
  integrations/tensorflow/python_projects/iree_tflite/setup.py
Labels: integrations/tensorflow, bindings/python

#13862 Increase the PotentialValuesState analysis max value count.
  compiler/src/iree/compiler/Dialect/Util/Analysis/DFX/State.h
Labels: performance ⚡

#13871 Fix type annotations in benchmark_definition
  build_tools/benchmarks/common/benchmark_definition.py
Labels: benchmarks:x86_64
