Repository iree-org/iree, pull requests merged in 2023-06, with the labels that each got.

#13874 [CPU] Add shape cast lowering to LLVMCPUMmt4dVectorLowering
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUMmt4dVectorLowering.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#13870 Deprecate MHLO input conversion pipeline
  build_tools/cmake/iree_static_linker_test.cmake
  compiler/bindings/c/iree/compiler/loader/loader_test.c
  compiler/bindings/python/iree/compiler/tools/core.py
  compiler/bindings/python/iree/compiler/tools/tf.py
  compiler/bindings/python/test/tools/compiler_core_test.py
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  docs/developers/debugging/compile_time_regressions.md
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  runtime/src/iree/hal/local/executable_library_benchmark.md
  samples/dynamic_shapes/README.md
  samples/dynamic_shapes/test.sh
  samples/variables_and_state/README.md
  samples/vision_inference/README.md
  tests/e2e/models/BUILD.bazel
  tests/e2e/models/CMakeLists.txt
  tests/e2e/models/collatz.mlir
  tests/e2e/models/edge_detection.mlir
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/fullyconnected.mlir
  tests/e2e/models/mnist_fake_weights.mlir
  tests/e2e/models/mnist_train_test/mnist_train_test.py
  tests/e2e/models/resnet50_fake_weights.mlir
  tests/e2e/models/unidirectional_lstm.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/globals_ml_program.mlir
  tests/e2e/regression/trace_dispatch_tensors.mlir
  tests/e2e/vulkan_specific/BUILD.bazel
  tests/e2e/vulkan_specific/CMakeLists.txt
  tests/e2e/xla_ops/BUILD.bazel
  tests/e2e/xla_ops/CMakeLists.txt
  tests/microbenchmarks/CMakeLists.txt
Labels: integrations/stablehlo

#13876 Adding iree-stream-verify-async-access-ranges pass.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyAsyncAccessRanges.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/verify_async_access_ranges.mlir
Labels: compiler/dialects, quality of life 😊

#13882 Cleanup workarounds for Python < 3.8
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/python/e2e_test_framework/serialization.py
Labels: benchmarks:x86_64, benchmarks:comp-stats

#13806 [gpu] Enable fusing input producers after tiling reduction loops
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/CommonGPUPasses.h
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorAlloc.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tensor_alloc.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_fusion.mlir
Labels: codegen/llvm, codegen/spirv

#13884 Add *-long preset options to benchmark-extra PR trailer
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: benchmarks:x86_64

#13907 [ci] Update base docker image to use Ubuntu 20.04
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_all.yml
  .github/workflows/build_and_test_android.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
  .github/workflows/samples.yml
  build_tools/docker/context/install_iree_deps.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/scripts/integrate/README.md
Labels: infrastructure, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#13909 Add --iree-codegen-linalg-max-constant-fold-elements= flag.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
Labels: codegen, performance ⚡

#13541 [TransformStrategies] Add support for aligned and partially aligned matmul
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy.mlir
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/Common/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/Common/Common.h
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/AbstractGemmLikeStrategy.h
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/MatmulTensorCoreStrategy.cpp
  compiler/src/iree/compiler/Codegen/TransformDialectStrategies/GPU/MatmulTensorCoreStrategy.h
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Labels: benchmarks:cuda

#13918 Update nvidia driver on host image to 530
  TEST_FILE
  build_tools/github_actions/runner/gcp/create_image.sh
  build_tools/github_actions/runner/gcp/create_templates.sh
  build_tools/github_actions/runner/gcp/image_setup.sh
Labels: infrastructure, benchmarks:cuda, benchmarks:x86_64, benchmarks:vulkan-nvidia

#13941 Adding task system utilization tracing.
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/task/affinity_set.h
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor_impl.h
  runtime/src/iree/task/worker.c
Labels: performance ⚡, quality of life 😊

#13914 Rename long-running to large in benchmark suite and workflows
  .github/workflows/benchmark_large.yml
  CMakeLists.txt
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/cmake/build_e2e_test_artifacts.sh
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  build_tools/python/benchmark_suites/iree/benchmark_tags.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#13953 Rollup of HAL/runtime/infra changes for WebGPU HAL.
  CMakeLists.txt
  build_tools/bazel/workspace.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/spirv-tools/CMakeLists.txt
  build_tools/third_party/tint/CMakeLists.txt
  build_tools/third_party/webgpu-headers/BUILD.overlay
  build_tools/third_party/webgpu-headers/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_heap.c
  runtime/src/iree/hal/buffer_heap_impl.h
  runtime/src/iree/schemas/wgsl_executable_def.fbs
Labels: runtime, hal/webgpu

#13955 [cuda] Dump useful GPU characteristics
  experimental/cuda2/cuda_driver.c
  experimental/cuda2/cuda_dynamic_symbol_table.h
Labels: hal/cuda

#13844 [StableHLO] Port Philox rng
  compiler/src/iree/compiler/InputConversion/StableHLO/StableHLOToLinalgRandom.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg_random.mlir
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/stablehlo_ops/philox.mlir
  tests/e2e/stablehlo_ops/three_fry.mlir
Labels: integrations/stablehlo

#13912 [ci] Update NVIDIA driver packages to v530 in docker images
  .github/workflows/ci.yml
  .github/workflows/run_iree_dispatch_profiler.yml
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
Labels: infrastructure, hal/vulkan, hal/cuda, benchmarks:cuda, benchmarks:vulkan-nvidia

#13875 [ci] Update CUDA toolkit to v12.1.1
  .github/workflows/ci.yml
  .github/workflows/run_iree_dispatch_profiler.yml
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/docker/context/fetch_cuda_deps.sh
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
Labels: infrastructure, hal/cuda, benchmarks:cuda, benchmarks:vulkan-nvidia

#13965 Add `iree-stream-resource-alias-mutable-bindings` flag.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings_noalias.mlir
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/index.html
Labels: compiler/dialects, platform/web 🌐, benchmarks:cuda

#13979 Remove redundant newlines in generated benchmark cmake files
  build_tools/python/cmake_builder/rules.py
  build_tools/python/cmake_builder/rules_test.py
  tests/e2e/models/generated_e2e_model_tests.cmake
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64

#13985 [cuda] Port over allocator and buffer implementation
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/api.h
  experimental/cuda2/cuda_allocator.c
  experimental/cuda2/cuda_allocator.h
  experimental/cuda2/cuda_buffer.c
  experimental/cuda2/cuda_buffer.h
  experimental/cuda2/cuda_dynamic_symbol_table.h
  experimental/cuda2/memory_pools.c
  experimental/cuda2/memory_pools.h
Labels: hal/cuda

#13998 Lowering flow.tensor.alloca (renamed) to stream.async.alloca.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
Labels: compiler/dialects, performance ⚡

#13991 Restructure website sections and navigation.
  .github/workflows/publish_website.yml
  docs/developers/developing_iree/benchmark_suites.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/index.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/community/blog/2021-07-19-tflite-tosa-compilation-diagram.png
  docs/website/docs/community/blog/2021-07-19-tflite-tosa.md
  docs/website/docs/community/blog/2021-10-13-mmt4d-4x4_mmt4d.png
  docs/website/docs/community/blog/2021-10-13-mmt4d-4x4_tiled.png
  docs/website/docs/community/blog/2021-10-13-mmt4d-L1-dcache-load-misses.png
  docs/website/docs/community/blog/2021-10-13-mmt4d-graph_flow.svg
  docs/website/docs/community/blog/2021-10-13-mmt4d-mmt4d_vs_matmul.png
  docs/website/docs/community/blog/2021-10-13-mmt4d.md
  docs/website/docs/community/blog/2021-10-15-cuda-backend.md
  docs/website/docs/community/blog/2021-10-15-cuda-bring_up.png
  docs/website/docs/community/blog/2021-10-15-cuda-compiler-flow.png
  docs/website/docs/community/blog/2021-10-15-cuda-memperf.png
  docs/website/docs/community/blog/2021-10-15-cuda-optimization-flow.png
  docs/website/docs/community/blog/index.md
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/index.md
  docs/website/docs/guides/index.md
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/jax.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/index.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/docs/reference/bindings/index.md
  docs/website/docs/reference/bindings/python.md
  docs/website/docs/reference/bindings/tensorflow-lite.md
  docs/website/docs/reference/extensions.md
  docs/website/docs/reference/index.md
  docs/website/docs/reference/optimization-options.md
  docs/website/mkdocs.yml
  samples/custom_module/basic/README.md
  samples/custom_module/dynamic/README.md
  samples/custom_module/static/README.md
  samples/dynamic_shapes/README.md
  samples/variables_and_state/README.md
Labels: documentation

#13986 [cuda] Dump whether the device has integrated memory
  experimental/cuda2/cuda_driver.c
Labels: hal/cuda

#14006 Add tags to website pages.
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/ios.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/community/blog/2021-07-19-tflite-tosa.md
  docs/website/docs/community/blog/2021-10-13-mmt4d.md
  docs/website/docs/community/blog/2021-10-15-cuda-backend.md
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/ml-frameworks/jax.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/reference/bindings/python.md
  docs/website/docs/reference/bindings/tensorflow-lite.md
  docs/website/mkdocs.yml
Labels: documentation

#14012 Adding IREE_HAL_EXTERNAL_BUFFER_TYPE_DEVICE_ALLOCATION.
  experimental/cuda2/cuda_allocator.c
  experimental/cuda2/cuda_buffer.h
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
Labels: hal/api

#14013 Refresh deployment-configuration website pages.
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/index.md
Labels: documentation

#14018 Adding a fallback for when CUDA memory pools are unsupported.
  experimental/cuda2/cuda_allocator.c
  experimental/cuda2/cuda_allocator.h
  experimental/cuda2/memory_pools.c
  experimental/cuda2/memory_pools.h
  runtime/src/iree/hal/drivers/cuda/api.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
Labels: hal/cuda

#14029 Allowing for sync allocations to be deallocated via queue-ordered deallocas.
  experimental/cuda2/memory_pools.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
Labels: hal/cuda

#14011 [cuda] Wire up basic creating devices, allocators, and buffers
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/api.h
  experimental/cuda2/cts/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/cuda2/cuda_device.h
  experimental/cuda2/cuda_driver.c
  experimental/cuda2/memory_pools.c
  experimental/cuda2/memory_pools.h
  experimental/cuda2/registration/driver_module.c
Labels: hal/cuda

#14052 Add a new benchmark and document steps: Add a new unaligned matmul test that will exercise failsafes to avoid bad configurations
  build_tools/python/e2e_test_framework/models/matmul.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#14038 [cuda] Port over descriptor set and pipeline layout
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/cts/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/cuda2/pipeline_layout.c
  experimental/cuda2/pipeline_layout.h
Labels: hal/cuda

#14066 [spirv] Dump spirv.module for Metal and WebGPU targets
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
Labels: codegen/spirv

#14074 [cuda] Dump more synchronization related attributes
  experimental/cuda2/cuda_driver.c
Labels: hal/cuda

#14037 Allowing complex types as dispatch operands.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackDispatchOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_dispatch_operands.mlir
Labels: compiler/dialects

#13971 Harden the MatmulTensorCore strategy
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUPipelining.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensionsOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Utils/LLVMGPUUtils.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy.mlir
  compiler/src/iree/compiler/Codegen/TransformStrategies/Common/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/Common/Common.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/AbstractGemmLikeStrategy.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/MatmulTensorCoreStrategy.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/MatmulTensorCoreStrategy.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Strategies.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Labels: benchmarks:cuda

#14070 Fuse iota ops with consumers always.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14088 Fixing empty trace replay yaml lists for args/results.
  runtime/src/iree/tooling/trace_replay.c
Labels: runtime/tools

#14092 Stripping jax/tf/mhlo attributes from stablehlo inputs.
  compiler/src/iree/compiler/InputConversion/StableHLO/StableHLOToIREEInputDialects.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_iree_input_dialects.mlir
Labels: cleanup 🧹, integrations/stablehlo

#14096 Add `iree-hal-dump-executable-files-to` meta flag.
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
Labels: compiler/tools

#14100 Fixing dynamic complex number splats in stream encoding.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
Labels: bug 🐞, compiler/dialects

#14059 [cuda] Port over channel implementation via NCCL
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/api.h
  experimental/cuda2/cuda_device.c
  experimental/cuda2/cuda_device.h
  experimental/cuda2/cuda_driver.c
  experimental/cuda2/nccl_channel.c
  experimental/cuda2/nccl_channel.h
  experimental/cuda2/nccl_status_util.c
  experimental/cuda2/nccl_status_util.h
Labels: hal/cuda

#14063 [cuda] Port over tracing utilities and use in NCCL channel
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/api.h
  experimental/cuda2/cuda_device.c
  experimental/cuda2/nccl_channel.c
  experimental/cuda2/nccl_channel.h
  experimental/cuda2/registration/driver_module.c
  experimental/cuda2/tracing.c
  experimental/cuda2/tracing.h
Labels: hal/cuda

#14081 Clean up code of legacy benchmark suite
  .github/workflows/benchmark_compilation.yml
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/cmake/iree_benchmark_suite.cmake
  docs/developers/developing_iree/benchmark_suites.md
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#12713 [metal] Implement a Metal HAL driver
  CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MSLToMetalLib.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MSLToMetalLib.h
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalTargetPlatform.h
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/SPIRVToMSL.h
  experimental/metal/CMakeLists.txt
  experimental/metal/README.md
  experimental/metal/api.h
  experimental/metal/builtin/CMakeLists.txt
  experimental/metal/builtin/copy_buffer_generic.metal
  experimental/metal/builtin/fill_buffer_generic.metal
  experimental/metal/builtin_executables.h
  experimental/metal/builtin_executables.m
  experimental/metal/cts/CMakeLists.txt
  experimental/metal/direct_allocator.h
  experimental/metal/direct_allocator.m
  experimental/metal/direct_command_buffer.h
  experimental/metal/direct_command_buffer.m
  experimental/metal/metal_buffer.h
  experimental/metal/metal_buffer.m
  experimental/metal/metal_device.h
  experimental/metal/metal_device.m
  experimental/metal/metal_driver.m
  experimental/metal/metal_kernel_library.h
  experimental/metal/metal_kernel_library.m
  experimental/metal/metal_shared_event.h
  experimental/metal/metal_shared_event.m
  experimental/metal/nop_executable_cache.h
  experimental/metal/nop_executable_cache.m
  experimental/metal/pipeline_layout.h
  experimental/metal/pipeline_layout.m
  experimental/metal/registration/CMakeLists.txt
  experimental/metal/registration/driver_module.c
  experimental/metal/registration/driver_module.h
  experimental/metal/staging_buffer.h
  experimental/metal/staging_buffer.m
  experimental/metal/tests/CMakeLists.txt
  experimental/metal/tests/stablehlo_ops/CMakeLists.txt
  experimental/metal/tests/tosa_ops/CMakeLists.txt
  runtime/src/iree/schemas/metal_executable_def.fbs
Labels: codegen/spirv, hal/metal

#14108 [ci] Update Xcode command line tools path on x86_64 macOS runners
  .github/workflows/ci.yml
Labels: infrastructure

#14113 Adding a console tracing provider and support for external ones.
  CMakeLists.txt
  build_tools/bazel/iree.bazelrc
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/third_party/tracy_client/BUILD.overlay
  build_tools/third_party/tracy_client/CMakeLists.txt
  runtime/setup.py
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/alignment.h
  runtime/src/iree/base/allocator.h
  runtime/src/iree/base/config.h
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/base/internal/threading_pthreads.c
  runtime/src/iree/base/tracing.h
  runtime/src/iree/base/tracing/BUILD.bazel
  runtime/src/iree/base/tracing/CMakeLists.txt
  runtime/src/iree/base/tracing/console.c
  runtime/src/iree/base/tracing/console.h
  runtime/src/iree/base/tracing/tracy.cc
  runtime/src/iree/base/tracing/tracy.h
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/hal/drivers/cuda/tracing.c
  runtime/src/iree/hal/drivers/cuda/tracing.h
  runtime/src/iree/hal/drivers/vulkan/tracing.cc
  runtime/src/iree/hal/drivers/vulkan/tracing.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/executable_library_util.h
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/run_module.c
  runtime/src/iree/tooling/vm_util.c
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-trace-main.c
  tools/iree-check-module-main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.c
  tools/iree-run-trace-main.c
Labels: performance ⚡, runtime/api

#14119 Use always-enabled vmvx targets in assign_target_devices test.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/assign_target_devices.mlir
Labels: compiler/dialects

#14134 Refresh website glossary with entries for StableHLO + OpenXLA.
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/reference/glossary.md
Labels: documentation, integrations/stablehlo

#14035 Test the bring-your-own-LLVM path.
  .github/workflows/ci.yml
  build_tools/cmake/build_and_test_byo_llvm.sh
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/scripts/byo_llvm.sh
  compiler/bindings/python/test/tools/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  experimental/cpu_ukernel/iree_experimental_standalone_plugin.cmake
  runtime/bindings/python/CMakeLists.txt
  samples/custom_dispatch/cpu/embedded/CMakeLists.txt
  samples/custom_dispatch/cpu/plugin/CMakeLists.txt
  samples/custom_dispatch/cuda/kernels/CMakeLists.txt
  samples/py_custom_module/CMakeLists.txt
  tests/e2e/models/mnist_train_test/CMakeLists.txt
Labels: infrastructure

#14144 Make iree-lld tool optional in python bindings
  compiler/bindings/python/iree/compiler/tools/core.py
Labels: bindings/python

#14150 [CPU] Scalarize vector loads used in a scalar fashion
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pad_conv_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pad_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14141 [CPU] Optimize transposed masks
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14145 Add diagrams to ml-frameworks website pages.
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/mkdocs.yml
Labels: documentation, integrations/tensorflow, integrations, integrations/tosa, integrations/stablehlo

#14172 [CI] Do not run black when no files changed
  .github/workflows/lint.yml
Labels: infrastructure

#14175 Add .git-blame-ignore-revs file for large-scale changes
  .git-blame-ignore-revs
Labels: infrastructure, cleanup 🧹

#13711 Create dispatches for scalar computation using program slices.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormScalarDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_scalar_dispatches.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/scalar_computation.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14117 Add MLIR dialects to website "Reference" section.
  .github/workflows/publish_website.yml
  build_tools/cmake/iree_tablegen_doc.cmake
  docs/website/README.md
  docs/website/docs/reference/index.md
  docs/website/docs/reference/mlir-dialects/.gitignore
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/generate_extra_files.sh
  docs/website/mkdocs.yml
  docs/website/requirements.txt
Labels: documentation, compiler/dialects

#14179 Delete old e2e tests with massive checked-in IR files
  tests/e2e/models/BUILD.bazel
  tests/e2e/models/CMakeLists.txt
  tests/e2e/models/bert_encoder_unrolled_fake_weights.mlir
  tests/e2e/models/mobilenetv3_fake_weights.mlir
  tests/e2e/models/resnet50_fake_weights.mlir
Labels: cleanup 🧹

#14189 Strip IREE prefix from tablegen doc files.
  build_tools/cmake/iree_tablegen_doc.cmake
  docs/website/generate_extra_files.sh
Labels: documentation

#13340 [LLVMCPU] Drop unit dims on memory transfers
  compiler/src/iree/compiler/Codegen/Common/CommonPasses.h
  compiler/src/iree/compiler/Codegen/Common/OptimizeVectorTransferPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pad_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: performance ⚡, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14217 Add nanobind to build requirements.
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_all.yml
  .github/workflows/build_and_test_android.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/publish_website.yml
  .github/workflows/run_convperf.yml
  .github/workflows/run_iree_dispatch_profiler.yml
  .github/workflows/run_mmperf.yml
  .github/workflows/run_shark_tank.yml
  .github/workflows/samples.yml
  build_tools/bazel/iree.bazelrc
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/convperf.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/mmperf.Dockerfile
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/scripts/integrate/README.md
  runtime/bindings/python/iree/runtime/build_requirements.txt
Labels: bindings/python

#14030 List target backends registered by plugins in C API.
  compiler/bindings/c/iree/compiler/embedding_api.h
  compiler/src/iree/compiler/API/Internal/Embed.cpp
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  docs/website/docs/guides/deployment-configurations/index.md
Labels: compiler/tools

#14194 Add `OpDocGroup`s to MLIR tablegen files.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VMVX/IR/VMVXOps.td
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineOps.td
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderOps.td
  docs/website/generate_extra_files.sh
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
Labels: documentation, compiler/dialects, quality of life 😊

#14205 No need to return module generation configs in benchmark generators
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  build_tools/python/benchmark_suites/iree/vulkan_nvidia_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/riscv_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
Labels: infrastructure/benchmark, benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14244 Make HoistRedundantVectorTransfers be an individual pass.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/HoistRedundantVectorTransfers.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#14204 Generate build targets for benchmark presets
  CMakeLists.txt
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/export_benchmark_config_test.py
  build_tools/cmake/build_e2e_test_artifacts.sh
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/benchmark_collections_test.py
  build_tools/python/benchmark_suites/iree/benchmark_presets.py
  build_tools/python/benchmark_suites/iree/benchmark_tags.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  build_tools/python/benchmark_suites/iree/utils.py
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  build_tools/python/benchmark_suites/iree/vulkan_nvidia_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/testing/generate_cmake_e2e_test_artifacts_suite.py
  tests/e2e/test_artifacts/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14270 [metal] NFC: Simplify file names by dropping `metal_` prefix
  experimental/metal/CMakeLists.txt
  experimental/metal/README.md
  experimental/metal/builtin_executables.h
  experimental/metal/direct_command_buffer.m
  experimental/metal/kernel_library.h
  experimental/metal/kernel_library.m
  experimental/metal/metal_device.m
  experimental/metal/nop_executable_cache.m
  experimental/metal/shared_event.h
  experimental/metal/shared_event.m
Labels: hal/metal
