Repository iree-org/iree, pull requests merged in 2023-10, with the labels that each got.

#15082 [Reducer] Verify module before running the interesting script
  compiler/src/iree/compiler/Reducer/Framework/Delta.cpp
  compiler/src/iree/compiler/Reducer/Framework/Oracle.cpp
Labels: reducer

#15081 [Reducer] Add delta pass to reduce optimization barriers
  compiler/src/iree/compiler/Reducer/Strategies/BUILD.bazel
  compiler/src/iree/compiler/Reducer/Strategies/CMakeLists.txt
  compiler/src/iree/compiler/Reducer/Strategies/DeltaStrategies.h
  compiler/src/iree/compiler/Reducer/Strategies/ReduceOptimizationBarriersDelta.cpp
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.cc
Labels: reducer

#15086 Avoid using ccache for 'runtime' builds.
  .github/workflows/ci.yml
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
Labels: infrastructure

#15068 Log details when dumping no executable benchmarks.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
Labels: compiler/tools, quality of life 😊

#15080 [Reducer] Improve simplification for reducing strategies
  compiler/src/iree/compiler/Reducer/Strategies/ReduceFlowDispatchOperandToResult.cpp
  compiler/src/iree/compiler/Reducer/Strategies/ReduceFlowDispatchResultBySplat.cpp
  compiler/src/iree/compiler/Reducer/Strategies/ReduceLinalgOnTensorsDelta.cpp
Labels: compiler/reducer

#15092 Re-enable RISC-V benchmark targets
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:comp-stats

#15095 Add python binding for device profile flushing
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/tests/hal_test.py
Labels: bindings/python, hal/api

#15047 [LLVMGPU] Lower descriptor type to global address space
  compiler/src/iree/compiler/Codegen/Common/EraseHALDescriptorTypeFromMemRef.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/rocdl_pipeline_test.mlir
Labels: benchmarks:cuda

#15099 [python] Print error code in CompilerToolError
  compiler/bindings/python/iree/compiler/tools/binaries.py
Labels: bindings/python

#15101 Adding iree_io_file_handle_t placeholder.
  compiler/src/iree/compiler/API/Internal/IREEReduceToolEntryPoint.cpp
  experimental/cuda2/cuda_device.c
  experimental/rocm/rocm_device.c
  experimental/webgpu/webgpu_device.c
  runtime/src/iree/base/internal/path.h
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/cts/file_test.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/file.c
  runtime/src/iree/hal/file.h
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/file_cache.c
  runtime/src/iree/hal/utils/file_cache.h
  runtime/src/iree/hal/utils/memory_file.c
  runtime/src/iree/hal/utils/memory_file.h
  runtime/src/iree/io/BUILD.bazel
  runtime/src/iree/io/CMakeLists.txt
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/CMakeLists.txt
  runtime/src/iree/testing/gtest_main.cc
  runtime/src/iree/vm/buffer.h
Labels: hal/api

#15120 [gpu] Add basic heuristics for better reduction occupancy
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_rocm.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_reduction.mlir
Labels: codegen/llvm, codegen/spirv, benchmarks:android-gpu

#15079 [Reducer] Add bytecode support to iree-reduce
  compiler/src/iree/compiler/API/Internal/IREEReduceToolEntryPoint.cpp
  compiler/src/iree/compiler/Reducer/BUILD.bazel
  compiler/src/iree/compiler/Reducer/CMakeLists.txt
  compiler/src/iree/compiler/Reducer/Framework/Oracle.cpp
  compiler/src/iree/compiler/Reducer/Framework/Oracle.h
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.cc
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.h
Labels: compiler/reducer

#15133 Fix SSA use-def violation created by Tile and fuse pass.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15134 [spirv] NFC: Restructure the vector lowering pass
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVFinalVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVInitialVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_pooling.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_gather.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
Labels: codegen/spirv

#15139 Fixing TRACY_NO_EXIT on MacOS.
  docs/developers/developing_iree/profiling_with_tracy.md
  runtime/src/iree/base/tracing/tracy.cc
  runtime/src/iree/base/tracing/tracy.h
Labels: runtime

#15130 [CPU] Enable fast min/max ops in CPU codegen
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15138 [spirv] NFC: Restructure TileAndVectorizeToCooperativeOps pass
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
Labels: codegen/spirv

#14923 Prune mobile benchmark suites
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:android-cpu, benchmarks:android-gpu

#15153 Update RISCV prebuilt toolchains
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/ci.yml
  build_tools/cmake/build_riscv.sh
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/riscv/riscv_bootstrap.sh
  docs/website/docs/building-from-source/riscv.md
Labels: infrastructure

#15152 Update PyTorch Benchmarks
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14912 Add TF GPT2 benchmarks
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu

#15154 [CPU] Share SCF tile size computation logic with `-iree-llvmcpu-tile`
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats

#15146 Add pytorch_jit sample Colab notebook using SHARK-Turbine.
  samples/colab/README.md
  samples/colab/pytorch_jit.ipynb
  samples/colab/test_notebooks.py
Labels: integrations/pytorch

#15177 Splitting dispatch annotation from outlining.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
Labels: compiler/dialects, cleanup 🧹

#15176 [NFC] Switch CUDA to use GenericVectorization pass.
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_vectorization.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: benchmarks:cuda

#15166 Add pytorch_aot_simple sample Colab notebook using SHARK-Turbine.
  samples/colab/README.md
  samples/colab/pytorch_aot_simple.ipynb
  samples/colab/test_notebooks.py
Labels: integrations/pytorch

#12124 Delete duplicate canonicalization patterns from LinalgExt dialect.
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtBase.td
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
Labels: infrastructure/benchmark, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15197 [spirv] Generalize transposed batch matmul op
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVGeneralizeNamedOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/generalize_named_ops.mlir
Labels: codegen/spirv

#15203 Drop references to an already-fixed test and some no-longer-existing files.
  build_tools/cmake/ctest_all.sh
  compiler/README.md
Labels: platform/macos 🍎

#15204 Replace more uses of `cc_library` with `iree_runtime_cc_library`.
  build_tools/BUILD.bazel
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  runtime/src/BUILD.bazel
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/tracing/BUILD.bazel
  tools/BUILD.bazel
Labels: infrastructure

#15170 Update RISCV prebuild toolchains to support manylinux_2_28_x86_64
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/ci.yml
  build_tools/docker/dockerfiles/riscv-toolchain-builder.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/riscv/riscv_bootstrap.sh
  docs/website/docs/building-from-source/riscv.md
Labels: infrastructure

#15208 Remove GPT-2 benchmarks on Andreno and Mali
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15206 Move passes implementation to GlobalOptimization.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Convert1X1FilterConv2DToMatmul.cpp
  compiler/src/iree/compiler/GlobalOptimization/DetachElementwiseFromNamedOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/EraseUnusedLinalgOperands.cpp
  compiler/src/iree/compiler/GlobalOptimization/PassDetail.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/RemoveZeroExtentTensors.cpp
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/conv1x1_to_matmul.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/detach_elementwise_from_named_ops.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/remove_zero_extent_tensors.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/set_encoding.mlir
Labels: benchmarks:comp-stats

#15216 Tune compiler tracing usage of 'frame's.
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Utils/TracingUtils.cpp
Labels: performance ⚡, compiler/tools

#15196 Fork CUDA and ROCm guides into separate pages.
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/index.md
  docs/website/docs/guides/index.md
  docs/website/mkdocs.yml
Labels: documentation, hal/cuda, hal/rocm

#15184 [LLVMGPU] Splitting TensorCoreVectorization to two passes.
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCorePreparation.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/tensorcore_preparation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/tensorcore_vectorization.mlir
Labels: benchmarks:cuda

#15151 Implementing stack trace capture on iree_status_t for Win/Mac.
  runtime/src/iree/base/config.h
  runtime/src/iree/base/internal/dynamic_library_win32.c
  runtime/src/iree/base/internal/file_io.c
  runtime/src/iree/base/status.c
Labels: runtime, quality of life 😊

#15185 [Cleanup] Retire filter-based vectorization patterns.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: benchmarks:cuda

#15230 [rocm] Print GPU information when dumping device info
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/rocm_driver.c
Labels: hal/rocm

#15149 Making execution region results queue-ordered allocas.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeDispatchInstrumentation.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/resource_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_allocations.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/Patterns.cpp
  experimental/cuda2/cuda_buffer.c
  experimental/cuda2/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:vulkan-nvidia

#15219 [mlir][Flow] Reland https://github.com/openxla/iree/pull/14656 but keep `CollapseReductionDims` pass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15168 Run markdownlint on some files under `docs/developers/*`.
  build_tools/scripts/run_markdownlint.sh
  docs/.markdownlint.yml
  docs/developers/debugging/compile_time_regressions.md
  docs/developers/debugging/integration_correctness_issue_breakdown.md
  docs/developers/debugging/lldb_on_android.md
  docs/developers/debugging/releases.md
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/developers/developing_iree/benchmark_suites.md
  docs/developers/developing_iree/benchmarking.md
  docs/developers/developing_iree/ccache.md
  docs/developers/developing_iree/contributing.md
  docs/developers/developing_iree/contributor_tips.md
  docs/developers/developing_iree/developer_overview.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/developing_iree/profiling.md
  docs/developers/developing_iree/profiling_cpu_events.md
  docs/developers/developing_iree/profiling_vulkan_gpu.md
  docs/developers/developing_iree/profiling_with_tracy.md
  docs/developers/developing_iree/releasing.md
  docs/developers/developing_iree/sanitizers.md
  docs/developers/developing_iree/testing_guide.md
  docs/developers/get_started/README.md
  docs/developers/get_started/building_with_bazel_linux.md
  docs/developers/get_started/building_with_bazel_macos.md
  docs/developers/get_started/building_with_bazel_windows.md
  docs/developers/get_started/building_with_emscripten.md
  docs/developers/get_started/cmake_options_and_variables.md
  docs/developers/get_started/vulkan_environment_setup.md
Labels: documentation, cleanup 🧹

#14016 Switching external resources to be device-local only.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/ConversionTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/ConversionTarget.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Modules/Check/Conversion/BUILD.bazel
  compiler/src/iree/compiler/Modules/Check/Conversion/CMakeLists.txt
  compiler/src/iree/compiler/Modules/Check/Conversion/ConversionPatterns.cpp
  compiler/src/iree/compiler/Modules/Check/IR/BUILD.bazel
  compiler/src/iree/compiler/Modules/Check/IR/CMakeLists.txt
  compiler/src/iree/compiler/Modules/Check/IR/CheckDialect.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.cpp
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/Check/check.imports.mlir
  experimental/cuda2/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/modules/hal/types.c
  runtime/src/iree/tooling/run_module.c
  runtime/src/iree/tooling/vm_util.c
  runtime/src/iree/tooling/vm_util.h
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-e2e-matmul-test.c
  tools/iree-run-trace-main.c
Labels: compiler/dialects, performance ⚡

#15240 Disable flaky metal `e2e/*_ops` tests.
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: hal/metal

#15245 Optimize `moveOp[Up,Down]InBlock` functions in `SimplifyGlobalAccesses`.
  compiler/src/iree/compiler/Dialect/Util/Transforms/SimplifyGlobalAccesses.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/simplify_global_accesses.mlir
Labels: compiler/dialects, performance ⚡

#15255 Port samples/dynamic_shapes/ to PyTorch using SHARK-Turbine.
  samples/dynamic_shapes/README.md
  samples/dynamic_shapes/pytorch_dynamic_shapes.ipynb
  samples/dynamic_shapes/tensorflow_dynamic_shapes.ipynb
  samples/dynamic_shapes/test.sh
Labels: integrations/pytorch

#15267 Re-land [EmitC] Add common baseclass for conversions and simplify patterns.
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: compiler/emitc

#15264 [CPU] Fix check for scalable tile sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15270 Bump TF version in samples Dockerfile for Colab.
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/prod_digests.txt
  samples/colab/test_notebooks.py
Labels: integrations/tensorflow

#15271 [metal] Fix imported vm buffer ref counting in allocator
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
Labels: hal/metal

#15272 [metal] Fix staging buffer alignment calculation
  runtime/src/iree/hal/drivers/metal/staging_buffer.m
Labels: hal/metal

#15036 Use custom iree.dev domain in links to documentation site.
  CITATION.cff
  README.md
  build_tools/benchmarks/comparisons/README.md
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/cmake/iree_benchmark_suite.cmake
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  docs/api_docs/python/requirements.txt
  docs/developers/debugging/releases.md
  docs/developers/debugging/tf_integrations_test_repro.md
  docs/developers/developing_iree/benchmark_suites.md
  docs/developers/developing_iree/e2e_benchmarking.md
  docs/developers/get_started/README.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/reference/bindings/python.md
  docs/website/mkdocs.yml
  experimental/web/generate_web_metrics.sh
  integrations/pjrt/requirements.txt
  samples/colab/low_level_invoke_function.ipynb
  samples/colab/pytorch_aot_simple.ipynb
  samples/colab/pytorch_jit.ipynb
  samples/colab/tensorflow_edge_detection.ipynb
  samples/colab/tensorflow_hub_import.ipynb
  samples/colab/tensorflow_mnist_training.ipynb
  samples/colab/tensorflow_resnet.ipynb
  samples/colab/tflite_text_classification.ipynb
  samples/custom_dispatch/cpu/embedded/README.md
  samples/custom_dispatch/cpu/plugin/README.md
  samples/custom_dispatch/cuda/kernels/README.md
  samples/custom_dispatch/vulkan/shaders/README.md
  samples/custom_module/async/README.md
  samples/custom_module/basic/README.md
  samples/custom_module/dynamic/README.md
  samples/custom_module/static/README.md
  samples/custom_module/sync/README.md
  samples/dynamic_shapes/README.md
  samples/dynamic_shapes/pytorch_dynamic_shapes.ipynb
  samples/dynamic_shapes/tensorflow_dynamic_shapes.ipynb
  samples/static_library/README.md
  samples/variables_and_state/README.md
  samples/variables_and_state/variables_and_state.ipynb
  tests/e2e/models/mnist_train_test/README.md
  tests/e2e/models/mnist_train_test/generate_test_data_requirements.txt
Labels: documentation

#15063 [scf] Pushed SCF support through rest of the Flow/Stream/HAL
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu

#15288 [metal] Retain device until command buffer completion
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
Labels: hal/metal

#15289 [metal] Enable end-to-end TOSA / StableHLO op tests
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: hal/metal

#15286 Adding `vm.br_table` op.
  compiler/src/iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Analysis/RegisterAllocation.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMFuncEncoder.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.cpp
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/utils/generated/op_table.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/test/control_flow_ops.mlir
Labels: runtime/vm

#15276 [CPU][SVE] Enforce > 1 pow2 sizes when materializing scalable matmul lowering_configs
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15297 Add PyTorch "advanced AOT API" documentation.
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation, integrations/pytorch

#15273 Add pass to expand all vectors in vecmat/matvec operations into matrices to enable tiling
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/ExpandVectors.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/expand_vectors.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15298 Tweak configure_ci.py regex patterns.
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#15311 Add more icons to website headings and content tabs.
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/ios.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/reference/bindings/python.md
Labels: documentation

#15261 Small bugfix in EmplaceAllocations
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15292 [AArch64][SVE] Add e2e tests for small and large matmuls
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Labels: platform/windows 🚪, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15328 Recommend `-G Ninja` in all in-tree documentation.
  samples/custom_module/async/README.md
  samples/custom_module/basic/README.md
  samples/custom_module/dynamic/README.md
  samples/custom_module/static/README.md
  samples/custom_module/sync/README.md
  samples/dynamic_shapes/README.md
  samples/static_library/README.md
  samples/variables_and_state/README.md
Labels: infrastructure

#15327 Support intput/expected output in benchmark definitions
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/export_benchmark_config_test.py
  build_tools/python/benchmark_suites/iree/benchmark_collections_test.py
  build_tools/python/benchmark_suites/iree/utils.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions_test.py
Labels: benchmarks:x86_64

#15320 Update RISCV-QEMU emulator to 8.2.1
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/ci.yml
  build_tools/cmake/run_riscv_test.sh
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/riscv/riscv_bootstrap.sh
  docs/website/docs/building-from-source/riscv.md
  tests/riscv32/smoke.sh
Labels: infrastructure

#15331 Add CI configuration recipes with screenshots to contributing.md.
  docs/developers/assets/ci-extra.png
  docs/developers/assets/ci_enabled_jobs.png
  docs/developers/developing_iree/contributing.md
Labels: documentation

#15342 Disable folding casting ops into contraction ops by default.
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15325 [cuda] Avoid sorting when composing kernel arguments
  experimental/cuda2/graph_command_buffer.c
  experimental/cuda2/native_executable.c
  experimental/cuda2/native_executable.h
  experimental/cuda2/pipeline_layout.c
  experimental/cuda2/pipeline_layout.h
Labels: hal/cuda

#15358 Add "torch" as an `InputType` in `iree/compiler/tools/core.py`.
  compiler/bindings/python/iree/compiler/tools/core.py
  compiler/bindings/python/test/tools/compiler_core_test.py
Labels: bindings/python, integrations/pytorch

#15348 Add falcon benchmarks
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu
