Repository iree-org/iree, pull requests merged in 2023-11, with the labels that each got.

#15359 Fix size calculation in the tensor.empty materialization pattern.
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/MaterializeEncoding.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/materialize_encoding.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15356 Drop vulkan-spirv test cases from modules/check/test/*.
  runtime/src/iree/modules/check/test/failure.mlir
  runtime/src/iree/modules/check/test/success.mlir
Labels: cleanup 🧹

#15382 [cuda] Mark event related APIs as unimplemented
  experimental/cuda2/graph_command_buffer.c
Labels: hal/cuda

#15387 CPU features flags improvements
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMIRPasses.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMTargetOptions.h
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15400 Disable Pixel 4 e2e regression benchmarks
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
Labels: benchmarks:android-cpu

#15415 Add IO/Parameters dialect doc to website index page.
  docs/website/docs/reference/mlir-dialects/index.md
Labels: documentation, compiler/dialects

#15410 Fix some broken links to benchmark_suites.md.
  build_tools/benchmarks/README.md
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/common/benchmark_suite.py
Labels: documentation

#15424 [gpu] NFC: Tidy up the VectorReduceToGPU pass
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/vector_reduction_to_gpu.mlir
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
Labels: codegen

#15425 [spirv] Fix bufferization allocation in subgroup reduction pipeline
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#15426 Temporarily disable Pixel 6 tests and benchmarks
  .github/workflows/benchmark_execution.yml
  .github/workflows/build_and_test_android.yml
Labels: benchmarks:android-cpu

#15430 [metal] Fix unused variable when building for iOS
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
Labels: hal/metal

#15413 Add icons and tags to most website/docs/developers/ pages.
  docs/website/docs/developers/building/bazel.md
  docs/website/docs/developers/building/cmake-options.md
  docs/website/docs/developers/building/cmake-with-ccache.md
  docs/website/docs/developers/building/emscripten.md
  docs/website/docs/developers/debugging/android-with-lldb.md
  docs/website/docs/developers/debugging/compile-time-regressions.md
  docs/website/docs/developers/debugging/integration-tests.md
  docs/website/docs/developers/debugging/releases.md
  docs/website/docs/developers/debugging/sanitizers.md
  docs/website/docs/developers/design-docs/cuda-backend.md
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/developer-overview.md
  docs/website/docs/developers/general/developer-tips.md
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/testing-guide.md
  docs/website/docs/developers/performance/benchmark-suites.md
  docs/website/docs/developers/performance/benchmarking.md
  docs/website/docs/developers/performance/profiling-cpu-events.md
  docs/website/docs/developers/performance/profiling-gpu-vulkan.md
  docs/website/docs/developers/performance/profiling-with-tracy.md
  docs/website/docs/developers/performance/profiling.md
  docs/website/docs/developers/usage-best-practices.md
  docs/website/docs/developers/vulkan-environment-setup.md
  docs/website/mkdocs.yml
Labels: documentation

#15414 Make default distribution logic divide work evenly.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15344 Support output verification in Android benchmark tool
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu

#15450 [CPU] Materialize encodings into NOP if the target is not supported yet.
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
Labels: benchmarks:comp-stats

#15397 [CPU] Improve tile sizes selection for tensor.pack ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15459 Re-enable Pixel 6 tests and benchmarks
  .github/workflows/benchmark_execution.yml
  .github/workflows/build_and_test_android.yml
Labels: benchmarks:android-cpu

#15474 Add `chlo` dialect to auto input conversion pipeline
  compiler/src/iree/compiler/InputConversion/Common/AutoInputConversionPipeline.cpp
Labels: integrations/stablehlo

#15476 Disable Metal tests when IREE_HAL_DRIVER_METAL is OFF.
  build_tools/cmake/iree_configure_testing.cmake
Labels: hal/metal

#15427 [Reducer] Add initial check for interestingness
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.cc
Labels: enhancement ➕, compiler/reducer

#15467 Benchmark on c2-standard-60 in background
  .github/workflows/benchmark_execution.yml
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/gcp_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
Labels: benchmarks:x86_64

#15447 [CPU] Improve distribution tile sizes selection for unpack ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15489 Fix iree:span construction error using C++20
  runtime/src/iree/modules/check/module.cc
Labels: runtime

#15444 Setting worker local memory size based on L2 cache size by default.
  runtime/src/iree/task/api.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/topology.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_win32.c
Labels: hal/cpu

#14834 Explain `PYTHONPATH` setup in build instructions.
  CMakeLists.txt
  docs/website/docs/building-from-source/getting-started.md
Labels: documentation, bindings/python

#15279 Add note about registering vm list types.
  runtime/src/iree/vm/list_test.cc
Labels: runtime/vm

#15329 Add pytorch_aot_advanced sample Colab notebook using SHARK-Turbine.
  docs/website/docs/guides/ml-frameworks/pytorch.md
  samples/colab/README.md
  samples/colab/pytorch_aot_advanced.ipynb
  samples/colab/test_notebooks.py
Labels: integrations/pytorch

#15438 Plumb 'torch' input to auto detect via plugin interface.
  compiler/plugins/input/Torch/torch-iree/CMakeLists.txt
  compiler/plugins/input/Torch/torch-iree/PluginRegistration.cpp
  compiler/src/iree/compiler/InputConversion/Common/AutoInputConversionPipeline.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/Passes.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/PluginAPI/Client.h
  compiler/src/iree/compiler/PluginAPI/PluginManager.h
Labels: compiler/tools, quality of life 😊, integrations/pytorch

#15449 Merge CONTRIBUTING.md into website contributing guide.
  CONTRIBUTING.md
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#15448 [CPU] Improve distribution tile sizes selection for mmt4d ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15518 Document Python console scripts and instrumented runtime.
  docs/website/docs/developers/performance/profiling-with-tracy.md
  docs/website/docs/reference/bindings/python.md
Labels: documentation, performance ⚡, bindings/python

#15541 Move TOSA StripSignednessPass from Flow to tosa-iree plugin.
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/BUILD.bazel
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/CMakeLists.txt
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/Passes.cpp
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/Passes.h
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/Passes.td
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/StripSignedness.cpp
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/test/BUILD.bazel
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/test/CMakeLists.txt
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/test/convert_i48_to_i64.mlir
  compiler/plugins/input/TOSA/tosa-iree/InputConversion/test/strip_signedness.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
Labels: compiler/dialects, cleanup 🧹, integrations/tosa

#15465 [CPU] Optimize vector transfers for pack/unpack before vector lowering
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15573 Delete IREEImportPublicTest.
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublicTest.cpp
Labels: compiler/api, cleanup 🧹

#15576 Rename "torch_iree" plugin to "input_torch".
  compiler/plugins/input/Torch/torch-iree/CMakeLists.txt
  compiler/plugins/input/Torch/torch-iree/PluginRegistration.cpp
  compiler/src/iree/compiler/Pipelines/Options.cpp
Labels: cleanup 🧹, integrations/pytorch

#15571 `--iree-llvmcpu-enable-ukernels`, a fine-grained replacement for `--iree-llvmcpu-enable-microkernels`
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/vmvx_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/lower_to_ukernel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  compiler/src/iree/compiler/Codegen/VMVX/test/pipeline.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
Labels: benchmarks:x86_64

#15437 [cuda] Avoid sorting descriptors in stream command buffer
  experimental/cuda2/graph_command_buffer.c
  experimental/cuda2/stream_command_buffer.c
Labels: hal/cuda

#15579 Move VMVX pipeline method from LLVMCPU to VMVX.
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
  compiler/src/iree/compiler/Codegen/VMVX/Passes.h
  compiler/src/iree/compiler/Codegen/VMVX/Passes.td
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/pipeline.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15582 [cuda] Add command-line option to drop legacy sync mode
  compiler/plugins/target/CUDA/CUDATarget.cpp
  experimental/cuda2/tests/stablehlo_ops/CMakeLists.txt
  experimental/cuda2/tests/tosa_ops/CMakeLists.txt
Labels: hal/cuda

#15577 [NFC] Move encoding logic from LinalgExt to Codegen/Common
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/PassDetail.h
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/EncodingInfo.h
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoNop.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  llvm-external-projects/iree-dialects/BUILD.bazel
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Utils/EncodingUtils.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Utils/Utils.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/MaterializeEncoding.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Utils/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Utils/EncodingUtils.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Utils/Utils.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/materialize_encoding.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15584 Migrate tests and benchmarks from `--iree-llvmcpu-enable-microkernels` to `--iree-llvmcpu-enable-ukernels`
  CMakeLists.txt
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  experimental/cpu_ukernel/test/CMakeLists.txt
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15581 Add optional CMake presets to the repo.
  build_tools/cmake/presets/README.md
  build_tools/cmake/presets/all.json
  build_tools/cmake/presets/new.json
  build_tools/cmake/presets/options.json
  build_tools/cmake/presets/turbine.json
Labels: infrastructure

#15538 Suggest triage/write access based on involvement history.
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#15590 [NFC] Move LLVMCPULowerToUKernels pass to Common/CPU
  compiler/src/iree/compiler/Codegen/Common/CPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/CPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15606 Use setup.yml in pkgci, allowing for CI configuration/skipping.
  .github/workflows/pkgci.yml
Labels: infrastructure

#15597 [CodeGen] Refactor verifying identical translation_info to a common method.
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLowerExecutableTargetPass.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15605 Add custom edit URLs to generated website pages.
  docs/website/custom_edit_url.py
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/generate_extra_files.sh
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
Labels: documentation, compiler/dialects

#15617 Disable `regression_test_amdgpu_rocm` build for now.
  .github/workflows/pkgci.yml
  .yamllint.yml
Labels: infrastructure, hal/rocm

#15614 [spirv] Use `gpu.subgrup_reduce` in SPIR-V vector reduction pipeline
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.h
Labels: codegen/spirv, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15609 Adjust pkgci logging.
  experimental/regression_suite/ireers/fixtures.py
Labels: quality of life 😊

#15624 Cleanup ci.yml docs that referenced old code.
  .github/workflows/ci.yml
Labels: infrastructure, cleanup 🧹

#15601 [VMVX] Rework on vmvx lowering strategy.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/CPUUtils.h
  compiler/src/iree/compiler/Codegen/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/VMVX/KernelDispatch.h
  compiler/src/iree/compiler/Codegen/VMVX/Passes.h
  compiler/src/iree/compiler/Codegen/VMVX/Passes.td
  compiler/src/iree/compiler/Codegen/VMVX/VMVXSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/VMVX/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/VMVX/test/pipeline.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/select_lowering_strategy.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15635 Convert MetalSPIRV compiler target into a plugin.
  compiler/plugins/iree_compiler_plugin.cmake
  compiler/plugins/target/MetalSPIRV/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/MSLToMetalLib.cpp
  compiler/plugins/target/MetalSPIRV/MSLToMetalLib.h
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.h
  compiler/plugins/target/MetalSPIRV/MetalTargetPlatform.h
  compiler/plugins/target/MetalSPIRV/SPIRVToMSL.cpp
  compiler/plugins/target/MetalSPIRV/SPIRVToMSL.h
  compiler/plugins/target/MetalSPIRV/test/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/test/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/PluginAPI/Config/BUILD.bazel
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_targets.cc
Labels: platform/macos 🍎, cleanup 🧹

#15648 Switch x86_64 benchmarks and tests to c2-standard-60
  .github/workflows/benchmark_execution.yml
  .github/workflows/ci.yml
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/gcp_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
Labels: benchmarks:x86_64

#15653 Adding multiple_modules sample (and fixing bugs).
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/tooling/run_module.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/ref.c
  samples/CMakeLists.txt
  samples/multiple_modules/BUILD.bazel
  samples/multiple_modules/CMakeLists.txt
  samples/multiple_modules/README.md
  samples/multiple_modules/module_a.mlir
  samples/multiple_modules/module_b.mlir
  samples/multiple_modules/pipeline_async.mlir
  samples/multiple_modules/pipeline_sync.mlir
Labels: runtime/vm

#15651 Rationalize mmt4d tile sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/test_config_mmt4d.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15675 [doc] Refresh Vulkan environment setup doc
  docs/website/docs/developers/vulkan-environment-setup.md
Labels: documentation

#15619 Re-enable `regression_test_amdgpu_rocm` build.
  .github/workflows/pkgci.yml
Labels: infrastructure, hal/rocm

#15596 Add logging indents during CMake configuration for subprojects.
  CMakeLists.txt
  build_tools/cmake/iree_llvm.cmake
Labels: infrastructure, quality of life 😊

#15618 Warn instead of assert on unknown jobs.
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure

#15683 Update links to PyTorch AOT examples in SHARK-Turbine.
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation, integrations/pytorch

#15668 Adding iree_io_stream_t and memory stream implementation.
  runtime/src/iree/base/alignment.h
  runtime/src/iree/io/BUILD.bazel
  runtime/src/iree/io/CMakeLists.txt
  runtime/src/iree/io/formats/gguf/gguf_format.c
  runtime/src/iree/io/stream.c
  runtime/src/iree/io/stream.h
  runtime/src/iree/io/stream_test.cc
Labels: runtime

#15662 [Flow] Make dequantization ops clonable into dispatch regions
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CloneProducersIntoDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
  compiler/src/iree/compiler/GlobalOptimization/FuseDequantizationMatmul.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/fuse_dequantization_matmul.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15700 Add rocm e2e compilation tests for [stablehlo,tosa]_ops.
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: infrastructure, codegen

#15676 [doc] Add page for GPU debugging approachs and tips
  docs/website/docs/developers/debugging/gpu.md
  docs/website/mkdocs.yml
Labels: documentation

#15709 [GlobalOpt] Generalize Linalg named ops after graph level optimization.
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15719 Reorder ML frameworks and support matrix items on website.
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/index.md
  docs/website/mkdocs.yml
Labels: documentation

#15256 Turn data-tiling on by default.
  compiler/src/iree/compiler/Pipelines/Options.h
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15728 Drop 'cl' prefix from MetalSPIRVOptions.
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
Labels: cleanup 🧹

#15731 [doc] Update Vulkan deployment doc regarding supported GPUs
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
Labels: documentation

#15706 Batching parameter load operations and cleaning up gather/scatter.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/parameter_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/parameter_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/ParamsToVM/Patterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/ParamsToVM/test/parameter_ops.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/Patterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/test/parameter_ops.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/IR/IOParametersOps.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/IR/IOParametersOps.td
  compiler/src/iree/compiler/Modules/IO/Parameters/IR/test/parameter_ops.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/io_parameters.imports.mlir
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/utils/file_cache.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/io/parameter_provider.c
  runtime/src/iree/io/parameter_provider.h
  runtime/src/iree/modules/io/parameters/exports.inl
  runtime/src/iree/modules/io/parameters/module.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
Labels: compiler/dialects, runtime

#15735 Adding --iree-hal-strip-executable-contents debugging pass.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/StripExecutableContents.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/strip_executable_contents.mlir
Labels: compiler/dialects, quality of life 😊

#15638 Workaround some gcc 13.2.0+ warnings.
  build_tools/cmake/iree_copts.cmake
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
Labels: infrastructure
