Repository iree-org/iree, pull requests merged in 2023-03, with the labels that each got.

#12429 Fixing symbol DCE stripping executable sources on round-tripping.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableSources.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_sources.mlir
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/executable_sources.mlir
Labels: compiler/tools

#12432 Passing constant uniform operands to dispatches and ignores dynamic ones.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
Labels: compiler/tools

#12423 Reland "Support run Tracy in bleeding edge docker images"
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/ci.yml
  .github/workflows/samples.yml
  build_tools/bazel/iree.bazelrc
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/docker/context/install_iree_deps.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/scripts/integrate/README.md
Labels: buildkite:benchmark-android

#12425 Pad fusion bufferization workaround.
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.h
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
Labels: buildkite:benchmark-android

#12499 Drop Windows CI `.git/modules` cache.
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#12501 Add postsubmit check for macOS
  .github/workflows/ci.yml
Labels: platform/macos 🍎

#12483 Starting support for HAL dispatch specialization.
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BindingLayout.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeDispatchInstrumentation.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/dump_executable_benchmarks.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_interfaces.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FoldUniformOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackDispatchOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Conversion/StreamToHALLoader/Patterns.cpp
  samples/custom_dispatch/cpu/embedded/example_hal.mlir
Labels: compiler/dialects

#12522 Adding min/max VM ops and VM buffer allocation alignment.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertBufferOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_f32.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/arithmetic_ops_i64.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesCore.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeEncoder.h
  compiler/src/iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  runtime/bindings/python/tests/vm_types_test.py
  runtime/bindings/python/vm.cc
  runtime/src/iree/base/alignment.h
  runtime/src/iree/base/allocator.c
  runtime/src/iree/vm/buffer.c
  runtime/src/iree/vm/buffer.h
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_test.cc
  runtime/src/iree/vm/bytecode/module_benchmark.mlir
  runtime/src/iree/vm/bytecode/utils/generated/op_table.h
  runtime/src/iree/vm/bytecode/utils/isa.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/arithmetic_ops.mlir
  runtime/src/iree/vm/test/arithmetic_ops_f32.mlir
  runtime/src/iree/vm/test/arithmetic_ops_i64.mlir
  runtime/src/iree/vm/test/buffer_ops.mlir
Labels: runtime/vm

#12494 Remove memory side effect from hal.interface.binding.subspan
  compiler/src/iree/compiler/Codegen/Common/test/remove_dead_allocs.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/transform_dialect_promote_operands.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/emulate_i64.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/interface_ops.mlir
Labels: buildkite:benchmark-android

#12534 Adding state functionality to iree-run-trace and improving ergonomics.
  build_tools/scripts/run_yamllint.sh
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  experimental/web/sample_dynamic/main.c
  runtime/bindings/python/vm.cc
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/comparison.cc
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/trace_replay.h
  runtime/src/iree/tooling/vm_util.c
  runtime/src/iree/tooling/vm_util.h
  runtime/src/iree/tooling/vm_util_test.cc
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/api.h
  runtime/src/iree/vm/list.c
  runtime/src/iree/vm/list.h
  runtime/src/iree/vm/list_test.cc
  runtime/src/iree/vm/type_def.h
  runtime/src/iree/vm/variant.h
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/iree-run-trace-main.c
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/iree-run-trace.mlir
  tools/test/iree-run-trace.yml
Labels: runtime/tools

#12561 [spirv] Make confugration deduction return state consistent
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AppleConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.h
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/NVIDIAConfig.cpp
Labels: codegen/spirv

#12563 Moving LLVMCPU asm listing to the dump-executable-intermediates flag.
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
Labels: compiler/tools

#12552 Making iree-benchmark-trace work with stateful traces.
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/trace_replay.h
  tools/BUILD
  tools/CMakeLists.txt
  tools/iree-benchmark-trace-main.c
  tools/iree-e2e-matmul-test.c
  tools/iree-run-trace-main.c
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/iree-run-trace.mlir
  tools/test/iree-run-trace.yml
Labels: runtime/tools

#12571 [flow] Fix dispatch.region parser operand order
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_ops.mlir
Labels: codegen

#12375 [flow] Move CloneProducersIntoDispatchRegions into its own pass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CloneProducersIntoDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: codegen

#12577 Enable some now-passing tests on Windows.
  build_tools/cmake/ctest_all.sh
Labels: platform/windows 🚪

#12487 Disable masking on Aarch64 without SVE support
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android

#12584 [LLVMCPU] Re-implement the flow of setting dispatch configurations.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: buildkite:benchmark-android

#12617 [spirv] Add pass to erase storage buffer static shape
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEraseStorageBufferStaticShape.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/erase_storage_buffer_static_shape.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#12591 Parse benchmark presets from PR labels in CI workflow
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure, infrastructure/benchmark, benchmarks:cuda

#12660 Upload initial_data when returning existing cached buffers.
  runtime/src/iree/hal/utils/caching_allocator.c
Labels: bug 🐞, hal/api

#12590 [LLVMCPU] Make pack fusion dispatches select config based on producers.
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/data_tiling_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
Labels: buildkite:benchmark-android

#12589 Enable non-multiuse aggressive fusion logic by default
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
Labels: buildkite:benchmark-android

#12649 Give names to configs in e2e test framework
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/benchmarks/export_benchmark_config_test.py
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/benchmark_suites/iree/module_execution_configs.py
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  build_tools/python/benchmark_suites/iree/utils.py
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_model_tests/run_module_utils_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/iree_artifacts_test.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions_test.py
  build_tools/python/e2e_test_framework/device_specs/device_collections_test.py
  build_tools/python/e2e_test_framework/device_specs/gcp_specs.py
  build_tools/python/e2e_test_framework/device_specs/moto_edge_x30_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_4_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_6_pro_specs.py
Labels: benchmarks:cuda, benchmarks:comp-stats

#12585 Rename aggrsssive fusion to fuse-multi-use
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  tests/e2e/regression/BUILD
  tests/e2e/regression/CMakeLists.txt
  tests/transform_dialect/cuda/BUILD
  tests/transform_dialect/cuda/softmax.mlir
  tests/transform_dialect/cuda/softmax_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_dispatch_spec.mlir
  tests/transform_dialect/cuda/softmax_v2.mlir
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12674 select aarch64 specific tests on Apple arm64
  build_tools/cmake/iree_check_test.cmake
Labels: platform/macos 🍎, buildkite:benchmark-android

#12672 Fix DEVICE_NAME variable in run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks.sh
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12696 Documenting and updating test for NULL thread priority override.
  runtime/src/iree/base/internal/threading.h
  runtime/src/iree/base/internal/threading_test.cc
Labels: platform/macos 🍎, runtime/api

#12537 Add Pytorch support to perf.iree.dev
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: integrations, infrastructure/benchmark

#12558 Prevent out of bound access in TileAndDistribute pass
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12622 Adding better diagnostics on input shape mismatch.
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points_coarse_fences.mlir
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  runtime/src/iree/modules/hal/utils/buffer_diagnostics.c
  tests/compiler_driver/preprocessing_flags.mlir
  tools/test/compile_to_phase.mlir
Labels: compiler/dialects, quality of life 😊

#12658 Introduces LLVMCPUTileAndFuse to get rid of CodegenStrategyDriver
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark-android

#12637 [LLVMCPU] Make unpack fusion dispatches select config based on root ops.
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/data_tiling_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_vmvx_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark-android

#12709 Fix mobilenet_v2_int8 model input typo
  build_tools/python/e2e_test_framework/models/tflite_models.py
Labels: benchmarks:x86_64

#12677 Revise the benchmark logic of continue-from-directory
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/run_benchmarks_on_android.py
Labels: benchmarks:cuda

#12697 Enable PyTorch UNet CPU benchmark
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12667 Introduce LLVMCPUTensorPad pass
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTensorPad.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tensor_pad.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#12707 Move peeling from CodegenStrategy to a LLVMCPU pass.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUPeel.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#12695 Reworking CUDA channel creation and plumbing group/ID.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MemoizeChannels.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/memoize_channels.mlir
  compiler/src/iree/compiler/InputConversion/MHLO/ConvertCollectiveOps.cpp
  runtime/src/iree/base/allocator.h
  runtime/src/iree/hal/channel.h
  runtime/src/iree/hal/drivers/cuda/api.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.h
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/buffer.c
  runtime/src/iree/vm/buffer.h
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
Labels: compiler/dialects, hal/cuda

#12712 Add reported peak device memory to benchmark summary
  build_tools/benchmarks/reporting/parse_shark_benchmarks.py
Labels: infrastructure/shark

#11834 Use task_topology_max_group_count in x86_64 benchmarks
  benchmarks/TF/linux-x86_64.cmake
  benchmarks/TFLite/linux-x86_64.cmake
  build_tools/benchmarks/comparisons/common/benchmark_command.py
  build_tools/python/benchmark_suites/iree/module_execution_configs.py
  build_tools/python/e2e_model_tests/run_module_utils.py
  build_tools/python/e2e_model_tests/run_module_utils_test.py
  build_tools/python/e2e_test_framework/device_specs/device_parameters.py
  build_tools/python/e2e_test_framework/device_specs/gcp_specs.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64

#12731 Add smoke tests to test inline hal compilation flow
  tests/compiler_driver/BUILD.bazel
  tests/compiler_driver/CMakeLists.txt
  tests/compiler_driver/inline_dynamic_hal_executable.mlir
  tests/compiler_driver/inline_static_hal_executable.mlir
Labels: codegen/vmvx

#12643 Integrate the work for hoisting address computation
  compiler/src/iree/compiler/Codegen/BUILD.bazel
  compiler/src/iree/compiler/Codegen/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/DecomposeAffineOpsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.cpp
  compiler/src/iree/compiler/Codegen/Common/ExtractAddressComputation.h
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/decompose_affine_ops.mlir
  compiler/src/iree/compiler/Codegen/Common/test/extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/ExtractAddressComputationGPUPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/extract_address_computation_gpu.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_extract_address_computation.mlir
  compiler/src/iree/compiler/Codegen/PassDetail.h
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
Labels: benchmarks:cuda

#12764 Only exclude e2e_matmul_mmt4d_i8_small on RISC-V.
  build_tools/cmake/test_riscv.sh
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Labels: benchmarks:x86_64, benchmarks:comp-stats

#12785 [CPU][NFC] Decouple distribution and vector tile size computation
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: buildkite:benchmark-android

#12744 Make fusion handle pad/pack/unpack ops correctly.
  benchmarks/TFLite/android-arm64-v8a.cmake
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  compiler/src/iree/compiler/Codegen/Common/VectorizePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_pack_unpack_ops.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/Interfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pad_fusion_with_consumer.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pad_fusion_with_producer.mlir
  tests/e2e/tensor_ops/pack.mlir
  tests/e2e/tensor_ops/pack_dynamic_inner_tiles.mlir
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12723 Use benchmark name from benchmark config object
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/benchmarks/collect_compilation_statistics_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12791 Reduce runtime configurations for x86 CPU experimental benchmarks
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
Labels: benchmarks:x86_64

#12809 Refreshing local stack state after VM import calls.
  runtime/src/iree/vm/bytecode/dispatch.c
Labels: bug 🐞, runtime/vm

#12800 Turn on removing distribution loop during tile and distribute for gpu
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/pack_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12798 Introduce LLVMCPUTile to get rid of CodegenStrategy.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Sandbox/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Sandbox/test/single_tiling_expert.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12811 Switch to use scf::tileConsumerAndFuseProducerGreedilyUsingSCFForOp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileTensor.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64

#12814 [LLVMCPU] Clamp inner tiling sizes for padding approach to avoid masking
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64

#12718 Rename CMake options for legacy benchmark suites
  .github/workflows/ci.yml
  CMakeLists.txt
  benchmarks/README.md
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/cmake/build_android_benchmark.sh
  build_tools/cmake/build_benchmarks.sh
  build_tools/cmake/build_host_and_android.sh
  build_tools/cmake/build_linux_benchmark.sh
  build_tools/cmake/build_linux_benchmark_modules.sh
  build_tools/cmake/iree_benchmark_suite.cmake
Labels: benchmarks:comp-stats

#12855 Reword documentation for `build_tools/docker/manage_images.py`.
  build_tools/docker/README.md
Labels: documentation, infrastructure

#12786 [LLVMCPU] Move SplitReduction from CodegenDriver to a LLVMCPU pass.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#12551 [spirv] Add basics for supporting transform dialect CodeGen
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
Labels: codegen/spirv

#12769 Add EfficientNet V2 Small PyTorch Model
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12768 Add EfficientNet-B7 PyTorch Model
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12770 Add Bert-Large PyTorch Models with various batch sizes
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12773 Add ResNet50 PyTorch models at various batch sizes
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12875 [spirv] Support i8 matmul codegen with integer dot prod ops
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: buildkite:benchmark-android
