Repository iree-org/iree, pull requests merged in 2023-08, with the labels that each got.

#14411 Fix MLIR Python bindings build in byo_llvm
  build_tools/llvm/byo_llvm.sh
  build_tools/llvm/mlir_config.cmake
Labels: bindings/python

#14537 Add COPTS flag in iree_c_module rule
  build_tools/bazel/iree_c_module.bzl
  build_tools/cmake/iree_c_module.cmake
  runtime/src/iree/vm/test/emitc/BUILD.bazel
  runtime/src/iree/vm/test/emitc/CMakeLists.txt
Labels: runtime/vm

#14550 Final commits to enable global constexpr hoisting/eval.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:vulkan-nvidia

#14556 Adding the `#util.byte_pattern` attribute.
  compiler/src/iree/compiler/Dialect/Stream/Conversion/UtilToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/attributes.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMDialect.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/constant_encoding.mlir
Labels: quality of life 😊

#14541 Fix VMVX StrideBufferDescriptor initialization
  compiler/src/iree/compiler/Codegen/VMVX/LowerLinalgMicrokernels.cpp
Labels: codegen/vmvx

#14394 Avoid folding unit extent dims within pre-formed dispatches.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fold_unit_dims.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14579 Disable libyaml GCC unused-value warning temporarily
  build_tools/third_party/libyaml/CMakeLists.txt
Labels: infrastructure

#14588 [metal] Retain iree_hal_device_t in command buffers
  experimental/metal/direct_command_buffer.m
Labels: hal/metal

#14551 [CPU] Add `contract` fast-math-flag to arith operations
  compiler/src/iree/compiler/Codegen/Common/AddFastMathFlags.cpp
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/PassDetail.h
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/add_fmfs.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14593 Add error message for InlineExecutables with unsupported variants.
  compiler/src/iree/compiler/API/Internal/Embed.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
Labels: compiler/dialects, quality of life 😊

#14597 Replacing the use of cpuinfo on Windows with our own queries.
  CMakeLists.txt
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/api.c
  runtime/src/iree/task/executor_demo.cc
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_test.cc
  runtime/src/iree/task/topology_win32.c
Labels: platform/windows 🚪

#14575 Build and publish Windows Python releases.
  .github/workflows/build_package.yml
  build_tools/github_actions/build_dist.py
  build_tools/python_deploy/build_windows_packages.sh
  build_tools/python_deploy/install_macos_deps.sh
  build_tools/python_deploy/install_windows_deps.ps1
  compiler/setup.py
  docs/developers/debugging/releases.md
  runtime/setup.py
Labels: infrastructure, platform/windows 🚪, bindings/python

#14602 Fix workflow name in schedule_candidate_release.
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/schedule_candidate_release.yml
  docs/developers/debugging/releases.md
Labels: infrastructure

#14604 [metal] Enable passing e2e model tests
  .github/workflows/ci.yml
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/ctest_all.sh
  build_tools/cmake/test.sh
  tests/e2e/models/BUILD.bazel
  tests/e2e/models/CMakeLists.txt
  tests/e2e/models/collatz.mlir
  tests/e2e/models/edge_detection.mlir
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/fullyconnected.mlir
  tests/e2e/models/mnist_fake_weights.mlir
  tests/e2e/models/unidirectional_lstm.mlir
Labels: hal/metal

#14578 Add a preprocessing pass to move entire function into a single dispatch.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CaptureDispatchDynamicDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_workgroups.mlir
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/MakeSingleDispatchForFunction.cpp
  compiler/src/iree/compiler/Preprocessing/Common/Passes.h
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/make_single_dispatch_for_function.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/force_single_dispatch.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14612 Avoid constant folding of operations not in the same scope as the constant.
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14613 Python API: Enforce C-Contiguous ndarray
  runtime/bindings/python/iree/runtime/array_interop.py
Labels: bindings/python

#14615 [macos] Properly filter known failing tests
  build_tools/cmake/ctest_all.sh
Labels: platform/macos 🍎

#14629 Work around scalar support bug in webgpu compilation.
  experimental/web/sample_webgpu/index.html
  experimental/web/sample_webgpu/multiple_results.mlir
Labels: codegen/spirv, platform/web 🌐

#14617 Read vmfb files in 2GB chunks to resolve fread issues on Android
  runtime/src/iree/base/internal/file_io.c
Labels: benchmarks:android-cpu, benchmarks:android-gpu

#14632 [CPU] Enable masking for single pack/unpack dispatch if supported.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/data_tiling_pipeline.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14625 Delete stale objectives.md document.
  docs/developers/objectives.md
Labels: documentation, cleanup 🧹

#14611 Refine release build CMake options.
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/build_macos_packages.sh
  compiler/setup.py
  runtime/setup.py
Labels: infrastructure, hal/cuda, cleanup 🧹

#13908 [gpu] Distribute fused producer elementwise ops in SIMT pipeline
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_fusion.mlir
Labels: codegen/llvm, codegen/spirv

#14639 Build tracy by default in the Python runtime packages.
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .gitignore
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/build_macos_packages.sh
  build_tools/python_deploy/build_windows_packages.sh
  runtime/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/runtime/_binding.py
  runtime/bindings/python/iree/runtime/_runtime_libs.py
  runtime/bindings/python/iree/runtime/scripts/iree_benchmark_module/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_benchmark_trace/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_cpuinfo/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_dump_module/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_run_module/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_run_trace/__main__.py
  runtime/bindings/python/iree/runtime/scripts/iree_tracy_capture/__main__.py
  runtime/bindings/python/iree/runtime/version.py
  runtime/setup.py
Labels: bindings/python, runtime/tools

#14647 Fix calculation of byte offset to element offset during bufferization.
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.h
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14645 Fold `linalg.matmul(a, linalg.transpose(b))` into `linalg.matmul_transpose_b(a, b)`
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/raise_special_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14643 Convert build_windows_packages to powershell.
  .github/workflows/build_package.yml
  build_tools/python_deploy/build_windows_packages.ps1
  build_tools/python_deploy/build_windows_packages.sh
Labels: infrastructure, platform/windows 🚪, bindings/python

#14667 A few fixes for compiling experimental/cuda2.
  experimental/cuda2/cuda_dynamic_symbol_table.h
  experimental/cuda2/registration/driver_module.c
Labels: hal/cuda

#14684 Keep benchmark running if one of them failed
  .github/workflows/benchmark_execution.yml
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14688 move to Powershell to create versions for the CI
  .github/workflows/build_package.yml
Labels: infrastructure, platform/windows 🚪

#14677 Set benchmark repetition in capture mode
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14672 Turn off GCC `-Wuninitialized` flag
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure

#14569 [CPU] Add memref aliasing ops folding right before sub-type emulation
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14704 Turn on `-Werror` in GCC
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure

#14624 [metal] Make staging buffer impl thread safe
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/staging_buffer.h
  runtime/src/iree/hal/drivers/metal/staging_buffer.m
Labels: hal/metal

#14743 Add copy (cp) command to ir_tool.
  compiler/bindings/python/iree/compiler/tools/ir_tool/__main__.py
  compiler/bindings/python/test/tools/ir_tool_test.py
Labels: bindings/python, compiler/tools

#14746 [spirv] Add some tests for matvec pipeline configuration
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matvec.mlir
Labels: codegen/spirv

#14536 Adding Vulkan sparse binding buffer support for native allocations.
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/base_buffer.c
  runtime/src/iree/hal/drivers/vulkan/base_buffer.h
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.cc
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/handle_util.h
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/drivers/vulkan/native_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/native_buffer.h
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.h
Labels: hal/vulkan

#14690 Build sample_webgpu in build_test_test_samples.
  .github/workflows/ci.yml
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/prod_digests.txt
  experimental/web/build_and_test_samples.sh
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_webgpu/CMakeLists.txt
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/builtins.c
  experimental/webgpu/executable.c
Labels: infrastructure, platform/web 🌐

#14751 [spirv] Allow dynamic parallel dims in subgroup reduction pipeline
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matvec.mlir
Labels: codegen/spirv

#14752 [spirv] Drop leading unit dim in f16 fused dequant matvec dispatch
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matvec.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matvec.mlir
Labels: codegen/spirv

#14755 [spirv] Fix element extraction order when breaking down vectors
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVBreakDownLargeVector.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/break_down_large_vector.mlir
Labels: codegen/spirv

#14748 Cleanup references to Buildkite.
  build_tools/benchmarks/post_benchmark_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
  build_tools/github_actions/configure_ci.py
  experimental/web/generate_web_metrics.sh
Labels: infrastructure, cleanup 🧹

#14749 Link to IREE YouTube channel hosting community meeting recordings.
  README.md
Labels: documentation

#14747 Run `build_test_all_windows` on presubmit for relevant changes.
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure, platform/windows 🚪

#14774 Fix bytecode module leak in iree-run-mlir.
  runtime/src/iree/tooling/run_module.c
Labels: runtime/tools

#14781 Add missing include for renderdoc dlopen usage.
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#14777 Setting --vulkan_vma_allocator=false in preparation for removal.
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/mnist_train_test/CMakeLists.txt
  tests/e2e/tensor_ops/tensor_cast.mlir
Labels: hal/vulkan

#14778 Enabling Vulkan buffer device addresses support in the runtime.
  runtime/src/iree/hal/drivers/vulkan/api.h
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.cc
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/drivers/vulkan/nop_executable_cache.cc
  runtime/src/iree/hal/drivers/vulkan/registration/driver_module.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#14196 Add service to preload docker images on runner startup
  build_tools/github_actions/runner/config/systemd/scripts/preload_docker.sh
  build_tools/github_actions/runner/config/systemd/system/preload-docker.service
Labels: infrastructure

#14757 Update benchmark artifacts
  build_tools/python/e2e_test_framework/models/jax_models.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14782 Make iree-vm-deduplicate-rodata O(ops) instead of O(replacements*ops).
  compiler/src/iree/compiler/Dialect/VM/Transforms/DeduplicateRodata.cpp
Labels: compiler/dialects, performance ⚡

#14768 Add `llvm-link` and `clang` to CMake install
  tools/CMakeLists.txt
Labels: infrastructure

#14787 Switching --iree-stream-resource-index-bits= to 64 by default.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
Labels: compiler/dialects, quality of life 😊

#14767 Introduce GlobalOptimization layers to Pipeline.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/Pipelines/BUILD.bazel
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.h
  compiler/src/iree/compiler/Tools/init_iree_passes.h
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14804 Fix ir_tool argparse subcommand usage.
  compiler/bindings/python/iree/compiler/tools/ir_tool/__main__.py
Labels: bindings/python, compiler/tools

#14811 [cuda] Remove if ok status check nesting when possible
  experimental/cuda2/cuda_allocator.c
  experimental/cuda2/nccl_channel.c
  experimental/cuda2/pipeline_layout.c
Labels: hal/cuda

#14812 [cuda] Initialize resource immediately after allocation
  experimental/cuda2/native_executable.c
Labels: hal/cuda

#14813 [cuda] Fix include to include the header file
  experimental/cuda2/timepoint_pool.c
Labels: hal/cuda

#14828 Migrate website blog to use supported plugin.
  docs/website/docs/community/blog/.authors.yml
  docs/website/docs/community/blog/index.md
  docs/website/docs/community/blog/posts/cuda-backend.md
  docs/website/docs/community/blog/posts/cuda-bring_up.png
  docs/website/docs/community/blog/posts/cuda-compiler-flow.png
  docs/website/docs/community/blog/posts/cuda-memperf.png
  docs/website/docs/community/blog/posts/cuda-optimization-flow.png
  docs/website/docs/community/blog/posts/mmt4d-4x4_mmt4d.png
  docs/website/docs/community/blog/posts/mmt4d-4x4_tiled.png
  docs/website/docs/community/blog/posts/mmt4d-L1-dcache-load-misses.png
  docs/website/docs/community/blog/posts/mmt4d-graph_flow.svg
  docs/website/docs/community/blog/posts/mmt4d-mmt4d_vs_matmul.png
  docs/website/docs/community/blog/posts/mmt4d.md
  docs/website/docs/community/blog/posts/tflite-tosa-compilation-diagram.png
  docs/website/docs/community/blog/posts/tflite-tosa.md
  docs/website/docs/community/tags.md
  docs/website/mkdocs.yml
  docs/website/requirements.txt
Labels: documentation

#14810 Bump python to 3.9 and tf-nightly to 2.15.0.dev20230824
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/build_all.yml
  .github/workflows/build_and_test_android.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  build_tools/python/e2e_model_tests/test_definitions.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/scripts/integrate/README.md
  integrations/tensorflow/test/iree_tfl_tests/east_text_detector.run
  integrations/tensorflow/test/iree_tfl_tests/gpt2.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_mobilenet_v1.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_mobilenet_v3-large_uint8.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_resnet_50_int8.run
  integrations/tensorflow/test/iree_tfl_tests/mnasnet.run
  integrations/tensorflow/test/iree_tfl_tests/mobilenet_v3.run
  integrations/tensorflow/test/iree_tfl_tests/person_detect.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_mobilebert_tf2_quant.run
  integrations/tensorflow/test/iree_tfl_tests/vmvx_person_detect.run
  integrations/tensorflow/test/iree_tfl_tests/vulkan_mobilenet_v1.run
  integrations/tensorflow/test/requirements.txt
  tests/e2e/models/generated_e2e_model_tests.cmake
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14848 [vulkan] Request 8-/16-bit integer/floating-point features
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.cc
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#14856 Add descriptions for root compiler and runtime Python modules.
  compiler/bindings/python/iree/compiler/__init__.py
  runtime/bindings/python/iree/runtime/__init__.py
Labels: bindings/python

#14850 Enable runtime/bindings/python/test/benchmark_test.
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/runtime/benchmark.py
  runtime/bindings/python/tests/benchmark_test.py
Labels: bindings/python

#14872 Do not hoist pure shape metadata op in const-eval
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/OpOracle.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14875 [cuda] Fix segfault caused by CUevent outliving CUdevice
  experimental/cuda2/cuda_device.c
  experimental/cuda2/event_pool.c
  experimental/cuda2/event_pool.h
Labels: hal/cuda

#14877 Switch SPIR-V to use generic vectorizer instead of GPUVectorization
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: benchmarks:comp-stats, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14882 Refresh Android docs with `iree-test-deps` and icons.
  docs/website/docs/building-from-source/android.md
Labels: documentation, platform/android 🤖

#14709 Patch over some TensorFlow Python API changes.
  compiler/bindings/python/iree/compiler/tools/tf.py
  integrations/tensorflow/python_projects/iree_tf/iree/tools/tf/scripts/iree_import_tf/__main__.py
Labels: integrations/tensorflow

#14870 [LLVMCPU] Set encoding on batch_matmul ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/SetEncoding.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/set_encoding.mlir
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/MaterializeEncoding.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14876 [cuda] Optimize device signal to host wait synchronization
  experimental/cuda2/README.md
  experimental/cuda2/event_semaphore.c
  experimental/cuda2/event_semaphore.h
Labels: hal/cuda

#14881 [CPU] Enable masked vectorisation when SVE is available
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
Labels: codegen/llvm, benchmarks:comp-stats, benchmarks:android-cpu

#14838 [CPU] Do not set lowering_config if they can't share common configs.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu
