Repository iree-org/iree, pull requests merged in 2023-12, with the labels that each got.

#15421 [CPU][DT] Select proper vec/unroll sizes for vecmat/matvec codegen
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15754 Standardize/fixup how options are defined in plugins.
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/WebGPU/WebGPUTarget.cpp
Labels: compiler/tools

#15781 [spirv] NFC: Drop unnecessary headers and sort passes
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: codegen/spirv, cleanup 🧹

#15783 Adding scf.index_switch patterns to aid in HAL lowerings.
  compiler/src/iree/compiler/Dialect/Util/Transforms/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/block_patterns.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/patterns.mlir
Labels: compiler/dialects

#15785 [spirv] Add a pass to link multiple HAL executables together
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Utils/ModuleUtils.cpp
  compiler/src/iree/compiler/Utils/ModuleUtils.h
Labels: codegen/spirv

#15788 Clone export op during linking to retain regions
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.h
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/VMVX/test/link_executables.mlir
Labels: codegen

#15744 Emphasize filing issues for coordination on contributing page.
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#15689 Convert ROCM compiler target into a plugin.
  compiler/plugins/iree_compiler_plugin.cmake
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/smoketest.mlir
  compiler/src/iree/compiler/PluginAPI/Config/BUILD.bazel
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_targets.cc
Labels: cleanup 🧹

#15672 Add vector.gather lowering patterns to the LLVMCPUVectorLoweringPass pass
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15795 Refactoring the deduplicate executables pass to support generic types.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/deduplicate_executables.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTraits.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
Labels: compiler/dialects

#15637 Substitute expanding vectors for expansion/collapse in MaterializeEncoding
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/set_encoding.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15798 [CPU] Enable vectorization of DT and non-DT contractions on aarch64
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
Labels: benchmarks:comp-stats, benchmarks:android-cpu

#15778 [CPU] Unify default distribution logics for non-Linalg TilingInterface ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15747 Restore many check tests when cross compiling.
  build_tools/cmake/iree_check_test.cmake
Labels: infrastructure, platform/android 🤖

#15598 Refresh documentation for C API and compiler plugins.
  compiler/src/iree/compiler/PluginAPI/Client.h
  compiler/src/iree/compiler/PluginAPI/README.md
  docs/website/docs/developers/performance/profiling-with-tracy.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/mkdocs.yml
Labels: documentation, compiler/api

#15727 Cleanup parts of the Bazel build and document usage.
  build_tools/bazel/build_core.sh
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/ctest_all.sh
  build_tools/cmake/test.sh
  build_tools/cmake/test_riscv.sh
  build_tools/docker/docker_run.sh
  docs/website/docs/developers/building/bazel.md
  runtime/src/iree/base/testing/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/registration/BUILD.bazel
Labels: documentation, infrastructure, cleanup 🧹

#15797 Adding condition support to `hal.dispatch.extern`.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchExterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_externs.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
Labels: compiler/dialects

#15824 Remove stale gradle-android Dockerfile.
  .github/workflows/android_tflite_oneshot_build.yml
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: platform/android 🤖, cleanup 🧹

#15820 [CPU] Enable data-tiling for mixed float types.
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14984 [CPU] Enable a first (dummy) cache-level tiling for matmuls in codegen
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_lowering_strategy_without_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15829 Migrating stream dialect passes to modern tblgen.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateDispatchArguments.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FoldUniformOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/LayoutSlices.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeCopyOnWrite.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackDispatchOperands.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PassDetail.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleConcurrency.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyAsyncAccessRanges.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Labels: compiler/dialects, cleanup 🧹

#15864 [python] Enable enum generation for flow, hal, stream, util, and vm.
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/dialects/flow.py
  compiler/bindings/python/iree/compiler/dialects/hal.py
  compiler/bindings/python/iree/compiler/dialects/stream.py
  compiler/bindings/python/iree/compiler/dialects/vm.py
Labels: bindings/python

#15865 [NFC] Retire filter based vectorization patterns.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: benchmarks:cuda

#15867 [SPIRV][NFC] Switch SPIRVTile pass to use scf::tileUsingSCFForOp.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Labels: codegen/spirv, benchmarks:android-gpu

#15875 Add DT-only benchmarks for x86_64 and Android CPU
  build_tools/github_actions/configure_ci.py
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_presets.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15876 Show comparison table for different data-tiling options
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/generate_benchmark_comment.py
Labels: benchmarks:comp-stats

#15868 [python] Add python bindings for creating IRPA files.
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/io.cc
  runtime/bindings/python/iree/runtime/__init__.py
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/bindings/python/iree/runtime/io.py
  runtime/bindings/python/tests/io_test.py
Labels: bindings/python

#15802 [vulkan] Enable initial executable linking
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/schemas/spirv_executable_def.fbs
Labels: hal/vulkan, codegen/spirv

#15882 Moving memory info queries to iree/base/internal/memory.h.
  runtime/src/iree/base/alignment.h
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/memory.c
  runtime/src/iree/base/internal/memory.h
  runtime/src/iree/hal/local/elf/BUILD.bazel
  runtime/src/iree/hal/local/elf/CMakeLists.txt
  runtime/src/iree/hal/local/elf/elf_module.c
  runtime/src/iree/hal/local/elf/platform.h
  runtime/src/iree/hal/local/elf/platform/apple.c
  runtime/src/iree/hal/local/elf/platform/generic.c
  runtime/src/iree/hal/local/elf/platform/linux.c
  runtime/src/iree/hal/local/elf/platform/windows.c
Labels: runtime, cleanup 🧹

#15889 Adding stream.dispatch.workgroup.* info ops.
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/dump_statistics.mlir
  samples/custom_dispatch/cpu/embedded/example_stream.mlir
  samples/custom_dispatch/cpu/plugin/standalone_example.mlir
  samples/custom_dispatch/cpu/plugin/system_example.mlir
Labels: compiler/dialects, cleanup 🧹

#15843 [CPU] Remove unnecessary factors from getMaxVectorTileSize.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15894 [NFC] Replace LinalgExt::TilingPattern with walk-based transforms.
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.cpp
  compiler/src/iree/compiler/Codegen/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: benchmarks:cuda, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15896 Convert VMVX compiler target into a plugin.
  compiler/plugins/iree_compiler_plugin.cmake
  compiler/plugins/target/VMVX/BUILD.bazel
  compiler/plugins/target/VMVX/CMakeLists.txt
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/plugins/target/VMVX/test/BUILD.bazel
  compiler/plugins/target/VMVX/test/CMakeLists.txt
  compiler/plugins/target/VMVX/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.h
  compiler/src/iree/compiler/PluginAPI/Config/BUILD.bazel
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_targets.cc
Labels: cleanup 🧹

#15891 Replacing cpuinfo on Mac and adding support for E/P cores.
  CMakeLists.txt
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/python_deploy/build_macos_packages.sh
  experimental/web/testing/build_tests.sh
  runtime/src/iree/base/internal/threading.h
  runtime/src/iree/base/internal/threading_darwin.c
  runtime/src/iree/task/BUILD.bazel
  runtime/src/iree/task/CMakeLists.txt
  runtime/src/iree/task/api.c
  runtime/src/iree/task/executor_demo.cc
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_darwin.c
  runtime/src/iree/task/topology_emscripten.c
  runtime/src/iree/task/topology_test.cc
  runtime/src/iree/task/topology_win32.c
Labels: platform/windows 🚪, platform/macos 🍎, hal/cpu

#15898 Cleanup compiler target plugin files.
  compiler/plugins/target/CUDA/BUILD.bazel
  compiler/plugins/target/CUDA/CMakeLists.txt
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.cpp
  compiler/plugins/target/CUDA/SetBlockIdsRangePass.h
  compiler/plugins/target/MetalSPIRV/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/MSLToMetalLib.h
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.h
  compiler/plugins/target/MetalSPIRV/MetalTargetPlatform.h
  compiler/plugins/target/MetalSPIRV/SPIRVToMSL.h
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/WebGPU/SPIRVToWGSL.h
Labels: cleanup 🧹

#15883 [CPU] Enable codegen fallback when ukernels are not available.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15909 Delete `tools/android/run_module_app`.
  docs/website/docs/developers/performance/profiling-gpu-vulkan.md
  tools/android/CMakeLists.txt
  tools/android/run_module_app/AndroidManifest.xml.template
  tools/android/run_module_app/CMakeLists.txt
  tools/android/run_module_app/README.md
  tools/android/run_module_app/build_apk.sh
  tools/android/run_module_app/res/values/strings.xml
  tools/android/run_module_app/src/main.cc
Labels: platform/android 🤖, cleanup 🧹

#15912 Drop Vulkan driver tests from `tools/test/`.
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-benchmark-module.mlir
  tools/test/iree-run-mlir.mlir
  tools/test/iree-run-module.mlir
  tools/test/multiple_exported_functions.mlir
Labels: infrastructure, hal/vulkan, cleanup 🧹

#15794 [CPU][ArmSME] Add (initial) tiling and lowering pipeline for ArmSME
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/CommonDialectRegistration.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pad_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/Builtins/Device.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
  runtime/src/iree/builtins/device/BUILD.bazel
  runtime/src/iree/builtins/device/CMakeLists.txt
  runtime/src/iree/builtins/device/arch/arm_64/sme_abi.c
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15900 Update Falcon benchmarks
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15915 Quote path to Python executable for lit tests on Windows.
  tools/test/iree-run-module-outputs.mlir
  tools/test/iree-run-trace.mlir
Labels: platform/windows 🚪

#15916 Replacing hal.ex.shared_device with hal.devices.* ops.
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points_coarse_fences.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/link_executables.mlir
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertDevicesOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExperimentalOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/devices_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/channel_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/context_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/file_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/timepoint_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/devices_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/experimental_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_resource_caches.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/memoize_device_queries.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Modules/Check/Conversion/ConversionPatterns.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Conversion/StreamToParams/test/parameter_ops.mlir
  docs/website/docs/developers/general/developer-tips.md
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  runtime/bindings/python/hal.cc
  runtime/bindings/tflite/interpreter.c
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/check/test/success.mlir
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/hal/module.h
  runtime/src/iree/runtime/session.c
  runtime/src/iree/runtime/session.h
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
  samples/simple_embedding/simple_embedding.c
Labels: compiler/dialects, hal/api

#15919 Removing transfer_range from the HAL device vtable.
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/hip/CMakeLists.txt
  experimental/hip/hip_device.c
  experimental/rocm/CMakeLists.txt
  experimental/rocm/rocm_device.c
  experimental/web/sample_static/CMakeLists.txt
  experimental/web/sample_static/main.c
  experimental/webgpu/webgpu_device.c
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/buffer_transfer.h
  runtime/src/iree/hal/buffer_view_util.c
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/buffer_transfer.h
Labels: hal/api, cleanup 🧹

#15905 [spirv] Respect entry point ordinal when serializing executables
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
Labels: codegen/spirv

#15917 [CPU] Add missing passes for ukernel fallback
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15918 Add tests for iree-run-module inputs.
  docs/website/docs/developers/general/developer-overview.md
  docs/website/docs/developers/general/testing-guide.md
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-run-module-inputs.mlir
  tools/test/iree-run-module.mlir
Labels: runtime/tools

#15926 Mark tensorflow_resnet.ipynb as xfail.
  samples/colab/test_notebooks.py
Labels: integrations/tensorflow

#15933 Removing old HAL device matching attributes.
  compiler/src/iree/compiler/Dialect/HAL/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTraits.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineOps.td
  compiler/src/iree/compiler/Modules/HAL/Loader/Conversion/StreamToHALLoader/Patterns.cpp
Labels: compiler/dialects, cleanup 🧹

#15931 [CPU] Retire CPUDoubleTilingPadExpert pipeline.
  build_tools/cmake/test_riscv.sh
  compiler/src/iree/compiler/Codegen/Common/test/materialize_user_configs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/regression/lowering_config.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15950 [spirv] NFC: sort pass pipelines update comment headers
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
Labels: codegen/spirv, cleanup 🧹

#15945 [Flow] Enable fusion of `tensor.unpack` with non-intersecting reductions
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15958 [spirv] NFC: Cleanup and reorder functions in SPIR-V passes
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv, cleanup 🧹

#15963 [GPU] Simplify gpu warp reduction lowering
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/vector_reduction_to_gpu.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_rocm.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
Labels: benchmarks:cuda, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15928 [CPU] Unify distribution tile size selection heuristic.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15952 Updating HAL passes to use tablegen.
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetRegistry.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetRegistry.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/AssignTargetDevices.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ConfigureExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableSources.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ElideRedundantCommands.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/FixupLegacySync.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/LinkExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeDispatchInstrumentation.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MemoizeDeviceQueries.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/PreprocessExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/RepeatDispatches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveExportOrdinals.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/SerializeExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/StripExecutableContents.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/SubstituteExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/VerifyTargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/materialize_dispatch_instrumentation.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/preprocess_executables.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/repeat_dispatches.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/multiple_target_env_conversion.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/Passes.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Transforms/Passes.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Utils/OptionUtils.cpp
  compiler/src/iree/compiler/Utils/OptionUtils.h
  tests/e2e/regression/libm_linking.mlir
  tools/test/executable_configurations.mlir
  tools/test/executable_sources.mlir
Labels: compiler/dialects, cleanup 🧹

#15962 Add Falcon7b int4 to CI benchmarks
  .github/workflows/ci.yml
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15888 [spirv] Trim required executable target environment before linking
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTrimExecutableTargetEnv.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/trim_executable_target_env.mlir
Labels: codegen/spirv

#15858 [GlobalOptimization] Add pass for transpose propagation
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.h
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/PropagateLinalgTranspose.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/propagate_linalg_transpose.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15969 Move VMVX benchmarks to x86_64 runner
  .github/workflows/benchmark_large.yml
  .github/workflows/build_e2e_test_artifacts.yml
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/benchmark_suites/iree/module_execution_configs.py
  build_tools/python/benchmark_suites/iree/vmvx_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu

#15935 [spirv] Provide same entry point list in variants when linking
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
Labels: codegen/spirv

#15663 [Flow] Loosen restrictions for dequantization fusion
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15913 Fix producer-consumer graph in `ConstExprAnalysis`
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.h
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/OpOracle.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia
