Repository iree-org/iree, pull requests merged in 2023-09, with the labels that each got.

#14901 Update sample Colab notebooks to use tf-nightly.
  samples/colab/edge_detection.ipynb
  samples/colab/mnist_training.ipynb
  samples/colab/resnet.ipynb
  samples/colab/test_notebooks.py
  samples/colab/tflite_text_classification.ipynb
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: integrations/tensorflow, bindings/python, compiler/tools

#14897 [CPU][SVE] Update how matmul tile sizes are calculated
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
Labels: codegen/llvm, benchmarks:comp-stats, benchmarks:android-cpu

#14886 Lay groundwork for documenting Metal (Apple) configuration.
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-metal.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/index.md
  docs/website/docs/guides/index.md
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/jax.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/mkdocs.yml
Labels: documentation, platform/macos 🍎, hal/metal

#14900 [cuda] Fix event_pool reference counting
  experimental/cuda2/event_pool.c
Labels: hal/cuda

#14790 Workaround Vulkan driver bug triggered by native allocator code.
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  tests/e2e/models/fragment_000.mlir
  tests/e2e/models/mnist_train_test/CMakeLists.txt
  tests/e2e/tensor_ops/tensor_cast.mlir
Labels: hal/vulkan, ew 🤮, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14792 Enable ConstEval for CPU data tiling path.
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormScalarDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/OpOracle.cpp
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
  compiler/src/iree/compiler/GlobalOptimization/PassDetail.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14906 Add diagram for VM modules to c-api doc.
  docs/website/docs/reference/bindings/c-api.md
Labels: documentation, runtime/vm

#14955 Fix benchmark preset for Android CPU
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:android-cpu

#14884 Fix benchmark.py handling of multiple entry functions.
  runtime/bindings/python/iree/runtime/benchmark.py
  runtime/bindings/python/tests/benchmark_test.py
Labels: bindings/python

#14958 Update mobile experimental benchmark flags
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:android-cpu

#14957 Add 'all-cores' config for running Mobile benchmarks
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/pixel_4_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_6_pro_specs.py
Labels: benchmarks:android-cpu

#14979 [LLVMCPU] Disable split reduction for operations with index semantics.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/split_reduction.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14969 Adding `--task_topology_cpu_ids=` flag.
  runtime/src/iree/base/alignment.h
  runtime/src/iree/task/api.c
  runtime/src/iree/task/topology.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_win32.c
Labels: hal/cpu

#15005 Set correct tile sizes on root ops with pack/unpack ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15009 [SPIRV] Break SPIRVVectorize pass into GenericVectorization and SPIRVVectorLowering passes.
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_pooling.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_gather.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
Labels: benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15013 [metal] Disable crashing reduce_window tests for now
  tests/e2e/stablehlo_ops/CMakeLists.txt
Labels: hal/metal

#15018 [GlobalOptimization] Fold unit extent dims before fusing dequant with matmul
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fuse_dequantization_matmul.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pipeline_tests.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15025 [spirv] Fix transfer op crash when vectorizing memref
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv

#14903 Drop convperf and mmperf Dockerfiles and workflows.
  .github/workflows/run_convperf.yml
  .github/workflows/run_mmperf.yml
  build_tools/benchmarks/convperf/build_and_run_convperf.sh
  build_tools/benchmarks/mmperf/build_mmperf.sh
  build_tools/benchmarks/mmperf/run_mmperf.sh
  build_tools/docker/context/setup_convperf.sh
  build_tools/docker/context/setup_mmperf.sh
  build_tools/docker/dockerfiles/convperf.Dockerfile
  build_tools/docker/dockerfiles/mmperf.Dockerfile
  build_tools/docker/dockerfiles/perf.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: cleanup 🧹, infrastructure/benchmark

#14580 Remove notice about missing Windows Python packages.
  docs/website/docs/reference/bindings/python.md
Labels: documentation, platform/windows 🚪, bindings/python

#15026 [spirv][vulkan] Switch from NV to KHR coop matrix extension
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_nvidia_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/pipeline_matmul_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/set_transform_strategy.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: codegen/spirv

#14656 [Flow] Allow CollapseDimensions pass to fold reduction dimensions as well
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseReductionDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_reduction.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15032 Refactor IREECodegenAttrs to use typed array parameters
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/test/invalid.mlir
  compiler/src/iree/compiler/Codegen/Dialect/test/lowering_config_attr.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Verifiers.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  experimental/dispatch_profiler/matmul.py
  samples/custom_dispatch/cuda/kernels/ukernel_example.mlir
  tests/e2e/matmul/generate_e2e_matmul_tests.py
  tests/e2e/regression/lowering_config.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14892 Add iree-reduce tool
  compiler/bindings/c/iree/compiler/tool_entry_points_api.h
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREEReduceToolEntryPoint.cpp
  compiler/src/iree/compiler/Reducer/BUILD.bazel
  compiler/src/iree/compiler/Reducer/CMakeLists.txt
  compiler/src/iree/compiler/Reducer/Framework/BUILD.bazel
  compiler/src/iree/compiler/Reducer/Framework/CMakeLists.txt
  compiler/src/iree/compiler/Reducer/Framework/ChunkManager.cpp
  compiler/src/iree/compiler/Reducer/Framework/ChunkManager.h
  compiler/src/iree/compiler/Reducer/Framework/Delta.cpp
  compiler/src/iree/compiler/Reducer/Framework/Delta.h
  compiler/src/iree/compiler/Reducer/Framework/Oracle.cpp
  compiler/src/iree/compiler/Reducer/Framework/Oracle.h
  compiler/src/iree/compiler/Reducer/Framework/WorkItem.cpp
  compiler/src/iree/compiler/Reducer/Framework/WorkItem.h
  compiler/src/iree/compiler/Reducer/Strategies/BUILD.bazel
  compiler/src/iree/compiler/Reducer/Strategies/CMakeLists.txt
  compiler/src/iree/compiler/Reducer/Strategies/DeltaStrategies.h
  compiler/src/iree/compiler/Reducer/Strategies/ReduceFlowDispatchOperandToResult.cpp
  compiler/src/iree/compiler/Reducer/Strategies/ReduceFlowDispatchResultBySplat.cpp
  compiler/src/iree/compiler/Reducer/Strategies/ReduceLinalgOnTensorsDelta.cpp
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.cc
  compiler/src/iree/compiler/Reducer/iree_reduce_lib.h
  samples/reducer/README.md
  samples/reducer/test/interesting.py
  samples/reducer/test/output.mlir
  samples/reducer/test/reduce.mlir
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/iree-reduce.cc
Labels: compiler/tools

#15034 [LLVMGPU] Enable WarpReduction on ROCM + Let matvec use Warp Reduce.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_rocm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_cuda.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline_transform_rocm.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#15040 [LinalgExt][Bufferization] Clean-up bufferization pass for LinalgExt
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14935 [CPU] Improve computation of vector sizes
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUSplitReduction.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/data_tiling_pipeline.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pad_pipeline_tests.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15033 Support scalable tile sizes in #iree_codegen.lowering_config
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/test/lowering_config_attr.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu
