Repository iree-org/iree, pull requests merged in 2023-01, with the labels that each got.

#11537 Enable some now-passing HAL CTS tests.
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/cts/CMakeLists.txt
Labels: hal/cpu, hal/cuda

#11689 [NFC] Unify structure of Conversion Patterns in the VM ToEmitC Conversion
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
Labels: compiler/emitc

#11692 Split benchmark comment posting into two steps
  .github/workflows/ci.yml
  build_tools/benchmarks/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/generate_benchmark_comment.py
  build_tools/benchmarks/post_benchmark_comment.py
  build_tools/benchmarks/post_benchmark_comment_test.py
  build_tools/benchmarks/post_benchmarks_as_pr_comment.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/python/reporting/benchmark_comment.py
  docs/website/docs/building-from-source/getting-started.md
Labels: buildkite:benchmark-cuda

#11744 Bump website copyright year to 2023.
  docs/website/mkdocs.yml
Labels: documentation

#11742 [cmake] Set macOS/iOS app bundle properties
  build_tools/cmake/iree_cc_binary.cmake
Labels: platform/macos 🍎

#11286 [CPU] Vector masking integration in IREE
  compiler/src/iree/compiler/Codegen/Common/GPUDistributeSharedMemoryCopy.cpp
  compiler/src/iree/compiler/Codegen/Common/GPUVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUTensorCoreVectorization.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorize.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#11743 [cmake] Disable debug print with generator expression for Xcode
  build_tools/cmake/iree_cc_library.cmake
Labels: platform/macos 🍎

#11745 Re-enable now passing Windows CI.
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#11758 Add ios.md to explain IREE iOS support
  docs/website/docs/building-from-source/ios.md
  docs/website/docs/index.md
  docs/website/mkdocs.yml
Labels: documentation, platform/macos 🍎

#11769 Add a few links to the new iOS documentation page.
  docs/website/docs/building-from-source/index.md
  docs/website/docs/deployment-configurations/cpu.md
Labels: documentation

#11507 Make loop_emscripten stateful and allow for multiple instances.
  build_tools/cmake/iree_copts.cmake
  experimental/web/testing/build_tests.sh
  runtime/src/iree/base/loop_emscripten.c
  runtime/src/iree/base/loop_emscripten.h
  runtime/src/iree/base/loop_emscripten.js
Labels: runtime, platform/web 🌐

#11671 Add CI job to post benchmark results in PR
  .github/workflows/benchmark_execution.yml
  .github/workflows/ci.yml
  .github/workflows/post_benchmark_comment.yaml
  build_tools/benchmarks/generate_benchmark_comment.py
  build_tools/benchmarks/post_benchmark_comment.py
  build_tools/benchmarks/post_benchmark_comment_test.py
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/github_actions/configure_ci.py
  build_tools/python/reporting/benchmark_comment.py
Labels: infrastructure

#11806 Adding IREE_FLAG_LIST utility for repeated string flags.
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/base/internal/flags_demo.c
  runtime/src/iree/base/internal/flags_test.txt
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/comparison_test.cc
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/vm_util.c
  runtime/src/iree/tooling/vm_util.h
  runtime/src/iree/tooling/vm_util_cc.cc
  runtime/src/iree/tooling/vm_util_cc.h
  runtime/src/iree/tooling/vm_util_test.cc
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-benchmark-module-main.cc
  tools/iree-benchmark-trace-main.c
  tools/iree-check-module-main.cc
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/iree-run-trace-main.c
Labels: runtime/tools, cleanup 🧹

#11764 Replace CMake `iree_get_executable_path()` with `IMPORTED` targets.
  CMakeLists.txt
  build_tools/cmake/flatbuffer_c_library.cmake
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/cmake/iree_bytecode_module.cmake
  build_tools/cmake/iree_c_embed_data.cmake
  build_tools/cmake/iree_c_module.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_import_binary.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_microbenchmark_suite.cmake
  build_tools/cmake/iree_static_linker_test.cmake
  build_tools/embed_data/CMakeLists.txt
  build_tools/third_party/flatcc/CMakeLists.txt
  samples/static_library/CMakeLists.txt
  tools/CMakeLists.txt
  tools/android/CMakeLists.txt
  tools/test/CMakeLists.txt
Labels: infrastructure

#11809 Adding iree_hal_device_replace_allocator API.
  experimental/rocm/rocm_device.c
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.h
  runtime/src/iree/tooling/device_util.c
Labels: hal/api, runtime/tools

#11814 Cleaning up llvm::zip behavior in ScheduleAllocation.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.h
Labels: compiler/dialects

#11829 Revert "Add patterns to fold `tensor.empty` with `tensor.collapse_expand/shape`."
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
Labels: buildkite:benchmark-x86_64

#11822 Supporting pooling vectorization in IREE
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11820 [NFC] Switching to structured bindings for llvm::zip iterator args.
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExpandTensorShapes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/ConversionTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleConcurrency.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/C/TranslateToCpp.cpp
  compiler/src/iree/compiler/InputConversion/MHLO/BroadcastingToLinalgPatterns.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Conversion/HALLoaderToVM/Patterns.cpp
Labels: compiler/dialects, cleanup 🧹

#11841 Disable `/Zi` when using ccache on Windows/MSVC.
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure, platform/windows 🚪

#11837 Replace constant `outs` operands of Linalg ops as well.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DetachElementwiseFromNamedOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/detach_elementwise_from_named_ops.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11078 Decomposed linalg's quantized depthwise conv zero-point computations
  compiler/src/iree/compiler/InputConversion/Common/QuantizedConvToConv.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/linalg_quantized_conv_to_conv.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv

#11848 Supporting host memory registration in CUDA via external buffers.
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
Labels: hal/cuda

#11866 Update Vulkan loader image URL.
  docs/developers/get_started/vulkan_environment_setup.md
Labels: documentation

#11873 [LLVMCPU] Add a fixup for selecting pack ops distribution tiling sizes.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark-android

#11895 Revert "Supporting host memory registration in CUDA via external buff…
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
Labels: hal/cuda

#11494 Generate `non-coherent cache` loads and `noalias` for CUDA
  compiler/src/iree/compiler/Codegen/Common/CleanupBufferAllocViewPass.cpp
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_nvvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/convert_to_rocdl.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVEmulateI64.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/WGSL/WGSLReplacePushConstants.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  tests/transform_dialect/cpu/matmul.mlir
Labels: infrastructure/benchmark, buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#11899 Supporting host memory registration in CUDA via external buffers.
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
Labels: hal/cuda, buildkite:benchmark-cuda

#11929 Switching IREE dialects to useFoldAPI = kEmitFoldAdaptorFolder.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALDialect.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilBase.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMBase.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VMVX/IR/VMVXBase.td
  compiler/src/iree/compiler/Modules/Check/IR/CheckOps.td
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineBase.td
  compiler/src/iree/compiler/Modules/HAL/Inline/IR/HALInlineOps.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/IR/HALLoaderBase.td
Labels: compiler/dialects, cleanup 🧹

#11907 Make sure the selected workgroup size divides the problem size.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11807 NFC: Remove use of GreedyPatternRewriter for first-level tile and distribute
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_matmul_promotion.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11906 Add caching for submodules and CMake to Windows CI.
  .github/workflows/ci.yml
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/build_android.sh
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_emscripten.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_tracing.sh
  build_tools/cmake/setup_ccache.sh
Labels: infrastructure, platform/windows 🚪

#11832 Enable CUDA (compiler and runtime) by default in CMake builds.
  CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/status_util.c
Labels: hal/cuda

#11926 Adding debug information to LLVM CPU codegen outputs.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/convert_to_llvm.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_workgroup_info.mlir
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMTargetOptions.h
Labels: codegen/llvm, quality of life 😊

#11944 Hoist statically bound allocations to the entry block of a function.
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11943 Adding CUDA device-side tracing support (`--cuda_tracing`).
  runtime/src/iree/base/config.h
  runtime/src/iree/base/tracing.cc
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/api.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/cuda/native_executable.h
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.h
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/tracing.c
  runtime/src/iree/hal/drivers/cuda/tracing.h
  runtime/src/iree/hal/drivers/vulkan/BUILD
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/tracing.cc
  runtime/src/iree/hal/local/local_executable.c
  runtime/src/iree/task/task.c
Labels: performance ⚡, hal/cuda

#11867 Adding --task_worker_stack_size= flag and defaulting to 128KB.
  runtime/src/iree/task/api.c
  runtime/src/iree/task/executor.c
  runtime/src/iree/task/executor.h
  runtime/src/iree/task/worker.c
  runtime/src/iree/task/worker.h
Labels: hal/cpu, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11938 Make stack allocations checks in generated code on LLVMCPU more stringent
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUCheckIRBeforeLLVMConversion.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/check_ir_before_llvm_conversion.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11937 Exporting LLVM CPU functions when debug symbols are enabled.
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/EmbeddedLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/internal/WindowsLinkerTool.cpp
  runtime/src/iree/base/internal/dynamic_library_win32.c
  runtime/src/iree/hal/local/elf/arch.h
  runtime/src/iree/hal/local/elf/arch/arm_32.c
  runtime/src/iree/hal/local/elf/arch/arm_64.c
  runtime/src/iree/hal/local/elf/arch/riscv.c
  runtime/src/iree/hal/local/elf/arch/x86_32.c
  runtime/src/iree/hal/local/elf/arch/x86_64.c
  runtime/src/iree/hal/local/elf/elf_module.c
Labels: codegen/llvm, quality of life 😊, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11847 Add patterns to fold tensor.empty with tensor.collapse_expand/shape.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11962 Fix CUDA tracing build in Debug build mode.
  runtime/src/iree/hal/drivers/cuda/tracing.c
  runtime/src/iree/hal/drivers/cuda/tracing.h
Labels: hal/cuda

#11964 Removing unused iree/base/internal/main.h.
  runtime/src/iree/base/internal/BUILD
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/main.h
  runtime/src/iree/base/internal/main_posix.c
  runtime/src/iree/base/internal/main_win32.c
Labels: runtime, cleanup 🧹

#11965 Fixing disabled tracing/flags functions ala #11962.
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/hal/drivers/vulkan/tracing.cc
  runtime/src/iree/hal/drivers/vulkan/tracing.h
Labels: cleanup 🧹

#11963 Add `-DCMAKE_BUILD_TYPE=Debug` CI job.
  .github/workflows/ci.yml
  build_tools/cmake/build_all.sh
Labels: infrastructure

#11941 Add placeholder JAX integration documentation.
  docs/website/docs/getting-started/jax.md
Labels: documentation

#11737 Flip the switch to turn on the transform dialect by default.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/linalg_transform.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/nvvm_pipeline_test.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline.mlir
  tests/transform_dialect/cuda/reduction.mlir
  tests/transform_dialect/cuda/reduction_eltwise.mlir
  tests/transform_dialect/cuda/reduction_v2.mlir
  tests/transform_dialect/cuda/reduction_v2_uneven.mlir
  tests/transform_dialect/cuda/reduction_v3.mlir
  tests/transform_dialect/cuda/softmax_v2.mlir
  tests/transform_dialect/cuda/vecadd2d.mlir
Labels: buildkite:benchmark-cuda

#11973 Improving `hal.interface.constant.load` alignment propagation.
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/FuseDispatchBindings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/annotate_dispatch_arguments.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/fuse_dispatch_bindings_noalias.mlir
Labels: compiler/dialects, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11976 Refine CUDA CMake options and usage in scripts.
  CMakeLists.txt
  benchmarks/README.md
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/build_host_tools.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/rebuild.sh
  build_tools/github_actions/build_dist.py
  build_tools/third_party/cuda/CMakeLists.txt
Labels: infrastructure, hal/cuda, cleanup 🧹

#11990 Fixup tests/e2e/linalg/ test definitions.
  tests/e2e/linalg/BUILD
  tests/e2e/linalg/CMakeLists.txt
Labels: cleanup 🧹

#12007 Fixing runtime flag string lists to not grow exponentially.
  runtime/src/iree/base/internal/flags.c
  runtime/src/iree/base/internal/flags_test.txt
  tests/transform_dialect/cpu/matmul.mlir
Labels: bug 🐞, runtime/tools

#12002 Extending `iree_hal_allocator_t` with memory heaps and compat queries.
  experimental/rocm/rocm_allocator.c
  runtime/bindings/python/hal.cc
  runtime/bindings/python/tests/hal_test.py
  runtime/src/iree/base/bitfield.c
  runtime/src/iree/base/bitfield.h
  runtime/src/iree/base/bitfield_test.cc
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view.h
  runtime/src/iree/base/string_view_test.cc
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_view_util.c
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/cts/allocator_test.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/vulkan/vma_allocator.cc
Labels: hal/api, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda
