Repository iree-org/iree, pull requests merged in 2023-07, with the labels that each got.

#14243 Add `iree-dump-module` to the python iree-runtime wheel.
  .github/workflows/validate_and_publish_release.yml
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/runtime/scripts/iree_dump_module/__main__.py
  runtime/setup.py
Labels: bindings/python, compiler/tools

#14306 Fix CUDA bitcode builds on Windows.
  build_tools/cmake/iree_bitcode_library.cmake
  build_tools/third_party/cuda/CMakeLists.txt
  samples/custom_dispatch/cuda/kernels/CMakeLists.txt
Labels: infrastructure, platform/windows 🚪, codegen/nvvm

#14303 [tf] Switch off of pywrap entry point
  integrations/tensorflow/python_projects/iree_tf/iree/tools/tf/scripts/iree_import_tf/__main__.py
  integrations/tensorflow/python_projects/iree_tflite/iree/tools/tflite/scripts/iree_import_tflite/__main__.py
Labels: integrations/tensorflow

#14318 Start work on a new incremental LLVM integrate script.
  build_tools/scripts/integrate/auto_integrate.py
  build_tools/scripts/integrate/iree_utils.py
Labels: infrastructure

#14312 Implement CI job optionality
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  CONTRIBUTING.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/developers/developing_iree/contributing.md
Labels: infrastructure

#14219 Use name instead of ID for benchmark artifacts and targets
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/python/e2e_test_artifacts/CMakeLists.txt
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/model_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/model_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/iree_artifacts.py
  build_tools/python/e2e_test_artifacts/iree_artifacts_test.py
  build_tools/python/e2e_test_artifacts/model_artifacts.py
  build_tools/python/e2e_test_artifacts/model_artifacts_test.py
  build_tools/python/e2e_test_artifacts/utils.py
  build_tools/python/e2e_test_artifacts/utils_test.py
  tests/e2e/models/generated_e2e_model_tests.cmake
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14254 Add a "IREE developer tips and tricks" guide.
  docs/website/docs/guides/developer-tips.md
  docs/website/docs/guides/index.md
  docs/website/mkdocs.yml
Labels: documentation, compiler/tools

#14163 Improve buffer handling in WebGPU sample.
  experimental/web/sample_webgpu/index.html
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/buffer.c
Labels: hal/webgpu, platform/web 🌐

#14325 [cuda] Port over existing semaphore impl
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/cuda2/nop_semaphore.c
  experimental/cuda2/nop_semaphore.h
Labels: hal/cuda

#14368 Removing dead VM serialization rodata encoding.
  compiler/src/iree/compiler/Dialect/VM/Utils/ConstantEncoding.cpp
  compiler/src/iree/compiler/Dialect/VM/Utils/ConstantEncoding.h
Labels: cleanup 🧹

#14326 [cuda] Port over existing graph command buffer impl
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/cts/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/cuda2/graph_command_buffer.c
  experimental/cuda2/graph_command_buffer.h
Labels: hal/cuda

#14327 [cuda] Enable various HAL CTS and end-to-end single-op tests
  experimental/cuda2/cts/CMakeLists.txt
  experimental/cuda2/tests/CMakeLists.txt
  experimental/cuda2/tests/stablehlo_ops/CMakeLists.txt
  experimental/cuda2/tests/tosa_ops/CMakeLists.txt
Labels: hal/cuda

#14377 [spirv] Add basic lowering pipeline without tiling and distribution
  compiler/src/iree/compiler/Codegen/Dialect/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_scalar_dispatch.mlir
Labels: codegen/spirv

#14388 Generate doc pages for iree-dialects.
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/generate_extra_files.sh
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
  llvm-external-projects/iree-dialects/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputBase.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtBase.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtOps.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/CMakeLists.txt
Labels: documentation, compiler/dialects

#14379 Update benchmark artifacts
  build_tools/python/e2e_test_framework/models/jax_models.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14311 Make slices take iter_args in TileAndFuse when they are equivalent.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileAndFuse.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile_and_fuse.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14400 Link to website overview slides in docs/README.md.
  docs/README.md
Labels: documentation

#14408 [CodeGen] Remove IREE folding patterns from ConcretizePadResultShape.
  compiler/src/iree/compiler/Codegen/Common/ConcretizePadResultShape.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu

#13449 [TransformStrategies] Add implicit gemm for aligned convolutions in CUDA
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy_convolution.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy_matmul.mlir
  compiler/src/iree/compiler/Codegen/TransformStrategies/Common/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/Common/Common.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/AbstractGemmLikeStrategy.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/AbstractGemmLikeStrategy.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Common.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Common.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/ConvolutionImplicitGemmStrategy.cpp
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/ConvolutionImplicitGemmStrategy.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/MatmulTensorCoreStrategy.h
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Strategies.cpp
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Transforms/TransformMatchers.h
  llvm-external-projects/iree-dialects/lib/Transforms/TransformMatchers.cpp
Labels: benchmarks:cuda

#14419 Remove explicit Bazel public visibility from targets.
  experimental/webgpu/BUILD.bazel
  experimental/webgpu/platform/BUILD.bazel
  runtime/bindings/tflite/BUILD.bazel
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/utils/BUILD.bazel
Labels: cleanup 🧹

#14380 Refresh reference/bindings/ website pages.
  docs/.markdownlint.yml
  docs/website/docs/index.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/docs/reference/bindings/index.md
  docs/website/docs/reference/bindings/python.md
  docs/website/docs/reference/bindings/tensorflow-lite.md
  docs/website/docs/reference/glossary.md
  docs/website/docs/reference/index.md
  docs/website/mkdocs.yml
Labels: documentation, runtime/api, bindings/python, compiler/api

#14413 Add option to initiate compilation from a specified phase
  compiler/bindings/c/iree/compiler/embedding_api.h
  compiler/bindings/c/iree/compiler/loader/handle_symbols.inc
  compiler/bindings/c/iree/compiler/loader/loader.cpp
  compiler/src/iree/compiler/API/Internal/Embed.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.h
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
  docs/website/docs/guides/developer-tips.md
  tools/test/compile_to_continuation.mlir
Labels: compiler/api

#14421 Keep `(pad + set_encoding)` pairs as-is to be later folded into `tensor.pack`
  compiler/src/iree/compiler/Dialect/Flow/Transforms/TensorPadToTensorInsertSlice.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/tensor_pad_to_tensor_insert_slice.mlir
Labels: benchmarks:comp-stats

#14068 [LLVMCPU] Add support for using multiple lowering_config.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TileSizeSelection.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/illegal_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_aarch64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_configuration_without_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_riscv_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pad_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/peel_and_vectorize.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  tests/e2e/regression/lowering_config.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#13822 [CPU] Enable 'iree-llvmcpu-reassociate-fp-reductions' by default
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/split_reduction_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#14422 Switch x86 experimental-flags benchmarks to data tiling + ukernels.
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64

#14441 [CPU] Fix tile sizes adjustment for pack op with outer_dims_perm.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14459 Enable EfficientNet models for x86 experimental benchmark suites.
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64

#14453 Remove `RematerializeParallelOps` pass.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/Passes.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/RematerializeParallelOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/rematerialize_parallel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/reduction_pipeline.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Passes/DecomposeSoftmax.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/decompose_softmax.mlir
  tests/transform_dialect/cuda/softmax_v2.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14466 Mention stable and nightly python releases in more places.
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
Labels: documentation, bindings/python

#14474 Update to mkdocs-material 9.2.
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/ios.md
  docs/website/docs/building-from-source/riscv.md
  docs/website/docs/guides/deployment-configurations/bare-metal.md
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/developer-tips.md
  docs/website/docs/guides/ml-frameworks/jax.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/docs/reference/bindings/python.md
  docs/website/docs/reference/extensions.md
  docs/website/docs/reference/glossary.md
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/docs/reference/optimization-options.md
  docs/website/mkdocs.yml
  docs/website/requirements.txt
  third_party/mkdocs-material/overrides/partials/header.html
  third_party/mkdocs-material/overrides/partials/nav.html
Labels: documentation

#13747 Enable multi-use fusion for cases where the shapes of the two ops are the same.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#14426 [cuda] Implement HAL semaphore using CUevent objects
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/README.md
  experimental/cuda2/api.h
  experimental/cuda2/cts/CMakeLists.txt
  experimental/cuda2/cuda_device.c
  experimental/cuda2/cuda_dynamic_symbol_table.h
  experimental/cuda2/event_pool.c
  experimental/cuda2/event_pool.h
  experimental/cuda2/event_semaphore.c
  experimental/cuda2/event_semaphore.h
  experimental/cuda2/pending_queue_actions.c
  experimental/cuda2/pending_queue_actions.h
  experimental/cuda2/timepoint_pool.c
  experimental/cuda2/timepoint_pool.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
Labels: hal/cuda

#14084 Add sharding to benchmark execution
  .github/workflows/benchmark_execution.yml
  .github/workflows/benchmark_large.yml
  .github/workflows/build_e2e_test_artifacts.yml
  build_tools/benchmarks/benchmark_helper.py
  build_tools/benchmarks/benchmark_helper_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/cmake/build_e2e_test_artifacts.sh
  docs/developers/developing_iree/benchmark_suites.md
Labels: benchmarks:x86_64

#14501 Reenable benchmark sharding
  .github/workflows/benchmark_execution.yml
  .github/workflows/benchmark_large.yml
  .github/workflows/build_e2e_test_artifacts.yml
  build_tools/benchmarks/benchmark_helper.py
  build_tools/benchmarks/benchmark_helper_test.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/cmake/build_e2e_test_artifacts.sh
  docs/developers/developing_iree/benchmark_suites.md
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu

#14384 In Python API create devices with default collectives channel provider
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/hal.cc
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
Labels: bindings/python

#14482 Iterate on C/Python bindings documentation.
  docs/website/docs/reference/bindings/c-api.md
  docs/website/docs/reference/bindings/python.md
  docs/website/mkdocs.yml
Labels: documentation, runtime/api, compiler/api

#14509 Document available phase names in tips and tricks guide.
  docs/website/docs/guides/developer-tips.md
Labels: documentation, compiler/api

#14504 Rework consteval to be more memory efficient.
  compiler/src/iree/compiler/API/Internal/Embed.cpp
  compiler/src/iree/compiler/ConstEval/BUILD.bazel
  compiler/src/iree/compiler/ConstEval/CMakeLists.txt
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/ConstEval/Passes.h
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/ConstEval/Runtime.h
  compiler/src/iree/compiler/ConstEval/test/jit_globals.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/HoistIntoGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  docs/website/docs/reference/optimization-options.md
Labels: compiler/dialects, performance ⚡

#14518 Adding iree_allocator_inline_arena and using it from VM tracing.
  runtime/src/iree/base/allocator.c
  runtime/src/iree/base/allocator.h
  runtime/src/iree/vm/bytecode/disassembler.c
Labels: runtime/vm, cleanup 🧹

#14516 Isolate LLVMTarget in the llvm-cpu backend.
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/ConstEval/test/jit_globals.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMIRPasses.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMIRPasses.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMTargetOptions.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/AndroidLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/EmbeddedLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/LinkerTools.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/UnixLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/WasmLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/internal/WindowsLinkerTool.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.h
  compiler/src/iree/compiler/Dialect/HAL/Target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Tools/init_targets.cc
Labels: benchmarks:x86_64, benchmarks:android-cpu

#14522 Fix StreamOps lambda function
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: compiler/dialects
