Repository iree-org/iree, pull requests merged in 2023-02, with the labels that each got.

#12016 Add `--output=` flag to iree-run-module/iree-run-mlir.
  runtime/src/iree/tooling/vm_util.c
  runtime/src/iree/tooling/vm_util.h
  samples/simple_embedding/simple_embedding_test.mlir
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
  tools/test/BUILD
  tools/test/CMakeLists.txt
  tools/test/echo_npy.py
  tools/test/iree-run-module-outputs.mlir
Labels: runtime/tools, quality of life 😊

#12030 Properly erroring out when spilling VM result stack storage.
  runtime/src/iree/vm/invocation.c
Labels: bug 🐞, runtime/vm

#12036 Handle multi-result dispatches that all route into update ops.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
Labels: bug 🐞, compiler/dialects

#12020 Adapt Tile+Fuse to handle multi-result dispatches.
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/Transforms.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#12037 Replace `riscv-v-vector-bits-min` with `+zvl*b` in RISC-V configs
  benchmarks/TFLite/linux-riscv.cmake
  build_tools/cmake/riscv.toolchain.cmake
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  docs/website/docs/building-from-source/riscv.md
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-riscv

#11979 Adding iree_hal_caching_allocator_t.
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/cmake/iree_benchmark_suite.cmake
  runtime/src/iree/base/tracing.cc
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/utils/BUILD
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/caching_allocator.h
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/device_util.c
Labels: performance ⚡, hal/api, buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#11998 Track memory usage when tracing the compiler.
  compiler/src/iree/compiler/Utils/TracingUtils.cpp
  docs/developers/developing_iree/profiling_with_tracy.md
Labels: performance ⚡, compiler/tools

#12045 Switch args/results to heap allocated storage for VM invocations.
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode_module_test.cc
  runtime/src/iree/vm/bytecode_module_test.mlir
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/ref.c
  runtime/src/iree/vm/ref.h
  runtime/src/iree/vm/stack.c
  runtime/src/iree/vm/stack.h
Labels: runtime/vm

#11838 Add a pass to vectorize tensor.pack and tensor.unpack ops.
  compiler/src/iree/compiler/Codegen/Common/BUILD
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/VectorizePackUnPackOps.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/vectorize_pack_unpack_ops.mlir
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Labels: buildkite:benchmark-x86_64

#11578 Add command_buffer_push_constants_test.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  runtime/src/iree/hal/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/cts/testdata/command_buffer_push_constants_test.mlir
Labels: hal/api

#12091 Require compiler static linking when using compiler tracing.
  CMakeLists.txt
Labels: performance ⚡

#12088 Adding iree_vm_list_swap_storage and iree_vm_list_copy.
  runtime/src/iree/vm/list.c
  runtime/src/iree/vm/list.h
  runtime/src/iree/vm/list_test.cc
  runtime/src/iree/vm/ref.c
Labels: runtime/vm

#12094 Switch to use adaptor folder API to silence deprecation warnings
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgTransform/LinalgTransformOps.td
Labels: cleanup 🧹

#12043 Add richer information to compiler tracing.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
  compiler/src/iree/compiler/Pipelines/BUILD
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Utils/TracingUtils.cpp
  compiler/src/iree/compiler/Utils/TracingUtils.h
Labels: performance ⚡, compiler/tools, quality of life 😊

#12110 Link content tabs across the website.
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/android.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  docs/website/mkdocs.yml
Labels: documentation

#12041 Redo handling of operand reuse to prevent stack allocation.
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.h
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#12106 Add Markdown lint script and CI check, format website files.
  .github/workflows/lint.yml
  build_tools/scripts/lint.sh
  build_tools/scripts/run_markdownlint.sh
  docs/.markdownlint.yml
  docs/website/docs/blog/2021-07-19-tflite-tosa.md
  docs/website/docs/blog/2021-10-13-mmt4d.md
  docs/website/docs/blog/2021-10-15-cuda-backend.md
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/building-from-source/ios.md
  docs/website/docs/community/index.md
  docs/website/docs/deployment-configurations/bare-metal.md
  docs/website/docs/deployment-configurations/cpu.md
  docs/website/docs/deployment-configurations/gpu-cuda-rocm.md
  docs/website/docs/deployment-configurations/gpu-vulkan.md
  docs/website/docs/extensions/index.md
  docs/website/docs/getting-started/index.md
  docs/website/docs/getting-started/tflite.md
  docs/website/docs/index.md
Labels: documentation

#12081 Run 'emscripten' CI job on presubmit.
  .github/workflows/ci.yml
  tests/e2e/xla_ops/BUILD
  tests/e2e/xla_ops/CMakeLists.txt
Labels: infrastructure, platform/web 🌐

#12155 Defaulting verbose debug info in LLVM CPU IR to off.
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
Labels: codegen/llvm, cleanup 🧹

#12093 Supporting CUDA importable buffers in compatibility check.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/allocator_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  runtime/src/iree/hal/allocator.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
Labels: bug 🐞, hal/api

#12032 Add Bert-Large to x86 and CUDA benchmarks
  benchmarks/TF/CMakeLists.txt
  benchmarks/TF/linux-cuda.cmake
  benchmarks/TF/linux-x86_64.cmake
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/python/cmake_builder/rules.py
  build_tools/python/cmake_builder/rules_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#12136 Remove references to older planning systems from "Roadmap" section.
  docs/website/docs/index.md
Labels: documentation, cleanup 🧹

#12170 Add BertLargeTF to the new benchmark suite
  benchmarks/TF/CMakeLists.txt
  build_tools/benchmarks/common/benchmark_suite_test.py
  build_tools/cmake/iree_benchmark_suite.cmake
  build_tools/python/cmake_builder/rules.py
  build_tools/python/cmake_builder/rules_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/cmake_generator/model_rule_generator_test.py
  build_tools/python/e2e_test_artifacts/model_artifacts_test.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-x86_64, buildkite:benchmark-cuda

#12130 Separate series id and name in benchmark results
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/generate_benchmark_comment.py
  build_tools/benchmarks/upload_benchmarks_to_dashboard.py
Labels: buildkite:benchmark-android, buildkite:benchmark-x86_64, buildkite:benchmark-riscv, buildkite:benchmark-cuda

#12185 Replace `zve32x` with `zve32f` in CI configurations
  benchmarks/TFLite/linux-riscv.cmake
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-riscv

#11776 [EmitC] Add support for Buffer Ops in VM Dialect
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/BUILD
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/buffer_ops_f32.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/buffer_ops_f64.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/buffer_ops_i64.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/list_ops.mlir
  runtime/src/iree/vm/bytecode_dispatch.c
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/buffer_ops.mlir
Labels: compiler/emitc

#12224 Add EfficientNet and PersonDetect int8 to Mali benchmarks
  benchmarks/TFLite/android-mali.cmake
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: buildkite:benchmark-android

#12179 Fix the infinite application of TileAndDistribute on unpack ops.
  compiler/src/iree/compiler/Codegen/Common/BufferizationAnalysis.cpp
  compiler/src/iree/compiler/Codegen/Common/ConvertToDestinationPassingStylePass.cpp
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/test/convert_to_destination_passing_style.mlir
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  llvm-external-projects/iree-dialects/test/Dialect/iree_linalg_ext/tiling.mlir
Labels: buildkite:benchmark-android

#12227 [LLVMCPU] Turn x86 quantized matmul back to padding approach.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: buildkite:benchmark-x86_64

#12207 [Benchmark migration] Disable Buildkite Android compilation statistics
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/cmake/build_android_benchmark.sh
Labels: buildkite:benchmark-android

#12241 [rv32] Expand `arith.mulsi_extended` before going to LLVM
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
Labels: codegen/riscv

#12262 [spirv] Enable vectorized codegen for i8 matmul
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_matmul.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#12240 Adding `--iree-hal-substitute-executable=` flag.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/test/attributes.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/SubstituteExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/substitute_executables.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/substitute_executables_replacement.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/substitute_executables_replacement.obj
Labels: compiler/tools

#12235 [NFC] Centralizing dispatch region constant inlining.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/ClosureOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/ClosureOpUtils.h
Labels: codegen, buildkite:benchmark-android

#12271 [spirv] Add Mali i8 matmul config
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_matmul.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#12266 [rv32] Enable 32-bit mulsi_extended lowering for +zve32f
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/apply_scale_lowering.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Labels: codegen/riscv

#12295 Fixing tblgen cache break from LLVM project inclusion changes.
  CMakeLists.txt
Labels: infrastructure

#12229 Use OpenXLA theming on website.
  build_tools/github_actions/configure_ci.py
  build_tools/scripts/check_tabs.sh
  docs/website/docs/assets/images/favicon.png
  docs/website/docs/assets/images/openxla-logo-lockup-white.svg
  docs/website/docs/assets/stylesheets/extra.css
  docs/website/docs/assets/stylesheets/openxla.css
  docs/website/docs/bindings/python.md
  docs/website/docs/building-from-source/python-bindings-and-importers.md
  docs/website/docs/getting-started/tensorflow.md
  docs/website/mkdocs.yml
  docs/website/overrides/.icons/iree/ghost.svg
  docs/website/overrides/404.html
  docs/website/overrides/ghost.svg
  docs/website/overrides/partials/footer.html
  docs/website/overrides/partials/header.html
  docs/website/overrides/partials/nav.html
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  experimental/web/testing/build_tests.sh
  third_party/mkdocs-material/LICENSE
  third_party/mkdocs-material/README.md
  third_party/mkdocs-material/overrides/partials/header.html
  third_party/mkdocs-material/overrides/partials/nav.html
Labels: documentation

#12303 Scoping the tensor.empty -> flow pass to top level ops.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
Labels: bug 🐞, codegen

#12097 Adding `iree_bitcode_library` using our own clang build.
  CMakeLists.txt
  build_tools/bazel/iree_bitcode_library.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/ctest_all.sh
  build_tools/cmake/iree_bitcode_library.cmake
  build_tools/cmake/iree_llvm.cmake
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.cpp
  runtime/src/iree/builtins/device/BUILD
  runtime/src/iree/builtins/device/CMakeLists.txt
  runtime/src/iree/builtins/device/bin/BUILD
  runtime/src/iree/builtins/device/bin/CMakeLists.txt
  runtime/src/iree/builtins/device/bin/build.sh
  runtime/src/iree/builtins/device/bin/libdevice_wasm32_generic.bc
  runtime/src/iree/builtins/device/bin/libdevice_wasm64_generic.bc
  samples/custom_dispatch/cpu/embedded/CMakeLists.txt
  samples/custom_dispatch/cuda/kernels/CMakeLists.txt
Labels: infrastructure, codegen, compiler/tools

#12265 Adding support for linking bitcode files in LLVM CPU/GPU targets.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/BUILD
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/Builtins/Device.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMLinkerUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMLinkerUtils.h
Labels: codegen/llvm, codegen/nvvm

#12277 Rework the logic that avoids fusions when that lead to stack allocatiions.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_default.mlir
Labels: buildkite:benchmark-android

#12314 Enable conversion of `depthwise_conv_2d_nhwc_hwcm_q` to its fixed-point counterpart
  compiler/src/iree/compiler/InputConversion/Common/QuantizedConvToConv.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/linalg_quantized_conv_to_conv.mlir
Labels: buildkite:benchmark-android

#12328 Adding support for the `vm.import.module` attribute to force linking.
  compiler/src/iree/compiler/Dialect/VM/Transforms/Conversion.cpp
Labels: compiler/dialects, ew 🤮

#12325 Adding sym_visibility to vm.import and fixing parsing.
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/global_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/test/control_flow_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/control_flow_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/IR/test/structural_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/dependencies.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/dependencies.mlir
  compiler/src/iree/compiler/Dialect/VMVX/vmvx.imports.mlir
  compiler/src/iree/compiler/Modules/Check/check.imports.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/hal_inline.imports.mlir
  compiler/src/iree/compiler/Modules/HAL/Loader/hal_loader.imports.mlir
  runtime/src/iree/vm/bytecode_module_benchmark.cc
  runtime/src/iree/vm/bytecode_module_benchmark.mlir
  runtime/src/iree/vm/native_module_test.h
  runtime/src/iree/vm/test/control_flow_ops.mlir
  samples/emitc_modules/import_module_a.mlir
Labels: compiler/dialects

#12337 Adding HAL debug allocator (`--device_allocator=debug`).
  runtime/src/iree/hal/utils/BUILD
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/caching_allocator.h
  runtime/src/iree/hal/utils/debug_allocator.c
  runtime/src/iree/hal/utils/debug_allocator.h
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/device_util.c
Labels: hal/api

#12338 Moving caching allocator configuration util out of tooling/.
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view.h
  runtime/src/iree/base/string_view_test.cc
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/hal/utils/caching_allocator.h
  runtime/src/iree/tooling/device_util.c
Labels: hal/api

#11975 [spirv] Support multiple reductions fused in single dispatch cases
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/lowering_reduction.mlir
Labels: codegen/spirv

#12003 Enable reduction masking
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/materialize_x86_64_launch_configuration.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/split_reduction_pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_masking.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  integrations/tensorflow/test/iree_tf_tests/math/llvmcpu__dynamic_dim_lbeta.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmcpu__dynamic_dim_log_softmax.run
  integrations/tensorflow/test/iree_tf_tests/math/llvmcpu__dynamic_dim_softmax.run
Labels: buildkite:benchmark-android

#12353 Blocking stream resource subview walks at timeline ops.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/resource_folding.mlir
Labels: bug 🐞, compiler/dialects

#12356 Centralizing HAL allocator wrapper creation and exposing to python.
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/tests/system_setup_test.py
  runtime/src/iree/hal/utils/BUILD
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/allocators.c
  runtime/src/iree/hal/utils/allocators.h
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/device_util.c
Labels: bindings/python

#12371 Moving bytecode files under iree/vm/bytecode/.
  build_tools/cmake/static_linker_test.c.in
  compiler/src/iree/compiler/ConstEval/BUILD
  compiler/src/iree/compiler/ConstEval/CMakeLists.txt
  compiler/src/iree/compiler/ConstEval/Runtime.h
  docs/website/docs/bindings/c-api.md
  experimental/web/sample_dynamic/main.c
  experimental/web/sample_static/main.c
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/vm.h
  runtime/bindings/tflite/BUILD
  runtime/bindings/tflite/CMakeLists.txt
  runtime/bindings/tflite/model.c
  runtime/src/iree/hal/local/loaders/BUILD
  runtime/src/iree/hal/local/loaders/CMakeLists.txt
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/modules/check/BUILD
  runtime/src/iree/modules/check/CMakeLists.txt
  runtime/src/iree/runtime/BUILD.bazel
  runtime/src/iree/runtime/CMakeLists.txt
  runtime/src/iree/runtime/session.c
  runtime/src/iree/tooling/BUILD
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/vm/BUILD
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode/BUILD
  runtime/src/iree/vm/bytecode/CMakeLists.txt
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/disassembler.h
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_async_test.cc
  runtime/src/iree/vm/bytecode/dispatch_test.cc
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/generated/.clang-format
  runtime/src/iree/vm/bytecode/generated/op_table.h
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/bytecode/module.h
  runtime/src/iree/vm/bytecode/module_benchmark.cc
  runtime/src/iree/vm/bytecode/module_benchmark.mlir
  runtime/src/iree/vm/bytecode/module_impl.h
  runtime/src/iree/vm/bytecode/module_size_benchmark.cc
  runtime/src/iree/vm/bytecode/module_size_benchmark.mlir
  runtime/src/iree/vm/bytecode/module_test.cc
  runtime/src/iree/vm/bytecode/module_test.mlir
  runtime/src/iree/vm/test/async_ops.mlir
  samples/custom_module/basic/main.c
  samples/simple_embedding/BUILD
  samples/simple_embedding/CMakeLists.txt
  samples/simple_embedding/simple_embedding.c
  samples/static_library/create_bytecode_module.c
  tools/BUILD
  tools/CMakeLists.txt
  tools/android/run_module_app/src/main.cc
  tools/iree-check-module-main.cc
  tools/iree-dump-module-main.c
  tools/iree-run-mlir-main.cc
Labels: runtime/vm, cleanup 🧹

#12349 [flow] NFC: Move code for cloning producers into RegionOpUtils
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.h
Labels: codegen

#12381 Log out dlopen errors.
  runtime/src/iree/base/internal/dynamic_library_posix.c
Labels: hal/cpu

#12391 [metal] Populate proper capability and limits for SPIR-V CodeGen
  compiler/src/iree/compiler/Dialect/HAL/Target/MetalSPIRV/MetalSPIRVTarget.cpp
Labels: codegen/spirv, hal/metal

#12420 Revert "Support run Tracy in bleeding edge docker images"
  .github/workflows/android_tflite_oneshot_build.yml
  .github/workflows/ci.yml
  .github/workflows/samples.yml
  build_tools/bazel/iree.bazelrc
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/docker/context/install_iree_deps.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/base-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/gradle-android.Dockerfile
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/scripts/integrate/README.md
Labels: buildkite:benchmark-android

#12424 [vulkan][spirv] Plumb through support for KHR Integer Dot Product
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: codegen/spirv

#12421 Enable hoisting uniform buffer memref.load in reduction pipeline
  compiler/src/iree/compiler/Codegen/Common/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/test/warp_reduction.mlir
Labels: codegen

#12382 Adding FMA folding in the VM.
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/IR/test/arithmetic_folding.mlir
Labels: performance ⚡, runtime/vm
