Repository iree-org/iree, pull requests merged in 2023-04, with the labels that each got.

#12881 [ci] Adjust CPU benchmark flagging thresholds
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: quality of life 😊, infrastructure/benchmark, buildkite:benchmark-android, benchmarks:x86_64

#12823 Integrate `ptxas` compiler to `iree-compile`
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
Labels: benchmarks:cuda

#12891 Update ResNet50 PyTorch batch sizes
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12880 Fix Python dtype conversion for int64 on Windows.
  build_tools/cmake/ctest_all.sh
  runtime/bindings/python/hal.cc
  runtime/bindings/python/tests/vm_types_test.py
Labels: platform/windows 🚪, bindings/python

#12904 [CUDA] Remove call to nvvm-intr-range and add a pass setting ranges
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/LLVMPasses.h
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/SetBlockIdsRangePass.cpp
Labels: benchmarks:cuda

#12288 Enable vectorization of tosa.resize
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vectorize_nd_extract.mlir
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: buildkite:benchmark-android

#12895 Add T5-Large Tensorflow Model
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12914 Revert "Add T5-Large Tensorflow Model (#12895)"
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12915 [ci] Use %10 as default flagging threshold for x86_64 benchmarks
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: infrastructure/benchmark

#12837 Migrate LLVMCPU vectorization to its own pass.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorization.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats

#12872 added support for complex numbers in python bindings
  runtime/bindings/python/hal.cc
  runtime/bindings/python/tests/vm_types_test.py
Labels: bindings/python

#12726 Dispatch CUDA workgroups along single dimension
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/elementwise_pipeline.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Labels: benchmarks:cuda

#12925 [ci] Use %10 as default flagging threshold for arm64 benchmarks
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: infrastructure/benchmark, buildkite:benchmark-android

#12928 [ci] Adjust int8 EfficientNet flagging threshold for Mali GPUs
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: infrastructure/benchmark, buildkite:benchmark-android

#12924 [CUDA] Add range on thread ids in llvm ir
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/CUDATarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/LLVMPasses.h
  compiler/src/iree/compiler/Dialect/HAL/Target/CUDA/SetBlockIdsRangePass.cpp
Labels: benchmarks:cuda

#12922 [spirv] Tile reduction to avoid code bloat
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#12908 Refine benchmark model groups
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12845 Introduce LLVMCPUVectorLowering to get rid of StrategyLowerVectors pass.
  compiler/src/iree/compiler/Codegen/BUILD.bazel
  compiler/src/iree/compiler/Codegen/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/Sandbox/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Sandbox/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Sandbox/LinalgTensorCodegenDriver.cpp
  compiler/src/iree/compiler/Codegen/Sandbox/PassDetail.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.h
  compiler/src/iree/compiler/Codegen/Sandbox/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Passes/Passes.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/Transforms/CodegenStrategy.h
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/CodegenStrategy.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgExt/Transforms/Transforms.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/LinalgTransform/IR/StructuredTransformOpsExt.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats

#12940 [spirv] Fix CodeGen for no surrounding distributed workgroup loops
  compiler/src/iree/compiler/Codegen/Common/ConcretizePadResultShape.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVCreateFastSlowPath.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndDistribute.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/create_fast_slow_path.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#12757 Dump scheduling statistics for collecting dispatch numbers
  build_tools/benchmarks/benchmark_helper.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/iree_artifacts.py
  build_tools/python/e2e_test_framework/definitions/CMakeLists.txt
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions_test.py
  build_tools/python/e2e_test_framework/definitions/utils.py
  build_tools/python/e2e_test_framework/definitions/utils_test.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:comp-stats

#12961 [ci] Use 10% as flagging threshold for Mali GPU int8 mobilebert
  build_tools/benchmarks/common/benchmark_thresholds.py
Labels: infrastructure/benchmark

#12964 [ci] Drop iree-import-tf in build_android_benchmark.sh
  build_tools/cmake/build_android_benchmark.sh
Labels: infrastructure/benchmark, buildkite:benchmark-android

#12890 Create separate benchmark workflow for running large benchmarks
  .github/workflows/benchmark_compilation.yml
  .github/workflows/benchmark_long.yml
  .github/workflows/build_all.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/build_tf_integrations.yml
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/utils.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/tf_models.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64

#12874 Make subspan handling consistent across backends.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/BufferizeCopyOnlyDispatchesPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FixupSubspanWithOffsets.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/Transforms.h
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/fixup_subspan_with_offsets.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_comprehensive_bufferize.mlir
  compiler/src/iree/compiler/Codegen/Interfaces/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.cpp
  compiler/src/iree/compiler/Codegen/Interfaces/BufferizationInterfaces.h
  compiler/src/iree/compiler/Codegen/Interfaces/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/hal_interface_bindings.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12960 Summarize dispatch op names for SetEncoding/UnsetEncoding ops.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_dispatch_regions.mlir
Labels: codegen

#12889 Deprecate local handling of memref.extract_strided_metadata in favor of upstream patterns.
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/FlattenMemRefSubspanPass.cpp
  compiler/src/iree/compiler/Codegen/Common/IREEExpandStridedMetadata.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/flatten_memref_subspan.mlir
  compiler/src/iree/compiler/Codegen/Common/test/iree_expand_strided_metadata.mlir
  compiler/src/iree/compiler/Codegen/Dialect/UKernelOps.td
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Codegen/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Conversion.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/ResolveBufferDescriptors.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/test/resolve_buffer_descriptors.mlir
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#12797 Adding streamable custom calls to abi/flow/stream/hal.
  compiler/src/iree/compiler/Bindings/Native/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Bindings/Native/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Bindings/Native/Transforms/ConvertStreamableOps.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/Passes.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/Passes.h
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/convert_streamable_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/call_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/DumpStatistics.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeCopyOnWrite.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/RefineUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/dump_statistics.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.h
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/Patterns.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Conversion/StreamToHALInline/test/cmd_ops.mlir
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/Conversion.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Transforms/Conversion.cpp
Labels: compiler/dialects

#13005 [spirv] Enable converting complex numbers
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/spirv

#12943 Add matmul microbenchmarks
  build_tools/benchmarks/collect_compilation_statistics.py
  build_tools/python/benchmark_suites/iree/cuda_benchmarks.py
  build_tools/python/benchmark_suites/iree/module_execution_configs.py
  build_tools/python/e2e_test_framework/models/matmul.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#12957 Add initial StableHLO to Linalg lowering pass files
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  compiler/src/iree/compiler/InputConversion/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/LegalizeToLinalgUtils.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/LegalizeToLinalgUtils.h
  compiler/src/iree/compiler/InputConversion/StableHLO/MapStableHLOToScalarOp.h
  compiler/src/iree/compiler/InputConversion/StableHLO/PassDetail.h
  compiler/src/iree/compiler/InputConversion/StableHLO/Passes.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/Passes.h
  compiler/src/iree/compiler/InputConversion/StableHLO/Passes.td
  compiler/src/iree/compiler/InputConversion/StableHLO/Rewriters.h
  compiler/src/iree/compiler/InputConversion/StableHLO/StableHLOToLinalg.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/TypeConversion.cpp
  compiler/src/iree/compiler/InputConversion/StableHLO/TypeConversion.h
  compiler/src/iree/compiler/InputConversion/StableHLO/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg.mlir
  compiler/src/iree/compiler/Pipelines/BUILD.bazel
  compiler/src/iree/compiler/Pipelines/CMakeLists.txt
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_input_passes.cc
Labels: integrations/mhlo

#13020 [spirv] Add support for pooling op vectorization
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_pooling.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#13006 Restructure building-from-source/getting-started page.
  docs/website/docs/building-from-source/getting-started.md
Labels: documentation

#11557 [spirv] Fuse transposed+broadcasted ops in cooperative matrix
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndPromote.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_promote_cooperative_matrix.mlir
Labels: codegen/spirv

#10954 [spirv] Use 8 as the innermost tile size for fp16 convolution
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AppleConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_adreno_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_amd_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_default_linalg_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/config_mali_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
Labels: codegen/spirv, buildkite:benchmark-android

#13032 Bump TF to a recent nightly.
  .github/workflows/build_tf_integrations.yml
  .github/workflows/ci.yml
  build_tools/bazel/iree.bazelrc
  build_tools/buildkite/cmake/android/arm64-v8a/benchmark2.yml
  build_tools/buildkite/cmake/linux/pipeline.yml
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/scripts/integrate/README.md
  integrations/tensorflow/test/iree_tf_tests/layers/llvmcpu__dynamic_dims_Conv1D.run
  integrations/tensorflow/test/iree_tf_tests/layers/llvmcpu__dynamic_dims_Conv2D.run
  integrations/tensorflow/test/iree_tf_tests/layers/llvmcpu__dynamic_dims_UpSampling1D.run
  integrations/tensorflow/test/iree_tf_tests/layers/llvmcpu__dynamic_dims_UpSampling3D.run
  integrations/tensorflow/test/iree_tf_tests/layers/vulkan__dynamic_dims_Conv1D.run
  integrations/tensorflow/test/iree_tf_tests/layers/vulkan__dynamic_dims_Conv2D.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__dynamic_dim_softmax.run
  integrations/tensorflow/test/iree_tf_tests/math/vulkan__softmax.run
  integrations/tensorflow/test/requirements.txt
Labels: benchmarks:cuda, benchmarks:x86_64

#13047 [spirv] NFC: Drop unnecessary increment
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTile.cpp
Labels: codegen/spirv, cleanup 🧹

#13049 [spirv] Use convolution output type bitwidth for tiling
  compiler/src/iree/compiler/Codegen/SPIRV/AMDConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AdrenoConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/AppleConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/MaliConfig.cpp
Labels: codegen/spirv, buildkite:benchmark-android

#13059 [StableHLO][NFC] Split linalg lowering tests
  compiler/src/iree/compiler/InputConversion/StableHLO/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/StableHLO/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg_dot_prod.mlir
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg_pointwise.mlir
Labels: integrations/mhlo

#13062 [spirv] Stop requiring identity memref layout for MMA load/store
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVVectorizeLoadStore.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_load_store.mlir
Labels: codegen/spirv

#13057 Use pinned iree-tools-tflite in benchmarks
  .github/workflows/benchmark_long.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
  build_tools/cmake/build_benchmarks.sh
  build_tools/cmake/build_e2e_test_artifacts.sh
  build_tools/cmake/run_tf_tests.sh
  build_tools/cmake/setup_tf_python.sh
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13066 [StableHLO] Add missing pointwise op tests
  compiler/src/iree/compiler/InputConversion/StableHLO/test/stablehlo_to_linalg_pointwise.mlir
Labels: integrations/mhlo

#13081 Adding flow.tensor.alloc op for unique allocations.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/device_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/fence_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/IR/test/timepoint_folding.mlir
Labels: compiler/dialects

#13079 Make boot disks bigger instead of futzing with ramdisk and local ssd
  build_tools/github_actions/runner/config/setup.sh
  build_tools/github_actions/runner/gcp/create_templates.sh
Labels: infrastructure, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#13102 Fix MSVC warning: wrong pointer type in `_mm_prefetch`
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_base.c
Labels: platform/windows 🚪

#13099 [ci] Make vendor/architecture definitions in benchmarks better
  build_tools/benchmarks/export_benchmark_config_test.py
  build_tools/python/benchmark_suites/iree/adreno_benchmarks.py
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/device_specs/moto_edge_x30_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_4_specs.py
  build_tools/python/e2e_test_framework/device_specs/pixel_6_pro_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: codegen/spirv

#13106 Expand the CUDA header file pattern for building with CUDA 12.x.
  build_tools/third_party/cuda/BUILD.template
Labels: hal/cuda

#13109 Adding support for passing processor_id/data to dynamic imports.
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/DispatchABI.h
  samples/custom_dispatch/cpu/plugin/standalone_example.mlir
  samples/custom_dispatch/cpu/plugin/standalone_plugin.c
  samples/custom_dispatch/cpu/plugin/system_example.mlir
  samples/custom_dispatch/cpu/plugin/system_plugin.c
Labels: codegen/llvm, hal/cpu

#13141 Update benchmark documentation to store artifacts in build directory
  docs/developers/developing_iree/benchmark_suites.md
Labels: documentation

#13158 Opt in to `-Wc++20-extensions` warning in clang.
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure

#13149 Simplifying iree-run-mlir by making it run only a single function.
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  tests/e2e/regression/fill_i64.mlir
  tests/e2e/regression/globals.mlir
  tools/iree-run-mlir-main.cc
  tools/iree-run-module-main.cc
Labels: cleanup 🧹

#13024 Add CI workflow to run android tests on mobile phones
  .github/workflows/build_and_test_android.yml
  .github/workflows/ci.yml
  build_tools/cmake/build_android.sh
Labels: infrastructure, platform/android 🤖

#13171 Update TensorFlow package in `samples` Dockerfile to 2.12.0.
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/prod_digests.txt
Labels: integrations/tensorflow

#13174 Update `experimental/web/sample_dynamic/` after runtime changes.
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/device_sync.c
  experimental/web/sample_dynamic/main.c
Labels: platform/web 🌐

#12615 Updating architecture diagram with "plugins" in a few places.
  docs/website/docs/assets/images/iree_architecture.excalidraw.gz
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/assets/images/iree_architecture_dark.svg
Labels: documentation

#13178 Fixing vm::ref operator& after type consistency changes.
  runtime/src/iree/vm/native_module_packing.h
  runtime/src/iree/vm/ref_cc.h
  runtime/src/iree/vm/ref_test.cc
Labels: runtime/vm

#13144 Fix exportTargetAttr construction in InlineExecutablesPass.
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/test/inline_executables.mlir
  tests/compiler_driver/inline_dynamic_hal_executable.mlir
  tests/compiler_driver/inline_static_hal_executable.mlir
Labels: compiler/dialects

#12921 [Dev Container] - Adding VSCode Dev Container Capability
  .devcontainer/README.md
  .devcontainer/configure.py
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.base.yml
  .devcontainer/docs_data/command_palette.png
  .devcontainer/docs_data/dev_container_setup.png
  .devcontainer/docs_data/dev_container_start.png
  .devcontainer/docs_data/dev_container_terminal.png
  .gitignore
  build_tools/docker/get_image_name.py
Labels: collab/nvidia

#13060 Enable Shared Memory Swizzle Optimization for Batched Matmul
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorToGPU.cpp
Labels: collab/nvidia

#13186 Use git directly instead of `actions/checkout` on Windows
  .github/workflows/ci.yml
Labels: infrastructure, platform/windows 🚪

#13169 Add missing canonicalization to LLVMCPUVectorLowering
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
Labels: buildkite:benchmark-android, benchmarks:x86_64, benchmarks:comp-stats

#13212 Disable TF Bert-Large due to #13211
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda

#13118 Using FindThreads instead of hardcode `-lpthread`.
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_copts.cmake
Labels: infrastructure, platform/linux 🐧

#13284 Update pjrt-plugin link in jax.md.
  docs/website/docs/getting-started/jax.md
Labels: documentation, integrations/pjrt

#13287 Handle supported ImportOptions in tf.py and fix Windows compatibility.
  compiler/bindings/python/iree/compiler/tools/tf.py
  integrations/tensorflow/python_projects/iree_tf/iree/tf/support/module_utils.py
Labels: integrations/tensorflow, platform/windows 🚪, bindings/python

#13087 [NFC] Organize `compiler/Utils/TracingUtils.cpp`.
  compiler/src/iree/compiler/Utils/TracingUtils.cpp
Labels: cleanup 🧹

#13302 Remove --split-input-file from iree-run-mlir.
  tools/iree-run-mlir-main.cc
Labels: compiler/tools, cleanup 🧹

#13267 [SPIRV] Add ability to specify transform dialect codegen spec file
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLowerExecutableTargetPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/set_transform_strategy.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/transform_dialect_dummy_spec.mlir
Labels: codegen/spirv

#13291 Move benchmark config generation to build_e2e_test_artifacts
  .github/workflows/benchmark_compilation.yml
  .github/workflows/benchmark_execution.yml
  .github/workflows/benchmark_long.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
  docs/developers/developing_iree/benchmark_suites.md
Labels: infrastructure, infrastructure/benchmark, benchmarks:x86_64

#13311 Update sample Colab notebooks following TF importer changes.
  samples/colab/edge_detection.ipynb
  samples/colab/mnist_training.ipynb
  samples/colab/resnet.ipynb
  samples/colab/tensorflow_hub_import.ipynb
  samples/dynamic_shapes/dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: documentation, integrations/tensorflow

#13298 Always run benchmarks on LLVM integration PR
  .github/workflows/setup.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#13273 Post GCS links in CI summary
  .github/workflows/ci.yml
  docs/developers/developing_iree/benchmark_suites.md
Labels: infrastructure, quality of life 😊, benchmarks:x86_64

#13319 [spirv][vulkan] Do not run nvidia gpu tests on buildkite
  build_tools/buildkite/cmake/android/arm64-v8a/pipeline.yml
Labels: buildkite:benchmark-android

#13206 Refactor OOBI to save framework agnostic results
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/benchmark_presentation.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
Labels: buildkite:benchmark-android, benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats

#11499 [WebGPU] Patches for a few WebGPU runtime errors.
  CMakeLists.txt
  build_tools/cmake/iree_copts.cmake
  compiler/src/iree/compiler/Dialect/HAL/Target/WebGPU/WebGPUTarget.cpp
  experimental/web/sample_webgpu/CMakeLists.txt
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/index.html
  experimental/web/sample_webgpu/main.c
  experimental/web/sample_webgpu/serve_sample.sh
  experimental/web/testing/build_tests.sh
  experimental/web/testing/serve_tests.sh
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_heap.c
  runtime/src/iree/hal/drivers/webgpu/command_buffer.c
  runtime/src/iree/hal/drivers/webgpu/simple_allocator.c
  runtime/src/iree/hal/drivers/webgpu/staging_buffer.c
  runtime/src/iree/hal/drivers/webgpu/staging_buffer.h
Labels: hal/webgpu, platform/web 🌐
