Repository iree-org/iree, pull requests merged in 2024-07, with the labels that each got.

#17772 Run sharktank llama tests on CI, qualify test names.
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/models_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx90a_additional_flags.json
  build_tools/pkgci/external_test_suite/models_gpu_vulkan.json
  build_tools/pkgci/external_test_suite/onnx_cpu_llvm_sync.json
  build_tools/pkgci/external_test_suite/onnx_gpu_cuda.json
  build_tools/pkgci/external_test_suite/onnx_gpu_rocm_rdna3.json
  build_tools/pkgci/external_test_suite/onnx_gpu_vulkan.json
  build_tools/pkgci/external_test_suite/pytorch_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_vulkan.json
  build_tools/pkgci/external_test_suite/sdxl_prompt_encoder_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_gpu_rocm_gfx90a.json
Labels: infrastructure

#17784 Disable Android tests and benchmarks while devices are offline.
  .github/workflows/build_and_test_android.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure, infrastructure/benchmark

#17794 Disable TFL tests broken by tfhub/kaggle.
  integrations/tensorflow/test/iree_tfl_tests/cartoon_gan.run
  integrations/tensorflow/test/iree_tfl_tests/mnasnet.run
  integrations/tensorflow/test/iree_tfl_tests/mobilenet_v3.run
Labels: infrastructure, integrations/tensorflow

#17796 Disable build_test_all_macos_arm64 while runner is offline.
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure, platform/macos 🍎

#17797 Switch macOS package builds to use github-hosted runners.
  .github/workflows/build_package.yml
Labels: infrastructure, platform/macos 🍎

#17805 Revert "Disable Android tests and benchmarks while devices are offline."
  .github/workflows/build_and_test_android.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure, infrastructure/benchmark, benchmarks:android-cpu, benchmarks:android-gpu

#17781 [Flow][Global Opt] Fold global unit dims
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fold_unit_dims.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17724 Removing nested command buffers and adding indirect execution.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertDeviceOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/rocm_device.c
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/command_buffer.c
  experimental/webgpu/webgpu_device.c
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/iree_helpers.h
  runtime/bindings/python/hal.cc
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/utils/debug_allocator.c
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/function_util.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
  tools/iree-benchmark-executable-main.c
Labels: hal/api

#17762 Expose llvm dialect in python bindings
  compiler/bindings/python/CMakeLists.txt
  compiler/src/iree/compiler/API/BUILD.bazel
  compiler/src/iree/compiler/API/CMakeLists.txt
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/API/generate_exports.py
Labels: bindings/python

#17821 Fixing task system worker tracy utilization plot on exit.
  runtime/src/iree/task/worker.c
Labels: hal/cpu

#17814 [GlobalOpt] Add pattern to raise insert_slice(%x, constant) to tensor.pad
  compiler/src/iree/compiler/GlobalOptimization/RaiseSpecialOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/raise_special_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17820 Generalizing task system queuing and supporting callbacks.
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
Labels: hal/cpu

#17823 Optimizing queries for optional VM functions.
  runtime/bindings/python/py_module.cc
  runtime/bindings/python/vm.cc
  runtime/src/iree/tooling/instrument_util.c
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
Labels: performance ⚡, runtime/vm

#17822 Switch Linux x86 package builds to use standard runners.
  .github/workflows/build_package.yml
Labels: infrastructure

#17730 Making HAL command buffers take buffers as indirect args.
  experimental/rocm/direct_command_buffer.c
  experimental/webgpu/command_buffer.c
  runtime/bindings/python/hal.cc
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.h
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer.h
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/function_util.c
  tools/iree-benchmark-executable-main.c
Labels: hal/api

#17824 [Flow][Global Opt] Fold unit dims of `stream.parameter.named`
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fold_unit_dims.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17828 [NFC] Rename `FusionOfTensorOps` to `FuseMultiUseElementwiseProducer`.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FuseMultiUseElementwiseProducer.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_region_formation_preprocessing.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fuse_multiuse_elementwise_producer.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17833 [NFC] Modify method for characterizing bit-extension operations to handle charecterization of bit-truncation as well.
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FuseMultiUseElementwiseProducer.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/SinkReshapes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17838 Retaining binding tables and plumbing indirect cmds in local-task.
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/rocm_device.c
  experimental/webgpu/command_buffer.c
  experimental/webgpu/command_buffer.h
  experimental/webgpu/webgpu_device.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.h
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.h
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/vulkan/command_queue.h
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.h
  runtime/src/iree/hal/drivers/vulkan/direct_command_queue.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_queue.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/local/inline_command_buffer.h
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.h
  runtime/src/iree/hal/utils/resource_set.c
  runtime/src/iree/hal/utils/resource_set.h
  runtime/src/iree/hal/utils/resource_set_test.cc
Labels: hal/cpu, hal/api

#17835 Add macOS runtime build using GitHub-hosted macos-14 runner.
  .github/workflows/ci.yml
  build_tools/cmake/setup_build.sh
Labels: infrastructure, platform/macos 🍎, hal/metal

#17839 Retaining binding tables in HIP/CUDA action queues.
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
Labels: hal/cuda, hal/hip

#17841 Delete some unused files under `build_tools/`.
  build_tools/cmake/bazel.bat.in
  build_tools/cmake/bazel.sh.in
  build_tools/cmake/clean_build.sh
  build_tools/cmake/rebuild.sh
  build_tools/github_actions/configure_dev_environment.ps1
  build_tools/gradle/build_tflite_android_library.sh
Labels: infrastructure, cleanup 🧹

#17840 Resolving binding references when applying deferred command buffers.
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/utils/deferred_command_buffer.c
Labels: hal/api

#17844 Switching HAL CTS to use TEST_F.
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  runtime/src/iree/hal/cts/allocator_test.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/cts_test_template.cc.in
  runtime/src/iree/hal/cts/descriptor_set_layout_test.h
  runtime/src/iree/hal/cts/driver_test.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/executable_cache_test.h
  runtime/src/iree/hal/cts/file_test.h
  runtime/src/iree/hal/cts/pipeline_layout_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
Labels: infrastructure, hal/api, cleanup 🧹

#17842 Enable MI300 CI testing.
  .github/workflows/ci.yml
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx942_additional_flags.json
  build_tools/pkgci/external_test_suite/sdxl_prompt_encoder_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_gpu_rocm_gfx942.json
Labels: infrastructure, hal/hip

#17849 Adding indirect command buffer emulation for Metal.
  runtime/src/iree/hal/drivers/metal/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/metal_device.m
Labels: hal/metal

#17843 Simplify tests/e2e/stablehlo_ops.
  build_tools/bazel/iree_check_test.bzl
  build_tools/cmake/iree_check_test.cmake
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
Labels: infrastructure

#17851 Disable failing Pixel6/Vulkan stablehlo_ops tests again.
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
Labels: infrastructure, hal/vulkan, codegen/spirv

#17861 Disable failing Pixel6/Vulkan linalg_ext reverse test again.
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Labels: platform/android 🤖, hal/vulkan, codegen/spirv

#17858 Drop unmaintained transform dialect tests
  tests/transform_dialect/cpu/BUILD.bazel
  tests/transform_dialect/cpu/CMakeLists.txt
  tests/transform_dialect/cpu/contraction-packing-and-dispatch.mlir
  tests/transform_dialect/cpu/contraction-packing.mlir
  tests/transform_dialect/cpu/eltwise_reduction_eltwise.mlir
  tests/transform_dialect/cpu/fold_tensor_slice_into_transfer.mlir
  tests/transform_dialect/cpu/matmul.mlir
  tests/transform_dialect/cpu/matmul_codegen_default_spec.mlir
  tests/transform_dialect/cuda/BUILD.bazel
  tests/transform_dialect/cuda/CMakeLists.txt
  tests/transform_dialect/cuda/double_mma_layout_analysis.mlir
  tests/transform_dialect/cuda/double_mma_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/double_mma_layout_analysis_dispatch_spec.mlir
  tests/transform_dialect/cuda/eltwise_reduction.mlir
  tests/transform_dialect/cuda/eltwise_reduction_eltwise.mlir
  tests/transform_dialect/cuda/mma_elemwise_layout_analysis.mlir
  tests/transform_dialect/cuda/mma_elemwise_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/mma_reduction_layout_analysis.mlir
  tests/transform_dialect/cuda/mma_reduction_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/mma_reduction_layout_analysis_dispatch_spec.mlir
  tests/transform_dialect/cuda/mma_using_layout_analysis.mlir
  tests/transform_dialect/cuda/mma_using_layout_analysis_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction.mlir
  tests/transform_dialect/cuda/reduction_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_eltwise.mlir
  tests/transform_dialect/cuda/reduction_eltwise_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_v2.mlir
  tests/transform_dialect/cuda/reduction_v2_codegen_spec.mlir
  tests/transform_dialect/cuda/reduction_v2_uneven.mlir
  tests/transform_dialect/cuda/softmax.mlir
  tests/transform_dialect/cuda/softmax_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_dispatch_spec.mlir
  tests/transform_dialect/cuda/softmax_partial.mlir
  tests/transform_dialect/cuda/softmax_partial_codegen_spec.mlir
  tests/transform_dialect/cuda/softmax_v2.mlir
  tests/transform_dialect/cuda/softmax_v2_codegen_spec.mlir
Labels: cleanup 🧹

#17859 Deflake ScopeTest.WaitIdleFailure by increasing sleep time.
  runtime/src/iree/task/scope_test.cc
Labels: runtime

#17857 Deflake LoopTest.WaitOneBlocking by increasing timeout.
  runtime/src/iree/base/loop_test.h
Labels: runtime

#17863 Deflake LoopTest.WaitAnyBlocking and WaitAllBlocking.
  runtime/src/iree/base/loop_test.h
Labels: runtime

#17846 Adding some CTS variants for indirect command buffers.
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/allocator_test.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/cts/command_buffer_copy_buffer_test.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_fill_buffer_test.h
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/cts/command_buffer_test.h
  runtime/src/iree/hal/cts/command_buffer_update_buffer_test.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/descriptor_set_layout_test.h
  runtime/src/iree/hal/cts/driver_test.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/executable_cache_test.h
  runtime/src/iree/hal/cts/file_test.h
  runtime/src/iree/hal/cts/pipeline_layout_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
  runtime/src/iree/hal/drivers/hip/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/api

#17836 Add a Flow specific canonicalizer pass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Canonicalizer.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/convert_region_to_workgroups.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/interchange_transpose_generic_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/tensor_pad_to_tensor_insert_slice.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/fuse_dequantization_matmul.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/fuse_silu_horizontal_matmul.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/raise_special_ops.mlir
Labels: benchmarks:comp-stats

#17890 [Flow] Improve dispatch name categorization around broadcast/transpose
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Labels: compiler/dialects, codegen, quality of life 😊

#17883 Add in-tree special_models test suite using reworked iree-tooling.
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx90a_additional_flags.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx942_additional_flags.json
  build_tools/pkgci/external_test_suite/sdxl_prompt_encoder_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_prompt_encoder_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/sdxl_prompt_encoder_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/sdxl_vae_decode_gpu_rocm_gfx942.json
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/benchmarks/sdxl/conftest.py
  experimental/benchmarks/sdxl/sdxl_pipeline_bench_f16.mlir
  experimental/regression_suite/ireers/artifacts.py
  experimental/regression_suite/ireers_tools/__init__.py
  experimental/regression_suite/ireers_tools/artifacts.py
  experimental/regression_suite/ireers_tools/fixtures.py
  experimental/regression_suite/setup.py
  experimental/regression_suite/shark-test-suite-models/conftest.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_mmdit.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_vae.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_vae.py
  experimental/regression_suite/tests/pregenerated/test_llama2.py
  experimental/regression_suite/tests/pregenerated/test_ukernel.py
Labels: infrastructure, infrastructure/benchmark

#17817 Turn on `MaterializeEncodingIntoNop` pass to a later stage and for all backends
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoNop.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17897 Bump test suite to include punet tests and fix xfail script.
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/models_gpu_vulkan.json
Labels: infrastructure

#17886 [LLVMCPU] Populate index to LLVM conversion patterns
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/ConvertToLLVM.cpp
Labels: codegen/llvm

#17907 Log more context when sdxl benchmark commands fail.
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
Labels: infrastructure, infrastructure/benchmark

#17899 [NFC][Flow] Remove use of fusion preprocessing when it isnt a preprocessing
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/TransposeGenericOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/convert_region_to_workgroups.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_preprocessing.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/transpose_generic_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17910 Disable Android benchmarks while device is offline.
  build_tools/github_actions/configure_ci.py
Labels: infrastructure/benchmark

#17912 Fixing global symbol replacement when referenced by non-load ops.
  compiler/src/iree/compiler/Dialect/Util/Analysis/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Analysis/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Analysis/GlobalTable.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/GlobalTable.h
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/fold_globals.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/fuse_globals.mlir
Labels: bug 🐞, compiler/dialects, cleanup 🧹

#17908 Add torch-fuse-quantized-ops pass to the torch-to-iree pipeline
  compiler/plugins/input/Torch/InputConversion/Passes.cpp
Labels: integrations/pytorch

#17923 Switch more ci.yml jobs to optional based on paths changed.
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#17913 Adding `util.cmp.ne` and `#util.null`.
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/fence_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamDialect.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilDialect.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/IR/test/attributes.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/test/comparison_folding.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/test/comparison_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/test/hint_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/test/comparison_ops.mlir
Labels: compiler/dialects

#17914 Pulling misc iree_io_* fixes/cleanups from #15983.
  runtime/src/iree/base/internal/file_io.c
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/memory_stream.c
  runtime/src/iree/io/memory_stream.h
  runtime/src/iree/io/memory_stream_test.cc
  runtime/src/iree/io/stream.c
  runtime/src/iree/io/stream.h
  runtime/src/iree/modules/vmvx/CMakeLists.txt
  runtime/src/iree/tooling/numpy_io_test.cc
Labels: runtime, cleanup 🧹

#17928 [CPU] Enable mmt4d ukernels when iree-llvmcpu-enable-ukernels is not set
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats

#17932 Disable a100 tests and benchmarks.
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure, hal/cuda, infrastructure/benchmark

#17934 Skip samples/custom_dispatch/cuda/kernels/ on MSVC.
  samples/custom_dispatch/cuda/kernels/CMakeLists.txt
Labels: platform/windows 🚪, codegen/nvvm

#17927 Disable arm64 runtime build while runner availability is low.
  .github/workflows/ci.yml
Labels: infrastructure, platform/linux 🐧

#15878 Enable Python bindings builds/tests in 'runtime' CI builds.
  .github/workflows/ci.yml
  build_tools/cmake/build_runtime.sh
  compiler/bindings/python/test/tools/CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
  samples/py_custom_module/CMakeLists.txt
  tests/e2e/collectives/CMakeLists.txt
  tests/e2e/stablehlo_models/mnist_train_test/CMakeLists.txt
Labels: infrastructure, bindings/python

#17961 Disable cross compilation tests for now
  .github/workflows/ci.yml
Labels: infrastructure

#17952 Delete some no longer used files under `build_tools/benchmarks/`.
  build_tools/benchmarks/comparisons/README.md
  build_tools/benchmarks/comparisons/common/__init__.py
  build_tools/benchmarks/comparisons/common/benchmark_command.py
  build_tools/benchmarks/comparisons/common/benchmark_command_factory.py
  build_tools/benchmarks/comparisons/common/benchmark_runner.py
  build_tools/benchmarks/comparisons/common/utils.py
  build_tools/benchmarks/comparisons/mobilebert_fp32_commands.py
  build_tools/benchmarks/comparisons/mobilebert_int8_commands.py
  build_tools/benchmarks/comparisons/run_benchmarks.py
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/benchmarks/comparisons/simple_commands.py
  build_tools/benchmarks/reporting/parse_shark_benchmarks.py
  build_tools/benchmarks/reporting/parse_tflite_benchmarks.py
  build_tools/benchmarks/reporting/requirements.txt
Labels: cleanup 🧹, infrastructure/benchmark, benchmarks:comp-stats

#17758 [Codegen] Add interface tensor reshape foldings to TileAndDistribute
  compiler/src/iree/compiler/Codegen/Common/TileAndDistributeToWorkgroupsPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/VMVX/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17613 [Codegen] Add vector transfer + slice foldings in GenericVectorization
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pad_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vectorize_with_masking_and_hoist.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_tile_and_fuse.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/conv_pipeline_test_rocm.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17757 [Codegen] Do not consider parallel regions in bufferization analysis
  compiler/src/iree/compiler/Codegen/Common/IREEComprehensiveBufferizePass.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17967 Disable `tsan`, `gcc`, `debug`, and `byo_llvm` jobs.
  .github/workflows/ci.yml
Labels: infrastructure

#17919 [multi-device] Adding affinity analysis.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Affinity.cpp
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Affinity.h
  compiler/src/iree/compiler/Dialect/Stream/Analysis/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Analysis/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamBase.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamInterfaces.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/AnnotateAffinities.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyAffinities.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/annotate_affinities.mlir
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.h
  compiler/src/iree/compiler/ExternalInterfaces/StreamExternalModels.cpp
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/PadToIntrinsics.cpp
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_wmma.mlir
Labels: compiler/dialects

#17725 Collapse dims when producer is unpack op
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_dimensions.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:vulkan-nvidia

#17979 Move "platforms" CI jobs into their own workflow files.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/ci_macos_x86_clang.yml
  .github/workflows/ci_windows_x86_msvc.yml
  build_tools/cmake/ctest_all.sh
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure

#17990 Fork `build_all.yml` to `ci_linux_x64_clang.yml`.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_macos_x64_clang.yml
  .github/workflows/ci_windows_x64_msvc.yml
Labels: infrastructure

#17958 Drop `python_release_packages` CI job in favor of pkgci.
  .github/workflows/ci.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_unit_test.yml
Labels: infrastructure, bindings/python, cleanup 🧹

#18001 Add `iree-c-embed-data` and `iree-flatcc-cli` to release packages.
  build_tools/bazel/iree_bytecode_module.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_c_embed_data.cmake
  build_tools/embed_data/BUILD.bazel
  build_tools/embed_data/CMakeLists.txt
  build_tools/embed_data/build_defs.bzl
  build_tools/embed_data/iree-c-embed-data-main.cc
  build_tools/embed_data/iree_c_embed_data_test.cc
  build_tools/third_party/cuda/BUILD.template
  compiler/src/iree/compiler/Dialect/HAL/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Builtins/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VMVX/BUILD.bazel
  compiler/src/iree/compiler/Modules/Check/BUILD.bazel
  compiler/src/iree/compiler/Modules/HAL/Inline/BUILD.bazel
  compiler/src/iree/compiler/Modules/HAL/Loader/BUILD.bazel
  compiler/src/iree/compiler/Modules/IO/Parameters/BUILD.bazel
  experimental/web/sample_static/build_sample.sh
  experimental/webgpu/shaders/BUILD.bazel
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/iree/_runtime/scripts/iree_c_embed_data/__main__.py
  runtime/bindings/python/iree/_runtime/scripts/iree_flatcc_cli/__main__.py
  runtime/setup.py
  runtime/src/iree/base/testing/BUILD.bazel
  runtime/src/iree/builtins/device/BUILD.bazel
  runtime/src/iree/builtins/musl/bin/BUILD.bazel
  runtime/src/iree/builtins/ukernel/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/builtin/BUILD.bazel
  runtime/src/iree/hal/local/elf/testdata/BUILD.bazel
  runtime/src/iree/io/formats/gguf/testdata/BUILD.bazel
  runtime/src/iree/io/formats/irpa/testdata/BUILD.bazel
  runtime/src/iree/io/formats/safetensors/testdata/BUILD.bazel
  runtime/src/iree/tooling/testdata/npy/BUILD.bazel
  runtime/src/iree/vm/test/BUILD.bazel
Labels: infrastructure, bindings/python, runtime/tools

#17981 Move 'gcc', 'byo_llvm', and 'debug' jobs to their own workflows.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_gcc.yml
Labels: infrastructure

#18008 Dropping `stream.async.alloca` ops that are unused.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
Labels: compiler/dialects

#18013 Adding an IntegerSet utility and making PackConstants use it.
  compiler/plugins/input/StableHLO/Conversion/ConvertCollectives.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/LayoutSlices.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PackConstants.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SpecializeDispatches.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/PropagateSubranges.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Conversion/HALToVMVX/ConvertHALToVMVX.cpp
  compiler/src/iree/compiler/Dialect/VMVX/Transforms/ResolveBufferDescriptors.cpp
  compiler/src/iree/compiler/GlobalOptimization/ExpandTensorShapes.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/InlineExecutables.cpp
  compiler/src/iree/compiler/Utils/BUILD.bazel
  compiler/src/iree/compiler/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Utils/IndexSet.h
  compiler/src/iree/compiler/Utils/IntegerSet.h
Labels: compiler/dialects, performance ⚡

#17998 [Codegen] Support inferring scalable vectors for remainder loops
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
  compiler/src/iree/compiler/Codegen/Utils/Utils.h
Labels: benchmarks:x86_64

#18020 [gpu] Drop subgroup size query callback
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/VectorReductionToGPU.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/vector_reduction_to_gpu.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
Labels: codegen/llvm, codegen/spirv

#18036 [GlobalOpt] Re-enable (unpack, expand_shape) propagation.
  compiler/src/iree/compiler/GlobalOptimization/DataLayoutPropagation.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/data_layout_propagation.mlir
Labels: benchmarks:x86_64

#17951 Updating HAL/VM ABI to support indirect bindings (COMPATIBILITY BREAKING).
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/link_executables.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/fixup_legacy_sync.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/repeat_dispatches.mlir
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.h
  experimental/rocm/direct_command_buffer.c
  experimental/webgpu/command_buffer.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/vm/shims.c
  runtime/src/iree/vm/shims.h
  tools/iree-benchmark-executable-main.c
Labels: compiler/dialects, runtime/vm

#18007 Migrate GPU test jobs to pkgci.
  .github/workflows/ci.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  build_tools/cmake/ctest_all.sh
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_run_module_test.cmake
  build_tools/github_actions/configure_ci.py
  build_tools/pkgci/build_tests_using_package.sh
Labels: infrastructure

#17854 Simplify tests/e2e/tensor_ops.
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tensor_ops/pack_i8.mlir
Labels: infrastructure

#17931 [GlobalOpt] Transition SetEncoding to use round_dims_to and stop creating tensor.pad
  compiler/plugins/target/LLVMCPU/test/materialize_homogeneous_encodings.mlir
  compiler/plugins/target/VulkanSPIRV/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/CPU/test/vmvx_materialize_encoding.mlir
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/set_encoding.mlir
Labels: benchmarks:x86_64

#17938 Adding `hal.device.memoize` op.
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/device_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/InlineMemoizeRegions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/OutlineMemoizeRegions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/inline_memoize_regions.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/outline_memoize_regions.mlir
Labels: compiler/dialects

#18043 Adding `once` attribute to `stream.cmd.execute`.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
Labels: compiler/dialects

#18045 [DT] Retire UpperBoundTileSizeOp op and relevant passes.
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodings.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/CPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoNop.cpp
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  compiler/src/iree/compiler/GlobalOptimization/MaterializeHomogeneousEncodings.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats

#18050 Removing extraneous iree/hal/drivers/utils.
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/utils/BUILD.bazel
  runtime/src/iree/hal/drivers/utils/CMakeLists.txt
  runtime/src/iree/hal/drivers/utils/semaphore.h
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/hal/semaphore.h
Labels: hal/api, cleanup 🧹

#17850 Simplify tests/e2e/tosa_ops.
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/BUILD.bazel
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: infrastructure

#18051 Delete obsolete tests/microbenchmarks/ folder.
  CMakeLists.txt
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/iree_microbenchmark_suite.cmake
  tests/microbenchmarks/CMakeLists.txt
  tests/microbenchmarks/dynamic_shape_vectorization.mlir
  tests/microbenchmarks/linalg_mmt4d.mlir
  tests/microbenchmarks/linalg_transpose.mlir
  tests/microbenchmarks/shared_mem_transpose.mlir
  tests/microbenchmarks/stablehlo_conv.mlir
  tests/microbenchmarks/stablehlo_dot.mlir
  tests/microbenchmarks/stablehlo_dot_general.mlir
  tests/microbenchmarks/stablehlo_fft_abs.mlir
Labels: cleanup 🧹, infrastructure/benchmark

#17029 [runtime][HIP] Retire ROCm HAL backend
  CMakeLists.txt
  build_tools/cmake/test_riscv.sh
  build_tools/pkgci/build_linux_packages.sh
  compiler/plugins/target/ROCM/builtins/ukernel/test/CMakeLists.txt
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  experimental/regression_suite/tests/pregenerated/test_llama2.py
  experimental/regression_suite/tests/pregenerated/test_ukernel.py
  experimental/rocm/CMakeLists.txt
  experimental/rocm/api.h
  experimental/rocm/context_wrapper.h
  experimental/rocm/cts/CMakeLists.txt
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/direct_command_buffer.h
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/dynamic_symbols.c
  experimental/rocm/dynamic_symbols.h
  experimental/rocm/dynamic_symbols_test.cc
  experimental/rocm/event_semaphore.c
  experimental/rocm/event_semaphore.h
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
  experimental/rocm/nop_executable_cache.c
  experimental/rocm/nop_executable_cache.h
  experimental/rocm/pipeline_layout.c
  experimental/rocm/pipeline_layout.h
  experimental/rocm/registration/CMakeLists.txt
  experimental/rocm/registration/driver_module.c
  experimental/rocm/registration/driver_module.h
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_allocator.h
  experimental/rocm/rocm_buffer.c
  experimental/rocm/rocm_buffer.h
  experimental/rocm/rocm_device.c
  experimental/rocm/rocm_device.h
  experimental/rocm/rocm_driver.c
  experimental/rocm/rocm_event.c
  experimental/rocm/rocm_event.h
  experimental/rocm/rocm_headers.h
  experimental/rocm/status_util.c
  experimental/rocm/status_util.h
  experimental/rocm/tracing.c
  experimental/rocm/tracing.h
  samples/custom_dispatch/hip/kernels/CMakeLists.txt
  samples/custom_dispatch/hip/kernels/example.mlir
Labels: cleanup 🧹, hal/hip

#18066 Improving global folding and IPO for immutable globals.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  compiler/src/iree/compiler/Dialect/Util/Analysis/GlobalTable.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/GlobalTable.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/FoldGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/FuseGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/IPO.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/fold_globals.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/ipo.mlir
Labels: compiler/dialects
