Repository iree-org/iree, pull requests merged in 2024-12, with the labels that each got.

#19289 Add new package bisect tool using `git bisect`.
  build_tools/pkgci/README.md
  build_tools/pkgci/bisect/README.md
  build_tools/pkgci/bisect/bisect_example_timestamp.sh
  build_tools/pkgci/bisect/bisect_packages.py
  build_tools/pkgci/setup_venv.py
  docs/website/docs/developers/debugging/compile-time-regressions.md
Labels: infrastructure, compiler/tools

#19341 Swap huggingface URLs for GitHub URLs in net_test.py.
  compiler/bindings/python/test/build_api/net_test.py
Labels: infrastructure, platform/windows 🚪, compiler/tools

#19346 Avoid compound literal struct init for better C/C++ compat.
  runtime/src/iree/base/alignment.h
  runtime/src/iree/hal/command_buffer.h
Labels: runtime, platform/windows 🚪

#19373 Split bazel_to_cmake pre-commit hook into two.
  .pre-commit-config.yaml
Labels: infrastructure

#19362 Add --test-command to bisect_packages.py, --fetch-latest-main to setup_venv.py.
  build_tools/pkgci/bisect/README.md
  build_tools/pkgci/bisect/bisect_packages.py
  build_tools/pkgci/setup_venv.py
Labels: infrastructure, compiler/tools

#19388 [docs] Fix permalink css styling on Firefox.
  docs/website/docs/assets/stylesheets/iree.css
Labels: documentation

#19391 Include prereleases from downstream projects in pip release links page.
  .github/workflows/publish_website.yml
  build_tools/python_deploy/README.md
  build_tools/python_deploy/generate_release_index.py
  build_tools/scripts/generate_release_index.py
  docs/website/.gitignore
Labels: infrastructure, bindings/python

#19421 Bump nanobind to v2.4.0
  runtime/bindings/python/CMakeLists.txt
Labels: bindings/python

#19422 Initialize nanobind at top-level
  CMakeLists.txt
  runtime/bindings/python/CMakeLists.txt
Labels: bindings/python

#19424 [python] Register ROCDL dialect to python binding
  compiler/bindings/python/CMakeLists.txt
Labels: bindings/python, codegen/rocm

#19217 [iree-import-onnx] improve handling of large models
  compiler/bindings/python/iree/compiler/tools/import_onnx/__main__.py
  compiler/bindings/python/iree/compiler/tools/import_onnx/importer_externalization_overrides.py
  compiler/bindings/python/test/tools/import_onnx_test.py
Labels: integrations/onnx

#19160 Adding iree_hal_buffer_placement_t info to allocated HAL buffers.
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/buffer.c
  experimental/webgpu/buffer.h
  experimental/webgpu/simple_allocator.c
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_heap.c
  runtime/src/iree/hal/buffer_heap_impl.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/cts/command_buffer_update_buffer_test.h
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.h
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/hip/hip_allocator.c
  runtime/src/iree/hal/drivers/hip/hip_allocator.h
  runtime/src/iree/hal/drivers/hip/hip_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_buffer.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/memory_pools.c
  runtime/src/iree/hal/drivers/hip/memory_pools.h
  runtime/src/iree/hal/drivers/metal/direct_allocator.h
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
  runtime/src/iree/hal/drivers/metal/metal_buffer.h
  runtime/src/iree/hal/drivers/metal/metal_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/buffer.c
  runtime/src/iree/hal/drivers/null/buffer.h
  runtime/src/iree/hal/drivers/vulkan/base_buffer.h
  runtime/src/iree/hal/drivers/vulkan/native_allocator.cc
  runtime/src/iree/hal/drivers/vulkan/native_allocator.h
  runtime/src/iree/hal/drivers/vulkan/native_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/native_buffer.h
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/sparse_buffer.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/caching_allocator.c
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/function_io.c
Labels: hal/api

#19458 Skip test_sharktank job until quota issues are fixed.
  .github/workflows/pkgci.yml
Labels: infrastructure

#19444 Share workflow failure alerting between ci.yml and pkgci.yml.
  .github/workflows/ci.yml
  .github/workflows/pkgci.yml
  .github/workflows/workflow_summary.yml
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#19447 Delete experimental/distributed/.
  experimental/distributed/README.md
  experimental/distributed/python/example.py
  experimental/distributed/python/iree/experimental/runtime/distributed/__init__.py
  experimental/distributed/python/iree/experimental/runtime/distributed/distributed.py
  experimental/distributed/python/iree/experimental/runtime/distributed/run_rank.py
  experimental/distributed/python/iree/experimental/runtime/distributed/setup.sh
  experimental/distributed/python/iree/experimental/runtime/distributed/sharding_pass_validation.py
  experimental/distributed/python/iree/experimental/runtime/distributed/utils.py
  experimental/distributed/python/pyproject.toml
Labels: cleanup 🧹

#19446 Post to Discord on failures in more workflows.
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/ci_linux_x64_bazel.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
  .github/workflows/ci_macos_x64_clang.yml
  .github/workflows/ci_windows_x64_msvc.yml
  .github/workflows/samples.yml
  .github/workflows/workflow_summary.yml
Labels: infrastructure

#19462 [Docs][Tuner] Add initial tuning spec docs
  docs/website/docs/reference/index.md
  docs/website/docs/reference/tuning.md
  docs/website/mkdocs.yml
Labels: documentation, codegen, performance ⚡, tuner

#19467 Enable creating patch releases
  .github/workflows/oneshot_candidate_release.yml
  docs/website/docs/developers/general/one-shot-patch.png
  docs/website/docs/developers/general/release-management.md
Labels: infrastructure

#19463 Upgrade from Ubuntu 20.04 to 24.04
  .github/workflows/build_package.yml
  .github/workflows/bump_torch_mlir.yml
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_gcc.yml
  .github/workflows/lint.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_pjrt.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_tensorflow.yml
  .github/workflows/pkgci_unit_test.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  .github/workflows/schedule_candidate_release.yml
  .github/workflows/setup.yml
  .github/workflows/validate_and_publish_release.yml
  .github/workflows/workflow_summary.yml
Labels: infrastructure

#19470 Refresh links and install instructions for PyTorch/iree-turbine.
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation, integrations/pytorch

#19418 [PJRT] Allow to pass extra compile options via env variables
  integrations/pjrt/README.md
  integrations/pjrt/src/iree_pjrt/common/CMakeLists.txt
  integrations/pjrt/src/iree_pjrt/common/command_line_utils.cc
  integrations/pjrt/src/iree_pjrt/common/command_line_utils.h
  integrations/pjrt/src/iree_pjrt/common/command_line_utils_test.cc
  integrations/pjrt/src/iree_pjrt/common/compiler.h
  integrations/pjrt/src/iree_pjrt/common/dylib_platform.cc
  integrations/pjrt/src/iree_pjrt/common/iree_compiler.cc
Labels: integrations/pjrt

#19482 Refresh project status in README and website homepage.
  README.md
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/index.md
  docs/website/requirements.txt
Labels: documentation

#19494 Refresh architecture diagram with ONNX and LiteRT inputs.
  docs/website/docs/assets/images/.gitignore
  docs/website/docs/assets/images/iree_architecture.excalidraw.gz
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/assets/images/iree_architecture_dark.svg
Labels: documentation, integrations/onnx

#19495 [docs] Refresh `status: new` usage across website pages.
  docs/website/docs/developers/general/versioning-scheme.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/guides/parameters.md
  docs/website/docs/reference/tuning.md
Labels: documentation

#19512 Moving synchronous HAL file APIs to the public API.
  runtime/src/iree/hal/file.c
  runtime/src/iree/hal/file.h
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/hal/utils/file_transfer.h
  runtime/src/iree/hal/utils/memory_file.c
  runtime/src/iree/hal/utils/memory_file.h
Labels: hal/api

#19513 Adding iree_hal_file_from_handle factory for common file impls.
  experimental/webgpu/BUILD.bazel
  experimental/webgpu/CMakeLists.txt
  experimental/webgpu/webgpu_device.c
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/BUILD.bazel
  runtime/src/iree/hal/drivers/local_sync/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/BUILD.bazel
  runtime/src/iree/hal/drivers/local_task/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/metal/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/BUILD.bazel
  runtime/src/iree/hal/drivers/null/CMakeLists.txt
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/file_registry.c
  runtime/src/iree/hal/utils/file_registry.h
  runtime/src/iree/hal/utils/memory_file.c
  runtime/src/iree/hal/utils/memory_file.h
Labels: hal/api

#19514 Adding fd-based file handle support to the HAL.
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/fd_file.c
  runtime/src/iree/hal/utils/fd_file.h
  runtime/src/iree/hal/utils/file_registry.c
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
Labels: hal/api

#19515 Adding experimental iree_io_file_map_view API.
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ImportParameters.cpp
  runtime/bindings/python/io.cc
  runtime/src/iree/base/internal/file_io.c
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/io/formats/gguf/gguf_parser.c
  runtime/src/iree/io/formats/gguf/gguf_parser.h
  runtime/src/iree/io/formats/gguf/gguf_parser_test.cc
  runtime/src/iree/io/formats/irpa/irpa_parser.c
  runtime/src/iree/io/formats/irpa/irpa_parser.h
  runtime/src/iree/io/formats/irpa/irpa_parser_test.cc
  runtime/src/iree/io/formats/parser_registry.c
  runtime/src/iree/io/formats/parser_registry.h
  runtime/src/iree/io/formats/safetensors/safetensors_parser.c
  runtime/src/iree/io/formats/safetensors/safetensors_parser.h
  runtime/src/iree/io/formats/safetensors/safetensors_parser_test.cc
  runtime/src/iree/tooling/parameter_util.c
Labels: runtime/api

#19492 [runtime][python] Add IRPA entry conversion to/from numpy
  runtime/bindings/python/iree/runtime/array_interop.py
  runtime/bindings/python/iree/runtime/io.py
  runtime/bindings/python/tests/io_test.py
  runtime/bindings/python/tests/testdata/generate_tensor_saved_with_iree_turbine.py
  runtime/bindings/python/tests/testdata/tensor_saved_with_iree_turbine.irpa
Labels: bindings/python, runtime/tools

#19510 Adding iree_io_file_handle_create/iree_io_file_handle_open.
  runtime/src/iree/base/config.h
  runtime/src/iree/base/internal/file_io.h
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/io/stdio_stream.c
  runtime/src/iree/tooling/parameter_util.c
Labels: runtime/api

#19445 Trigger presubmit ci workflows from `ci.yml` via `workflow_call`.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_bazel.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  README.md
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure
