Repository iree-org/iree, pull requests merged in 2024-01, with the labels that each got.

#15862 [CodeGen] Add aflag to allow potentially to remove unnecessary code to improve performance.
  compiler/src/iree/compiler/Codegen/Common/DecomposeSoftmax.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/Common/test/decompose_softmax.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16034 Add crosscompile utility binaries back to iree-dist tarball
  CMakeLists.txt
  build_tools/embed_data/CMakeLists.txt
Labels: infrastructure

#15993 [GlobalOpt] Add a pass to simplify tensor pack ops.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/SimplifyPackUnpack.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16072 Fixing/silencing some warnings that have crept in over time.
  build_tools/cmake/iree_copts.cmake
  compiler/src/iree/compiler/Codegen/TransformStrategies/GPU/Strategies.h
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Utils.h
  runtime/src/iree/builtins/ukernel/arch/x86_64/common_x86_64.h
  runtime/src/iree/vm/ops.h
Labels: cleanup 🧹

#15977 [spirv][vulkan] Enable device query generation and execution
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMaterializeExecutableConditions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTrimExecutableTargetEnv.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/materialize_executable_conditions.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/handle_util.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan, codegen/spirv

#16077 Revert "[spirv][vulkan] Enable device query generation and execution"
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMaterializeExecutableConditions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTrimExecutableTargetEnv.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/materialize_executable_conditions.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/handle_util.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: benchmarks:android-gpu

#16075 Reland "[spirv][vulkan] Enable device query generation and execution"
  .github/workflows/build_and_test_android.yml
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMaterializeExecutableConditions.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTileAndVectorizeToCooperativeOps.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVTrimExecutableTargetEnv.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/materialize_executable_conditions.mlir
  compiler/src/iree/compiler/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  runtime/src/iree/hal/drivers/vulkan/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/handle_util.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  tests/e2e/vulkan_specific/BUILD.bazel
  tests/e2e/vulkan_specific/CMakeLists.txt
Labels: hal/vulkan, benchmarks:android-gpu

#15923 Switch JAX pjrt-plugin link.
  docs/website/docs/guides/ml-frameworks/jax.md
Labels: documentation

#15796 Move Android benchmarks from Pixel 6 to Pixel 8
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_pixel_gpu_scaling_policy.sh
  build_tools/python/benchmark_suites/iree/arm64_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/e2e_model_tests/test_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/pixel_8_pro_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/stablehlo_models/generated_e2e_model_tests.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:android-cpu

#15673 [cuda] Fix deadlock when advancing deferred queue in driver thread
  experimental/cuda2/CMakeLists.txt
  experimental/cuda2/README.md
  experimental/cuda2/event_semaphore.c
  experimental/cuda2/pending_queue_actions.c
Labels: hal/cuda

#16088 [cuda] Break cyclic retain between device and device event pool
  experimental/cuda2/cuda_device.c
  experimental/cuda2/event_pool.c
  experimental/cuda2/event_pool.h
Labels: hal/cuda

#16090 Revert "Move Android benchmarks from Pixel 6 to Pixel 8"
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/set_pixel6_gpu_scaling_policy.sh
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/benchmark_suites/iree/benchmark_collections.py
  build_tools/python/e2e_model_tests/test_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/device_specs/device_collections.py
  build_tools/python/e2e_test_framework/device_specs/pixel_8_pro_specs.py
  build_tools/python/e2e_test_framework/unique_ids.py
  tests/e2e/stablehlo_models/generated_e2e_model_tests.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:android-cpu, benchmarks:android-gpu

#15837 Remove SwiftShader Docker images and software Vulkan testing.
  .dockerignore
  .github/workflows/build_all.yml
  .github/workflows/build_and_test_android.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/ci.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  build_tools/bazel/build_test_all.sh
  build_tools/bazel/iree.bazelrc
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/ctest_all.sh
  build_tools/cmake/run_tf_tests.sh
  build_tools/cmake/test.sh
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/dockerfiles/frontends-nvidia.Dockerfile
  build_tools/docker/dockerfiles/frontends-swiftshader.Dockerfile
  build_tools/docker/dockerfiles/frontends.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/dockerfiles/riscv.Dockerfile
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/dockerfiles/swiftshader-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/swiftshader.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/gcp/image_setup.sh
  docs/website/docs/developers/building/bazel.md
  tests/e2e/stablehlo_models/BUILD.bazel
Labels: infrastructure, hal/vulkan, cleanup 🧹

#16092 Disable loop unrolling in LLVM IR optimization passes
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMTargetOptions.h
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16100 [spirv] Fix executable linking test to match real queries
  compiler/src/iree/compiler/Codegen/SPIRV/test/link_executables.mlir
Labels: codegen/spirv

#16079 Rename and refactor HoistRedundantVectorTransfers
  compiler/src/iree/compiler/Codegen/Common/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/Passes.h
  compiler/src/iree/compiler/Codegen/Common/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vectorize_with_masking_and_hoist.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_batch_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_pooling.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_vectorize_to_cooperative_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_conv.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_elementwise_ops.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_gather.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_reduction.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16078 [CPU] Refine the logic to control vectorization pre-processing
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16095 Unifying helpers for size/shape-aware dim lookup.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/TransformExtensions/FlowExtensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertRegionToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertToFlow.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.h
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.h
Labels: compiler/dialects, cleanup 🧹

#16094 [CPU] Break LLVMCPUVectorLowering pass to several small passes.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorShapeCastLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransferLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransposeLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/aarch64_vector_lowering.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vector_lowering.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#15984 [GlobalOpt][CPU] Move to using indexing maps for data tiling encodings instead of named op enums
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/CPU/test/vmvx_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/materialize_homogeneous_encodings.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/set_encoding.mlir
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/LinalgExt/IR/LinalgExtBase.td
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16041 [CPU] Remove legacy logics from matmul peeling expert.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16058 [CPU] Propagate "scalability" when using peeling for vectorisation
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#15968 [CPU] Remove special distribution tile sizes from setting matmul config.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16140 Fixing copypasta in codegen/flow tests that included ABI ops.
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy_batch_matmul.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_reduction.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
Labels: codegen, cleanup 🧹

#16131 Fixing task worker utilization tracing plot.
  runtime/src/iree/task/worker.c
Labels: bug 🐞, hal/cpu

#16132 Allow specifying multiple --device= flags in tooling.
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/base/string_view.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/tooling/context_util.c
  runtime/src/iree/tooling/context_util.h
  runtime/src/iree/tooling/device_util.c
  runtime/src/iree/tooling/device_util.h
  runtime/src/iree/tooling/trace_replay.c
  runtime/src/iree/tooling/trace_replay.h
  tools/iree-benchmark-trace-main.c
  tools/iree-e2e-matmul-test.c
  tools/iree-run-mlir-main.cc
  tools/iree-run-trace-main.c
Labels: runtime/tools

#16129 Preserve reflection attrs on functions when wrapping for the native ABI.
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/ConversionTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/ConvertStandardToVM.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/function_attrs.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/reflection_attrs.mlir
  tools/iree-dump-module-main.c
Labels: compiler/dialects

#16142 Enforce CUDA >= 12 and fix its CMake search procedure
  CMakeLists.txt
  build_tools/third_party/cuda/CMakeLists.txt
Labels: infrastructure, hal/cuda

#15825 Remove run_shark_tank.yml and supporting code.
  .github/workflows/run_shark_tank.yml
  build_tools/benchmarks/shark/run_report.sh
  build_tools/benchmarks/shark/run_shark.sh
  build_tools/docker/dockerfiles/shark.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: cleanup 🧹, infrastructure/shark

#16151 Refresh website branding.
  docs/website/docs/assets/images/ghost.svg
  docs/website/docs/assets/images/openxla-logo-lockup-white.svg
  docs/website/docs/assets/stylesheets/iree.css
  docs/website/mkdocs.yml
  docs/website/overrides/.icons/iree/ghost.svg
  docs/website/overrides/partials/header.html
  docs/website/overrides/partials/nav.html
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/testing/build_tests.sh
  samples/colab/pytorch_aot_advanced.ipynb
  samples/colab/pytorch_aot_simple.ipynb
  samples/colab/pytorch_jit.ipynb
  third_party/mkdocs-material/LICENSE
  third_party/mkdocs-material/README.md
  third_party/mkdocs-material/overrides/partials/header.html
  third_party/mkdocs-material/overrides/partials/nav.html
Labels: documentation

#16170 Update IREE architecture diagrams.
  docs/website/docs/assets/images/iree_architecture.excalidraw.gz
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/assets/images/iree_architecture_dark.svg
Labels: documentation

#16086 Mark filtered check tests DISABLED instead of using return().
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_native_test.cmake
  build_tools/cmake/test_riscv.sh
Labels: infrastructure, quality of life 😊

#16143 [CPU] Improve vector tile sizes for sub-byte matmuls on Aarch64
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16147 [CPU][RISC-V] Re-enable MobileNetV2 int8 benchmarks.
  build_tools/python/benchmark_suites/iree/riscv_benchmarks.py
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:comp-stats

#16177 Update IREE architecture diagram targets.
  docs/website/docs/assets/images/iree_architecture.excalidraw.gz
  docs/website/docs/assets/images/iree_architecture.svg
  docs/website/docs/assets/images/iree_architecture_dark.svg
Labels: documentation

#16158 [cuda] Collect tracing events after command buffer completion
  runtime/src/iree/hal/drivers/cuda2/cuda_device.c
  runtime/src/iree/hal/drivers/cuda2/pending_queue_actions.c
  runtime/src/iree/hal/drivers/cuda2/pending_queue_actions.h
Labels: hal/cuda

#16184 Remove `c2-standard-16` from codebase
  build_tools/benchmarks/export_benchmark_config.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/github_actions/runner/gcp/create_templates.sh
  docs/website/docs/developers/performance/benchmark-suites.md
Labels: benchmarks:x86_64

#16107 [cuda] Switch cuda2 on and cuda1 off by default
  CMakeLists.txt
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
  runtime/src/iree/hal/drivers/cuda2/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda2/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda2/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda2/registration/driver_module.c
  runtime/src/iree/hal/drivers/init.c
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tosa_ops/BUILD.bazel
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: hal/cuda, benchmarks:cuda

#16186 Delete unused Bazel deep_copy and template_rule files.
  build_tools/bazel/deep_copy.bzl
  build_tools/bazel/template_rule.bzl
Labels: infrastructure, cleanup 🧹

#16193 [CPU] Add patterns to drop unit dimensions at vector level
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_split_reduction_tests.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16204 Fix "remove unused files" step in `build_all.yml`.
  .github/workflows/build_all.yml
Labels: infrastructure

#16197 [CPU] Remove "clamping" when calculating vec tile sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16160 [CPU] Introduce vector unit dims optimization in vector lowering.
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUDropVectorUnitDims.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVectorTransferLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pad_tests.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16222 [CPU] Prioritize 16x16 tile sizes for transpose ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64

#16194 Benchmark Cleanup
  build_tools/python/benchmark_suites/iree/x86_64_benchmarks.py
  build_tools/python/e2e_test_framework/models/jax_models.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16227 Bump spirv-tools commit to include SPIRV_SKIP_TESTS fix.
  compiler/plugins/target/WebGPU/CMakeLists.txt
Labels: quality of life 😊

#16188 [cuda] Drop cuda1 HAL implementation code
  .github/CODEOWNERS
  CMakeLists.txt
  runtime/src/iree/hal/drivers/BUILD.bazel
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/api.h
  runtime/src/iree/hal/drivers/cuda/context_wrapper.h
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.h
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.c
  runtime/src/iree/hal/drivers/cuda/cuda_buffer.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/cuda_device.h
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/cuda/cuda_event.c
  runtime/src/iree/hal/drivers/cuda/cuda_event.h
  runtime/src/iree/hal/drivers/cuda/cuda_headers.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.c
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols.h
  runtime/src/iree/hal/drivers/cuda/dynamic_symbols_test.cc
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
  runtime/src/iree/hal/drivers/cuda/event_semaphore.h
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/memory_pools.c
  runtime/src/iree/hal/drivers/cuda/memory_pools.h
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/cuda/native_executable.h
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.h
  runtime/src/iree/hal/drivers/cuda/nop_executable_cache.c
  runtime/src/iree/hal/drivers/cuda/nop_executable_cache.h
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.c
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.h
  runtime/src/iree/hal/drivers/cuda/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.c
  runtime/src/iree/hal/drivers/cuda/registration/driver_module.h
  runtime/src/iree/hal/drivers/cuda/status_util.c
  runtime/src/iree/hal/drivers/cuda/status_util.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/tracing.c
  runtime/src/iree/hal/drivers/cuda/tracing.h
  runtime/src/iree/hal/drivers/init.c
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
Labels: hal/cuda, cleanup 🧹

#16233 [cuda] Flip to disable legacy sync by default
  compiler/plugins/target/CUDA/CUDATarget.cpp
Labels: codegen/nvvm

#16178 Teach "auto" input detection about ONNX in Torch plugin.
  compiler/plugins/input/Torch/torch-iree/InputConversion/test/auto_input_conversion.mlir
  compiler/plugins/input/Torch/torch-iree/PluginRegistration.cpp
Labels: integrations/pytorch

#16234 [doc] Update docs about the CUDA HAL driver
  docs/website/docs/community/blog/posts/cuda-backend.md
  docs/website/docs/developers/design-docs/cuda-backend.md
  docs/website/mkdocs.yml
  runtime/src/iree/hal/drivers/cuda/README.md
Labels: documentation, hal/cuda

#16255 Adding verification after EncodeHostTensors/EncodeDeviceTensors passes.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/VerifyLowerings.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/refine_usage.mlir
Labels: compiler/dialects

#16266 Changing ConstExprAnalysis expansion to use a worklist.
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.h
Labels: bug 🐞, compiler/dialects

#16267 Allow using iree_lit_test without building the compiler.
  CMakeLists.txt
  build_tools/cmake/iree_lit_test.cmake
  build_tools/cmake/iree_llvm.cmake
  samples/custom_dispatch/vulkan/shaders/CMakeLists.txt
  tests/e2e/parameters/BUILD.bazel
  tests/e2e/parameters/CMakeLists.txt
  tools/CMakeLists.txt
Labels: infrastructure

#16256 [doc] Expose CUDA and Metal HAL driver doc to the website
  docs/website/docs/developers/design-docs/cuda-hal-driver.md
  docs/website/docs/developers/design-docs/metal-hal-driver.md
  docs/website/mkdocs.yml
Labels: documentation

#16225 Remove all `IREE_.*_DISABLE` env checks from .mlir tests.
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_check_test.cmake
  compiler/plugins/target/ROCM/builtins/ukernel/test/argmax_linking.mlir
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/regression/fill_i64.mlir
  tests/e2e/regression/globals.mlir
  tests/e2e/regression/globals_ml_program.mlir
  tests/e2e/regression/scalar.mlir
  tests/e2e/regression/unused_args.mlir
  tests/e2e/stablehlo_models/BUILD.bazel
  tests/e2e/stablehlo_models/CMakeLists.txt
  tests/e2e/stablehlo_models/collatz.mlir
  tests/e2e/stablehlo_models/edge_detection.mlir
  tests/e2e/stablehlo_models/fragment_000.mlir
  tests/e2e/stablehlo_models/fullyconnected.mlir
  tests/e2e/stablehlo_models/mnist_fake_weights.mlir
  tests/e2e/stablehlo_models/unidirectional_lstm.mlir
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tensor_ops/tensor_cast.mlir
Labels: infrastructure

#16275 [doc] Add README in CUDA and Metal HAL drivers directory
  runtime/src/iree/hal/drivers/cuda/README.md
  runtime/src/iree/hal/drivers/metal/README.md
Labels: documentation

#16278 [CPU] Refresh torch BertLarge FP32 models and enable benchmarks on x86.
  build_tools/python/e2e_test_framework/models/model_groups.py
  build_tools/python/e2e_test_framework/models/torch_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64

#16270 Optimizing flow.executable deduplication.
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/DeduplicateExecutables.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.cpp
  compiler/src/iree/compiler/Utils/EquivalenceUtils.h
Labels: benchmarks:x86_64, benchmarks:comp-stats
