Repository iree-org/iree, pull requests merged in 2024-11, with the labels that each got.

#18997 Fixing executable debug info as identified in #18996.
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/metal/executable.m
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/hal/utils/executable_debug_info.c
  runtime/src/iree/hal/utils/executable_debug_info.h
Labels: bug 🐞, hal/vulkan, hal/cuda, hal/hip

#19000 Adding iree_hal_device_queue_update and improving queue DMA operations.
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/command_buffer.c
  experimental/webgpu/webgpu_device.c
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/iree_helpers.h
  runtime/bindings/python/hal.cc
  runtime/bindings/python/iree/runtime/_binding.pyi
  runtime/bindings/python/tests/hal_test.py
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/cts/command_buffer_copy_buffer_test.h
  runtime/src/iree/hal/cts/command_buffer_fill_buffer_test.h
  runtime/src/iree/hal/cts/command_buffer_update_buffer_test.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/file_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/device.c
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_queue.c
  runtime/src/iree/hal/drivers/local_task/task_queue.h
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/null/command_buffer.c
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/local/inline_command_buffer.c
  runtime/src/iree/hal/utils/debug_allocator.c
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/hal/utils/file_transfer.h
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/function_util.c
  tools/iree-benchmark-executable-main.c
Labels: hal/api

#19004 Update classifiers of Python packages
  compiler/setup.py
  integrations/tensorflow/python_projects/iree_tf/setup.py
  integrations/tensorflow/python_projects/iree_tflite/setup.py
  runtime/setup.py
Labels: bindings/python

#19031 Mark failing Colab notebook tests as XFAIL.
  samples/colab/test_notebooks.py
Labels: infrastructure, integrations/tensorflow

#19018 [NFC] Move linalgext external model registration
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/ExternalInterfaces/BUILD.bazel
  compiler/src/iree/compiler/ExternalInterfaces/CMakeLists.txt
  compiler/src/iree/compiler/ExternalInterfaces/Interfaces.cpp
  compiler/src/iree/compiler/ExternalInterfaces/LinalgExtExternalModels.cpp
  compiler/src/iree/compiler/ExternalInterfaces/LinalgExtExternalModels.h
Labels: cleanup 🧹

#19029 Fix Windows+macOS CI by updating to Python 3.11.
  .github/workflows/ci_macos_x64_clang.yml
  .github/workflows/ci_windows_x64_msvc.yml
  compiler/bindings/python/test/build_api/mnist_builder_test.py
Labels: infrastructure, platform/windows 🚪, platform/macos 🍎

#19033 Adding stream lowering to hal.device.queue.fill/hal.device.queue.copy.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
Labels: compiler/dialects

#19035 Fixing executable linking when other targets are present.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/link_executables.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVLinkExecutables.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.h
  compiler/src/iree/compiler/Codegen/VMVX/VMVXLinkExecutables.cpp
Labels: bug 🐞, compiler/dialects

#19048 Update nightly release schedule
  .github/workflows/schedule_candidate_release.yml
Labels: infrastructure

#19054 Update docs and samples to use latest iree-turbine.
  RELEASING.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  samples/colab/pytorch_aot_advanced.ipynb
  samples/colab/pytorch_aot_simple.ipynb
  samples/dynamic_shapes/README.md
Labels: documentation, infrastructure, integrations/pytorch

#19030 Disable `-Wno-error=parentheses` on gcc to fix torch-mlir build.
  compiler/plugins/input/Torch/torch-mlir/CMakeLists.txt
Labels: infrastructure

#19034 Apply new versioning scheme
  .github/workflows/build_package.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/schedule_candidate_release.yml
  .gitignore
  RELEASING.md
  build_tools/github_actions/build_dist.py
  build_tools/github_actions/ci_requirements.txt
  build_tools/python_deploy/compute_common_version.py
  build_tools/python_deploy/compute_local_version.py
  compiler/setup.py
  compiler/version.json
  runtime/setup.py
  runtime/version.json
Labels: infrastructure, bindings/python

#19061 Rename base packages
  .github/workflows/build_package.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/samples.yml
  .github/workflows/validate_and_publish_release.yml
  build_tools/github_actions/build_dist.py
  build_tools/pkgci/build_linux_packages.sh
  build_tools/pkgci/setup_venv.py
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/build_macos_packages.sh
  build_tools/python_deploy/build_windows_packages.ps1
  compiler/bindings/python/iree/compiler/api/ctypes_dl.py
  compiler/setup.py
  docs/website/docs/developers/general/release-management.md
  runtime/setup.py
Labels: infrastructure, bindings/python

#19067 Drop 'rcYYYYMMDD' suffix from packages when deploying to PyPI.
  build_tools/python_deploy/compute_common_version.py
  build_tools/python_deploy/compute_local_version.py
  build_tools/python_deploy/promote_whl_from_rc_to_final.py
  build_tools/python_deploy/pypi_deploy.sh
  build_tools/python_deploy/pypi_deploy_requirements.txt
Labels: infrastructure, bindings/python

#19116 Disable aarch64 package builds until runners become available.
  .github/workflows/build_package.yml
Labels: infrastructure

#19127 Disable tests depending on iree-model-artifacts GCS bucket.
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_mobilebert_tf2_quant.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_mobilenet_v1.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_mobilenet_v3-large_uint8.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_posenet_i8.run
  integrations/tensorflow/test/iree_tfl_tests/llvmcpu_resnet_50_int8.run
  integrations/tensorflow/test/python/iree_tfl_tests/imagenet_test_data.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilebert_tf2_quant_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilenet_v1_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/mobilenet_v3-large_uint8_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/posenet_i8_test.py
  integrations/tensorflow/test/python/iree_tfl_tests/resnet_50_int8_test.py
  tests/e2e/stablehlo_models/mnist_train_test/CMakeLists.txt
  tests/e2e/stablehlo_models/mnist_train_test/mnist_train_test.py
Labels: infrastructure, integrations/tensorflow

#19118 Populate more metadata in compiler and runtime Python packages.
  compiler/bindings/python/iree/compiler/README.md
  compiler/setup.py
  runtime/setup.py
Labels: documentation, bindings/python

#19137 Fix requirements checking in pypi_deploy.sh and document scripts.
  build_tools/python_deploy/README.md
  build_tools/python_deploy/pypi_deploy.sh
Labels: infrastructure, bindings/python

#19088 Add punet benchmarking to the regression suite
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/attention_and_matmul_spec_punet.mlir
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/benchmarks/sdxl/conftest.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Labels: infrastructure

#18967 Moved windows workflow to Kubernetes hosted runner
  .github/workflows/ci_windows_x64_msvc.yml
Labels: infrastructure, platform/windows 🚪

#19145 Add `--pre` flag to pip installs for using nightly versions.
  .github/workflows/samples.yml
  docs/website/docs/developers/debugging/integration-tests.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-compiler-from-release.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-runtime-from-release.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/reference/bindings/python.md
  experimental/web/generate_web_metrics.sh
  samples/colab/low_level_invoke_function.ipynb
  samples/colab/tensorflow_edge_detection.ipynb
  samples/colab/tensorflow_hub_import.ipynb
  samples/colab/tensorflow_mnist_training.ipynb
  samples/colab/tensorflow_resnet.ipynb
  samples/colab/tflite_text_classification.ipynb
  samples/dynamic_shapes/tensorflow_dynamic_shapes.ipynb
  samples/dynamic_shapes/test.sh
  samples/variables_and_state/variables_and_state.ipynb
Labels: documentation, bindings/python

#18880 [onnx][importer] Add support for externalized params
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/tools/import_onnx/__main__.py
  compiler/bindings/python/iree/compiler/tools/import_onnx/importer_externalization_overrides.py
  compiler/bindings/python/test/tools/import_onnx_test.py
  compiler/bindings/python/test/tools/testdata/conv.onnx
Labels: integrations/onnx

#19156 Strip .egg-info folders from iree-base-compiler whl files.
  build_tools/python_deploy/build_linux_packages.sh
  compiler/setup.py
Labels: infrastructure, bindings/python

#19114 Document the versioning scheme
  docs/website/docs/developers/general/versioning-scheme.md
  docs/website/mkdocs.yml
Labels: documentation

#19191 Update documentation for release promotion process.
  docs/website/docs/developers/general/release-latest.png
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/release-renaming.png
  docs/website/docs/developers/general/release-tag.png
Labels: documentation, infrastructure

#19203 Fix compiler errors in CUDA PJRT plugin
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/cuda/client.cc
Labels: integrations/pjrt

#19211 Improving linking support for ROCM and ukernels.
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/HoistExecutableObjects.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/SubstituteExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/hoist_executable_objects.mlir
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
Labels: compiler/dialects, codegen, codegen/rocm

#19210 Use `iree-import-onnx --opset-version N` in ImportOnnxAction.
  compiler/bindings/python/iree/build/onnx_actions.py
Labels: bindings/python, compiler/tools, integrations/onnx

#19229 Bump iree-test-suites commit used for testing onnx ops.
  .github/workflows/pkgci_test_onnx.yml
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Labels: infrastructure, integrations/onnx

#19242 Delete no longer used build_tools/github_actions/runner/.
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/runner/README.md
  build_tools/github_actions/runner/config/functions.sh
  build_tools/github_actions/runner/config/health_server/health_server.py
  build_tools/github_actions/runner/config/hooks/chown_workdir.sh
  build_tools/github_actions/runner/config/hooks/cleanup_workdir.sh
  build_tools/github_actions/runner/config/hooks/post_job.sh
  build_tools/github_actions/runner/config/hooks/pre_job.sh
  build_tools/github_actions/runner/config/hooks/validate_trigger.postsubmit.sh
  build_tools/github_actions/runner/config/hooks/validate_trigger.presubmit.sh
  build_tools/github_actions/runner/config/hooks/validate_trigger.releaser.sh
  build_tools/github_actions/runner/config/register.sh
  build_tools/github_actions/runner/config/runner.env
  build_tools/github_actions/runner/config/setup.sh
  build_tools/github_actions/runner/config/systemd/scripts/delete_self.sh
  build_tools/github_actions/runner/config/systemd/scripts/deregister.sh
  build_tools/github_actions/runner/config/systemd/scripts/start_runner.sh
  build_tools/github_actions/runner/config/systemd/scripts/stop_idle_runner.sh
  build_tools/github_actions/runner/config/systemd/system/gh-runner-deregister.service
  build_tools/github_actions/runner/config/systemd/system/gh-runner.service
  build_tools/github_actions/runner/config/systemd/system/health-check.service
  build_tools/github_actions/runner/config/systemd/system/runner-setup.target
  build_tools/github_actions/runner/config/systemd/system/stop-idle-runner.service
  build_tools/github_actions/runner/config/systemd/system/stop-idle-runner.timer
  build_tools/github_actions/runner/gcp/create_image.sh
  build_tools/github_actions/runner/gcp/create_instance_group.sh
  build_tools/github_actions/runner/gcp/create_templates.sh
  build_tools/github_actions/runner/gcp/image_setup.sh
  build_tools/github_actions/runner/gcp/remove_idle_runners.sh
  build_tools/github_actions/runner/gcp/remove_stuck_runners.sh
  build_tools/github_actions/runner/gcp/startup_script.sh
  build_tools/github_actions/runner/gcp/update_autoscaling.sh
  build_tools/github_actions/runner/gcp/update_instance_groups.py
  build_tools/github_actions/runner/gcp/update_runner_version.py
  build_tools/github_actions/runner/instance_deleter/main.py
  build_tools/github_actions/runner/instance_deleter/main_test.py
  build_tools/github_actions/runner/instance_deleter/requirements.txt
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure, cleanup 🧹

#19244 Ignore multi-line git trailers in configure_ci.py.
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure

#19236 Add iree.build to readthedocs, fix a few warnings, refresh readme.
  compiler/bindings/python/iree/build/main.py
  compiler/bindings/python/iree/compiler/api/__init__.py
  compiler/bindings/python/iree/compiler/tools/__init__.py
  compiler/bindings/python/iree/compiler/tools/debugging.py
  compiler/bindings/python/iree/compiler/tools/tf.py
  docs/api_docs/python/README.md
  docs/api_docs/python/_static/custom.css
  docs/api_docs/python/compiler/api.rst
  docs/api_docs/python/compiler/build.rst
  docs/api_docs/python/compiler/index.rst
  docs/api_docs/python/compiler/tools.rst
  docs/api_docs/python/conf.py
  docs/api_docs/python/requirements.txt
  runtime/bindings/python/iree/runtime/array_interop.py
Labels: documentation, bindings/python, compiler/tools

#19258 Update actions/cache version to latest release.
  .github/workflows/pkgci_build_packages.yml
Labels: infrastructure

#19222 Add build and test workflow for PJRT plugin in pkgci
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_pjrt.yml
  build_tools/testing/run_jax_tests.sh
  integrations/pjrt/CMakeLists.txt
  integrations/pjrt/python_packages/_setup_support/iree_pjrt_setup.py
  integrations/pjrt/python_packages/iree_cpu_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_cuda_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_rocm_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_vulkan_plugin/pyproject.toml
  integrations/pjrt/test/test_add.py
Labels: infrastructure, integrations/pjrt

#19278 Replace iree-compiler with iree-base-compiler in deps of PJRT plugin
  integrations/pjrt/python_packages/_setup_support/iree_pjrt_setup.py
  integrations/pjrt/requirements.txt
Labels: integrations/pjrt

#19241 Update PJRT plugin API version to 0.57
  .github/workflows/pkgci_test_pjrt.yml
  build_tools/testing/run_jax_tests.sh
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  integrations/pjrt/src/iree_pjrt/common/stubs.inc
  integrations/pjrt/third_party/pjrt_c_api/README.md
  integrations/pjrt/third_party/pjrt_c_api/xla/pjrt/c/pjrt_c_api.h
Labels: integrations/pjrt

#19291 [iree.build] Wire up out of process concurrency.
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/build/executor.py
  compiler/bindings/python/iree/build/test_actions.py
  compiler/bindings/python/test/build_api/CMakeLists.txt
  compiler/bindings/python/test/build_api/concurrency_test.py
Labels: compiler/tools
