Repository iree-org/iree, pull requests merged in 2024-06, with the labels that each got.

#17531 Reflow C API docs to prefer the low level API.
  docs/website/docs/reference/bindings/c-api.md
Labels: documentation, runtime

#17518 Add VM design doc.
  docs/website/docs/developers/design-docs/vm.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/mkdocs.yml
Labels: documentation, runtime/vm

#17549 Disable test_nvidia_a100 + test_amd_mi250 jobs until runners are online.
  .github/workflows/ci.yml
Labels: infrastructure

#17557 Fix pkgci regression test config file uploading.
  .github/workflows/pkgci_regression_test.yml
Labels: infrastructure

#17493 Work around circular dependency in tracing/console.c.
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/time.c
  runtime/src/iree/base/internal/time.h
  runtime/src/iree/base/time.c
  runtime/src/iree/base/tracing/BUILD.bazel
  runtime/src/iree/base/tracing/CMakeLists.txt
  runtime/src/iree/base/tracing/console.c
Labels: runtime

#17562 Ignore "build" dirs in check_path_lengths.
  build_tools/scripts/check_path_lengths.py
Labels: infrastructure

#17567 Re-enable a100 tests and benchmarks.
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
Labels: benchmarks:cuda

#17569 Document example CMake configurations and update options page.
  docs/website/docs/building-from-source/getting-started.md
  docs/website/docs/developers/building/cmake-options.md
Labels: documentation

#17575 Enable magiclink extension for mkdocs, linkifying bare URLs.
  docs/website/docs/developers/performance/benchmark-suites.md
  docs/website/mkdocs.yml
Labels: documentation, quality of life 😊

#17595 Skip tests failing on latest GitHub Actions runner image.
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#17610 Fixing iree_vm_ref_wrap_retain.
  runtime/src/iree/vm/ref.c
  runtime/src/iree/vm/ref_test.cc
Labels: bug 🐞, runtime/vm

#17502 Enable the `mmt4d` ukernel by default on `x86_64` and on `arm_64` (outside of SVE/SME).
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#17614 Redirect submodules from shark-infra to iree-org.
  .github/workflows/bump_torch_mlir.yml
  .gitmodules
  docs/website/docs/developers/general/contributing.md
Labels: infrastructure, cleanup 🧹

#17558 Add notes on pre-commit to contributing guide.
  docs/website/docs/developers/general/contributing.md
Labels: documentation, infrastructure

#17577 Refresh some docs and samples from SHARK-Turbine to iree-turbine.
  docs/website/docs/community/index.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
  samples/colab/README.md
  samples/colab/pytorch_aot_advanced.ipynb
  samples/colab/pytorch_aot_simple.ipynb
  samples/colab/pytorch_huggingface_whisper.ipynb
  samples/colab/pytorch_jit.ipynb
  samples/dynamic_shapes/pytorch_dynamic_shapes.ipynb
Labels: documentation, integrations/pytorch

#17599 Optimize bazel_to_cmake and check_path_lengths pre-commit hooks.
  .pre-commit-config.yaml
  build_tools/bazel_to_cmake/bazel_to_cmake.py
Labels: infrastructure

#17551 Remove pytype lint check.
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  build_tools/pytype/check_diff.sh
  build_tools/scripts/lint.sh
Labels: infrastructure, bindings/python, cleanup 🧹

#17630 Enable end-of-file-fixer and trailing-whitespace hooks.
  .pre-commit-config.yaml
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TransformExtensions/test/distribute_multi_mma.mlir
Labels: infrastructure, cleanup 🧹

#17583 [Flow] Make the output indexing_map of elementwise ops identity.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_preprocessing.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17666 [doc] Add tip for stack trace symbols with Python and ASan.
  docs/website/docs/developers/debugging/sanitizers.md
Labels: documentation, bindings/python

#17659 Allow flags to be set with greater flexibility
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/bindings/python/initialize_module.cc
  runtime/bindings/python/iree/runtime/system_setup.py
  runtime/bindings/python/tests/system_setup_test.py
Labels: bindings/python

#17674 Fix hip dynamic_symbols_test to check min version.
  runtime/src/iree/hal/drivers/hip/dynamic_symbols_test.cc
Labels: hal/hip

#17667 Revert "Skip tests failing on latest GitHub Actions runner image."
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#17675 Re-enable test_amd_w7900 CI job.
  .github/workflows/ci.yml
Labels: infrastructure, hal/hip

#17682 Remove attention transform dialect e2e tests
  tests/transform_dialect/cpu/BUILD.bazel
  tests/transform_dialect/cpu/CMakeLists.txt
  tests/transform_dialect/cpu/attention.mlir
  tests/transform_dialect/cpu/attention_codegen_spec.mlir
Labels: cleanup 🧹

#17686 Run w7900 tests in serial instead of parallel.
  .github/workflows/ci.yml
Labels: infrastructure

#17647 Only set one narrow M/N at a time
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/set_encoding.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#17623 [spirv] Switch to use common target description
  compiler/plugins/target/MetalSPIRV/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VulkanSPIRV/BUILD.bazel
  compiler/plugins/target/VulkanSPIRV/CMakeLists.txt
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/CMakeLists.txt
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/API/Internal/IREEReduceToolEntryPoint.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVConvertGPUTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanDialect.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanTypes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanTypes.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
  samples/transform_dialect/example_module.mlir
Labels: hal/vulkan, codegen/spirv, hal/metal, hal/webgpu

#17703 Bump actions/checkout to v4.1.7.
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_compilation.yml
  .github/workflows/benchmark_execution.yml
  .github/workflows/benchmark_trigger.yml
  .github/workflows/build_all.yml
  .github/workflows/build_and_test_android.yml
  .github/workflows/build_benchmark_tools.yml
  .github/workflows/build_e2e_test_artifacts.yml
  .github/workflows/build_package.yml
  .github/workflows/bump_torch_mlir.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_tensorflow_cpu.yml
  .github/workflows/post_benchmark_comment.yaml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  .github/workflows/schedule_candidate_release.yml
  .github/workflows/setup.yml
  .github/workflows/validate_and_publish_release.yml
Labels: infrastructure

#17696 Fixing broken fill builtins that were double offsetting.
  compiler/src/iree/compiler/Dialect/Stream/Builtins/fill_i16.mlir
  compiler/src/iree/compiler/Dialect/Stream/Builtins/fill_i32.mlir
  compiler/src/iree/compiler/Dialect/Stream/Builtins/fill_i64.mlir
  compiler/src/iree/compiler/Dialect/Stream/Builtins/fill_i8.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/MaterializeBuiltins.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_builtins.mlir
Labels: bug 🐞, compiler/dialects

#17699 Reland "[spirv] Switch to use common target description"
  compiler/plugins/target/MetalSPIRV/BUILD.bazel
  compiler/plugins/target/MetalSPIRV/CMakeLists.txt
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/MetalSPIRV/test/smoketest.mlir
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/plugins/target/VulkanSPIRV/BUILD.bazel
  compiler/plugins/target/VulkanSPIRV/CMakeLists.txt
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/VulkanSPIRV/test/smoketest.mlir
  compiler/plugins/target/WebGPUSPIRV/CMakeLists.txt
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/plugins/target/WebGPUSPIRV/test/smoketest.mlir
  compiler/src/iree/compiler/API/Internal/IREEReduceToolEntryPoint.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUEnums.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.h
  compiler/src/iree/compiler/Codegen/SPIRV/Passes.td
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVConvertGPUTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/SPIRV/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/SPIRV/test/convert_gpu_target.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanAttributes.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanBase.td
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanDialect.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanDialect.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanTypes.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/IR/VulkanTypes.h
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/IR/test/target_env.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetEnvironment.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.cpp
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/TargetTriple.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  samples/custom_dispatch/vulkan/shaders/example.mlir
  samples/custom_dispatch/vulkan/shaders/example_inline.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform.mlir
  samples/custom_dispatch/vulkan/shaders/example_transform_spec.mlir
  samples/transform_dialect/example_module.mlir
Labels: benchmarks:android-gpu

#17282 [Flow] move tensor lowerings out of FormDispatchWorkgroupsPass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertDispatchRegionsToWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ConvertTensorToFlow.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/MaterializeDefaultWorkgroupCountRegion.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_workgroups.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17619 Fix cmake generators on Windows and enable in pre-commit.
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  build_tools/python/e2e_model_tests/cmake_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/iree_rule_generator.py
  build_tools/python/e2e_test_artifacts/cmake_generator/model_rule_generator.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions_test.py
  build_tools/scripts/lint.sh
Labels: infrastructure, platform/windows 🚪

#17726 Add check tests for more tensor dialect ops.
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tensor_ops/collapse_shape.mlir
  tests/e2e/tensor_ops/concat.mlir
  tests/e2e/tensor_ops/expand_shape.mlir
  tests/e2e/tensor_ops/extract_slice.mlir
Labels: infrastructure

#17732 Add developer doc for model development debugging.
  docs/website/docs/developers/debugging/model-development.md
  docs/website/mkdocs.yml
Labels: documentation, integrations, runtime/tools

#17711 [Flow] Change the definition of "dequantization" recognizer.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
  integrations/tensorflow/test/iree_tfl_tests/east_text_detector.run
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17705 Bump most GitHub Actions 'uses' to their latest tagged releases.
  .github/workflows/benchmark.yml
  .github/workflows/benchmark_large.yml
  .github/workflows/build_package.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_tensorflow_cpu.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  .github/workflows/validate_and_publish_release.yml
Labels: infrastructure

#17743 Add docs for Encoding, IREECodegen, and IREEGPU dialects.
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUDialect.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUOps.td
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
Labels: documentation, compiler/dialects, codegen

#17731 [CPU] Tile outer parallel dims with 1 before lowering to ukernels.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#17746 Fix build_package.yml by giving uploads unique names.
  .github/workflows/build_package.yml
Labels: infrastructure, yolo

#17748 Update dotprod microbenchmark artifacts
  build_tools/python/benchmark_suites/iree/armv8_a_benchmarks.py
  build_tools/python/e2e_test_framework/models/matmul.py
  build_tools/python/e2e_test_framework/models/model_groups.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#17755 Exclude arm-sme tests by default on Bazel CI.
  .github/workflows/ci.yml
  build_tools/bazel/build_test_all.sh
Labels: infrastructure

#17753 Update artifact file names in validate_and_publish_release.yml.
  .github/workflows/validate_and_publish_release.yml
Labels: infrastructure

#17663 [Flow] Always permute the accesses on inputs for elementwise consumer from namedop/reduction producer.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InterchangeTransposeGenericOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/interchange_transpose_generic_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17747 [Flow] Enable softmax-like fusion under aggressive fusion.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17706 [Flow] Make sink reshapes changes less conservative.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/SinkReshapes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/sink_reshapes.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia
