Repository iree-org/iree, pull requests merged in 2024-10, with the labels that each got.

#18656 Switch build_package to arm-hosted runner.
  .github/workflows/build_package.yml
Labels: infrastructure

#18634 [ExternalInterfaces] Make fill non-hoistableLeafOp, hoist linalg init operands
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#18658 [docs][pytorch] Add examples for compiling with external weights.
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation, integrations/pytorch

#18675 Adding a null HAL driver.
  CMakeLists.txt
  runtime/src/iree/hal/drivers/BUILD.bazel
  runtime/src/iree/hal/drivers/CMakeLists.txt
  runtime/src/iree/hal/drivers/init.c
  runtime/src/iree/hal/drivers/null/BUILD.bazel
  runtime/src/iree/hal/drivers/null/CMakeLists.txt
  runtime/src/iree/hal/drivers/null/README.md
  runtime/src/iree/hal/drivers/null/allocator.c
  runtime/src/iree/hal/drivers/null/allocator.h
  runtime/src/iree/hal/drivers/null/api.h
  runtime/src/iree/hal/drivers/null/buffer.c
  runtime/src/iree/hal/drivers/null/buffer.h
  runtime/src/iree/hal/drivers/null/channel.c
  runtime/src/iree/hal/drivers/null/channel.h
  runtime/src/iree/hal/drivers/null/command_buffer.c
  runtime/src/iree/hal/drivers/null/command_buffer.h
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/null/device.h
  runtime/src/iree/hal/drivers/null/driver.c
  runtime/src/iree/hal/drivers/null/driver.h
  runtime/src/iree/hal/drivers/null/event.c
  runtime/src/iree/hal/drivers/null/event.h
  runtime/src/iree/hal/drivers/null/executable.c
  runtime/src/iree/hal/drivers/null/executable.h
  runtime/src/iree/hal/drivers/null/executable_cache.c
  runtime/src/iree/hal/drivers/null/executable_cache.h
  runtime/src/iree/hal/drivers/null/registration/BUILD.bazel
  runtime/src/iree/hal/drivers/null/registration/CMakeLists.txt
  runtime/src/iree/hal/drivers/null/registration/driver_module.c
  runtime/src/iree/hal/drivers/null/registration/driver_module.h
  runtime/src/iree/hal/drivers/null/semaphore.c
  runtime/src/iree/hal/drivers/null/semaphore.h
Labels: hal/api

#18642 Adding vm.cast.f32.si64 and vm.cast.f32.ui64 ops
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ArithToVM/test/conversion_ops.mlir
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF32.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/utils/generated/op_table.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/conversion_ops_f32.mlir
Labels: compiler/dialects

#18751 Adding `iree_vm_context_fork` to fork a context.
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  runtime/bindings/python/py_module.cc
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/modules/hal/loader/module.c
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/io/parameters/module.c
  runtime/src/iree/modules/vmvx/module.c
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/context.c
  runtime/src/iree/vm/context.h
  runtime/src/iree/vm/dynamic/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/native_module.c
  runtime/src/iree/vm/native_module_cc.h
  runtime/src/iree/vm/native_module_test.cc
  runtime/src/iree/vm/native_module_test.h
  samples/custom_module/async/module.cc
  samples/custom_module/basic/module.cc
  samples/custom_module/dynamic/module.cc
  samples/custom_module/static/module.cc
  samples/custom_module/sync/module.cc
  tools/testing/e2e/iree-e2e-attention-test.cc
  tools/testing/e2e/iree-e2e-conv2d-test.cc
  tools/testing/e2e/iree-e2e-matmul-test.cc
Labels: runtime/vm

#18766 [CMake] Don't update compile definitions for imported targets for MSCV
  compiler/src/iree/compiler/API/CMakeLists.txt
Labels: infrastructure, platform/windows 🚪

#18762 [docs] Update and harmonize guids for deployment
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-compiler-from-release.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-driver-list.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-runtime-from-release.md
  docs/website/mkdocs.yml
Labels: documentation

#18347 [GPU] Adding support for opt pass plugins during AMDGPU executable serialization
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/CMakeLists.txt
  compiler/plugins/target/ROCM/test/opt_pass_plugin/GPUHello.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/gpu_hello.mlir
Labels: compiler/tools, codegen/rocm

#18799 Produce releases for Python 3.13.
  .github/workflows/build_package.yml
  .github/workflows/pkgci_build_packages.yml
  build_tools/pkgci/build_linux_packages.sh
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/install_macos_deps.sh
  build_tools/python_deploy/install_windows_deps.ps1
Labels: infrastructure, bindings/python

#18795 Run ONNX model tests as part of pkgci_test_onnx.
  .github/workflows/pkgci_test_onnx.yml
Labels: infrastructure, integrations/onnx

#18682 Warn when --iree-llvmcpu-target-cpu defaults to "generic".
  build_tools/bazel/iree_check_test.bzl
  build_tools/bazel/iree_e2e_generated_runner_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  build_tools/cmake/iree_static_linker_test.cmake
  compiler/plugins/target/LLVMCPU/BUILD.bazel
  compiler/plugins/target/LLVMCPU/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.h
  compiler/plugins/target/LLVMCPU/ResolveCPUAndCPUFeatures.cpp
  compiler/plugins/target/LLVMCPU/ResolveCPUAndCPUFeatures.h
  runtime/src/iree/hal/drivers/local_sync/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/cts/CMakeLists.txt
  samples/simple_embedding/BUILD.bazel
  samples/simple_embedding/CMakeLists.txt
  samples/static_library/CMakeLists.txt
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/convolution/BUILD.bazel
  tests/e2e/convolution/CMakeLists.txt
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg_ext_ops/BUILD.bazel
  tests/e2e/linalg_ext_ops/CMakeLists.txt
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/tensor_ops/BUILD.bazel
  tests/e2e/tensor_ops/CMakeLists.txt
  tests/e2e/tosa_ops/BUILD.bazel
  tests/e2e/tosa_ops/CMakeLists.txt
Labels: codegen/llvm, compiler/tools, quality of life 😊

#18823 Skip ROCM/test/opt_pass_plugin on Windows while broken.
  compiler/plugins/target/ROCM/test/opt_pass_plugin/CMakeLists.txt
Labels: platform/windows 🚪, codegen/rocm

#18832 Run `compiler/src/iree/compiler/API/generate_exports.py`.
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
Labels: compiler/api

#18841 Fix excluded_tests names for failing Windows tests.
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#18859 Switch windows workflow to run on Azure hosted ARC runner
  .github/workflows/ci_windows_x64_msvc.yml
Labels: infrastructure, platform/windows 🚪

#18882 Preserving `nosideeffects` on func.func -> util.func import.
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/iree_import_public.mlir
Labels: compiler/dialects

#18883 Emit an error when affinity analysis fails.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ConvertToStream.cpp
Labels: compiler/dialects

#18911 Minor comment/style tweaks to the null HAL driver.
  .github/CODEOWNERS
  runtime/src/iree/hal/drivers/null/README.md
  runtime/src/iree/hal/drivers/null/allocator.c
  runtime/src/iree/hal/drivers/null/allocator.h
  runtime/src/iree/hal/drivers/null/buffer.c
  runtime/src/iree/hal/drivers/null/buffer.h
  runtime/src/iree/hal/drivers/null/channel.c
  runtime/src/iree/hal/drivers/null/channel.h
  runtime/src/iree/hal/drivers/null/command_buffer.c
  runtime/src/iree/hal/drivers/null/command_buffer.h
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/null/device.h
  runtime/src/iree/hal/drivers/null/driver.c
  runtime/src/iree/hal/drivers/null/driver.h
  runtime/src/iree/hal/drivers/null/event.c
  runtime/src/iree/hal/drivers/null/event.h
  runtime/src/iree/hal/drivers/null/executable.c
  runtime/src/iree/hal/drivers/null/executable.h
  runtime/src/iree/hal/drivers/null/executable_cache.c
  runtime/src/iree/hal/drivers/null/executable_cache.h
  runtime/src/iree/hal/drivers/null/semaphore.c
Labels: hal/api, cleanup 🧹

#18912 Adding HAL semaphore support for statuses-as-failure-payloads.
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
  runtime/src/iree/hal/drivers/hip/event_semaphore.c
  runtime/src/iree/hal/semaphore.h
Labels: hal/api

#18916 Work around missing pybind in BYO LLVM build
  build_tools/cmake/build_and_test_byo_llvm.sh
  build_tools/llvm/byo_llvm.sh
Labels: bindings/python

#18933 Adding 'amdgpu' target device and flatbuffer for HAL executables.
  compiler/plugins/target/ROCM/BUILD.bazel
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  runtime/src/iree/schemas/BUILD.bazel
  runtime/src/iree/schemas/CMakeLists.txt
  runtime/src/iree/schemas/amdgpu_executable_def.fbs
Labels: hal/amdgpu

#18944 Registering the ROCDL dialect in init_mlir_dialects.
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_mlir_dialects.h
Labels: compiler/tools

#18950 Switching VM's EraseUnusedCallOp pattern to a pass.
  compiler/src/iree/compiler/API/Internal/BUILD.bazel
  compiler/src/iree/compiler/API/Internal/CMakeLists.txt
  compiler/src/iree/compiler/API/Internal/IREEOptToolEntryPoint.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/test/control_flow_folding.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/DropUnusedCalls.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/drop_unused_calls.mlir
Labels: compiler/dialects, performance ⚡

#18945 Adding a flag to force indirect command buffers on in non-reusable cases.
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/OutlineMemoizeRegions.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/DropUnusedCalls.cpp
  tests/compiler_driver/streams.mlir
Labels: compiler/dialects

#18957 Improving VM conversion performance.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Explorer.h
  compiler/src/iree/compiler/Dialect/Util/Analysis/GlobalTable.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/ImportUtils.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/StandardToVM/Patterns.h
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/ConvertStructuralOps.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/Patterns.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/UtilToVM/Patterns.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  compiler/src/iree/compiler/Dialect/VM/Transforms/Conversion.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/Modules/HAL/Inline/Transforms/Passes.cpp
  compiler/src/iree/compiler/Modules/HAL/Loader/Transforms/Passes.cpp
Labels: compiler/dialects, performance ⚡

#18966 Adding a HAL module debug sink interface.
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  runtime/bindings/python/hal.cc
  runtime/bindings/tflite/interpreter.c
  runtime/src/iree/base/config.h
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/hal/BUILD.bazel
  runtime/src/iree/modules/hal/CMakeLists.txt
  runtime/src/iree/modules/hal/debugging.c
  runtime/src/iree/modules/hal/debugging.h
  runtime/src/iree/modules/hal/inline/BUILD.bazel
  runtime/src/iree/modules/hal/inline/CMakeLists.txt
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/modules/hal/inline/module.h
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/hal/module.h
  runtime/src/iree/modules/hal/utils/buffer_diagnostics.c
  runtime/src/iree/modules/hal/utils/buffer_diagnostics.h
  runtime/src/iree/runtime/session.c
  runtime/src/iree/tooling/context_util.c
  samples/simple_embedding/simple_embedding.c
Labels: runtime

#18970 Using standard C++ atomic enums on MSVC.
  runtime/src/iree/base/internal/atomics_msvc.h
Labels: runtime, platform/windows 🚪

#18974 [NFC] Cleanups to flow op folders.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
Labels: compiler/dialects, cleanup 🧹

#18964 Only add cpu-features test suffixes on `llvm-cpu` target backend
  build_tools/cmake/iree_check_test.cmake
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
Labels: infrastructure, codegen/llvm
