Repository iree-org/iree, pull requests merged in 2024-09, with the labels that each got.

#18403 Use new cpubuilder dockerfile for ASan and TSan jobs.
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
Labels: infrastructure

#18402 Bump iree-test-suites commit used for ONNX tests.
  .github/workflows/pkgci_regression_test.yml
Labels: infrastructure

#18421 Drop Docker and remote ccache usage from publish_website.yml.
  .github/workflows/publish_website.yml
Labels: infrastructure

#18422 Use setup-emsdk instead of emscripten dockerfile in samples.yml.
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/emscripten.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
Labels: infrastructure, cleanup 🧹, platform/web 🌐

#18425 Set CC and CXX environment variables using 'env' in workflows.
  .github/workflows/ci.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
Labels: infrastructure

#17996 [BUILD] change cuda and hip to default off
  .github/workflows/ci.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  CMakeLists.txt
  build_tools/cmake/build_all.sh
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/ctest_all.sh
  build_tools/pkgci/build_linux_packages.sh
  build_tools/pkgci/build_tests_using_package.sh
  build_tools/python_deploy/build_linux_packages.sh
  build_tools/python_deploy/build_windows_packages.ps1
  compiler/setup.py
  docs/website/docs/building-from-source/getting-started.md
  runtime/setup.py
Labels: infrastructure, hal/cuda, hal/hip

#18420 Run all framework sanity check tests and organize jobs.
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/pkgci_test_tensorflow.yml
  .github/workflows/pkgci_unit_test.yml
  build_tools/cmake/run_tf_tests.sh
  compiler/bindings/python/test/extras/fx_importer_test.py
  compiler/bindings/python/test/extras/onnx_importer_test.py
Labels: infrastructure, integrations/tensorflow, bindings/python, integrations/pytorch, integrations/onnx

#18431 Refresh release process documentation.
  RELEASING.md
  docs/website/docs/developers/debugging/releases.md
  docs/website/docs/developers/general/release-management.md
Labels: documentation

#18429 Enable ccache in riscv build script and workflow.
  build_tools/cmake/build_riscv.sh
Labels: infrastructure

#18435 Remove old `ireec` console script in favor of `iree-compile`.
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/iree/compiler/tools/scripts/iree_compile/__main__.py
  compiler/setup.py
Labels: bindings/python, compiler/api, cleanup 🧹

#18454 Update and pin dependencies
  .github/workflows/build_package.yml
  .github/workflows/bump_torch_mlir.yml
  .github/workflows/ci.yml
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
  .github/workflows/ci_macos_x64_clang.yml
  .github/workflows/ci_windows_x64_msvc.yml
  .github/workflows/lint.yml
  .github/workflows/oneshot_candidate_release.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/pkgci_test_tensorflow.yml
  .github/workflows/pkgci_unit_test.yml
  .github/workflows/publish_website.yml
  .github/workflows/samples.yml
  .github/workflows/schedule_candidate_release.yml
  .github/workflows/setup.yml
  .github/workflows/validate_and_publish_release.yml
Labels: infrastructure

#18399 Fixing leak when VM disassembly fails and making failure non-fatal.
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
Labels: runtime/vm

#18381 [Infra] Initial Migration off GCP Runners
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/pkgci_build_packages.yml
Labels: infrastructure

#18486 [PACKAGE] fix: make function really use the default value
  compiler/setup.py
  runtime/setup.py
Labels: bindings/python

#18522 Remove stale comments about cache from workflows.
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
Labels: infrastructure

#18511 [Infra] Migrate rest of linux builder workflows off GCP runners.
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
  build_tools/cmake/build_and_test_asan.sh
  build_tools/cmake/build_and_test_tsan.sh
  build_tools/cmake/setup_sccache.sh
  compiler/src/iree/compiler/ConstEval/test/BUILD.bazel
  compiler/src/iree/compiler/ConstEval/test/CMakeLists.txt
  docs/website/docs/developers/debugging/sanitizers.md
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
Labels: infrastructure

#18526 Disable workflows still relying on GCP self-hosted runners.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
Labels: infrastructure

#18529 Skip tests that have been failing on Windows nightly builds.
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#18533 Switch build_test_all_bazel to new dockerfile and runners.
  .bazelversion
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_bazel.yml
  WORKSPACE
  build_tools/bazel/build_test_all.sh
  build_tools/bazel/install_bazelisk.sh
  build_tools/bazel/workspace.bzl
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure

#18567 Fix experimental/web/ samples after recent changes.
  experimental/web/sample_dynamic/CMakeLists.txt
  experimental/web/sample_dynamic/device_sync.c
  experimental/web/sample_static/device_sync.c
Labels: platform/web 🌐

#18566 Remove build_tools/docker/ files.
  .dockerignore
  .github/workflows/ci_linux_x64_bazel.yml
  build_tools/docker/README.md
  build_tools/docker/__init__.py
  build_tools/docker/context/install_basics.sh
  build_tools/docker/context/install_bazel.sh
  build_tools/docker/context/install_ccache.sh
  build_tools/docker/context/install_cmake.sh
  build_tools/docker/context/install_iree_deps.sh
  build_tools/docker/context/install_python_deps.sh
  build_tools/docker/context/install_rocm.sh
  build_tools/docker/context/install_vulkan.sh
  build_tools/docker/dockerfiles/base-arm64.Dockerfile
  build_tools/docker/dockerfiles/base-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/base.Dockerfile
  build_tools/docker/dockerfiles/riscv-toolchain-builder.Dockerfile
  build_tools/docker/gcloud_setup.sh
  build_tools/docker/get_image_name.py
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/docker/utils.py
  build_tools/github_actions/runner/config/systemd/scripts/preload_docker.sh
  build_tools/github_actions/runner/config/systemd/system/preload-docker.service
  build_tools/scripts/fetch_cuda_deps.sh
Labels: infrastructure, cleanup 🧹

#18595 Fixing cconv printing of function signatures with multiple tuples.
  tools/iree-dump-module-main.c
Labels: bug 🐞, runtime/tools

#18558 Bump cpubuilder dockerfile image to newer multi-arch version.
  .github/workflows/ci_linux_arm64_clang.yml
  .github/workflows/ci_linux_x64_bazel.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_clang_debug.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  .github/workflows/ci_linux_x64_gcc.yml
Labels: infrastructure

#18620 [docs] Update examples in the PyTorch+IREE guide
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation, integrations/pytorch

#18607 Simplifications around narrow dimensions in encodings.
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodings.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingBase.td
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.cpp
  compiler/src/iree/compiler/Dialect/Encoding/IR/EncodingOps.h
  compiler/src/iree/compiler/DispatchCreation/SetEncoding.cpp
Labels: benchmarks:x86_64

#18592 Update references to nod-ai/SHARK-* repository names.
  build_tools/cmake/presets/turbine.json
  docs/website/docs/community/index.md
  docs/website/docs/developers/debugging/model-development.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation

#18639 Add testing for punet model variations.
  build_tools/pkgci/external_test_suite/attention_and_matmul_spec.mlir
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/regression_suite/shark-test-suite-models/conftest.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_mmdit.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
Labels: infrastructure
