Repository iree-org/iree, pull requests merged in 2024-03, with the labels that each got.

#16626 Unroll fixed-trip-count loops within mmt4d ukernel tile functions.
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_base.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_bf16.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_dotprod.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_fp16fml.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_fullfp16.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_i8mm.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx2_fma.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_base.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_bf16.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_vnni.c
  runtime/src/iree/builtins/ukernel/common.h
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16578 [CPU] Introduce dummy cache-level tiling in mmt4d pipeline
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16627 [rocm] Backport and adjust some HIP allocator and buffer changes
  experimental/rocm/context_wrapper.h
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/rocm_allocator.c
  experimental/rocm/rocm_device.c
Labels: hal/rocm

#16636 [gpu] Improve vector distribution error reporting
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUVectorDistribution.h
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUVectorDistribute.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/TransformExtensions/LLVMGPUExtensions.cpp
Labels: codegen

#16642 [cuda][hip] Shorten deferred queue worker name
  experimental/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/cuda/pending_queue_actions.c
Labels: hal/cuda, hal/hip

#16643 [hip][rocm] Fix hipGetDeviceProperties usage after ROCm 6.0
  experimental/hip/dynamic_symbol_tables.h
  experimental/hip/hip_driver.c
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/rocm_driver.c
Labels: hal/hip

#16644 [hip] Drop unnecessary __HIP_PLATFORM_HCC__ definition
  experimental/hip/CMakeLists.txt
Labels: hal/hip

#16635 Using iree.abi.name consistently for arg/result names.
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/test/wrap_entry_points.mlir
  runtime/bindings/tflite/java/org/tensorflow/lite/tests/simple_add.mlir
  runtime/bindings/tflite/testdata/add_dynamic.mlir
  runtime/bindings/tflite/testdata/add_multi.mlir
  runtime/bindings/tflite/testdata/add_static.mlir
Labels: cleanup 🧹

#16613 [docs] Document how to use the dynamic ASan runtime
  docs/website/docs/developers/debugging/sanitizers.md
Labels: documentation

#16655 faster narrow mmt4d ukernels on x86
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx2_fma.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_base.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_avx512_vnni.c
Labels: performance ⚡, benchmarks:x86_64

#16656 Refining emplace allocations to handle dynamic shapes.
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EmplaceAllocations.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
Labels: compiler/dialects, performance ⚡

#16638 [cuda][hip] Add support for semaphore multi wait
  experimental/hip/CMakeLists.txt
  experimental/hip/event_semaphore.c
  experimental/hip/event_semaphore.h
  experimental/hip/hip_device.c
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/event_semaphore.c
  runtime/src/iree/hal/drivers/cuda/event_semaphore.h
Labels: hal/cuda, hal/hip

#16641 [hip] Enable stream command buffer dispatch tracing
  experimental/hip/CMakeLists.txt
  experimental/hip/api.h
  experimental/hip/hip_device.c
  experimental/hip/registration/driver_module.c
  experimental/hip/stream_command_buffer.c
  experimental/hip/stream_command_buffer.h
  experimental/hip/tracing.c
  experimental/hip/tracing.h
Labels: hal/hip

#16661 [rocm] Port optional symbols support for hipGetDeviceProperties
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/dynamic_symbols.c
  experimental/rocm/dynamic_symbols.h
  experimental/rocm/rocm_driver.c
Labels: hal/rocm

#16673 Add missing macros to dotprod ukernel
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_dotprod.c
Labels: benchmarks:android-cpu

#16667 Making the ElideAsyncCopiesPass support stream.async.slice.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceHazards.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamTypes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ElideAsyncCopies.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/elide_async_copies.mlir
Labels: compiler/dialects, performance ⚡, benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16681 Use correct 'webgpu-spirv' flag name in samples.
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/sample_webgpu/index.html
  experimental/web/sample_webgpu/iree_api_webgpu.js
Labels: platform/web 🌐

#16680 Drop lists of VulkanSPIRV flags.
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/VulkanSPIRV/VulkanSPIRVTarget.h
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/multiple_target_env_conversion.mlir
  compiler/src/iree/compiler/Dialect/Vulkan/Utils/test/target_env_conversion.mlir
Labels: codegen/spirv, cleanup 🧹

#16685 Use createOrFold for linalg_ext dim queries.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
Labels: compiler/dialects, cleanup 🧹

#16611 [GlobalOpt][Flow] Add GlobalOp folding to FoldUnitExtentDims
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FoldUnitExtentDims.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fold_unit_dims.mlir
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16675 Update external test suite version pin and XFAIL sets.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  experimental/regression_suite/external_test_suite/config_cpu_llvm_sync.json
  experimental/regression_suite/external_test_suite/config_gpu_rocm_rdna3.json
  experimental/regression_suite/external_test_suite/config_gpu_vulkan.json
Labels: infrastructure

#16690 [CPU] Centralize pipeline lowering options and apply them consistently.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16615 [linalg] Add the lowering of quantized_batch_matmul op.
  compiler/src/iree/compiler/InputConversion/Common/QuantizedMatmulToMatmul.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/linalg_quantized_matmul_to_matmul.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16701 [hip] Mark device local + host visible as low performance
  experimental/hip/hip_allocator.c
Labels: hal/hip

#16703 Add timeouts to pytest cases in pkgci/iree_tests.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
Labels: infrastructure

#16705 Disable external test suite on ROCm while flaky.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
Labels: infrastructure

#16707 [hip] Make graph command buffer as default for initialization
  experimental/hip/hip_device.c
Labels: hal/hip

#16718 Retry failed pytest cases to try limiting flakes.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
Labels: infrastructure

#16727 [EmitC] Fix error message in compiler driver
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
Labels: compiler/emitc

#16725 Update JAX MLIR artifacts for benchmarking
  build_tools/python/e2e_test_framework/models/jax_models.py
  tests/e2e/test_artifacts/generated_e2e_test_fetch_models.cmake
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16735 Adding legacy ROCM tracing zones.
  experimental/rocm/direct_command_buffer.c
Labels: hal/rocm

#16736 [rocm] Fix IREE_ROCM_TRACE_ZONE symbol
  experimental/rocm/direct_command_buffer.c
Labels: hal/rocm

#16739 Disabling inlining on the torch async function.
  compiler/plugins/input/Torch/InputConversion/FuncConversion.cpp
  compiler/plugins/input/Torch/InputConversion/test/func_conversion.mlir
Labels: integrations/pytorch

#16730 Replace `unaryOperator` by EmitC LogicalNotOp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/test/control_flow_ops.mlir
  runtime/src/iree/vm/ops_emitc.h
Labels: compiler/emitc

#16746 Adding `iree.tensor.trace` support for printf debugging.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InjectTensorTracing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/inject_tensor_tracing.mlir
Labels: compiler/dialects, quality of life 😊

#16759 [EmitC] Fix some of the TODOs introduced in #16357
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/add.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/calling_convention.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/control_flow.mlir
  compiler/src/iree/compiler/Dialect/VM/Target/C/test/global_ops.mlir
Labels: compiler/emitc

#16752 Static link when building RISC-V Linux benchmark tools
  build_tools/cmake/build_riscv.sh
Labels: benchmarks:comp-stats

#16761 Update 'iree-samples' -> 'iree-experimental' after rename.
  build_tools/python/e2e_test_framework/models/torch_models.py
  docs/website/docs/community/index.md
  docs/website/docs/developers/debugging/integration-tests.md
  docs/website/docs/developers/general/developer-overview.md
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  docs/website/docs/reference/bindings/c-api.md
  docs/website/docs/reference/bindings/python.md
  samples/README.md
  samples/vision_inference/README.md
Labels: documentation, cleanup 🧹

#16778 Don't link `opencl.bc` when compiling for ROCm.
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
Labels: codegen/rocm

#16783 Improving fixupGlobalMutability in IREE::VM::GlobalInitializationPass.
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
Labels: compiler/dialects, performance ⚡

#16803 [rocm] Excises (almost) dependence on /opt/rocm from the compiler.
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/ROCM/builtins/ukernel/CMakeLists.txt
  compiler/plugins/target/ROCM/test/BUILD.bazel
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  experimental/hip/cts/CMakeLists.txt
  experimental/hip/tests/stablehlo_ops/CMakeLists.txt
  experimental/hip/tests/tosa_ops/CMakeLists.txt
  experimental/rocm/CMakeLists.txt
  experimental/rocm/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/testdata/command_buffer_dispatch_test.mlir
  runtime/src/iree/hal/cts/testdata/command_buffer_push_constants_test.mlir
  runtime/src/iree/hal/cts/testdata/executable_cache_test.mlir
Labels: cleanup 🧹, codegen/rocm

#16805 [rocm] Fix crash when executable source information is missing
  experimental/rocm/direct_command_buffer.c
  experimental/rocm/native_executable.c
  experimental/rocm/native_executable.h
Labels: hal/rocm

#16811 Enable LTO optimization by default for runtime releases.
  CMakeLists.txt
  build_tools/cmake/build_runtime.sh
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/external_cc_library.cmake
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_library.cmake
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_setup_toolchain.cmake
  experimental/regression_suite/external_test_suite/config_cpu_llvm_sync.json
  experimental/regression_suite/external_test_suite/config_gpu_vulkan.json
  runtime/CMakeLists.txt
  runtime/setup.py
Labels: infrastructure, performance ⚡

#16678 [CPU] Add s8s4s32 i8mm ukernel
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_i8mm.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_internal.h
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Labels: benchmarks:comp-stats, benchmarks:android-cpu

#16822 Trace allocate/deallocate in rocm_allocator.
  experimental/rocm/rocm_allocator.c
Labels: performance ⚡, hal/rocm

#16824 [CPU] Remove 8x8x16 i8mm microkernel
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_i8mm.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_internal.h
  runtime/src/iree/builtins/ukernel/tools/mmt4d_benchmark.c
  runtime/src/iree/builtins/ukernel/tools/mmt4d_test.c
Labels: benchmarks:comp-stats

#16800 Bump numpy dep up to the 2.0 prerelease.
  runtime/bindings/python/iree/runtime/build_requirements.txt
  runtime/pyproject.toml
Labels: infrastructure, runtime, bindings/python

#16830 Enabling external HIP HSACO support ala CUDA external PTX support.
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.cpp
  compiler/plugins/target/ROCM/ROCMTargetUtils.h
  compiler/plugins/target/ROCM/builtins/ukernel/CMakeLists.txt
  experimental/regression_suite/external_test_suite/config_gpu_rocm_rdna3.json
  experimental/regression_suite/tests/pregenerated/test_llama2.py
  experimental/regression_suite/tests/pregenerated/test_ukernel.py
  integrations/pjrt/python_packages/iree_rocm_plugin/setup.py
  integrations/pjrt/src/CMakeLists.txt
  samples/custom_dispatch/hip/CMakeLists.txt
  samples/custom_dispatch/hip/kernels/CMakeLists.txt
  samples/custom_dispatch/hip/kernels/example.mlir
  samples/custom_dispatch/hip/kernels/kernels.cu
Labels: hal/rocm

#16827 [CPU] Add data-tiling for s8s4s32 arm64 ukernels
  compiler/src/iree/compiler/Codegen/Common/CPU/CPULowerToUKernels.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/CPU/test/lower_to_ukernel_ops.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#16801 Start testing real weight models from external test suite.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  experimental/regression_suite/external_test_suite/onnx_cpu_llvm_sync.json
  experimental/regression_suite/external_test_suite/onnx_gpu_rocm_rdna3.json
  experimental/regression_suite/external_test_suite/onnx_gpu_vulkan.json
  experimental/regression_suite/external_test_suite/pytorch_cpu_llvm_task.json
Labels: infrastructure, integrations/pytorch

#16908 [docs][website] Add subsection on profiling with perf and pprof
  docs/website/docs/developers/debugging/compile-time-regressions.md
Labels: documentation, performance ⚡, compiler/tools

#16898 [LLVMGPU] Send skinny matmuls to the gpu reduction pipeline
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/config_matvec.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/gpu_set_num_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/set_transform_strategy_matmul.mlir
Labels: benchmarks:cuda

#16912 [docs][website] Fix up indexing
  docs/website/docs/developers/debugging/compile-time-regressions.md
Labels: documentation, cleanup 🧹

#16879 Ukernels: replace boilerplate by tables.
  runtime/src/iree/builtins/ukernel/BUILD.bazel
  runtime/src/iree/builtins/ukernel/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/arm_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/arm_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/arm_64/common_arm_64.h
  runtime/src/iree/builtins/ukernel/arch/arm_64/common_arm_64_entry_point.h
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/arm_64/mmt4d_arm_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/arm_64/pack_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/query_tile_sizes_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/arm_64/unpack_arm_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/BUILD.bazel
  runtime/src/iree/builtins/ukernel/arch/x86_64/CMakeLists.txt
  runtime/src/iree/builtins/ukernel/arch/x86_64/common_x86_64.h
  runtime/src/iree/builtins/ukernel/arch/x86_64/common_x86_64_entry_point.h
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_internal.h
  runtime/src/iree/builtins/ukernel/arch/x86_64/mmt4d_x86_64_tiles.inl
  runtime/src/iree/builtins/ukernel/arch/x86_64/pack_x86_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/query_tile_sizes_x86_64_entry_point.c
  runtime/src/iree/builtins/ukernel/arch/x86_64/unpack_x86_64_entry_point.c
  runtime/src/iree/builtins/ukernel/mmt4d_tile_generic.c
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16923 [LLVMGPU][ROCm] Tweak preferred tile sizes in the MatmulSimt pipeline
  compiler/src/iree/compiler/Codegen/LLVMGPU/KernelConfig.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute.mlir
Labels: performance ⚡, benchmarks:cuda, codegen/rocm
