Repository iree-org/iree, pull requests merged in 2024-08, with the labels that each got.

#18083 Update iree test cache location for new mi250 cluster
  .github/workflows/pkgci_regression_test.yml
Labels: infrastructure

#17993 [Flow] Extend CollapseDimensionsPass
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CollapseDimensions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_dimensions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats

#18089 Use ccache in runtime builds.
  .github/workflows/ci.yml
  build_tools/cmake/build_runtime.sh
Labels: infrastructure, runtime

#18072 Drop regression_suite install from setup_venv.py.
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_tensorflow_cpu.yml
  .github/workflows/pkgci_unit_test.yml
  build_tools/pkgci/setup_venv.py
  experimental/regression_suite/README.md
  integrations/tensorflow/test/requirements.txt
Labels: infrastructure, cleanup 🧹

#18021 [runtime][hip] Propagate errors through semaphores
  runtime/src/iree/base/internal/threading.h
  runtime/src/iree/base/internal/threading_darwin.c
  runtime/src/iree/base/internal/threading_pthreads.c
  runtime/src/iree/base/internal/threading_win32.c
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/drivers/cuda/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/event_semaphore.c
  runtime/src/iree/hal/drivers/hip/pending_queue_actions.c
  runtime/src/iree/hal/drivers/local_sync/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/local_task/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/cts/CMakeLists.txt
  runtime/src/iree/hal/semaphore.h
Labels: runtime, hal/hip

#17600 [EmitC][NFC] Use builder with default arguments for opaque_call ops
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/ConvertVMToEmitC.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/VMToEmitC/EmitCBuilders.cpp
Labels: compiler/emitc

#18035 Refresh docs for GitHub Actions usage.
  README.md
  build_tools/scripts/get_latest_green.sh
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
  docs/website/docs/developers/general/release-management.md
  docs/website/mkdocs.yml
Labels: documentation, infrastructure

#18076 Install and use clang in GPU test jobs.
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/samples.yml
Labels: infrastructure

#18070 Move build_and_test_android from ci.yml to pkgci.yml.
  .github/workflows/build_and_test_android.yml
  .github/workflows/ci.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_android.yml
Labels: infrastructure, platform/android 🤖

#18108 Fix path filtering in ci_linux_x86_clang_asan.yml.
  .github/workflows/ci_linux_x64_clang_asan.yml
  samples/custom_dispatch/cpu/embedded/example_hal.mlir
Labels: infrastructure

#18107 Replace `build_all` job from `ci.yml` with `ci_linux_x64_clang.yml`.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
  README.md
Labels: infrastructure, cleanup 🧹

#18119 Revert path filter changes from ci*.yml workflows.
  .github/workflows/ci.yml
  .github/workflows/ci_linux_x64_clang.yml
  .github/workflows/ci_linux_x64_clang_asan.yml
Labels: infrastructure

#18117 Trim installed packages in samples.yml.
  .github/workflows/samples.yml
Labels: infrastructure

#18122 Adding flag placeholders to semaphores/events.
  experimental/web/sample_webgpu/main.c
  experimental/webgpu/nop_event.c
  experimental/webgpu/nop_event.h
  experimental/webgpu/webgpu_device.c
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
  runtime/bindings/python/hal.cc
  runtime/bindings/python/loop.cc
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/channel.h
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/cts/event_test.h
  runtime/src/iree/hal/cts/file_test.h
  runtime/src/iree/hal/cts/semaphore_submission_test.h
  runtime/src/iree/hal/cts/semaphore_test.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_device.c
  runtime/src/iree/hal/drivers/local_sync/sync_event.c
  runtime/src/iree/hal/drivers/local_sync/sync_event.h
  runtime/src/iree/hal/drivers/local_task/task_device.c
  runtime/src/iree/hal/drivers/local_task/task_event.c
  runtime/src/iree/hal/drivers/local_task/task_event.h
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/vulkan/native_event.cc
  runtime/src/iree/hal/drivers/vulkan/native_event.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/event.c
  runtime/src/iree/hal/event.h
  runtime/src/iree/hal/file.h
  runtime/src/iree/hal/queue.h
  runtime/src/iree/hal/semaphore.c
  runtime/src/iree/hal/semaphore.h
  runtime/src/iree/hal/utils/debug_allocator.c
  runtime/src/iree/hal/utils/file_transfer.c
  runtime/src/iree/io/parameter_index_provider.c
  runtime/src/iree/modules/check/module.cc
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/tooling/function_util.c
  samples/custom_module/async/main.c
  samples/custom_module/async/module.cc
  tools/iree-benchmark-executable-main.c
  tools/iree-benchmark-module-main.cc
Labels: hal/api

#18129 Migrate uses of build_host_tools.sh and delete it.
  .github/workflows/samples.yml
  build_tools/cmake/build_host_tools.sh
  experimental/web/build_and_test_samples.sh
  experimental/web/sample_dynamic/build_sample.sh
  experimental/web/sample_static/build_sample.sh
  experimental/web/sample_webgpu/build_sample.sh
  experimental/web/testing/build_tests.sh
Labels: infrastructure, cleanup 🧹, platform/web 🌐

#18100 Creating reusable command buffers in stream->hal lowering.
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/ConvertToSPIRVPass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMapMemRefStorageClass.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/Utils.h
  compiler/src/iree/compiler/Codegen/SPIRV/test/materialize_executable_conditions.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/physical_storage_buffer_addresses.mlir
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Analysis/BindingLayout.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Analysis/Captures.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/Captures.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/BUILD.bazel
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Utils.h
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeInterfaces.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/OutlineMemoizeRegions.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/IPO.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/ipo.mlir
  runtime/src/iree/hal/drivers/local_task/task_command_buffer.c
Labels: compiler/dialects

#18162 Switch from build_runtime.sh to inlined CMake commands.
  .github/workflows/ci.yml
Labels: infrastructure, cleanup 🧹

#18158 Adding iree_hal_deferred_buffer_t helper.
  runtime/src/iree/hal/allocator.h
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
Labels: hal/api

#18159 Adding split iree_hal_buffer_prepare_map_range/commit_map_range.
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
Labels: hal/api

#18164 Switch from build_runtime_*.sh to inlined CMake commands.
  .github/workflows/ci.yml
  build_tools/cmake/build_runtime_small.sh
  build_tools/cmake/build_runtime_tracing.sh
  runtime/src/iree/hal/drivers/hip/dynamic_symbols.c
Labels: infrastructure, cleanup 🧹

#18172 Update community projects
  docs/website/docs/community/index.md
  docs/website/docs/guides/deployment-configurations/bare-metal.md
Labels: documentation

#18175 Remove leftovers from the old CppEmitter
  compiler/src/iree/compiler/Dialect/VM/Target/C/CppEmitter.h
  compiler/src/iree/compiler/Dialect/VM/Target/C/README.md
Labels: cleanup 🧹, compiler/emitc

#18114 [LLVMCPU] Add option `onlyFuseProducerInputOperands` to tileRootFuseConsumerProducer Pass
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUTileRootAndFuseProducerConsumer.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/tile-root-fuse-consumer-producer.mlir
Labels: benchmarks:x86_64

#18212 [LLVMGPU] Drop WorkgroupSpecializationPass
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/WorkgroupSpecializationPass.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/workgroup_specialization.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/workgroup_specialization_pipeline_test.mlir
Labels: benchmarks:cuda, benchmarks:vulkan-nvidia

#18190 [Codegen][CPU] Eliminate all-true vector masks after vectorization
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Labels: benchmarks:x86_64

#18222 Cleanup unused Dockerfiles and build_all.yml workflow.
  .github/workflows/build_all.yml
  .github/workflows/ci.yml
  build_tools/docker/dockerfiles/android.Dockerfile
  build_tools/docker/dockerfiles/nvidia-bleeding-edge.Dockerfile
  build_tools/docker/dockerfiles/nvidia.Dockerfile
  build_tools/docker/manage_images.py
  build_tools/docker/prod_digests.txt
  build_tools/github_actions/runner/config/systemd/scripts/preload_docker.sh
  build_tools/github_actions/runner/gcp/image_setup.sh
  docs/website/docs/developers/general/contributing.md
Labels: infrastructure, cleanup 🧹

#18231 Converting HIP target to support executable-create2.
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceAnalysis.h
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceSet.cpp
  compiler/src/iree/compiler/Dialect/HAL/Analysis/DeviceSet.h
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Utils/ExecutableDebugInfoUtils.cpp
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/cts/CMakeLists.txt
  runtime/src/iree/hal/cts/command_buffer_dispatch_test.h
  runtime/src/iree/hal/cts/command_buffer_push_constants_test.h
  runtime/src/iree/hal/cts/descriptor_set_layout_test.h
  runtime/src/iree/hal/cts/executable_cache_test.h
  runtime/src/iree/hal/cts/pipeline_layout_test.h
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.h
  runtime/src/iree/hal/drivers/hip/pipeline_layout.c
  runtime/src/iree/hal/drivers/hip/pipeline_layout.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/utils/executable_debug_info.c
  runtime/src/iree/hal/utils/executable_debug_info.h
  runtime/src/iree/schemas/executable_debug_info.fbs
  runtime/src/iree/schemas/hip_executable_def.fbs
  runtime/src/iree/vm/bytecode/dispatch.c
  tools/iree-benchmark-executable-main.c
Labels: hal/hip

#18237 Fix broken link on website and stop publishing some asset files.
  docs/website/docs/community/blog/posts/microkernels.md
  docs/website/mkdocs.yml
Labels: documentation

#18233 Converting CUDA target to support executable-create2.
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/CUDA/test/smoketest.mlir
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.cpp
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/cuda/native_executable.h
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.c
  runtime/src/iree/hal/drivers/cuda/pipeline_layout.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/schemas/cuda_executable_def.fbs
Labels: hal/cuda

#18247 [hip][cuda] Free resources on the completion thread.
  runtime/src/iree/hal/utils/deferred_work_queue.c
Labels: hal/cuda, hal/hip

#18259 Deprecate c2-standard-60 in gcp scripts.
  build_tools/github_actions/runner/gcp/create_templates.sh
Labels: infrastructure, cleanup 🧹

#18223 Switch ONNX ops test suite to use iree-org/iree-test-suites.
  .github/workflows/pkgci_regression_test.yml
  docs/website/docs/developers/general/testing-guide.md
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_cuda.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Labels: infrastructure

#18252 Switch some workflows to use `container:` instead of docker_run.sh.
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_gcc.yml
Labels: infrastructure, cleanup 🧹

#18255 Refactor how `linux_x64_clang_debug` uses Docker and scripts.
  .github/workflows/ci_linux_x64_clang_debug.yml
Labels: infrastructure, cleanup 🧹

#17751 Add e2e test suite for the Attention - CPU Backend
  tests/e2e/attention/BUILD.bazel
  tests/e2e/attention/CMakeLists.txt
  tests/e2e/attention/generate_e2e_attention_tests.py
  tools/testing/e2e/BUILD.bazel
  tools/testing/e2e/CMakeLists.txt
  tools/testing/e2e/iree-e2e-attention-test.cc
Labels: infrastructure, codegen, codegen/llvm

#18288 Fix link to onnx ops test suite.
  docs/website/docs/guides/ml-frameworks/onnx.md
Labels: documentation

#18307 Run GPU test jobs on changes to more paths.
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#18217 [compiler][stream] Avoid circular dependency between partitions in execution scheduling
  compiler/src/iree/compiler/Dialect/Stream/Analysis/Partitioning/ReferencePartitioning.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: compiler/dialects

#18243 [Python] copy _runtime python files to install folder
  runtime/bindings/python/CMakeLists.txt
Labels: bindings/python

#18262 Remove PyYAML dependency from Python bindings.
  CMakeLists.txt
  build_tools/cmake/iree_python.cmake
  build_tools/github_actions/CMakeLists.txt
  build_tools/github_actions/ci_requirements.txt
  build_tools/python_deploy/README.md
  build_tools/testing/gen_test_matrix.py
  compiler/pyproject.toml
  compiler/setup.py
  experimental/regression_suite/setup.py
  runtime/bindings/python/iree/runtime/build_requirements.txt
  runtime/pyproject.toml
  runtime/setup.py
Labels: infrastructure, bindings/python, cleanup 🧹

#18310 Add onnx to InputType enum
  compiler/bindings/python/iree/compiler/tools/core.py
Labels: bindings/python, integrations/onnx

#18315 Remove device "gpu number" specifications from model benchmarks.
  .github/workflows/pkgci_regression_test.yml
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/benchmarks/sdxl/conftest.py
Labels: infrastructure, infrastructure/benchmark

#18316 Avoid running `sudo apt update` on mi250 and mi300 runners.
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
Labels: infrastructure

#18318 Remove pre checkout MI300 step from workflows.
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_amd_mi300.yml
Labels: infrastructure

#18322 Switch from w7900 to using any persistent cache runner for CPU.
  .github/workflows/pkgci_regression_test.yml
Labels: infrastructure

#18312 Always run GPU test jobs, regardless of path filters.
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure

#18306 Converting Vulkan target to support executable-create2.
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/SPIRV/SPIRVMaterializeExecutableConditions.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  runtime/src/iree/hal/drivers/vulkan/BUILD.bazel
  runtime/src/iree/hal/drivers/vulkan/CMakeLists.txt
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.h
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.h
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/extensibility_util.h
  runtime/src/iree/hal/drivers/vulkan/native_executable.cc
  runtime/src/iree/hal/drivers/vulkan/native_executable.h
  runtime/src/iree/hal/drivers/vulkan/native_pipeline_layout.cc
  runtime/src/iree/hal/drivers/vulkan/native_pipeline_layout.h
  runtime/src/iree/hal/drivers/vulkan/pipeline_layout.cc
  runtime/src/iree/hal/drivers/vulkan/pipeline_layout.h
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/utils/executable_debug_info.c
  runtime/src/iree/schemas/executable_debug_info.fbs
  runtime/src/iree/schemas/vulkan_executable_def.fbs
Labels: hal/vulkan

#18309 Removing legacy pipeline layout and dispatch binding model.
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertCommandBufferOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/ConvertExecutableOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/HALToVM/test/command_buffer_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_dispatch2_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALBase.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALTypes.h
  compiler/src/iree/compiler/Dialect/HAL/Target/Devices/LocalDevice.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/DumpExecutableBenchmarks.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ElideRedundantCommands.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/MaterializeResourceCaches.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/RepeatDispatches.cpp
  compiler/src/iree/compiler/Dialect/HAL/hal.imports.mlir
  docs/website/docs/developers/design-docs/metal-hal-driver.md
  runtime/iree.natvis
  runtime/src/iree/hal/BUILD.bazel
  runtime/src/iree/hal/CMakeLists.txt
  runtime/src/iree/hal/api.h
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/device.h
  runtime/src/iree/hal/drivers/metal/executable.h
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/direct_command_buffer.cc
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
  runtime/src/iree/hal/executable_cache.c
  runtime/src/iree/hal/executable_cache.h
  runtime/src/iree/hal/local/executable_library_util.c
  runtime/src/iree/hal/local/executable_loader.c
  runtime/src/iree/hal/local/loaders/embedded_elf_loader.c
  runtime/src/iree/hal/local/loaders/static_library_loader.c
  runtime/src/iree/hal/local/loaders/system_library_loader.c
  runtime/src/iree/hal/local/loaders/vmvx_module_loader.c
  runtime/src/iree/hal/local/local_executable.c
  runtime/src/iree/hal/local/local_executable.h
  runtime/src/iree/hal/pipeline_layout.c
  runtime/src/iree/hal/pipeline_layout.h
  runtime/src/iree/hal/utils/deferred_command_buffer.c
  runtime/src/iree/modules/hal/exports.inl
  runtime/src/iree/modules/hal/module.c
  runtime/src/iree/modules/hal/types.c
  runtime/src/iree/modules/hal/types.h
  samples/custom_dispatch/cpu/embedded/example_hal.mlir
  samples/custom_dispatch/cpu/embedded/example_stream.mlir
  samples/custom_dispatch/cpu/embedded/example_transform.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_linalg.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_linalg_two_matmul.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_torch.mlir
  samples/custom_dispatch/cpu/mlp_plugin/mlp_tosa.mlir
  tools/iree-benchmark-executable-main.c
Labels: compiler/dialects, hal/api

#18299 [hip][cuda] Merge the tracing implementations.
  runtime/src/iree/hal/drivers/cuda/BUILD.bazel
  runtime/src/iree/hal/drivers/cuda/CMakeLists.txt
  runtime/src/iree/hal/drivers/cuda/cuda_device.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/graph_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/nccl_channel.c
  runtime/src/iree/hal/drivers/cuda/nccl_channel.h
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.c
  runtime/src/iree/hal/drivers/cuda/stream_command_buffer.h
  runtime/src/iree/hal/drivers/cuda/tracing.h
  runtime/src/iree/hal/drivers/hip/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.c
  runtime/src/iree/hal/drivers/hip/graph_command_buffer.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
  runtime/src/iree/hal/drivers/hip/rccl_channel.c
  runtime/src/iree/hal/drivers/hip/rccl_channel.h
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.c
  runtime/src/iree/hal/drivers/hip/stream_command_buffer.h
  runtime/src/iree/hal/drivers/hip/tracing.c
  runtime/src/iree/hal/drivers/hip/tracing.h
  runtime/src/iree/hal/utils/BUILD.bazel
  runtime/src/iree/hal/utils/CMakeLists.txt
  runtime/src/iree/hal/utils/stream_tracing.c
  runtime/src/iree/hal/utils/stream_tracing.h
Labels: hal/cuda, hal/hip

#18323 Converting Metal target to support executable-create2.
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Utils/ExecutableDebugInfoUtils.cpp
  runtime/src/iree/base/internal/threading_win32.c
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/drivers/cuda/native_executable.c
  runtime/src/iree/hal/drivers/hip/native_executable.c
  runtime/src/iree/hal/drivers/metal/CMakeLists.txt
  runtime/src/iree/hal/drivers/metal/builtin_executables.h
  runtime/src/iree/hal/drivers/metal/builtin_executables.m
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
  runtime/src/iree/hal/drivers/metal/direct_command_buffer.m
  runtime/src/iree/hal/drivers/metal/executable.h
  runtime/src/iree/hal/drivers/metal/executable.m
  runtime/src/iree/hal/drivers/metal/metal_buffer.h
  runtime/src/iree/hal/drivers/metal/metal_buffer.m
  runtime/src/iree/hal/drivers/metal/metal_device.m
  runtime/src/iree/hal/drivers/metal/pipeline_layout.h
  runtime/src/iree/hal/drivers/metal/pipeline_layout.m
  runtime/src/iree/hal/local/local_executable.c
  runtime/src/iree/schemas/cuda_executable_def.fbs
  runtime/src/iree/schemas/hip_executable_def.fbs
  runtime/src/iree/schemas/metal_executable_def.fbs
  runtime/src/iree/task/task.c
Labels: hal/metal

#18324 Disable Vulkan driver in macOS runtime packages.
  build_tools/python_deploy/build_macos_packages.sh
  runtime/setup.py
Labels: infrastructure, platform/macos 🍎, hal/vulkan

#18326 Dropping WGSLReplacePushConstantsPass.
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/src/iree/compiler/Codegen/WGSL/BUILD.bazel
  compiler/src/iree/compiler/Codegen/WGSL/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/Passes.td
  compiler/src/iree/compiler/Codegen/WGSL/WGSLReplacePushConstants.cpp
  compiler/src/iree/compiler/Codegen/WGSL/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/WGSL/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/WGSL/test/replace_push_constants.mlir
  tests/e2e/stablehlo_ops/CMakeLists.txt
Labels: hal/webgpu

#18274 Enable riscv64 ci jobs in pkgci.yml.
  .github/workflows/ci.yml
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_riscv64.yml
  build_tools/cmake/test_riscv.sh
Labels: infrastructure

#18344 Rework special model testing to avoid shared cache interference.
  .github/workflows/pkgci_regression_test.yml
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/regression_suite/ireers_tools/fixtures.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_mmdit.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_vae.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_vae.py
Labels: infrastructure

#18329 Migrate manylinux dockerfiles from nod-ai to iree-org namespace.
  .github/workflows/build_package.yml
  .github/workflows/pkgci_build_packages.yml
  RELEASING.md
  build_tools/docker/README.md
  build_tools/pkgci/build_linux_packages.sh
  build_tools/python_deploy/build_linux_packages.sh
Labels: infrastructure

#18355 Migrate linux_x64_clang_debug to new Dockerfile from base-docker-images.
  .github/workflows/ci_linux_x64_clang_debug.yml
Labels: infrastructure

#18361 Emit error on missing resources attributes.
  compiler/src/iree/compiler/ConstEval/Runtime.cpp
  compiler/src/iree/compiler/ConstEval/test/jit_globals_vmvx_errors.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
Labels: compiler/dialects

#18362 Distribute a launcher for iree-opt with the compiler wheel.
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/IREEOptTool.c
  compiler/bindings/python/iree/compiler/_package_test.py
  compiler/bindings/python/iree/compiler/tools/binaries.py
  compiler/bindings/python/iree/compiler/tools/scripts/iree_opt/__main__.py
  compiler/setup.py
Labels: bindings/python, compiler/api

#18373 Update docs for `--compile-[to,from]` with `dispatch-creation`.
  docs/website/docs/developers/general/developer-tips.md
Labels: documentation, compiler/dialects

#18356 Migrate gcc and byollvm workflows to new Dockerfile.
  .github/workflows/ci_linux_x64_clang_byollvm.yml
  .github/workflows/ci_linux_x64_gcc.yml
Labels: infrastructure

#18363 Fix broken link to onnx_ops test suite.
  docs/website/docs/developers/general/testing-guide.md
Labels: documentation, integrations/onnx

#18398 Adding command buffer recording state validation.
  runtime/src/iree/hal/command_buffer.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/command_buffer_validation.c
  runtime/src/iree/hal/command_buffer_validation.h
  runtime/src/iree/hal/device.c
Labels: hal/api

#18392 Migrate base clang workflow to new Dockerfile.
  .github/workflows/ci_linux_x64_clang.yml
Labels: infrastructure

#18396 Rework how ASan and TSan workflows use Docker.
  .github/workflows/ci_linux_x64_clang_asan.yml
  .github/workflows/ci_linux_x64_clang_tsan.yml
  build_tools/cmake/build_and_test_tsan.sh
  docs/website/docs/developers/debugging/sanitizers.md
Labels: infrastructure
