Repository iree-org/iree, pull requests merged in 2024-04, with the labels that each got.

#16931 [doc] Add documentation for HIP HAL backend
  docs/website/docs/developers/design-docs/hip-hal-driver.md
  docs/website/mkdocs.yml
Labels: documentation, hal/hip

#16930 [Flow] Do not propagate reshape when it's blocking unpack+generic fusion
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16962 Update emails and affiliations in CITATION.cff.
  CITATION.cff
Labels: cleanup 🧹

#16970 Adding --dump-compilation-phases-to= flag and compiler API.
  compiler/bindings/c/iree/compiler/embedding_api.h
  compiler/bindings/c/iree/compiler/loader/handle_symbols.inc
  compiler/bindings/c/iree/compiler/loader/loader.cpp
  compiler/src/iree/compiler/API/Internal/CompilerDriver.cpp
  compiler/src/iree/compiler/API/api_exports.c
  compiler/src/iree/compiler/API/api_exports.def
  compiler/src/iree/compiler/API/api_exports.ld
  compiler/src/iree/compiler/API/api_exports.macos.lst
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/DumpModule.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Pipelines/Pipelines.h
  compiler/src/iree/compiler/Tools/iree_compile_lib.cc
Labels: compiler/tools, quality of life 😊

#16849 Add the conv2d test generator (for NCHW-FCHW layout).
  CMakeLists.txt
  build_tools/bazel/iree_e2e_generated_runner_test.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  build_tools/cmake/iree_e2e_generated_runner_test.cmake
  tests/e2e/convolution/BUILD.bazel
  tests/e2e/convolution/CMakeLists.txt
  tests/e2e/convolution/generate_e2e_conv2d_tests.py
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
  tests/e2e/matmul/generate_e2e_matmul_tests.py
  tools/BUILD.bazel
  tools/CMakeLists.txt
  tools/testing/BUILD.bazel
  tools/testing/CMakeLists.txt
  tools/testing/e2e/BUILD.bazel
  tools/testing/e2e/CMakeLists.txt
  tools/testing/e2e/iree-e2e-conv2d-test.cc
  tools/testing/e2e/iree-e2e-matmul-test.cc
  tools/testing/e2e/test_utils.c
  tools/testing/e2e/test_utils.h
Labels: infrastructure, codegen

#16629 [Codegen] Add support for vectorizing tensor.pack ops with masking.
  compiler/src/iree/compiler/Codegen/Common/GenericVectorization.cpp
  compiler/src/iree/compiler/Codegen/Common/TileSizeSelection.cpp
  compiler/src/iree/compiler/Codegen/Common/test/generic_vectorization.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16692 [CPU] Do not use pre-configured tile sizes as input vector sizes for x86
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_tests.mlir
Labels: benchmarks:x86_64

#16982 Document testing policy and external test suite.
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/testing-guide.md
Labels: documentation, infrastructure

#16965 Support external parameters in IREE benchmark suite
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_suite.py
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  build_tools/python/e2e_test_framework/definitions/common_definitions.py
  build_tools/python/e2e_test_framework/definitions/iree_definitions.py
Labels: benchmarks:x86_64

#16994 Disable out of tree ROCm tests again.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
Labels: infrastructure, hal/rocm

#16902 Allow users to specify riscv cpu and get hardware features
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
Labels: codegen/llvm, codegen/riscv

#16987 Fix a “Library not loaded” issue on macos
  build_tools/cmake/iree_cc_binary.cmake
Labels: platform/macos 🍎

#16985 Avoid distributing loops that are statically known to be unit trip count
  compiler/src/iree/compiler/Codegen/Common/TileDispatchUsingInterface.cpp
  compiler/src/iree/compiler/Codegen/Common/test/tile_and_distribute_to_workgroups.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pad_tests.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/tile_and_distribute_sort.mlir
  compiler/src/iree/compiler/Codegen/Utils/Utils.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#16939 Refresh "profiling with Tracy" developer docs.
  docs/website/docs/developers/debugging/compile-time-regressions.md
  docs/website/docs/developers/performance/profiling-with-tracy.md
Labels: documentation, performance ⚡

#17008 Increase pip install timeout for pkgci venv setup.
  build_tools/pkgci/setup_venv.py
Labels: infrastructure

#17006 Fill in details on parameter formats (IRPA, GGUF, safetensors).
  docs/website/docs/guides/parameters.md
Labels: documentation

#17005 Update "bindings" reference page to reflect current support status.
  docs/website/docs/reference/bindings/index.md
Labels: documentation, platform/web 🌐

#17014 Re-enable ROCm ONNX tests, running one test at a time.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  build_tools/pkgci/external_test_suite/onnx_gpu_rocm_rdna3.json
Labels: hal/rocm, hal/hip

#17010 [GPU] Overhaul reduce shared memory bank conflicts pass for gfx9
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/test/reduce_bank_conflicts.mlir
  compiler/src/iree/compiler/Codegen/Common/GPU/test/transform_gpu_reduce_bank_conflicts.mlir
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensions.cpp
  compiler/src/iree/compiler/Codegen/Common/TransformExtensions/CommonExtensionsOps.td
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
Labels: benchmarks:cuda

#17018 [CPU RISCV] Avoid using pre-configured tile sizes as input vector sizes
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
Labels: benchmarks:comp-stats

#17023 [Vulkan] Fix coop matrix property initialization
  runtime/src/iree/hal/drivers/vulkan/vulkan_device.cc
Labels: hal/vulkan

#17024 Allowing flow.tensor.constant to be used for constants.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  tests/e2e/regression/dynamic_add.mlir
  tests/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  tests/e2e/regression/dynamic_torch_index_select_negative.mlir
  tests/microbenchmarks/dynamic_shape_vectorization.mlir
Labels: compiler/dialects

#17034 Forking dynamic behavior from flow.tensor.constant.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowDialect.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.h
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  tests/e2e/regression/dynamic_abs.mlir
  tests/e2e/regression/dynamic_add.mlir
  tests/e2e/regression/dynamic_dot.mlir
  tests/e2e/regression/dynamic_reduce_min.mlir
  tests/e2e/regression/dynamic_torch_index_select_high_rank.mlir
  tests/e2e/regression/dynamic_torch_index_select_negative.mlir
  tests/e2e/regression/dynamic_torch_index_select_scalar.mlir
  tests/e2e/regression/dynamic_torch_index_select_vector.mlir
  tests/e2e/regression/layernorm.mlir
  tests/e2e/regression/reduction_broadcast_elementwise.mlir
  tests/e2e/regression/softmax.mlir
  tests/e2e/stablehlo_ops/scatter_dynamic.mlir
  tests/e2e/tensor_ops/pack.mlir
  tests/e2e/tensor_ops/pack_dynamic_inner_tiles.mlir
  tests/e2e/tensor_ops/unpack.mlir
  tests/microbenchmarks/dynamic_shape_vectorization.mlir
  tools/test/iree-run-module-outputs.mlir
Labels: compiler/dialects

#17048 Add missing line continuation slash to recently updated page.
  docs/website/docs/developers/general/developer-tips.md
Labels: documentation

#17049 Remove the fixed point iteration in the global opt pipeline.
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17040 [GlobalOpt][DT] Simplify logics in SetEncoding pass.
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtBase.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/GlobalOptimization/SetEncoding.cpp
Labels: benchmarks:x86_64, benchmarks:android-cpu

#16731 Add DataLayoutPropagation pass to bubble up/push down pack and unpack
  compiler/src/iree/compiler/GlobalOptimization/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/DataLayoutPropagation.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.h
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/GlobalOptimization/test/BUILD.bazel
  compiler/src/iree/compiler/GlobalOptimization/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/test/data_layout_propagation.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17036 Use `iree-turbine` in PyTorch docs and samples.
  docs/website/docs/guides/ml-frameworks/pytorch.md
  samples/colab/pytorch_aot_advanced.ipynb
  samples/colab/pytorch_aot_simple.ipynb
  samples/colab/pytorch_jit.ipynb
Labels: documentation, integrations/pytorch

#17079 Making FlattenFullFillToSplat more conservative.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
Labels: bug 🐞, compiler/dialects

#17068 [Flow] Move elementwise op fusion and bubble up expand shapes patterns into their own pass.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ElementwiseOpFusion.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.h
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17084 Categorize matmul/metvec like generic ops for dispatches
  compiler/src/iree/compiler/Dialect/Flow/Transforms/AnnotateDispatches.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/annotate_dispatches.mlir
Labels: codegen, quality of life 😊

#17067 [CodeGen] Add a pattern to fold extract_slice consumer into xfer.write.
  compiler/src/iree/compiler/Codegen/Common/FoldTensorSubsetIntoVectorTransferOps.cpp
  compiler/src/iree/compiler/Codegen/Common/OptimizeTensorInsertExtractSlices.cpp
  compiler/src/iree/compiler/Codegen/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/test/optimize_tensor_insert_extract_slices.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/vectorize_with_masking_and_hoist.mlir
  compiler/src/iree/compiler/Codegen/SPIRV/test/vectorize_matmul.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17098 Clarify fusion heuristic
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17100 [metal] Disable failing semaphore submission test until fixing
  runtime/src/iree/hal/drivers/metal/cts/CMakeLists.txt
Labels: hal/metal

#17112 Update instructions for getting write-access in iree-org.
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#17093 Add Colab notebook showing Hugging Face import via Turbine.
  docs/website/docs/guides/ml-frameworks/pytorch.md
  samples/colab/README.md
  samples/colab/pytorch_huggingface_whisper.ipynb
  samples/colab/test_notebooks.py
Labels: integrations/pytorch

#17004 Add initial website documentation for ONNX frontend.
  docs/website/docs/guides/ml-frameworks/index.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/index.md
  docs/website/mkdocs.yml
Labels: documentation, integrations

#17129 Run pytorch/models tests on AMDGPU with Vulkan.
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_vulkan.json
Labels: infrastructure, codegen/spirv

#17139 Adding a hoistable attr interface to allow attaching attrs to hoists.
  compiler/src/iree/compiler/Dialect/HAL/IR/HALAttrs.td
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/HoistIntoGlobals.cpp
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/InputConversion/Common/ImportMLProgram.cpp
Labels: compiler/dialects

#17145 Switch ci.yml to use standard sized runners, disable build_test_all_windows.
  .github/workflows/ci.yml
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
Labels: infrastructure

#17147 Switch pkgci_regression_test_cpu.yml to use a self-hosted runner.
  .github/workflows/pkgci_regression_test_cpu.yml
Labels: infrastructure

#17154 [Flow] Add a fusion preprocessing pass.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/InterchangeGenericOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_preprocessing.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/interchange_generic_ops.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17158 Misc cleanup to flow code/tests pulled from other patches.
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/MeshToFlow.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/bitcast.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/cast.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/extract_slice.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/fill.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/from_elements.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/insert_slice.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/TensorToFlow/test/reshape.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
Labels: cleanup 🧹

#17160 Changing stream.async.transfer syntax to read nicer.
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_ops.mlir
Labels: cleanup 🧹

#17163 Fixing ROCM bitcode deps when the compiler is built static.
  compiler/CMakeLists.txt
  compiler/plugins/target/LLVMCPU/internal/WindowsLinkerTool.cpp
  compiler/plugins/target/ROCM/CMakeLists.txt
  compiler/plugins/target/ROCM/builtins/ukernel/CMakeLists.txt
Labels: codegen/rocm

#17121 [Flow] Do not sink tensor.expand_shape past ops that can already fuse with a producer.
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_vulkan.json
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/SinkReshapes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/sink_reshapes.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17155 [Flow] Changes to dispatch region formation based on SDXL branch.
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_default.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors_fusion_with_transpose.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17149 [website] Bump mkdocs-material to latest and use new features.
  docs/website/docs/community/blog/.authors.yml
  docs/website/docs/index.md
  docs/website/mkdocs.yml
  docs/website/requirements.txt
Labels: documentation

#17171 Bump mkdocs-material version to include mkdocs 1.6.0.
  docs/website/docs/developers/design-docs/design-roadmap.md
  docs/website/docs/developers/design-docs/metal-hal-driver.md
  docs/website/docs/developers/general/developer-overview.md
  docs/website/requirements.txt
Labels: documentation

#17146 Use standard runners for samples.yml and rework Colab testing.
  .github/workflows/samples.yml
  build_tools/docker/dockerfiles/samples.Dockerfile
  build_tools/docker/prod_digests.txt
  build_tools/testing/run_python_notebook.sh
  build_tools/testing/test_samples.sh
  samples/colab/test_notebooks.py
  samples/dynamic_shapes/README.md
  samples/dynamic_shapes/test.sh
Labels: infrastructure, cleanup 🧹

#17198 Quieting JitGlobals warnings unless the debug flag is provided.
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/ConstEval/test/jit_globals.mlir
Labels: cleanup 🧹

#17183 Add ROCm SDXL testing and benchmarking.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_cuda.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_vulkan.yml
  build_tools/pkgci/external_test_suite/gpu_rocm_models_additional_flags_gfx90a.json
  build_tools/pkgci/external_test_suite/gpu_rocm_models_gfx90a.json
  build_tools/pkgci/external_test_suite/pytorch_models_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx90a.json
Labels: infrastructure/benchmark

#17157 [Preprocessing] Add pass to convert matmul to transposed variants
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Preprocessing/Common/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/Passes.h
  compiler/src/iree/compiler/Preprocessing/Common/Passes.td
  compiler/src/iree/compiler/Preprocessing/Common/TransposeMatmul.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/BUILD.bazel
  compiler/src/iree/compiler/Preprocessing/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/Preprocessing/Common/test/transpose_matmul.mlir
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
Labels: benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu

#17207 Automate updating expected failure lists in test suite configs.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_cuda.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_vulkan.yml
  build_tools/pkgci/external_test_suite/onnx_cpu_llvm_sync.json
  build_tools/pkgci/external_test_suite/onnx_gpu_cuda.json
  build_tools/pkgci/external_test_suite/onnx_gpu_rocm_rdna3.json
  build_tools/pkgci/external_test_suite/onnx_gpu_vulkan.json
Labels: infrastructure, quality of life 😊

#17169 [CPU][Codegen] Update vector tile size for pack op
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64

#17232 Update sdxl rocm flags to match branch performance
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx90a.json
Labels: performance ⚡
