Repository iree-org/iree, pull requests merged in 2024-05, with the labels that each got.

#17243 Misc cleanups to flow dialect files.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/test/channel_creation.mlir
  compiler/src/iree/compiler/Dialect/Flow/Conversion/MeshToFlow/test/collectives.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchWorkgroups.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionOfTensorOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionUtils.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_preprocessing.mlir
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/ConstExpr.cpp
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/OpOracle.cpp
  compiler/src/iree/compiler/Utils/Folding.h
Labels: compiler/dialects, cleanup 🧹

#17255 Hide ExecutableVariantOp from TargetBackend pipeline factory methods.
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/LLVMCPU/LLVMCPUTarget.cpp
  compiler/plugins/target/MetalSPIRV/MetalSPIRVTarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/plugins/target/VulkanSPIRV/VulkanSPIRVTarget.cpp
  compiler/plugins/target/WebGPUSPIRV/WebGPUSPIRVTarget.cpp
  compiler/src/iree/compiler/Dialect/HAL/Target/TargetBackend.h
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ConfigureExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/TranslateExecutables.cpp
Labels: compiler/dialects, cleanup 🧹

#17236 Add simple ci script to bump torch-mlir submodule
  .github/workflows/bump_torch_mlir.yml
Labels: infrastructure

#17260 Fixing threading test reported by TSAN.
  runtime/src/iree/base/internal/threading_test.cc
Labels: bug 🐞, infrastructure

#17261 Convert (semi) recent tutorial gists into blog posts.
  docs/website/docs/community/blog/posts/linalg-tutorial.md
  docs/website/docs/community/blog/posts/microkernels.md
Labels: documentation

#17259 Support JitGlobals on inline and outline flow dispatches.
  compiler/src/iree/compiler/ConstEval/JitGlobals.cpp
  compiler/src/iree/compiler/ConstEval/test/jit_globals.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Util/Analysis/Constant/OpOracle.cpp
Labels: compiler/dialects

#17227 [CPU] Limit unrolling factors for generic ops.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#17271 Adjust style on new blog posts.
  docs/website/docs/community/blog/posts/linalg-tutorial.md
  docs/website/docs/community/blog/posts/microkernels.md
Labels: documentation

#17274 Use unauthenticated wget to download install archive in test jobs.
  .github/workflows/build_all.yml
  .github/workflows/ci.yml
Labels: infrastructure

#16828 Adding `--iree-opt-import-parameters=` and cleaning up export.
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.td
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ArchiveUtils.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ArchiveUtils.h
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ExportParameters.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/GenerateSplatParameterArchive.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ImportParameters.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/Passes.td
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/export_parameters.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/generate_splat_parameter_archive.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/import_parameters.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Preprocessing/Passes.cpp
  runtime/bindings/python/CMakeLists.txt
  runtime/bindings/python/io.cc
  runtime/src/iree/base/status.c
  runtime/src/iree/io/formats/BUILD.bazel
  runtime/src/iree/io/formats/CMakeLists.txt
  runtime/src/iree/io/formats/irpa/irpa_builder.c
  runtime/src/iree/io/formats/irpa/irpa_builder.h
  runtime/src/iree/io/formats/parser_registry.c
  runtime/src/iree/io/formats/parser_registry.h
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  runtime/src/iree/tooling/parameter_util.c
  tests/e2e/parameters/export_parameters.mlir
  tests/e2e/parameters/generate_splat_archive.mlir
Labels: compiler/dialects

#17287 Remove experimental/dispatch_profiler.
  .github/CODEOWNERS
  .github/workflows/run_iree_dispatch_profiler.yml
  experimental/dispatch_profiler/README.md
  experimental/dispatch_profiler/batch_matmul.py
  experimental/dispatch_profiler/compile.py
  experimental/dispatch_profiler/dispatch.py
  experimental/dispatch_profiler/generator.py
  experimental/dispatch_profiler/launchers.py
  experimental/dispatch_profiler/library.py
  experimental/dispatch_profiler/manifest.py
  experimental/dispatch_profiler/matmul.py
  experimental/dispatch_profiler/options.py
  experimental/dispatch_profiler/performance_report.py
  experimental/dispatch_profiler/profile_all.sh
  experimental/dispatch_profiler/profiler.py
  experimental/dispatch_profiler/requirements.txt
  experimental/dispatch_profiler/split_k_matmul.py
Labels: cleanup 🧹

#17293 Add test_amd_mi250 CI job including ROCm matmul tests.
  .github/workflows/ci.yml
  build_tools/pkgci/build_tests_using_package.sh
  runtime/src/iree/hal/drivers/hip/cts/CMakeLists.txt
  runtime/src/iree/hal/drivers/hip/registration/CMakeLists.txt
  tests/e2e/matmul/BUILD.bazel
  tests/e2e/matmul/CMakeLists.txt
Labels: infrastructure, hal/hip

#17303 Moving OutlineConstantsPass to flow and adding parameter support.
  compiler/bindings/python/iree/compiler/tools/ir_tool/__main__.py
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowBase.td
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowTypes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/OutlineConstants.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/outline_constants.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Conversion/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/PatternUtils.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/PatternUtils.h
  compiler/src/iree/compiler/Dialect/Stream/Conversion/StandardToStream/ConvertConstantOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/UtilToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilAttrs.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilInterfaces.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/HoistIntoGlobals.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/OutlineConstants.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals_linalg.mlir
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/outline_constants.mlir
  compiler/src/iree/compiler/Dialect/VM/Transforms/GlobalInitialization.cpp
  compiler/src/iree/compiler/Dialect/VM/Transforms/test/global_initialization.mlir
  compiler/src/iree/compiler/GlobalOptimization/test/hoist_into_globals.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ExportParameters.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/GenerateSplatParameterArchive.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/ImportParameters.cpp
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/Passes.td
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/export_parameters.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/generate_splat_parameter_archive.mlir
  compiler/src/iree/compiler/Modules/IO/Parameters/Transforms/test/import_parameters.mlir
  runtime/bindings/python/tests/io_runtime_test.py
  tests/e2e/parameters/generate_splat_archive.mlir
  tools/test/parameters_scoped.mlir
  tools/test/parameters_unscoped.mlir
Labels: compiler/dialects

#17306 Bump tf-nightly test pin to latest.
  integrations/tensorflow/test/requirements.txt
Labels: integrations/tensorflow

#17007 [CPU] Integrate i8mm patterns from upstream
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPUVirtualVectorLowering.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Utils.h
Labels: benchmarks:comp-stats, benchmarks:android-cpu

#17335 Update contributing docs with DCO and branch naming policy.
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#17337 Rename bump-torch-mlir-submodule branch to integrates/torch-mlir.
  .github/workflows/bump_torch_mlir.yml
Labels: infrastructure

#17336 Converting some runtime benchmarks to use our C API.
  runtime/src/iree/base/internal/BUILD.bazel
  runtime/src/iree/base/internal/CMakeLists.txt
  runtime/src/iree/base/internal/fpu_state_benchmark.cc
  runtime/src/iree/builtins/device/tools/libdevice_benchmark.c
  runtime/src/iree/testing/BUILD.bazel
  runtime/src/iree/testing/benchmark.h
  runtime/src/iree/testing/benchmark_full.cc
  runtime/src/iree/testing/benchmark_nop.c
  runtime/src/iree/vm/BUILD.bazel
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode/BUILD.bazel
  runtime/src/iree/vm/bytecode/CMakeLists.txt
  runtime/src/iree/vm/bytecode/module_benchmark.cc
  runtime/src/iree/vm/native_module_benchmark.cc
  runtime/src/iree/vm/native_module_test.h
Labels: runtime/tools, cleanup 🧹

#17338 [NFC] Fixing stray space and unneeded modules in some lit tests.
  compiler/plugins/input/Torch/InputConversion/test/assume_strict_symbols.mlir
  compiler/plugins/input/Torch/InputConversion/test/torch_to_iree.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/pipeline.mlir
  compiler/src/iree/compiler/Codegen/VMVX/test/select_lowering_strategy.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/clone_producers_into_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/collapse_linalg_generic_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_on_tensors.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/form_dispatch_regions.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_of_tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/pipeline_tests.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/emplace_allocations.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/layout_slices.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/materialize_copy_on_write.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/pack_constants.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_concurrency.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: cleanup 🧹

#17351 Switch Windows release package to use standard windows-2022 runner.
  .github/workflows/build_package.yml
Labels: infrastructure

#17339 Replacing hal.tensor.export storage for hal.tensor.alias.
  compiler/plugins/input/Torch/InputConversion/FuncConversion.cpp
  compiler/plugins/input/Torch/InputConversion/test/func_conversion.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points.mlir
  compiler/src/iree/compiler/Bindings/Native/Transforms/test/wrap_entry_points_coarse_fences.mlir
  compiler/src/iree/compiler/Bindings/TFLite/Transforms/WrapEntryPoints.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/ExportBenchmarkFuncs.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/export_benchmark_funcs.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/HALToStream/test/abi_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/test/async_folding.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.cpp
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
Labels: compiler/dialects, integrations/pytorch

#17360 [hip] Use PRIhsz for iree_host_size_t values
  runtime/src/iree/hal/drivers/hip/native_executable.c
Labels: hal/hip

#17362 [vulkan] Print VkResult as int32 value in errors
  runtime/src/iree/hal/drivers/vulkan/status_util.c
Labels: hal/vulkan

#17349 [CPU] Take native_vector_size into accounts for attention op tiling.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64

#17375 Switch pkgci CPU ONNX tests to use standard GitHub runner.
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_regression_test_cpu.yml
Labels: infrastructure

#17378 Switch TensorFlow test requirement off of tf-nightly.
  integrations/tensorflow/test/requirements.txt
Labels: infrastructure, integrations/tensorflow

#17382 Switch docs and samples from 'tf-nightly' to 'tensorflow'.
  build_tools/scripts/setup_tf_python.sh
  docs/website/docs/guides/ml-frameworks/tensorflow.md
  docs/website/docs/guides/ml-frameworks/tflite.md
  samples/colab/tensorflow_edge_detection.ipynb
  samples/colab/tensorflow_mnist_training.ipynb
  samples/colab/tensorflow_resnet.ipynb
  samples/colab/tflite_text_classification.ipynb
  samples/dynamic_shapes/tensorflow_dynamic_shapes.ipynb
  samples/variables_and_state/variables_and_state.ipynb
Labels: documentation, integrations/tensorflow

#17384 Drop `--retries=2` from pytest to fix `--timeout` behavior.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_cuda.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_vulkan.yml
  build_tools/pkgci/external_test_suite/onnx_cpu_llvm_sync.json
  build_tools/pkgci/external_test_suite/onnx_gpu_cuda.json
  build_tools/pkgci/external_test_suite/onnx_gpu_rocm_rdna3.json
  build_tools/pkgci/external_test_suite/onnx_gpu_vulkan.json
Labels: infrastructure

#17314 Use coalesce loops
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTile.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUTensorTileToSerialLoops.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.h
  compiler/src/iree/compiler/Codegen/Common/GPU/Passes.td
  compiler/src/iree/compiler/Codegen/Common/GPU/test/gpu_tensor_alloc.mlir
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/pipeline_vector_distribute.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17394 Fixes double-free in ReorderBroadcastInDimOpAndElementwiseOp.
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/StableHLOToStableHLO.cpp
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/test/stablehlo_to_stablehlo.mlir
Labels: bug 🐞, integrations/stablehlo

#17329 [CPU] Remove CPUDoubleTilingPeelingExpert
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/IR/IREECodegenAttrs.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_peel_and_vectorize_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_ssve_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_lowering_strategy_without_distribution.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64, benchmarks:comp-stats

#17383 Drop Tracy from CI benchmarks.
  .github/workflows/ARTIFACT_SUMMARY_TEMPLATE.md
  .github/workflows/benchmark_execution.yml
  .github/workflows/build_benchmark_tools.yml
  build_tools/benchmarks/common/benchmark_config.py
  build_tools/benchmarks/common/benchmark_config_test.py
  build_tools/benchmarks/common/benchmark_definition.py
  build_tools/benchmarks/common/benchmark_driver.py
  build_tools/benchmarks/common/benchmark_driver_test.py
  build_tools/benchmarks/common/common_arguments.py
  build_tools/benchmarks/common/common_arguments_test.py
  build_tools/benchmarks/run_benchmarks.sh
  build_tools/benchmarks/run_benchmarks_on_android.py
  build_tools/benchmarks/run_benchmarks_on_linux.py
  docs/website/docs/developers/performance/benchmark-suites.md
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17341 Fuse Generic Ops Generated by `gather` Lowering
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FusionPreprocessing.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/fusion_preprocessing.mlir
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17412 Add tips on signing commits for the DCO check.
  docs/website/docs/developers/general/contributing.md
Labels: documentation

#16792 Update git-clang-format ref and clang-format version.
  .github/workflows/lint.yml
  compiler/plugins/input/StableHLO/Conversion/Preprocessing/Canonicalization.cpp
  compiler/plugins/target/ROCM/builtins/ukernel/argmax_ukernel.c
  compiler/src/iree/compiler/Codegen/Common/unittests/TileSizeSelectionTest.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/LLVMGPUSelectLoweringStrategy.cpp
  compiler/src/iree/compiler/Codegen/LLVMGPU/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/RegionOpUtils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/TransformExtensions/LinalgExtExtensionsOps.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/IPO.cpp
  compiler/src/iree/compiler/Reducer/Framework/ChunkManager.h
  experimental/rocm/rocm_driver.c
  runtime/bindings/tflite/java/org/tensorflow/lite/native/tensor_jni.cc
  runtime/src/iree/base/internal/cpu.c
  runtime/src/iree/base/status.h
  runtime/src/iree/hal/buffer_view.h
  runtime/src/iree/hal/channel.h
  runtime/src/iree/hal/drivers/cuda/cuda_driver.c
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/local/elf/elf_types.h
  runtime/src/iree/hal/utils/libmpi.c
  runtime/src/iree/hal/utils/libmpi_test.cc
  runtime/src/iree/io/vec_stream.c
  runtime/src/iree/task/topology.h
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/utils/isa.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/native_module_packing.h
  tools/iree-cpuinfo.c
Labels: infrastructure

#17416 Implementing the f64 VM extension and flipping the flag by default.
  compiler/plugins/target/VMVX/VMVXTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Conversion/TargetOptions.h
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpFolders.cpp
  compiler/src/iree/compiler/Dialect/VM/IR/VMOpcodesF64.td
  compiler/src/iree/compiler/Dialect/VM/IR/VMOps.td
  runtime/src/iree/base/config.h
  runtime/src/iree/vm/bytecode/disassembler.c
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/dispatch_util.h
  runtime/src/iree/vm/bytecode/verifier.c
  runtime/src/iree/vm/ops.h
  runtime/src/iree/vm/test/BUILD.bazel
  runtime/src/iree/vm/test/CMakeLists.txt
  runtime/src/iree/vm/test/arithmetic_ops_f64.mlir
  runtime/src/iree/vm/test/assignment_ops_f64.mlir
  runtime/src/iree/vm/test/comparison_ops_f64.mlir
  runtime/src/iree/vm/test/conversion_ops_f32.mlir
  runtime/src/iree/vm/test/conversion_ops_f64.mlir
  runtime/src/iree/vm/test/global_ops_f64.mlir
Labels: runtime/vm

#17319 Support GGUF version 2 as well as 3.
  runtime/src/iree/io/formats/gguf/gguf_parser.c
  runtime/src/iree/io/formats/gguf/gguf_parser_test.cc
  runtime/src/iree/io/formats/gguf/testdata/BUILD.bazel
  runtime/src/iree/io/formats/gguf/testdata/CMakeLists.txt
  runtime/src/iree/io/formats/gguf/testdata/generate_gguf_files.py
  runtime/src/iree/io/formats/gguf/testdata/single_v2.gguf
Labels: runtime

#17366 [CPU] Do not decompose pack/unpack ops on x86 backends.
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pack_unpack_tests.mlir
Labels: benchmarks:x86_64

#17422 Moving demotion/promotion passes to input conversion.
  build_tools/benchmarks/comparisons/setup_desktop.sh
  build_tools/benchmarks/comparisons/setup_mobile.sh
  build_tools/pkgci/external_test_suite/gpu_rocm_models_additional_flags_gfx90a.json
  build_tools/pkgci/external_test_suite/gpu_rocm_models_gfx90a.json
  build_tools/pkgci/external_test_suite/onnx_cpu_llvm_sync.json
  build_tools/pkgci/external_test_suite/onnx_gpu_cuda.json
  build_tools/pkgci/external_test_suite/onnx_gpu_rocm_rdna3.json
  build_tools/pkgci/external_test_suite/onnx_gpu_vulkan.json
  build_tools/pkgci/external_test_suite/pytorch_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/pytorch_models_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_vulkan.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/sdxl_scheduled_unet_gpu_rocm_gfx90a.json
  build_tools/python/benchmark_suites/iree/mali_benchmarks.py
  compiler/plugins/input/StableHLO/Conversion/Passes.cpp
  compiler/plugins/input/StableHLO/Conversion/Passes.h
  compiler/plugins/input/StableHLO/PluginRegistration.cpp
  compiler/plugins/input/TOSA/InputConversion/Passes.cpp
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
  compiler/src/iree/compiler/InputConversion/Common/AutoInputConversionPipeline.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  compiler/src/iree/compiler/InputConversion/Common/ImportMLProgram.cpp
  compiler/src/iree/compiler/InputConversion/Common/PassDetail.h
  compiler/src/iree/compiler/InputConversion/Common/Passes.cpp
  compiler/src/iree/compiler/InputConversion/Common/Passes.h
  compiler/src/iree/compiler/InputConversion/Common/Passes.td
  compiler/src/iree/compiler/InputConversion/Common/QuantizedConvToConv.cpp
  compiler/src/iree/compiler/InputConversion/Common/QuantizedMatmulToMatmul.cpp
  compiler/src/iree/compiler/InputConversion/Common/SanitizeModuleNames.cpp
  compiler/src/iree/compiler/InputConversion/Common/Utils.cpp
  compiler/src/iree/compiler/InputConversion/Common/Utils.h
  compiler/src/iree/compiler/InputConversion/Common/test/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/test/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/test/demote_f32_to_f16.mlir
  compiler/src/iree/compiler/InputConversion/Common/test/demote_f64_to_f32.mlir
  compiler/src/iree/compiler/InputConversion/Common/test/demote_i64_to_i32.mlir
  compiler/src/iree/compiler/InputConversion/Common/test/promote_bf16_to_f32.mlir
  compiler/src/iree/compiler/InputConversion/Common/test/promote_f16_to_f32.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  compiler/src/iree/compiler/Tools/init_iree_passes.h
  tests/e2e/regression/BUILD.bazel
  tests/e2e/regression/CMakeLists.txt
  tests/e2e/stablehlo_ops/BUILD.bazel
  tests/e2e/stablehlo_ops/CMakeLists.txt
  tests/e2e/test_artifacts/generated_e2e_test_iree_artifacts.cmake
Labels: compiler/dialects, bindings/java, cleanup 🧹, benchmarks:cuda, benchmarks:x86_64, benchmarks:vulkan-nvidia

#17444 Register ShapeDialect in StableHLO plugin.
  compiler/plugins/input/StableHLO/BUILD.bazel
  compiler/plugins/input/StableHLO/CMakeLists.txt
  compiler/plugins/input/StableHLO/PluginRegistration.cpp
Labels: integrations/stablehlo

#17451 [GPU] Support specifying LLVMGPU backend target features
  compiler/plugins/target/CUDA/CUDATarget.cpp
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/IREEGPUAttrs.td
  compiler/src/iree/compiler/Codegen/Dialect/GPU/IR/test/target_attrs.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.h
  compiler/src/iree/compiler/Codegen/LLVMGPU/test/ROCDL/config_vector_distribute.mlir
  compiler/src/iree/compiler/Codegen/Utils/GPUUtils.cpp
  compiler/src/iree/compiler/Preprocessing/Common/test/pad_to_intrinsics_mfma.mlir
Labels: codegen/rocm

#17436 [CPU] Fix a distribution bug and limiting distribution tile sizes.
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/pipeline_pack_unpack_tests.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_aarch64_sve_lowering_strategy_peeling.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_riscv_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
Labels: benchmarks:x86_64

#17290 Log compile and run commands on successful model tests too.
  .github/workflows/pkgci_regression_test_amdgpu_rocm.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_cuda.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_vulkan.yml
Labels: infrastructure, quality of life 😊

#17464 Update integrate branch and title regexes for new naming.
  build_tools/github_actions/configure_ci.py
Labels: infrastructure

#17490 [Codegen][GPU] Drop unused PassDetail.h file
  compiler/src/iree/compiler/Codegen/Common/GPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Common/GPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/Common/GPU/PassDetail.h
Labels: cleanup 🧹

#17446 Data tiling: transpose narrow-N into narrow-M
  compiler/src/iree/compiler/Codegen/Common/CPU/CPUMaterializeEncodingPass.cpp
  compiler/src/iree/compiler/Codegen/Common/CPU/test/llvmcpu_materialize_encoding.mlir
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.cpp
  compiler/src/iree/compiler/Codegen/Common/EncodingUtils.h
  compiler/src/iree/compiler/Codegen/Common/MaterializeEncodingIntoPackUnPack.cpp
  tests/e2e/linalg/BUILD.bazel
  tests/e2e/linalg/CMakeLists.txt
  tests/e2e/linalg/narrow_n_matmuls.mlir
Labels: benchmarks:x86_64, benchmarks:android-cpu

#17428 Add `LinalgFusionInterface` to support fusion for linalg_ext ops (added `scatter` and `reverse`)
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/FormDispatchRegions.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/dispatch_linalg_ext_fusion.mlir
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtDialect.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.h
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtInterfaces.td
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/IR/LinalgExtOps.td
Labels: benchmarks:cuda, benchmarks:x86_64, benchmarks:comp-stats, benchmarks:android-cpu, benchmarks:android-gpu, benchmarks:vulkan-nvidia

#17504 Update onnx package version minimum to 1.16.0.
  .github/workflows/ci.yml
  compiler/setup.py
Labels: integrations

#17512 Merge pkgci_test_ jobs using matrices.
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_regression_test_amdgpu_vulkan.yml
  .github/workflows/pkgci_regression_test_cpu.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_cuda.yml
  .github/workflows/pkgci_regression_test_nvidiagpu_vulkan.yml
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/pytorch_models_gpu_rocm_gfx90a_additional_flags.json
Labels: infrastructure, cleanup 🧹

#17509 Merge build_test_runtime jobs into a single matrix.
  .github/workflows/ci.yml
Labels: infrastructure, cleanup 🧹

#17522 [hip][rocm] Switch to use old hipDeviceProp_t for queries
  experimental/rocm/dynamic_symbol_tables.h
  experimental/rocm/rocm_driver.c
  experimental/rocm/rocm_headers.h
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/drivers/hip/hip_headers.h
Labels: hal/rocm, hal/hip

#17527 Exclude CUDA from benchmark preset while a100 runner is offline.
  build_tools/github_actions/configure_ci.py
Labels: llvm-integrate

#17532 Merge asan and tsan jobs using a matrix.
  .github/workflows/ci.yml
Labels: infrastructure, cleanup 🧹

#17513 [CPU] Do not unroll outer dimensions for elementwise ops
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/TargetMLTransformInfo.h
  compiler/src/iree/compiler/Codegen/LLVMCPU/test/select_x86_64_lowering_strategy.mlir
  compiler/src/iree/compiler/Codegen/Utils/LinalgOpInfo.cpp
Labels: benchmarks:x86_64
