Repository iree-org/iree, pull requests merged in 2025-05, with the labels that each got.

#20727 Adding user-defined IREE_ALLOCATOR_SYSTEM support.
  CMakeLists.txt
  runtime/src/iree/base/BUILD.bazel
  runtime/src/iree/base/CMakeLists.txt
  runtime/src/iree/base/allocator.c
  runtime/src/iree/base/allocator.h
  runtime/src/iree/base/allocator_libc.c
  runtime/src/iree/base/internal/flags.c
Labels: runtime

#20745 Continue trying executable loaders when a loader reports NOT_FOUND.
  runtime/src/iree/hal/local/executable_loader.h
  runtime/src/iree/hal/local/local_executable_cache.c
  runtime/src/iree/modules/hal/loader/module.c
Labels: hal/cpu

#20739 Adding a `hal.executable.export` condition region.
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/Patterns.cpp
  compiler/src/iree/compiler/Dialect/HAL/Conversion/StreamToHAL/test/cmd_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOpFolders.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.cpp
  compiler/src/iree/compiler/Dialect/HAL/IR/HALOps.td
  compiler/src/iree/compiler/Dialect/HAL/IR/test/executable_folding.mlir
  compiler/src/iree/compiler/Dialect/HAL/IR/test/executable_ops.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ConvertToHAL.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/PruneExecutables.cpp
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/convert_to_hal.mlir
  compiler/src/iree/compiler/Dialect/HAL/Transforms/test/prune_executables.mlir
Labels: compiler/dialects

#20760 Metal HAL: remove shadowed variable
  runtime/src/iree/hal/drivers/metal/metal_device.m
Labels: hal/metal

#19496 [PJRT] Fix tensor element type for signed integers
  integrations/pjrt/src/iree_pjrt/common/api_impl.cc
Labels: integrations/stablehlo, zombie 🧟

#19719 [GlobalOptimization] Do not hoist fill-like operations
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/BUILD.bazel
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.cpp
  compiler/src/iree/compiler/Dialect/LinalgExt/Utils/Utils.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/test/hoist_into_globals_linalg.mlir
  compiler/src/iree/compiler/ExternalInterfaces/UtilExternalModels.cpp
Labels: zombie 🧟

#20826 [NFC] Cleaning up flow canonicalize pass.
  compiler/src/iree/compiler/Dialect/Flow/IR/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/IR/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_folding.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_ops.mlir
  compiler/src/iree/compiler/Dialect/Flow/IR/test/dispatch_workgroups.mlir
  compiler/src/iree/compiler/Dialect/Flow/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Canonicalize.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Flow/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Flow/Transforms/test/canonicalize.mlir
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/GlobalOptimization/Passes.cpp
Labels: compiler/dialects, cleanup 🧹

#20829 [DispatchCreation] Remove CollapseReductionDimensionsPass
  compiler/src/iree/compiler/DispatchCreation/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/CollapseReductionDimensions.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.cpp
  compiler/src/iree/compiler/DispatchCreation/Passes.td
  compiler/src/iree/compiler/DispatchCreation/test/BUILD.bazel
  compiler/src/iree/compiler/DispatchCreation/test/CMakeLists.txt
  compiler/src/iree/compiler/DispatchCreation/test/collapse_reduction.mlir
Labels: cleanup 🧹

#20839 Sink cast-like flow ops across flow.tensor.transfer/barrier.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/test/tensor_folding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/clone_to_consumers.mlir
Labels: compiler/dialects

#20841 Cleaning up iree_hal_module_debug_sink_t destroy.
  runtime/bindings/python/hal.cc
  runtime/bindings/python/hal.h
  runtime/src/iree/modules/check/check_test.cc
  runtime/src/iree/modules/hal/debugging.h
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/modules/hal/module.c
Labels: cleanup 🧹

#20850 [TensorExt] Drop space from count_from_slice printer
  compiler/src/iree/compiler/Dialect/TensorExt/IR/TensorExtOps.td
Labels: cleanup 🧹
