Repository iree-org/iree, pull requests merged in 2025-02, with the labels that each got.

#19870 Add links to new iree-turbine documentation website.
  docs/website/docs/guides/ml-frameworks/pytorch.md
  docs/website/docs/reference/bindings/python.md
Labels: documentation, integrations/pytorch

#19872 Fixing execution region result placement.
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.cpp
  compiler/src/iree/compiler/Dialect/Flow/IR/FlowOps.td
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleAllocation.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/ScheduleExecution.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_allocation.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/schedule_execution.mlir
Labels: compiler/dialects

#19916 Refresh TFLite guide with working code and TOSA status.
  docs/website/docs/guides/ml-frameworks/tflite.md
Labels: documentation, integrations/tensorflow, integrations/tosa

#19920 Refresh compile/run examples in deployment configuration guides.
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-compiler-from-release.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-import-onnx-mobilenet.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-device-list-amd.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-device-list-nvidia.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-driver-list.md
  docs/website/docs/guides/ml-frameworks/onnx.md
Labels: documentation, integrations/tensorflow, codegen/llvm, codegen/spirv, codegen/nvvm, codegen/rocm, integrations/onnx

#19915 Skip flaky iree-dump-parameters test on Windows.
  build_tools/cmake/ctest_all.sh
Labels: infrastructure, platform/windows 🚪

#19944 Enable ccache for PJRT pkgci workflow
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_test_pjrt.yml
  integrations/pjrt/python_packages/_setup_support/iree_pjrt_setup.py
Labels: infrastructure, integrations/pjrt

#19968 Disable ubuntu-24.04-arm workflows until the runners are stable.
  .github/workflows/ci.yml
Labels: infrastructure

#19965 Expand on release management docs following 3.2.0 release.
  .pre-commit-config.yaml
  README.md
  docs/website/docs/assets/images/releases_source_to_stable.excalidraw
  docs/website/docs/assets/images/releases_source_to_stable.svg
  docs/website/docs/assets/images/releases_source_to_stable_dark.svg
  docs/website/docs/developers/general/release-management.md
  docs/website/docs/developers/general/versioning-scheme.md
  docs/website/mkdocs.yml
Labels: documentation, infrastructure

#20062 [docs] Fix snippet start line to avoid markdownlint comment.
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
Labels: documentation

#20067 [Codegen][GPU] Prevent overflows in GPUReduceBankConflicts
  compiler/src/iree/compiler/Codegen/Common/GPU/GPUReduceBankConflicts.cpp
  compiler/src/iree/compiler/Codegen/Common/GPU/test/reduce_bank_conflicts.mlir
Labels: codegen

#20112 Expand on device and driver documentation, notably for ROCm.
  docs/website/docs/guides/deployment-configurations/cpu.md
  docs/website/docs/guides/deployment-configurations/gpu-cuda.md
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
  docs/website/docs/guides/deployment-configurations/index.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-device-dump-amd.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-device-list-amd.md
  docs/website/docs/guides/deployment-configurations/snippets/_iree-run-module-device-list-nvidia.md
  docs/website/docs/guides/index.md
  docs/website/docs/index.md
  docs/website/mkdocs.yml
Labels: documentation, compiler/tools, runtime/tools

#20113 Rename "hip_task" job to "rocm_hip".
  .github/workflows/pkgci_test_sharktank.yml
Labels: infrastructure

#20115 [docs][hip] Mention Windows tools for checking HIP support.
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
Labels: documentation, platform/windows 🚪, codegen/rocm

#20114 [hip] Handle when devices cannot access peers, such as on Windows.
  runtime/src/iree/hal/drivers/hip/dynamic_symbol_tables.h
  runtime/src/iree/hal/drivers/hip/hip_device.c
Labels: platform/windows 🚪, hal/amdgpu

#20131 [ROCm][Vulkan] Add initial rdna4 products to known targets and docs
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
  docs/website/docs/guides/deployment-configurations/gpu-vulkan.md
Labels: documentation, codegen/spirv, codegen/rocm
