Repository iree-org/iree, pull requests merged in 2025-04, with the labels that each got.

#20419 setup release callback for cuda buffers
  runtime/src/iree/hal/drivers/cuda/cuda_allocator.c
Labels: hal/cuda

#20443 Add news links to SDXL MLPerf blog using IREE.
  README.md
  docs/website/docs/index.md
Labels: documentation, performance ⚡

#20194 Migrating regression suite to iree-test-suite
  .github/workflows/pkgci.yml
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_sharktank.yml
  docs/website/docs/developers/general/testing-guide.md
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/benchmarks/sdxl/conftest.py
  experimental/regression_suite/.gitignore
  experimental/regression_suite/README.md
  experimental/regression_suite/ireers_tools/__init__.py
  experimental/regression_suite/ireers_tools/artifacts.py
  experimental/regression_suite/ireers_tools/fixtures.py
  experimental/regression_suite/pyproject.toml
  experimental/regression_suite/setup.cfg
  experimental/regression_suite/setup.py
  experimental/regression_suite/shark-test-suite-models/conftest.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_mmdit.py
  experimental/regression_suite/shark-test-suite-models/sd3/test_vae.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_clip.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_scheduler.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_unet.py
  experimental/regression_suite/shark-test-suite-models/sdxl/test_vae.py
  experimental/regression_suite/tests/pregenerated/test_llama2.py
  experimental/regression_suite/tests/pregenerated/test_ukernel.py
  experimental/regression_suite/tools/strip_and_bc_input.sh
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_cpu.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/clip_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/e2e_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/vae_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/clip_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/clip_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/mmdit_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/mmdit_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/vae_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sd3/vae_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/clip_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/clip_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/punet_int8_fp8_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/scheduler_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/scheduler_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_960_1024_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_960_1024_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/unet_fp16_rocm.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/vae_cpu.json
  tests/external/iree-test-suites/sharktank_models/quality_tests/sdxl/vae_rocm.json
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_punet_mi300.mlir
  tests/external/iree-test-suites/test_suite_files/attention_and_matmul_spec_unet_fp16_mi308.mlir
  tests/external/iree-test-suites/test_suite_files/sdxl_pipeline_bench_f16.mlir
Labels: infrastructure, infrastructure/benchmark

#20481 [hip] Re-enable peering for compatible devices.
  runtime/src/iree/hal/drivers/hip/hip_device.c
Labels: hal/hip

#20669 [docs] Add TensorExt dialect
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
Labels: documentation, compiler/dialects

#20665 Use static build path in local temp disk vs. shared
  .github/workflows/ci_windows_x64_msvc.yml
Labels: infrastructure, platform/windows 🚪

#20675 Update workflows to run on macOS 15
  .github/workflows/ci.yml
  .github/workflows/ci_macos_arm64_clang.yml
Labels: infrastructure, platform/macos 🍎

#20684 Add MathToROCDL patterns in ConvertToROCLPass.
  compiler/src/iree/compiler/Codegen/LLVMGPU/BUILD.bazel
  compiler/src/iree/compiler/Codegen/LLVMGPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMGPU/ConvertToROCDL.cpp
Labels: codegen/rocm

#20679 Raise an error in demotion passes if illegal extern funcs are present.
  compiler/src/iree/compiler/InputConversion/Common/ConvertPrimitiveType.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/demote_f64_to_f32.mlir
  compiler/src/iree/compiler/InputConversion/Common/test/demote_i64_to_i32.mlir
Labels: compiler/dialects, quality of life 😊

#20671 Properly handle unaligned refs in VM ABI marshaling.
  compiler/src/iree/compiler/Dialect/VM/Analysis/RegisterAllocation.cpp
  compiler/src/iree/compiler/Dialect/VM/Analysis/test/register_allocation.mlir
  runtime/bindings/python/py_module.cc
  runtime/src/iree/base/alignment.h
  runtime/src/iree/vm/BUILD.bazel
  runtime/src/iree/vm/CMakeLists.txt
  runtime/src/iree/vm/bytecode/dispatch.c
  runtime/src/iree/vm/bytecode/module.c
  runtime/src/iree/vm/invocation.c
  runtime/src/iree/vm/module.c
  runtime/src/iree/vm/module.h
  runtime/src/iree/vm/module_test.cc
  runtime/src/iree/vm/ref.c
  runtime/src/iree/vm/ref.h
  tools/test/iree-run-module-inputs.mlir
Labels: bug 🐞, runtime

#20162 [Dispatch Creation] Fix infinite reshape loop
  compiler/src/iree/compiler/DispatchCreation/BubbleUpExpandShapes.cpp
  compiler/src/iree/compiler/DispatchCreation/test/bubble_up_expand_shapes.mlir
  tests/external/iree-test-suites/sharktank_models/benchmarks/sdxl/vae_rocm.json
Labels: zombie 🧟
