Repository iree-org/iree, pull requests merged in 2025-07, with the labels that each got.

#21311 [GPU] Remove ROCm llvm plugin
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/CMakeLists.txt
  compiler/plugins/target/ROCM/test/opt_pass_plugin/GPUHello.cpp
  compiler/plugins/target/ROCM/test/opt_pass_plugin/gpu_hello.mlir
Labels: compiler/tools, codegen/rocm

#21251 Implementing AMDGPU logical/physical devices and skeleton queues.
  runtime/src/iree/base/internal/flags.h
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/device_queue.c
  runtime/src/iree/hal/drivers/amdgpu/device_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_queue.c
  runtime/src/iree/hal/drivers/amdgpu/host_queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.h
  runtime/src/iree/hal/drivers/amdgpu/logical_device.c
  runtime/src/iree/hal/drivers/amdgpu/logical_device.h
  runtime/src/iree/hal/drivers/amdgpu/physical_device.c
  runtime/src/iree/hal/drivers/amdgpu/physical_device.h
  runtime/src/iree/hal/drivers/amdgpu/registration/driver_module.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
  runtime/src/iree/hal/drivers/amdgpu/system_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/error_callback.h
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.c
  runtime/src/iree/hal/drivers/amdgpu/virtual_queue.h
  runtime/src/iree/hal/utils/file_registry.h
Labels: hal/amdgpu

#21389 Adding `iree-hal-drivers-amdgpu-tests` target.
  build_tools/bazel/build_defs.oss.bzl
  build_tools/bazel_to_cmake/bazel_to_cmake_converter.py
  build_tools/cmake/iree_cc_test.cmake
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/host_service_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
Labels: infrastructure, hal/amdgpu

#21535 [docs] Add a configuration example for ROCm/HIP targets.
  docs/website/docs/building-from-source/getting-started.md
Labels: documentation
