Repository iree-org/iree, pull requests merged in 2025-03, with the labels that each got.

#20178 Workaround network issues on GPU cluster with new dockerfile.
  .github/workflows/pkgci_test_amd_mi300.yml
Labels: infrastructure

#20190 Fix pkgci workflows to be directly triggerable, skipping build_packages.
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_amd_mi250.yml
  .github/workflows/pkgci_test_amd_mi300.yml
  .github/workflows/pkgci_test_amd_w7900.yml
  .github/workflows/pkgci_test_android.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_pjrt.yml
  .github/workflows/pkgci_test_riscv64.yml
  .github/workflows/pkgci_test_sharktank.yml
  .github/workflows/pkgci_test_tensorflow.yml
  .github/workflows/pkgci_unit_test.yml
  docs/website/docs/developers/general/github-actions.md
  docs/website/docs/developers/general/pkgci-workflow-dispatch.png
Labels: infrastructure, quality of life 😊

#20192 Switch test_mi300 workflow to a different runner label and remove Docker.
  .github/workflows/pkgci_test_amd_mi300.yml
Labels: infrastructure

#20195 Clarify documentation for working on the website.
  docs/website/README.md
Labels: documentation

#20254 Fixing missing Metal HAL allocator parent device reference.
  runtime/src/iree/hal/drivers/metal/direct_allocator.m
Labels: hal/metal

#20256 Deleting `iree_input` dialect.
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  compiler/src/iree/compiler/InputConversion/Common/test/iree_import_public.mlir
  compiler/src/iree/compiler/Tools/BUILD.bazel
  compiler/src/iree/compiler/Tools/CMakeLists.txt
  compiler/src/iree/compiler/Tools/init_iree_dialects.h
  docs/website/docs/reference/mlir-dialects/index.md
  docs/website/generate_extra_files.sh
  docs/website/mkdocs.yml
  docs/website/postprocess_dialect_docs.py
  llvm-external-projects/iree-dialects/BUILD.bazel
  llvm-external-projects/iree-dialects/include/iree-dialects-c/Dialects.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/CMakeLists.txt
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputBase.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputDialect.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputDialect.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputInterfaces.td
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputOps.h
  llvm-external-projects/iree-dialects/include/iree-dialects/Dialect/Input/InputOps.td
  llvm-external-projects/iree-dialects/lib/CAPI/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/CAPI/Dialects.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/Input/CMakeLists.txt
  llvm-external-projects/iree-dialects/lib/Dialect/Input/InputDialect.cpp
  llvm-external-projects/iree-dialects/lib/Dialect/Input/InputOps.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/IreeInputBinding.td
  llvm-external-projects/iree-dialects/python/iree/compiler/dialects/iree_input.py
  llvm-external-projects/iree-dialects/test/python/lit.local.cfg
  llvm-external-projects/iree-dialects/test/python/smoketest.py
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/CMakeLists.txt
  llvm-external-projects/iree-dialects/tools/iree-dialects-opt/iree-dialects-opt.cpp
Labels: compiler/dialects, cleanup 🧹

#20175 [ci] Clean up runner-env and runner-group tags.
  .github/workflows/build_package.yml
  .github/workflows/pkgci_build_packages.yml
  .github/workflows/pkgci_test_nvidia_t4.yml
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/setup.yml
  build_tools/github_actions/configure_ci.py
  docs/website/docs/developers/general/contributing.md
Labels: infrastructure, cleanup 🧹

#20036 Clarify error message for missing module dependencies.
  runtime/src/iree/tooling/modules/resolver.c
Labels: runtime/tools, runtime/vm

#20259 Limit CTEST_PARALLEL_LEVEL in linux_x64_clang job.
  .github/workflows/ci_linux_x64_clang.yml
  build_tools/cmake/ctest_all.sh
Labels: infrastructure

#20288 Emit an error message if a device alias is used but is missing targets.
  compiler/src/iree/compiler/Dialect/HAL/Transforms/ResolveDeviceAliases.cpp
Labels: compiler/dialects

#20262 Moving func-to-util patterns to Util/Conversion/.
  compiler/plugins/input/Torch/CMakeLists.txt
  compiler/plugins/input/Torch/PluginRegistration.cpp
  compiler/plugins/target/LLVMCPU/LLVMTargetOptions.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Conversion/FuncToUtil/test/func_ops.mlir
  compiler/src/iree/compiler/Dialect/Util/Conversion/MemRefToUtil/Patterns.h
  compiler/src/iree/compiler/Dialect/Util/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Util/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Util/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Util/Transforms/TestConversion.cpp
  compiler/src/iree/compiler/InputConversion/Common/BUILD.bazel
  compiler/src/iree/compiler/InputConversion/Common/CMakeLists.txt
  compiler/src/iree/compiler/InputConversion/Common/IREEImportPublic.cpp
  tests/e2e/matmul/generate_e2e_matmul_tests.py
Labels: compiler/dialects, cleanup 🧹

#20319 Delete flaky gisel_abort test.
  compiler/plugins/target/ROCM/test/CMakeLists.txt
  compiler/plugins/target/ROCM/test/gisel_abort.mlir
Labels: infrastructure, codegen/rocm

#20327 Skip flaky test_top_k onnx op test on rdna3.
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
Labels: codegen/rocm, hal/amdgpu

#20306 Run `windows_x64_msvc` on postsubmit and opt-in on presubmit.
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure, platform/windows 🚪

#20338 Limit concurrency of ci_windows_x64_msvc.
  .github/workflows/ci_windows_x64_msvc.yml
Labels: infrastructure, platform/windows 🚪

#20342 Revert recent Windows CI changes, moving back to nightly only.
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure, platform/windows 🚪

#20356 Mark tensorflow_hub_import.ipynb expected to pass.
  samples/colab/test_notebooks.py
Labels: integrations/tensorflow

#20359 Move sharktank and regression-test MI300 jobs to the ossci cluster.
  .github/workflows/pkgci_regression_test.yml
  .github/workflows/pkgci_test_sharktank.yml
Labels: infrastructure

#20261 Do not set CMAKE_CXX_STANDARD as CACHE
  CMakeLists.txt
Labels: infrastructure

#20382 Only pin affinity during analysis if an affinity is specified.
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/ExternalInterfaces/StreamExternalModels.cpp
Labels: compiler/dialects

#20403 IREE_BUILD_COMPILER doesn't require nanobind
  CMakeLists.txt
Labels: bindings/python
