Repository iree-org/iree, pull requests merged in 2025-01, with the labels that each got.

#19550 [infra] Add `--force` flag to `git submodule update` in script.
  build_tools/scripts/git/update_runtime_submodules.sh
Labels: infrastructure

#19553 [PJRT] Fix ninja not found error while re-building the plugin
  integrations/pjrt/python_packages/_setup_support/iree_pjrt_setup.py
  integrations/pjrt/python_packages/iree_cpu_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_cuda_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_rocm_plugin/pyproject.toml
  integrations/pjrt/python_packages/iree_vulkan_plugin/pyproject.toml
Labels: infrastructure, integrations/pjrt

#19599 [docs] Update copyright year to 2025 in the website footer.
  docs/website/mkdocs.yml
Labels: documentation

#19614 Delete test_models job using SHARK-TestSuite/iree_tests.
  .github/workflows/pkgci_regression_test.yml
  build_tools/pkgci/external_test_suite/README.md
  build_tools/pkgci/external_test_suite/models_cpu_llvm_task.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx90a.json
  build_tools/pkgci/external_test_suite/models_gpu_rocm_gfx942.json
  build_tools/pkgci/external_test_suite/models_gpu_vulkan.json
Labels: infrastructure, cleanup 🧹

#19621 Rollup of minor runtime fixes/cleanup from the AMDGPU branch.
  build_tools/cmake/iree_bitcode_library.cmake
  build_tools/cmake/iree_hal_cts_test_suite.cmake
  compiler/plugins/target/ROCM/ROCMTarget.cpp
  runtime/src/iree/base/allocator.h
  runtime/src/iree/base/assert.h
  runtime/src/iree/base/internal/arena.c
  runtime/src/iree/base/internal/arena.h
  runtime/src/iree/base/string_view.h
  runtime/src/iree/base/time.h
  runtime/src/iree/base/tracing.h
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/cts/cts_test_template.cc.in
  runtime/src/iree/hal/cts/driver_test.h
  runtime/src/iree/hal/drivers/null/api.h
  runtime/src/iree/hal/drivers/null/device.c
  runtime/src/iree/hal/drivers/null/driver.c
  runtime/src/iree/hal/queue.h
  runtime/src/iree/hal/semaphore.h
  runtime/src/iree/hal/utils/fd_file.c
  runtime/src/iree/io/formats/irpa/irpa_builder.c
  runtime/src/iree/io/memory_stream.c
  runtime/src/iree/schemas/amdgpu_executable_def.fbs
  runtime/src/iree/tooling/context_util.c
Labels: runtime, cleanup 🧹

#19628 Add explicit tolerances to SDXL benchmark test times.
  .github/workflows/pkgci_regression_test.yml
  experimental/benchmarks/sdxl/benchmark_sdxl_rocm.py
  experimental/benchmarks/sdxl/conftest.py
Labels: infrastructure/benchmark

#19625 Adding experimental Tracy API for TLS-less event recording.
  runtime/src/iree/base/tracing/tracy.cc
  runtime/src/iree/base/tracing/tracy.h
Labels: runtime

#19637 Add docs for updating release git tags manually.
  docs/website/docs/developers/general/release-management.md
Labels: documentation, infrastructure

#19640 Supporting (and renaming) IREE_HAL_WHOLE_BUFFER in binding table resolve.
  runtime/bindings/tflite/tensor.c
  runtime/src/iree/hal/allocator_heap.c
  runtime/src/iree/hal/buffer.c
  runtime/src/iree/hal/buffer.h
  runtime/src/iree/hal/buffer_transfer.c
  runtime/src/iree/hal/buffer_view_util.c
  runtime/src/iree/hal/command_buffer.h
  runtime/src/iree/hal/cts/buffer_mapping_test.h
  runtime/src/iree/hal/cts/command_buffer_copy_buffer_test.h
  runtime/src/iree/hal/cts/cts_test_base.h
  runtime/src/iree/hal/drivers/vulkan/builtin_executables.cc
  runtime/src/iree/hal/drivers/vulkan/descriptor_set_arena.cc
  runtime/src/iree/hal/utils/debug_allocator.c
  runtime/src/iree/modules/hal/inline/module.c
  runtime/src/iree/tooling/buffer_view_matchers.c
  runtime/src/iree/tooling/function_io.c
  runtime/src/iree/tooling/instrument_util.c
  samples/custom_module/async/module.cc
  samples/custom_module/sync/module.cc
  tools/iree-benchmark-executable-main.c
Labels: hal/api

#19655 Expand runtime_tracing job to include Windows and macOS.
  .github/workflows/ci.yml
Labels: infrastructure, runtime

#19665 Supporting file descriptors in iree_io_stream_open.
  runtime/src/iree/io/BUILD.bazel
  runtime/src/iree/io/CMakeLists.txt
  runtime/src/iree/io/file_handle.c
  runtime/src/iree/io/file_handle.h
  runtime/src/iree/io/stdio_stream.c
  runtime/src/iree/io/stdio_stream.h
  runtime/src/iree/io/stream.c
  runtime/src/iree/io/stream.h
  runtime/src/iree/tooling/BUILD.bazel
  runtime/src/iree/tooling/CMakeLists.txt
  tools/test/BUILD.bazel
  tools/test/CMakeLists.txt
  tools/test/iree-convert-parameters.txt
Labels: runtime/tools

#19517 Update PkgCI test_amd to use MI300x conductor cluster
  .github/workflows/pkgci_test_amd_mi300.yml
Labels: infrastructure, hal/hip

#19658 Update PyTorch sample notebooks using latest iree-turbine code.
  samples/colab/pytorch_huggingface_whisper.ipynb
  samples/dynamic_shapes/pytorch_dynamic_shapes.ipynb
Labels: integrations/pytorch

#19699 Copy sample code into samples/dynamic_shapes/README.md.
  samples/dynamic_shapes/README.md
Labels: integrations/pytorch

#19657 Fix newlines in markdown mermaid.js diagrams.
  docs/website/docs/developers/general/testing-guide.md
  docs/website/docs/guides/ml-frameworks/onnx.md
  docs/website/docs/guides/ml-frameworks/pytorch.md
Labels: documentation

#19716 [Python] Enable building Python bindings as editable wheels, document it
  compiler/setup.py
  docs/website/docs/building-from-source/getting-started.md
  runtime/CMakeLists.txt
  runtime/setup.py
Labels: bindings/python

#19759 Fixes for CMake 3.31 policy changes.
  build_tools/cmake/iree_macros.cmake
  build_tools/cmake/iree_python.cmake
  compiler/bindings/python/CMakeLists.txt
  compiler/plugins/target/ROCM/CMakeLists.txt
Labels: infrastructure

#19756 [Codegen] add mi308x target
  compiler/plugins/target/ROCM/test/target_device_features.mlir
  compiler/src/iree/compiler/Codegen/Dialect/GPU/TargetUtils/KnownTargets.cpp
  docs/website/docs/guides/deployment-configurations/gpu-rocm.md
Labels: codegen/rocm

#19772 Move gcc dangling-reference check to GCC>=13.
  build_tools/cmake/iree_copts.cmake
  build_tools/cmake/iree_macros.cmake
Labels: infrastructure

#19790 Port compiler and iree-dialects to nanobind
  CMakeLists.txt
  build_tools/python_deploy/README.md
  compiler/bindings/python/CMakeLists.txt
  compiler/bindings/python/IREECompilerDialectsModule.cpp
  compiler/bindings/python/IREECompilerRegistration.cpp
  llvm-external-projects/iree-dialects/python/CMakeLists.txt
  llvm-external-projects/iree-dialects/python/IREEDialectsModule.cpp
Labels: bindings/python, compiler/api

#19782 Include missing dependency to @llvm-project//mlir:Support
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/BUILD.bazel
  compiler/src/iree/compiler/Codegen/Dialect/Codegen/Utils/CMakeLists.txt
Labels: infrastructure

#19778 Adding `--iree-scheduling-initialization-mode=` flag.
  compiler/src/iree/compiler/Dialect/Stream/Analysis/ResourceUsage.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.h
  compiler/src/iree/compiler/Dialect/Stream/Transforms/Passes.td
  compiler/src/iree/compiler/Dialect/Stream/Transforms/PropagateTimepoints.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/SyncInitializers.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/sync_initializers.mlir
  compiler/src/iree/compiler/Pipelines/Options.cpp
  compiler/src/iree/compiler/Pipelines/Options.h
  compiler/src/iree/compiler/Pipelines/Pipelines.cpp
  runtime/src/iree/base/config.h
  tests/external/iree-test-suites/onnx_ops/onnx_ops_cpu_llvm_sync.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_rocm_rdna3.json
  tests/external/iree-test-suites/onnx_ops/onnx_ops_gpu_vulkan.json
Labels: compiler/dialects, runtime/tools

#19808 Verifying that vm.import ops have a module.func separator.
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/BytecodeModuleTarget.cpp
  compiler/src/iree/compiler/Dialect/VM/Target/Bytecode/test/dependencies.mlir
Labels: compiler/dialects

#19817 Adding `stream.tensor.dispatch` op.
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/Patterns.cpp
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/dispatch_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Conversion/FlowToStream/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOpFolders.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.cpp
  compiler/src/iree/compiler/Dialect/Stream/IR/StreamOps.td
  compiler/src/iree/compiler/Dialect/Stream/IR/test/tensor_ops.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/EncodeTensors.cpp
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/BUILD.bazel
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/CMakeLists.txt
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/convert_to_stream.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_encoding.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_packing_i1_attr.mlir
  compiler/src/iree/compiler/Dialect/Stream/Transforms/test/encode_host_tensors_packing_i1_experimental_clopt.mlir
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.cpp
  compiler/src/iree/compiler/Dialect/Util/IR/UtilOps.h
  compiler/src/iree/compiler/Dialect/Util/IR/UtilTypes.td
Labels: compiler/dialects

#19792 Switch to upstream StablehloToLinalg code.
  build_tools/bazel_to_cmake/bazel_to_cmake_targets.py
  compiler/plugins/input/StableHLO/Conversion/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/LegalizeToLinalgUtils.cpp
  compiler/plugins/input/StableHLO/Conversion/LegalizeToLinalgUtils.h
  compiler/plugins/input/StableHLO/Conversion/Passes.cpp
  compiler/plugins/input/StableHLO/Conversion/Passes.h
  compiler/plugins/input/StableHLO/Conversion/Passes.td
  compiler/plugins/input/StableHLO/Conversion/Rewriters.h
  compiler/plugins/input/StableHLO/Conversion/StableHLOToArith.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToIREEInputDialects.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalg.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgConvolution.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgDotProd.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgPointwise.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgRandom.cpp
  compiler/plugins/input/StableHLO/Conversion/StableHLOToLinalgReduce.cpp
  compiler/plugins/input/StableHLO/Conversion/TypeConversion.cpp
  compiler/plugins/input/StableHLO/Conversion/TypeConversion.h
  compiler/plugins/input/StableHLO/Conversion/test/BUILD.bazel
  compiler/plugins/input/StableHLO/Conversion/test/CMakeLists.txt
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_convolution.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_dot_prod.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_gather.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_pointwise.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_random.mlir
  compiler/plugins/input/StableHLO/Conversion/test/stablehlo_to_linalg_reduce.mlir
Labels: cleanup 🧹, integrations/stablehlo

#19524 [infra] Run parameterized ONNX model tests across CPU, Vulkan, and HIP.
  .github/workflows/pkgci_test_onnx.yml
  .github/workflows/pkgci_test_sharktank.yml
  docs/website/docs/assets/stylesheets/iree.css
  docs/website/docs/developers/general/testing-guide.md
  tests/external/iree-test-suites/onnx_models/onnx_models_cpu_llvm_task.json
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_rocm_rdna3.json
  tests/external/iree-test-suites/onnx_models/onnx_models_gpu_vulkan.json
Labels: infrastructure, integrations/onnx
