Repository iree-org/iree, pull requests merged in 2025-06, with the labels that each got.

#20958 Run windows_x64_msvc on postsubmit and opt-in on presubmit (retry).
  .github/workflows/ci.yml
  .github/workflows/ci_windows_x64_msvc.yml
  README.md
  build_tools/github_actions/configure_ci.py
  build_tools/github_actions/configure_ci_test.py
  docs/website/docs/developers/general/contributing.md
  docs/website/docs/developers/general/github-actions.md
Labels: infrastructure, platform/windows 🚪

#20704 [docs] Update sharktuner documentation
  docs/website/docs/reference/tuning.md
Labels: documentation, tuner

#21041 Adding dummy AMDGPU channel/event.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/channel.c
  runtime/src/iree/hal/drivers/amdgpu/channel.h
  runtime/src/iree/hal/drivers/amdgpu/event.c
  runtime/src/iree/hal/drivers/amdgpu/event.h
Labels: hal/amdgpu

#21042 Adding device-side AMDGPU signal/queue utils.
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/support/mutex.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/signal.h
Labels: hal/amdgpu

#21043 Adding iree_hal_amdgpu_system_t to manage HSA/topology/pools.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
Labels: hal/amdgpu

#21086 Adding _base variants of all string view int parsing and clean up hip options.
  runtime/src/iree/base/string_view.c
  runtime/src/iree/base/string_view.h
  runtime/src/iree/hal/drivers/hip/api.h
  runtime/src/iree/hal/drivers/hip/hip_driver.c
  runtime/src/iree/hal/drivers/hip/registration/driver_module.c
Labels: runtime, cleanup 🧹

#21089 Adding support for group_any in iree_thread_affinity_t.
  runtime/src/iree/base/internal/threading.c
  runtime/src/iree/base/internal/threading.h
  runtime/src/iree/base/internal/threading_darwin.c
  runtime/src/iree/base/internal/threading_pthreads.c
  runtime/src/iree/base/internal/threading_win32.c
  runtime/src/iree/task/api.c
  runtime/src/iree/task/topology_cpuinfo.c
  runtime/src/iree/task/topology_darwin.c
  runtime/src/iree/task/topology_emscripten.c
  runtime/src/iree/task/topology_win32.c
Labels: runtime

#21044 Adding skeleton AMDGPU buffer handle and handle pool.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.h
Labels: hal/amdgpu

#21093 Adding skeleton AMDGPU allocator.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/allocator.c
  runtime/src/iree/hal/drivers/amdgpu/allocator.h
Labels: hal/amdgpu

#21057 Adding blit kernels and device-side enqueuing.
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/blit.c
  runtime/src/iree/hal/drivers/amdgpu/device/blit.h
  runtime/src/iree/hal/drivers/amdgpu/device/dummy.c
  runtime/src/iree/hal/drivers/amdgpu/device/kernel_tables.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/executable.c
Labels: hal/amdgpu

#21094 Adding skeleton device->host service worker.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/blit.c
  runtime/src/iree/hal/drivers/amdgpu/device/blit.h
  runtime/src/iree/hal/drivers/amdgpu/device/host_client.c
  runtime/src/iree/hal/drivers/amdgpu/device/host_client.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/amdgpu/host_service.h
  runtime/src/iree/hal/drivers/amdgpu/host_service_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/device_library_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/kfd_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/libhsa_tables.h
  runtime/src/iree/hal/drivers/amdgpu/util/topology_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/vmem_test.cc
  runtime/src/iree/testing/status_matchers.h
Labels: hal/amdgpu

#21123 Adding AMDGPU command buffer implementation.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/command_buffer.c
  runtime/src/iree/hal/drivers/amdgpu/device/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/kernel_tables.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/common.h
  runtime/src/iree/hal/drivers/amdgpu/device/support/queue.h
Labels: hal/amdgpu

#21191 Adding IREE_ENABLE_RUNTIME_COVERAGE cmake mode.
  CMakeLists.txt
  build_tools/cmake/iree_cc_binary.cmake
  build_tools/cmake/iree_cc_test.cmake
  build_tools/cmake/iree_llvm.cmake
  build_tools/cmake/iree_macros.cmake
  build_tools/scripts/export_profdata_lcov.py
  docs/website/docs/developers/building/cmake-options.md
  docs/website/docs/developers/general/testing-guide.md
  runtime/src/CMakeLists.txt
  tools/CMakeLists.txt
Labels: infrastructure, runtime

#21200 Extending AMDGPU tests, fixing issues, and cleaning up comments.
  runtime/src/iree/hal/drivers/amdgpu/api.h
  runtime/src/iree/hal/drivers/amdgpu/buffer.c
  runtime/src/iree/hal/drivers/amdgpu/buffer.h
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool.c
  runtime/src/iree/hal/drivers/amdgpu/buffer_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/device/command_buffer.h
  runtime/src/iree/hal/drivers/amdgpu/host_service.c
  runtime/src/iree/hal/drivers/amdgpu/util/bitmap_test.cc
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.c
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool.h
  runtime/src/iree/hal/drivers/amdgpu/util/block_pool_test.cc
Labels: hal/amdgpu

#21201 Adding AMDGPU semaphore (WIP) and semaphore pool.
  runtime/src/iree/hal/drivers/amdgpu/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/device/semaphore.c
  runtime/src/iree/hal/drivers/amdgpu/device/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool.c
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool.h
  runtime/src/iree/hal/drivers/amdgpu/semaphore_pool_test.cc
  runtime/src/iree/hal/drivers/amdgpu/system.c
  runtime/src/iree/hal/drivers/amdgpu/system.h
  runtime/src/iree/hal/drivers/amdgpu/util/BUILD.bazel
  runtime/src/iree/hal/drivers/amdgpu/util/CMakeLists.txt
  runtime/src/iree/hal/drivers/amdgpu/util/info.c
  runtime/src/iree/hal/drivers/amdgpu/util/info.h
  runtime/src/iree/hal/semaphore.h
Labels: hal/amdgpu
